[2019-04-02 22:11] peterhuene commented on #345
`-r linux-arm` should work because it won't create a `runtimes` folder on build / publish as we know the specific RID being targeted and can copy the assets into a flat structure.

It shouldn't be required to explicitly target the RID in this case and the host should be able to resolve these assets at runtime.

FYI, when you build with a target RID, it defaults to a self-contained application whic

[2019-04-02 22:36] monty124 commented on #345
@peterhuene
Thats PERFECT! adding the --self-contained false did the trick, 8 items 381Kb.

`dotnet publish -r linux-arm -c Release -o release --self-contained false`

If i can be of further assistance do let me know.
It seems to be not limited to dotnet core 3+ but

[2019-04-02 22:49] vitek-karas commented on #345
@monty124 if you can easily repro this, can you please run the app (which would fail) with `COREHOST_TRACE=1` set in the environment. And then capture the `stderr` of the process. It will contain lot of info and will contain local file paths and so on about the machine. If it's OK with you, please share that. If it's not OK, please search in it for the `System.Devide.Gpio`, the interesting bits wi

[2019-04-02 22:49] monty124 commented on #345
Hi All

further to this, anyone who may be using visual studio to write code and deploy to Rpi, add this to your csproj file

`  <PropertyGroup>
..
	<RuntimeIdentifiers>linux-arm</RuntimeIdentifiers>
..
  </PropertyGroup>`

this will allow you to target the Rpi arm RID from within VS and no have to publish using command line, make sure you select the target runtime within your publish profile but!

[2019-04-02 23:05] monty124 commented on #345
hi @vitek-karas
(for anyone else that may need to do)
`> export COREHOST_TRACE=1`
on the pi then run the faulting app as such
` >dotnet ./test.dll 2> trace.txt`
trace attached
publish settings are an RID of "Portable" and netcoreapp2.2

[trace.txt](https://github.com/dotnet/iot/files/3036191/trace.txt)

[2019-04-03 09:21] vitek-karas commented on #345
Thanks a lot @monty124 .

I don't actually know what is the correct behavior, but there's definitely a mismatch between the package/SDK and the host in how they treat the `.deps.json`.

The host does this for every package:
* Reads all the RID specific assets from the `runtimeTargets` section (in the case of System.Device.Gpio there are 3, `linux` assembly, `win` assembly and `linux-arm` so).
* pi

[2019-04-03 12:49] nguerrera commented on #345
Interesting. Thanks, @vitek-karas. Adding @nkolev92, @ericstj who may be able to provide a definitive answer.

The algorithm is in nuget. Everything is picked at restore time. The choices are listed in project.assets.json and the sdk honors them. I'm not sure, but I suspect for runtimetargets case (no rid specified), it is only selecting from the subtrees that have tfm alternatives. And for the ca

[2019-04-03 12:58] nguerrera commented on #345
If the nuget algorithm is per assetType, I think there is enough information to match that without parsing paths. Each runtimeTarget file in the list has an "assetType".

[code]

[2019-04-03 13:45] ericstj commented on #345
Correct: NuGet selects independently by asset type. If the host does not that is a bug.

I'm guessing that folks don't often both cross-compile the assembly by RID (SDK doesn't support it) and provide a native asset: usually if folks invent a PAL they do it in one place.  System.Device.Gpio has two, or rather, it has a managed PAL as well as a native helper.  ML.NET might hit this too: can't recal

[2019-04-03 19:56] Kraftmuschel commented on #340
Hello,

Thank you for your help. Today I tried again with the latest version. I used the command

dotnet add package System.Device.Gpio -Version 0.1.0-prerelease-19171.3

to install the package.

I used

find . -Name System.Device.Gpio.dll

to locate the DLL on my device. Surprisingly, I found the file in a few directories, for example:

./.nuget/packages/system.device.gpio/0.1.0-prerelease.19171.

[2019-04-03 20:18] krwq commented on #340
@Kraftmuschel `linux` is compatible with `linux-arm`. `linux-arm` specific binaries should be visible when you publish the runtime assets (i.e. `dotnet publish -r linux-arm`) - that should be at minimum `.so` file

[2019-04-04 10:05] Kraftmuschel commented on #340
Hi,

I found the file System.Device.Gpio.Native.So

/home/pi/.nuget/packages/system.device.gpio/0.1.0-prerelease.19171.3/runtimes/linux-arm/native
System.Device.Gpio.Native.so

but no DLL in this tree. So I loaded the DLL from the linux subfolder

PS /home/pi/.nuget/packages/system.device.gpio/0.1.0-prerelease.19171.3/runtimes/linux/lib/netstandard2.0> Add-Type -AssemblyName ./System.Device.Gpio.d

[2019-04-04 17:42] krwq commented on #340
note that System.Device.Gpio is a namespace not a type (that's what the error is about). Try i.e. `System.Device.Gpio.GpioController` instead

[2019-04-04 20:30] buyaa-n commented on #195
Our generic unix driver should support those boards, but we tested only on Raspberry Pi board.

The generic Unix driver would decide which driver to load at runtime (Sysfs or Libgpiod). Also you can create instance of any those drivers you want to use for GpioController, by passing as constructor argument.

Our sysFs driver might not work for some 64 bit Debian version, we have issue created for t

[2019-04-05 07:19] Kraftmuschel commented on #340
Thank you for getting this straigth.

[System.Device.Gpio.GpioController] | Get-Member

Works instantly. I will continue my attempts to make use of it in Powershell this weekend.

[2019-04-07 14:28] techniq opened #355 "MyGet feeds not updated"
[NOTE] This is tracking the work of updating our docs to point to the new feeds that contain daily builds of the packages.

I was looking to update the packages to pull in the fixes for [ADS1115](https://github.com/dotnet/iot/commit/ac92a6069024905b3ceb79911bbfba8c11e35d50) which was merged on 3/31 but it appears the last time the MyGet feeds were updated is 3/27.

- https://dotnet.myget.org/feed/

[2019-04-08 13:49] vitek-karas commented on #345
Created dotnet/core-setup#5728 to get this fixed in the host.

[2019-04-09 00:39] krwq commented on #355
cc: @safern

[2019-04-09 05:06] CrustyJew commented on #298
@krwq I haven't finished all the documentation for the HX711, but I did an initial implementation of it and included the idea I had for another `Unit` type for weights.

The commit has all the HX711 code as well, but I changed the `Units` project as well with the weight implementation.

@ZhangGaoxing I'd like to hear your thoughts as well. I added specific methods to only get one weight measuremen

[2019-04-10 16:22] joperezr commented on #157
I agree with @safern, In fact even when 3.0 ships, I think we will still want to be able to work in netstandard2.0 so we would either multi-target or stay with netstandard 2.0 target only. What I mean is that I don't believe that this is an important enough reason that would cause us want to change the platform target.

[2019-04-10 18:31] safern commented on #157
Correct. Actually I meant until .netstandard2.1 is available, rather than .netcoreapp3.0 ships.

[2019-04-10 19:54] joshfree commented on #355
I believe @tarekgh and @dagood may have been looking into this

[2019-04-10 20:00] safern commented on #355
This is because the MyGet feed is full. @mmitche has been trying to get this sorted out with MyGet people but haven't had response I believe.

[2019-04-10 20:01] dagood commented on #355
Yeah, see https://github.com/dotnet/core-eng/issues/5070 for details. The current recommendation is to use the blob feeds like https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json, but I don't know if IoT is configured to publish to a blob feed yet.

[2019-04-10 20:37] safern commented on #355
cc: @joperezr

[2019-04-10 21:35] joperezr commented on #347
Interesting scenario. I kind of feel that if we wanted to do this we might leak some files for specific set of drivers. For example, the SysFS driver would need to leave some files behind in order to persist the value. I'm not 100% sure  on this, but I believe that is the case.

[2019-04-10 21:40] joperezr commented on #348
@ghost In case you want to take this yourself I believe we have a version of the SPI implementation here: https://github.com/dotnet/corefxlab/blob/8aaec86b7bb83fbb63a6077d37a23428800d2a81/samples/System.Devices.Gpio.Samples/PressureTemperatureHumiditySensor.cs  So it shouldn't be too difficult to port that into our existing binding. As a hint, look in that file for places where we do something lik

[2019-04-11 16:50] joperezr commented on #351
yup I'll take care of this.

[2019-04-11 18:30] joperezr commented on #355
I'll work today on making sure that we publish to blobfeed as well as to myget. That way, even if myget publish fails, there is still a place where the community can get the packages out of.

[2019-04-12 07:41] monty124 commented on #249
Hi All

I just wanted to make a comment here for anyone else looking, I have a 1602 I2C LCD that uses a PCF8574T piggyback module. To use this with the device binding this is the pinout/working code example:

`
var i2cDevice = new UnixI2cDevice(new I2cConnectionSettings(busId: 1, deviceAddress: 0x27));
var controller = new Mcp23008(i2cDevice);
var lcd = new Lcd1602(registerSelectPin: 0, enablePin:

[2019-04-12 16:01] joperezr commented on #249
Hey @monty124, thanks for sharing that! Is the PCF8574T the same as an Mcp230008 Gpio expander? If the same binding code works for that other chip, we should probably add that to the README of the Mcp23008 to let people know that they can use the same binding for that type of device.

[2019-04-12 21:35] krwq commented on #249
@monty124 I concur with @joperezr also since you found it useful perhaps might be worth adding a sample to the LcdCharacter/samples/README.md - do you think you could send a PR with that?

[2019-04-12 23:39] monty124 commented on #249
Hi @joperezr I've taken a quick look at each datasheet and whilst they do look similar and provide what look to be the same functionality, I cannot be certain they are interchangeable or indeed use the same addressing; however; it shouldn’t be too hard to adapt the device binding to work for both in my opinion. I don’t have either IC available bare to wire up and test, to be absolutely sure this w

[2019-04-12 23:45] krwq commented on #249
@monty124 yes, you can contact me or just send WIP (draft) PR and you can ask questions there :smile:

[2019-04-13 00:08] microhobby opened #359 "Mono WinForms + dotnet/iot GPIO Demo with Torizon"
This is not an issue!
I would like to share with you a video of a demonstration I made using dotnet/iot running on a Toradex Colibri iMX7D 1GB in a Torizon container (Toradex docker ready platform for your computers on modules)

I'm using dotnet/iot with LibGpiodDriver and accessing two GPIO banks from iMX7:

[![Youtube video](https://img.youtube.com/vi/1d3g2VDZyXE/0.jpg)](https://www.youtube.com/

[2019-04-15 17:09] joperezr commented on #359
That is awesome thank you so much for sharing this @microhobby!

cc: @richlander check out the demo!

[2019-04-15 20:30] joperezr commented on #257
@DemoS76 if you are interested in taking this, let us know if there is anything we can help you out with

[2019-04-15 20:35] joperezr commented on #125
The idea that this issue is tracking, is that just as @JeremyKuhne added the IGpioController interface, we want similar type of interfaces for our other protocols (I2c, Spi, and Pwm). I don't think that it is a feature that should block release, but it is definitely  a nice-to-have, specially now that we are getting a lot of bindings that support those protocols added.

[2019-04-15 20:37] joperezr commented on #107
I agree with @krwq. I'll go ahead and close it since there doesn't seem to be something that would add a lot of value. Feel free to re-open if there are any new cases that would make this enhancement more valuable.

[2019-04-15 20:37] #107 closed

[2019-04-15 20:39] joperezr commented on #100
@shaggygi I'm finally back from my leave, and I know that you have made some changes in the past on our documentation, is the above list still accurate? (meaning that we haven't checked any of those boxes yet?)

[2019-04-15 20:56] shaggygi commented on #100
@joperezr i think it is semi-accurate still.  I’m thinking it might be better to approach this with slides instead of markdown.  That would allow others to possibly show with different audiences.  Since the API is still young and discussions are still trying to determine interfaces and such, I’d say this can wait until after.  Maybe close and we can circle back later?

Good to hear you’re back.  I

[2019-04-15 21:13] joperezr commented on #100
I see, instead of closing I'll just flag it as future, so that we continue to track the work. Sad to hear about your injury, hope you get well soon!

[2019-04-15 21:51] joshfree commented on #359
Thanks for sharing @microhobby 😃

[2019-04-15 22:47] joperezr commented on #340
Closing as it seems like the issue here is resolved. @Kraftmuschel please reopen if that is not the case.

[2019-04-15 22:47] #340 closed

[2019-04-16 08:51] DemoS76 commented on #257
Hi, I've finished with it. Thanks.

[2019-04-16 08:51] #257 closed

[2019-04-16 16:46] joperezr commented on #122
Marking as up-for-grabs. The next step in this issue would be to send a PR with the software implementation of SPI protocol. Initially we would want to have it under the devices tree, and once we have the interfaces for the SPI protocol ready then we can move this to the main library. In terms of Api Surface, this class should have the same signatures as our regular SpiDevice, except that it would

[2019-04-16 17:10] joperezr commented on #124
Totally agree.

@shaggygi do you know if there is a specific binding that might benefit of this class? I just want to make sure that adding this will be valuable for device bindings.

[2019-04-16 17:17] joperezr commented on #178
For now we have been adding these into Common under devices. That is because at least for now, we only have the one bindings package. Once we move that to one binding-per-package model, we will have to instead have the extensions library where these types of non-binding classes would live in. I'm closing this issue since it was more of a question and I feel that I have answered it with this commen

[2019-04-16 17:17] #178 closed

[2019-04-16 17:22] joperezr commented on #187
@tarekgh are you planning to work on this? If not, I'll flag it as up-for-grabs.

[2019-04-16 17:29] shaggygi commented on #124
@joperezr anything that implements IGpioController would benefit including dev boards and bindings like Mcp23xxx, etc.

Also, I recall @krwq proposing a mapping implementation that works with multiple controllers.

[2019-04-16 17:36] joperezr commented on #218
@krwq pointed out yesterday that now that we've moved to use Arcade for updating our dependencies on the Gpio library, our original desire of having sample projects be copy-pastable is broken so having P2Ps might be considered now. That said, the one good advantage that we still have by using packages is that we still use this as testing and validation that our package is well constructed.

[2019-04-16 17:36] JeremyKuhne commented on #187
@tannergooding tweaked Stopwatch to improve the performance characteristics here. We're going to be limited getting any better due to the actual resolution limits on the Pi.

The thing I wonder is if there are other hardware facilities that would allow us to do a single high-fidelity timed pulse to a data line. I haven't had time to look into it, so just wondering out loud.

[2019-04-16 17:40] joperezr commented on #260
This is approved for everything but Eventing methods. Eventing methods we need to discuss a bit more if we want them part of the interface and simply throw Not Supported on devices that can't deal with this, or to not have them. Flagging as up-for-grabs.

[2019-04-16 17:43] joperezr commented on #181
Hey @ZhangGaoxing, thanks for picking up the work. I will take a look at your PR :).

[2019-04-16 17:52] joperezr commented on #187
I see, @JeremyKuhne would you then suggest to close this issue then as this would be kind of a no-op for us on the iot side given the fix has gone to stopwatch?

[2019-04-16 17:54] joperezr commented on #124
Ok, makes sense. Do you mind updating the main porposal to take into account the changes you suggested here https://github.com/dotnet/iot/issues/124#issuecomment-464279785

[2019-04-16 18:02] shaggygi commented on #124
Sure.  Give me a few days to review and such.

[2019-04-16 18:10] krwq commented on #187
@joperezr I'd rather leave this open and add reference to the corresponding issue so that we can adjust if needed when this is already fixed (we can move issue to future though or add some kind of BLOCKED label)

[2019-04-16 18:11] krwq commented on #187
@tannergooding could you edit the first post and add refs to corresponding issues related with Stopwatch?

[2019-04-16 18:15] joperezr commented on #189
I don't think @tarekgh is working on this anymore, so flagging as up-for-grabs so that community can pick this item up.

[2019-04-16 18:21] tarekgh commented on #189
The drawing APIs in https://github.com/dotnet/iot/blob/master/src/devices/RGBLedMatrix/RgbLedMatrix.cs is good start in general to look at.

[2019-04-16 18:22] joperezr commented on #315
I'm not sure about this one either. @richlander what do you think? Are you happy with the current state of our namespaces?

[2019-04-16 18:25] krwq commented on #189
To be more specific: `Width`, `Height`, `SetPixel`, `Fill`, `DrawBitmap` covers most of the scenarios - for tiny matrices also `DrawText` since System.Drawing looks good only on tiny bit larger matrices

[2019-04-16 18:40] tannergooding commented on #187
@krwq, what corresponding issue are you refering to? There was just a PR created/merged and it resolves a very minor per issue.

The root issue is that RPi doesn't have a very high precision timer and there isnt anything tracking that, to my knowledge (it is also unactionable on our end).

[2019-04-16 18:44] krwq commented on #187
Thanks @tannergooding, I thought there is some more work happening there. Closing this in this case.

[2019-04-16 18:44] #187 closed

[2019-04-16 19:06] daveyostcom opened #366 "Can't build in VS or in Rider"
I cloned [the repo](https://github.com/dotnet/iot.git), then selected the DeviceApiTester solution. Something very basic is wrong, and it won't build.
<img width="584" alt="Screen Shot 2019-04-16 at 12 01 01 PM" src="https://user-images.githubusercontent.com/8748/56237030-e0121b80-603f-11e9-8e0d-031b659f7b50.png">

[2019-04-16 19:24] terrajobst commented on #315
Was it anyone on @dotnet/fxdc? Namespace choices are hard and making everyone happy with be hard. I'm happy to help here.

[2019-04-16 20:02] joperezr commented on #315
Currently we have the same namespaces as the ones that were discussed and approved in the API review. @krwq are there any concrete changes that were proposed here? So we can review them with @terrajobst.

[2019-04-16 20:04] joperezr commented on #366
Did you run `.build.cmd` first? As part of our workflow we require you to run build.cmd on the root of the repo once, so that you get all of the dependencies restored and then you should be able to open the projects in VS. Rider isn't officially supported by the repo and therefore hasn't be tested yet.

[2019-04-16 20:07] krwq commented on #315
See bullet points in the issue description:
- create namespace for protocols i.e. (Iot.Protocols/System.*.Protocols)
- move Iot namespace under System. I.e. System.Iot
- move stuff which is not a device outside of System.Device

[2019-04-16 20:12] joperezr commented on #330
@JeremyKuhne is this still something you have plans on doing? If not let me know so that we can flag this as up-for-grabs instead.

[2019-04-16 20:18] joperezr commented on #183
Flagging as up-for-grabs so that people can submit PRs for this.

[2019-04-16 20:43] joperezr commented on #343
This needs to be fixed for 3.0. Should be easy enough to fix. Flagging as up-for-grabs since @buyaa-n won't have time to look at this any time soon. If no one else picks this up, either her or me can pick this one.

[2019-04-16 21:00] JeremyKuhne commented on #330
I want to, but anyone is welcome to take this on if they can allocate time before I can.

[2019-04-16 21:16] daveyostcom commented on #366
No, I didn’t.

This is the first I’ve heard of a repo that can’t be used in Visual Studio without doing something on the command line first.

Is this because of a shortcoming of VS? If so, have you reported it to them?

[2019-04-16 21:20] joperezr commented on #366
Most of the repos in the dotnet org use a shared central infrastructure. In order to use it, this infrastructure must be restored, which is what is accomplished by running the build.cmd script. This is not uncommon, as it is similar to other repos that require some sort of restore (either using npm install, or restoring some build dependencies in general) before the initial build. If you check all

[2019-04-16 22:05] daveyostcom commented on #366
Thanks. Their ReadMe says I can load their stuff using nuget. I failed. I set up Rider NuGet to use their source, checked the prerelease checkbox, and couldn't find their stuff. Could you try it please?

Thanks

[2019-04-16 22:19] daveyostcom commented on #366
Here's what I tried:
[code]

[2019-04-16 22:24] joperezr commented on #366
Reopening to track the additional questions.

So then is the issue that you are trying to consume the packages but you can't seem to be able to install the package? I thought the original issue was that you were trying to load a solution from our repo into VS. If all you want is to consume our package, you can either try using our [latest prerelease version available in NuGet.org](https://www.nuge

[2019-04-16 22:53] daveyostcom commented on #366
Sorry. I thought I was writing that response to Rider support. (Wrong window open.) I edited my response above for this location. But nevermind.

[2019-04-16 22:53] #366 closed

[2019-04-16 23:50] terrajobst commented on #315
If you (the IOT team) believes, that's the right thing, make a proposal and we can review it. I'm also happy to meet and chat if you want an opinion on namespace factoring, based on the concerns that were brought up.

[2019-04-17 00:03] shaggygi commented on #315
@joperezr @terrajobst over the weeks, I read various mentions of API reviews for this repo.  Is the intent to collect a list of issues/PRs to discuss/design/code or are there meetings that have already occurred?  It would be nice to have those streamed or posted so the community can understand some of the opinions and decisions.  The 3 videos from initial concept were insightful.

[2019-04-17 05:05] #181 closed

[2019-04-17 15:54] joperezr commented on #315
@terrajobst I'll chat offline with @krwq so that we can come up with an agreement since I don't believe we should change them, but we will get a consensus and then we'll draft a proposal if needed.

@shaggygi we haven't really had any Api Review discussions yet for the iot repo other than the 3 initial ones. The reason for that is that since we are still in prerelease, we are still allowed to add

[2019-04-17 16:17] shaggygi commented on #315
@joperezr sounds good.  Being an outsider, some of the wording sounded as there were other meetings going on.  So my bad of interpretation.  The only issue I can think of is possibly #126.

[2019-04-17 16:33] joperezr commented on #315
Sounds good, sorry for not being clear about the process. I'll take a look at that issue again and submit it to the review process if its ready.

[2019-04-17 22:03] #81 closed

[2019-04-17 22:05] joperezr commented on #156
I believe this might be a dupe of #100

[2019-04-17 22:34] joperezr commented on #146
@buyaa-n is this not done yet?

[2019-04-17 22:41] krwq commented on #156
yep, looks like a dupe

[2019-04-17 22:41] #156 closed

[2019-04-17 22:42] krwq commented on #100
@joperezr moving back to 3.0 since we closed the other issue. We should at min add `How to start` to move this to Future I think

[2019-04-17 22:56] joperezr commented on #100
Sounds good to me.

[2019-04-17 23:03] joperezr commented on #324
Our initial supported runtimes are arm32, arm64 and musl arm64, but we will eventually need support in x86 and x64 as well.

[2019-04-17 23:06] joperezr commented on #355
Just to update this thread, our myget feeds have been having a lot of issues so we haven't been able to push for a while. Instead, we are now pushing all of our official builds to a blob feed: https://dotnetfeed.blob.core.windows.net/dotnet-iot/index.json

We will eventually stop pushing packages to myget and only use the feed instead, so I will go ahead and update our documentation in the repo to

[2019-04-18 00:31] buyaa-n commented on #146
Not yet :( ...

[2019-04-18 04:45] tmds commented on #324
The epoll_event is only an issue for x64.

The EINTR handling applies to all architectures.

[2019-04-18 19:49] buyaa-n commented on #169
The sample added with #333, closing

[2019-04-18 19:49] #169 closed

[2019-04-18 19:52] buyaa-n commented on #146
Some of the comments doesn't apply to Sysfs driver anymore and the event handling section for sysfs driver need more refactoring, so am gonna update this issue for refactoring the driver

[2019-04-22 09:13] chrishamm opened #378 "Error while trying to initialize pin interrupts."
I am using the GpioController on a Raspberry Pi 3B+ with an interrupt routine. The code is relatively simple, I initialize the GpioController on program start and register an interrupt for a single pin for a rising event:

`            _pinController = new GpioController(PinNumberingScheme.Logical);
            _pinController.OpenPin(Settings.TransferReadyPin);
            _pinController.SetPinMod

[2019-04-22 11:14] wwombatt opened #379 "Adding GHI Fez Cream driver"
Hello all,

I have a question about a product that was created some years ago to connect Microsoft Gadgeteer sensors to the Raspberry Pi via a special hat, that was called the GHI Fez Cream.

![541-2_large](https://user-images.githubusercontent.com/183149/56497553-48f50a00-64fe-11e9-864d-1d0aa8579026.jpg)

GHI the company that produced the hardware component also wrote the driver library that was

[2019-04-22 12:09] shaggygi commented on #379
Here’s a couple of thoughts...

1. It appears the Fez hardware is obsolete, but didn’t verify.  Would it be worth working on a binding if so?  However, it would be a good exercise to become familiar how to.

2. It might be good to create separate device binding projects (if not already available) for components you listed.  Then create a new binding project for the Fez hardware and reference the c

[2019-04-22 12:24] wwombatt commented on #379
Thank you for the reply. You are correct this hardware is not in production anymore and is not available for purchase. But since i have a lot of sensors for this device. And i am not a big fan of Windows iot 10 as an os for my Raspberry Pi it seemed like a great project to learn and maybe somebody else is waiting for a binding for the Fez Cream

I will try to create device bindings for the seperat

[2019-04-22 12:37] shaggygi commented on #379
@wwombatt sounds good.  I would also suggest adding a Sensor folder under the Fez project to store the classes for each of the Fez sensors that can be attached.  That will make it easier for others to pick/add what they want to connect to main board in their own projects using this Fez binding.

Thanks for the interest using this repo and good luck.

[2019-04-22 15:56] joperezr commented on #379
Just to answer those specific questions, yes it should be possible. In fact, our API Surface is very similar to Windows.Devices.* API, so you shouldn't have many problems porting that library over to our repo. Even if the devices are not being sold anymore, we also have a few bindings on this repo for some legacy devices that are still popular with hobbyist community. As @shaggygi mentioned, thank

[2019-04-22 15:59] joperezr commented on #378
Hey @chrishamm thanks for reporting this. We actually started seeing this as well in some of our tests so we are currently investigating the issue. Once we have a fix, I'll update this issue with a package version of System.Device.Gpio that doesn't have the problem any longer.

[2019-04-23 10:03] raffaeler opened #380 "Error adding the Nuget Package to a new console project"
Platform: Windows 10 x64
NetCore: 3.0.100-preview3-010431
Visual Studio 2019 16.1.0 Preview 1.0
Nuget Package version:
[code]

When adding the Nuget Package to a new console project, Visual Studio shows the following error in the error lists:
[code]

This is comes from the output window:
[code]

Rebuilding and running the project works as expected.

[2019-04-23 15:28] raffaeler opened #383 "Creating a platform neutral driver"
Not sure if this is already possible, but here is an idea.
Since the drivers already abstract different implementations of the local hardware peripherals such as Gpio, I2C and SPI, I find very valuable having an in-memory driver that lying below the existing drivers.

The goals for this proposal:
- ability to mock all the devices for testing purposes without having to use Moq or similar frameworks

[2019-04-23 17:41] joperezr commented on #380
I don't believe this is a problem with our package, but with VSs package manager instead, so I'm closing this for now. If you have a consistent repro for this on new projects, please reopen this a let us know which version of VS you are using so that we can investigate further.

[2019-04-23 17:41] #380 closed

[2019-04-23 17:53] joperezr commented on #383
I'm not 100% sure that adding a new layer would be a good idea. Today the layering model goes something like: YourApp -> GpioController.DoSomething -> GpioDriver.DoSomething. Because of that, if we wanted to just add this extra layer for logging pourposes, I would suggest to add those at the GpioController level instead, and I would also be inclined to have them be optional since we don't want to

[2019-04-23 18:33] raffaeler commented on #383
Thank you @joperezr
I really didn't want to introduce a new layer for every operation. The proposal was to add an optional layer that you may want to plug-in only when desired.

One of the goals is interception that may need to either log or even patch a communication. There are times where the behavior is intermittently wrong. In these cases an intermediate driver can identify the problem better

[2019-04-23 18:44] raffaeler commented on #380
Thank you I just found this to be a Visual Studio bug.

[2019-04-23 19:08] wwombatt commented on #379
I am starting to do some research and maybe i am asking a realy dumb question but here goes:

I have added the Fez Cream on top of the Raspberry Pi and I have run this command:

`i2cdetect -y 1`

and the result is this:

![image](https://user-images.githubusercontent.com/183149/56608345-dc1b6600-660a-11e9-85cf-6a241051a1b4.png)

Now i am searching for a way to translate this information of the add

[2019-04-23 19:57] joperezr commented on #383
That sounds more interesting. Would you mind writing an API proposal so that we can take a better look at how the shape of this would look like and the use cases? You can update the main comment on this issue with the proposal, and just for reference, here is a good example of how proposals should look like: #135

[2019-04-23 20:04] joperezr commented on #379
What this is telling you (assuming that the only device you have connected through I2C is the Fez Cream) is that the device is actually a collection of devices (4 in total) talking to the raspberry all through I2C channel. This is not uncommon, for example, the SenseHat behaves very similar. Before you think about I2cConnectionSettings, I would try to find the docs or datasheets for the Fez Cream

[2019-04-23 23:41] shaggygi commented on #379
Based on the schematic link, here are the addresses for each device.  The schematic shows the binary value below each.

PCA9535 (IC1): 0x23

PCA9535 (IC2): 0x25

ADS7830IPWT: 0x48

PCA9685: 0x70   **Note**: The all hardware address lines are tied HIGH, so you'd think it would be 0x7F.  However, I noticed the datasheet mentioned you can use 0x70 address when interacting with all LED channels at onc

[2019-04-24 21:44] joperezr commented on #16
This is done now as Hummingboard driver is not essential for V1 given we now have the libgpiod implementation.

[2019-04-24 21:44] #16 closed

[2019-04-25 05:05] krwq commented on #383
@raffaeler would introducing interfaces per device type (i.e. ITemperatureSensor) make any difference for testing? I.e. if you have a specific device implementing it you could easily plug some intermediate layer to write the same data to a file

[2019-04-25 07:35] raffaeler commented on #383
@krwq it would certainly help in some cases where you simulate the device like you normally do on mobile emulators.
While on temperature it can be pretty easy to abstract a device, I am not sure if you can find the right interface shape when dealing with stepping motors, 9-axis gyroscopes or other more complex devices.

On the other side, when you are putting your hands in the wires, there are man

[2019-04-27 16:18] jimutt opened #392 "Regarding device binding guidelines; async or synchronous APIs, properties or methods"
Hi, I'm very much appreciating all work being put into the IoT libraries. I'm having a look round the repo to try get a wider picture of what's going on. This question is regarding device bindings, and how to achieve a consistent and predictable experience for the library consumers.

When it comes to reading sensor values the current [conventions](https://github.com/dotnet/iot/blob/master/Document

[2019-04-28 20:42] matthewethomas commented on #383
For the record I'm a big fan of interception/AOP-based architectures, and I don't want to discount the use cases that @raffaeler put forward, but If we're voting here, I vote not to include a interception/plugin layer at the framework level, and here's why:

Adding interception and aspect-oriented extensions is an advanced use-case - one can make the argument that if you're going to go forward and

[2019-04-28 20:49] raffaeler commented on #383
@matthewethomas my proposal is not about AOT interception but just a layer that can be added, as optional, between the app and the GpioController (or the others).
It can be done with interfaces of course, but they would be on a different layer in comparison to the ones proposed by @krwq which are very useful too.
Substantially, they play a different role and solve different use-cases.

I didn't ha

[2019-04-28 21:23] matthewethomas commented on #260
Awesome!

[2019-04-29 09:19] UncleSamSwiss commented on #215
Is there any decision/progress on this proposal?

In our application code handling multiple GPIOs in different (unrelated) classes, we see a pattern evolving which would be much easier to implement with `GpioPin` and `IGpioPin`. Also, this API could probably help #347 as you could dispose or not dispose the `IGpioPin` object depending on your needs.

IMHO the current implementation is a bit "C-lik

[2019-04-29 18:24] joperezr commented on #392
Hello @jimutt thanks a lot for your input. I'm tagging @krwq as he has been looking into this topic for a while. I do agree that your logic about a property is usually understood as a simpler/low-time-consuming API, so it is worth to disucssing if having a GetTemperature() would make more sense in this case.

A small comment around this. Even though the System.Device.Gpio library is part of the .N

[2019-04-29 19:03] krwq commented on #392
This is good feedback.
As @joperezr has mentioned the devices have softer rules and we are still figuring out the guidelines for this repository so take any recommendations with the grain of salt.

I'm thinking of two solutions here:
- Temperature sensor in cases like this should keep on reading in a background and property always returns immediately
  - if user asks for thermometer they probably

[2019-04-29 20:12] joperezr commented on #215
@UncleSamSwiss this was actually one of the main topics we discussed when coming up with the original API Proposal, and after weighing the pros and cons we decided that a C-like approach would be better here because of several reasons including the life-cycle of objects and other things. For reference, you can take a look at all three of our API discussions which are linked [here](https://github.c

[2019-04-30 06:03] jimutt commented on #392
@joperezr @krwq  Thanks for explaining the situation for the device bindings library and taking the time to go through my input.

I've got to admit that I'm mainly used to working with embedded systems programming in the range from assembly to the level of abstraction that Arduino-like libraries offers. So I probably don't have very good ideas about which way is best to go in this case. But I thin

[2019-05-02 19:56] buyaa-n commented on #76
Not sure if we ever gonna add HummingBoard driver implementation, anyways as per https://github.com/dotnet/iot/issues/16 this will not implemented within 3.0, so updating milestone to future

[2019-05-03 04:26] #343 closed

[2019-05-03 11:32] MarkCiliaVincenti opened #399 "Add Hummidity and Compensate Hummidity to the BME280 device binding."
For BME280, you can read the pressure and the temperature (including compensate values) but so far there's nothing for humidity. Any chance for this to be implemented please?

[2019-05-03 13:03] UncleSamSwiss commented on #215
@joperezr thanks for your explanation. I can understand your reasoning; and of course changing it now would be a huge endeavor.

Just to explain my use case, here is more or less a copy&paste of our code (won't compile):
[code]
Note: `this.gpioService.Controller` is a `GpioController`.

As you can see in the `StartAsync()` method, we take the `pinNumber` and then assign it to the instance variable

[2019-05-06 17:15] joperezr commented on #399
@MarkCiliaVincenti Adding this shouldn't be too hard, any chance you want to take a stab at it 😄 ? We are happy to guide you and help you with any questions that you may have.

[2019-05-06 17:58] joperezr commented on #215
In your concrete example, yes you have to do two calls instead of one, that said, without knowing a bit more about your service I believe that one other thing you could/should do, is to dispose the controller itself, which will do the cleanup for you. Because the Controllers are disposable, then having a pin object might be dangerous since you could have the case where a pin's controller has been

[2019-05-06 22:05] #260 closed

[2019-05-08 21:29] BWalti opened #410 "LibGpiod: Input Pull Down / Pull Up Support"
The LibGpiodDriver currently only supports "PinMode.Input" as input variant. InputPullDown and InputPullUp are not supported: https://github.com/dotnet/iot/blob/733296b63311104122b49bf1e2c247c7bd690391/src/System.Device.Gpio/System/Device/Gpio/Drivers/LibGpiodDriver.Linux.cs#L100-L104

Wouldn't it be possible to use the corresponding flags and pass them through?

Offending code:
https://github.com

[2019-05-08 21:34] shaggygi commented on #410
I think there are other checks that would also need to be changed if/when #135 is added, as well.

[2019-05-08 21:38] BWalti commented on #410
I'm not an expert on that field, but in my understanding #135 is about output lines?
Maybe I'm wrong, but I guessed that passing the flag would cause the internal resistors to be correctly applied. I would not expect other side effects. But I'm probably naive :)

[2019-05-08 21:45] shaggygi commented on #410
No, you are correct.  My point is more about we will need to check for the different types of inputs and outputs.  This includes for both dev boards and device bindings that implement GpioController (e.g. Mcp23xxxx, etc.).

[2019-05-08 21:58] BWalti commented on #410
I did not think about other boards. My bad! I guess not all boards/chips with libgpiod support have PullUp / PullDown internal resistors?
I see, maybe its bigger to cleanly solve than I first thought..

[2019-05-08 22:11] shaggygi commented on #410
Yeah, there are probably some devices that don't support input pull up/down, just as there are some that don't support open-drain outputs.  I'd keep this issue open so a discussion can occur on how to approach this since there we'll eventually need to be checks/logic added to core API and possibly an update to doc somewhere for a checklist on related type of devices (when creating new ones).

Than

[2019-05-08 22:27] joperezr commented on #195
@IvanFarkas have you tried this yet? Given that this was more of a question and it has been answered, I'm closing this issue, but feel free to reopen if you think the question hasn't been answered yet.

[2019-05-08 22:27] #195 closed

[2019-05-08 23:13] joperezr commented on #410
cc @buyaa-n since she looked into the Libgpiod implementation.

I'm not sure how that would be applicable here though. I though this question was very specifically  to the Libgpiod Driver, which is different than a IGpioController. If Libgpio driver should support these Input modes, then I agree that this should be done.

[2019-05-08 23:23] shaggygi commented on #410
@joperezr yeah, you’re right.  I guess I was thinking more in general. Although, I’m not sure if it would need to change based on the different board the driver was running.  I haven’t looked at the specifics to that level yet.

[2019-05-09 04:12] buyaa-n commented on #410
@BWalti seems the test you are referencing is for testing is ACTIVE_LOW is set not pull up/down. I have checked if pull up/down mode is available in while implementing Libgpiod driver but it was not, but seems the author is going to add that mode, there is an issue for tracking  https://github.com/brgl/libgpiod/issues/31. For now seems it still not done.

[2019-05-09 17:39] joperezr commented on #410
That is a very good point, as the LibGpiod driver is supposed to be able to run in multiple boards, not just the Pi. That said, if Libgpiod library supports these modes, I imagine that they should be able to handle specific cases where the board doesn't natively support those pin modes. @buyaa-n thanks for investigating, once this mode is activated, we should definitely activate it in our driver a

[2019-05-09 18:45] raffaeler commented on #288
Question: what if the device can send a variable number of bytes?
The Linux I2C driver returns the number of read bytes for this reason and IMO it makes sense because it's an application protocol decision, not a hw peripheral specification.

[2019-05-09 19:14] BWalti commented on #410
@buyaa-n I updated the original post to keep it easier for new readers. Thanks for investigating and pointing it out!

[2019-05-09 20:02] joperezr commented on #288
@raffaeler can you provide an example of a case where the number of bytes is variable? AFAIK all of the device bindings we've seen and all the libraries similar to GPIO will know how many bytes to read for every I2c call. There are some devices who might send a variable number of bytes of data, but usually for these you first would make an I2C call which will return you 1 byte telling you the size

[2019-05-09 20:12] raffaeler commented on #288
Hi @joperezr, not yet.
I am translating the Flick C library using wiringPi and the Linux i2c library, but the source code does not mention how many bytes are expected nor there is any comment about the length of the packets.
The C library just read data in the buffer and use the length as a discriminator.

I guess the current C# I2C library will throw for a timeout if the buffer is not entirely fi

[2019-05-11 18:16] katzz0 opened #416 "Dht22 example doesn't work"
I have DHT22 sensors which works normally. I checked that by the default python script from Adafriut. I made a decision to give .net core on rpi platform a try with a simple example from the examples folder. I used Dhtxx example but it doesn't work.

This is my code:
[code]

Project file:
[code]
I wasn't able to install System.Device.Gpio and IoT.Device.Bindings by using commands from the main rea

[2019-05-12 13:23] shaggygi opened #418 "Azure DTDL & IoT Plug and Plug Support"
There were recent announcements regarding Azure's new Digital Twin Definition Language (DTDL) and [IoT Plug and Play](https://github.com/Azure/IoTPlugandPlay) at Build 2019.  We should review and collaborate with that team as this repo and APIs could "plug and play" nicely with each other.

There are scenarios that can help with System.Device.* tooling and code generation for device bindings.  Thi

[2019-05-13 12:08] GTruss commented on #249
Hi, everyone. Piggy-backing on this thread as I'm not sure it deserves it's own. Has anyone been able to get the LCD on the CrowPi to work? In the CrowPi Python examples, they use:

`lcd = LCD.Adafruit_CharLCDBackpack(address=0x21)
`

After much googling, I thought I had found the .Net Core equivalent:

[code]

Unfortunately that doesn't seem to work. I was hoping for a CrowPi example in the Readm

[2019-05-13 22:45] krwq opened #419 "Reconsider Dispose pattern across devices"
Multiple devices take SpiDevice/I2cDevice in the constructor and then dispose it later. We should reconsider if this is good approach and if disposing is always expected. Some alternatives:
- do not dispose the device and let the caller dispose it instead
- take bool flag (i.e. shouldDispose) and let the caller pick what they want

[2019-05-14 18:01] joperezr commented on #416
Hey @katzz0 thanks a lot for your feedback. I assume that since you have some code running with python that we can disregard any problems related to bad connections. Just to double check, do you have the right pin specified? From your code above, you should be using pin 26 in the BCM numbering, not the physical layout.

From what I can tell you didn't do anything wrong, unless the gpio pin that yo

[2019-05-14 18:06] MarkCiliaVincenti commented on #399
It's not as easy as one would think. There's a lot of stuff added onto BME280 over BMP280 so some architectural changes are needed to accommodate them, not just a case of adding a couple of methods to the Bme280 class.

[2019-05-14 22:50] joperezr commented on #194
This is fixed now.

[2019-05-14 22:50] #194 closed

[2019-05-14 22:56] joperezr commented on #315
Clos

[2019-05-14 22:56] #315 closed

[2019-05-14 23:05] joperezr commented on #330
Also, it would be great if we can at least classify which classes to focus on first. That way we may be able to split this issue into smaller ones that can be planned in or out of 3.0 release.

[2019-05-15 08:56] MarkCiliaVincenti commented on #355
Can you please amend https://github.com/dotnet/iot/blob/master/README.md then?

[2019-05-15 09:02] MarkCiliaVincenti commented on #416
I had the same issue. Use the TryGetTemperatureAndHumidity instead rather than what is suggested in the samples.

[2019-05-15 12:50] Frankenslag opened #423 "Addition of binding for SSD1351"
Hallo, I would like to propose adding bindings for the SSD1351 OLED driver device. This is a colour OLED driver and there is a breakout board available at

[Colour 1.27"](https://www.adafruit.com/product/1431)
[Colour 1.5"](https://www.adafruit.com/product/1673)

[Datasheet](https://cdn-shop.adafruit.com/datasheets/SSD1351-Revision+1.3.pdf)

My intention would be to follow the general way that the

[2019-05-15 16:43] joperezr commented on #355
Will do, in fact we updated the initial comment on this issue to say that this issue is tracking the documentation update, and that is why we haven't closed this issue yet. We will get to this soon.

[2019-05-15 16:51] joperezr commented on #418
Thanks for logging this @shaggygi. In fact we have worked closely with the Azure IoT team and I believe that this is definitely something we want to work closely with them. We can use this issue for planning what the work on our side would look like, and also to gather the ideas of what we would need from the Azure team's side.

[2019-05-15 16:54] joperezr commented on #419
Instead of taking a flag, I would rather have a bool shouldDispose property that would be defaulted to true, but you could set otherwise if needed.

[2019-05-15 17:02] joperezr commented on #399
mm I'm not sure I follow. If this functionality is strictly only for Bme280 class, then it should just be adding a couple of methods to that file, you shouldn't need to touch BMP280 as that class won't have this functionality.

[2019-05-15 17:09] joperezr commented on #416
@katzz0 if what @MarkCiliaVincenti suggests works, we should log an issue to fix the methods that are not working properly, and at least in the meantime switch the examples to use the API that does work.

cc @ZhangGaoxing and @Ellerbach who added this binding.

[2019-05-15 17:18] joperezr commented on #423
Hey @Frankenslag we are glad to have you being part of this community! Having this binding would be great so we will gladly review your (future) PR. We have some docs around [how to contribute a binding](https://github.com/dotnet/iot/tree/master/src/devices#contributing-a-binding) which have all sorts of good information that should help you get started, specifically I would advice on following th

[2019-05-15 17:43] MarkCiliaVincenti commented on #416
Here's my code:

`                using (DHTSensor inside = new DHTSensor(InsideGpioPin, DhtType.Dht22))
                {
                    if (!inside.TryGetTemperatureAndHumidity(out Temperature insideTemp, out insideHumidity))
                    {
                        //Console.WriteLine(" failed obtaining inside readings");
                        return;
                    }

[2019-05-15 17:53] MarkCiliaVincenti commented on #399
It's not just a case of adding methods. BME280 requires a vaster CalibrationData.cs and a vaster Register.cs. It depends on what architecture path you want to take. Do you completely separate the two or do you do base classes for CalibrationData and Register classes too?

[2019-05-15 17:57] joperezr commented on #399
Oh I see now, that makes sense. It would take a bit of refactoring I guess to have that work, since you would have to set the calibration data on each individual class. The register classes don't need to change IMO, since it's fine if one of the registers in the enum is not used by one of the classes.

[2019-05-15 18:21] Frankenslag commented on #423
O.K. I am happy for you to assign it to me. (or do I have to grab it in some way ?)

[2019-05-15 18:54] MarkCiliaVincenti commented on #416
OK I can confirm. My code works with the old (MyGet version) package.
Couldn't get the new (dotnetfeed blob version) package to read from DHT22 either. The TryGetTemperatureAndHumidity method doesn't exist anymore and IsLastReadSuccessful is always false.

[2019-05-15 19:53] joperezr commented on #416
mm I see, interesting, I'll take a look at this and see what changed.

[2019-05-15 22:47] shaggygi commented on #418
@shaggygi Sounds good.  Until then, I'll keep adding issues to their repo on thoughts.  I might create a temp repo under my name to play around with some formats.  If so, I'll post link here for you to chime in.  I'd rather do that to not clutter this repo.

Also, if you get wind of [early bits](https://github.com/Azure/IoTPlugandPlay/issues/6)... send them my way so I can tinker around with them.

[2019-05-16 01:12] ZhangGaoxing commented on #416
The last change was made by me. I don't have DHT22, I just make sure that the code I committed works correctly on my DHT11 and DHT12. Interestingly, the old code always reads errors on my DHT11 (just like the two above), so when I added DHT12, I changed the original code.

According to the datasheet, the DHT series of sensors are read in the same way, which is not a problem. The code I committed w

[2019-05-16 07:52] ZhangGaoxing commented on #129
I think we should try to solve this problem as soon as possible. I found that the `SMBus protocol` devices I tried to bind were not working properly (I can't guarantee all the devices), like `MLX90614` (this sensor adafruit is on sale). I don't know if the latest version of the Raspberry Pi driver supports I2C Repeated Start, I refered this [post](https://www.raspberrypi.org/forums/viewtopic.php?f

[2019-05-16 08:12] Frankenslag commented on #419
I like the 'shouldDispose' property... Certainly something is needed as multiple device bindings can use the same GPIO controller for example. I am not sure that it should be defaulted as true as I would generally prefer the 'caller dispose' model but I am undecided if it would be a good idea to change what seems to be happening already.

[2019-05-16 10:33] katzz0 commented on #416
@joperezr thanks for the detailed explanation! I see that this behaviour is a combination of a few smaller problems. I just expected to run the sample as people usually with new things to try it out and it seems I picked up the wrong sensor to start with))) I checked the BMP280 binding and it works normally through I2C but I needed to change the default address since it was 0x77 but mine was 0x76.

[2019-05-16 11:35] shaggygi commented on #295
This could probably be closed now.

[2019-05-16 13:52] RobinTTY commented on #416
I was able to reproduce this problem using a Dht11 both on Raspberry Pi 3 Model B and Model B+. I also tested on both Linux and Windows with the same result. I remember timing also being an issue with 1-wire on UWP.

[2019-05-16 15:20] deinok opened #429 "Separate System.Device.I2C from System.Device.Gpio"
In some cases you don't need Gpio access. So splitting this in a more granular way can help reducing the size of the final application.
Also, as I2C dont have native code it could run in more runtimes.

[2019-05-16 15:53] Ellerbach commented on #416
Yes, the timing is very sensitive. As explained in the readme, this can break depending on the platform you are using. I'm far from home where I have everything to test. So won't be able to best at least for a week. My code worked with DHT11 and DHT22, I have code running for quite some time wihtout any issue in .NE Core deployed thru Azure IoT Edge but I haven't updated it with the latest .NET Co

[2019-05-16 18:06] MarkCiliaVincenti commented on #416
Not sure if this is relevant, but I tested on .NET Core on Raspbian on Raspberry Pi 3 Model B+ with DHT22 from dx.com that cost me some 4 euro, so they're probably fake :)

[2019-05-16 18:35] krwq commented on #419
I'm personally in favor of not disposing at all (move the responsibility to the caller) and where Dispose ends up being empty (presumably most of the devices) I'd just drop interface implementation to make it clearer that we do not Dispose anything

[2019-05-16 19:48] joperezr commented on #295
I agree. @JeremyKuhne feel free to reopen in case you think we are still missing something from the interface.

[2019-05-16 19:48] #295 closed

[2019-05-16 19:56] joperezr commented on #429
Hello @deinok. This library isn't very large to begin with so I think that it would be too much overhead if we wanted to split the library into 4 different ones by having one per protocol. And for your suggestion about making it run in more runtimes, the IL targets linux only, so this will be able to be restored and used on any runtime that is linux based. Today, it will only fail on non-arm32 run

[2019-05-16 20:37] shaggygi commented on #429
I always thought from the early days we should have split these into separate libraries... similar to how WinRT did.  However, I wasn't sure how you could expose the internal Interop libraries as it appears to be common code between some of them.  I could be overlooking something here, so it could be possible.

I'm not sure how to get around referencing when creating software implementations unles

[2019-05-17 07:09] deinok commented on #429
@joperezr Let me explain it a bit more.
As dotnet can run in x64, arm, arm64 and its equivalent alpine versions, if we use native code we need to publish the .so for each of this combinations, that would be a lot of size for just using I2C.
In our case we use CoreRT for reducing the size of the final executable.

Also for me seems more natural that if somebody wants to access I2C to add a referenc

[2019-05-17 14:07] JasonKaisersmith opened #433 "No example for PWM"
There are no examples for using PWM.

Therefore, it is difficult for a noobie like myself to use the library.

Example code should always be full and complete and aimed at those with little or no knowledge.

[2019-05-17 14:11] shaggygi commented on #433
@djjaysmith Sorry about that as we do need this.  I plan to kick off a new binding soon that includes PWM support (#225).  However, it will take some time as I want to focus on adding feedback to repo where this type needs improvements (interfaces and such).

[2019-05-17 14:15] djjaysmith commented on #433
Is it not at least possible to post an example here, to enable me to get started?

I have the following, but am getting an exception and am basically stuck!

  PwmController pwmController = new PwmController();
 pwmController.OpenChannel(16, 16);

"The chip number 16 is invalid or is not enabled."

[2019-05-17 14:32] shaggygi commented on #433
I honestly have not used the related APIs yet.  We do have some basic commands you can try out using the [DeviceApiTester utility](https://github.com/dotnet/iot/tree/master/tools/DevicesApiTester).  Hope this helps for now.

[2019-05-17 23:22] joperezr commented on #429
The .so image we PInvoke into is very small in size as all we do is basically a shim to call into libgpiod library which is not part of our package and is something that should be installed on your system, so I don't think that you should be concerned on size of the executable. This is litterally all the code in our .so file: https://github.com/dotnet/iot/blob/master/src/Native/System.Device.Gpio.

[2019-05-20 09:27] deinok commented on #429
Just because seems more intuitive for users to have it splitted. For example, a device with just I2C interfaces should not have GPIO, SPI, etc... code in it.

Also, I have found some problems with having precompiled native code in some embedded devices. For example MUSL based devices.

[2019-05-20 15:21] kurtnelle commented on #399
You can borrow code from my project https://github.com/kurtnelle/BME280Logger or monoculture's project to get the humidity logic.

[2019-05-20 21:21] joperezr commented on #433
Hello @djjaysmith thanks a lot for your submission. Seems like what you are trying to do is correct except that I believe that the channel you have seems to be invalid. It is worth noting that today our main library (the PWMController object you are using) only supports hardware PWM, which is based on a pwm channel and not on a Gpio pin. Do note that the pwm channel is **DIFFERENT** than the pin

[2019-05-20 23:15] joperezr commented on #429
Many .NET libraries are like this already, for example, System.Collections.Generic has pretty much all of our data structures, even though a specific app might just be using List<T> and won't need Dictionary<T> code in it. Honestly making the change now to have this be separate libraries would involve some rather large work items and we are aiming to be close to stabilizing soon, so I would rather

[2019-05-21 08:13] deinok commented on #429
@joperezr Yes, but for example `System.Collections.Generic` don't have native code, and its mostly CPU actions insted of device specific IO.
Also, I would prefer spliting the libs before going stable releases than after.

[2019-05-21 17:13] joperezr commented on #429
I agree that if we were to split the libs we should need to do it before we go stable, but I still don't seem to find enough of a reason for doing it. I guess it is not yet clear to me, but is your primary concern regarding app size? If not, is it just that the name of the library is System.Device.Gpio which for you that implies that you are using Gpio only and not I2C? If the latter, then we can

[2019-05-21 18:09] kurtnelle commented on #348
The issue is implement the SPI version as well. How does one grab and issue?

[2019-05-21 18:18] joperezr commented on #348
Hello @kurtnelle, if you want to take this, then you can create a PR, and mention in your description `Fixes #348` and we will assign you this issue and review the PR. Thanks a lot for  your interest in helping us!

[2019-05-22 08:57] MarkCiliaVincenti opened #444 "Issue with GpioController.Write"
I have the following code:

GpioController gpioController = new GpioController(PinNumberingScheme.Logical, new RaspberryPi3Driver());
gpioController.OpenPin(0, PinMode.Output);
gpioController.OpenPin(1, PinMode.Output);

**GpioCommand("write 0 1");**

        private static string GpioCommand(string arguments)
        {
            Process proc = new Process
            {
                StartInfo

[2019-05-22 17:14] joperezr commented on #444
May be a dumb question, but are you sure that you want to be using the Logical Numbering Scheme when calling pins 0 and 1? those are very special pins reserved for ID_SD and ID_SC so it is usually not a great idea to use them. Also, in your first example you are not changing the modes of pin 1, which I'm not sure if that has anything to do with what you are seeing.

[2019-05-22 21:18] Gnbrkm41 commented on #419
+1 to not disposing at all. Personally I think people will dispose of both the original disposable and the type holding the disposable anyway (that's what I do at least 😛 )
[code]
Like this. `using`s make them pretty easy to do if one has to dispose of both instances anyway.

But I think this is a nice idea as well. Giving them some choice is better than no choice, I guess.

[2019-05-22 23:45] shaggygi commented on #444
@MarkCiliaVincenti While I didn't try your exact code, you can use the [DeviceApiTest utility](https://github.com/dotnet/iot/tree/master/tools/DevicesApiTester) and it appears to work on my RPi3.  Try the following and see if you get similar results

[code]

[2019-05-23 08:01] deinok commented on #429
@joperezr yes, is a mix of size, naming and separation of protocols.

[2019-05-23 16:45] joperezr commented on #419
If they do this, it should be fine with the way we are writing the bindings and our devices, because calling dispose twice should just be a no-op the second time. I'd still argue that disposing them being the default would be better, since I believe that most of the time the I2c or Spi device won't be used other than to initialize the device binding, so it should be ok to assume that we call dispo

[2019-05-23 18:06] krwq commented on #419
@joperezr I'd disagree - for simple tests of devices that will be true but any larger/commercial app will likely use multiple SPI devices and will probably try to reuse the same instance.

Most of the time device bindings don't dispose anything else than SPI/I2C device which suggests perhaps user should just dispose SPI/I2C directly and that devices should not implement dispose pattern

[2019-05-23 21:00] Frankenslag commented on #419
I’m a novice here but I think we need to look at why Dispose is there and as I understand it then it is to release unmanaged resources (file handles for example) when the object is no longer required. So an object should dispose

- unmanaged members. Created within the object.
- managed members that are created  within the object  and they themselves contain managed resources and thus implement ID

[2019-05-24 16:49] joperezr commented on #378
Hey @chrishamm we have made some fixes into the callback registration and have validated that most of the tests we have for eventing scenarios are succeeding, do you mind giving this another try with our new packages? The new package version for System.Device.Gpio is `0.1.0-prerelease.19273.3` and it is located in our blob feed which you can easily add a reference to the blob feed by adding a NuGe

[2019-05-24 16:49] joperezr commented on #378
I'm closing this as I can't repro the issue any longer, but please feel free to reopen if you still see it after consuming the latest package that I mentioned above.

[2019-05-26 22:08] shaggygi opened #457 "Target .NET Core 3 and Standard 2.1"
Is it possible to go ahead and target projects to .NET Core 3.0 and Standad 2.1?  Seems like it would be okay since this is still in preview and really for release around .NET Core 3.

Would be nice to also setup to use latest C# 8 preview so we can begin using features, as well.  Enables us to provide feedback to other teams if we come across issues.

[2019-05-27 01:45] shaggygi commented on #204
If this is implemented, my vote would be to create IPwmPin/PwmPin similar to what is [suggested for IGpioPin/GpioPin](https://github.com/dotnet/iot/issues/215).

[2019-05-27 01:53] shaggygi commented on #126
@joperezr we might need to get focused on this one soon.  Thoughts?

[2019-05-27 01:57] shaggygi commented on #118
@joperezr If the plan for I2C/SPI controllers is to mainly determine best device to use for platform, I still think this [older PR](https://github.com/dotnet/iot/pull/110) is still valid.  Thoughts?

[2019-05-28 17:36] #359 closed

[2019-05-28 17:59] joperezr commented on #457
This is a two-part question so here are my thoughts around that.

With respect to the main library and device bindings targeting .NET Core 3.0 and Standard 2.1, I would rather not do that. We really want to try to keep our main library targeting .NET Standard 2.0, as we want to be able to run in all the places .NET Standard runs on, for example, .NET Core App 2.0 apps, UWP apps, .NET Framework app

[2019-05-28 18:25] #129 closed

[2019-05-28 19:35] joperezr commented on #126
Agreed, all of the issues that are flagged today as 3.0 are things we have to finish in the next few weeks, so we definitely get to this one in the next couple of weeks.

[2019-05-28 19:38] Rickvanderwaal commented on #416
I am experiencing the same issues as described above.

Running on Raspbian on Raspberry Pi 3 Model B+ with DHT22 (AM2302).
Package Iot.Device.Bindings version 0.1.0-prerelease.19278.2.

Testing with the python library from adafruit was successful.
[code]
It would be nice if i could read the sensor in .NET Core. I am using the following code:
[code]

Above example gives me the following output:
![i

[2019-05-28 19:52] joperezr commented on #378
Yes, we currently don't have a good way of checking the throughput for a high concentration of events. The way we do it today is by using epoll and the sysfs Apis so that we get a notification everytime the value changes. That said, epoll solution doesn't scale very easily and the value file doesn't always detect the change if it happens too fast. AFAIK WiringPi was doing something similar, but we

[2019-05-28 20:10] joperezr commented on #416
cc @ZhangGaoxing do you mind taking a look to see if that's expected?

[2019-05-28 21:28] shaggygi commented on #457
Response on .NET Core 3 is understood and makes more sense.  I mainly was asking as I thought I read the new default interface feature in C#8 required a later runtime.  I don't think it is a requirement on something I was tinkering with, so I can hold off on that.

Regarding C# 8 preview, what do we need to turn on within local projects, repo files?  Anything need to be changed in build pipeline t

[2019-05-28 22:53] joperezr commented on #457
I think it depends on which feature but I don't believe that all of them require the latest runtime, but I may be wrong. I'll dig more info on this. Regarding if we need to change anything else on the infrastructure side, we are already using a preview version of the SDK to build and an even newer version of the compilers, so it should be straight forward to update to whichever version of the comp

[2019-05-29 02:54] ZhangGaoxing commented on #416
OK, I'll check it again.

[2019-05-29 09:45] chrishamm commented on #378
Thank you, will do!

[2019-05-29 10:00] chrishamm opened #458 "Implement better way to check for pin changes"
When a pin change event is registered, the GpioController starts polling pins in discrete time intervals which makes it difficult to use it for more or less time-critical applications. In my case, it is not called every time an event occurs. For my current application I need to react to such an event more than 1000 times per second and the GpioController seems to max out at approx. 230 pulses/sec,

[2019-05-30 10:11] Frankenslag opened #463 "Is the ICommand interface necessary for display bindings."
I am writing a binding for the Ssd1351 display controller and have recently submitted a PR #442 for the same that is being reviewed by @joperezr  and @krwq  so far.

My intent was to follow the way that @shaggygi engineered the Ssd1306 binding where an ICommand interface was used and then classes created for each command to be submitted like below

`device.SendCommand(new SetContrastABC(0xC8, 0x80

[2019-05-30 10:31] shaggygi commented on #463
I'm on the fence for this approach.  I thought it was better at the time for separation, testing, and possible future simulations.  Although, we could get around this when we focus on #231.

My vote is to add the preferred method either in [Contributing to Binding](https://github.com/dotnet/iot/tree/master/src/devices#contributing-a-binding) or [Coding Guidelines](https://github.com/dotnet/iot/blo

[2019-05-30 11:29] shaggygi commented on #463
Mcp25xxx is another binding where we used interfaces.  See [IRegister](https://github.com/dotnet/iot/blob/26e1b07557ce650d3110769262a27b50f38650be/src/devices/Mcp25xxx/Register/IRegister.cs).

In the case with this binding, there were dozens of registers.  Many registers were structured differently making up the bits of a byte that represented the register.   It seemed more appropriate to pass as

[2019-05-30 17:29] krwq commented on #463
I'm marking this as 3.0 issue but scope for 3.0 is only clarifying the guidelines and not the refactoring.

[2019-05-30 17:30] joperezr commented on #458
Thanks for logging this @chrishamm. Would you mind trying your scenario using our Libgpiod driver? I believe that one should be more performant in terms of event handling so that might suit your needs.
In order to try it, you would have to install libgpiod library by running [this script](https://github.com/adafruit/Raspberry-Pi-Installer-Scripts/blob/master/libgpiod.sh) once in your board and the

[2019-05-31 09:53] Frankenslag commented on #463
@krwq Are you suggesting that  I remove ICommands from PR #442 and replace them with direct methods or that I can leave as-is for now and we look at it when guidelines are clearer ?

[2019-05-31 19:04] joperezr commented on #463
@Frankenslag I would suggest you keep them as ICommands for now, and then once we make a decision on the right model we go and change all of the bindings impacted. I'd like to keep consistency if we can, so let's keep consistency for now.

[2019-05-31 20:42] krwq commented on #463
@Frankenslag I'd personally leave it as is and do any refactoring if needed in separate PR after the issue is resolved although we don't have clear guidelines yet so if you've already done/almost finished refactoring locally it's fine to refactor as well (we can revert commit if we decide ICommand is the way to go) - if you haven't started I wouldn't start just yet.

[2019-05-31 22:02] erikmf12 opened #466 "Get current PinValue of output pin"
I would like to be able to get the value of a pin set for output. I know you can't 'read' from an output, but the controller could save the pinvalues of open pins set to output, and whether they're set high or low. Is this something that would be useful in these classes or would this logic best be kept in calling code?

[2019-05-31 22:11] shaggygi commented on #466
This appears to be a duplicate of #183.  If you can, please add notes on that thread and close this issue.  Thx

[2019-05-31 22:18] erikmf12 commented on #466
@shaggygi  Sorry, I missed them talking about actually reading an output pin - I stopped when I read 'it isn't possible'.

[2019-05-31 22:18] #466 closed

[2019-06-01 05:59] krwq commented on #419
To sum up this thread after talking to @tarekgh and @joperezr:

- I2cDevice and SpiDevice are bound to specific devices: (for I2C we talk to specific devices on specific addresses and for SPI we got specific CS pin assigned to specific device) which means one instance per class
- GpioController can be used by multiple devices at the same time independently

Given that I think lifetime of SpiDevice

[2019-06-02 00:13] shaggygi commented on #457
If I understood correctly, @MadsTorgersen mentioned at the C# Build 2019 session the default interface feature requires runtime changes.  This might not mean it requires .NET Core v3, but that's how I took it.  Anywhos, at least we can begin updating with other features for now.  We can close this now if you're good?

[2019-06-02 11:46] shaggygi commented on #429
I originally wanted to see this separation, as well.  At first, it seems logical to separate... if I'm using SPI, then that's the only library I want.  But if you start getting into the code (and see some of the current issues/features that need to be added, you'll notice it creates a little more complexity to manage long term.

IMO, I don't believe we will be separating the 4 types at this point

[2019-06-02 12:17] shaggygi commented on #444
I'd say go ahead and close this issue for no activity.  The code in the command mentioned above is similar to what is reported and appears to work.

[code]

[2019-06-02 12:25] MarkCiliaVincenti commented on #444
If you please allow me more time I will test this soon. I didn't find the time just yet.

[2019-06-02 20:48] Rickvanderwaal commented on #416
I looked into the source code and found the following issue,

Reading the bytes from the DHT22 seems to be correct but translating the bytes to humidity/temperature seems to be the issue.

DhtSensor.cs line 297 results in a temperature of 1.3°.
[code]

When i replace the formula with the following code, the result of the temperature is 25.9°. Which is correct.
[code]

The same issue with humidity.

[2019-06-03 08:10] deinok commented on #429
Could you point me to some of this examples? It could help me understand better why is not splitted by default.

[2019-06-03 09:32] shaggygi commented on #429
An area I would start with is the Interop folder.

[2019-06-03 22:22] joperezr commented on #419
That sounds good to me except for one caveat. GpioController's suggestion would be to always try to create and dispose within the code of the binding, since there is really no use/advantage of passing one in in the constructor. This eliminates the whole ownership problem, and it also allows you to still have a GpioController object outside of the binding's code.

[2019-06-03 22:30] joperezr commented on #457
Yes, there are a bunch of features that do require the new runtime, but as you saw in  your switch PR there are some that won't require it. Sounds good, I'll close this for now, but feel free to reopen if you find any reason why we might want to retarget, since if such a case would exist, then we might think in cross-compiling for both netcoreapp2.1 and netcoreapp3.0

[2019-06-03 22:30] #457 closed

[2019-06-04 02:35] krwq commented on #419
@joperezr what about GPIO expanders such as i.e. https://github.com/dotnet/iot/tree/master/src/devices/Pca95x4? I wouldn't expect GpioController. I.e. if you don't allow passing one in the constructor you cannot make character LCDs to work on expander

[2019-06-04 05:30] Frankenslag commented on #463
Ok. When I get back from vacation I will attend to the other comments in #442

[2019-06-04 12:19] shaggygi commented on #125
Referencing #456

[2019-06-04 13:24] deinok commented on #429
@shaggygi All I can see is wrappers around system calls and wrappers around libgpiod. Something that doesn't look like a problem for splitting the libs and concepts

[2019-06-04 16:39] joperezr commented on #419
That is a good point. To me what makes most sense with GpioController getting passed in(either a regular controller or a IGpioController) then we shouldn't dispose by default as you suggest. So then we are in agreement that SpiDevice and I2cDevice to do it by default and don't do it for GpioController when passed in.

[2019-06-04 23:20] joperezr commented on #429
It is probably hard to see the relation right now given that we don't yet have classes for software implementation of I2c and SPI, but eventually we will add them and that will make SPI and I2C tightly coupled with GPIO which is why we also envisioned them all in the same library. As for the board specific drivers (RaspberryPi and HummingBoard) I do agree that we can probably move those to their o

[2019-06-04 23:29] shaggygi commented on #429
To add to @joperezr, see [this proposal](https://github.com/dotnet/iot/issues/122) and it will make a little more sense on coupling.

[2019-06-05 07:05] deinok commented on #429
Hmmm, I think I see the point now, for the moment the libraries seem pretty decoupled. But doing things like SPI over GPIO couples this two one. The same for I2C over GPIO, etc...

[2019-06-05 10:10] shaggygi commented on #122
I think the constructor would still use `SpiConnectionSettings`.  Now that `SpiConnectionSettings` include `ChipSelectLineActiveState`,  `DataFlow`, and `DataBitLength`, it would make it easier to configure.  But as mentioned, it should also have the GPIO pins.

[code]

[2019-06-06 20:11] MaklaCof opened #478 "Error when trying to set speed of L298N H-Bridge (question how to)"
I am trying to do a "HelloWord"  asp.net core application. I would like to control motor speed through web page.

But I don't know how to properly set motor speed. My code is:
[code]
With pin `23`, `24` and `25` I get error:

I also try to set pin `33`, `35`, `37`, but I get

I get pin numbers from [here](https://pi4j.com/1.2/pins/model-3b-plus-rev1.html).
What did I do wrong.
I connected pins to

[2019-06-06 23:46] #263 closed

[2019-06-07 16:18] joperezr commented on #478
@krwq do you mind taking a look here? From what I can tell, @MaklaCof is just following your sample from here:

https://github.com/dotnet/iot/blob/8f0a4a533867417844e72d045d66c1eb0e734ebc/src/devices/DCMotor/samples/Program.cs#L40-L51

so I would'nt expect the errors that he is seeing.

I believe you are using Physical/Board pin numbering, and I believe that this binding is using Logical numbering

[2019-06-07 16:58] krwq commented on #478
@MaklaCof the issue looks like what @joperezr mentioned, if you still find any issues please make a picture or create Fritzing diagram of how you connected your motor, if there are still any issues after validating I will take a look if we somehow didn't regress this scenario.

[2019-06-07 17:02] MaklaCof commented on #478
Ok, fine thank you.
I am not sure how wrongly connected pin triggers exception, but sound logic to me that I first try to connect correctly all the pins. I will update the thread in few hours when I get from work.

[2019-06-07 18:03] krwq commented on #478
@joperezr as part of this issue it might be worth checking what's our behavior when you try to open/write to the bogus pin

[2019-06-08 09:17] katzz0 commented on #416
My code still doesn't work. I tried DHT11 and DHT22 and reading isn't successful so the result is the same:

[code]

These are my files:
Program.cs
[code]

dht22.csproj
[code]

I use `dotnet publish -r linux-arm --self-contained false` to create the deployable program.

[2019-06-08 09:53] katzz0 commented on #416
When I tried  to clone Iot project through git and build the sample for DhtXX I got it working but it asked me to install .Net Core 3.0 preview and produced the build for 2.1. Below you can see the result:

<img width="433" alt="DHT11_readings" src="https://user-images.githubusercontent.com/3775283/59145412-dffd1f00-89e3-11e9-81af-6bf7d3e687af.png">

IMHO it doesn't seem stable. And I'm keen on ma

[2019-06-08 20:48] Rickvanderwaal commented on #416
@katzz0 Which specific version of IoT.Device.Bindings are you using because you are using a wildcard in the .csproj. Have you added the dotnet-iot package source for nuget ? (https://dotnetfeed.blob.core.windows.net/dotnet-iot/index.json)

Also try to publish your project in release mode because of better performance. `dotnet publish --configuration release --runtime linux-arm`

You said it worked

[2019-06-09 01:32] techniq commented on #355
Took some trial and error, but I was finally able to install/upgarde from the blob storage using
[code]

A few notes:
- Pay attentional to the url better than I did.  I was trying to use `dotnet-core` instead of `dotnet-iot` as I missed this detail between this [comment](https://github.com/dotnet/iot/issues/355#issuecomment-481840500) and this [one](https://github.com/dotnet/iot/issues/355#issueco

[2019-06-09 06:07] MaklaCof commented on #478
Ok here are findings:

- First I correctly connect pins, and code/motor start working.
- Then I set error handling [link](https://code-maze.com/global-error-handling-aspnetcore/)
Strange is that with my old code I get random error when API function end. (I think when dispose is called).
Sometimes I could call my API 10 times, sometimes 2 times ... Even stranger is, that application completely cras

[2019-06-10 04:31] krwq commented on #478
Do you call dispose at any other time than end? is it possible that some code still runs after dispose (i.e. thread running, setting speed or something)

How does it crash? Are you getting any exception message? (can you copy the whole output related to exception?)

Especially randomness sounds like something running in a different thread - I'd expect this to be rather deterministic unless the cod

[2019-06-10 15:09] shaggygi commented on #418
Just a side note... if Microsoft wants to get serious about this topic, it should try to put some weight behind the support for [Common Data Model (CDM)](https://github.com/microsoft/CDM) and [Open Data Initiative (ODI)](https://www.microsoft.com/en-us/open-data-initiative).  It seems like a better bigger picture and appears like the [IoT Plug and Play DTDL](https://github.com/Azure/IoTPlugandPlay

[2019-06-10 17:04] #19 closed

[2019-06-10 18:34] MaklaCof commented on #478
About number 1.
This is true, but not happening right now, since I am the only one triggering operations on dictionary.

About number 2.
This is not true. Controller is disposed immediately when API function is executed. In my case, that means that exception is triggered and motor stops.

Error is:

This lego motor are more or less standard ([image](http://www.philohome.com/pf/diagram.gif) from [h

[2019-06-10 23:27] maloo commented on #345
@vitek-karas I tried
`    <RuntimeIdentifier>linux-arm</RuntimeIdentifier>`
`    <SelfContained>false</SelfContained>`
as a temporary workaround in VS. But then I only get the managed dll. Do I need some other property set to get the native one (System.Device.Gpio.Native.so)?
Removing SelfContained gives me _all_ files (about 200). And linux-arm + self contained false gives me all I need except th

[2019-06-10 23:35] monty124 commented on #345
@maloo
If you've added this to your csproj file

<PropertyGroup>
..
<RuntimeIdentifiers>linux-arm</RuntimeIdentifiers>
 ..
</PropertyGroup>

and then selected linux-arm in your publish settings you should get files you need. I just checked my publish settings and output and its working.

[2019-06-10 23:52] maloo commented on #345
@monty124
Yes, that's what I've used the last couple of months. But then ssh-deploy have about 200 files to copy over to my Pi at every deploy. So I wanted to limit this (using .Net core installed on the Pi) by adding SelfContained=false. And it worked. I just fixed a bug in the Iot package and temporarily used direct dll references to my local build instead of the nuget. But I missed adding the .

[2019-06-11 00:22] krwq commented on #345
another way to limit the transfer is to use `rsync` which copies incrementally

[2019-06-11 09:22] maloo commented on #345
@krwq
Do you have a PostBuild event example (to paste in csproj)? Is rsync part of Win10? I use ssh-deploy in VS now and it has no incremental support. I really hope VS will add built in ssh deploy and F5 deploy+remote debug by Core 3.0 release ;) . Just like you have for C++.

[2019-06-11 11:01] JawadJaber opened #491 ".Net Core on Raspberry Pi 3 A+"
It is [stated](https://github.com/dotnet/iot/tree/master/samples) that .Net Core does not work on RP models A. But as per [this](https://www.modmypi.com/blog/raspberry-pi-comparison-table), RP model 3A+ is with ARMv8-A which is same as RP 3B model. So please confirm or revise the page if necessary.

[2019-06-11 16:44] joperezr commented on #491
@JawadJaber thanks for catching that, do you have a Pi 3A+? We don't currently have one to test with, so if you have validated that .NET Core runs well on it then we can go and fix the docs so that we mention that A+ should also work.

[2019-06-11 17:32] joperezr commented on #345
It is worth noting that we will be removing the need of System.Device.Gpio.Native.so from our package, since we will now PInvoke directly into libgpiod.so. When we do that, then this problem will go away.

[2019-06-11 18:43] krwq commented on #345
@maloo it's installed on linux by default, I think WSL has it, unfortunatelly I only wrote script which builds csproj and then runs rsync:

[code]

presumably you'll need to wrap it with ssh to your WSL first (assuming you already got pri key, `ssh localhost rsync -r ....` and adjust directories) but I haven't tried it

[2019-06-11 19:56] joshfree commented on #146
marking this as up-for-grabs in case someone from the community wants to fix this before developers here can get to this issue

[2019-06-11 19:58] joshfree commented on #330
Moving to Future milestone and marking as up-for-grabs

[2019-06-12 01:17] shaggygi commented on #491
@joperezr I purchased one of these a few weeks back, but never got around setting up.  I installed Raspbian tonight and was able to write values using DeviceApiTester with GPIO commands.  I haven't tried other types like I2C and SPI yet, but I'd bet those work, as well.  I'll try to do some basic write tests with those this weekend to double-check.

[2019-06-12 03:26] monty124 commented on #345
winscp can also keep a remote directory up to date without synching all files too. thats what i use (setup and run in the background)

[2019-06-12 06:33] JawadJaber commented on #491
@joperezr I ordered Pi 3A+ and is not delivered yet, I have dotnet core that is under production with Pi 3B, 3B+. Once received, I will deploy my dotnet core for testing and inform you.

[2019-06-12 08:55] benbuckland commented on #416
Hi, i'm facing the same issue, returns data sporadically but even when it does it appears to be wrong :( Im using 19310.5 version of packages.

[2019-06-12 18:24] shaggygi commented on #429
@joperezr Seems like we can close this now based on the last few comments?

[2019-06-12 21:05] joperezr commented on #491
@shaggygi @JawadJaber thanks so much to both of you for checking. Once you confirm I'll go ahead and update our docs. The fact that .NET Core runs fine for @shaggygi makes me think that there shouldn't be any problems but it would be great to just double check I2C and SPI if possible 😄

[2019-06-12 21:08] joperezr commented on #416
The version that @benbuckland mentions is Preview6 which was released yesterday, so this does mean that the problem repros on latest build (so I'm reopening the issue). There is a PR out by @Rickvanderwaal that will hopefully fix this issue, and should be merged pretty soon.

[2019-06-12 21:11] benbuckland commented on #416
@joperezr Very happy to help out so please let me know if there is anything I can do!

[2019-06-12 21:13] joperezr commented on #416
Once we merge that PR, it would be great if you can update to reference that version of the package to see if that fixes the issue for you.

[2019-06-12 21:40] joperezr commented on #429
Agreed 👍 . Closing

[2019-06-12 21:40] #429 closed

[2019-06-13 07:02] krwq opened #498 "SenseHat does not create appropriate I2C devices"
Problem is that we do not have a generic way to create I2C/SPI on Windows and Linux (i.e. I2cDevice.Create(..)).

I.e. https://github.com/krwq/iot/blob/master/src/devices/SenseHat/SenseHatLedMatrixI2c.cs#L142

this is causing that users have to use workarounds in order to use SenseHat on Windows.

cc: @joperezr

[2019-06-13 09:00] chrishamm commented on #458
I'm sorry but I cannot test it because I have to deploy my software as a binary package and I don't want to ship kernel-dependent code. The code example I gave you uses only ioctl + file read for event detection and both are already being used in System.Devices.Gpio AFAIR. That's why I would really prefer an implementation based on that.

[2019-06-13 09:32] shaggygi commented on #498
Referencing https://github.com/dotnet/iot/issues/118#issuecomment-496053073

[2019-06-13 15:36] krwq commented on #498
I'm seeing 2 options:
- long term: System.Device: SpiDevice.Create/I2cDevice.Create
- short term: Iot.Device.Binding: GenericSpiDevice/GenericI2cDevice (put it somewhere in the common folder)

[2019-06-13 21:02] joperezr commented on #458
That's reasonable, I do know that our libgpiod-driver is much more efficient when it comes to event detection, but we should make sure that our other drivers are better. The code you pointed at is GPL license so we can't take a look at it and port it, but I'll leave this issue tracking the work of investigating how to implement the event detection mechanism with ioctl for the RaspberryPiDriver and

[2019-06-13 21:10] joperezr commented on #498
I agree with @shaggygi, this is a dupe of #118 and honestly I wouldn't rush adding any of the two solutions, and instead implement a proper SpiController and I2cController. I think adding these is not blocking 3.0 as what our bindings currently do is to take a SpiDevice or a I2cDevice in their constructor, but it would be a nice to have. I'm closing this as a dupe, but @krwq feel free to add your

[2019-06-13 21:12] Rickvanderwaal commented on #416
@benbuckland you are right, i only solved the incorrect measurements for dht22 because i think that is the most important.
I agree we should work om the reliability. I do have Some idea’s but those are not backwards compatible. I think the current public methods/properties of the DHTSensor class are confusing and maybe that is the problem for reliability too.
Maybe we should create another issue f

[2019-06-14 18:17] joperezr commented on #416
Agreed. Let's use this one to make sure that the actual device works (although not reliable) which should be fixed with @Rickvanderwaal PR. We can then log an additional one just for reliability.

[2019-06-15 18:23] shaggygi commented on #119
@joperezr Please reopen this and assign to me.  New proposal notes are in the works.  Hope to post soon.  Thx.

[2019-06-15 18:25] shaggygi commented on #118
@joperezr Since this is labeled as 'up-for-grabs', please assign to me.  I came up with some good thoughts this week and currently working on proposal notes to add here soon.

I originally opened this issue specifically for I2C and another SPI (#119), but we later thought it could be combined.  My proposals will be big enough to justify separate reviews and implementations, so I renamed issues bac

[2019-06-16 03:50] shaggygi commented on #126
@joperezr I updated the I2C and SPI parts in initial proposal above.  Hope to have more details on #118 and #119 soon.

[2019-06-16 10:54] shaggygi commented on #125
We now have `IGpioController` and `IPwmController` in the APIs.  I'm going to go ahead and close this since we have other issues opened for other types.  See the following for details.

- [[Proposal] I2cController and II2cController](https://github.com/dotnet/iot/issues/118)
- [[Proposal] SpiController and ISpiController](https://github.com/dotnet/iot/issues/119)
- [Add System.Device.Adc.*](https:

[2019-06-16 10:54] #125 closed

[2019-06-16 12:15] shaggygi commented on #118
@joperezr @krwq Proposal was updated above.  Please review when you get a few minutes.  Thx

[2019-06-16 21:55] shaggygi commented on #118
After getting into development and the weeds for this proposal, I needed to make a slight change to include the bus ID as a way to manage devices.  This makes it one extra parameter, but believe it makes more sense while comparing to `PwmController` (chip/channel) and how the `SpiController` (bus ID/chip select line) will work.  In addition, this change makes it easier to work with a device that c

[2019-06-17 04:35] krwq commented on #118
@joperezr I think we should address this as part of 3.0, especially if @shaggygi is willing to help fix this

[2019-06-17 10:59] shaggygi commented on #498
This should actually be reopened even though this discussion is related to ideas how to fix the issue.

We can fix/update the SenseHat binding and close this issue after #118 is completed.

[2019-06-17 17:25] #416 closed

[2019-06-17 18:07] joperezr commented on #118
In general the proposal looks great thanks a lot for working on this @shaggygi

Here are some thoughts on the above proposal:

1. Regarding the II2cController interface members:
[code]
I believe that in order to echo a bit more of what we are doing with the other controllers (Gpio and PWM) we should instead use Open and Close instead of Add and Remove, just so that it feels that the API is familia

[2019-06-17 18:09] joperezr commented on #126
I saw the comment on the I2c proposal about this. I think having that change is fine.

[2019-06-17 21:08] #345 closed

[2019-06-17 22:00] shaggygi commented on #118
@joperezr Thanks for the feedback.  Here are some notes.

1. I sort of like Add/Remove better, but it is better to keep similar to the other controllers.  I updated to Open/Close.
2. I was on the fence on adding parameters to constructors, but was thinking it'd make it easy to quickly add a device while creating the controller.  We don't add pins for the GPIO/PWM controllers, so I removed to keep

[2019-06-17 22:18] shaggygi commented on #118
Note to self related to disposing...

What if we used `ShouldDisposeDevices ` property as @joperezr mentioned above  where if `true`, it would dispose all opened devices when disposing the controller.

We could add a 2nd `ShouldDisposeDevice`  parameter for `CloseDevice` method.  This could be an optional parameter and defulat to `true`.  If set to false, the might want to continue use elsewhere?

[2019-06-18 06:55] krwq commented on #491
Raspberry Pi 3 A+ work correctly on my PIs.

[2019-06-18 16:52] joperezr commented on #118
I like the idea, but the problem is that you might have the case where people will dispose the controller without closing the device. In this case, should the device be disposed? One alternative is to have that optional parameter of shouldDispose passed in when calling OpenDevice, that way you could even pick which devices in the controller would get automaticly disposed, and which ones will be pr

[2019-06-18 17:15] joperezr commented on #491
Great, I'll leave this open though in order to track the change in the docs to say we do work there properly.

[2019-06-18 18:56] shaggygi commented on #118
@joperezr I think we're on the same page.  I'm thinking (and beginning to document in proposal above in section 3) we could have a `ShouldDispose` for both controller and devices.  This would allow the various scenarios of when/what to dispose.  It would be more of a default value of `true` as that would be what is expected in most cases.  I like have as just a default value instead of passing `Op

[2019-06-18 22:03] shaggygi opened #508 "TCA9548 Low-Voltage 8-Channel I2C Switch"
The TCA9548 is basically an I2C multiplexer that branches out to more I2C buses.
**Datasheet**: http://www.ti.com/lit/ds/symlink/tca9548a.pdf

[2019-06-18 23:27] krwq commented on #177
I'm closing this since https://github.com/dotnet/iot/pull/438 is already merged. We can improve on the design and possibly adjust MCP2515 bindings to expose similar interface to what SocketCan offers.

Going forward I think these will mature a bit better once we start adding CAN based devices/libraries

[2019-06-18 23:27] #177 closed

[2019-06-19 21:43] shaggygi commented on #347
While I'm just speculating with the work on `I2cController`, we could eventual evolve the IGpioController to manage GpioPins (or IGpioPins) instead.  This way, you could possibly have a `ShouldDispose` property like we might be adding to `I2cDevice`.

[2019-06-19 23:10] #399 closed

[2019-06-21 17:21] #491 closed

[2019-06-22 17:19] shaggygi opened #519 "UnixI2cDevice.Linux.cs Calls Initialize each time"
In the UnixI2cDevice.Linux.cs `I2cDevice` class, it calls Initialize method every time for Reads/Writes.  Should this be called once when instantiating object or is there more low-level things going on that it needs to check?

The main thing I can see it trying is setting up using the DevicePath.  With the pattern of using Create method from controller, you wouldn't know to update the path unless

[2019-06-23 17:14] shaggygi commented on #508
There's more devices in the family, so structure appropriately.

https://www.nxp.com/docs/en/application-note/AN262.pdf

[2019-06-25 10:24] shaggygi opened #524 "Raspberry Pi 4 Model B Support"
Most likely is supported, but needs to be verified and added to [list](https://github.com/dotnet/iot/tree/master/samples#requirements).

https://www.raspberrypi.org/blog/raspberry-pi-4-on-sale-now-from-35/

EDIT (@krwq)
Seems Raspberry Pi 4 is supported but we need to update board detection logic and pick LibgpiodDriver automatically

[2019-06-25 21:58] joperezr commented on #524
Awesome, yeah I saw the announcement yesterday. I'm almost sure that .net core should run just fine there, so we shouldn't have to worry but it is nice to have this to be able to track the documentation change.

[2019-06-25 22:39] #118 closed

[2019-06-26 00:58] shaggygi commented on #126
@joperezr @krwq Now that I2C and SPI is winding down, would it be possible to go ahead and put in a PR for updating the related Drivers > Devices folders and namespaces?  I could probably complete those 2 parts of this issue over the weekend.

Related to those, the only thing I had a question on was moving the xxxDevice.cs to the folder.  I like those being grouped with the other ...Device.cs file

[2019-06-26 01:04] krwq commented on #126
@shaggygi do you mean specifically those 3:

- Folder renamed from "Drivers" to "Devices"
- Namespaces be renamed from "System.Device.I2c.Drivers" to "System.Device.I2c.Devices"
- I2cDevice.cs moved to Devices folder

@joperezr are you ok with that? It looks fine with me

regardless - could you make sure to do any file renames (+ csproj adjustments) in a separate commit to make it easier commit?

[2019-06-26 01:12] shaggygi commented on #126
@krwq yup, those are the 3 things to focus on for both.  I can do separate PRs for each type if that helps break down since this is breaking changes.

[2019-06-26 05:03] krwq commented on #126
@shaggygi assuming @joperezr agrees with this work I think ideally I'd at minimum PRs but more depending on the diff size:
- all renames, no namespace changes, don't touch .cs files, only adjust paths in csproj - otherwise the diff might break
- rename namespaces one by one (make sure to update all READMEs and things like that), you can add more to fill up to say 500 lines of code diff

[2019-06-26 16:10] #119 closed

[2019-06-26 20:29] joperezr commented on #126
@shaggygi those three changes that @krwq mentioned above are approved.

[2019-06-27 07:08] #498 closed

[2019-06-27 14:55] dobova86 commented on #524
Not working for me under netcore 3.0 preview6. The code is working fine on pi 3/3+/cm3+.
Pi 4 (2GB) with Buster installed. Unless I forgot some dependancy for System.Device.Gpio.Driver on the Pi 4 ...

[2019-06-27 15:54] joperezr commented on #524
mm interesting, I wonder if that has anything to do with buster being installed instead of Raspbian. Can you see the file `/dev/gpiomem`? Are you running as sudo?

[2019-06-27 16:11] dobova86 commented on #524
Hi @joperezr , I'm using official Pi Raspbian Buster distribution downloaded from the Raspberrypi site.
The file /dev/gpiomem has root, gpio:

using sudo same exception.
Maybe I need to grant "pi" user the "gpio" group .

[2019-06-28 09:45] dobova86 commented on #524
If it can help, the problem is related to Pi 4. I compiled a blink test (iot/sample), and on Pi4 Buster I get the exception (user pi or root), but with the same Buster on a Pi3, it is working fine.

[code]
The Interop.open and/or Interop.mmap is not working on Pi4.

[2019-06-28 17:00] joperezr commented on #524
Interesting. Can you try a couple of other scenarios as well:

1. What happens if you force the use of the sysfs driver, does that work?
[code]
2. What happens if you install libgpiod library and then force the use of the libgpiod driver. To install libgpiod, download and run the following commands
[code]
And after installing modify your controller so that it is newed up like this:
[code]

Thanks

[2019-06-28 17:09] dobova86 commented on #524
I will do, and let youk know the result... but very very strange behaviour.

[2019-06-28 23:46] krwq opened #534 "Unify platform specific implementations of I2cDevice/SpiDevice into one class"
- Make WindowsI2cDevice/LinuxI2cDevice single non-abstract class I2cDevice
- `I2cDevice.Create` => `new I2cDevice()`

open questions:
- should we have II2cDevice interface or rather have I2cDevice be unsealed
  - personally leaning toward no interface because we won't be able to add any APIs to I2cDevice after we do that and ship - on the other hand lack of clear abstraction is weird - perhaps we

[2019-06-28 23:51] krwq commented on #519
we should call it once I think. If user creates a device they will most likely use it so not much benefit from delaying that.

I'm not sure I understand second paragraph of this issue.

[2019-06-29 00:00] shaggygi commented on #534
How would we implement a GpioI2cDevice?  Is this where GenericI2cDevice comes into play?

[2019-06-29 00:06] krwq commented on #534
GpioI2cDevice/SoftI2cDevice assuming we don't pick the interface would derive from I2cDevice.

The only thing is that without GenericI2cDevice the abstraction for I2cDevice will be kinda weird (software implementation would not use anything from that class - it would just reuse the public surface).

On the other hand GenericI2cDevice is just awkward from naming and discoverability point of view (w

[2019-06-29 00:07] shaggygi commented on #519
The class has a default path...

`private const string DefaultDevicePath = "/dev/i2c";`

I'm assuming this is where I2C low-level code is installed on Linux.  Each time it calls Initialize method, it gets the path from DevicePath which the default path and bus ID.  I guess one could instantiate the I2cDevice object and later change the DevicePath if needed.

I just  don't see the need to change th

[2019-06-29 00:36] shaggygi commented on #534
I might be overlooking this new direction, but I'm thinking we keep the `I2cDevice` and update it based on your recent comments where it can determine whether its for Linux or Windows.  This would implement `II2cDevice`.

Then the `GpioI2cDevice/SoftI2cDevice` could implement `II2cDevice`, as well.

We could pass `II2cDevice` to binding constructors similar to how we do `IGpioController`.  We coul

[2019-06-29 00:56] krwq commented on #519
@shaggygi yes, we don't need to change that (also there is chroot)

[2019-06-29 02:02] shaggygi commented on #534
Thinking a little more on this... why not consolidate to the following files...
**NOTE**: I changed all this locally and compiles, but have not tested.

[code]

[code]

[code]

[2019-06-29 04:05] krwq commented on #534
I've talked with @bartonjs offline about the design and I believe we should go with more or less following direction (we are currently very close to that):

[code]

- interface is no-go for now - since we can't add anything to it in the future this will likely be a problem sooner than later
- Linux/WindowsI2cDevice should not be public unless we have a reason to make them public (same for other AP

[2019-06-29 07:58] dobova86 commented on #524
@joperezr using SysFsDriver() it works but only as "root" using sudo. As a user it does throw an exception:

As a user "pi" I can execute 'echo "out" /sys/class/gpio/gpio27/direction'  without any issue.

[2019-06-29 08:02] dobova86 commented on #524
**Interesting enough, _LibGpiodDriver()_ works flawless (as user pi and as root), NO Exception throwned !!**

[2019-06-29 08:10] dobova86 commented on #524
After compiling libgpiod, and modified blink test **it is working fine, no exception.**

[2019-06-29 14:13] shaggygi commented on #534
This is how I interpret the direction...

* `UnixI2cDevice` and `WindowsI2cDevice` can be changed to internal instead of public.  Since it will be called privately within API, we can remove **UnixI2cDevice.Windows.cs** and **Windows10I2cDevice.Linux.cs** files.

* We can create a future software implementation, but also keep it internal.  It can be created similar to the following.

[code]

* Abov

[2019-06-29 14:52] shaggygi commented on #534
One area this breaks is the DevicApiTester utility.  I was able to update and compiles locally.

https://github.com/dotnet/iot/blob/833728c8f7dedf4b5699a5c93863eb7a9ab2f155/tools/DevicesApiTester/Commands/I2c/I2cDriverType.cs#L10

This shouldn't be a biggie though as the commands could be simplified by removing Device parameter and update `CreateI2Device` method to new `I2cDevice.Create`.

[code]

[2019-06-29 19:17] shaggygi commented on #534
Side question...  since we are changing file names, would it be appropriate to go ahead and rename the following since it is based on WinRT?  Just curious.

[code]

[2019-06-30 17:02] shaggygi opened #536 "SetPinMode IsPinModeSupported for RaspberryPi3Driver does nothing"
Came across this today, but have not reviewed on what it should do.

SetPinMode method calls IsPinModeSupported, but doesn't do anything whether it is true/false.

https://github.com/dotnet/iot/blob/833728c8f7dedf4b5699a5c93863eb7a9ab2f155/src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.Linux.cs#L163

[2019-06-30 17:59] Frankenslag commented on #524
I am also seeing this issue. I haven't tried the libgpiod solution.

[2019-06-30 18:25] krwq commented on #536
looks like a bug, probably should be:
if (!IsPinModeSupported(...))
  throw new ArgumentException(nameof(mode));

or perhaps NotSupportedException, not sure

[2019-06-30 18:26] shaggygi commented on #536
Yeah, I found another area that calls this and throws if false.

[2019-06-30 20:46] krwq commented on #534
@shaggygi corefx convention would be (GenericI2cDevice is internal):
GenericI2cDevice.WinRT.cs

[2019-07-01 00:07] kmate95 commented on #534
Wouldn't making GenericI2cDevice internal and not providing an interface cripple future extensibility?
Like virtual devices in #78.

[2019-07-01 00:43] shaggygi commented on #534
@kmate95 No, the plan is to continue having `I2cDevice` so you'll still be able to implement your own and pass to bindings.  This internal approach would be more for creating and providing the defaults for 1) Linux/Windows and 2) software types using specified GPIO pins and controller.

[code]

[2019-07-01 00:51] kmate95 commented on #534
@shaggygi  Thanks for clarifying.

[2019-07-01 04:45] krwq commented on #524
we need to update board detection logic and pick LibgpiodDriver automatically. cc: @buyaa-n

[2019-07-01 07:10] Frankenslag commented on #524
I am not sure that this is an issue with board detection as the stack trace indicates that the RaspberryPi3Driver is being chosen. As @dobova86 has indicated it looks like the issue is around the interrop calls into libc.

[2019-07-01 14:23] Frankenslag commented on #524
@krwq,  @joperezr, @dobova86   I have had a think about this issue. The clue I believe is that `Marshal.GetLastWin32Error()` is not actually indicating that an error occurred. I believe that what has happened is that the address returned by mmap is in the upper half of the address range and thus converting it to an Int32 and then testing for it being negative causes the exception to be thrown even

[2019-07-01 14:56] WattsC-90 opened #539 "using /sys/class/leds"
I have some linux hardware, looking at the code and through some preliminary tests, this nuget/library defaults to the sysfs driver.

The hardware itself has some normal IO available in /sys/class/gpio, but these are the purest forms of IO. Is there anyway using the library currently, to control the LED devices pointed to in the sys/class/leds folder?

I am just trying some code out on a yocto lin

[2019-07-01 15:11] krwq commented on #539
@WattsC-90 do you mean the green and red LEDs? I don't believe we currently have a library for that. Would you be interested in adding one?

[2019-07-01 15:27] krwq commented on #539
other option would be to explore whole /sys/firmware/devicetree/base and create smaller workitems like this one from this one

[2019-07-01 15:31] krwq commented on #524
@Frankenslag I'd recommend to send a PR with above with quick summary and example of what didn't work before and works after. We can test if it doesn't break RPi3 and if it doesn't and someone else confirms RPi4 issue is fixed with that we can merge before we get hands on RPi4 (and test again whenever we get it)

[2019-07-01 15:40] WattsC-90 commented on #539
yes i was just looking at that.. perhaps a device/IO controller with different supported classes/types (io/led/analogue(?)) or maybe just extend GPIO to support Analogue/LED types.

I would love to say yes to helping to add one, but struggling to find the time to sleep at the moment let alone take on more stuff! I will have a look when im playing around here and there... maybe something easy will

[2019-07-01 15:50] joperezr commented on #524
I haven't been able to test this as I don't have a RPi4 yet, but my hunch is that similar to what @Frankenslag suggests, the issue seems to be that the new BCM chip may have a different register distribution in order to interact with the pins. Once we are able to repro, it would be great if we can get our hands on the datasheet for this BCM chip in order to be able to see what is going on here, an

[2019-07-01 15:52] krwq commented on #539
@WattsC-90 let's figure out how we want this exposed first, I think the implementation will be rather simple.

I'm not sure this should be directly on GpioController (unless we figure out the whole device tree). Instead I think we should do something similar to what [CpuTemperature](https://github.com/dotnet/iot/tree/master/src/devices/CpuTemperature) did

[2019-07-01 15:54] joperezr commented on #539
Is that path only there to control the hardware (board's) LEDs? If so, I suppose this path isn't there in all different boards? If this is very specific only to the Pi I'm not sure if it makes much sense to add. Is there an advantage of using /sys/class/leds over /sys/class/gpio to control those LEDs?

[2019-07-01 15:58] WattsC-90 commented on #539
@joperezr  Yes it's a hardware implementation. I am not using a PI, I am using a different Linux board which has two leds mapped into the /sys/class/leds folder.

I agree that there is no advantage to leds over gpio, but this is a hardware platform that I have been given and have no control on, unfortunately dont have it on a breadboard, only a PCB in a box with a lot of connectors. First stages w

[2019-07-01 15:59] krwq commented on #539
@joperezr presumably different boards will have different LEDs.

I.e. on my PC I can see more LEDs:

[code]

we should presumably detect all of them and can read names from i.e.:

[code]

[2019-07-01 16:02] krwq commented on #539
@WattsC-90 I think solution for this should be LED specific. So i.e.:

[code]

[2019-07-01 16:06] joperezr commented on #539
If there is no real advantage from using /sys/class/gpio, I would not add this and instead just us gpio to control them. It is easier to think of them as just another LED than to try to over-engineer new types for this IMO.

[2019-07-01 16:08] WattsC-90 commented on #539
@joperezr The LEDs cant be controlled from the current GpioController, are you suggesting extending it to handle different /sys/class/*x* types?

[2019-07-01 16:09] joperezr commented on #539
No, what I was suggesting is that if this LEDs can be controlled with /sys/class/gpio/ we should just use that

[2019-07-01 16:12] WattsC-90 commented on #539
it cant, thats the issue. It exists in a different area of /sys/class, where the GPIO is in /sys/class/gpio, the leds are in /sys/class/leds

![/sys/class/leds ls](https://user-images.githubusercontent.com/10712792/60451092-2cbec900-9c23-11e9-958e-843d1092893b.png)

versus the /sys/class/gpio:
![/sys/class/gpio ls](https://user-images.githubusercontent.com/10712792/60451167-5e379480-9c23-11e9-8b13

[2019-07-01 16:16] joperezr commented on #539
They may have a different name, there are some cases in some boards where the hardware LEDs are mapped to a gpio, for example, for the Raspberry Pi, the Green OK onbard LED is mapped to Gpio 16:

[code]

[2019-07-01 16:18] WattsC-90 commented on #539
oh i see, I am not sure how I would find that out.. good idea though! I will go see what i can scrape up

[2019-07-01 16:25] krwq commented on #539
@joperezr assuming that is possible I'm not sure if it's a good idea to bypass the driver - I suspect it may cause some really painful issues

[2019-07-01 16:43] Frankenslag commented on #524
@joperezr, @dobova86, @krwq PR #540 submitted. To confirm the theory I looked at the values being returned from mmap and in my case they were in the 0xB0000000 range so whatever the cause, be it buster or hardware, then this is clearly a value that the code wasn't expecting.

Will do some more confirmation testing but even if this isn't the whole story then the code from this PR follows the expect

[2019-07-01 18:14] krwq commented on #534
@shaggygi planning to pick it up or shall I go ahead with this?

[2019-07-01 18:20] shaggygi commented on #534
@krwq I have a PR about ready to go.  Gimme a couple of hours.

[2019-07-01 18:25] #355 closed

[2019-07-01 21:09] shaggygi commented on #534
@krwq  @joperezr  PR started.  Give it a look and let me know if this fits your thinking.  If so, I should be about an hour away on updating the same for SPI files.

[2019-07-01 21:22] krwq commented on #534
@shaggygi thanks! PR makes stuff simpler and is inline with what I'm thinking

[2019-07-01 23:56] #534 closed

[2019-07-02 14:14] Ellerbach commented on #320
I've started some work on the PN532. Hzere isthe current work: https://github.com/Ellerbach/Pn532. Working good to read and write Mifare cards. Implementation is low level one so far, so mainly the basic registers to be able to detect, read and write cards. Plus authentication.
Implementation is still very early. Feedbacks and help welcome.

[2019-07-03 02:19] shaggygi commented on #204
I was thinking about this a little while we were working on I2C/SPI and wanted to see your thoughts before attempting to prototype.

Ultimately the plan would be to have a final structure below.  I understand this includes big breaking changes... but better now than never.

[code]

### Toughts

- You'd have the option of using a `PwmChannel` or `PwmController`.

#### PwmChannel

Similar to what yo

[2019-07-03 03:34] #536 closed

[2019-07-03 03:59] krwq commented on #539
I think we should start with exposing this as the device and then later we can move to System.Devices.Gpio.

@WattsC-90 I feel like this is a good addition I'd recommend sending PR to add a version of this which looks reasonably good to src/devices

[2019-07-03 04:00] krwq opened #553 "Local builds are not clean"
I've got similar errors on both Windows and Linux and both of my builds were clean (`git clean -fdx` + clean nuget cache)

[code]

[2019-07-03 04:03] krwq commented on #553
FYI `export EnableSourceLink=false` workarounds the issue

[2019-07-03 07:25] WattsC-90 commented on #539
@krwq OK, I am busy for the next couple of weeks but I will have a crack at it after then..

[2019-07-03 17:14] joperezr commented on #553
I haven't been able to repro this. If you can get a binlog I can help investigate.

[2019-07-03 18:16] RheaAyase opened #556 "Build issues"
Thought that I'll give [PR#540](https://github.com/dotnet/iot/pull/540) a shot, encountered these issues while trying to build it.

1) global.json is referencing an invalid SDK version (2.2.203 is Visual Studio toolset version and is not a valid .NET Core SDK version - that would be 2.2.103)

2) build.sh script attempts to install some obscure version of SDK on my system (and therefor probably wre

[2019-07-03 18:24] joperezr commented on #556
Hey @RheaAyase thanks for logging this.

you don't need to have this installed manually, this will be installed as part of the build inside the /iot/.dotnet/ folder

It won't install it globally in your machine, it will only install it in the `.dotnet` folder in the root of the repo and then it will use that one to build the product. If you clean the repo (via `git clean -fdx` from the root) or de

[2019-07-03 18:24] #556 closed

[2019-07-03 18:27] krwq commented on #556
@RheaAyase yes, this has been a pain for quite a bit and we never had a chance to fix it. Here is the workaround:

[code]

after that using `dotnet` should work

[2019-07-03 18:29] krwq opened #557 "Ensure RaspberryPi4 fix works on ARM64 OS"
Follow up on https://github.com/dotnet/iot/pull/540#discussion_r299150881

I.e. Ubuntu can be used for ARM64 testing:
https://ubuntu.com/download/iot/raspberry-pi-2-3

cc: @Frankenslag

[2019-07-03 18:33] krwq commented on #524
@Frankenslag do the default options work with #540 merged or does it still require explicit LibGpiod driver?

[2019-07-03 18:53] Frankenslag commented on #557
I have been looking at this already. The short answer is that the fix works on Ubuntu and I have it running the Ssd1351 sample. However the code that was changed for #540 is not used on Ubuntu as the detection logic doesn't recognise the hardware as a Pi because /proc/cpuinfo doesn't show the hardware details.

The testing I did was using ToInt64 rather than ToInt32. I think that you were right an

[2019-07-03 19:01] Frankenslag commented on #524
I used the Ssd1351 for testing which just creates a default device (`_gpioDevice = new GpioController();`)

Also see resoponse to #557

[2019-07-03 20:47] krwq commented on #557
@Frankenslag is there any way you can override the logic to think it's PI? (i.e. use the driver directly)
If you've tested that code path and work fine I'd leave it

If we can't hit this code path and we're not sure I think it might be safer to go with Int64 option

[2019-07-03 21:22] Frankenslag commented on #557
Yes... task for. Tomorrow.

[2019-07-03 21:51] RheaAyase commented on #556
I don't think that this is answered, especially point 1)

Not needing it installed is different from it being wrong SDK version to be referenced. 2.2.10x is the actual SDK version, while 2.2.20x is just extra tooling for Visual Studio 19.0 (and similarly 2.2.30x is for VS 19.1) and as such, these are not there for Linux systems (these are not source-built)

I don't know a reason for this to be ref

[2019-07-03 21:55] RheaAyase commented on #524
Pretty much the code I used. I did not use this exact example but the important bits are the same.

[2019-07-03 22:22] joperezr commented on #556
I'm not sure where you are seeing the invalid SDK version in our global.json, we are currently referencing 3.0 preview 6 sdk:

https://github.com/dotnet/iot/blob/0009b06cfe718e78c05ff625a16f1e174dcb92f5/global.json#L2-L12

Have you tried pulling the latest from master and trying again?

In order to build our libraries, we rely on a shared infrastructure (source of the infrastructure is https://git

[2019-07-03 22:27] krwq commented on #524
Ok, updating the doc and closing this then

[2019-07-03 22:28] krwq commented on #556
@joperezr I'm on @RheaAyase, basically every new person touching iot repo hits this or similar issue

[2019-07-04 00:05] TjWheeler commented on #433
I've put up a post on this as I got it all working with a 12v PWM Fan.  So for an example see my [post](http://blog.timwheeler.io/building-a-pwm-fan-controller-with-dotnet-iot/).  I've also put up some code on this [here](https://github.com/TjWheeler/dotnet-iot-demos).

[2019-07-04 05:12] andersonimes opened #559 "Add Bindings for Adafruit STEMMA Soil Sensor OR Adafruit Seesaw"
I'm trying to use a Adafruit STEMMA Soil Sensor - I2C Capacitive Moisture Sensor to create a garden soil monitor. I2C interfaces are a bit over my head and a helper binding would be great. Adafruit has this specific sensor package, but the combination is supported by the slightly more generic Seesaw library that they have created (I think that's what I'm reading). Porting either of those over woul

[2019-07-04 05:12] andersonimes commented on #559
https://learn.adafruit.com/adafruit-stemma-soil-sensor-i2c-capacitive-moisture-sensor/overview

[2019-07-04 11:12] Frankenslag commented on #557
@krwq I have tested. If we force the use of the RaspberryPi3Driver whilst running Ubuntu/arm64 then `IntPtr.ToInt32()` will throw an overflow exception. Using the `Toint64()` as the basis of the comparison works for Ubuntu on a Pi3B and Raspbian Buster on a Pi3B and a Pi4B. I intend to raise a PR for the use of `ToInt64()`

[2019-07-04 14:30] shaggygi opened #565 "Proper way to comment constructor"
I came across this topic and wasn't sure if we should be doing similar in this repo.

https://stackoverflow.com/questions/6868138/whats-the-proper-way-to-comment-a-constructor-in-a-generic-class

Currently...

[code]

Should the summary be...

[code]

[2019-07-04 15:23] RheaAyase commented on #556
Interesting, even I, building every commit in corefx, never realised that this is part of the same infra, I just saw this as a random nuget library that isn't related. That being the case though, this issue is even bigger and spans across all the repositories that have been _assimilated into the collective._

I don't know, it just seems weird to have a regular dotnet project depend on all this stu

[2019-07-04 16:59] #524 closed

[2019-07-04 21:54] krwq commented on #565
@shaggygi if you mean `<see cref="SpiConnectionSettings"/>` then ideally yes but better not to have it than have no doc at all

[2019-07-04 23:57] shaggygi commented on #565
Okay.  Just checking what the norm is as if it was preferred I could do a PR to update throughout in this format.  Lemme know and I can allocate some time.

cc: @joperezr

[2019-07-05 06:11] Rhaegarlai commented on #183
I wonder that why "OpenPin" resets  PinMode and PinPower,it seems that the API do too much things which made it difficult to develop.By the way, some case need to get PinPower when the program is going to start up.It's a good way to refer to "WiringPi" because many IOT programs base on it.

[2019-07-05 15:54] joperezr commented on #556
We have an issue #100 that will track the addition of detailed instructions on how to build and how to contribute to the repo along with other documentation.

[2019-07-05 15:59] joperezr commented on #565
Yes, as @krwq mentions idieally we would like to have `cref` like documentation. We will eventually want to upload all of our comments (for System.Device.Gpio) to MSDN docs, where they will be audited and so suggestions like using cref will be pointed out, so getting  ahead of them would be great 😄

[2019-07-05 16:18] shaggygi commented on #565
@joperezr sounds good.  i'll try to do a first round of this over the weekend.

[2019-07-05 17:13] krwq opened #567 "Add more metadata about devices"
In https://github.com/dotnet/iot/pull/554 I've added simple category.txt files next to devices which allow generating categorized device bindings index.

In https://github.com/dotnet/iot/pull/554#issuecomment-508040445 @shaggygi has proposed we should investigate Digital Twin Definition Language (DTDL) format. I.e. `implements` section is very similar to categories.

DTDL would allow us not only t

[2019-07-05 17:18] krwq commented on #556
@joperezr would it perhaps make sense to add some kind of env.sh/env.ps1 which would be script meant to be sourced, add correct dotnet to path, disable source link, first time dotnet experience and source linking? This way users can use dotnet smoothly with whatever setup they have and if anyone has any issues with build you just tell them to source `env.sh`. Perhaps this should be done in dotnet/

[2019-07-05 17:21] krwq commented on #557
This is already fixed with #560

[2019-07-05 17:21] #557 closed

[2019-07-05 17:22] joperezr commented on #556
Sourcelink shouldn't be disabled, I think that's an issue that only you saw in your machine and IMO it is due to a problem with your enlistment. As to generating an env.sh, that is doable although it would be very small (two lines, add the repo local dotnet to the path and disable first time experience) so I'm not sure if that would be worth it.

[2019-07-05 17:22] krwq commented on #553
I've sent you binlog offline

[2019-07-05 17:27] krwq commented on #419
@shaggygi if you're interested you can pick this one up. Plan is over here: https://github.com/dotnet/iot/issues/419#issuecomment-497916410 if not I can do a sweep here

[2019-07-05 17:32] shaggygi commented on #419
@krwq lemme review over the weekend and get back with you.  i'm sure i'll have questions.

[2019-07-05 17:32] joperezr commented on #553
From what I can see, looks like the remotes on your repo are not set correctly. Source link will try to find the remote source in order to construct the url for source linking. I would recommend cloning again, and then do a clean build, It shouldn't repro in that case.

[2019-07-05 17:45] krwq commented on #553
@joperezr what do you mean remotes are not set correctly? Is there any specific name of the remote I should have to make that work? Do I need to have exactly 1 remote? This sounds like an arcade bug, it should not force me to any specific git setup.

[2019-07-05 18:01] joperezr commented on #204
Hey @shaggygi, stepping back a bit I would like to understand what is the big advantage of having PwmChannel class over PwmController. In order to create one, you still need to pass in very similar things, and although I do see that you would benefit of  not needing to pass both chip and channel every time that you write or stop writing, I don't see that big of an advantage of having PwmChannel. T

[2019-07-05 18:02] joperezr commented on #553
nope, you can have multiple. I believe as long as you have one that is called origin then you should be fine, although I might be wrong.

[2019-07-05 18:04] krwq commented on #553
@joperezr I call it `dotnet` this sounds like an arcade bug to me.

[2019-07-05 18:12] joperezr commented on #433
@TjWheeler awesome, thanks for sharing!

[2019-07-05 18:14] krwq commented on #204
@joperezr here is what I think about what should happen here:

- unify all PWM classes into one called PwmChannel/PwmDevice
- make constructor protected and add Create method similarly to SPI
- this class should contain all the info to do PWM without a need for passing anything
- in other words, PWM class should contain only frequency/period and duty cycle

pros of that:
- abstraction is clearer:

[2019-07-05 18:20] joperezr commented on #183
We did that because in Linux, we have different drivers that will be used depending on which hardware are you running on, and some would do this behavior as default, so we decided that for consistency, we should have all drivers do the same, so the ones that didn't by default were changed so that the Pinmode and value gets reset.

[2019-07-05 18:24] krwq commented on #433
@TjWheeler for fan it actually might be useful to directly use DCMotor class, it will abstract away using PWM for you (although does not support tachometer input for better speed control yet)

[2019-07-05 18:33] joperezr commented on #419
Regarding the plan that @krwq wrote above, specifically to:

[code]

I think that the default should be for devices to dispose but always to have a way to Opt out. Most common case for devices will be to take an optional IGpioController in case the consumer is using gpioexpander, and if not passed in, then the device should just initialize a new controller.

[2019-07-05 18:37] joperezr commented on #553
I'm not familiar enough with source link, so I would recommend the following in order to see if this is the source of the issue and if so log a bug with arcade:

1. Create a new folder in your disk and clone iot repo.
2. Without changing the name of the remote, call build.sh. (build should succeed)
3. Rename the remote, clean your enlistment and try to build again.

If step 3 failed, then looks li

[2019-07-05 18:41] joperezr commented on #204
One thing we could do as well, is to keep things as is and simply abstract the concept of channel and chip. that way, SoftwarePWM and HardwarePWM can both just deal with pins, so they would have a common abstraction layer (that may become just an interface). We can then add logic to the hardware PWM to provide mapping between a given pin to a pwm channel and chip.

[2019-07-05 19:23] krwq commented on #553
@joperezr confirming, my build is failing when my remote is named `dotnet` and is successful when it is called `origin`. cc: @dotnet/dnceng

[2019-07-05 19:56] joperezr commented on #553
How did you rename it? have you tried using `git remote rename origin dotnet`? that might update all that is needed in order for sourcelink to work.

[2019-07-05 20:04] dagood commented on #553
Filed https://github.com/dotnet/arcade/issues/3236 for this, I hit it in Core-Setup as well.

[2019-07-05 20:09] shaggygi commented on #204
@krwq I think we are somewhat on the same page here when it comes to `PwmDevice` and `PwmChannel`.  Let's disregard the `IPwmController` for now (even though my logic may not work when we get back to the controller).

I now think of `PwmChannel` as the same as `I2cDevice` and `SpiDevice`.  I like the name `PwmChannel` a little better as "channel" appears to be a common name in different APIs inclu

[2019-07-05 20:29] shaggygi commented on #204
@joperezr

Honestly, I think I like having the `PwmController` over `PwmChannel`.  This is more of a discussion on possible solutions if we did create a new `PwmDevice` or `PwmChannel`.

One option is to add overloads to the `IPwmController` without the chip parameter and add a DefaultChip property.  Therefore, you'd have the additional...

[code]

I still wonder if the code files/structure could

[2019-07-05 20:45] joperezr commented on #204
@krwq and I chatted offline and have come to a decision here in order to make PWM more easy to use and also similar to the approach we took with I2c and Spi. It will also support the Software implementation once we add it in the future. Basically, we would want the API to look like this:

[code]

Apart from this, we would want to change all the rest of the Pwm classes to be internal, similar to wh

[2019-07-05 20:51] shaggygi commented on #204
@joperezr agreed, i think it basically sums up what i was trying to explain above.

[2019-07-05 21:00] shaggygi commented on #204
So is the plan to not have a `PwmController` at all?  I could see the CY8C95xx binding implementing an `IPwmController`.  I was partially holding off on #225 until this was determined.

If we don't go with a controller, what would be some options in order to use `PwmChannel` within a binding like this?  Understanding it doesn't have to be answer right away.... just something to think about.

[2019-07-05 21:04] joperezr commented on #204
Yes the idea was to remove PwmController. I'm not familiar with CY8C95xx, is it a PWM expander over I2c? Or is it just a Gpio expander over I2c?

[2019-07-05 21:08] shaggygi commented on #204
It's a mixture of both with I/O, PWM, EEPROM, etc.  I started to update the [Pca9685](https://github.com/dotnet/iot/tree/master/src/devices/Pca9685) binding when we added the `IPwmController`, but also held off since this issue came up.  Pca9685 basically contains 8 PWM channels.

[2019-07-05 21:14] joperezr commented on #204
I see, well, the plan with the above proposed plan, is that PwmChannel would always represent one specific channel only, so a concept of an expander of several channels wouldn't implement this. That said, the channels that this binding provides could inherit from our PwmChannel class, and they would implement Start and Stop in their own way in order to support PWM on those channels. Would that mak

[2019-07-05 21:20] shaggygi commented on #204
I believe so.  Let's focus on the initial `PwmChannel` for now since we think that approach is good.  We can circle back on how it will work with bindings when I get some time to focus on them.  Related note... I'm not going to mess with the PWM files while working on #565 since they are going to change.

[2019-07-05 21:35] krwq commented on #204
@shaggygi note that DCMotor and SoftPwm might need a bit of re-design as part of this. cc me when you hit any issues, I can fix them up in your PR.

btw. I think in general we should not have Start/StopWriting methods but I prefer to have this conversation separately after we do initial pass on stuff we agree on

[2019-07-06 08:45] RheaAyase commented on #100
Information about contributing and building the project should be in CONTRIBUTING.md - it gets nicely popped out in front of everyone's face when they click "create pull request," etc...

[2019-07-06 09:55] Frankenslag opened #572 "Issue with PR Add MCP3428 Bindings. #353"
@kmate @krwq

 Just tried a build of the latest repository,

 I get a failures of :-

`error CS0234: The type or namespace name 'Drivers' does not exist in the namespace 'System.Device.I2c' (are you missing an assembly reference?)`

and

`Error	CS0246	The type or namespace name 'UnixI2cDevice' could not be found (are you missing a using directive or an assembly reference?)	D:\source\dotnet\iot\bui

[2019-07-06 09:59] krwq commented on #572
Already fixed https://github.com/dotnet/iot/pull/571

[2019-07-06 09:59] #572 closed

[2019-07-06 14:47] Frankenslag commented on #559
I would like to have a look at this.... I think that in reality if a seesaw binding is created then reading the soil sensor is a fairly minor exercise. I will need a little time to source the seesaw breakout so please give me a week or two.

[2019-07-09 19:21] joperezr commented on #351
This has been fixed since we now PInvoke to libgpiod.so directly so we don't need the extra shim. I have validated that libgpiod driver works for arm64 in the RaspberryPi 3.

[2019-07-09 19:21] #351 closed

[2019-07-09 21:41] joperezr opened #580 "Add support for /dev/mem to the RaspberryPiDriver"
When testing our support for arm64, I discovered that the Debian available for arm64 doesn't have a /dev/gpiomem memory mapped file which is what the RaspberryPiDriver uses today in order to get access to the registers. Instead, it only has the /dev/mem memory mapped file, which should provide access to such registers. We should add the capability to the RaspberryPi Driver that in case we can't fi

[2019-07-09 21:43] shaggygi opened #581 "Add Polarity to PwmChannel"
**NOTE**: This issue was created before the new `PwmChannel` was added to API, but created as a placeholder for possible future feature.   The initial release has limitations where it only supports active high (idles low) pulses.  Therefore, you will need extra hardware (inverters, transistors, etc.) to convert signals if circuitry requires active low (idles high) pulses.

More details may be adde

[2019-07-09 22:19] joperezr commented on #324
This isn't required for 3.0 so I'm moving it to future for now. That said, it is definitely a nice to have, specifically the EINTR part.

[2019-07-09 22:39] Ellerbach opened #582 "I2C to support Start and Stop without sending/reading bytes"
I tried to implement an RFID/NFC reader thru I2C: PN532.
Documentation of the device is here: https://www.nxp.com/docs/en/user-guide/141520.pdf
Page 55 and Following describes the way to wake up the device when in I2C mode. In short, you need to pull the transmission up for couple of milliseconds without sending anything. Then you release the line and the chip will be awake.
In this situation, not

[2019-07-09 22:51] Ellerbach opened #583 "SPI wait time before sending the data"
I tried to implement an RFID/NFC reader thru SPI: PN532.
Documentation of the device is here: https://www.nxp.com/docs/en/user-guide/141520.pdf
Page 61 describes the mechanism to wake up the device. In short, the line NSS (SPI select pin) has to be polled down for couple of milliseconds before sending data.
Today, with the current implementation, clock is trigged right after NSS state is changing

[2019-07-09 22:59] joperezr commented on #347
I don't think we want to optimize for the scenario you specified above with the OLED displays. As for the disposing pattern, we have that covered in another issue so I will close this as a dupe as the fix will be tracked by that other one

[2019-07-09 22:59] joperezr commented on #347
duplicate of #419

[2019-07-09 22:59] #347 closed

[2019-07-09 23:01] joperezr commented on #126
I suppose that the PWM PR that we have open is the last thing about this issue that we want to fix? @shaggygi @krwq

[2019-07-09 23:02] Ellerbach opened #584 "Need abscract class for Read, Write for SPI, I2C and Serial"
Some sensors like PN532 can have multiple interface like UART, SPI and I2C. See https://www.nxp.com/docs/en/user-guide/141520.pdf
Some other sensors like AK8963 can be accessed thru a different sensor and require a specific Read and Write primitive. see https://github.com/dotnet/iot/pull/523 and code here https://github.com/dotnet/iot/pull/523/files#diff-8dcf6685a84684cbe74a22d67f921308. In this l

[2019-07-09 23:27] shaggygi commented on #584
I've been working on a few devices that are based on I2cDevice and SpiDevice so I can develop/control bindings directly from WPF apps without having to download/execute via RPi/BBB.  It would be nice to have an implementation that does all, but not sure how it would be coded without interfaces.  In addition, how would it know when WriteByte(...) should be used for I2C and when to use SPI?

I'm thi

[2019-07-10 09:41] shaggygi commented on #582
Have you tried sending a Write command without any data?

[2019-07-10 09:57] shaggygi commented on #126
@joperezr Still need to move the I2c/Spi Device classes back to their root (based on [PWM discussion](https://github.com/dotnet/iot/pull/576#discussion_r301299089)), but need to finalize #569 before I can update.

I think GPIO still needs a quick review.  For example...
- UnixDriverDevicePin.Linux.cs could have Device removed from name.
- LibgpiodDriverEventHandler.Linux.cs might could move to Dri

[2019-07-10 16:51] joperezr commented on #583
Not sure what is the desired solution here. Whould you instead want a _spiDevice.Write method that takes in a TimeSpan for a delay? You would still need to have the Spi select pin in any case right? I guess I don't really understand what the problem with the existing API is here, but if I understood correctly, then I would expect for this very specific binding to take in a Spi select pin in the co

[2019-07-10 16:56] joperezr commented on #584
Usually what we do in cases like this is that we have an internal enum in the binding, something like `ConnectionType` where we have the possible ones like Spi or I2c, and depending on this enum, we pick which device to use for communication. I don't see a big benefit of having a parent class to Spi, I2c and SerialPort devices if that is what you are suggesting here.

[2019-07-10 19:27] joperezr commented on #126
So for the ones you mentioned, I2c and Spi classes moving won't need to happen before 3.0, because this only involves the specific platform devices, which are internal, so no problem if we don't do that for now.
Same goes for the other cases, UnixDriverDevicePin and LibgpiodDriverEventHandler are internal, so no problem if we want to rename/move them later.

Because of that, I will move this issue

[2019-07-11 00:14] krwq commented on #582
@shaggygi not sure how would that add a delay in between Start/Stop but perhaps device will be forgiving enough

[2019-07-11 00:26] shaggygi commented on #582
@krwq i'm not really sure either and was just throwing out ideas to try.  i recall seeing something similar to this a few years back with a device using WinRT where I just sent a Write message with an empty array.

[2019-07-11 05:19] krwq commented on #582
worth trying before we add a new API for that :smile:

[2019-07-11 05:39] krwq commented on #583
@joperezr I believe this is something which can be added in settings and I think linux driver might be already supporting this.

I think this should be addressed as part of 3.0 since this is something which prevents implementing bindings for certain devices like PN532 (unless we use manual chip select hack as described by @Ellerbach)

[2019-07-11 15:37] Ellerbach commented on #584
Yes, that I understand. The point here is that for many sensors using multiple ways like SPI and I2C, they are using the exact same way of reading and writing. And you basically have to copy/paste lines and just changing the name of the device. And abstract would avoid this. Still, in some cases, you'll need to know if you are I2C or SPI as you may have to use specific commands but that's quite li

[2019-07-12 03:17] xuliujian2019 opened #590 "System.ArgumentException: No I2C device exists for bus ID 1."
I wanted to use GrovePi to connect I2C bus, but it throws an exception as following:

[code]

My Code:

[code]

Environment:
Board: Raspberry Pi 3
Windows IoT Core:Build 17763.503
.Net Core SDK: 3.0.100-preview6-012264

[2019-07-12 07:17] Ogieeeeee commented on #590
I'm having the same issue here:

https://stackoverflow.com/questions/56991579/how-to-fix-no-i2c-device-exists-for-bus-id1-grovepi-net-core

[2019-07-12 07:26] krwq commented on #590
@xuliujian2019 I think we only tested that on Raspbian. Presumably Windows sees Grove Pi on different bus. @joperezr know some way to enumerate I2Cs on Windows IoT Core?

[2019-07-12 10:25] Frankenslag commented on #580
@joperezr  I would like to have an informal look at this. Did you get the image from https://wiki.debian.org/RaspberryPi3 ?

[2019-07-12 16:21] joperezr commented on #580
@Frankenslag Awesome! yes, more specifically the image I got was from: `https://people.debian.org/~gwolf/raspberrypi/20190628/20190628_raspberry-pi-3_buster_PREVIEW.img.xz`. That said, you shouldn't need that to prototype this since /dev/mem is also available in regular Raspbian arm32 images. We initially picked /dev/gpiomem because of two reasons: 1) You only get access to the gpio related regist

[2019-07-12 16:57] Frankenslag commented on #580
@joperezr OK. Will look into it. I have just created a Debian installation to play with so I'll probably start with that. As a side issue (and I have only spent 5 minutes on it) but it seems that the I2C devices are not working for whatever reason and I can't get an SPI device to show in /dev/spi*. Having said all that I want to finish off the preliminary work on #559

[2019-07-12 17:23] joperezr commented on #580
It does work, you only need to make sure you enable both Spi and I2c protocols. In Raspbian doing this is very straight forward as you can just do `sudo raspi-config` and do it from there, but Debian doesn't have such an easy access. I just did this for I2c, so I know that all you have to do is to add
[code]

into the `/etc/modules` file. Spi should be very similar and I have done it in the past b

[2019-07-12 17:28] joperezr commented on #590
We definitely have tested this on Windows in several boards, but I'm not sure if GroovePi was one of them. I believe WinRT Apis do have the capability of looking for available devices on the bus which is similar to what we call so writing a c# app to make the discovery should be possible:

https://github.com/dotnet/iot/blob/1b4efbcb677eea9a07d70216669409ae08f82d38/src/System.Device.Gpio/System/Dev

[2019-07-12 17:51] Ellerbach opened #592 "SPI mode0, Dataflow LbsFirst creates an exception"
I'm trying to create a SPI device with the Following settings:
[code]

This creates an exception:
[code]

I'm using a RPI 3 with latest Raspbian on it. In this combination, removing the DataFlow will not raise an issue. My sensor, a PN532 required Mode0, Active State Low and LSB First

[2019-07-12 18:08] krwq commented on #592
As we talked offline, per https://www.kernel.org/doc/Documentation/spi/spidev

[code]

very likely https://github.com/dotnet/iot/blob/76276a269bbf6c47e5f4a547b0937e15a6419f89/src/System.Device.Gpio/System/Device/Spi/Devices/UnixSpiDevice.Linux.cs#L66 will need to be split into two calls (first one mode specific, the other one LSB specific)

[2019-07-12 22:10] Frankenslag commented on #580
@joperezr Yes I got it going just before you replied but it,s i2c-bcm2835 I believe. Spi seems different. I wonder if it’s because spidev is compiled into the kernel rather than being a loadable module. Will see if I can work it out.

[2019-07-13 04:24] #565 closed

[2019-07-13 11:09] Frankenslag commented on #580
@joperezr I think I have worked out the SPI issues. It looks like the Debian image contains a very basic device tree that doesn't respond to dtparam=spi=on.

The solution, from [here](https://github.com/chschlue/rpi3-dt-overlays) creates the following overlay and it can be enabled with `dtoverlay=spi`

[code]

[2019-07-14 18:38] Frankenslag commented on #580
I have submmited PR #595

[2019-07-15 12:34] Ellerbach commented on #582
@shaggygi, yes I tried. I get an exception:
[code]
Looking at the source, if the buffer is empty with 0 lenght, it still tries to send it like if it has at least 1 data in it. The code only check for null buffer.
Good news is that I found another way to wake up the device. I basically send a long buffer with just 0 and it makes it waking up somehow.

[2019-07-15 13:39] Ellerbach commented on #582
Now, I have another issue. When I do ReadByte() and then another ReadByte(), the device reset the data it has the send. It's for it another request.
All data should be read at once. But issue is that the size of what needs to be read dépends of what we read. Yes, there is a maximum size for a read but would prefer to avoid using it.
Reading the spécifications page 42, it says that the I2S START sh

[2019-07-15 17:43] krwq commented on #582
I'm wondering if we should have additional APIs for Read/Write/Stop/Start which do not produce Start/Stop automatically (but leave the existing ones as they are since they cover most of the use cases).

@Ellerbach could you share minimum code reading some random PN532 register/data (with spec pointers) where you hit this limitation and write what you expect to happen and what happens?

Would be us

[2019-07-15 18:17] joperezr commented on #582
When we checked, the grand majority of devices require knowing how many bytes need to be read beforehand. I wouldn't add a whole new set of APIs for only one device that doesn't follow protocol. It is fine to have bindings for it, but I would have the binding make the PInvokes directly instead since it is an edge case.

[2019-07-15 18:53] krwq commented on #582
I agree if this is a single case but I suspect there might be more devices like this which we haven't encountered yet. Regardless we should investigate this more and see how common these scenarios are and if there are ways to fix it without adding APIs but if we find that this is scenario described by I2C and we don't support it and there is few percent of devices using this feature then I think w

[2019-07-15 19:39] robertsundstrom commented on #175
I have now got a proper workstation at home. This enables me to resume my work on this binding. My goal is to clean it up.

I will reopen the PR and fix what has been pointed out.

[2019-07-15 20:59] krwq commented on #175
@robertsundstrom please wait for @Ellerbach to comment since he was planning to merge our work with his PN532 (#320) which he already got much further than we did (per our offline conversation). We want to merge as much code as possible here since this code is rather complicated comparing to other bindings.

[2019-07-15 21:03] robertsundstrom commented on #175
@krwq OK. Anyway, I have updated my user branch.

[2019-07-16 08:23] Ellerbach commented on #175
@robertsundstrom, I have been working on it a bit. As @krwq mentionned, I have been working on the PN532 and I'm about to propose a first PR. I took out what is related to the Mifare cards and created an abstract function that can be impleted by any RFID/NFC reader that supports 14443 for thos kind of cards. I did the same for credit cards (144443 type B) for a project. And The same function can b

[2019-07-16 11:23] robertsundstrom commented on #175
@Ellerbach Here, https://github.com/robertsundstrom/iot/tree/Mfrc522 🙂

[2019-07-16 14:04] Ellerbach commented on #175
@robertborr , I tryed my reader on an ESP8266 and looks like it has some issues. As soon as I do an authentication, it blocks. Same behavior I had with .NET Core. I did couple of modifications in your files and Added few registers to make it easier to debug.
Please have a look at: https://github.com/Ellerbach/Pn532/tree/master/Mfrc522
I have implemented as well a full Mifare card (it's currently U

[2019-07-16 14:14] robertsundstrom commented on #175
I should have mentioned that I don’t have focused on authentication. It was the last things I worked on before pausing. So it os not working at the moment. I’ll have a look at it later.

If you want, you could have a look at Unosquare’s code (link either here in issue or in the PR). It is based on my original code. They might have fixed the issue there.

Get Outlook for iOS<https://aka.ms/o0ukef>

[2019-07-16 15:02] robertborr commented on #175
@Ellerbach - while this is indeed interesting, I'm probably not the person you want. :)

[2019-07-16 15:12] robertsundstrom commented on #175
I left a comment here: https://github.com/Ellerbach/Pn532/issues/1

[2019-07-16 18:33] krwq commented on #592
@Ellerbach could you share some tiny repro of this I can play with? I already got my PN-532/

[2019-07-17 21:07] #204 closed

[2019-07-18 07:01] krwq opened #601 "SpiConnectionSettings do not work well with software SPI implementation"
Current settings don't work very well with future SoftwareSpi implementation since BusId and ChipSelectLine are meaningless there.

Example solution 1:
- SpiConnectionSettings should not contain BusId and ChipSelectLine
- SpiDevice.Create would have 2 overloads:
  - BusId/ChipSelectLine
  - Pin

Example solution 2:
- Add another constructor and property which takes Pin, internally we can reuse one

[2019-07-18 07:03] krwq opened #602 "SpiConnectionSettings should be called SpiSettings"
Some of the Spi options feel like they don't have anything to do with how the connection is established and rather with how transmission is defined and therefore the `Connection` part of the name does not only make the name longer but also confusing

[2019-07-18 07:08] krwq opened #603 "SpiConnectionSettings should be immutable or cloned by SpiDevice"
Currently properties in SpiConnectionSettings have setters which makes them mutable. Also SpiDevice takes settings and simply assigns them. This has side effect that changing settings after SpiDevice is constructed may have effect on SPI transmission

[2019-07-18 10:28] Frankenslag commented on #603
I think I would prefer the clone as I think that having the individual properties is quite useful.

[2019-07-18 16:04] joperezr commented on #601
perhaps the SpiDevice.Create() for SoftwareSPI shouldn't use the SpiConnectionSettings and instead use a different mechanism of selecting the SpiMode, data big length, etc?

[2019-07-18 16:06] joperezr commented on #602
WinRT uses the exact same name and contains the same info: https://docs.microsoft.com/en-us/uwp/api/windows.devices.spi.spiconnectionsettings

I wouldn't really want to change this at this point unless there is a very important reason why to do it.

[2019-07-18 16:09] joperezr commented on #603
I think this is a valid concern and an easy enough fix. So the idea would be to make properties `{ get; private set; }` right? @krwq are you planning on putting a PR for this?

[2019-07-18 16:10] joperezr commented on #592
@krwq have you been able to repro this? It would be good to get a fix in as soon as possible.

[2019-07-18 17:27] krwq commented on #601
I feel like SpiConnectionSettings is not useful at all, we should just move common options to SpiDevice and whatever is hardware/software specific move it to that class

[2019-07-18 17:30] krwq commented on #592
Haven't tried yet. It's next on my radar after moving SPI stuff out of Mcp3008

[2019-07-19 10:03] Frankenslag commented on #603
@krwq @joperezr

I like using object initializers i.e.

`mySettings = new SpiConnectionSettings(0, 0) { Mode = SpiMode.Mode3, DataBitLength = 8, ClockFrequency = 12_000_000 /* 12MHz */ }`

If the properties are` { get; private set; }` won't that mean that we will have to come up with a whole bunch of constructors and then everytime there is a new then extend the constructors ?

This is why I prefe

[2019-07-19 17:17] #146 closed

[2019-07-19 17:30] krwq commented on #603
I think the best solution would be to get rid of SpiConnectionSettings completely and just put those directly on SpiDevice - they don't seem to be working very well with software implementation and also make problems like the one here

[2019-07-19 18:53] Frankenslag commented on #603
@krwq

Again, not sure about this because we would be swapping an immutable class with a number of immutable properties on the SpiDevice which seems harder.

I can see that a number of areas of the framework use settings classes but I am not aware of why. Perhaps it’s because having all the configurable items in one class makes it trivial to serialize to a config file.

Anyway just my 2 cents.

[2019-07-19 20:13] krwq commented on #603
@Frankenslag but then we have stuff like ChipSelectLine/BusId on the settings which seems very weird considering it doesn't mean anything for software SPI implementation (except for maybe ChipSelectLine) and that one also have explicit MISO/MOSI/CLK pins which also wouldn't serialize.

I need to think about it a bit more and see if I can make the abstraction better

[2019-07-21 14:18] shaggygi commented on #602
I'm on the fence and agree with both.  Just a FYI... there is already an internal [SpiSettings](https://github.com/dotnet/iot/blob/4fa64a1b1469f87b0fc86412e7b2cf431c1b581b/src/System.Device.Gpio/Interop/Unix/Libc/Interop.ioctl.cs#L79), but shouldn't cause any issues.  I guess now or never if this will be changed.

[2019-07-21 14:37] shaggygi commented on #603
@krwq I see your point, but I also like the object initializers.  I'm wondering if we could just pass in all parameters as optionals with default values.  I believe we now have all the settings needed for most use-cases (native, software, etc.), but this could be breaking change if we added a future setting.

[2019-07-21 15:18] shaggygi commented on #601
@krwq  I see your point that BusId doesn't seem to fit with the software version, but I like being able to use setting parameters to define the setup similar to native SpiDevice.  I honestly don't think the software device will be used much (even though I like having the option).  So I guess the question would be... does it matter if you are required to define a BusId, even if it is something like

[2019-07-21 17:05] shaggygi commented on #419
@krwq @joperezr I believe we should add the `ShouldDispose` property we previously discussed to `GpioController`, `PwmChannel`, `I2cDevice`, and `SpiDevice`.  This would make it consistent across all types.  Use the [#419 (comment)](https://github.com/dotnet/iot/issues/419#issuecomment-497916410) as reference.

Here are a few notes that will help make a decision before I begin a PR.

I was plannin

[2019-07-21 20:52] shaggygi commented on #100
Do you think this type of documentation should be in this repo or added under an 'IoT' section located with [other .NET topics](https://docs.microsoft.com)?  If so, we might want to ping the docs team to possibly offer guidance on how we structure/document the different features/topics within **System.Device.***.

[2019-07-21 21:34] shaggygi commented on #444
I consider this inactive and provided code appears to work.  @joperezr I would close and can reopen if issue arises.

[2019-07-21 21:46] shaggygi commented on #433
It appears there are a few samples sprinkled throughout bindings.  Use the following as examples.  @joperezr We could probably close this now.

https://github.com/dotnet/iot/tree/master/src/devices/DCMotor/samples
https://github.com/dotnet/iot/tree/master/src/devices/SoftPwm/samples
https://github.com/dotnet/iot/tree/master/src/devices/Servo/samples
https://github.com/dotnet/iot/blob/master/src/de

[2019-07-22 02:11] krwq commented on #433
We should add references to that somewhere in our docs.

Perhaps we should have similar README.md files as for bindings somewhere for System.Device stuff

[2019-07-22 02:13] #444 closed

[2019-07-22 02:14] shaggygi commented on #433
I'm thinking we could point out a few bindings that use related types when creating the sections for #100 or in the [Interface Knowledge Base](https://github.com/dotnet/iot/tree/master/Documentation#interface-knowledge-base)

[2019-07-22 02:16] krwq commented on #100
I'd start wth README.md file and after we ship and APIs become stable then we should request docs team to have that.

[2019-07-22 02:19] krwq commented on #419
I feel like this property is a bit weird: it's not particularly related to any device and it's just implementation detail leaking out. I'd prefer we talked with some API review folks first

[2019-07-22 16:15] shaggygi opened #616 "Preparing for Nullable Reference Types"
I was looking into preparing the core API to use the C# 8 Nullable Reference Types.  Based on chat with @joperezr, it would be better to add "#nullable enable" to individual files instead of adding to csproj while progress is made.  I'm assuming once all files are updated/reviewed, the "#nullable enable" could be removed and `<Nullable>enable</Nullable>` added to csproj.

One question I had is rel

[2019-07-22 17:53] joperezr commented on #616
First of all I don't really think that this will be easy for us to do now, since only a very small subset of the framework has been annotated so it is likely that we might encounter parts where the framework can still be returning null and we don't catch it, hence our consumers won't either. Also, we target .NET Standard which I'm not quite sure if it'll ever be annotated (cc: @safern in case he k

[2019-07-22 19:56] shaggygi opened #617 "Should devices folder be capitalized"
Not really a biggie, but should the [devices folder](https://github.com/dotnet/iot/tree/master/src/devices) by capitalized to be consistent with others?

![image](https://user-images.githubusercontent.com/2956825/61661054-3921c900-ac99-11e9-8a18-e286ad6932e8.png)

[2019-07-22 20:33] krwq commented on #617
I'd refrain from doing that at least until we ship 3.0

[2019-07-22 20:37] joperezr commented on #617
I don't think we should do this. The other folders are capitalized only because they have the libraries names, which are capitalized. We would have to change many other folders if we wanted to do this, like "src" and "tools" or "samples". Making all of these changes might have unintended consequences on other OSes and it also doesn't echo the model we have followed in corefx and the rest of our re

[2019-07-22 21:04] shaggygi commented on #617
Yeah, that's what I was thinking... but wasn't completely sure.  I'd say leave as in since src, tools and such are similar.  Close if no further work is needed.  Thx

[2019-07-22 21:08] #617 closed

[2019-07-23 15:36] krwq opened #621 "Move projects to use P2P instead of package reference"
Currently doing any changes to the product is mildly saying a bit annoying:
- make changes to a product without changing anything which depends on it
- merge, wait for package to get published
- edit and auto-pr which is red to fix build errors

[2019-07-23 19:14] joperezr opened #623 "Remove the RuntimeIdentifier from all of our P2Ps"
Currently, all of our ProjectReferences to System.Device.Gpio require to pass in a RuntimeIdentifier set to Linux. This is because if you don't pass any RuntimeIdentifier, we currently perform a multiplexing build that will generate both the windows and linux assets. Ideally, we would want to have a way of just asking for getting the reference assembly, so should have this in the future. In the me

[2019-07-23 19:35] #621 closed

[2019-07-24 10:44] shaggygi commented on #233
What about the image used in the .NET Core slides?  If so, where can we find it?

![image](https://user-images.githubusercontent.com/2956825/61787701-5d3af280-adde-11e9-9d3f-35c777418a57.png)

[2019-07-24 14:30] jongalloway commented on #233
@shaggygi That image looks like it's from shutterstock: https://www.shutterstock.com/image-vector/internet-things-vector-icon-iot-symbol-573776821?src=8x8o92J1ljPmUcgDwHXqGQ-2-65 (see below)

Things that are directly under the .NET brand / marketing at Microsoft are  more restricted on logos, since they fall under Microsoft branding guidelines. @BethMassi?

![IoT logo](https://image.shutterstock.c

[2019-07-24 15:52] Frankenslag commented on #623
@joperezr @krwq

This, along with #622 has been applied to the PR for the Ssd1351 Binding #575

[2019-07-24 18:28] BethMassi commented on #233
The only official logo we are allowed to have is the .NET logo (".NET" in Segoe font in purple box).
https://github.com/dotnet/swag/tree/master/netlogo

Are you trying to use an image/icon in a product somewhere to differentiate the workload? We use the Visual Studio design team to do that typically.

[2019-07-24 21:05] krwq opened #626 "Property vs Function for reading: Update guideliness and device bindings"
One of the offline feedback I got recently is that property when accessed twice in the row it should always produce the same value. We currently use properties for reading (i.e. Temperature) and that is not ture.

We should convert those to `ReadTemperature` - that should also make it easier to create async version of the code since the naming will be more consistent.

- [ ] Change all properties

[2019-07-24 21:18] bartonjs commented on #626
Yeah, the guidelines are there for it, they're just not cleanly in a bullet, so they didn't get transcribed.

Framework Design Guidelines, 2nd Edition, 5.1 p135-136:

* DO use a method, rather than a property, in the following situations:
  * The operation is orders of magnitude slower than a field access would be.
  * If you are even considering providing an asynchronous version of an operation t

[2019-07-24 22:09] shaggygi commented on #626
I'm assuming our strategy on [getting GpioPin values from properties](https://github.com/dotnet/iot/blob/26e1b07557ce650d3110769262a27b50f38650be/src/devices/Mcp25xxx/Mcp25xxx.cs#L168) needs to be changed, as well?

[2019-07-24 22:15] krwq commented on #626
@shaggygi yes but we can change that separately

[2019-07-25 00:41] shaggygi commented on #233
Yeah, trying to come up with a good icon for the .NET IoT repo.

[2019-07-25 03:22] alex182 opened #627 "Development work on Windows 10"
I am attempting to do development work on a Windows 10 machine for a project that will be used on a Raspberry Pi.  The only issue I am running into is that when I attempt to run my project on the Windows 10 machine I get the following exception `No GPIO controllers exist on this system.`.

Now I understand why that is happening (my laptop obviously doesn't have GPIO pins) but I was wondering if th

[2019-07-25 07:01] krwq commented on #627
@alex182 do you mean i.e.:

[code]

? What would you do with such instace? Could you give some usage example?

[2019-07-25 08:50] Frankenslag commented on #627
I am not really answering your question, I know, but I am not sure why you want to execute on the Win10 machine. I have found it reasonably simple to publish the resultant code to a RaspberryPi and then debug using a combination of VS2019 and vsdbg on the Pi.

This allows you to develop and debug using familiar tools if you are a Windows developer but also see the effects of manipulating Gpio, Spi

[2019-07-25 10:48] Ellerbach commented on #626
I understand the rational for traditional elements but for sensors, I don't really see a value of having both a function and a property.
In the case of having both, if I understan,d correctly, a property to be a property should be Something like "LastTemperature" which will always return the last read temperature and it will be updated by a "ReadTemperature" async function. am I correct?
Also with

[2019-07-25 13:31] alex182 commented on #627
@krwq I am developing an api that runs on the Pi but there are non-GPIO things that I want to be able to debug on my Windows 10 machine (logging, validation etc)

[2019-07-25 13:52] bartonjs commented on #626
The guidance isn't to have both, it's to rename the current `get_Temperature()` method (via the property) to `GetTemperature()` (and abandon the property).

[2019-07-25 16:22] joperezr commented on #627
@alex182 Does your app do other things apart from just controlling the microcontroller? I suppose it does and then that is why you want to just mock that part so you can continue debugging the rest of your code. I'm not sure we have a good way of doing that, but I would suggest two things:

1. You could locally create a class that extends the [GpioDriver](https://github.com/dotnet/iot/blob/master/

[2019-07-25 16:41] joperezr opened #629 "AddCallbackRemoveAllCallbackTest is failing intermitently in test runs"
**Ensure to re-enable or remove the test as part of this issue**

Because of the way that we currently have our SysFs Gpio Driver implemented, this test may run into a race condition intermittently and cause it to fail. Because of that, I'm going to disable it for now when executing SysFs driver tests or RaspberryPi driver tests as they use the same logic underneath. This issue is to track the wor

[2019-07-25 16:55] alex182 commented on #627
@joperezr thats exactly what I was looking for.   And yes the app does more than accessing the micro controller.  Thank you.

[2019-07-25 16:59] joperezr commented on #627
Cool, closing for now, feel free to reopen if you need any additional help.

[2019-07-25 16:59] #627 closed

[2019-07-25 19:32] krwq commented on #626
@bartonjs would it be acceptable to have something like:

[code]

so essentially pattern similar to what XML is doing - that should be a good trade-off between easy to use and clean, what do you think?

[2019-07-25 20:02] chrishamm commented on #378
Hmm, I thought I'd give System.Device.Gpio a try once again but unfortunately the same problem popped up again. I am using these versions now:

`
    <PackageReference Include="Iot.Device.Bindings" Version="0.1.0-prerelease.19375.5" />
    <PackageReference Include="System.Device.Gpio" Version="0.1.0-prerelease.19375.5" />
`

And two callbacks for Falling and Rising. The error is the same as last

[2019-07-25 21:17] bartonjs commented on #626
I think that everyone would get it wrong... unless the object is obviously an iterative reader, the notion of calling "Read" wouldn't occur to someone, so they'd just read the property, assume it's right, and have a bug later. (Maybe they'll find it quickly, but it's easy to make bad utility methods)

I really think that you want to just replace the property with a method.  If a sensor has multipl

[2019-07-25 21:20] krwq commented on #626
@bartonjs other reason for having Read would be that there are multiple sensors which read couple of values at the same time (i.e. temperature, humidity, pressure) - having Read would allow to not do 3 reads

[2019-07-26 04:45] bartonjs commented on #626
I'd call the void method that does that `Refresh` instead of `Read`, as mentioned above.  But unless it's conforming to some sort of `interface ITemperatureSensor : ISensor { SomeType Temperature { get; } }`, I'd look at making one method that returns a struct of whatever it is that it's reading. (I say this without having any idea of what the models look like... I'm just sharing approach.)

It's

[2019-07-26 05:02] ChadNedzlek commented on #626
I have to agree with Jeremy that we should cause people to fall into success unless they really try.

If something measures multiple things having
[code]
then having a single way to get that
[code]

Then it's really hard to use it wrong.  It's unlikely you'd have cached values, since we forced you to do the right thing once, you'll don't have to learn a _new_ way to "do it right the second time".

[2019-07-26 09:28] Ellerbach commented on #626
OK, so where it makes sense, we still can have Properties or where it's traditioanlly Properties (like in in the GPIO Controller) and for the rest, we will go for Functions.
Would be good then to document this a bit for everyone to be on the same page with a summary of the example you gave.
I like the ```Refresh``` pattern, the ```GetReading``` one as well as ```GetTemperature```.

[2019-07-26 20:47] joperezr commented on #378
@chrishamm can you please provide a simple repro project so that I can take a look? If you could also provide details on where are you trying to run it (like which board are you running in and what OS is installed) that would be great so we can investigate. Also as a side note, we just release preview 7 this morning into NuGet, so you might want to give those new packages a try just in case.

[2019-07-26 21:01] krwq commented on #378
@chrishamm for frequent events I'd recommend to just use a simple loop for now. Events are currently not very well suited for stuff happening frequently (especially SysFs implementation) - I wouldn't recommend using them for anything other than simple scenarios like button.

[2019-07-26 21:17] shaggygi opened #632 "RTC devices not setup for device-listing"
I haven't looked in any detail, but it seems like the recent changes/addition to [Rtc binding folder](https://github.com/dotnet/iot/tree/master/src/devices/Rtc) doesn't work with [device-listing](https://github.com/dotnet/iot/tree/master/tools/device-listing) generation now.

[2019-07-26 21:41] krwq commented on #592
@Ellerbach I'm having issue with the original code. I've only did minimal changes to your PR (only stuff required to make it build + changing UART to SPI):

[code]

I wanted to make sure original code is working first before I keep going. For SPI I connected NSS/CS to pin 18 as code suggested.

I'm seeing the issue above when I uncomment Lsb part but I don't feel confident sending a patch without

[2019-07-26 22:27] krwq commented on #632
let me re-gen and see what's going on

[2019-07-26 22:36] krwq commented on #632
@shaggygi device-listing is not being auto-generated - you have to manually run the tool (I've found manual better so far since it gives me a chance to review the changes). When I run `dotnet run` on device-listing dir I'm seeing:

[code]

so that seems to be a culprit - I'll fix it and send PR with the changes

[2019-07-26 23:10] #632 closed

[2019-07-26 23:11] shaggygi commented on #632
Yeah, i noticed that, which is a nifty utility.  It seemed like it wasn’t generating for Clocks section.

[2019-07-27 03:35] shaggygi commented on #626
IMHO `Read*` fits better than `Get*`.

- Get/Set is usually a property value
- Read/Write is usually over the wire/file/etc for the value

Therefore, would it be more appropriate as @krwq mentioned to use `ReadPressure`, `ReadTemperature`, etc.?

[2019-07-29 08:42] chrishamm commented on #378
@joperezr Have a look at https://github.com/chrishamm/DuetSoftwareFramework/blob/master/src/DuetControlServer/SPI/DataTransfer.cs. This program establishes an SPI connection to a Duet 3 (a 3D printer board in development/beta testing) and whenever the Duet 3 is ready to exchange data, a GPIO pin is toggled. This happens several times per second.

Because of the exception from the GpioController I

[2019-07-29 08:45] chrishamm commented on #378
@krwq A loop is no good solution because it either introduces latency or unnecessarily high CPU usage. Querying the GPIO chip device directly is a much better solution.

[2019-07-29 15:29] Ordjony opened #637 "System.Device.Gpio need Abstractions\HAL (Hardware Abstraction Layer)"
Propose to split **System.Device.Gpio** into different libs like **System.Device.Gpio.Abstractions** (e.g. asp.net core) without dependencies and **System.Device.Gpio.*** (OS or device-specific).

At the moment System.Device.Gpio has dependencies on Microsoft.Win32.Registry, System.Runtime.InteropServices.WindowsRuntime, System.Runtime.WindowsRuntime which looks like not necessary on Linux. Iot.De

[2019-07-29 15:50] joperezr commented on #637
Hey @Ordjony thanks a lot for logging the issue. Is the only concern that there are extra Windows-specific dependencies on the library package? If so, I don't think that this would warrant the fact of creating a new abstraction layer. All those three dependecies you found are only really used by the windows implementation, none of those dependecies are exposed in the API shape, and of course they

[2019-07-29 16:04] Ordjony commented on #637
Hi, @joperezr thanks for the very fast answer. Now I looked at Nuget package inside and understood that it's no problem to target any platform which supports netstandard 2.0. This dependency was confused.

[2019-07-29 16:08] joperezr commented on #637
Thanks again for your input and suggestion. If there is a specific binding you were interested in let us know so that we can create an issue for it and start taking for PRs.

[2019-07-29 16:34] joperezr commented on #378
I agree that our current implementation for the SysFS driver is not ideal when polling. I was trying to instead port this to use ioctl instead, but couldn't find good documentation on how to do this using the GPIO chip device. I found a tool in the linux kernel repo that uses this mechanism for polling but that code isn't under MIT license so I was not able to look at the code. Do you mind pointin

[2019-07-29 19:27] chrishamm commented on #378
Yes, I hope I can move over to your library again when .NET Core 3 is out :)

Have a look at this crate, its license seems to be fully compatible with the MIT license: https://docs.rs/crate/gpiochip/0.1.1/source/src/lib.rs Essentially, the gpiochip dev node seems to be controllable entirely via ioctl calls so it would be nice if you came up with a new GPIO controller implementation.

Just be aware

[2019-07-29 22:15] joperezr commented on #592
Chatted with @krwq offline. Given that for now there is only one device affected by this I think fixing the issue is lower priority for now, so I will mark it to future so that we can focus on other issues first. If we do eventually find a fix for this, we can still fix it in time before release, the idea of moving it to future is simply to not block the release on this issue.

[2019-07-29 22:31] krwq commented on #419
After offline conversation with @bartonjs and @joperezr (separately) seems mostly conclusions from https://github.com/dotnet/iot/issues/419#issuecomment-497916410 still stand.

One thing is that opt-out of Dispose for I2C/SPI is currently not well justified since we have no actual use case to re-use SPI/I2C device.

The other thing is we considered for GpioController to not do anything in the Disp

[2019-07-29 22:36] krwq opened #638 "Make hardware PWM more responsive"
Last time I used hardware PWM it had a bit of a lag when changing duty cycle - that made it basically unusable for many real-time scenarios like controlling the vehicle where such lag was causing wheels to turn (i.e. SoftPWM on one wheel reacted faster so effectively it caused vehicle to turn).

This needs to be investigated in 3.0 timeline.

[2019-07-29 23:05] joperezr commented on #638
Just a note, the only thing here that is 3.0 is the investigation. If there are any action items out from that, this won't need to happen necessarily for 3.0.

[2019-07-30 00:50] krwq opened #641 "Simplify DCMotor abstraction"
DCMotor is one of the devices we will declare as more stable for 3.0 and therefore it needs to be cleaned up to align with our guidelines better.

- [X] Name
  - Should this be called DCMotor <s>or DcMotor or differently</s>
- [ ] https://github.com/dotnet/iot/pull/643 All different ways of connecting DCMotor need to be simpler to use`*`

`*` This is a bit longer so let's expand it

DC Motor can b

[2019-07-30 16:41] joperezr commented on #419
This is not necessarily true. You can have multiple devices, each with their own GpioController instance, and they each cleanup the pins that they use when they are done. I can probably agree that returning the PinValue of a Gpio pin during cleanup to a default might not be ideal so we could change that, but other cleanup like closing the pins that were opened are things that I believe must still

[2019-07-30 18:42] #638 closed

[2019-07-30 18:57] bartonjs commented on #641
I would recommend just naming all of them `Create` (with appropriate `<summary>` descriptions distinguishing the overloads).

I assume that the extra pins are for some sort of V<sub>REF</sub>, which I'd then call `int referencePin` (or `referencePinNumber`) and in the 3-pin variety I'd call it `referencePin1`, `referencePin2`.  But maybe there's some other fancier name for their purpose.

@garath

[2019-07-30 21:31] garath commented on #641
Usually the purpose of everything is static, so a multifunction pin would be named for whatever it was to be used for. So, `ENABLE`, `DIRECTION`, `PWM`, etc.

For the two-pin type, pin could be named `direction`, couldn't it? The actual direction is arbitrary but it still controls direction. Then there would be no disconnect with the three-pin type and those could also get the more descriptive nam

[2019-07-30 21:35] bartonjs commented on #641
If two-pin is `(pwmChannel, directionPin)` what's three-pin? `(pwmChannel, directionPin, enablePin)`? (I seriously have no idea, but you said they could get "the more descriptive name" :smile:)

[2019-07-30 21:53] garath commented on #641
If I understand the intent of the abstraction, three pin is controlling both sides of the H-bridge and using the enable pin as overall drive control, so `(pwmChannel, directionPin, otherDirectionPin)`. The direction pins are set opposite for when driving. The enable pin / pwmChannel is pulsed to control motor speed.

[2019-07-30 22:08] krwq commented on #641
@garath presumably would calling pin `directionPin` for 2/1 pin mode be also fine? (or not confusing) - I was leaning toward similar name when talked with @bartonjs in the morning

[2019-07-30 22:34] garath commented on #641
Certainly make a clear note in the documentation what the states are and how the implementation will use the pins. In my experience that will have the most impact in resolving any ambiguity, especially when hardware gets involved.

[2019-07-30 23:42] krwq commented on #478
@MaklaCof I think I encountered this issue when testing fix for #641. I included the patch in the PR.

The issue only happens in 1 or 2 pin mode when using software PWM which uses the same controller for PWM and motor direction

[2019-07-31 08:50] ZhangGaoxing opened #644 "Abnormal data read from BME280"
My BME280 is normal. I tested it with Arduino. But when I use `Iot.Device.Bindings` to read, the temperature is higher and the pressure is lower. Here is my code, I used a timer to read.

[code]

## Scenario 1
If I remove `bme.SetPowerMode(Bmx280PowerMode.Forced)`, the temperature looks good, the humidity and the perssure are abnormal(The humidity is about 39%, and the pressure is about 100,000Pa.

[2019-07-31 09:39] Ellerbach commented on #592
I'm fine with that. I manage to have an experimental mode for SPI and the device provide 2 other ways to communicate thru High Speed UART and I2C.

[2019-07-31 10:10] RobinTTY commented on #644
While working on adding new functionality for the Bme680 device of the same family, I found a small mistake in the temperature compensation formula of Bmxx80Base: https://github.com/dotnet/iot/pull/482/commits/d4442c859452db8b8bae0f0166966b6990c2b28f

But the problem you describe doesn't sound necessarily related, since it changes based on which power mode is chosen. Maybe I'm able to find the pro

[2019-07-31 11:22] ZhangGaoxing commented on #644
Normal mode also haha🤔

[2019-07-31 11:53] ZhangGaoxing commented on #644
![image](https://user-images.githubusercontent.com/15957347/62209362-03cd5780-b3cc-11e9-81ea-160dd4d000b4.png)

The pressure data are also inaccurate. Is calibration data ok? Humidity data should be no problem, and the humidity meter on my desk is the same value. The Arduino library is [Adafruit_BME280_Library](https://github.com/adafruit/Adafruit_BME280_Library)

[2019-07-31 12:03] RobinTTY commented on #644
This rather small difference could very well be caused by the mistake that is currently in the temperature compensation formula (since the temperature is a component in the humidity and pressure formula).

The mistake is here:

[code]
I would therefore expect the current value to be too high, which matches your results.
I already changed this in PR #482 for the Bme680.

[2019-07-31 12:07] RobinTTY commented on #644
But the difference in the temperature measurement is rather strange to me 😄

[2019-07-31 15:45] yan0lovesha opened #646 "Cannot build for arm32 when use System.Device.Gpio in dotnet core preview 7 Web Application project."
I want to use System.Device.Gpio in a Asp.Net core WebAssembly project. I am using dotnet core preview 7. The repro steps are as below:

1. Create a solution in VS preview by using Asp.Net WebApplication Blazor WebAssembly template.
2. Upgrade all nuget package to preview7 version if any is still preview6.
3. In the Server side project, add reference to System.Device.Gpio.
4. Save all.
5. Run **do

[2019-07-31 15:49] joperezr commented on #646
Can you please share a binlog of your project to try to see what is going on? To produce one, please run the following on a developer command prompt: `msbuild yourSolution.sln /t:rebuild /bl:Build.binlog` this will create a Build.binlog file, can you please attach that here so that we can investigate?

[2019-07-31 16:48] krwq commented on #646
@yan0lovesha please also share `dotnet --info` and what is the version of System.Device.Gpio you are using

[2019-07-31 23:14] krwq commented on #644
@RobinTTY Would be cool to merge this PR soon then. What's left in there? Is it an option to extract that fix from your PR and create a separate one just targeting this issue?

[2019-07-31 23:16] RobinTTY commented on #644
@krwq sure I'll create a PR for it

[2019-07-31 23:40] RobinTTY commented on #644
@krwq Fixed in #647

[2019-08-01 05:16] yan0lovesha commented on #646
@joperezr @krwq , I attached 3 files for the result of binlog, dotnetinfo and dotnet_publish.

[dotnet_publish.txt](https://github.com/dotnet/iot/files/3455005/dotnet_publish.txt)
[dotnetinfo.txt](https://github.com/dotnet/iot/files/3455006/dotnetinfo.txt)
[binlog.txt](https://github.com/dotnet/iot/files/3455007/binlog.txt)

[2019-08-01 05:24] yan0lovesha commented on #646
This is the correct binlog file.
[Build.binlog.zip](https://github.com/dotnet/iot/files/3455022/Build.binlog.zip)

[2019-08-01 12:06] Frankenslag commented on #559
@andersonimes

Please see PR #648 This should allow you to use the soil sensor as below  assuming that you connect it to I2C bus 1 ...

    const byte Adafruit_Seesaw_SoilSensor_I2cAddress = 0x36;
    const byte Adafruit_Seesaw_SoilSensor_I2cBus = 0x1;

    using (I2cDevice i2cDevice = I2cDevice.Create(new I2cConnectionSettings(Adafruit_Seesaw_SoilSensor_I2cBus, Adafruit_Seesaw_SoilSensor_I2cAddre

[2019-08-01 16:52] joperezr commented on #646
The binlog that you provided doesn't have any warnings or errors about package downgrade, and they also don't have System.Device.Gpio as a reference. How are you trying to add the dependency to your project? Can you manually add the reference by editing the .csproj and then do a `dotnet publish . -r linux-arm /bl:Build.binlog` that way we can see exactly the repro of the issue and investigate.

[2019-08-01 21:02] krwq opened #650 "Add samples/tutorials on how to connect devices with Azure services"
Currently we have a lot of samples for each device separately but not many showing end to end scenarios. It would be to really good to add some kind of tutorial showing end to end how to put everything together and create a simple Azure service using some of our existing device bindings.

Once tutorial is up we can publicize this repo and link to the tutorial which would cause more people to start

[2019-08-01 21:19] joperezr commented on #419
The part that is tracked by 3.0 of this issue is to have clear documentation on how this should work. Actually moving all device bindings to follow this guidelines is **not** part of 3.0

[2019-08-01 22:26] krwq commented on #646
I think sharing csproj + commands you are using to build and run (also mention OS and architecture or what was run) should help us investigate

[2019-08-02 04:35] yan0lovesha commented on #646
Sorry, I think I attached a wrong binlog file yesterday. That was generated before I add gpio reference. This one is the one with error message.

[binlog.zip](https://github.com/dotnet/iot/files/3459629/binlog.zip)

[2019-08-02 15:21] Frankenslag commented on #650
@krwq

I am thinking about coming up with an FM radio as a demonstration. I am working on a RotaryEncoder binding for the volume and tuning functions and then a binding for an FM tuner all wrapped up with a display of some sort. I can't think how to involve Azure with this though.

[2019-08-02 16:27] joperezr commented on #646
Ok I know what is going on. This isn't a problem with System.Device.Gpio package, it is actually caused by a [NuGet bug](https://github.com/NuGet/Home/issues/3541) and the fact that we don't yet have a [good silent workaround in the sdk](https://github.com/dotnet/sdk/issues/3044). Even if you remove the System.Device.Gpio package reference and try to rebuild with `-r linux-arm` you will hit the sa

[2019-08-02 16:27] #646 closed

[2019-08-02 16:37] joperezr commented on #650
I have a demo of a website using Azure IoT Hub to control a couple of light bulbs connected to a Pi using our library, kind of a hello world home automation project so I could add that too.

[2019-08-02 20:33] krwq commented on #650
@Frankenslag possibly selecting FM frequency on the website and streaming sound?

@joperezr cool, could you add it any time soon?

[2019-08-02 20:46] joperezr commented on #650
sure I can probably work on this next week, just need to find out where I've put it 😆

[2019-08-02 23:50] ZhangGaoxing commented on #644
close via #647

[2019-08-02 23:50] #644 closed

[2019-08-04 14:27] Frankenslag opened #654 "The LibGpiodDriver.Linux cannot produce both rising and falling pin events."
If I look at AddCallbackForPinValueChangedEvent and WaitForEvent in the LibGpiod driver then I see the following

[code]

The way I read this is that you could not register for both a rising and falling pin event (you would just get the rising one). Is this intentional ? If not do you want me to create a PR ?

[2019-08-04 17:27] krwq commented on #654
yes, looks like a bug. You can go ahead and create PR

[2019-08-05 14:26] Frankenslag commented on #654
@krwq
PR #655 created to resolve this.

[2019-08-05 16:43] joperezr commented on #654
Fixed by #655

[2019-08-05 16:43] #654 closed

[2019-08-05 21:42] #603 closed

[2019-08-05 22:33] joperezr commented on #463
In the open PR #575 for Ssd1351 we made some comments about the guidelines for this saying that we should ideally not use the ICommand interface approach for display bindings. Given that this has been communicated now, I will change the milestone of this to Future since the remaining work for this would be to remove the ICommand design from the existing displays.

[2019-08-06 02:13] ZhangGaoxing opened #657 "Can not read a pin value in the PinValueChangedEvent"
I'm trying to bind an OV camera, and I need to use PinValueChangedEvent. After I initialized the camera and called `Capture()` method, the `GpioController.Read()` throw an exception in the event `VSYNC_ValueChanged`.

   at System.Device.Gpio.GpioController.Read(Int32 pinNumber)
   at Iot.Device.Ov2640.Ov2640.VSYNC_ValueChanged(Object sender, PinValueChangedEventArgs e) in C:\Users\zhang\source\re

[2019-08-06 12:25] tthiery opened #658 "[Question] W3C WebOfThings"
IOT devices often expose their features into standardized protocols. One of them, pretty new, is [W3C WebOfThings suite](https://www.w3.org/TR/wot-thing-description/) of architecture, descriptions and interfaces standards. Considering we have a world-class HTTP server (speaking of Kestrel) with the necessary feature set (e.g. WebSockets), I wonder if there are any intentions or teams already worki

[2019-08-06 12:54] shaggygi commented on #658
There was an issue created recently somewhat related.

https://github.com/Azure/IoTPlugandPlay/issues/20

[2019-08-06 16:40] joperezr commented on #657
Thanks for reporting this @ZhangGaoxing. Are you able to debug the program when the exception happens? I would be interested to see if you can debug into the call `_controller.Read(_pin.HREF)` and check what is the content of this hashset: https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/Gpio/GpioController.cs#L17 and checking if _pin.HREF is present.

[2019-08-06 17:00] krwq commented on #658
@tthiery I'd be happy if you picked this up with couple of notes.

1. Before we start to do any work let's first discuss the scenarios we want to solve so that we have clear goals.
2. Let's focus on min-value product first: i.e. let's only start with implementing part of the spec which immediately will be useful and for now cut everything else. We need to polish those APIs and make sure they at le

[2019-08-06 18:22] Frankenslag opened #661 "Raspberry Pi not detected using Ubuntu and Debian"
I believe that I have discovered that the detection logic for determining if a board is a Raspberry Pi only works if running Raspbian and not Ubuntu or Debian.

This is because /proc/cpuinfo doesn't bring back information about the SOC on Debian or Ubuntu.

I believe we should consider improving the detection logic for future releases perhaps using model information from the device tree.

[2019-08-06 18:29] joperezr commented on #661
The related conversation for this is: https://github.com/dotnet/iot/pull/595#discussion_r310729445

Changes that were prototyped that would fix this: https://github.com/dotnet/iot/commit/376570188c4871aa05d4e5e71143723bb46a7e65#diff-35260effbe2d55bb01d69655a81939e6R13-R43

[code]

[2019-08-06 20:55] shaggygi commented on #658
Understanding this issue was more specific to W3C WebOfThings, I believe it would be a good idea to reach out to the [IotPlugAndPlug](https://github.com/Azure/IoTPlugandPlay) team to get a better understanding what their deliverables will be.

As you can see from [this comment](https://github.com/Azure/IoTPlugandPlay/issues/6#issuecomment-489143745), there are SDKs and such already in the works.

[2019-08-07 10:37] shaggygi commented on #616
Referencing [Try out Nullable Reference Types](https://devblogs.microsoft.com/dotnet/try-out-nullable-reference-types/)

[2019-08-07 18:48] #641 closed

[2019-08-07 18:48] #478 closed

[2019-08-07 19:34] tthiery commented on #658
@shaggygi Peeking into the [IotPlugAndPlay](https://github.com/Azure/IoTPlugandPlay) repo, I see an interesting contract. Similar in simplicity what I see in the (early?) Mozilla Draft for the W3C WoT standard. In case I would architect a solution here, I would build a core definition model which can then be represented here as the contract from the Azure group, the W3C one or the (already in use)

[2019-08-07 20:08] krwq commented on #658
@tthiery this sounds reasonable. Could you expand a bit on:

- A core description model
- A data manager which allows to expose properties, actions, and events (pull/push based)

I think we should start with some more or less API shape and how would the code for adding device/thing and APIs for gateway look like (with some example theoretical code) and once we are all happy with that we can procee

[2019-08-07 20:27] shaggygi commented on #658
@tthiery 👍

We should try to make it work via different transports (thinking about **Project Bedrock** from the ASP.NET team).  This would allow different connections like Bluetooth, 232/485, ZigBee, etc... in addition to HTTP.

[2019-08-07 22:12] tthiery commented on #658
@shaggygi Well, once you have a core description model (and the data manager in/out), bindings to different contracts/endpoints are just a matter of implementation. The difficulty is to have a best of breed understanding OR accepting change to the core model over time.

@krwq Regards the code at https://github.com/dotnet/iot/tree/master/tools/device-listing ... I do not think that this is a match.

[2019-08-07 22:29] krwq commented on #658
So if things are orthogonal to sensors then would it make sense to make this a separate library/repo in such case?

[2019-08-07 22:42] krwq commented on #419
One thing to add here, I have previously mentioned that GpioController should not be disposed but I'm no longer convinced about that since @joperezr reminded me that each GpioController can open pins separately. I'm currently unsure what the guidelines should be about it. There are couple of options I can think of from the top of my head:
- always dispose and always pass ownership of **new** insta

[2019-08-07 23:33] safern commented on #616
We don't know yet. It might be annotated once we're done with the whole framework in the 5.0 timeframe (we don't know if that's the goal yet), however, currently we've only annotated 20% of the framework.

[2019-08-08 13:19] tthiery commented on #658
Yes, that is accurate. It is ortogonal to everything currently assembled in this repo. These kind of protocols belong to the heart of an IoT application like the sensors do (and hopefully an embeddable .NET one day ... one can dream).

Also there is no interface between these two domains.

[2019-08-08 16:33] krwq commented on #287
cc: @ZhangGaoxing

[2019-08-08 20:19] krwq commented on #658
Let's do following: since you're interested in a subject and it seems useful long-term it might be worth to add it first as a sample project (we have a `sample` directory under the root directory) and then from there we can decide if this is something we want to move inside this repo or if it should stay outside (or perhaps just take some pieces of it and move some pieces out). I.e. you might want

[2019-08-08 20:27] tthiery commented on #658
For now I will prototype some stuff in a separate repo. I will return to you once I have something to show.

[2019-08-08 22:05] joperezr commented on #419
Sounds reasonable to me.

[2019-08-08 22:30] krwq commented on #658
@tthiery we have already started some conversations internally related to these scenarios although not with Azure Plug & Play team

[2019-08-08 23:19] microhobby commented on #204
Sorry I know this is already closed, but I would just like to know if we have something similar to GPIO access, something that returns a "pin" object that have the bind between the bank and line ...

[2019-08-08 23:40] krwq commented on #204
@microhobby unfortunately not at the moment and also not sure if we will have time to address it in 3.0 timeline (also we know of reasonably many people taking dependency on that so not sure it will be a good idea to change it at the moment). We are aware of the problem with multiple gpio controllers touching the same device and we are already planning to show how this can be done.

Specifically I

[2019-08-08 23:56] microhobby commented on #204
@krwq Ok, I understand, if you need any help on this, or when we have any proposal notify me if possible, I will be happy to help

[2019-08-10 09:52] mkramar opened #668 "Exception while reading GPIO pin"
Hi guys!

I'm on Ubuntu 18.04.2 and I'm trying to run the following code:

[code]

gpio.Read gives me the following exception:

[code]

If I try to read that pin number using **gpioget** it works just fine and returns 1:

[code]

Any ideas what might cause the problem?

[2019-08-10 10:58] ZhangGaoxing commented on #668
try `sudo`. Error 1 means operation not permitted

[2019-08-10 11:15] mkramar commented on #668
Zhang, `gpioget` seems to do just fine without `sudo`.
By the way, when I switch from 'LibGpiodDriver` to `SysFsDriver` it also works fine

[2019-08-10 13:12] ZhangGaoxing commented on #657
@joperezr I printed out `_openPins`, HREF is in the `_openPins`, but the exception is still thrown.

![image](https://user-images.githubusercontent.com/15957347/62822246-69cb9300-bbb3-11e9-8c2e-5fbc8d82daed.png)

[code]

[2019-08-10 13:18] ZhangGaoxing commented on #657
My visual studio can not attache to the raspberry pi process, so I couldn't debug it and I couldn't find a way to solve the problem.

[2019-08-11 12:29] Frankenslag commented on #657
@ZhangGaoxing

I have tried the code below which I home mimics what you are doing... I don't see a problem. What is your hardware and OS ?

    class Program
    {

        static GpioController gpioController;

        const int pinID_VSYNC = 13;
        const int pinID_HREF = 12;

        static void Main(string[] args)
        {
            gpioController = new GpioController(PinNumberingScheme

[2019-08-11 15:05] Frankenslag commented on #668
I don't think that 1 means not permitted. I believe that the LibGpioD call will just return zero for success and 1 for any other problem.

What hardware are you using ?

[2019-08-12 18:57] joperezr commented on #668
cc: @buyaa-n as FYI as she is who wrote libgpiod driver. Are you aware what error 1 might mean? Is the driver supposed to work without sudo?

@mkramar if you try to run the same program with sudo, does the program run fine?

[2019-08-12 19:07] buyaa-n commented on #668
it should work without sudo, @mkramar are you sure your intended GPIO chip id is 2?

[2019-08-12 19:14] joperezr commented on #668
It looks like so, check his initial comment he tried running the gpiod commands, use number 2 as well, and that worked so I don't think that is the issue.