[2019-12-30 09:00] dpsenner commented on #841
Would it be feasible to do the event detection in kernel space? [This](https://github.com/porrey/Dht.Sharp/blob/master/Source/Dht.Sharp%20Solution/Dht.Sharp/Models/Dht22.cs) is a better solution that unfortunately is tied to the UWP (universal windows platform).

[2019-12-30 11:56] Kash0321 commented on #860
My collegue @rsciriano has done some investigation about the issue and has found this: https://github.com/dotnet/coreclr/issues/26063

It seems that "someone" has broken the behavior of the FromMilliseconds method...

It also seems that, for now, the best option is to use FromTicks instead of FromMilliseconds... I will try to create a PR to fix the issue for de Hcsr04 binding

[2019-12-30 23:53] SuperJMN commented on #918
@dpsenner Thanks, but I think I'm not seeting something. Today I've confirmed that the pin number 17 corresponds to GPIO17. What am I missing?

[2019-12-31 02:40] krwq commented on #860
Since this seems to be related to double rounding perhaps we should temporarily use TimeSpan.FromTicks instead to avoid any rounding issues... other option is to use DelayHelper

[2019-12-31 03:36] krwq commented on #860
Actually quickly debugging seems to me that first call of `_controller.Read` is taking much longer than expected and we miss initial echo and get stuck, If I call it at least once before I use the sensor it works correctly for me. I'll send a patch and let you test against it

[2019-12-31 04:16] krwq commented on #860
Ok, I've sent a patch, I'd appreciate if you've tried it on your setups and see if this fixes all the issues (including double checking if read values are correct)

[2019-12-31 10:07] Kash0321 commented on #860
OK, let me try it out in the next couple of days... Thank you very much, and happy new year!

[2019-12-31 11:46] pgrawehr commented on #918
Check this page: https://pinout.xyz/# The numbers noted as "BCM" are the ones you need if the scheme is set to logical (the default).

[2019-12-31 12:19] pgrawehr commented on #878
Picking this up again.

There are a lot of requirements here, but I think one of the central ones is that we want to standardize the interfaces of components as much as possible, so that things can be joined together at will. Any device that requires a digital pin to work (ie a simple LED, or a DHT sensor) should take a GpioController interface [maybe even an IDigialPin?), but where this comes fro

[2019-12-31 15:34] gurelsoycaner commented on #885
Hi,
Just wondering if any progress has been made

[2019-12-31 16:00] nahueltaibo commented on #885
Hi @gurelsoycaner, Not yet. I am in the middle of sitting for .net
certifications, so I'm studying in all my spare time.

Sorry. I will work on this once I have time again.

Cheers
*Nahuel Taibo*

On Tue, 31 Dec 2019 at 10:34, gurelsoycaner <notifications@github.com>
wrote:

[2019-12-31 19:30] krwq commented on #878
This sounds almost actionable right now, the only question is how would that interface look like, perhaps something like:

[code]

[2019-12-31 20:30] krwq commented on #860
Happy new year!

[2019-12-31 21:12] shaggygi commented on #878
Couple of brief thoughts...

This is a little confusing as the method states to get a driver, but returns a Board.

Same as above.  Board vs Driver?

Would `GetConnectedBoards` be better naming?

[2020-01-01 10:08] krwq commented on #878
In my head "driver" is just a code which allows you to use something which in context of naming is just added because it sounds better but is not the actual thing - similarly as "binding", "implementation" and many other words. Perhaps I'm missing something :roll_eyes:

perhaps, no strong feeling either way. `Connected` sounds a bit too specific to me - i.e. in case of something being on the same

[2020-01-01 15:39] Kash0321 commented on #860
I've tested your code in my setup and it works perfectly. However, I have a couple of considerations:

- The problem with the "FromMilliseconds" method still exists, but it only repros when the code is executed on .Net Core 2.2....    **On .Net Core 3.1 works fine**.
- However, now it seems to be irrelevant, because of the protections you have implemented

Thanks you very much

[2020-01-02 08:39] #918 closed

[2020-01-02 11:58] pgrawehr commented on #841
PR #914 is hopefully improving the situation greatly. It no longer requires any sleeps and can handle interrupts of several Khz. I haven't figured out how to make it 100% reliable, so still some interrupts may be lost.

@nahueltaibo Could you try to run your code with this patch and see whether it helps?

[2020-01-02 17:13] krwq commented on #917
cc: @shaggygi

[2020-01-02 17:45] shaggygi commented on #917
@krwq  I honestly have not used this device with the new `BusAdapter` scheme.

I'm thinking it blows up in [this method call](https://github.com/dotnet/iot/blob/fa2df6fdbbf86a2640fa2100ac8c77be93098a0e/src/devices/Mcp23xxx/SpiAdapter.cs#L39) as the buffer sizes are updated before calling `TransferFullDuplex`.

Briefly reviewing the code, it looks like the `buffer` is set to a size of 1 before call

[2020-01-02 19:02] Rinsen commented on #197
I have written a library that is not at all solving this exact issue but enables OneWire support on Raspberry Pis on both Windows and Linux via a DS2482 chip giving a bridge from i2c to OneWire bus and might help you if an add on chip is okay.

https://github.com/Rinsen/OneWire

[2020-01-02 19:07] krwq commented on #917
thanks, no problem @shaggygi I'll see if I have some time to take a look at this (I think I have this expander lying around somewhere)

[2020-01-02 19:21] pgrawehr commented on #878
This is looking quite good. I also don't really know about `GetBestBoard()` vs `GetBestBoardDriver()`. Driver is basically a software component for hardware, but this could be added anywhere, as we are not really getting the hardware, only the driver (or binding in our terminology) for it. Since we already have classes like `RaspberryPi3Driver()`, which will not be identical to the `RaspberryPiBoa

[2020-01-02 19:41] krwq commented on #197
@Rinsen that would definitely make the problem smaller for many people and provide a workaround in many situations. Support for DS2482 would be useful.

One thing to think about is to provide some kind of common interface between all devices using 1-WIRE so that this can be re-used in different contexts - perhaps something similar to what I2cDevice/SpiDevice has or perhaps just implement a Stream

[2020-01-02 19:47] Rinsen commented on #197
That's a good idea, I will take a look at what I have and if that could be generalized to not depend directly on the ds2482 implementation.

I think it  should be possible since the methods are just generic One Wire methods more or less.

[2020-01-02 22:56] #860 closed

[2020-01-03 03:27] garciaolais opened #921 "porting library with Apache 2.0 license"
Hi

I have a temperature 🌡  sensor [mlx90640 ](https://www.melexis.com/en/product/mlx90640/far-infrared-thermal-sensor-array) and I want to porting this code [melexis-mlx90640-library](https://github.com/melexis/mlx90640-library) but I am not sure if is possible porting code from Apache-2.0 to MIT.

😕 ❓

[2020-01-03 08:06] krwq commented on #921
cc: @richlander

[2020-01-03 08:07] krwq commented on #921
@garciaolais any chance this sensor is in any way similar to https://github.com/dotnet/iot/tree/master/src/devices/Mlx90614 ? Possibly some of the code can be re-used. If that's the case it might be easier to compare the registers in the spec

[2020-01-03 13:55] pgrawehr commented on #878
For buses (I2C, SPI) shall it be
[code]
with `I2cBus` providing `I2cDevice CreateI2cDevice(I2cConnectionSettings)` or only
[code]
?
The first variant requires an extra indirection, but is a bit more intuitive about the involved parts. Also, we might want to one time add operations that really operate on the bus, not a specific device, such as a general bus reset or a bus scan.

[2020-01-03 20:23] krwq commented on #878
I have mixed feelings on this. I think ideally this should be:

`I2cDevice CreateI2cDevice(I2cConnectionSettings settings)` since settings already has busId property

[2020-01-04 08:47] pgrawehr commented on #878
There are at least two operations that are useful on the bus, I think:
- Reset all devices (technically, that is done by sending a command to device ID 0)
- Scan the bus for devices (as I2cdetect does)
Of course, this funtionality could also be offered by (static) methods somewhere. I agree however, that since I2cConnectionSettings already contains the bus id now, this would be either a breaking c

[2020-01-04 12:07] shaggygi commented on #878
Agreed, and while I don't believe there are any plans to add additional properties (like we did for `SpiConnectionSettings`), using `I2cConnectionSettings` would reduce possible breaking changes in future if we did.

[2020-01-04 12:15] shaggygi commented on #878
Some devices might require an output pin connected to a Reset pin, but agree I believe many I2C devices I've looked at have a Reset command.

This can be deceiving as some devices will respond to multiple I2C addresses.  IMHO, I2cDetect is good for development/troubleshooting.  As a creator of a `Board` and IoT app, I would most likely know what I2C devices are connected and their set addresses.

[2020-01-04 22:35] krwq opened #922 "SoftwarePwmChannel should be in System.Device.Pwm"
Currently SoftwarePwmChannel exists in System.Device.Pwm.Drivers which is inconsistent with PwmChannel. It should be moved to System.Device.Pwm.

Please let me know what you think before I make any changes

cc: @joperezr @Ellerbach

[2020-01-05 01:17] shaggygi commented on #922
Agreed.  I’m assuming this will eventually be moved to the core library (similar to what you previously mentioned about moving the software SPI).  If that is not the intention, it might be worth to go ahead and also rename SoftPwm folder to SoftwarePwm.

[2020-01-05 01:59] techniq opened #923 "Ssd13xx SendMessage broken after upgrade"
After upgrading `System.Device.Gpio` and `Iot.Device.Bindings` from `0.1.0-prerelease.19307.2` to `1.0.0`, I noticed my `Ssd1306` no longer resets the position correctly when attempting to use the [SendMessage](https://github.com/dotnet/iot/blob/master/src/devices/Ssd13xx/samples/Ssd13xx.Sample.cs#L140-L150) method like I was using before.

First call, should just be the time with milliseconds, bu

[2020-01-05 04:51] IVData opened #924 "PCA9685 unreliable/broken"
**Describe the bug**

It seems like since #692 the PCA9685 no longer works correctly. Motors either don't spin at all, or they spin very slowly.

**Steps to reproduce**

[code]
Results in this output:

[code]

The duty cycle parameters are sometime set and sometimes not. When the motors do work (I have't worked out what gets me *some* movement yet), they run slow.
**Expected behavior**

Motors sho

[2020-01-05 04:59] #924 closed

[2020-01-05 10:05] hidegh opened #925 "GpioButtonWait - wrong expectations and output inside the code"
**Describe the bug**
The variable at will never be in "pressed" state, as **the waitResult.EventTypes does not returns the type of the current event**, but it returns the events we're listening to, so it's value is a [Flag] value: PinEventTypes.Rising | PinEventTypes.Failing see: https://github.com/dotnet/iot/blob/ae9ba984e1b637807185d648cb1c208d13f8db3e/tools/DevicesApiTester/Commands/Gpio/GpioBu

[2020-01-05 19:19] pgrawehr commented on #925
Thanks for the report, clearly this was a bug (`WaitForEvent` never read the new value of the pin). Added a patch to the already open PR #914.
Note that you may miss interrupts if the program is not fast enough to restart waiting.
@krwq: For the event driven approach, I think I could fix that as well (because I know the previous state), in the `WaitForEvent` explicit call that's harder. Do you con

[2020-01-05 19:39] pgrawehr commented on #878
I'm just thinking about future possibilities and whether they would need some preparation in the design now. I agree that normally one would know what's connected where, but IoT may evolve.  [There are several absolute-begginer-type languages and examples for programming it around, but rarelly anything for Pros]. I2cDetect may currently be a tool for troubleshooting, but we might one day try auto-

[2020-01-05 19:55] hidegh commented on #925
@pgrawehr The event driven approach was OK and working as expected. The WaitForEvent indeed can miss some events.

Actually I've checked your fixes and well, **I'm a bit confused**:
1. I assume the new code now correctly returns the button state at the given event
2. yet the property is called: waitResult.EventTypes and not waitResult.EventType nor waitResult.DetectedEventType

...I'm just referri

[2020-01-05 21:08] krwq commented on #924
@IVData can you share what problem have you hit so that we can potentially improve docs/sample?

[2020-01-05 21:17] krwq commented on #922
@shaggygi yes, I hope it will be moved eventually although I think it should pass all our tests first which currently it doesn't (Windows is running against it as fallback).

[2020-01-05 21:22] IVData commented on #924
Of course, as soon as I posted this I started suspecting a hardware issue, and found out the grounds between my PCA9685 and motor drivers were drifting apart, causing the weak drive and sometimes no drive at all.

I've fixed the issue and as far as I can tell this library is working perfectly. I just happened to replace the power supplies and upgrade packages at the same time. So apologies for the

[2020-01-05 21:29] krwq commented on #924
No problem, it's hardware - this happens a lot to everyone :smile:

[2020-01-06 03:35] krwq opened #927 "Software PWM does not change frequency correctly"
Changing frequency from 10kHz => 20kHz using the property causes signal to disappear completely. Changing it back to 10kHz it's still off. When setting frequency directly in the constructor and not changing it everything works correctly.

[2020-01-06 04:10] krwq opened #929 "SoftwarePwm should pick precision timer automatically"
By default SoftwarePwm does not use precision timer (precise while loop) which is causing that you can't exactly get reliably frequency - that is fine for servo motors but not exactly for any other use. Under oscilloscope I'm getting around 50Hz (shifts between 47.2Hz - 50Hz with most time spent exactly on 50Hz) by default even though it should be 400Hz.

We should consider removing this argument

[2020-01-06 04:24] krwq commented on #929
I've just checked how does the duty cycle perform for 50Hz and except for 0.0/0.5/1.0 all values seem to be inconsistent, i.e. for 0.7 I'm getting more or less 1/4 pulses with somewhat random width - my oscilloscope shows duty cycle as anything between 58-72% with average around 65%... I'm wondering if we should just not always use high precision timer

[2020-01-06 07:33] pgrawehr commented on #925
Oh, sometimes, one needs to read the docs first...
I would add the extra property to WaitResult, as it simplifies the code on the user side, especially since (dependent on the abstraction layer being used) additional delays need to be introduced between getting the interrupt and reading the new value.

[2020-01-06 07:54] pgrawehr commented on #929
I have a weird feeling about the usage of
[code]
in the code. Seems needlessly complicated just for waiting. Can you try whether these changes I prepared sometime ago (but didn't really complete, because I considered it not so urgent) improve the behavior in the default mode? https://github.com/pgrawehr/iot/tree/SoftwarePwmImprovement

In general, I'm not sure we should change the default to high-

[2020-01-06 19:43] #927 closed

[2020-01-07 02:01] alberk8 commented on #819
Is the PR going to happen soon?  Thanks.

[2020-01-07 02:28] krwq opened #930 "HCSR501 sample is throwing NRE"
Run sample, trigger movement

[2020-01-07 02:47] krwq commented on #819
@alberk8 haven't had time yet but this is really high on my TODO list at this point so might happen soonish

[2020-01-07 14:14] Ellerbach commented on #878
And to add to the discussion on platform/drivers, I recently tried to use the latest FT4222 with GPIO with a simple binding. Because most device uses directly in the code, it's not possible to have those bindings working correctly.
Typical implementation is:
[code]

And with this kind of implementation, using FT4222 as a GPIO controller doesn't work as there is no possibility to change the driver

[2020-01-07 16:21] pgrawehr commented on #878
@Ellerbach: Yes, absolutely. See @krwq and my discussion in PR #919 about GpioController object lifetime. The `GpioController` class is designed to be bound to the respective devices, but that - as you found out there - is not going to work if the actual implementation of the controller doesn't support multiple instances.

In other words, we need to be very clear about the <b>object lifetime</b> i

[2020-01-07 19:55] #930 closed

[2020-01-07 22:27] krwq commented on #929
@pgrawehr I've just spoke with someone from JIT team and neither AutoResetEvent nor Task.Delay nor Thread.Sleep guarantee anything better than few ms precision. I'd recommend to use DelayHelpers from our code instead for both methods and perhaps allow thread yields when no precision is required. This way we at least have some way of swapping underlying implementation globally

[2020-01-08 08:10] pgrawehr commented on #929
I guess you are right. At 50Hz, one cycle is 20ms, so at duty 0.5, that's one event every 10ms, which is already at the minimum thread switch time for some CPU/OS combinations.

[2020-01-08 15:49] Rinsen commented on #197
@krwq what is the reasoning behind having the shared "interface" for I2cDevice and SpiDevice as an abstract base class and not an interface definition?

I have no that strong opinions but would create it as an interface if I would design it without looking into the previous types.

[2020-01-08 17:54] krwq commented on #197
When we first developed the first version of this library interfaces were somewhat considered anti-patterns for framework because they don't version well - any modification to the interface - including adding stuff is a breaking change. For abstract classes you can still add non-abstract methods. Since recently interfaces support default method implementation which make them closer to abstract  cl

[2020-01-09 07:33] Ellerbach commented on #929
Yes, the non precise one is really to be used with led or some motors equivalent where it doesn't really matter if it's extremely precise. The advantage is that the thread and processor usage is very low in this mode.
The precise mode has to be used for servo motors for example, as @krwq mentioned in one of the thread, it can get much higher, couple of kHz. The initial code wasn't really designed

[2020-01-09 07:45] pgrawehr commented on #929
What is the maximum frequency that is used to drive motors?

I think we should at least consider creating one high-precision thread for all SoftwarePwm Channels. With a bit of intelligent delay compuation, we could at least limit the high CPU load to one core.

[2020-01-09 08:04] krwq commented on #929
@pgrawehr for DC motor I never needed more than 50Hz and SoftPWM with non-accurate timer was working fine for me. For servos I wouldn't expect non-precise to work correctly. IMO we should start with making current SoftPWM implementation better and make sure it passes the tests in my PR which upgrades the CI setup. Once we are confident this works correctly and have CI testing that then we should o

[2020-01-09 08:08] pgrawehr commented on #929
I agree on that - that was just an idea for improvement to limit the effect of the most obvious downside of the precise implementation.

[2020-01-09 08:10] krwq opened #932 "DCMotor should have different namespace"
DCMotor should have namespace which is different than the type name. Having same name causes that in many scenarios it's required to type DCMotor.DCMotor in order to make sure the expression is non-ambigious.

Perhaps DCMotor and Servo should be in the same namespace: `Iot.Device.Motor(s)`

[2020-01-09 08:11] krwq commented on #929
@pgrawehr eventually we can perhaps also join that with some of the event logic used for waiting but not sure how much we can squeeze into a single thread without losing precision too much

[2020-01-09 09:09] pgrawehr commented on #929
Yea, also had that idea. I'll try to do some tests on CPU load with interrupt driven approach. I have verified that interrupts at 1khz can be handled with reasonable precision, but I didn't check the CPU load for doing that.

[2020-01-09 11:40] pgrawehr commented on #929
[Here](http://www.netzmafia.de/skripten/hardware/RasPi/timer/index.html) is a very extensive documentation about timers and achievable delays in linux and on the Raspi in particular. Not sure it helps us anything, but that guy there seems to know exactly how the linux kernel handles timers. The text is in german, tough.

[2020-01-09 15:06] pgrawehr commented on #932
Note: Problem exists for other bindings, too (i.e. Ads1115)

[2020-01-10 18:54] krwq opened #934 "SoftPwm should be able to pass CI tests on Windows"
SoftwarePwm implementation is currently failing on Windows. The implementation is platform independent and when I tried it locally on Linux against #758 it was passing all tests (possibly they were flaky - I've tried maybe 3 times). On Windows the values on ADC input (or PWM output after low pass filter) were close to expected value but slightly outside of the expected range. We should try to impr

[2020-01-10 19:15] joperezr commented on #883
@krwq Have you used one of these motors before? I wonder what do you m ean by "almost impossible"

[2020-01-10 19:19] Rinsen commented on #197
Thanks for that explanation, really makes sense :)

I have done some experiments but also looked around at some code in this repo and other places to get some inspiration and this supports my needs quite good :)

The naming is as usual a bit hard for me, I don't really like the name OneWireDevice for the host device since that's the sensor for me and then OneWireBus might be an option as in
https:

[2020-01-10 19:45] krwq commented on #883
@joperezr I only tried to control stepper directly through H-bridge on Raspbian with different language and my experience was similar unless you rotated it very very slow. AR988 looks relatively simple to write a driver for. I think Uln2003 is conceptually similar to H-bridge so I expect experience to be similar.

I don't think I have any AR988 at the moment. @Ellerbach?

[2020-01-10 21:48] joperezr commented on #884
great catch @kenssamson this indeed looks like a bug in the sample.

[2020-01-11 00:27] joperezr commented on #916
@Parsakarami where you able to get it working after applying @krwq suggestions?

I'll go ahead and close this given this was a question and it was answered.

[2020-01-11 00:27] #916 closed

[2020-01-12 07:50] Parsakarami commented on #916
Thank you @krwq for your suggestions, I can change the permission of the Raspberry Pi UART port with the following command :
       `sudo chmod 777 /dev/ttyS0`

To check permission also can use this command :
       `ls -l /dev/ttyS0`

After set permission on the UART port, my problem has been solved.
Thanks.

[2020-01-12 08:01] Ellerbach commented on #883
I'm travelling and not at home where I have a large base of components, so I need to check once back end of the week.

Uln2003 is a transistor array. So not really an H bridge. AR988 is made to create steper drivers up to sixteenth of step. To have something smooth to drive motors, better use a real driver.
And correct, should be quite straight forward to create a driver. See https://www.pololu.co

[2020-01-12 15:47] pgrawehr commented on #677
@krwq, @stevehayles @dotMorten Any futher progress/updates on this issue? NMEA Support is actually a central part for my project(s) as well, so I would be interested in a suggested approach/solution to get this integrated.

I have not yet analyzed the proposed solutions in detail, but one important part would be to have an NMEA component that is bi-directional, so it should be able to both read an

[2020-01-13 17:57] krwq commented on #832
Ok, We're likely gonna start seeing this on CI so might be worth at least wrap the exception in something more convenient... Perhaps we should at least throw some exception type we could use for retry (i.e. I2cException or something)... other option perhaps could be ProtocolException - or do we leave it as is? cc: @joperezr

[2020-01-13 18:31] eiriktsarpalis opened #937 "CI Status badge linking to badge image"
**Describe the bug**

The [CI status badge](https://github.com/dotnet/iot#official-build-status) is linking to the badge itself as opposed to some pipeline.

[2020-01-13 18:53] joperezr commented on #832
We could probably eithe3r Wrap the Exception in order to provide a better message, but usually when you get one of these it means that the comunnication on the I2c Bus can't find the sensor, so retrying won't really help at all. In CI for example, I expect that once we see this in one of the devices, it will fail the test every single run on that machine until we go to the lab and re-connect the s

[2020-01-13 18:56] joperezr commented on #937
I believe you are correct, thanks for pointing it out @eiriktsarpalis I'll fix this right away.

[2020-01-13 18:58] joperezr commented on #937
Ohh I see what the problem is, the problem is that I linked it to the actual official build status which is internal so only signed in users can see that. I'll switch it to the open rolling build instead.

[2020-01-13 19:10] krwq commented on #677
@pgrawehr my prototype in PR allows writing but the device I have doesn't (it only sends data with some constant interval)

[2020-01-13 19:51] pgrawehr commented on #677
@krwq Thanks, I hadn't inspected it that deeply yet. I have set up some infrastructure that should allow me to simulate both receiving and sending data, so I'll try out your PR soon then.

[2020-01-13 19:55] pgrawehr commented on #832
@joperezr Unfortunatelly, it's not that easy. You are right that error 121 hapens when the device does not answer, but as we've seen from several reports now (mine included) it can also happen intermittently. For reasons that are not exactly understood yet, sometimes the error pops up after the system had been running fine for minutes or even hours and goes away again as it came.

[2020-01-13 19:59] krwq commented on #677
@pgrawehr note the support is super limited and the NMEA sentences are relatively simple... what kind of device do you have?

[2020-01-13 19:59] #937 closed

[2020-01-13 20:03] krwq commented on #937
@joperezr now it shows "never built"

[2020-01-13 20:05] joperezr commented on #937
Yup, that's expected, continuous integration was disabled on the public build, I enabled that but in order for it to run it needed at least one new commit, which was the one for my readme. So it should be either green/red on a few mins :)

[2020-01-13 22:56] DanielSSilva opened #939 "Multiple controllers, same pin inconsistency"
This might not actually be a bug but it's something that we might need to discuss.

I was testing the framework, and created the following scenario:
- Have an app that deals with turning a light on and off
- Have another app that checks if a led is on, and if so do something else.

Essentially, we will have 2 controllers that will use the same pin.

From my understanding, 1 controller should only

[2020-01-13 23:15] joperezr commented on #939
Thanks for logging this @DanielSSilva.

I may very well be misunderstanding the scenario, but I believe that if you use one pin (as output) to turn on an LED, you won't be able to turn that into an input pin and expect the LED to stay on. You can think of it as turning the pin to Input as having it flowing the current on the other way, so now instead of the pin flowing positive to the LED so it tu

[2020-01-13 23:36] joperezr commented on #921
We should use this issue so that once we have an answer for @garciaolais we should document it somewhere in our README. I believe the answer is that we can't take it, but let's wait for @richlander response.

[2020-01-14 01:11] krwq commented on #921
I think it actually might be allowed but might require 3rd party notice but I'd prefer @richlander to give official  answer

[2020-01-14 08:12] pgrawehr commented on #939
@joperezr The second point you mention is related to #878 and another instance of the problem discussed in #919. I was also using the GpioController always as singleton instance, but some bindings prevent that now (because they free the controller on dispose). With the next iteration, we should be more clear about the object lifetimes, especially of the GpioController instances, though.

I suggest

[2020-01-14 08:39] pgrawehr commented on #677
Well, the device that I have is a sailboat 😄

Or at least, that's what I want to use it with. The existing (quite new) electronics installation includes some sensors (wind, speed trough water, GPS) and a simple display. It has a bi-directional NMEA 0183 interface where I want to connect the Pi to. On the Pi, I can run navigation software (just evaluating the possibilities) and have additional sens

[2020-01-14 11:57] DanielSSilva commented on #939
Hello @joperezr.

Regarding your first statement

 I'm not sure if that's totally true. The reason why I'm saying this is because on our current PowerShell.IoT module, which relies on the Unosquare.Raspberry.IO, if we set the pin to be [output](https://github.com/PowerShell/PowerShell-IoT/blob/master/src/Microsoft.PowerShell.IoT/Microsoft.PowerShell.IoT.cs#L259) and then read from that same pin as

[2020-01-14 12:24] pgrawehr commented on #939
Unosquare uses wiringpi as low-level interface, and that one internally uses the exactly same interface than this library. Also, I would be very confused about how that would physically work, since if an input pin can be used as a power source, it couldn't be used as a sensitive input for external data. Somehow, your observation most probably relies on some bug somewhere (i.e. pin status not reall

[2020-01-14 19:52] krwq opened #941 "Flaky tests in CI (12% (now 3%) chance of failure)"
I've just run (Linux Release) CI tests 50 times in a row and out of 50 runs 6 failed with following failures:

5x (Fix pending https://github.com/dotnet/iot/pull/945):

[code]

1x:

[code]

cc: @pgrawehr @joperezr

We should try to understand the failures and if this is by design then retry or remove the test

[2020-01-14 22:10] pgrawehr commented on #941
Eventing will be way better with #914, but I couldn't get it 100% reliable as well.

[2020-01-14 22:12] krwq commented on #941
I'm generally fine with retries on SysFS eventing implementation since we understand there is a limitation but for the PullUp/PullDown I'd expect this to just work and I'm uncertain why the test is failing and I'm a bit concerned with hiding the issue. As a temporary solution retrying seems fine to me but we should create an issue for investigation

[2020-01-14 22:30] krwq commented on #941
I'm wondering if perhaps this delay isn't too small:
https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.Linux.cs#L277

And validate if spec
https://www.raspberrypi.org/app/uploads/2012/02/BCM2835-ARM-Peripherals.pdf Section "GPIO Pull-up/down Clock Registers (GPPUDCLKn)" have some extra info which perhaps we missed..

[2020-01-14 22:42] krwq commented on #941
Perhaps we should also not store the temporary value in the local since that is opening time window where something else might be fighting with the value of the register

[2020-01-14 22:58] joperezr opened #943 "Test InputPullResistorsWork will fail intermitently"
During some sample test runs, @krwq discovered that this test will fail 12% of the time which is why as a mitigation we opted to do #942 which adds a few retries in case the test fails. This workitem is going to track the work of investigating what is wrong with that test and to provide a fix for it in order to make it more stable, or to fix the product if that is appropriate.

cc @krwq @pgrawehr

[2020-01-15 07:00] pgrawehr commented on #941
@joperezr has opened #943 to track that test explicitly. We should discuss specifics there.

[2020-01-15 07:03] pgrawehr commented on #943
Question: Do all the CI tests run on Pi 3's? Because, as I mentioned, the problem sometimes happens on my board too, and that is a Pi4, which has entirely different logic for setting up the pull resistors. This makes it kind of unlikely that it's only a timing issue in the code for changing the settings (which is pretty complicated for the Pi3).

[2020-01-15 17:21] krwq commented on #943
@pgrawehr, yes, all tests run on Pi3s at the moment.

Moving my notes from the other issue (things we should try here):
- not store the value of the register in the local since that is opening time window where something else might be fighting with the value of the register, we should operate on it directly
- validate if spec
https://www.raspberrypi.org/app/uploads/2012/02/BCM2835-ARM-Peripherals.

[2020-01-15 19:30] pgrawehr commented on #943
Yes, SpinWait is clock-dependent: https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.spinwait?view=netframework-4.8

Maybe we should calculate the duration of a cycle for SpinWait on app startup?

[2020-01-16 20:58] Ellerbach opened #948 "Bluetooth Low Energy support?"
Some devices are connected using Bluetooth Low Energy (BLE). This is supported in Xamarin for example on the diverse platforms. Is there any plan to have similar support for .NET Core?

[2020-01-16 22:24] krwq commented on #948
We haven't considered this during planning. Do we have any sense on how much work that is?

[2020-01-16 22:46] #943 closed

[2020-01-16 23:30] shaggygi commented on #948
Seems like it would follow similar pattern as System.Device.Gpio (and protocols - SPI, I2C, etc.) like [Windows.Devices.Bluetooth](https://docs.microsoft.com/en-us/uwp/api/windows.devices.bluetooth)... System.Device.Bluetooth?  Should this be a separate package as it most likely wouldn't need dependencies on current GPIO stuff?

[2020-01-17 00:03] krwq commented on #941
After merging pull up/down PR here are the stats.

3/100 failed with all 3 failures being:

[code]

[2020-01-17 02:33] krwq commented on #948
I'd start with putting this in Iot.Device.Bindings bag for a starter and once it's stable enough either put it in System.Device.Gpio or new package

[2020-01-17 08:20] Ellerbach commented on #948
@krwq, I don't know exactly how much work it will require. Looking at some part of Xamarin and couple of additional packages, it's quite some work. BLE seems to have quite some specificities with contracts and services, the mechanism needs to be implemented quite low level on my understanding and then there will be the possibility to add capabilities for specific sensors like buttons, like tempera

[2020-01-17 21:55] joperezr commented on #922
I agree with @shaggygi and would only do this once we can a) rename this to SoftwarePwm and b) move it down to System.Device.Gpio. That is the right place for it anyway and I think doing these 3 steps separately makes no sense, so lets just do all three together.

[2020-01-17 22:14] joperezr commented on #925
Thanks for reporting this @hidegh. Do you mind giving more info into what driver you were using? In order to know that, we would have to know where is it that you were running (linux/windows) and then if linux, it would help to know if you were running on a Raspberry Pi, and also if you had libgpiod installed in your machine.

[2020-01-18 13:05] hidegh commented on #925
@joperezr it's .NET Core 3 used on Raspbian stretch with Raspberry Pi 3B+; Latest IotNuget at that time.

But as mentioned it's not my code, nor a malfunction, it's a wrong sample on the repository. The sample wrongly assumes that the property EventTypes is the type which lead to the event, but as proven in the screenshot (where the desciption is from XML summary fields, so part of the IOT documen

[2020-01-18 13:32] pgrawehr commented on #925
@joperezr I think the original behavior was really a bug that got introduced _because_ the documentation was missleading. (Remember out conversation in https://github.com/dotnet/iot/pull/914#discussion_r365097534 ?) Also since the linux and the windows version behaved differently and returning the argument in the result is not really meaningful I fixed that over in #914.

@hidegh No, unfortunately

[2020-01-21 17:45] joperezr commented on #925
Here is a bit more background info on the subject. When we were initially writing the drivers to implement this method, we did want to return the events that were detected, not all of the ones we were listening for. The problem is that with some drivers (like the SYSFS one for example) the interrupt won't have any info on why did you get the interrupt, so you won't really know if the event was cau

[2020-01-21 17:47] joperezr commented on #925
To move forward, we could either think of a better way to detect the event type of the interrupt for all drivers, or on the other hand we should just do what @hidegh proposes and adjust the sample project as it seems to be infering the wrong assumption now.

[2020-01-21 18:51] joperezr commented on #932
This is already the case for most of our bindings, so I believe it would be really hard to change all of them as it would be basically a ginormous breaking change, so I would avoid that unless absolutely necessary.

[2020-01-21 20:56] pgrawehr commented on #925
Hmmm... I can see your point. At least with the improved Raspi interrupt detection logic I've implemented, I have not seen this problem, though. The interrupt kind was always reported correctly. I'll try to explicitly force the problem once and see whether I get it to happen. I'll also try with SysFs alone.
Do you by chance have the test cases you were testing still somewhere?

To improve the situ

[2020-01-21 21:44] joperezr commented on #925
I don't have a test because our current tests are forced to run in a single-thread and I was seeing this problem when running multi-threaded apps which had several controllers on each thread control the value of one output pin which was directly connected to one input pin, and then I was trying to read the events coming in from the input pin on the main thread. Cases like that were the ones where

[2020-01-23 10:48] danielloczi opened #955 "Is I2cDevice.Write() thread safe?"
I have an application which drives a bunch of i2c chips on the same bus. I create an instance of I2cDevice for each chip. Sometimes I experience, that the try-catch around I2CDevice.Write() logs exception and sometimes I can kill the whole panel (I need to power cycle it). So the question is the implementation of write method thread-safe, or I have to ensure it manually?

[2020-01-23 14:00] pgrawehr commented on #955
I can't answer your questions for certain, but I'm pretty sure that it _should_ be thread safe, as long as you're only accessing the same device from a single thread. I have tried this myself and it seems to basically work. However, there's a known issue that sometimes, Write (or Read) causes an exception if the device does not answer in time, and maybe also if the bus is busy. A simple retry shou

[2020-01-23 14:13] pgrawehr commented on #925
@joperezr For `WaitForEvent` that's true, and there's no way we can guarantee correctness there, because we cannot detect an event while we're not (yet) or no more waiting. But at least we can tell that there was _at least one_ edge in the detected direction.
For the callback variant, it should be possible to be better, because we always know what we last saw. It is still possible that we might mi

[2020-01-23 17:50] joperezr commented on #955
That is a great question @danielloczi thanks for asking, and my answer is assuming that you are running in Linux, if you meant Windows please let me know. The actual implementation from our side is thread safe, since all we do is to grab a pointer to the data of the message that you want to send, and we pass it down to ioctl with the right flags which will actually send the message to the i2c bus.

[2020-01-24 08:39] danielloczi commented on #955
I work with a Microchip SAMA5D27C-D1G-CU CPU, the operating system is Linux.
If I talked about killing the panel, that means, that my app, and also even the OS freezes, all connections to the panel lost, the heartbeat LED also stops. The only way to put it back to life is to power recycle the panel. Yes, that doesn't sound so good. :)

So if I understand correctly if we are talking about a single

[2020-01-24 08:44] pgrawehr commented on #955
Sounds like a good test. I have actually written a program that talks to several I2C devices from different threads (2 * ADC and a LCD Display) on my Raspberry Pi4. I haven't run it for very long yet, but so far it worked ok. Certainly it never happened that the whole OS crashed.

[2020-01-24 17:22] joperezr commented on #955
When I said that I2cDevice.Write was thread safe, I didn't meant that it would serialize the calls to Write as it currently won't do that, what I meant is that the only state that this method relies on are the parameters that get passed in to the method, and it won't modify any state on the I2cDevice itself, which means that calling it several times from multiple threads won't really alter state o

[2020-01-26 05:20] krwq commented on #955
@danielloczi bus should be thread-safe, the I2cDevice is arguable (the Write operation itself is fine but you most likely will corrupt protocol used by the device if you used it multi-threaded).

What exception are you getting? Please see also https://github.com/dotnet/iot/issues/832 if this isn't related

[2020-01-28 09:53] danielloczi commented on #955
I'm getting
[code]
exceptions.

[2020-01-28 09:58] pgrawehr commented on #955
Well, 110 is something new, but 121 has been seen before, see #832. It is suspected to happen when either the bus is busy or the device doesn't answer in time. So far, a retry always seemed to help. Would be good if you could test that.
Of course, most tests have been done using Raspberry Pi's, so things might work (or not work) a bit differently on your hardware / operating system flavor.

[2020-01-28 10:02] danielloczi commented on #955
There is already a retry logic in the code, which tries 4 times by default. I log the exceptions to console, and most of the time 2nd or 3rd attemp is successfull.
I'm testing which exception occurs just before the panel freeze. I guess that will be the 110.

[2020-01-28 11:50] pgrawehr commented on #955
We've had no reports of error 110 so far. The OS description for it is "The timeout for the connection has elapsed", which is not very useful :-(

[2020-01-28 14:56] danielloczi commented on #955
I've created the test app, which drives all chips in a while(true) loop without delay. It works fine. I left the test app running for a long time, and didn't receive any exception. So communication looks good.
Also did a bunch of other tests, and it seems, that the panel freeze issue is not related to the sw stack. At this point I'm pretty sure, that in my case the problem is caused by the input e

[2020-01-28 22:50] richlander opened #961 "Update global.json to 3.1"
It's time to move to 3.1.

https://github.com/dotnet/iot/blob/master/global.json#L11

[2020-01-29 00:43] #961 closed

[2020-01-29 07:16] pgrawehr commented on #955
@danielloczi So this means there's no issue with _this_ library? Can this be closed as "problem of the hardware/os driver", then?

[2020-01-29 09:04] danielloczi commented on #955
Yes, the case can be closed. Thank you guys!

[2020-01-29 15:59] richlander opened #963 "Update IoT.Device.Bindings"
It looks like the package is now out of date.

This line breaks with the current NuGet package: https://github.com/dotnet/iot/blob/samples/src/devices/Bmxx80/samples/Bme280.sample.cs#L9

We need to define a release approach for this assembly, including how to report breaking changes.

[2020-01-29 17:25] #955 closed

[2020-01-29 17:49] joperezr commented on #963
Yes, @krwq and I have talked about this, and we have an easy way to check all breaking changes that have happened on the iot.device.bindings package, so we will communicate all of these for our next release.

[2020-01-31 18:36] pgrawehr commented on #925
@joperezr I have tried hard, but couldn't reproduce a problem as described. My setup:
- Use a square wave generator, running at 1khz
- Waiting for rising events
- Check that the result correctly indicates they were rising

I tried modifying the duty cycle of the square wave from very short to very long pulses, but I never saw a falling event being detected when reading the state just after I got t

[2020-01-31 21:40] joperezr commented on #925
Thanks for getting that data @pakrym I think it is really useful. If that is the case, then we can probably change the API to have both the events being waited on and the events that were detected. We can get a proposal ready for this and check it out with our review board.

[2020-02-03 21:05] elead1 commented on #963
Any timeline on the next release? The current master branch indicates [support for 4-bit I2C devices](https://github.com/dotnet/iot/blob/2ceabde76bfc094678432a2faa67beaf7c513d78/src/devices/CharacterLcd/LcdInterface.cs#L145), but the release 1.0.0 only supports 8-bit. I worked around this issue by installing a pre-release version 1.1.0-prerelease.19577.1, but it seems the pre-release may have been

[2020-02-03 22:07] joperezr commented on #963
The full release of vNext is not fully decided yet, but it is very possible that it will just align with .NET 5 schedule (meaning we will probably ship a stable version of the packages into NuGet around November). That said, we plan on starting to ship previews of vNext into NuGet starting this month, and they should go in in a monthly cadence.

It hasn't just make sure that you are pointing into

[2020-02-04 14:12] shuebener opened #971 "UnhandledException in WasEventDetected method"
On my test system the method _WasEventDetected_ from the _SysFsDriver.Linux.cs_ throws an Exception because the _Interop.epoll_wait_ method fails. While I haven't found the reason yet, how am I supposed to catch this exception? Since this code is executed in a new internal Thread, it will jump to my unhandled exception handler and kills my application.

[2020-02-04 17:46] joperezr commented on #971
Thanks for logging this @shuebener, you are correct that we are running that code in a separate thread and we are not catching exceptions raised there so we should probably fixed that. That said, I'm not sure which exception might be thrown from epoll_wait, so if you have a repro or if you could attach to the process, that would be great so that we can better understand what is going on.

[2020-02-05 07:46] gsutra commented on #917
Hi,

We are facing the same issue. @krwq Would you have a quick workaround ?

[2020-02-05 08:31] shuebener commented on #971
https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/Gpio/Drivers/SysFsDriver.Linux.cs#L409
[code]

It happens for me only a few times, when epoll_wait returns -1.
The errno then is EINTR (4) -> "The call was interrupted by a signal handler before the timeout expired or any requested event took place."
I noticed, there is a SetLastError missing for the epoll_wait dll impo

[2020-02-05 17:34] joperezr commented on #917
@gsutra do you mind sharing the callstack and if possible your sample repro code as well so we can investigate and either fix the issue or give you a workaround?

[2020-02-06 04:07] garciaolais commented on #921
Workout 🏋
![Body](https://user-images.githubusercontent.com/14133711/73904486-da512500-4861-11ea-8bbf-63d718fbafed.gif)

Windows Sample App with multiple temperature palettes 🎨

![WPF](https://user-images.githubusercontent.com/14133711/73904582-16848580-4862-11ea-88f9-b4974c06f331.jpg)

----------------------------------------------------------------------------------------------------
I'm still w

[2020-02-06 18:45] dontspeak opened #974 "PinValueChangedEventArgs uses wrong PinNumberingScheme"
Im initiating the gpiocontroller with **board** numbering scheme, but when I receive change events, the `PinValueChangedEventArgs  `does provides the **logical** pin:

[code]

The `PinNumber `should depend on the `PinNumberingScheme`? I.E. in that case, it should return the according board pin number (which is 16) and not the logical one (which is 23).

RPI 4b
.NET CORE 3.1.1

[2020-02-06 18:51] pgrawehr commented on #974
I guess you are right. From what I've seen so far, the board numbering scheme is only marginally supported.

[2020-02-07 00:19] joperezr commented on #971
I see yeah that makes sense, we definitely have to fix that one. If you happen to get a repro that would be great so that we can check what is errorno set to, since according to this http://man7.org/linux/man-pages/man2/epoll_wait.2.html it should set errno correctly when -1 is returned.

[2020-02-07 00:28] joperezr commented on #974
Thanks for logging this @dontspeak, that was a great find! I believe you are right, we usually just handle the numbering scheme on the controller, but all the actual drivers use logical numbering so I don't doubt that this is the case today.

[2020-02-07 12:26] lpayet commented on #917
Hi,
I'm working with @gsutra.

Here is the code :
`
using Iot.Device.Mcp23xxx;
using System;
using System.Device.Gpio;
using System.Device.Spi;

namespace Test
{
    public class Program
    {
        public static void Main(string[] args)
        {
            var spiConnectionSettings = new SpiConnectionSettings(2, 1)
            {
                ClockFrequency = 1000000,
                Mode =

[2020-02-07 18:04] microhobby commented on #939
Wiringpi and /sys/class/gpio are deprecated, Kernel developers hate these interfaces, and discourage the use, because of behaviors like that. I would really like to see dotnet/iot project in the future just supporting libgpiod for Linux. The new user space GPIO management interfaces are the most secure, reliable and recommended way to work with GPIOs. They are designed to work in conjunction with

[2020-02-07 20:37] pgrawehr commented on #939
For most purposes, we use /dev/gpiomem directly (that's also what wiringpi does, therefore my above reference). SysFs is still being used for interrupt driven callbacks, because that doesn't work directly on gpiomem. I haven't done many tests with Libgpiod yet.
Anyway, the OP described a problem where (so it seems) an output pin used to read wheter something was connected did not work as expected.

[2020-02-07 20:40] pgrawehr commented on #925
Update: Still working on this, without changing much, I'm now getting exactly the problem @joperezr  describes, while previously I never saw that. It's all very confusing and takes a lot of time to debug 🕐

[2020-02-07 21:22] joperezr commented on #939
Our thinking here was that because libgpiod does require an extra library to be installed on your board, we wanted to also provide a way to have the library work without the need of installing anything else. That is why we use runtime detection to see if this library is installed and if so that is the one we use, but if not we fallback to the other drivers.

[2020-02-07 21:56] joperezr commented on #925
Yeah we also couldn't get an exact repro all the time but did get this issue every now and then, which is why we decided for consistency and went back to just reporting the events to detect.

[2020-02-08 17:54] pgrawehr commented on #925
Just fighting with one test now, then I can hopefully complete my PR finally.
The other thread got me an idea, too: I'll try to use libgpiod instead of sysfs for the interrupt handling, if available. That one seems to support returning the type of detected event.

[2020-02-08 19:25] microhobby commented on #939
ok, I get it. Maybe we can write the library part that we use with the interop, cause libgpiod abstract the ioctl(), read(), open() and poll() calls for the /dev/gpiochip char devices. But I don't know, maybe this is rewriting the wheel, libgpiod is a very complete library. But it is an option.

Another option, which I think would be easier, would be to deliver the library, compiled for each archi

[2020-02-10 17:29] joperezr commented on #939
TBH I don't think it isn't a very good idea to package a third party library and distribute it through our NuGet packages since that would mean that everytime that libgpiod has a fix, update or new feature we would have to react by shipping a new package again. We have cases in dotnet core where we depend on native libraries that are not preinstalled on all distros (like icu library for all of our

[2020-02-15 00:18] microhobby commented on #939
@joperezr ok, make sense. I fully agree to communicate and encourage the use of libgpiod. In the future I see no way out, these interfaces will be disabled in the distros. Fedora has started shipping without /sys/class/gpio for example: https://fedoraproject.org/wiki/Architectures/ARM/gpio

And I think other distros will follow this move soon.

[2020-02-17 01:54] IvanFarkas opened #982 "System.IO.IOException: Error 13 initializing the Gpio driver - RP4, Ubuntu 19.10.1"
**System.IO.IOException: Error 13 initializing the Gpio driver**

Running [Simple Flashing Sample](https://darenmay.com/blog/net-core-and-gpio-on-the-raspberry-pi---leds-and-gpio/)

****dotnet run** at prompt**

[code]

**Expected behavior**
Expected to work

**Actual behavior**
[code]

**Versions used**
1.0

Add following information:
- `dotnet --info` on the machine being used to build
[code]
-

[2020-02-17 03:32] IvanFarkas commented on #982
# Solution
Removed ~/.dotnet directory
[Installing .NET Core on Linux ARM64](https://gist.github.com/richlander/467813274cea8abc624553ee72b28213#installing-net-core-on-linux-arm64)
Used [dotnet-docker/3.1/sdk/bionic/arm64v8/Dockerfile](https://github.com/dotnet/dotnet-docker/blob/master/3.1/sdk/bionic/arm64v8/Dockerfile) as a base
Used ```libicu63``` instead of ```libicu60``` since I am using Ubun

[2020-02-17 03:32] #982 closed

[2020-02-18 19:33] joperezr commented on #939
Ideally, distros should start just having this library as part of the distro which will make it always pick that driver by default.

[2020-02-19 14:29] pgrawehr commented on #939
We could be providing a script that installs dependencies (i.e. the dotnet framework as well), which can be used as example for somebody distributing an application based on this library.

[2020-02-19 20:11] BramEsendam opened #984 "DHT22 Wrong temperature readings."
The temperature output dropped to to 1°C when the real temperature got above 26°C.

**Steps to reproduce**

[code]

**Expected behavior**

Output: Temperature: 26.0 °C, 'Humidity: 36.1 %

**Actual behavior**

Output: Temperature: 1.0 °C, 'Humidity: 36.1 %

**Versions used**

Add following information:

- Dotnet on the build machine: `Version: 3.1.1 Commit:  a1388f194c`
- Dotnet on the raspberry pi

[2020-02-19 20:12] BramEsendam commented on #984
![8a60d15c0ab975022315428a4098dcf6](https://user-images.githubusercontent.com/35614609/74871854-76982300-535c-11ea-917e-c6a7a007e503.png)

I ran it with a small python script as well.
And it resulted in the correct values.

[2020-02-19 20:15] BramEsendam commented on #984
I was running a Dht11 sensor before this, and i never had any problems with it.
Except of the 2c inaccuracy :P

[2020-02-19 22:18] joperezr commented on #939
we could either do that or at least provide more docs on our repo on how to install libgpiod. The problem with the script is having to update it as it could come out of date fast, that said the same goes for the documentation.

[2020-02-19 22:21] joperezr commented on #984
So when you say ya were running it before, do you mean with python or with .net core? If you were doing it with .net core and it was working correctly, did you recompile or updated the nuget package to get a newer version?

cc: @Ellerbach @ZhangGaoxing as FYI.

[2020-02-20 05:57] BramEsendam commented on #984
I was running the same code. Except for using the dht22 class i was using the dht11 one.

[2020-02-21 12:29] A-J-Bauer opened #987 "Consider GDI+ for Ssd13xx"
Consider the usage of GDI+ functions for the Ssd13xx displays.
Please have a look at [OledI2c128x64SH1106](https://github.com/A-J-Bauer/OledI2c128x64SH1106)

[2020-02-21 16:19] alvipeo opened #988 "Unable to resolve dependency 'System.Memory' when trying to use nightly"
I have an existing project which "works on my machine" (compiles on my machine and works on Rasp Pi). And I wanted to build it on another machine. On this another machine I tried to install nightly pre-release builds of the packages but it fails with the following error:

This is the first time I get this error. Does anybody know how to fix this? Is this just a temporary bug?
Thanks.

[2020-02-21 17:13] krwq commented on #988
can you please share `dotnet --info` from the machine where you see issues and the exact steps you did to get this error? (if you can repro with new project please share template used for `dotnet new ...` if you can't please share .csproj file content)

[2020-02-21 17:14] krwq commented on #987
System.Drawing is using GDI+ under the covers, perhaps we can plug it in there if it's not yet there

[2020-02-21 18:17] alvipeo commented on #988
When I cloned my project on this machine and run `dotnet restore` I get:

So I try to get the package from nuget:

[code]

dotnet --info (**what?? I haven't paid attention to this...**):

 Version:   3.1.101
 Commit:    b377529961

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.101\

Ho

[2020-02-21 19:39] #183 closed

[2020-02-21 22:49] joperezr commented on #987
My idea was that because we were already using System.Drawing we were already using GDI+ as @krwq mentions. Is there something specific in mind you had where we could take different advantage of GDI+?

[2020-02-21 23:04] joperezr commented on #988
mm I'm not sure about this one, to me it just looks like a networking issue. Just to make sure you are using the right feeds, can you please run the following command form the folder containing your .csproj:
`dotnet new nugetconfig`. This should create a new NuGet.config file and place it on that directory which will ensure that your package sources are looking into the right nuget.org source.

[2020-02-22 05:15] A-J-Bauer commented on #987
I was thinking of an approach like the one used in WinfForms where OnPaint is provided which exposes a System.Drawing.Graphics object. OnPaint that can be triggered with Refresh().

Exposing a System.Drawing.Bitmap and an Update method/function (without events) would suffice though.

All drawing, shapes, lines images, text, scrolling etc. could then be done by using the graphics object/bitmap.

So

[2020-02-22 08:10] alvipeo commented on #988
here's nuget.config that was created:

[code]

[2020-02-22 08:15] alvipeo commented on #988
Tried it again after nuget.config was created - same thing, same error.

[2020-02-22 10:33] Frankenslag commented on #987
Just FYI the SSD1351 already supports the use of System.Drawing.Bitmap if that is any help.

[2020-02-22 11:52] A-J-Bauer commented on #987
Ok didn't know that. I probably didn't look at the existing code close enough then. Thanks.

[2020-02-22 11:52] #987 closed

[2020-02-24 17:12] joperezr commented on #988
You should add the iot nightly feed to the package sources if you want to download nightly builds:
[code]

And about nuget.org not working, can you try adding this after packageSources on the NuGet.config?

[code]

The only thing that comes to mind is that you might have unchecked nuget.org source from VS, and that is a setting that takes effect machine-wide so even with a local nuget.config addin

[2020-02-26 00:01] #884 closed

[2020-02-26 08:48] mtripsky commented on #287
Is somebody working on this? I would like to help with this

[2020-02-26 08:57] mtripsky commented on #176
@Ellerbach do you need some help? I just joined and looking for some open issues. I noticed that it is one year already since it was created.

[2020-02-26 09:15] Ellerbach commented on #176
@mtripsky I guess most has been don thru https://github.com/dotnet/iot/tree/master/src/devices#displays.
The 8x8 matrix can be driven by a MAX7219: https://github.com/dotnet/iot/blob/master/src/devices/Max7219/README.md
the large ones 32x32 by the RGBLedMatric driver: https://github.com/dotnet/iot/blob/master/src/devices/RGBLedMatrix/README.md
So my guess is that we should be able to close this on

[2020-02-26 15:01] alvipeo commented on #988
Adding this:
[code]
helped! Thank you.

[2020-02-26 17:28] joperezr commented on #287
I'm not aware of anybody working on this. @ZhangGaoxing added some support for Video on PR #664 but that is just a part of this, so it would be great if you want to contribute with this 👍

[2020-02-26 17:28] joperezr commented on #287
I'll go ahead and assign you for now, feel free to ask as many questions as you need.

[2020-02-26 17:32] #988 closed

[2020-02-26 23:55] joperezr commented on #176
I agree, @krwq feel free to reopen if there is still any display you had in mind that is not yet done.

[2020-02-26 23:55] #176 closed

[2020-03-01 18:17] ClementG-63 opened #996 "Build Error with System.Devices.Spi & Functions associated"
When I build my code with sources (not Nugget) I have the following error: "CS0234: TypeName or Namespace "Devices" doesn't exist in the namespace 'System')

Then I can't call any function or type like
       `var settings = new SpiConnectionSettings(busId, ChipSelectLine);`

**Steps to reproduce**

[code]
(** is where code is red-underlined

**Versions used**

Add the following information:

- `d

[2020-03-02 05:15] krwq commented on #996
@ClementG-63 any chance you could provide exact steps on how you setup a project and how you build it?

[2020-03-02 12:05] jesperandersson89 opened #997 "RPi4: 'Error 90 performing SPI data transfer.'"
**"Describe the bug"**
I'm trying to receive analog readings from an esp32 connected to my Raspberry Pi 4 over SPI.
The code below works perfectly on an Raspberry Pi 3B+, but when I try to run the _exact same_ code on a Pi 4 then `adc_0.Read(tmp)` gives me this "unGoogleable" error: _Error 90 performing SPI data transfer._
Does anyone have any idea what the problem might be?

**C#-code: (.NET Core

[2020-03-02 17:29] joperezr commented on #996
The namespace is `Device`, not `Devices` which might be why you are seeing this problem.

[2020-03-02 17:36] joperezr commented on #997
Thanks for logging the issue @jesperandersson89. Can you confirm that you enabled the SPI interface on your Pi 4? AFIK there aren't many differences with how the SPI bus work on pi 3B+ compared to 4.

[2020-03-02 17:56] jesperandersson89 commented on #997
Yes SPI should be enabled, below is my _config.txt_:
[code]

I'm using `vsdbg` for remote debugging, but I experience the same issue when i run the code locally on the Pi 4. (`sudo ./SPITest1`)

[2020-03-02 19:55] joperezr commented on #997
I haven't played much with the Pi4 but the code looks right to me, so unless there was some change in the pin layout with Pi4 I'm not sure what might be going on. Can you try doing a simple test with trying to communicate with the same device using python to see if that is successful? If not, this might be a problem with the SPI bus in your Pi or with your connection.

[2020-03-03 08:42] alvipeo opened #998 "Support for Rasp PI W Zero - possible?"
Hi guys!

I've used .Net Core 3.1 on Raspberry Pi 3 and it works like a charm! So thank you very much for that!

But I wonder if it's possible to run .Net Core 3.1 apps on Raspberry Pi W Zero? This would be really REALLY powerful and very cost effective for simple but important apps. I'm sure so many devs would be greatfull.

Thanks!

[2020-03-03 17:24] joperezr commented on #998
Thanks a lot for the feedback and we are glad that the project has worked for you!

Unfortunately, .NET Core doesn't run on Raspberry Pi Zero, but the good news is that other .NET runtimes like Mono does, and because our library targets .NET Standard 2.0, that means that you can create a Mono (version 5.4 and higher) project, and use our assembly from there and run it on Pi Zero. We haven't done a

[2020-03-03 17:36] alvipeo commented on #998
Thanks for the info! Should I be able to use `System.Device.Gpio` too?

If that works, it'll be great! I'll give it a try.

[2020-03-03 17:41] joperezr commented on #998
Yes 😄 sorry that's what I meant when I said "our library targets .NET Standard 2.0" - by our library I really meant System.Device.Gpio.

[2020-03-03 22:18] joperezr commented on #963
We have just released our first preview for vNext https://www.nuget.org/packages/System.Device.Gpio/1.1.0-prerelease.20153.1

I'll keep this issue open so that I update the samples to consume these new package versions.

[2020-03-04 08:04] alvipeo commented on #998
This is really great to hear! One thing though - I've never used Mono. Can you please point me out to where to start?

Thank you.

[2020-03-04 21:54] frogcrush commented on #998
Mono is the open-source .NET Core-(mostly)compatible that came way before .NET Core did. Typically, if you compile for .NET Framework you can run it on .NET Core. [This page](https://docs.microsoft.com/en-us/dotnet/core/about#comparison-with-mono) has some more information.

[2020-03-04 21:58] joperezr commented on #998
@frogcrush beat me to it, but basically what you want is to create a console app, and set it's targetFramework to `net461`. After that, you should be able to call `dotnet publish -r linux-x64` on it, and it should generate a publish folder with the right dlls and exes in order to make it work on mono linux environment. After installing mono on your linux machine, simply run `mono yourApp.exe` from

[2020-03-04 23:41] joperezr commented on #996
Given that I believe the problem was just that the namespace was wrong here, I'll go ahead and close the issue, but please @ClementG-63 feel free to reopen if that is not the case.

[2020-03-04 23:41] #996 closed

[2020-03-05 08:40] alvipeo commented on #998
@joperezr I'm a bit confused. First, how does `net461` relate to .Net Core 3.1? Are you saying this will work?

Secondly, my "linux machine" is Raspberry PI W Zero which has very limited resources (that's why it's extremely cheap and this makes it extremely useful in IoT scenarios!).

[2020-03-05 09:27] pgrawehr commented on #963
@joperezr Do we have a specific ticket to track what is left for vNext or to discuss what should be in there? The content of the milestone doesn't seem to be complete.

[2020-03-05 17:07] joperezr commented on #998
As @frogcrush pointed out, Mono came before .NET Core. During that time, there were a lot of people that had .NET Framework apps and wanted to be able to run that on linux and OSX. Then came Mono, which the idea behind it was that you could just take your .NET Framework apps and install the mono runtime on your linux machine, and then be able to run them by just saying `mono yourApp.exe`. Latest v

[2020-03-05 17:15] joperezr commented on #963
We do, here is our [Roadmap](https://github.com/dotnet/iot/blob/master/Documentation/roadmap.md). You can also check the issues we currently have marked as vNext with this query: https://github.com/dotnet/iot/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+milestone%3AvNext. If you feel like there is something else we should include in vNext, feel free to open an issue to start the discussion, a

[2020-03-05 18:36] alvipeo commented on #998
got it, thanks! I'll give it a try. Not this week though, too busy.

[2020-03-07 18:35] pgrawehr opened #1004 "Library performance is significantly different between drivers/operating systems"
**Describe the bug**

This came up while testing #914.
It looks like the Windows tests are generally significantly slower than the linux tests.  Generally, some operations are a lot slower than what they should be. For instance, the relatively simple `PinValueReadAndWrite` test takes between 1ms and 12ms (depending on driver) on linux and 23ms on Windows. It should not take more than 300 cycles, s

[2020-03-07 19:12] fomenkodmitry commented on #984
Sustained, similar bug.
You can see the code here: https://github.com/fomenkodmitry/AspNetCore-raspberrypi4-dht22
Platform: Rasberry pi 4 model b, net core 3.1

[code]
[code]

[2020-03-09 17:40] joperezr commented on #1004
Thanks for raising this @pgrawehr, we should do some profiling to figure out where the perf diferences are, but it is definitely relevant to point out that Windows implementation is completely different than Linux, in fact, this repo mainly only contains the Linux implementation as the Windows implementation pretty much PInvokes into WinRT calls that will use OS Drivers to manage GPIO, SPI and I2c

[2020-03-09 20:54] pgrawehr commented on #1004
I'm completely aware of this, and I know that PInvoke calls may be expensive, but something in the order of 10ms for a call (from a rough estimate) would be really bad.

If the result of the investigation is that this is due to some OS limitation, I'm fine with that (maybe document it), but at this time, it looks like something is fishy. I have seen quite a few questionable Sleep()'s while investi

[2020-03-09 21:08] joperezr commented on #1004
Totally agree, I have put this in our backlog for vNext as something to profile and investigate to see if there are any areas where we can do a better job in WIndows

[2020-03-12 13:40] Ellerbach commented on #984
@fomenkodmitry and  @BramEsendam, you are right, there was a mistake. I found some time to dig into the code and found the problem.
Line 32 in the Dht222.cs file should be:
[code]
@joperezr, will make a PR asap.

[2020-03-12 14:47] jesperandersson89 commented on #997
Fixed it!
The error comes from trying to read mode bytes than the SPI-buffer on Rasbian allows by default. (4096)
The solution is either to create a file _/etc/modprobe.d/spidev.conf_ with contents:
`options spidev bufsiz=65536` (or preferred buffer size).
OR
Add  this to _/boot/cmdline.txt_:
`spidev.bufsiz=65536` (or preferred buffer size).

Reboot and check your work with `cat /sys/module/spidev

[2020-03-12 21:39] joperezr commented on #984
I've merged that PR so hopefully the results will be fine now. I'll go ahead and close this issue assuming it does, but please feel free to reopen if that is not the case.

[2020-03-12 21:39] #984 closed

[2020-03-12 21:43] joperezr commented on #997
Awesome I'm glad you found the issue and I thank you for posting the fix here so people in the future can come back to this if they ever hit it. Feel free to open an issue for fixing error messages from our API since I agree we should try to flush as much info as possible here.

[2020-03-12 21:43] #997 closed

[2020-03-13 07:57] Ellerbach commented on #1004
@pgrawehr if you are looking for something on a real Windows (not Iot), a normal 32/64 bit version, you may have a look at using an FT4222, see https://github.com/dotnet/iot/tree/master/src/devices/Ft4222. Performance seems all ok, now there are couple of limitations because it's working over USB, but it really works well. Support for MacOS is coming as well. There was a bug in the FTDI binaries w

[2020-03-13 10:40] pgrawehr commented on #1004
@Ellerbach I don't currently need that, I just observed this while checking the run times of the different builds that currently run on the helix.
That we're having some API inconsistencies with the lifetime of objects (especially GpioController instances) is a fact. That part is being addressed (hopefully) with #878. I'm a bit busy now, but I'm intending to write a draft for that (maybe I'm force

[2020-03-14 11:51] djaus2 opened #1010 "OneWire protocol doesn't work well on Windows IoT Core"
**Describe the bug**

DHTxx running in 1-wire mode with DHT22 misses some conversions. Also runs on Raspian on the RPi but blocks with no response to Dht22 instantiation on IoT-Core.

**Steps to reproduce**
I've create a sampler app on [GitHub djaus2/DNETCoreGPIO](https://github.com/djaus2/DNETCoreGPIO).
[code]

**Expected behavior**

Expect to see temperature and pressure displayed.

**Actual beh

[2020-03-14 11:54] djaus2 commented on #1010
Note that the GPIO functionality in the Sampler works on IOT-Core.

[2020-03-14 13:57] Ellerbach commented on #998
@alvipeo, you may want to check this: https://github.com/dotnet/runtime/pull/657 and this: https://github.com/dotnet/runtime/issues/7764
Some work is done to support armv6 for .NET Core. In the mean time, the solution @joperezr gave you will most likely work depending on what you're doing.

[2020-03-15 01:00] djaus2 commented on #1010
Further:
- I tried 1k and 10k ohm pullups with no impact upon the missed conversions.
- Making the time between conversions longer also had no impact on that. Nb The Dht22 specs say min 2 secs between.
- I ran the DHT22 on an Arduino Uno with no conversion problems. That code does check for nans.

[2020-03-15 02:13] djaus2 commented on #1010
Looking at the sample UWP code at for example:
[hackster.io](https://www.hackster.io/porrey/go-native-c-with-the-dht22-a8e8eb) it is stated that IoT-Core can't change the pin mode fast enough and therefore requires 2 pins, one in, out and a MSFET to control the in out on 1-wire from/to the sensor.

So am I correct in concluding that the DHT22 driver here as in the sample won't work on Win10 IoT-Co

[2020-03-16 21:27] joperezr commented on #1010
This I'm not sure is true or not. @Ellerbach have you ever tried running the sensor on IoT-Core or just Raspbian?

@djaus2 I'm not sure what you mean by this failure, it would be great if you could provide more details like exception message or error call stack so that we could investigate more. Also, there was a recent fix on this sensor merged late-last week https://github.com/dotnet/iot/pull/10

[2020-03-17 06:46] Ellerbach commented on #1010
@joperezr
I never tried on Windows IoT Core. I will try as soon as I can. I'm always using Raspbian for this. My guess is that on the Windows platform, we will have hard time to manage the OneWire protocole. And yes, a very old hack (from the .NET Microframework time) was to use 2 pins in this case exactly as described by @djaus2. So in the case, the OneWire will not be supported properly on Windo

[2020-03-17 19:00] djaus2 commented on #1010
@joperezr @Ellerbach
Raspian IS OK. I just trap the failed conversions.  About 1 in 10, sometimes more frequent.
On IoT-Core it does not get past the instantiation of the class.  Just hangs there.
I will try an update on the package.

Yeah might be worth documenting that 1-wire isn't supported on IOT-Core

[2020-03-18 08:10] Ellerbach commented on #1010
So I ran tests and seems like as expected, the OneWire is not working properly on Windows IoT Core. Switching state is not fast enough.
And yes, the trick would be to use 2 pins. This trick was already apply in an older version on Windows 10 IoT Core as well: https://github.com/ms-iot/samples/tree/develop/GpioOneWire.
I would prefer to mark that OneWire protocol is not working properly on Windows

[2020-03-18 08:27] Ellerbach commented on #818
I guess this one should be closed: #984 seems like it's the same issue. It was specific issue with DHT22 calculation for temperature.

[2020-03-18 09:23] Ellerbach commented on #796
What about point people who need some UI to this: https://github.com/migueldeicaza/gui.cs
Seems like it's what is needed. The code is MIT, makes it easy for anyone to build console apps. It's in .NET Standard 2.0 so will be compatible with any .NET Core implementation so with .NET Core IoT.

[2020-03-18 09:31] Ellerbach commented on #791
I understand as well but even NXP is using I2C and not I²C: https://www.nxp.com/docs/en/user-guide/UM10204.pdf
They are those who introduced formally the bus and the name. So I would keep things are they are and won't change the API.

[2020-03-18 11:02] Ellerbach opened #1013 "Add a default constructor on bindings to take GpioController"
When you want to use other ```GpioController``` than the default driver one, you can't in any of the binding devices.

With introduction of [FT4222](https://github.com/dotnet/iot/tree/master/src/devices/Ft4222) we need to be able to pass a specific ```GpioController``` to any class using a GPIO Controller.

Ideal solution would be to add or modify all devices constructor to add the possibility to

[2020-03-18 16:11] joperezr commented on #818
Closing as dupe and because the other one was fixed already.

[2020-03-18 16:11] #818 closed

[2020-03-18 17:26] joperezr commented on #1010
@Ellerbach would either you or @djaus2 be able to add few lines on the README of DHT to say that OneWire doesn't work well in Windows, and perhaps some instructions on how to set it up with Two Wires? Perhaps  after doing that we can then close this issue as documentation for now and ping the WINRT team about this to see if they can do anything to improve this scenario in Windows.

[2020-03-18 17:47] joperezr commented on #796
Sounds good to me, switched the issue to a documentation issue so that we can track adding this to our docs.

[2020-03-18 17:49] joperezr commented on #791
I'll go ahead and close this given the above discussion here. Feel free to reopen if you want to continue the discussion.

[2020-03-18 17:49] #791 closed

[2020-03-18 18:10] joperezr commented on #1013
Actually there are many device bindings today that take in a GpioController in their constructor for this exact reason. The idea is that if you are not using the default controller because you are using a Gpio expander on your board, you can create a custom GpioController using the custom GpioDriver, and then pass that in to many of our device bindings. Just by looking at ILSpy, here is a list of

[2020-03-18 19:07] djaus2 commented on #1010
Ok I will do it seeing I started this.

David Jones MVP

________________________________
From: Jose Perez Rodriguez <notifications@github.com>
Sent: Thursday, March 19, 2020 4:26:42 AM
To: dotnet/iot <iot@noreply.github.com>
Cc: David Jones (MVP) <davidjones@sportronics.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/iot] OneWire protocol doesn't work well on Windows IoT Core (

[2020-03-18 20:01] pgrawehr commented on #1010
The performance issues could be related to #1004. A short investigation showed that switching pin levels is just very slow on Windows for some reason.

[2020-03-18 20:06] pgrawehr commented on #1013
@joperezr Note that, while most bindings do take an external GpioController, many are missing the optional `shouldDispose` argument, which results in the controller being disposed when the binding is disposed. This is often not desirable, especially when using a GpioExpander or an Ft4222 board.

[2020-03-18 20:21] joperezr commented on #1013
In that case we should definitely log an issue for that as we would most likely want to add that. If I remember correctly, most PRs where I've seen this is because we don't really expose an option in the constructor, but we just check locally that if the controller was passed in and not instantiated from the binding, then we by default won't dispose it. I may be wrong here, but this is what I've s

[2020-03-19 07:23] Ellerbach commented on #796
So I checked manually all the devices and here are those which needs to be fixed:
- CharacterLed: needs shouldDispose
- DCMotor: needs shouldDispose
- Dhtxx: needs both both GpioController and shouldDispose
- ExplorerHat:
    - Led: needs shouldDispose
    - Light: needs shoudDispose
    - Motors: needs shouldDispose
- Hcsr04: needs shouldDispose
- Hcsr501: needs both both GpioController and shoul

[2020-03-19 08:37] pgrawehr commented on #796
@Ellerbach : I think your previous post is in the wrong ticket, shouldn't this be on #1013?

[2020-03-19 08:38] pgrawehr commented on #1013
I would be fine with that, but it's clearly not the case for some (many?) bindings. I.e. https://github.com/dotnet/iot/blob/master/src/devices/Dhtxx/DhtBase.cs.

An alternative would be to have the controllers bound to a certain set of pins (i.e. create a controller only for pin 37), then it could be disposed together with its binding. Not sure we need another ticket here, because that's one of th

[2020-03-19 12:22] Ellerbach commented on #1013
So as I needed for some devices with the FT4222, I did the change for all the devices.

[2020-03-19 17:19] joperezr commented on #796
Right I think this is the wrong issue 😆, I'll let him move it so that it still shows that he wrote it.

[2020-03-19 18:47] joperezr commented on #1013
For the ShouldDispose, I added some feedback in your PR but in general we probably want to default to false, and then just switch it to true in case that there was no controller passed in.

[2020-03-20 21:08] ca-t opened #1018 "Support for MIMXRT1060-EVK"
Can I build applications for [MIMXRT1060-EVK](https://www.nxp.com/design/development-boards/i-mx-evaluation-and-development-boards/mimxrt1060-evk-i-mx-rt1060-evaluation-kit:MIMXRT1060-EVK) ?

Or any plans to add it?

![image](https://www.nxp.com/assets/images/en/dev-board-image/X-MIMXRT1060-EVK-BOARD-BOTTOM.jpg)

[2020-03-23 00:47] techniq opened #1020 "Waveshare Ssd1351 issues"
**Describe the bug**

I am using a [Wareshare RGB OLED](https://www.amazon.com/1-5inch-RGB-OLED-Module-Communicating/dp/B07DB5YFGW/ref=sr_1_1?keywords=ssd1351&qid=1584921798&sr=8-1) with the Ssd1351 driver chip instead of an [Adafruit board](https://www.adafruit.com/product/1431) (it is about 1/2 the price) but I'm having trouble getting it to work with the dotnet/iot [driver](https://github.com/d

[2020-03-23 17:07] Frankenslag commented on #1020
@techniq
Comparing the code then the Ssd1351 driver uses Spi Mode3 and looking at the timing diagrams this would appear correct `CPOL 1, CPHA 1. Polarity is idled high and data is sampled on rising edge of the clock signal.`

The sample for the Waveshare uses Mode0 and I am not sure why. Is there an inverter on the board ?

Anyway what happens if you modify the sample to use Mode0 ?

[2020-03-23 17:58] techniq commented on #1020
@Frankenslag That was the trick.  Thanks!

Changed:
[code]

To:
[code]

I still need to back out some of my other changes (I was waiting `500ms` in `ResetDisplayAsync()` instead of just `20ms` to match their example, as well as some tweaks to the order of commands in `InitDisplayForAdafruit`).  I'm still getting some intermittent issues but re-running the sample usually fixes it.

This is my first

[2020-03-23 17:58] #1020 closed

[2020-03-23 18:04] techniq commented on #1020
@Frankenslag Btw, I'm not sure about the inverter, but here is a picture of the back if that helps :)

![image](https://user-images.githubusercontent.com/177476/77347868-e0ff0300-6d0e-11ea-8405-2bb0e10c8b0e.png)

There is a resistor to to change from 4-wire to 3-wire SPI.

[2020-03-23 18:08] joperezr commented on #1018
mm good question, we actually don't have one to try, but do you have any additional info on what processor does your PCB have? Or more specifically, have you tried running .NET Core on it? The answer in terms of System.Device.GPIO library, is that as long as your PCB can run a framework that supports .NET Standard (either .NET Core, or Mono mainly) then you will be able to use our library on it.

[2020-03-23 20:42] ca-t commented on #1018
Processor is [MIMXRT1062DVL6A](https://www.nxp.com/part/MIMXRT1062DVL6A#/)
Here is [Datasheet Link](https://www.nxp.com/docs/en/nxp/data-sheets/IMXRT1060CEC.pdf)

![Diagram](https://www.nxp.com/assets/images/en/block-diagrams/i.MX-RT1060-BD1.jpg)

I want to run .NET Core but I've not figured out all details yet. I guess I need to build own image for this board and flash it. And then I can deploy d

[2020-03-23 20:51] joperezr commented on #1018
I see, for now what you could try is to just run a hello world app in there. To do that, build your app in Windows (or whatever your dev box) by doing:

[code]

That will generate a publish folder that has all the files you need to copy over to your PCB in order to run the app. I'm also not sure if Arm M7 is 64-bit, if so, then change your publish command to instead do `dotnet publish -r linux-arm

[2020-03-24 11:11] djaus2 commented on #1010
Conclusion is that **1-wire will not work with Win 10 IoT-Core** as the OS cannot switch the pin fast enough between output and input (or viz). There are some fixes which use two GPIO pins. One for input and one for output., but that then would not be 1-wire.
Nb: The 2-wire "fix"  is discussed here: [GPIO OneWire DHT11/22 reader](https://github.com/Microsoft/Windows-iotcore-samples/tree/develop/Sa

[2020-03-24 11:11] #1010 closed

[2020-03-25 18:02] andrasfuchs opened #1025 "Improve the coding guidelines document"
The documentation about the coding guidelines are very minimal, and the link to the corefx guidelines is broken.

See it here:
https://github.com/dotnet/iot/blob/master/Documentation/Coding-guidelines.md

I'm trying to contribute by adding a driver for a new device (#1024), and I spent the last 2 hours fixing formatting problems because of the fairly strict rules.
After every new commit I had to w

[2020-03-25 18:37] krwq commented on #1025
cc: @pgrawehr

@andrasfuchs if you build using build.cmd/build.sh it should happen automatically.
Ruleset can be found here: https://github.com/dotnet/iot/blob/master/eng/StyleCop.Analyzers.ruleset

[2020-03-25 20:03] pgrawehr commented on #1025
Yes, you should see the rules being automatically applied when building using the build script or in Visual Studio. I immediatelly get red underlines everywhere where I break a rule, often even with a suggestion on how to fix it. Which tools are you using to write code and build?

[2020-03-25 22:57] HakanL commented on #784
For reference I created this SLN file and put it in the `/src` folder: https://gist.github.com/HakanL/76a5f5c72a34865bbac19c35ec540143
Note that I only added the device and sample that I was working on (Mcp9808), but perhaps this can be used as a template.

[2020-03-26 07:03] pgrawehr opened #1027 "Bmp280 Sensor gives wrong readings"
While testing the Bmp280 sensor, I found that mine was giving very wrong readings (~940hPa when it should be in the order of ~1010hPa). There's definitelly no storm outside now, and it's cold but sunny.

Investigating further, I found a small bug in the calibration calculation for temperatures:

Line 181 of Bmxx80Base.cs should be changed to:
[code]
There are missing parentheses in that formula.

[2020-03-26 10:40] djaus2 commented on #1027
Here are my comparisons, without making the changes as above:
DMP180 on RPI-Raspian: 1014
DMP180 on RPI-IoT Core: 1014
DMP180  on Arduino Uno: 1022  (same sensor)
Local Weather Station (2km away approx same elevation): 1026

So for me the .Net Core version is only a little off.

[2020-03-26 10:54] andrasfuchs commented on #1025
I haven't used the build script yet.

I have Visual Studio 2019 v16.4.2. I think I got it working, here is what I did:

1, Added the StyleCop.Analyzers NuGet package to my project
2, Put [the above mentioned StyleCop ruleset](https://github.com/dotnet/iot/blob/master/eng/StyleCop.Analyzers.ruleset) into my projects root folder
3, Added the following line to my .csproj file's PropertyGroup section:

[2020-03-26 12:14] pgrawehr commented on #1025
This works, but normally, this should not be necessary, since the StyleCop configuration is automatically loaeded from the `Directory.Build.props` file in the project root directory (and the src/devices/ dir). Do you have any .props or .targets files in your binding directory (src/devices/AD7193/)? Remove them. Also, you haven't commited the AD7193.csproj file, if I saw correctly - maybe there's s

[2020-03-26 14:50] andrasfuchs commented on #1025
I removed the .props and .targets from my obj directory.

Alright, I'm totally confused at the moment. It looks like the .editorconfig caues more trouble, because it has contradictory rules with the StyleCop .ruleset. If I put the usings after the declaration of the namespace for example, one of them generates and error, if I put it outside of that, the other generates an error.

I created the Ad7

[2020-03-26 15:30] pgrawehr commented on #1025
There are things a bit tricky here, due to the build setup for different platforms. It is planned to simplify that in the future, but for now it is not really easy (I'm constantly fighting with problems like the ones you describe as well).
Give me a few minutes to check what's wrong on your branch.

[2020-03-26 16:18] pgrawehr commented on #1025
Ok, I've got a patch for you. Just apply it and use the new solution file that's included. When building in VS, make sure that you choose either "Windows-Debug" or "Linux-Debug" (or "...-Release") as the Solution configuration. This is a workaround to reference the correct version of System.Device.Gpio for the respective platform.

The build passes for me, both from VS and from the command line. T

[2020-03-26 18:43] andrasfuchs commented on #1025
Thank you @pgrawehr , I really appreciate it. I'll try it first thing tomorrow.

[2020-03-27 15:20] migueldeicaza commented on #796
Also gui.cs can support multiple backends, so as long as you have a grid of characters that you can address, you can provide a backend.

[2020-03-27 18:14] pgrawehr commented on #796
Maybe I get to test whether any of the existing interfaces fits. I've just added a console helper class, so this shouldn't be so big of a deal.

[2020-03-27 18:17] pgrawehr commented on #796
@migueldeicaza Can you point me to the interface or callback method that would need to be implemented?

[2020-03-27 21:25] andrasfuchs commented on #1025
I applied the patch and it worked fine, thank you! I also removed all `#pragma warning disable CS1591` lines and added the XML documentation as you recommended, and checked in the changes.

It finally build on Windows and MacOS, which is great news, but I'm not sure if it's normal that the Linux build is still in progress after 46 minutes.

![image](https://user-images.githubusercontent.com/910321

[2020-03-27 21:43] pgrawehr commented on #1025
This happens sometimes, it is not your fault. It will eventually fail after an hour. Do a dummy commit (or force push) to start the build again.

[2020-03-27 22:00] joperezr commented on #1025
@andrasfuchs first of all thanks for your contribution. We actually had network infrastructure issues in our build lap which has all the hardware that runs these tests which is causing your build to hang. That is resolved now, so if your job didn't go and finish let me know so that I can trigger a re-run.

[2020-03-27 22:03] joperezr commented on #1025
@andrasfuchs because of the way that our repository builds (and as @pgrawehr explained above) you do have to run the scripts first before opening any project in VS. I bet that most of the issues you are currently hitting are due to not running the build scripts first, but once you do you should get the stylecop warnings in VS as well on your new projects without the need of adding new package depe

[2020-03-28 05:13] migueldeicaza commented on #796
https://github.com/migueldeicaza/gui.cs/blob/master/Terminal.Gui/Drivers/ConsoleDriver.cs#L255

[2020-03-28 09:46] andrasfuchs commented on #1025
@joperezr Thank you, in this case, could you trigger the re-run please?

I run build.cmd now, but I can't confirm that it would have helped in my case, because I already applied the above patch, and it worked.

I just re-read the contributing.md you have in this repo, and it says it clearly to run it first, so sorry, it was my fault that I didn't follow the instructions properly.

[2020-03-28 11:38] pgrawehr opened #1028 "Check whether value file needs to be read in SysFsDriver code"
See https://github.com/dotnet/iot/pull/914#discussion_r389924106.

It is unclear whether that section is really required. According to my tests, nothing goes wrong without it (i.e no extra events, no missed events), but further testing should prove this true or false.

[2020-03-30 08:10] danielchalmers opened #1030 "New serial port API"
I'm curious what you think about a replacement for `System.IO.Ports.SerialPort` with spans and async in mind (like suggested in https://github.com/dotnet/runtime/issues/27941) and maybe even based off the new `Pipelines` rather than `Stream`.

UWP also has [`SerialDevice`](https://docs.microsoft.com/en-us/uwp/api/windows.devices.serialcommunication.serialdevice) with features that are missing in `

[2020-03-30 10:55] JTrotta commented on #762
Any update about bank 1?

[2020-03-30 13:57] henryshunt opened #1031 "Add support for alarms on the DS3231 RTC"
The DS3231 RTC implementation (in devices/Rtc) at present only includes functionality to get the time, set the time and get the temperature. The device itself also has the ability to set two separate alarms that will fire when the specified time is matched (according to various matching modes), which I am in need of for a project I am working on.

[This](https://github.com/Makuna/Rtc/) repo, which

[2020-03-31 00:25] joperezr commented on #1031
Cc: @ZhangGaoxing who I believe originally added the binding.  The repo you provided seems to be under GPL license which would mean we wouldn’t be able to look at that source. We could probably find other repos with a more permissive license that we could use. @henryshunt would you be interested in adding this support for this binding?

[2020-03-31 00:31] #925 closed

[2020-03-31 06:30] pgrawehr commented on #796
For the character displays I'm familiar with, I'm not sure this is going to work. They are only 16x2 or 20x4 characters big and also don't normally support drawing border characters. So something that mimics a graphical menu system will not really fit on that room.
It may be different for the small graphic screens, though.

[2020-03-31 14:04] #1025 closed

[2020-03-31 17:40] joperezr commented on #1027
That is a great find @pgrawehr, please feel free to submit a PR to fix this when you can 😄

[2020-03-31 21:51] joperezr commented on #1028
Thanks for logging this @pgrawehr. We should finish this investigation before vNext so I'm setting the milestone appropriately.

[2020-03-31 22:25] joperezr commented on #1030
Hello @danielchalmers thanks for the report. The code for SerialPorts actually lives in dotnet/runtime repo even though we use it a lot in here, but so that means that the right place to have this discussion is over in the issue that you pointed at. I have added @krwq to that issue since he is the owner of that library so he can help guiding through that discussion. I'll go ahead and close this on

[2020-03-31 22:25] #1030 closed

[2020-03-31 22:26] joperezr commented on #762
I believe @mjjames was working on it but that PR seem to have gone stale. @JTrotta would you be interested in taking @mjjames work and finishing it in case he doesn't want to work on it anymore?

[2020-04-01 05:28] pgrawehr commented on #1027
Since my sensor is apparently broken (or is incorrectly calibrated) I would be glad if @djaus2 could verify the fix. I have ordered a new one, but I'm not sure when this arives.

[2020-04-01 05:41] djaus2 commented on #1027
Ok will do in next 24hrs

David Jones MVP

________________________________
From: Patrick Grawehr <notifications@github.com>
Sent: Wednesday, April 1, 2020 4:28:56 PM
To: dotnet/iot <iot@noreply.github.com>
Cc: David Jones (MVP) <davidjones@sportronics.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/iot] Bmp280 Sensor gives wrong readings (#1027)

Since my sensor is apparently b

[2020-04-01 05:55] JTrotta commented on #762
@joperezr ,will do.

[2020-04-01 07:21] JTrotta commented on #784
I did all suggested steps.
But when I rebuild build.proj, I got these errors:
![image](https://user-images.githubusercontent.com/2145654/78109793-38316180-73fa-11ea-88b0-e383f56e6f77.png)

[2020-04-01 13:17] henryshunt commented on #1031
I've never done anything like this before, but I've had a look at the datasheet, the current code, and attempted to write some of the required code and I think I should be able to do it. So yes, I'll work on adding the support for alarms.

[2020-04-01 16:16] pgrawehr commented on #762
@JTrotta Building with VS2019 works fine, with a few quircks you have to know. First thing is that you need to run the build.cmd file first, before opening any solution. What error message(s) do you get?

[2020-04-01 16:48] JTrotta commented on #762
@pgrawehr  have a look here

[2020-04-01 20:52] joperezr commented on #784
@JTrotta Have you first build the repo from the command line? After forking, first thing you need to do before opening any project in Visual Studio is to build the whole repo from the command line, here are the instructions on how to do it: https://github.com/dotnet/iot/blob/a8a2342d9a9660c061a7037d7eb42f9f548f54e7/Documentation/CONTRIBUTING.md#building-from-the-command-line but basically it is si

[2020-04-02 06:38] pgrawehr commented on #784
@Jtrotta You might need to go to https://dotnet.microsoft.com/download/dotnet-core?utm_source=getdotnetcorecli&utm_medium=referral and download the matching .NET core SDK (V3.1.1 IIRC). You need to have this installed for VS to work, even if the build script installs a local version into the repository source folder.

[2020-04-02 07:57] JTrotta commented on #784
@pgrawehr You got it. I supposed that the local version of the SDK would have been enough. Installing the SDK into the system (and then VS), it works.
Thank you!

[2020-04-02 08:43] djaus2 commented on #1027
Haven’t got to this yet…coming.

From: Patrick Grawehr <notifications@github.com>
Sent: Wednesday, 1 April 2020 4:29 PM
To: dotnet/iot <iot@noreply.github.com>
Cc: David Jones (MVP) <davidjones@sportronics.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/iot] Bmp280 Sensor gives wrong readings (#1027)

Since my sensor is apparently broken (or is incorrectly calibrated) I would be

[2020-04-02 10:20] JTrotta commented on #762
Added Pull request #1034
Tested on my CM3, Pins over 32 now work

[2020-04-02 15:03] migueldeicaza commented on #796
Right for 16x2 you probably can use something a lot simpler, like WriteLine :-)

[2020-04-02 16:40] joperezr commented on #1031
Awesome, there is no rush and no pressure, and I believe that this looks to be a good first issue to start with if you are up to it. I'm happy to help you through out the way, feel free to reach out if you hit any issues. Do remember that once you fork the code, first thing you need to do is to run build.cmd/build.sh script from the root of the repo, after that you should be able to open the devic

[2020-04-02 19:27] pgrawehr commented on #796
Yea, but I think the OPs idea was less about the graphical or textual representation but more about the semantics. I.e you should be able to define a menu structure (a hierarchal set of options) and navigate trough them using a few buttons. And I agree that there could be support for something like that in a library.

[2020-04-02 20:12] KirillOsenkov commented on #796
I think the best bet is to write the logic manually for the particular usage scenarios at hand, and then see if it can be extracted into a reusable library. Usually libraries that aren't designed from concrete usage scenarios don't turn out well.

[2020-04-02 22:27] joperezr commented on #784
@pgrawehr great catch! we could probably add this info into the contributing doc

[2020-04-02 22:28] joperezr commented on #762
I'll take a look at that PR shortly, thanks for adding it!

[2020-04-03 21:26] henryshunt commented on #1031
I actually got alarm 1 of 2 working just yesterday so I shouldn't have any problems getting this done.

But I'm unable to open the Rtc project in VS. It comes up with this error:
The project file cannot be opened by the project system, because it is missing some critical imports or the referenced SDK cannot be found.
Detailed Information: Unable to locate the .NET Core SDK. Check that it is instal

[2020-04-04 11:11] pgrawehr opened #1036 "Many Unit tests don't execute on Windows"
**Describe the bug**

If I execute
[code]
on Windows, the last few lines of the output read

[code]
So apparently only the unit tests for Pcx857x were executed, but not the others. I could not see any relevant difference ie. between Pcx857x.Tests.csproj and ServoMotor.Tests.csproj. It also doesn't seem to be related to some wrong naming, as explicitly specifying the ServoMotor.Tests.csproj in `bui

[2020-04-04 12:04] pgrawehr opened #1037 "Sample projects fail to properly build on Windows"
**Describe the bug**
Attempting to execute a sample on Windows (within Visual Studio) results in build errors.

This is irespective of the fact that many bindings don't work on Windows, just because the hardware is not there. This is about an ordinary Windows 10 x64 installation on a desktop computer.

**Steps to reproduce**

* Perform a clean checkout and do a "build" from the console.
* Open src

[2020-04-04 12:05] pgrawehr commented on #1037
This is the extensive version of my comment here: https://github.com/dotnet/iot/pull/1024#discussion_r401220556

[2020-04-04 12:11] pgrawehr commented on #1037
Here's a patch file for the changes needed (with the example above).

[0001-Proof-of-concept-to-get-the-sample-to-build-on-windo.patch.txt](https://github.com/dotnet/iot/files/4431300/0001-Proof-of-concept-to-get-the-sample-to-build-on-windo.patch.txt)

[2020-04-06 16:12] #410 closed

[2020-04-06 18:41] pgrawehr commented on #1036
Not 100% sure, but looks like it doesn't work on linux as well.

[2020-04-06 19:22] joperezr commented on #1036
This is happening because of issue https://github.com/dotnet/iot/issues/798 which is actually a bug with VSTest: https://github.com/microsoft/vstest/issues/2224

Essentially what happens here is that VSTest is incorrectly using Console.WriteLine instead of using the MSBuildLogger, and what this does is that if the build is multi-threaded (which ours is) only the thread that has grabbed the console

[2020-04-06 19:22] joperezr commented on #1036
Closing as we already have an issue in this repo tracking this external fix.

[2020-04-06 19:22] #1036 closed

[2020-04-06 21:05] fennixsystems commented on #917
@shaggygi Any idea when there might be a fix?  Or even a fix I can implement myself temporarily?

[2020-04-08 15:26] pgrawehr commented on #1027
I found the culpit (after the second, brand new sensor gave the exact same readings...). The sensor delivers absolute values at the place of measurement, but to get the equivalent barometer reading, one needs to correct this for the altitude at the point of measurement. Since I'm at 650m over sea, the difference is significant already. Applying a correction formula helped. So part of the problem i

[2020-04-09 09:48] djaus2 commented on #1027
Looking at this now. I now have a BME280

[2020-04-09 19:09] joperezr commented on #1031
I believe you are right and the issue you are getting is because you don't have the SDK we require installed. 3.1.101 is a bit outdated (about 3 months old now) so I would recommend you installing the latest on your machine independent of the requirement from our repo. Assuming you have windows X64 machine, here is the link to install that: https://dotnet.microsoft.com/download/dotnet-core/thank-y

[2020-04-09 19:10] joperezr commented on #1031
As for the solution, yes it is fine to either not save the solution when you close, or to save it but not commit it. It is actually very likely that we will end up adding solutions for every device anyways soon.

[2020-04-09 19:19] joperezr commented on #1037
Just to give you a bit more background as to why we always pass Linux as the runtime identifier instead of Windows: If you are familiar with reference assemblies, you would know that they are the ones that get passed in to the compiler when building a project but not necessarily the ones that will be present at runtime. The runtime assembly, may have some changes in it as long as they are consider

[2020-04-09 19:53] pgrawehr commented on #1037
@joperezr Thanks for the clarification, I did not know that concept. The mixing of the different runtimes is something I'm not so familiar with. I assume the above is about our specific library, not about the .NET core runtime. Or would that mean, that even after we remove the specific configurations, the built assembly will be different based on which platform it was compiled on?

[2020-04-09 20:34] joperezr commented on #1037
No questions are stupid :) it's better to ask them to understand better 👍

Given .NET Core basically builds into IL, IL is platform independent. The only way .NET Core would behave differently or compile differently for different platforms is if you intentionally make 2 assemblies that will do so, which is what we were doing in this repo. Also, this is not supported by MSBuild, since they only sup

[2020-04-10 02:39] djaus2 commented on #1027
Got my BME280 going. On Arduino, the results were unreliable.
Using repository here unchanged (on IoT-Core) I got:

Temperature:   20.22040450561917 °C | Pressure: 1008.5941796875001 hPa | Altitude: 38.83519682937275 meters | Humidity: 52.66412078332605 %
-- | -- | -- | --
Temperature:   20.217536038577805 °C | Pressure: 1008.5810156250001 hPa | Altitude: 38.945206702271896 meters | Humidity: 52.4

[2020-04-10 02:51] djaus2 commented on #1027
I made the brackets change Line 181 of Bmxx80Base.cs
Reults now:

Temperature:   20.630277520627715 °C | Pressure: 1008.0932421875 hPa | Altitude: 43.022267781604704 meters | Humidity: 52.97567954946546 %
-- | -- | -- | --
Temperature: 20.650994324802582 °C | Pressure: 1008.05703125 hPa | Altitude: 43.32500109430068 meters | Humidity: 52.96501889587134 %

[2020-04-10 07:49] djaus2 commented on #1027
With the Line 181 of Bmxx80Base.c:

Temperature:   17.954344242107254 °C | Pressure: 1004.8240625 hPa | Altitude: 70.5845337247005 meters | Humidity: 40.167819101323936 %
-- | -- | -- | --
Temperature: 17.939683561131915 °C | Pressure: 1004.804375 hPa | Altitude: 70.55408235285238 meters | Humidity: 40.15090910070303 %
Thermometer 16 |   |   |  
  | Nb: App gives Sealevel Pressure as : 1013.25 |  

[2020-04-10 10:51] gtrztu opened #1040 "System.PlatformNotSupportedException: Operation is not supported on this platform."
Hello, I am getting into a real issue when I am trying to run my .dll console app with mono in Raspbian 10 on my Raspberry Pi 4B. The error that occurs is when the constructor for the GpioController is reached in the code I think, because I have got string output before that and it's ok. The package System.Device.Gpio was successfully implemented to the project before the build... so... I am beggi

[2020-04-10 16:50] SaDiablo commented on #917
This might be caused by improper usage of transfer full duplex in [Mcp23xxx\SpiAdapter.cs](https://github.com/dotnet/iot/blob/15ede2e7219d81c47dcf55e1affe5d877ff2f7aa/src/devices/Mcp23xxx/SpiAdapter.cs)
[code]
^ If you are able you might check what sizes are readBuffer and writeBuffer in your case and try to see what's going on. (this might help you debug your RPi code remotely: [Debugging Your .N

[2020-04-10 17:40] pgrawehr commented on #1040
This information is quite vague, because the callstack you show does not show any function of the library, but just your main routine. Can you show the code you use to construct the GpioController?

[2020-04-10 17:46] gtrztu commented on #1040
Absolutely simple code...

`Console.WriteLine("running...\n");
            GpioController controller = new GpioController(PinNumberingScheme.Board);
            controller.OpenPin(6, PinMode.Output);
            while (true)
            {
                controller.Write(6, PinValue.High);
                Thread.Sleep(100);
                controller.Write(6, PinValue.Low);
                Thread.

[2020-04-11 14:31] pgrawehr commented on #1040
Looks a bit like you got the library for the wrong platform. You need to make sure you build for linux to run on the Raspberry Pi. It's easiest to use the "Publish..." feature in Visual Studio (on your application's project) to bundle the correct libraries. Make sure the target platform is set as linux-arm.

You can try to use `GpioController controller = new GpioController(PinNumberScheme.Board,

[2020-04-11 15:09] joperezr commented on #1040
As @pgrawehr suggests here, the problem is the way you are publishing your application since you are getting the platform independent implementation which just throws platform not supported. In order to publish it correctly for mono on raspbian, try running `dotnet publish yourProject.csproj -f net461 -r linux-x64` that should put the right implementation on your output folder and get past the err

[2020-04-11 18:13] pgrawehr commented on #1040
@joperezr I believe this should be `dotnet publish yourProject.csproj -f net461 -r linux-arm`. The raspberry has no x64 CPU 😄

[2020-04-11 19:07] joperezr commented on #1040
You are correct 😀

[2020-04-11 19:17] gtrztu commented on #1040
Thank you so much, but I followed the suggestions and now I get the error after the PowerShell line `dotnet publish ca4.csproj -f netcore3.1 -r linux-arm`
error:
`C:\Program Files\dotnet\sdk\3.1.201\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.TargetFrameworkInference.targets(93,5): error NETSDK1013: The TargetFramework value 'netcore3.1' was not recognized. It may be misspelled. If not, then the

[2020-04-12 11:42] pgrawehr commented on #1040
My bad. It should be "netcoreapp3.1".

[2020-04-12 11:47] pgrawehr commented on #1027
So the effect of the fix is marginal, but I'll later push it anyway (together with an unit test for the Bmp280 calibration formula).
My main problem was actually the missing height reduction formula. I've just pushed an updated WeatherHelper PR that gives values more in the range of what I expect.

[2020-04-12 12:12] djaus2 commented on #1027
NB: I'm currently doing a port of DME280 to Azure Sphere based upon Seeed's version.

[2020-04-12 14:29] joperezr commented on #1040
If you want to run on Mono, then the framework of your project should be a .NetFramework one which is why in my instructions I said to use is net461. The only thing wrong with my instructions was that for the -r argument I said to use linux-x64 but it should be linux-arm instead. If you build against netcoreapp you wont be able to run on Mono

[2020-04-12 16:03] gtrztu commented on #1040
Ohh… I'm sorry for the dummy problems but I am getting more and more errors... Now I made .NETFramework4.7.2 project with the GPIO package and in VS everything is ok...no errors. But in PowerShell after the fixed line `dotnet publish final2.csproj -f net472 -r linux-arm` I am getting new type error... It is:

`C:\Program Files\dotnet\sdk\3.1.201\Microsoft.Common.CurrentVersion.targets(3032,5): err

[2020-04-12 16:24] gtrztu commented on #1040
The error above was for windows forms app, because this is the thing I am trying exactly to do. Now I am trying with console application with the same PowerShell line and I get the error :

`C:\Program Files\dotnet\sdk\3.1.201\Microsoft.Common.CurrentVersion.targets(3947,5): error MSB4096: The item "C:\Users\Galin\Desktop\IoTshower\ca5\packages\System.Runtime.WindowsRuntime.4.7.0\build\net461\..\.

[2020-04-12 18:34] joperezr commented on #1040
Oh, winforms doesn’t work on linux, even when using Mono (AFAIK). You will only be able to do it for a console app. Also, why do you want to use Mono? .NetCore runs on RPi4 and our library has been tested against that runtime, so I would recommend writing a .net core console app to control gpio pins

[2020-04-12 18:46] gtrztu commented on #1040
Thank you so much. Is it possible to program a GUI that works on Linux and uses c# to control the GPIO on Rpi? What is your recommendation?

[2020-04-12 19:21] joperezr commented on #1040
There are many open source .Net projects that provide cross platform UI, but I haven’t tried many so I wouldn’t be able to recommend one over the other. I’ve only developed a couple of apps for the Pi where I wanted to have some UI, and in those cases I developed an ASP.NET MVC site fore the UI running on the PI which would internally call gpio via System.Device.Gpio

[2020-04-14 12:22] djaus2 commented on #1027
Got the DME280 working OK on the Az Sphere. Results are consistent with what I got as aboe.

[2020-04-14 21:38] DanielSSilva opened #1042 "Ws2812b binding incorrect light color"
**Describe the bug**
The [Ws28xx sample](https://github.com/dotnet/iot/blob/master/src/devices/Ws28xx/samples/Ws28xx.Sample.cs) is not displaying some colors correctly, namely Red. Changed [this sample](https://github.com/dotnet/iot/blob/master/src/devices/Ws28xx/samples/Ws28xx.Sample.cs#L34-L44) to the following

**Steps to reproduce**

[code]

but instead of displaying red, it's displaying purpl

[2020-04-16 16:04] krwq commented on #1042
@DanielSSilva I've used this library before without any issues. Could you double check your device is definitely WS2812b and that you changed your `/boot/config.txt` to have following:

[code]
as per https://github.com/dotnet/iot/tree/master/src/devices/Ws28xx

[2020-04-16 20:04] krwq commented on #1004
Sounds to me like the action here is to simply document the differences, correct?

[2020-04-18 06:39] pgrawehr commented on #1004
Possibly, yes. Since we know for instance that DHT sensors don't directly work on Windows (because switching the pin mode is to slow), this could be related. The question would be whether the low-level Windows GPIO driver could be improved.

[2020-04-20 05:12] pgrawehr opened #1047 "String formatting of Temperature, Pressure and future physical quantities"
While working on the WeatherHelper stuff, I found that it was pretty inconvenient that the `Temperature` struct did not have a `ToString()` member. So I added one, and also added a `public string ToString(string formatArgs, IFormatProvider culture)` method, that takes formatting arguments to print Temperature in different units.

With PR #1046 it is now proposed to do the same for Pressure, but th

[2020-04-20 16:30] krwq commented on #1047
cc: @tarekgh

[2020-04-20 16:36] krwq commented on #1047
Some open questions:
- how would user remove space between unit and number
- are units translated/spelled the same in all languages?
- are there languages (i.e. some where you type right to left) where number would go second, if so how would user swap the order?

[2020-04-20 18:06] krwq commented on #1047
Also:
- How would user specify if they prefer to display degrees character?
- [future thinking even if out of scope for now] How would user specify if they prefer to display full unit name? How would it be translated? (ICU might support that)
- Should ToString() figure out the default unit for the current culture and use it instead of our default?

[2020-04-20 18:16] krwq commented on #1047
If possible we should reuse NumberFormatInfo here, perhaps this should work very similar to currency formatting (per @tarekgh offline suggestion):
https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings#the-currency-c-format-specifier

[2020-04-20 18:25] tarekgh commented on #1047
I support taking advantage of NumberFormatInfo even it lacks support for temperature and Pressure which we may add later to the framework. but at least we can use it for format the number (using the separators and decimal points) and we always append the unit at the end for now.

[2020-04-20 19:33] MarkCiliaVincenti commented on #1047
I'm actually proud I opened a can of worms :) I will give my feedback later.

[2020-04-20 20:17] pgrawehr commented on #1047
If internally using ToString("F"), NumberFormatInfo is being used implicitly. The implementation already properly decides between . and , for instance.

[2020-04-20 20:45] tarekgh commented on #1047
Yes, you are right. I was hoping not introducing special format inside Temperature and Pressure types and have the formatting standardized in the cultures (in NumberFormatInfo) as we do for currency and other numbers.

[2020-04-20 20:53] krwq commented on #1047
@tarekgh there are some unit multipliers which might be problematic without being a bit more explicit, i.e. Hectopascal vs Pascal - depending on the usage you might or not want the multiplier but inch vs mm of hg/K or C on the other hand is something which I agree can be related to culture

[2020-04-20 20:57] tarekgh commented on #1047
The unit shouldn't specified in the format :-) if cultures support temperature and pressure units, then users can pass the culture to get the format for the matched units as desired. think about it as how we handle currency today.

[2020-04-21 05:08] pgrawehr commented on #1047
What krwq means: For some quantities, the default unit is clear. For temperature, it's Fahrenheit in the US and Celsius everywhere else. But for others it's not so clear: For pressure, it depends on context whether you want mmHG/inchHG or Bar/Pascal/Hectopascal. Or for speed, it might normally be Kilometers/hour vs Miles/hour, except if you are into aviatics or shipping, where it would be knots. A

[2020-04-21 06:49] pgrawehr commented on #1047
Related: #869 and the question, which units (or actually more precise: which physical quantities) shall have their own class representation.

[2020-04-21 06:54] FrancoCaprio opened #1048 "GPIO Pin extension"
We are using a Raspberry PI 3 with a extended GPIO up to GPIO 44. unfortunately I would like to use the RaspberryPi3Driver but I cannot override the Pin Mapping Method or the checks. because they are private/internal or protected.

`
        protected internal override int PinCount => 28;
        private void ValidatePinNumber(int pinNumber)
        protected internal override int ConvertPinNumber

[2020-04-21 15:08] pgrawehr commented on #1048
The PinCount property is `protected internal`, which means that they are protected _or_ internal. So you can overwrite it.
However: There's a bug in ValidatePinNumber that it does not use the `PinCount` property. That should get fixed sometime.

[2020-04-21 17:17] #1048 closed

[2020-04-21 17:18] krwq commented on #1048
Thanks for fixing @pgrawehr. To use latest bits use these instructions (or nuget sources specifically):
https://github.com/dotnet/iot#net-cli

I think build should be available no later than tomorrow

[2020-04-21 21:52] krwq commented on #1047
Marking as vNext. At minimum we should figure out if we want to pull out whatever has already been added or not.

[2020-04-21 22:04] krwq commented on #1042
@DanielSSilva have you perhaps had a chance to see if the above helped?

[2020-04-21 22:06] DanielSSilva commented on #1042
Sorry @krwq I've forgot to answer.
I can't be 100% sure that those are ws2812b, but I'm 99% sure since I've used different libraries for such model and all worked.
Regarding the configurations, I've set that as the wiki specifies.

On a side note, the other libraries that I've used, I think that they didn't use the SPI, not sure though

[2020-04-21 22:09] DanielSSilva commented on #1042
Also, I can't remember from the top of my head, but there are other colors that are being wrongly represented.
Funny enough, dark red shows as a red, whereas red shows purple

[2020-04-21 22:11] krwq commented on #941
Since we haven't had any progress on the remaining failure I'm voting on disabling the test on scenarios which don't work correctly and creating an issue on it (if it doesn't exist already). cc: @joperezr

[2020-04-21 23:58] larivierec commented on #802
I'm running this on Ubuntu 19.10 and it's not enough. It's a start because it allowed me to enable pwm through the overlays however, hardware PWM is currently unsupported within dotnet as certain pins need to be in different modes in order to operate on them.

[2020-04-22 00:17] krwq commented on #1042
Also if you've copied the sample did you force: `var neo = new Ws2812b(spi, Count);` - the original code has it ifdef-ed with Ws2808 so the sample can share the code.

If any of the above didn't help can you share specific device you got? (i.e. link to where to get it).

Also, are you running on RPi? Which version if so?

[2020-04-22 06:57] Ellerbach commented on #1013
@joperezr I've been fixing quite some time ago the feedback you gave on the PR. What are the next steps for this PR?

[2020-04-22 06:59] pgrawehr commented on #941
I agree for now. I was already trying to improve this test (when I was doing the performance analysis) but could only improve it, but apparently not fully fix it. It seems it has to do with some pending interrupts at the time the event callback is set up, but the picture is not so clear.

[2020-04-22 17:30] krwq commented on #802
@larivierec I'm not sure you can change the mode without root access or if it would be appropriate for .NET to change that (although if we can do it so that you can switch between PWM/GPIO without issues then I think we should allow it). For PWM without changing settings you can use SoftwarePwm

[2020-04-22 17:52] larivierec commented on #802
I guess it's totally an opinion but I believe it's important for .NET to be able to change that also, if permissions are properly set, a user could request changing the pins state. Thanks for your input!

[2020-04-22 19:25] krwq commented on #802
@larivierec can you please file a separate issue on that? We can figure out if we should close this one there once we have enough data. If you have any info how to actually do that with i.e. SysFs please put additional info there. I don't expect that will work for all possible cases - we can likely get the GpioController which has direct memory access to do that, not sure about the rest of them.

[2020-04-22 20:21] pgrawehr commented on #802
@krwq: For Raspbian, setting the alternate pin modes is technically easy to do (using /dev/gpiomem) and is noted in #857. The infrastructure required to do it will be part of my `Board` proposal (not yet, though). I don't know whether Debian or Ubuntu offer /dev/gpiomem access, though.

@larivierec If you can use overlays, it should work, actually. For Raspbian, it is now also required to enable a

[2020-04-22 23:22] DanielSSilva commented on #1042
@krwq I've created with the ws2812b class specifically.
The neopixels I've got are [these](https://www.ebay.co.uk/itm/WS2812B-RGB-Strip-Pixels-1m-5m-WS2812-IC-5050-Individual-Addressable-5V-Light/251947626070?pageci=fe120b4b-f3d1-4d42-a08b-cc727ae4d1d8). I'm using a pi4 with either latest raspbian or Ubuntu. I'm not near it but will try to fetch that info when I can

[2020-04-23 00:29] krwq commented on #1042
@DanielSSilva could you paste your /boot/config.txt content (perhaps something is overriding your spi settings later down), your csproj, .cs file and exact commands you used to build and run?

I have (almost?) identical lights in my house running on .NET all the time and it seems you might have forgotten something very simple - perhaps even physical connection.

Did you try to run same lights with

[2020-04-23 18:23] MarkCiliaVincenti commented on #1047
One thing to keep in mind is that once these are finalized we should update all the samples.

[2020-04-23 19:03] MarkCiliaVincenti commented on #752
#783 was merged as well. Closing issue.

[2020-04-23 19:03] #752 closed

[2020-04-23 19:06] MarkCiliaVincenti commented on #690
Is this still WIP?

[2020-04-23 19:17] MarkCiliaVincenti commented on #1047
Also, if we're going to do these, we might want to discuss creating a new unit for distance, which can be used as the return type of WeatherHelper.CalculateAltitude, for example. Currently, it returns meters, but maybe someone wants it in feet or yards.

[2020-04-23 19:44] krwq commented on #1047
I'd start with designing formatters but have other units in mind when designing instead of adding them in one go

[2020-04-23 21:34] krwq commented on #752
Thanks @MarkCiliaVincenti and @pgrawehr for helping to push this!

[2020-04-23 23:16] DanielSSilva commented on #1042
I'm currently running on the rpi4 with latest raspbian.
[code]

<details>
  <summary>/boot/config.txt </summary>

[code]
</details>

Here's the .cs and csproj (both adapted from the sample code on this repo)
<details>
<summary> cs file  and csproj</summary>

cs file

[code]
The csproj

[code]
</details>

As for the commands build, it was : `dotnet publish -r linux-arm`
then I've copied the folder

[2020-04-23 23:30] krwq commented on #1042
@DanielSSilva the only two things I can think of (to try in this order):
- connect your data pin here: https://pinout.xyz/pinout/pin19_gpio10# (that's SPI0's output)
- put `dtparam=spi=on` just before `core_freq=250` so that it's 3rd line before end

perhaps python implemented it differently 😄

[2020-04-24 06:30] pgrawehr commented on #1047
Note: I believe we should be consistently talking of "(physical) quantities" when we talk about Temperature, Pressure, Distance or Speed, and Units if we talk about meters, degrees or Miles per Hour. This reduces confusion. Each quantity can be represented by different units, but a specific unit may in practical applications represent different quantities (i.e. in aviatics, the default unit for th

[2020-04-24 06:40] krwq commented on #1047
perhaps we should refrain with this issue for now (and revert all formatters for now) and focus on adding more units. Once we got those then we can focus on formatters and other utilities (perhaps for conversion or some operators to convert between units)

[2020-04-24 06:44] pgrawehr commented on #1047
I've got some of those prepared already, I can provide a PR maybe tomorrow. Otherwise, I'm fine with removing that for now. Would you remove the standard ToString() as well?

[2020-04-24 07:02] MarkCiliaVincenti commented on #1047
Would you like me to amend #1046 and remove formatting for now?

[2020-04-24 08:11] krwq commented on #1047
@pgrawehr cool! Please do PR per unit though. For now I'd start with returning anything in ToString although I think we should put some kind of comment in the xml doc that the behavior may change in the future

[2020-04-24 08:17] MarkCiliaVincenti commented on #1047
Does it make sense to have them in the IoT library though, or should we have them elsewhere (ideally in a .NET Standard library)? For example I was working on a completely separate project and wanted to use the Temperature unit.

[2020-04-24 10:36] larivierec commented on #802
I can confirm that /dev/gpiomem is available on Ubuntu (unsure about debian).

For PWM channels, pwm-2chan must be enabled in the /boot/config.txt with dtoverlay. I also saw you referenced an issue I'll look over that documentation and thanks for that. Secondly, I don't believe going through wiringpi is the correct way to set the mode. The iot project currently offers a way to set gpio modes there

[2020-04-24 11:11] pgrawehr commented on #1047
@MarkCiliaVincenti You might be right here. With the ease of creating (and using) new nuget packages, packages should be small. So this should probably go into its own package (i.e. System.Physics) or so. This doesn't necessarily mean we can't keep it in this repo, though (or even that this couldn't be moved/refactored later). But it might be good not to use the `Iot.Devices` namespace for these.

[2020-04-24 12:13] pgrawehr commented on #802
@larivierec : I fully agree that we should support that (and as stated above, I've already got a plan on how to implement it). The wiringpi notice was just a possible workaround.

[2020-04-24 13:48] JTrotta commented on #1047
Have you ever used this library [UnitsNet](https://github.com/angularsen/UnitsNet) ?
It's complete and works very well, I use it  for years, instead of reinventing the wheel.
It's just a suggestion.

[2020-04-24 16:18] pgrawehr commented on #1047
Well, I didn't know this, but it does look exactly like what we need. It even has operators to compute i.e. Speed out of distance and time. The license is also matching. And it has formatting members, too 👍

[2020-04-24 17:13] krwq commented on #878
Note that Xamarin has some model already created we could possibly re-use, i.e.:
https://docs.microsoft.com/en-us/xamarin/essentials/barometer?tabs=android

[2020-04-24 17:44] pgrawehr commented on #878
@krwq I believe this is the wrong thread for that? That's more about a new binding proposal or maybe about units, not about the basic board concept.

[2020-04-24 17:47] krwq commented on #1047
@JTrotta @pgrawehr I'm not 100% sure - I'd personally like that but there are also questions about servicing in case we ever have a security bug which is in that library. There are some protocols we have to follow as Microsoft which is hard to enforce on external packages. I will need to ask around. @joperezr any clues?

[2020-04-24 18:01] krwq commented on #878
Barometer is a hardware abstraction, isn't it? 😄

[2020-04-24 18:02] krwq commented on #1047
Let's move conversation about units to https://github.com/dotnet/iot/issues/869

[2020-04-24 18:06] krwq commented on #869
@JTrotta has suggested to use https://github.com/angularsen/UnitsNet instead of re-inventing the wheel. So far looking at that it seems to me we can re-use the library.

License seem to be compatible. What are your thoughts about it?

@MarkCiliaVincenti do you mean you prefer to re-implement? (assuming you read the thread above looking at timing)

[2020-04-24 18:40] krwq commented on #869
I'm currently asking for a green light if Iot.Device.Bindings can depend on that. Ideally would be nice if we could get that library's namespaced evolve to System.Units but we should start with checking if it works for us first

[2020-04-24 18:44] pgrawehr commented on #878
True, but that's more like a single binding/device. But I agree that having bindings (or even a hardware abstraction layer) that works on phones would be nice. Is .NET Core intended to replace xamarin also on Android/IOS?

[2020-04-24 18:51] krwq commented on #869
Got a green light. Plan is following:
- let's create a branch in dotnet/iot: feature-units and start integrating that library
- as we go we should write down all problems with it if there are any
- if we notice this is not working well for us we back off
- if we are happy with the branch we go forward with it and merge it into master

[2020-04-24 18:55] krwq commented on #869
Anyone would like to help with integrating this? cc: @pgrawehr @JTrotta @MarkCiliaVincenti

[2020-04-24 19:05] MarkCiliaVincenti commented on #869
I would like to help but I think this falls in the remit of someone who is knowledgeable on physics; I'm purely on software development.

[2020-04-24 19:13] krwq commented on #878
@pgrawehr there is couple more over there than Barometer. I'm not sure what the plans are though - I'd recommend waiting for the upcoming build conference https://www.microsoft.com/en-us/build - we usually announce the plans there - also perhaps there is some QA you can ask (I can't officially talk about any high level plans even when I know them, better talk to PMs - they will tell you what they

[2020-04-24 19:18] krwq commented on #869
@MarkCiliaVincenti first step is to simply convert what we already have to new library. next step is to integrate more

[2020-04-24 19:23] JTrotta commented on #869
If someone creates the template/repository, I can help.

[2020-04-24 19:25] krwq commented on #869
@JTrotta already created a branch in this repo (feature-units). First step would be to remove our Units library and add package reference to Iot.Device.Bindings to UnitsNet and replace all failing places with new library and equivalent APIs

[2020-04-24 19:39] JTrotta commented on #869
I see. So you do not want to create a new library, but integratate it into IOT, do you?
You want remove Iot.Units namespace and src under Device folder, and start to refer to the external to check functionalities or you want to integrate source code?

Sorry for questions, but I'd like to better understand your aim.

[2020-04-24 19:47] MarkCiliaVincenti commented on #869
Yeah, I didn't understand either.

[2020-04-24 19:55] pgrawehr commented on #869
See coment from krwq above ("got green light"...)

He has created a branch for integrating that library. The task for whoever picks this up are first:
- Remove our own classes (Temperature and Pressure pressumably)
- Add reference to the UnitsNet package
- Try to build
- If it works, submit a PR against the "feature-units" branch

Then we can try to make more use of that library and find whether i

[2020-04-24 20:14] krwq commented on #869
exactly as @pgrawehr has wrote, sorry for confusion 😄

[2020-04-24 23:40] joperezr commented on #1013
You are totally right @Ellerbach so sorry I missed it. I just assigned myself to it and will take a final look and merge this weekend.

[2020-04-25 01:34] krwq commented on #1013
I think there are two ways we can go about this issue:
- go with our initial recommendation for GpioController: make it so that you can create multiple GpioControllers on top of FT4222 and as long as they don't use the same pins this should work fine
- we change recommendation so that GpioController should not be disposed and adjust all the bindings so that it's possible.

My opinion on this has b

[2020-04-25 04:21] krwq commented on #869
I'll start with initial PR

[2020-04-25 05:49] krwq commented on #869
Let me know what you think. So far I like the result of this experiment and I think we should keep going with converting the units. @joperezr?

[2020-04-25 06:06] pgrawehr commented on #1013
My 2ct: I'm also going back and forth here, and part of `Board` stuff is just about this problem. When we have multiple GPIO Controllers, but all connected to the same board instance, the pin assignment can be handled there (i.e validated that no two controllers share the same pin). Since we also have pins that are not controlled by GpioController instances (i.e. PWM, I2C), but should not be share

[2020-04-25 06:10] krwq commented on #869
if we decide we like it I think we should go with some multidimensional units (so perhaps convert IMUs) and see how that code looks like. After that if we decide we want this permanently we should merge that into master and work on master directly

[2020-04-25 19:18] krwq commented on #869
Ok, I have just tried converting BNO055 to use MagneticField but couldn't see any way of creating a 3 dimensional vector out of that with UnitsNet. I've created an issue there to see what they recommend: https://github.com/angularsen/UnitsNet/issues/780

[2020-04-27 19:59] krwq commented on #869
anyone interested in continuing the effort? the multi-dimensional units seem to be out of scope for now (.NET currently doesn't allow to put restrictions on generic types such that you could restrict type to numbers only and use operators which seem to be the reason why UnitsNet haven't added any multidimensional units - they have some workaround in progress and I also asked our PM if this is some

[2020-04-27 20:12] pgrawehr commented on #869
You mean that we should find out where we would rather use units instead of plain doubles?
I guess that needs going trough all the bindings and check that. My "big" IOT project is taking some time now as well, but I'll try to find some time for a few known bindings later. And I'm still also working on the Nmea stuff, which will use many units.

How do we avoid introducing all kinds of breaking cha

[2020-04-27 20:30] krwq commented on #869
Yes for the question. For the breaking changes: I personally feel flexible here but my opinion is that for Iot.Device.Bindings we should go with breaking changes although reducing them to as little as possible (if any property had unit in the name and returns double then it should still be there but if it is called say `Voltage` which would clash with name we'd like to use now I think we should ch

[2020-04-27 20:31] joperezr commented on #869
Regarding that it is worth noting that Iot.Device.Bindings package doesn't have the same level of guidelines that System.Device.Gpio does, and we do allow making breaking changes as long as they are valuable and it is easy for consumers to adapt to the new breaking changes which I believe we are fine on both of those items with this.

EDIT: looks like @krwq beat me for a few seconds haha, but answ

[2020-04-27 23:14] joperezr opened #1054 "Disabled test in Windows FastInterruptHandling"
When adding changes for https://github.com/dotnet/iot/pull/1038 we actually noticed that the RaspberryPiDriver have never been tested in Windows, where it was also supported. That PR added testing for it, and one particular test (FastInterruptHandling) ended up being flaky failing some times. This same test is being also tested with the same code path by the WindowsDriver tests but seems like the

[2020-04-27 23:16] #1013 closed

[2020-04-28 07:12] pgrawehr commented on #1054
Possibly related: #1004. I had already found that the test is considerably slower on Windows than on Linux. The reason is not so clear to me. Since the test should take a constant amount of time (it triggers a pin 100 times with an interval of 20ms) and this takes around 2.5 seconds on linux, but 3.5 seconds on Windows, it's likely to be related to the problem that Windows just cannot trigger pins

[2020-04-28 07:57] pgrawehr commented on #869
@krwq: Can you please rebase the branch? The removed platform dependency will remove issues with VS playing havoc on reference assemblies, which is ugly to work with if one needs to go trough a lot of bindings.

[2020-04-28 09:07] davidjmallar opened #1055 "Support Orange PI boards"
Usually, we prefer the [Orange PI](http://www.orangepi.org/) products over the Raspberry, because they are much cheaper. Especially the [Orange PI Zero](http://www.orangepi.org/orangepizero/).
But, there is no Dotnet support yet.
That would be awesome if this library could handle at least the OPI Zero boards.

[2020-04-28 10:47] pgrawehr commented on #1055
The OPi 4 could actually work, as it has very similar hardware to the Raspberry Pi 3. Have you tried installing dotnet on it? Anyway, if dotnet is not supported, this is the wrong place to ask, this Repo is only about support for the extra hardware (GPIO, I2C, etc) not about dotnet support in general.

[2020-04-28 16:29] krwq commented on #1055
Possibly this will also improve it? https://github.com/dotnet/iot/pull/780

[2020-04-28 16:49] joperezr commented on #869
Done. Make sure whoever is going to work on this to do a fetch again in case they had already pulled down the branch as when you do a rebase the history is changed so local branches will be broken and will need a re-fetch.

[2020-04-28 21:29] avongonzales commented on #850
Hello
I have RaspberryPI 3 and using Latest Raspbian "Buster"
I updated the GrovePi+ Firmware to  version: 1.4.0

Do you have Code Samples for .NET Core3.1 ?
Grove-LCD_RGB_Backlight   http://wiki.seeedstudio.com/Grove-LCD_RGB_Backlight/
Grove - Red LED http://wiki.seeedstudio.com/Grove-Red_LED/
Grove Buzzer - http://wiki.seeedstudio.com/Grove-Buzzer/

Thanx

[2020-04-29 07:46] Ellerbach commented on #850
@avongonzales , see also https://github.com/dotnet/iot/tree/master/src/devices/CharacterLcd for the Grove LCD. It's a classical I2C display supported in a different binding.

[2020-04-29 10:20] avongonzales commented on #850
Thank you K.W &  L.E.. Cheers !!!

[2020-04-29 16:42] assert-not-singularity commented on #690
Hi altogether!

I want to deploy a .NET application to a Raspberry Pi Zero as well and I'd prefer to use .NET Core. Since the Pi Zero is not compatible with .NET Core, currently I'm developing the application as platform-dependent library on .NET SDK 3.1 and targeting netstandard2.1 which allows me to use Mono 5.18 as runtime on the Pi. Of course, this is not ideal but should do it until .NET 5 is

[2020-04-29 17:21] krwq commented on #690
I believe mono can be now used if you target full framework. @joperezr do you remember specific TFM (`-t` switch in dotnet command) you have to pass?

If we're gonna re-target to netstandard then I'd prefer if we created tiny compat shim so that we can quickly switch it back once we get proper support

[2020-04-29 17:57] joperezr commented on #690
If we change IoT.Device.Bindings package to target netstandard2.1 instead of netcoreapp2.1 then we would drop netcoreapp2.1 support because netcoreapp2.1 doesn't support netstandard2.1. We could dual-target but we haven't done that yet. My advice for now is that if you have an app and you want to use it with Mono, you should create your Mono project and then copy the binding's source that you need

[2020-04-29 22:17] shaggygi opened #1059 "MCP2210 Device Binding"
@joperezr

I'm looking at working on a new [MCP2210](http://ww1.microchip.com/downloads/en/devicedoc/22288a.pdf) (USB-to-SPI Protocol Converter with GPIO) binding.

This is controlled via a USB interface.  Before starting the development, I wanted to know if I would be allowed to reference the [HidSharp NuGet package](https://www.nuget.org/packages/HidSharp/) for the communications?  It appears it

[2020-04-29 23:12] krwq commented on #1059
From my perspective: Yes - I'm not a fan of libraries not putting their code on github but it seems to me good enough reason to use it - in the future might be worth to put this library in separate package so not everyone has to pull the dependency.
Also seems that this library might also in the future support Bluetooth Low Energy (They say ` Added experimental Bluetooth Low Energy support on Wind

[2020-04-29 23:15] krwq commented on #1059
From API perspective I think either Mcp2210 should implement `SpiDevice` or it should be able to return `SpiDevice` in one of the methods. If that's not possible we should consider creating some kind of interface between SPI/I2C/... and drivers since this won't be the first device needing it

[2020-04-29 23:17] krwq commented on #1059
And welcome back @shaggygi! Hope you're doing well!

[2020-04-29 23:18] shaggygi commented on #1059
I was thinking this, but it is also similar to a GpioController.  That is where the older interfaces would have been nice to implement both.  I'll probably have more questions for you when I dive deeper.

[2020-04-29 23:21] shaggygi commented on #1059
Thanks buddy!  Been super busy with work life, but trust me... I've been watching the repo's progress when I can.  Actually, this new binding is for a work-related project.

[2020-04-29 23:23] joperezr commented on #1059
Hope you are doing well @shaggygi! The device sounds very interesting so we would love to have a binding for it. In terms of the NuGet package question, as @krwq suggests we definitely need to check with legal as this is not something that either him or myself can sign off on. I'll start an internal thread right away and will ping you once we know more and I'll make sure to drive the discussion so

[2020-04-30 06:06] Ellerbach commented on #1059
Welcome back :-) You can implement both Gpiocontroller and SpiDevice. See for example FT4222: https://github.com/dotnet/iot/tree/master/src/devices/Ft4222

The FT4222 has 3 interfaces: Gpio, I2C and SPI, so I built the driver for all 3. What is left on top if just find if a device is present. All the rest is behind the drivers.

[2020-04-30 12:22] assert-not-singularity commented on #690
Thanks for your fast replies! It's a pity that netstandard2.1 would break support for netcoreapp2.1.

To get my app running, I copied the source files of MCP devices I'm interested in into my project and it works fine. I hope this also works with other devices such as display drivers.

I also tried to build against net461 but this prevents me from developing with WSL since .NET Framework 4.6 is no

[2020-04-30 15:13] pgrawehr commented on #1059
... or wait for the Concept review of #1044. It's designed just for such hardware.

[2020-04-30 16:44] krwq commented on #1059
@shaggygi feel free to add dependency on the library with following conditions:
- https://github.com/dotnet/iot/blob/master/THIRD-PARTY-NOTICES.TXT needs to be updated, use https://github.com/dotnet/runtime/blob/master/THIRD-PARTY-NOTICES.TXT as an example
- quickly inspect the library as mentioned above to gain confidence
- when adding PackageReference put comment above saying that issues/patches

[2020-04-30 18:33] richlander opened #1063 "Good option for a resistor array?"
This is a bit off-topic, but I'm hoping you can help me.

I recently learned about resistor network and resistor arrays, in this [video](https://www.youtube.com/watch?v=Ys2fu4NINrA&feature=youtu.be&t=834). Does anyone have a good source of these? They look super useful.

I did find [this product](https://www.amazon.com/gp/product/B07BPYR8KR/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1), which

[2020-04-30 18:37] krwq commented on #1063
They are 50c for 10 on aliexpress: https://www.aliexpress.com/item/33039985638.html?spm=a2g0o.productlist.0.0.56c2123dT1SSj5&algo_pvid=78d93417-0fc7-4e0e-b5ab-8bf096cf3178&algo_expid=78d93417-0fc7-4e0e-b5ab-8bf096cf3178-0&btsid=0ab6f81615882717811597009e7117&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_

I bet you can find them even cheaper if you search more

[2020-04-30 18:42] richlander commented on #1063
That looks like the shift register, not the resistor array.

[2020-04-30 18:43] krwq commented on #1063
I noticed a second later (thought chip id in the title was what you were looking for). Perhaps digikey:
https://www.digikey.com/products/en/resistors/resistor-networks-arrays/50?utm_adgroup=Resistors&utm_source=google&utm_medium=cpc&utm_campaign=Dynamic%20Search&utm_term=&utm_content=Resistors&gclid=Cj0KCQjw7qn1BRDqARIsAKMbHDYKZv1ZvKJzNY0Iddh1vtE3sT5l29c_ps79ZBEZLgqyBDdk13-dXcIaAmFmEALw_wcB

[2020-04-30 18:48] krwq commented on #1063
Note you will need to select the packaging as DIP-16 in the extra filter:
https://www.digikey.com/products/en/resistors/resistor-networks-arrays/50?k=&pkeyword=&sv=0&pv16=107879&sf=1&FV=1%7C139540%2C1%7C147533%2C-8%7C50&quantity=&ColumnSort=0&page=1&pageSize=25

Unless you go bulk you pretty much have 3 choices right now:
- https://www.digikey.com/product-detail/en/vishay-dale/MDP1603200RGE04/MDP2

[2020-04-30 18:52] richlander commented on #1063
Yup, I eventually found those. Thanks!!

[2020-04-30 18:52] #1063 closed

[2020-05-01 13:45] pgrawehr commented on #1013
@joperezr I feel that unfortunatelly, we need to reopen this. I've just seen a few cases like (from DhtBase.cs):
[code]
with a `Dispose` of
[code]
This should rather be
[code]
because the pin we allocated for this binding needs to be freed, as we "own" it.

I've seen this in at least two bindings (Dhtxx and Mcp2xxx).

[2020-05-02 10:08] mlowijs opened #1064 "WS2812b erroneous colors for certain values"
**Describe the bug**

Certain color values produce erroneous colors on on WS2812b LED strips.

**Steps to reproduce**

I have two LEDs in series connected to the SPI port on a Raspberry Pi 3 A+.

When looping through all the values for a color, some values turn off the LEDs or produce seemingly random colors on the LEDs, though they are not random; for each run of the code the produced colors are

[2020-05-02 16:43] pgrawehr commented on #1064
Duplicate of #1042?

[2020-05-04 03:18] krwq commented on #1064
@mlowijs this sounds similar, can you try things I suggested in the other issue? If this doesn't help I'm guessing we've regressed this binding at one point (although don't recall any PRs in this area)

[2020-05-04 20:37] pgrawehr commented on #832
Just made an interesting observation. I was seeing quite a lot of these errors with a particular ADS1115. There are a total of 7 chips connected to this bus (two ADS1115, two MCP23017, a BMP280, a BME680 and an LCD display). The problematic ADS, that I'm reading at about 1Hz, reported failures about every 2nd or 3rd attempt, the second ADS, that I'm reading at 5Hz, reported failures about every 10

[2020-05-05 07:19] mlowijs commented on #1064
Sure, here we go:

- Double check `/boot/config.txt`: I did and it's the same as the one in the issue.
- Are they really WS2812B LEDs: I can't be sure about that. They work fine with other libraries (e.g. in Python) that use PWM/DMA instead of SPI for controlling the LEDs.
- Force `new Ws2812b()`: My code sample does that already.
- Pin connections: data pin is on 19, GND on 20 and Vcc on 4.
- Com

[2020-05-05 13:42] davidjmallar commented on #1055
Thank you. That is indeed improving it!

[2020-05-05 13:42] #1055 closed

[2020-05-05 14:44] richlander commented on #921
You can port an Apache 2 library to MIT. You just need to an entry to https://github.com/dotnet/iot/blob/master/THIRD-PARTY-NOTICES.TXT.

[2020-05-05 14:57] richlander opened #1068 "Switch samples to PackageRef"
The samples in this repo use project references, instead of PackageReference to the NuGet packages (that the repo produces) on NuGet.org. This has two (related) problems:

- The projects can only be built as-is within the repo.
- The projects do not demonstrate the best-practice for customer usage. For example, the packages they would need are not even listed in a comment in the projects.

Example

[2020-05-05 14:57] #921 closed

[2020-05-05 17:14] richlander commented on #1068
I added a proposal for how to handle this in #1069.

[2020-05-05 17:22] joperezr commented on #1068
We can totally do this but we have to be aware of the trade-offs. This would mean that if we make a breaking change on either the main library(not very likely) or a binding the sample uses (somewhat likely) then we would have issues like:
- Passing CI when making the breaking change but then getting a broken CI on the next build when we consume the new packages with the changes. This in case we ex

[2020-05-05 18:08] Tragetaschen opened #1070 "Include the major version when referencing *.so libraries"
**Describe the bug**

Linux distributions typically split libraries like libgpiod into multiple packages.

One specific split is between `libgpiod` and `libgpiod-dev`, where the former contains the necessary binaries and symlinks to run programs while the latter is meant for development, where you (traditionally) invoke a linker to produce a binary. The latter typically uses the unversioned symlin

[2020-05-05 18:18] joperezr commented on #1070
Thanks for logging the issue. While you are absolutely right that we currently require the `-dev` package and that this could be fixed by simply changing our DLL imports and providing the version, it would also mean that our library would only work if that specific version is installed, once a new version of libgpiod comes out we would be broken as we wouldn't be able to find the library. We (.NET

[2020-05-05 18:21] Tragetaschen commented on #1070
Now that you mention it:
- Ubuntu 18.04 has libgpiod.so.1
- My Yocto image has libgpiod.so.2
Is the latter tested in any of the CI builds or am I just outright lucky?

[2020-05-05 18:25] joperezr commented on #1070
I'm almost sure that the one we test with is libgpiod.so.2, although I could be wrong. We would have to check the PCBs we have in our lab to see which version do they have to know for sure. Perhaps it would be interesting to add a test to just return the version of libgpiod that is being used for future reference.

[2020-05-05 18:43] Tragetaschen commented on #1070
A couple of random thought:

The proposal is to reference just the major version, not the minor or the patch, so any future backward-compatible update to the binary will be resolved successfully.

If the update to the library is not backwards compatible and the major version is increased, then it's also likely that the P/Invokes will be broken by that change. Using the unversioned .so from the -de

[2020-05-05 21:41] #1068 closed

[2020-05-05 21:41] richlander commented on #1068
Resolved in https://github.com/dotnet/iot/pull/1069

[2020-05-07 16:56] joperezr commented on #917
Thanks for the investigation @SaDiablo. Marked this as vNext and up-for-grabs if anybody wants to fix this on the MCP binding.

[2020-05-07 17:03] joperezr commented on #1027
Nice! I suppose you mean that is with the line that @pgrawehr suggested above. If that's the case can either you or @pgrawehr put up a PR to fix this issue on the binding?

[2020-05-07 17:44] joperezr commented on #1013
@pgrawehr I would suggest instead to create a new issue with the ones you find and address those specially as the main theme of this issue has been fixed by the PR @Ellerbach added. Any fallbacks we find can be logged as new issues.

[2020-05-07 17:50] pgrawehr commented on #1027
Actually, I'm a bit confused, because I think I didn't really change anything (the parentheses on that line are extra-confusing). But I've done it together with an unit test and an improved calcuation formula (using doubles instead of fixed-point math). I can finish that PR pretty quickly, but I don't want to have to many PRs open at a time.

[2020-05-07 17:57] pgrawehr commented on #378
@joperezr : I think this ticket can be closed (again). Interrupt handling is now much more reliable, can usually handle 1khz without problems and I've never seen the above exception again.

[2020-05-07 18:05] joperezr commented on #378
Agreed. @chrishamm feel free to re-open if you still hit issues.

[2020-05-07 18:44] chrishamm commented on #378
Well, I doubt 1khz is sufficient for my current application but that isn't related to this ticket. Are you using gpiochip in .NET Core 3 or still the old-fashioned polling approach? I haven't checked the sources yet.

[2020-05-08 06:42] pgrawehr commented on #378
I've tested up to about 7kHz. Above that it gets flacky and more and more triggers seem to get lost. For my project, I've therefore added a counter IC to ensure I'm loosing as few triggers as possible. But I wasn't able to test the full setup yet.

The current implementation uses SysFs interrupt handling (it's not using polling, but the implementation has a significant overhead) or - if available

[2020-05-13 15:44] HakanL opened #1074 "Output-only SpiDevice?"
Would it make sense to have an Output-only SpiDevice class? For example `SpiOutputDevice`, which the SpiDevice can inherit from. The use-case is for hardware devices that don't have any read-capabilities, like LED/Pixel/PWM controllers like the TLC59711. It would be nice to create an implementation for a device that could take a SpiOutputDevice in the constructor which could be implemented either

[2020-05-13 15:59] krwq commented on #1074
I don't feel strongly but I'd rather go with parity with Stream so rather go in direction of having CanRead/CanWrite assuming we have a use case where it would mitigate accidental use. If your device is output only (i.e. LED strips are as well and we already use them) just don't call Read...

[2020-05-13 16:11] HakanL commented on #1074
It would just allow for a cleaner class structure. Take for example the `SoftwareSpi` class, it requires chip select, miso input pins, but for some output-only devices those aren't available/used. If we had an OutputSpiDevice then we could just take that as a constructor parameter into a device-implementation and it would be up to the user to choose if they want to use a hardware SPI (SpiDevice),

[2020-05-13 16:47] krwq commented on #1074
on the other hand you can't base your class on more than one abstract class - for SoftwareSpi I guess we could make it work if `-1` is used instead of legit pin number. I have mixed feelings on this - too much abstraction usually does more harm long term so better be sure about the abstractions you're adding

[2020-05-13 17:03] HakanL commented on #1074
Correct, but the SpiDevice would inherit from SpiOutputDevice, not multiple base-classes (which obviously isn't possible), it would just be optional to create a SoftwareSpiOutput device, or just a SoftwareSpi (which would handle the outputs as well) depending on what your hardware can support.
I'm personally not a fan of hard-coded special numbers (like -1), but yes you could do some if/elses in t

[2020-05-13 17:12] krwq commented on #1074
Presumably if you have SpiOutputDevice you should also have SpiInputDevice - not sure if there are any devices like that but presumably it's possible, then SpiDevice would have to inherit from both which would not be possible

[2020-05-13 17:41] HakanL commented on #1074
Actually SPI master devices can't be input-only, you need to write before you read (in a transaction). To be fair, the current SpiDevice should probably be called SpiMasterDevice, but that may be overkill. One could implement a Spi slave, but that's a completely different type. One can argue that a device can't be both master and slave, you have to pick one. There's also the option to create inter

[2020-05-13 18:17] krwq commented on #1074
@HakanL the Ws2812b is input only master, you need to be very careful with timing though, see https://github.com/dotnet/iot/tree/master/src/devices/Ws28xx

[2020-05-13 19:04] HakanL commented on #1074
Yes it is, but this library currently only supports sending data TO the WS2812, so the implementation in this library would be using the `SpiOutputDevice`. If you wanted to "emulate" a WS2812 pixel then you'd to have to build a Spi slave device, but I don't think that's in scope for this library (please correct me if I'm wrong). All device implementations I've seen in this library are for talking

[2020-05-13 20:02] krwq commented on #1074
@HakanL I agree we currently don't have such device but there is couple of things we need to take into considerations when adding new APIs:
- we can't easily remove it - any removing of APIs will cause someone code to be broken
- it needs to be future proof (as much as possible, we can't predict what will actually happen in the future) - I'm currently seeing that we might need SpiInputDevice - eve

[2020-05-13 20:26] HakanL commented on #1074
Ok, I guess that makes sense. Would you be open to me modifying the SoftwareSpi to have the input (miso) and chip-select be optional? Do you prefer that I use hard-coded values like -1, or make them nullable?

[2020-05-13 20:31] krwq commented on #1074
Thanks for offering help, yes if it unblocks a scenario you have you are welcome to make the change 😸  -1, see https://github.com/dotnet/iot/blob/master/Documentation/Devices-conventions.md for reference (search for -1 in that doc)

[2020-05-13 20:35] joperezr commented on #1074
Hey @HakanL sorry to join late to the conversation. In hindsight, I agree with you that SpiDevice shouldn't have leaked implementation details like chipselect and MISO on its surface area to allow cleaner implementations of SoftwareSPI for example, but unfortunately we have shipped now with that design and we would really need a very strong argument in order to make a breaking change now. I agree

[2020-05-13 20:39] HakanL commented on #584
One comment regarding this is to perhaps have a discussion about connectivity that is one-way, for example when controlling pixels via SPI (WS281x) you only use two wires (DA and CK) and there are no read-capabilities. There are other devices like that (TLC59711 for example). I suggested SpiOutputDevice, but there are other issues with that so I figured I'd just add my comments here to perhaps hav

[2020-05-13 20:46] HakanL commented on #1074
@joperezr Actually the `SpiDevice` doesn't have the CS/MISO, that's only in the `SoftwareSpi` implementation, which I can change.

[2020-05-13 20:50] joperezr commented on #1074
Not directly, but in order to create one you need SpiConnectionSettings which does have chipselect line and busid, so that is what I meant. It would have been nice to have some SpiConnectionSettings which wouldn't necesarily have implementation details.

[2020-05-13 20:54] HakanL commented on #1074
Ah, got it, yeah true. Well, I think I have what I need, I will send in a PR for making those optional in SoftwareSpi, and that will make it work ok for my TLC59711 device. Thanks all for your help! I think we can close this issue, good discussion and insight.

[2020-05-13 21:35] HakanL commented on #1074
I found one issue with SoftwareSpi that I'd like your guidance on. It takes a construction parameter for chipselect pin (`cs`). But the `SpiConnectionSettings` class already has this as a property. I can either break the API (👎 ) by removing the `cs` parameter and only use the one from the settings. Or I can create an overloaded constructor that uses `cs` and ignoring the one from the settings cla

[2020-05-13 21:49] krwq commented on #1074
Ooops, probably my fault...

I think long-term we should re-design SpiConnectionSettings - perhaps introduce some base type which would only have what it should have.

I think having 3 pins directly as args and one in settings would be a bit confusing but I don't feel strongly either way.

@joperezr what are your thoughts?

Perhaps some in between solution for now though:
- change current cs arg t

[2020-05-13 21:50] krwq commented on #1074
Assuming everyone agrees those should be done in 2 steps PRs perhaps... perhaps we should just go ahead and do long-term solution

[2020-05-15 04:30] HakanL commented on #1074
Submitted a PR for the changes to the SoftwareSpi. I will add my TLC device later, just need a little more testing.

[2020-05-15 05:36] HakanL commented on #1074
Here's the PR for the work that actually started this ticket (support for TLC-59711): https://github.com/dotnet/iot/pull/1077

[2020-05-16 03:54] frogcrush opened #1078 "SHT1x support"
Currently there is support for the SHT3x sensors. However, there is no support for the older SHT1x sensors which are still widely available for purchase. I would like to add support for the SHT1x line of devices, either by modifying the existing SHT3x code or by using that code as a basis.

![image](https://user-images.githubusercontent.com/6116333/82109830-05170900-96ee-11ea-8882-903526589ee2.png

[2020-05-16 03:57] frogcrush commented on #1078
Datasheet: https://www.sparkfun.com/datasheets/Sensors/SHT1x_datasheet.pdf

[2020-05-16 04:47] frogcrush opened #1079 "Relay device"
I would like to add support for some different relay boards. These devices are super simple and support for this would be to add consistency for code in projects more than anything.

This device would simply keep track of what port a relay is on, and provide methods for turning it on and off by setting that pin high and low.

![image](https://user-images.githubusercontent.com/6116333/82110766-9dfd

[2020-05-16 05:55] pgrawehr commented on #1079
Sounds good, but make it such that the number of relay channels is configurable. There are such boards with 1, 2, 4, or even 8 channels.

[2020-05-16 05:58] pgrawehr commented on #1078
Probably related: #1067

[2020-05-17 23:07] krwq commented on #1079
I have mixed feelings on these since this will have very little logic compared to GpioController, if you guys feel like this is useful please at least add support for normally open/closed types of relays so that user doesn't have to switch

[2020-05-18 04:47] frogcrush commented on #1079
@kwkraus I like that idea. I would agree that there isn't much more logic than GpioController. However, it would be more readable and also easier for entry-level people to understand.

[2020-05-18 04:48] frogcrush commented on #1079
So have it RelayBoard instead of Relay? That could make sense.

[2020-05-18 05:20] frogcrush commented on #1078
This is in-progress in #1080

[2020-05-18 05:45] microhobby commented on #923
@techniq  the sample geometry is only ready for the 128x32 OLED (you can notice that in your image the text has skipped pixels, the display memory is not mapped correctly). In fact the way it was written is kind of strange trying to always rewrite the page address and column address, which should only be done during initialization when using horizontal paging mode (debugging step by step you can s

[2020-05-18 12:21] techniq commented on #923
Thanks @microhobby, I'll need to dust this off and give it a try.  It's been a couple months since I had time to tinker around with it.

I think the last I was using it I decided to embrace using `SixLabors.Fonts` / SixLabors. ImageSharp` so I could change the font/size and send graphics.

[code]

[2020-05-18 12:21] #923 closed

[2020-05-18 16:06] krwq commented on #1079
Perhaps something along the lines of

[code]

[2020-05-19 18:52] krwq commented on #869
feature-units branch is merged now which means we are officially using UnitsNet now. I'll close this issue and replace it with issue about adopting this library better

[2020-05-19 18:52] #869 closed

[2020-05-19 18:58] krwq opened #1081 "Adopt UnitsNet in Iot.Device.Bindings"
Since yesterday we are using UnitsNet package for units.

We should adopt this library further and replace as many units/doubles with the better version of the APIs.

I think it makes sense to split this work into two parts:
- investigate which type of devices will benefit from what units
- do the PRs (one per unit) - avoid merge conflicts with existing PRs though if you notice before you start wo

[2020-05-19 18:59] krwq commented on #878
Ref: https://github.com/dotnet/iot/issues/1081

[2020-05-19 19:11] pgrawehr commented on #1081
I already started converting some bindings. I think it's easier to go binding by binding than unit by unit. Many bindings that currently use doubles as return values should actually return quantities instead (ADCs, Current sensors, etc)

[2020-05-20 10:27] pgrawehr commented on #1081
@krwq : Question: Since changing the return type (typically from double to an unit) will be breaking for many bindings, shall I also fix typos in property/method names? As an example, I've just stepped over this (from Vl53L0X\Information.cs):

[code]
- Problem 1: The documentation is unclear (is the second property really a distance)? [No, it's a frequency]
- Problem 2: "Measuement" is obviously s

[2020-05-20 13:11] Smartcat168 opened #1082 "Please extend the library usable for arm64"
I tried the library on Ubuntu64 no a RPI 3B+. It did not work.
Guess the library is only usable for arm32 only now ?

[2020-05-20 13:37] pgrawehr commented on #1081
Next finding: I think (relative) humidity should use the quantity "Ratio". This has an unit "Percent", which will usually be the right one to use. This avoids problems with the range of such a number (0...1 or 0...100)?

[2020-05-20 16:58] joperezr commented on #1082
Thanks a lot for the issue report! It shouldn't, The library should work fine with arm64 architectures but I'm not sure if we've ever tested on Ubuntu64. Which version of the package are you using? I ask because we've made changes since we shipped 1.0.0 that might make it so that it works better on other archs. Also, do you mind explaining a bit more what do you mean by "It did not work"? Can you

[2020-05-20 17:01] krwq commented on #1082
Would be useful if you've shared the sample you were trying, your csproj and how did you build so that we can check this looks ok

[2020-05-20 17:14] krwq commented on #1081
@pgrawehr:
- if you have a case where you got the suffix with the unit then please remove the suffix and leave only 1 property
- if it's misnamed/misdocumented please fix all cases you spot and write down somewhere and put it in the PR description. If not sure then create an issue and don't touch
- for relative humidity and other items you're not sure about, if there is a direct support for this u

[2020-05-21 11:59] Smartcat168 commented on #1082
Hi

Thanks for replying to my post.
My Program is a simple one,  just to toggle a pin on the RPI GPIO

using System;
using System.Device.Gpio;
using System.Threading;

namespace ConsoleApplication1
{
    class Program
    {
        static void Main()
        {
            int ledPin1 = 17;
            GpioController controller = new GpioController();
            controller.OpenPin(ledPin1, PinMode

[2020-05-21 16:32] krwq commented on #1082
can you replace `new GpioController()` with `new GpioController(PinNumberingScheme.Logical, new LibGpiodDriver())` and see if that fixes the issue? If seeing issue about libgpiod missing just install it.

I suspect the detection logic chose the wrong controller or there is a bug in the auto-detected controller

[2020-05-21 17:39] pgrawehr commented on #1082
Error 13 means "permission denied". I can imagine that access to the GPIO ports is not allowed for everyone on Ubuntu.

@Smartcat168 : Can you try to run your application as root (with sudo)?

[2020-05-21 17:42] krwq commented on #1082
I think we should add some code translation in the GPIO code (at least for the most common errors)

[2020-05-22 11:24] pgrawehr commented on #1082
@krwq : I haven't had time to investigate this fully, but it looks like `Win32Exception.GetErrorMessage` already does the trick, it even has an unix implementation: https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Win32.Primitives/src/System/ComponentModel/Win32Exception.Unix.cs

[2020-05-22 16:08] Smartcat168 commented on #1082
Hi
I was able to get the gpio working in Ubuntu 64 bit after issuing the
command below.

sudo chmod 777 /dev/gpiomem

thanks

On Fri, May 22, 2020 at 7:24 PM Patrick Grawehr <notifications@github.com>
wrote:

[2020-05-22 17:14] rubberduck203 opened #1083 "Beagle Bone support for PWM"
## Summary

The `System.Device.Gpio` library expects the pwm sysfs naming to conform to the mainline kernel's documentation.

https://github.com/dotnet/iot/blob/00f9da195e6c3bb296450ab88303e031ad55aff8/src/System.Device.Gpio/System/Device/Pwm/Channels/UnixPwmChannel.cs#L41-L42

interface is provided to use the PWMs from userspace. It is exposed at
/sys/class/pwm/. Each probed PWM controller/chip w

[2020-05-23 06:45] pgrawehr commented on #1047
Closing this, as the move to UnitsNet removes the burden of the formatting problem from our library. Opened https://github.com/angularsen/UnitsNet/issues/786 and https://github.com/angularsen/UnitsNet/issues/787 for some findings over there (maybe more to come, as we start using it).

[2020-05-23 06:45] #1047 closed

[2020-05-24 14:25] pgrawehr commented on #1082
@Smartcat168 : Was that change permanent or do you have to redo this after every boot? If so, you might need to add an udev rule. That's a service that manages non-root access to virtual file system entries such as /dev/gpiomem or also /sys/class/* entries (i.e. pwm or i2c access).

[2020-05-25 02:42] Smartcat168 commented on #1082
Yes I need to issue command to re-enable GPIO after every boot.
Now figuring out what to put in udev to make it persistent after boot.
Thanks for the advise.

On Sun, May 24, 2020 at 10:25 PM Patrick Grawehr <notifications@github.com>
wrote:

[2020-05-25 08:44] HumJ0218 opened #1085 "Is there a need to implement 74595 drivers?"
In some devices there are not enough GPIO lines

74595s can be a output-only GPIO driver:

SPI > 595 - 595 - ...
GPIO > 0 1 2 3 4 5 6 7 8 9 10 11 ...

So we can use SPI to drive devices with parallel data lines (ex. HD44780 the LCD screen)

[2020-05-25 12:12] SaDiablo opened #1086 "TLC1543 Device Binding"
Hi,
I'm working on a student's science club [project](https://github.com/ACT-ZUT/AlphaBot2.NET) using [AlphaBot2](https://www.waveshare.com/wiki/AlphaBot2-Pi) robot. There are a few yet not implemented devices here.
One of them is TLC1543 - 11 channel 10 bit ADC [[Documentation]](https://www.ti.com/lit/ds/symlink/tlc1543.pdf)
In this robot it is used for converting analog reflective infrared senso

[2020-05-25 15:19] pgrawehr commented on #1037
Closing this, as it is obsolete after #1038 has been merged.

[2020-05-25 15:19] #1037 closed

[2020-05-25 18:10] pgrawehr commented on #1085
Please specify the exact type of chip you mean and ideally provide a link to the data sheet.

We do have support for the MCP23xxx GPIO expanders, they should do what you want. They have 8 or 16 configurable input/output pins. The MCP23S17 is for SPI, the MCP32017 for I2C.

[2020-05-25 18:17] pgrawehr commented on #1086
There's a [template](https://github.com/dotnet/iot/blob/master/tools/templates/DeviceBindingTemplate/README.md) for how a binding could look like. Or just have a look at some of the existing bindings (i.e for an ADC it might be the ADS1115 binding). If you've got some .NET experience, you should be able to undestand the concept and general guidelines rather quickly by lookign at what's already the

[2020-05-25 18:40] lloydjatkinson opened #1087 "Unclear documentation around disposing of DCMotor when used with MotorHat"
When using the Raspberry Pi MotorHat, the [documentation ](https://github.com/dotnet/iot/blob/master/src/devices/MotorHat/README.md)shows a DCMotor being created but not disposed, only the MotorHat is being disposed of.

Looking at the MotorHat source, the underlying PwmChannel that is used to create the DCMotor is being [disposed of when the MototHat is being disposed of](https://github.com/dotne

[2020-05-26 17:16] krwq commented on #1087
I believe intention is that multiple disposing is not going to cause any issues, please report if you're seeing any - I'll expect it will just work or you'll get an exception

[2020-05-27 19:08] krwq opened #1089 "System.Device.Gpio does not work on Mono"
When using SPI and other protocols on Mono the Windows type is being loaded and fails to load because some fields use WinRT types which don't exist on Linux.

The workaround or quick fix is to replace `new WindowsSpiDevice(...)` with `Activator.CreateInstance(Type.GetType(...), ...)` - I'm currently investigating if this is a Mono issue or if there is any better solution to fix this. It should als

[2020-05-27 19:27] krwq commented on #1089
Just got info from Mono people, the better way to workaround it is moving constructor to a new method marked as `[MethodImpl(MethodImplOptions.NoInlining)]`

[2020-05-28 20:22] jkoritzinsky commented on #1089
As a heads up per https://github.com/dotnet/runtime/issues/35318, usage of WinRT types should move to the new C#/WinRT-based projections via the `Microsoft.Windows.SDK.NET` package when targeting .NET 5. (https://github.com/dotnet/runtime/pull/36715 removes support for the built-in projection system)

[2020-05-28 20:30] krwq commented on #1089
@jkoritzinsky do you have any example of any project transitioning, I'm not sure I'm following what's the work we should do 😄

[2020-05-28 20:32] jkoritzinsky commented on #1089
The way to migrate is to remove all references to winmds and `System.Runtime.WindowsRuntime` and `System.Runtime.InteropServices.WindowsRuntime` and instead just reference the `Microsoft.Windows.SDK.NET` package.

[2020-05-28 20:34] krwq commented on #1089
That sounds simple enough, thanks for the heads up, I'll let you know should we have any questions

[2020-05-28 20:35] jkoritzinsky commented on #1089
By the release of .NET 5 or 6, there should be a way to reference the package implicitly when targeting Windows to reduce the deployment size.

If you find any issues, I suggest reporting them at https://github.com/microsoft/cswinrt.

[2020-05-28 20:37] krwq opened #1091 "Replace references to WinRT with Microsoft.Windows.SDK.NET"
Per https://github.com/dotnet/iot/issues/1089#issuecomment-635586758 WinRT will not have a builtin runtime support and will cause our library to likely stop working on Windows after 5.0 ships.

Per @jkoritzinsky:

[2020-05-29 04:50] HumJ0218 opened #1092 "IndexOutOfRangeException in Iot.Device.Media.VideoDevice"
I was trying to capture an image when another still using the same camera.

There was an `IndexOutOfRangeException` thrown at `src\devices\Media\VideoDevice\VideoDevice.Converter.cs:line 139`

[code]

@ZhangGaoxing

[2020-05-29 04:58] HumJ0218 opened #1093 "Request a way to keep the camera open in VideoDevice"
There are many cameras that grab pictures immediately after initialization, and there will be an unstable picture situation, ex. a full-green or black frame.

How about adding a method to keep the camera open. So users can make a delay before capture a image to avoid the green frame?

@ZhangGaoxing

[2020-05-29 20:40] krwq commented on #1093
I wouldn't mind if camera stayed open for whole lifetime of the class

[2020-06-01 20:22] #1089 closed

[2020-06-02 21:59] krwq commented on #1086
As long as you implement functionality which will cover most common use cases you don't need to implement it all. As for mentioning what's missing: yes mention but not with too many details, just what might be interesting to people (i.e. if device supports both I2C/SPI but you only add 1 then mention it, if it's some implementation detail like interrupts or something then not necessarily).

[2020-06-03 10:04] DazFahy opened #1096 "PiJuice UPS Implementation"
I currently have a C# .NET Standard library [(based on)](https://github.com/tresoft/PiJuice-Uwp) which I developed for the [PiJuice](https://github.com/PiSupply/PiJuice).

I was wondering if it would be of any use in the Iot.Device.Bindings project, or is it to specific because it is a Raspberry Pi only HAT?

[2020-06-04 12:00] rubberduck203 commented on #1083
I submitted a pull request on this, but it's been radio silence on both this issue and the PR for 2 weeks. Any chance someone can chime in on this soon @joperezr @krwq? I don't like to be pushy, I know everyone's busy and I submitted this just before a holiday, but this is blocking some other work I have going on.

[2020-06-04 13:28] rubberduck203 opened #1097 "Take advantage of libgpiod get/set multiple"
**Is your feature request related to a problem? Please describe.**

One of the advantages of `libgpiod` over the `sysfs` gpio interface is the ability to read and write to multiple pins simultaneously.

The current implementation does not take advantage of this.
The `GpioController` just loops through the collection of pins.

https://github.com/dotnet/iot/blob/00f9da195e6c3bb296450ab88303e031ad55a

[2020-06-04 17:47] joperezr commented on #1083
@rubberduck203 so sorry this got missed somehow, thanks a lot for your contribution, I will take a look

[2020-06-04 20:07] rubberduck203 commented on #1083
No worries @joperezr. I figured it just slipped through the cracks.
Thanks for the review.

[2020-06-04 20:10] krwq commented on #1097
This doesn't sound like suggestion is to add new APIs - this is rather implementation improvement.

[2020-06-04 21:16] rubberduck203 commented on #1097
That’s correct. I think the issue template added that label.

[2020-06-05 08:15] HumJ0218 commented on #1093
@krwq Thank you for your explanation. My understanding is that the ABCDE five lines are inputs from a 5-32 decoder to select the current pixel line. I have this doubt because I bought a 128x64 RGB LED screen with a label `HUB75` besides interface and only have ABC three lines as line selection lines. After some research I found that these three lines are inputs of a group of shift registers. The o

[2020-06-07 10:42] MihaMarkic commented on #1082
I need that chmod as well on Raspberry PI OS. @pgrawehr can you elaborate on those udev rules?

[2020-06-07 14:26] pgrawehr commented on #1082
@MihaMarkic : On Raspbian, this should not normally be necessary, as it is pre-configured for this to work (with the exception of the PWM driver, which needs an udev rule to work as non-root).

Here's the udev rule I use for pwm: (copy to /etc/udev/rules.d/55-pwm.rules)

[code]

[55-pwm.rules.txt](https://github.com/dotnet/iot/files/4742240/55-pwm.rules.txt)

[2020-06-07 14:30] pgrawehr commented on #1082
@MihaMarkic Note: Depending on the functions you use (particularly when using interrupt driven triggers) you may need to use a recent development build and not the release version, as we've done a bunch of fixes to properly support udev.

[2020-06-07 14:48] pgrawehr opened #1099 "dotnet publish / run for linux-arm fails with NetCore5 targets in preview 5+"
**Describe the bug**

Running `dotnet publish` for a project with target netcore5 fails with the current runtime

Global.json at the time of this writting:
[code]

**Steps to reproduce**

On the desktop (Windows) run:
[code]
An error is now reported:
[code]

**Expected behavior**

Build passes

**Actual behavior**

See above. It looks a bit as if the SDK build that's currently referenced is incomp

[2020-06-07 15:35] pgrawehr commented on #1099
@joperezr : Nope, exactly the same result.

[2020-06-07 15:37] pgrawehr commented on #1099
When using `-r win-x64` everything is fine.

[2020-06-07 15:41] joperezr commented on #1099
Oh I see the other issue, you don’t have the dotnet 5 nuget feed since we don’t really depend on it yet and preview 5 builds haven’t been published to nuget.org, which explains why preview 4 works fine (that has published already)

For dotnet 5, add the feed:
https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json

[2020-06-07 15:43] joperezr commented on #1099
Win-x64 works most likely because that runtime comes with the sdk itself as that matches the sdk you installed, but it doesn’t come with the ones for other RIds like linux-arm

[2020-06-07 18:08] pgrawehr commented on #1099
Nope, still same.

Output of `nuget sources`:

[code]

[2020-06-09 20:07] krwq commented on #1093
I'm not sure - I suspect people implement everything specially for their devices and once they get it to work they just don't care about making it compatible with other versions (unless they have both)

[2020-06-11 09:12] #1085 closed

[2020-06-11 09:59] jackswei opened #1101 "use grove-LCD on GrovePi"
want use grove-LCD display text in GrovePi

**Describe the bug**

var i2cLcdDevice = I2cDevice.Create(new I2cConnectionSettings(busId: 1, deviceAddress: 0x3E));
var i2cRgbDevice = I2cDevice.Create(new I2cConnectionSettings(busId: 1, deviceAddress: 0x62));
using (var lcd = new LcdRgb1602(i2cLcdDevice, i2cRgbDevice))
{
    lcd.Write("Hello World!");
    lcd.SetBacklightColor(Color.Azure);
}
**can't

[2020-06-11 10:21] jackswei commented on #1101
Grove-LCD RGB Backlight V4.0
i use
var i2cLcdDevice = I2cDevice.Create(new I2cConnectionSettings(busId: 1, deviceAddress: 0x3E));
            var i2cRgbDevice = I2cDevice.Create(new I2cConnectionSettings(busId: 1, deviceAddress: 0x62));
            using (var lcd = new Lcd1602(i2cLcdDevice))
            {
                lcd.Write("Hello World!");
               // lcd.SetBacklightColor(Color.Azur

[2020-06-11 10:37] jackswei commented on #1101
i find Grove-LCD RGB Backlight V4.0 on GrovePi + i2c
sudo i2cdetect -y 1
it can't find  Grove-LCD RGB Backlight V4.0

[2020-06-11 12:03] jackswei commented on #1101
I FIND GrovePi+ can't scan i2c devices

[2020-06-11 12:03] #1101 closed

[2020-06-11 16:50] #1083 closed

[2020-06-12 11:11] NikolaTotev opened #1102 "GPIO pin 12 on RPi 4 doesn't pull-up"
**Describe the bug**

When attempting to use pin 12 in InputPullUp PinMode, the pin does not pull up. (This has been tested with multimeter.)

**Steps to reproduce**
Just use the following code to configure the pin:

[code]

**Expected behavior**
The pin (12) should be pulled up to 3.3V and when connected to the button, the code above should work.

**Actual behavior**
The pin (12) stays at low.

*

[2020-06-12 18:18] NikolaTotev commented on #1102
Hello @krwq,

- yes, that is the correct pin
- I have never explicitly enabled PWM0 (to be completely honest though I still don't know how to do that exactly, I'm also not sure how to check that either.)
-  yes it seems to be specific to pin 12. All of the other pins I tested work (some aren't strictly GPIO pins, some are the TX/RX, I2C or SPI pins).

[2020-06-14 14:40] pgrawehr commented on #1102
@NikolaTotev : Which version of the library are you using? Pull up/Pull down modes on the Pi4 only work with the current development beta, not with the officially released version.

[2020-06-14 19:38] NikolaTotev commented on #1102
@pgrawehr
As mentioned in my first comment, the versions I'm using are:

SDK:
3.1.400-preview-015151 [C:\Program Files\dotnet\sdk]
Version of System.Device.Gpio package: 1.0.0

and  all other pins I tested function correctly with Pull-Up.

I assume it's some sort of bug just with this pin as it does share  PWM 0, but I can't say for certain.

Speaking of the beta, what are the expected release dat

[2020-06-15 06:26] pgrawehr commented on #1102
This is probably a coincidence. Package version 1.0.0 just doesn't properly handle pullups for the Pi4 (since that requires a different low-level operation than on the Pi3, which was not documented properly at the time 1.0 was released). So that might just work, depending on the startup settings. It will fail when you try to change it (i.e. set it to pulldown) on any pin. Please try again with the

[2020-06-15 20:26] richlander opened #1103 "Rationalize WinRT dependencies"
I am working on a sample. I noticed that the WinMD assets are included when publishing for a Linux RID. I wouldn't expect that to happen. In addition, we're making [changing WinRT interop in .NET 5.0](https://github.com/dotnet/runtime/issues/37672).

Here's what I'd expect:

- No Windows-specific assets when publishing for Linux.
- Provide CSWinRT assets for .NET 5.0+

Demonstration of what I see:

[2020-06-15 23:45] joperezr commented on #1103
I think this is a dupe of https://github.com/dotnet/iot/issues/1091. We have already chatted with @jkoritzinsky and have been told to move to the new model for WinRT.

[2020-06-16 00:09] richlander commented on #1103
Kinda. I've raised two issues here, one of which is a dupe. I'd still like to see the Windows assets not show up on Linux.

Feel free to handle the issues however you'd like.

[2020-06-16 20:33] NikolaTotev commented on #1102
Alright, great, thanks for the advice & explanation! I'll give it a shot in a couple of days!

[2020-06-17 22:13] teisnet commented on #524
I'm experiencing this issue too (_System.UnauthorizedAccessException: Setting a mode to a pin requires root permissions._).

[2020-06-18 06:44] forki commented on #175
Is there any progress on this?

[2020-06-18 07:25] Ellerbach commented on #175
Not really, there seems to be an issue with the hardware itself. It's working ok on an Arduino for example but not with an ESP8266. I have multiple versions of the MFRC522 so tried with different hardware. Result is never the same. So I would prefer not to spend too much time on it giving the fact that there are more readers, on the same price range with better features reading a broader range of

[2020-06-18 08:29] forki commented on #175
It works in many many IoT scenarios with node. I really was hoping to eventually port it to dotnet core especially since asp.net core deprecated INodeServices. Bummer

[2020-06-18 13:50] DuncanF commented on #1064
I was getting this issue with Adafruit Neopixel Ring 60/4
I think the root cause is that Ws2812b is for RGB LED strips, but the one I have is RGBW - so the 24 bit stride means it would get colours incorrect and when trying to step through the 60 LEDs on the ring it would only address 3/4 of them (every 2 out of 4 pixels set would actually light up a pair of LED positions on the ring.)

I fixed thi

[2020-06-18 13:52] DuncanF commented on #1042
I've commented on https://github.com/dotnet/iot/issues/1064 with code that fixed the issue for my Adafruit Neopixel Ring 60/4 - this may be same problem if the LED being tested is RGBW instead of RGB.

[2020-06-18 13:54] raza707mirza opened #1106 "DeviceClient SetMethodDefaultHandlerAsync not invoked"
**Describe the bug**

DeviceClient SetMethodDefaultHandlerAsync handler is not triggered on internet disconnection instantly. It triggers after 15 to 20 minutes. Below are the logs

IoT Hub connection status Changed Status: Connected Reason: Connection_Ok Time: 3:09:15 PM +02
IoT Hub connection status Changed Status: Disconnected_Retrying Reason: Communication_Error Time: 3:26:29 PM +02

I disconn

[2020-06-18 19:42] pgrawehr commented on #1106
The package you are using is "Microsoft.Azure.Devices.Client". This repo builds the "System.Devices.Gpio" and "Iot.Devices" packages.

[2020-06-18 22:22] richlander opened #1108 "Enable opening multiple pins in one call"
In almost all my implementation, I end up writing this code.

[code]

I'd like to see something like this (copied from an extension method I wrote; doesn't have to be an extension method):

[code]

[2020-06-18 22:40] raza707mirza commented on #1106
@pgrawehr , I moved the issue here https://github.com/Azure/azure-iot-sdk-csharp/issues/1409

[2020-06-19 10:13] gaston371 opened #1109 ".NET Core IoT Error while running my C# blinking led code"

[2020-06-20 01:43] jackswei opened #1110 "add read lm358 Temperature_Sensor"
https://wiki.seeedstudio.com/Grove-Temperature_Sensor_V1.2/
i can't find support  lm358 in Thermometers
i hope add lm358 thanks

[2020-06-20 07:34] jackswei opened #1112 "dht -11 can't work"
**Describe the bug**

OS Name:     raspbian
 OS Version:  10
 OS Platform: Linux
 RID:         linux-arm
 Base Path:   /opt/dotnet/sdk/3.1.300/

i use 1-Wire Protocol

https://github.com/dotnet/iot/blob/master/src/devices/Dhtxx/README.md

it show
NaN ,
NaN

[2020-06-21 14:23] pgrawehr commented on #1112
Please show us the code you use. The Dht11 does not use the "normal" 1-wire-protocol. We therefore have a special binding for Dht11.

[2020-06-22 03:12] HumJ0218 opened #1113 "SPI features sniffer"
In some cases, the data sent by the SPI interface causes buffer overflow exception. (#1111)

Can a property or function be provided to get the buffer size of the SPI? so that users can know in advance to avoid the exception

similarly, the actual transmission frequency of the SPI is needed

[2020-06-22 15:50] richlander opened #1114 "Add pin number in exception message"
Add pin number in exception message. Is that possible?

[code]

Also "Cannot" is one word.

[2020-06-23 07:58] frogcrush commented on #1079
Here is the plan for Relay:

Methods:
Relay(int pin, GpioController controller)
TurnOn()
TurnOff()
Toggle()
SetState(bool on)

Properties
bool On (get & set, calls SetState)
int Pin (get)
RelayType RelayType

And the RelayType enum:
NormallyOpen (default)
NormallyClosed

I agree RelayBoard is probably uncesessary; the only thing I could see it being useful for is setting all Relays to the same Rel

[2020-06-23 17:54] joperezr commented on #1114
Makes sense we should fix this.

[2020-06-24 07:21] #1109 closed

[2020-06-24 07:22] gaston371 commented on #1109
problem changed

[2020-06-24 11:13] gaston371 opened #1116 "Unhandled exception. System.PlatformNotSupportedException"

[2020-06-24 14:51] #1116 closed

[2020-06-26 03:21] pouncer29 commented on #867
I was able to reproduce. I'm running from the command line and my DOTNET_ROOT was set to `$HOME/path/to/my/sdk`. Changing it to an absolute path fixed this issue for me.

eg.
`export DOTNET_ROOT=/home/pi/path/to/my/sdk`

[2020-06-26 16:52] R10Rasmus opened #1118 "It is not possible to display custom character created via CustomCharacter on the Lcd1602"
In the Lcd1602 it is not not possible to to display custom character created via CustomCharacter. In fx. pyton RPLCD.gpio thay can be display via the write met ode. But in Lcd1602 the write met ode only support an text or a ReadOnlySpan<byte>, not the location of the custom character.

[2020-06-26 16:53] R10Rasmus opened #1119 "It is not possible to scroll text right or left on the Lcd1602"
On the Lcd1602 it is not possible to scroll the text right or left of the screen.

[2020-06-26 16:59] R10Rasmus opened #1120 "The Lcd1602 do not wrap text to next line if it hit the end of the line"
On the Lcd1602 the text do not wrap after 16 characters, it dos it after 25 characters. And if it reach the end of line 2, it do not start back at first position on line 1.

[2020-06-26 20:12] pgrawehr commented on #1120
That's expected behavior of the low level interface. Use `LcdConsole` to get a high-level abstraction that does automatic line feeding (if desired).

[2020-06-26 20:14] pgrawehr commented on #1118
This is supported. See the example code, which has a nice example with a walking man.

[2020-06-26 20:16] pgrawehr commented on #1119
Did you check the example? There this feature is tested. But you might not find it really useful, as it scrolls using hardware addresses, which gets some weird side effects.

[2020-06-27 13:58] R10Rasmus commented on #1120
It is true it warps via LcdConsole

[2020-06-27 13:58] #1120 closed

[2020-06-27 14:17] R10Rasmus commented on #1118
the examples is written for Hd44780. I can be written to work with Lcd1602. Can we move the example to CharacterLcd.Sample ?

[2020-06-27 14:21] R10Rasmus commented on #1119
I could not find any example with side scroll, only up scroll (which works :) )

[2020-06-27 18:36] pgrawehr commented on #1118
The Hd44780 is the chip that drives the LCD1602 or 2004. The extended examples should work just fine with your display.

[2020-06-28 03:03] krwq commented on #1079
@frogcrush generally speaking we usually don't add redundancy to the methods, so I'd recommend to either stick with property `On` or method `SetState` or similarly named. (sorry for late response, I'm currently on vacation)

[2020-06-28 08:25] R10Rasmus commented on #1118
okay thanks

[2020-06-28 08:25] #1118 closed

[2020-06-28 13:03] pgrawehr commented on #1079
The RelayType should probably be provided in the ctor (and be read-only later).

[2020-06-29 06:25] bcpberry commented on #378
I was getting this exception quite consistently (i.e. more than daily) using the current release version (1.0.0) on a test platform I am running. I updated to the current prerelease version (1.1.0-prerelease.20153.1). It seems much better and my system has been running continuously for about a week. However it has just now crashed again with the same exception. As far as I can tell all inputs were

[2020-06-29 14:44] pgrawehr commented on #378
I must say, I've also seen this happening, but only after several hours. I haven't had time to investigate it, though. I would assume it is some low-level operating system call that fails once in a while. But since there's not much more information available, the only workaround would probably be a retry.

[2020-06-30 02:48] bcpberry commented on #378
I agree @pgrawehr and thought the same, but the problem is where does one put the retry? This is occurring in a background thread or ISR (from what I can see).

How does one re-open this issue so that it can be put back on the TODO list?

[2020-06-30 22:51] joperezr commented on #378
Given there is no consistent repro for this, the only thing that I would reopen this for is to add more diagnostic info into that exception that might help track down what the underlying issue is, so I'm reopening it for that purpose only. Once we submit a PR with more diagnostic info to the exception, then we can close this issue again with that PR and once people start getting exceptions in thei

[2020-06-30 23:17] joperezr commented on #1117
Given this was open a long time ago and since then we actually added the dotnet/iot repo where we have a lot of iot APIs implemented already I'll go ahead and close this. @ddobric if you have some concrete APIs you want implemented which are not already present in this repo feel free to reopen.

[2020-06-30 23:17] #1117 closed

[2020-06-30 23:27] joperezr commented on #1070
I see, yeah I think depending on the major version seems reasonable to me.

[2020-07-02 11:44] fabus1989 opened #1123 "Hardware PWM issue"
Hi,

I have problem with hardware PWM, cannot run it from .net core application - LED connected to GPIO12.
PWM is enabled in /boot/config.txt file (dtoverlay=pwm-2chan)
Sample python script works ok.

What I'm missing?

Here is the code sample:
[code]

 I'm using Raspberry PI 4 with 2GB of ram.

Best regards
Fabian

[2020-07-02 16:53] #1114 closed

[2020-07-02 16:59] #1027 closed

[2020-07-02 17:12] joperezr commented on #1123
Hello thanks for logging the issue. I believe that the Raspberry Pi doesn't support frequency as low as 100, can you instead try something like `10000` for frequency and perhaps a `.5` for dutyCycle? dutyCycle will work fine with a value of 1 but the idea would be to dim it so that you can notice the change of brightness.

[2020-07-02 17:20] pgrawehr commented on #1123
I've also observed issues when the frequency is below 10000 (or so). I'm not sure what's going on then, but it starts blinking with the given duty cycle, but at frequencies of like 1 Hz. I don't know whether this is a hardware or a software issue, though.

[2020-07-02 19:57] pgrawehr opened #1125 "SPI on Raspi: Hardware CS select is not working"
For each SPI bus (up to 6 on the Raspi4), there are 2 or 3 designated pins for Chip Select (CS)*. The underlying hardware driver normally expects that one of these is also used. For SPI0, pins 7 and 8 serve as CS1 and CS0 respectively, when set to mode ALT0.

Problem 1: This doesn't work. When setting pin 8 to ALT0, the Chip never answers (to be investigated in detail with a scope, but I don't hav

[2020-07-03 02:56] krwq commented on #1125
@pgrawehr can you include exact repro steps? (what to put in config.txt; example device you are using and sample code)

[2020-07-03 02:58] krwq commented on #1123
is it possible you got multiple app instances running on the machine? I've had this happen to me couple of times when working over ssh

[2020-07-03 06:52] Ellerbach commented on #1125
I'll try but so far I did not experience this issue. I had to use software CS selection sometimes because of the way the end device was working. And yes, the config.txt and anything that will help to recreate the same hardware setup and software setup is needed in this case. Version of the OS you are running as well to recreate the full conditions.

[2020-07-03 07:32] pgrawehr commented on #1125
I've got example code to reproduce the behavior, but it needs a bit of cleanup. I'll provide more information later today.

[2020-07-03 13:02] djaus2 opened #1127 ".NET Core LTS Branch"
**Is your feature request related to a problem? : No.**

Can I suggest that a clear path to the version of the repository for the current LTS version of .NET Core.
Current LTS is Version 3.1
Branch of the repository: release/3.0
The .NET Core version of the Master branch as per global.json is 5.0.100-preview.
Would be useful to show how to get it:
```git clone https://github.com/dotnet/iot.git  --

[2020-07-03 14:20] pgrawehr commented on #1127
I think the repository only needs .NET 5 for building. The target framework for the release package is still netcoreapp2.1.

Information about building is here: https://github.com/dotnet/iot/blob/master/Documentation/CONTRIBUTING.md (Ok, that's not 100% up to date as well...)

I do agree that we'll need to clarify versioning. The current release package is tagged 1.0.0, but the old backlog here ta

[2020-07-03 20:03] pgrawehr commented on #1125
**How to reproduce the problem**
To reproduce, check out my branch https://github.com/pgrawehr/iot/tree/BoardApproach3 (PR #1128 ), then run the sample in devices/Board/samples

`boot/config.txt` only contains the relevant line `dtparam=spi=on`.

After booting, we have the following pin configuration (relevant for this case are BCM pins 9, 10, 11 and 8):

[code]
This shows that the CS line (here n