[2017-06-23 03:46] ddobric opened #1117 "Provide APIs from WIndows IoT Extensions as .NET Core"
To enable .NET Core to be platform, which run on any device, it is necessary to provide support for diverse IoT scenarios.

For example, we already have a set of APIs related to BLE, various sensors and GPIO. They all are implemented as a part of Windows IoT Extensions and unfortunately available for UWP only.
How about implementing them as native .NET Core API and integrating them as standard ?

[2018-09-11 23:29] joshfree opened #72 "System.Device.Gpio needs xml doc comments"

[2018-10-11 03:15] richlander opened #8 "Enabling specifying pin values as external configuration"
I am hoping to deliver samples in this repo as Docker images. The basic idea is that there are scenarios where it isn't convenient to update code to use the pins you want or switch to the pins in place within existing binaries. Docker is one scenario, but I expect others.

Here's one way this could work.

In code:
[code]

via config:
[code]

Naturally, we'd expect pin1 to be 17 instead of 16 when

[2018-10-14 18:26] richlander opened #11 "Enable Debug.WriteLine to write to a connected LED panel"
I am thinking about a way of redirecting Debug.WriteLine to a different location or screen.

Imagine scrolling text from Debug.WriteLine being shown on one of these: https://www.adafruit.com/product/3527

[2018-10-14 18:31] richlander opened #12 "Sample: Display IP address on device startup"
Many people want a way of determining a device IP address for an otherwise headless device. This info would need to be shown at device startup. By definition, there isn't a way to find out the IP address to start the program manually in this scenario.

We should build a sample that does this.

This would be the perfect LCD panel to use: https://www.adafruit.com/product/3527

[2018-10-14 21:00] richlander opened #13 "Sample: Start application at device startup"
This would be a service/demon.

[2018-10-25 22:34] joperezr opened #16 "Move System.Device.Gpio to use the new Api Surface"
This issue is going to track the work of moving the implementation of System.Device.Gpio to the Api surface that we are intending to ship. It also includes cleaning up the code and productizing it.
The steps to complete this are:

- [x] Port the enums and Controller code into the new Api shape. (Done in #20)
- [x] Port the Unix Portable/Generic Driver (Done in #23 and #45)
- [x] Port the Unix Rasp

[2018-10-25 22:36] joperezr opened #17 "Setup project so that we can cross compile for Linux and Windows"
The SDK by default only allows cross-compiling for different TFMs but won't allow by default to cross-compile for different platforms. This means we will have to do some custom infrastructure to ensure that we produce two different implementation dlls, one for Windows and one for Linux.

[2018-10-25 22:37] joperezr opened #18 "Setup Packaging for System.Device.Gpio"
We need to set up packaging of our library and make sure that it gets pushed to Myget frequently so we can dogfood.

[2018-10-25 22:39] joperezr opened #19 "Add Tests to CI"
We need to add a unit test project and make sure that we execute them as part of CI for validation. Initially, this will only be inner loop runs that will only have unit tests, but eventually we will also want to add outerloop runs that test against actual physical devices.

[2018-11-14 22:19] #18 closed, assigned to nobody

[2018-11-27 18:02] joshfree opened #42 "Update Generic Unix Device Driver to use libgpiod when available instead of sysfs calls"
https://git.kernel.org/pub/scm/libs/libgpiod/libgpiod.git/tree/README

https://blog.adafruit.com/2018/11/26/sysfs-is-dead-long-live-libgpiod-libgpiod-for-linux-circuitpython/

[2018-11-29 18:28] #17 closed, assigned to joperezr

[2018-11-29 18:30] joperezr opened #52 "Change polling mechanism to use poll instead of epoll"
per @stephentoub in https://github.com/dotnet/iot/pull/45#pullrequestreview-179874241

I'm also unclear why we're using epoll rather than just poll (which does exist everywhere). epoll is intended for scalability, where you need to wait for / listen to events on lots of file descriptors at once (hundreds, thousands, etc.); it doesn't really provide any benefits, just complexity, when listening for

[2018-11-30 06:54] joperezr opened #54 "Have all of our samples run on Docker containers."
For preview 1, we should add DockerFiles to all of our samples and also move them all to use the latest API.

[2018-11-30 06:57] joperezr opened #55 "Add a contribution doc"
For Preview 1, we should write up a doc that will show contributors how to add bindings for new boards and new sensors.

[2018-12-02 15:42] shaggygi opened #63 "[Proposal] Move device projects to respective vendor folder"
/cc @joperezr @richlander

I'm currently reviewing and trying to clean up some of the code for the Mcp3008 project and think it would be a good idea to come up with some better structuring regarding IoT devices folder.  This might be a good topic to add in doc related to #55.

If we begin to have a "rich set" of many component bindings, it could get messy quick.  I propose we at least have a `vend

[2018-12-02 16:47] shaggygi opened #64 "Component Project Naming Conventions"
This is related to #55, but created separate issue to understand more specifics.

Topic `Adding more libraries that control specific sensors or devices`

1. What is the appropriate naming convention for component projects?  Camel-casing sometimes messes with me when it comes to hardware and acronyms. 😄
- e.g. MCP3008 or Mcp3008, etc.
- e.g. TCA9548A, Tca9548A, Tca9548a, etc.

2. Should we create p

[2018-12-04 12:06] shaggygi opened #70 "Support for common IoT libraries"
This is not for a specific feature, but more to gain synergy on possibly getting other core APIs created or central location for related "How-Tos" that would help while coding APIs/apps more specific to IoT/hardware.

For example, Binary Coded Decimal (BCD) conversions are common in many devices for displays and dates.  While this conversion is simple, it might seem redundant to include helper met

[2018-12-04 15:10] #55 closed, assigned to nobody

[2018-12-04 18:49] joshfree commented on #64
@terrajobst @KrzysztofCwalina any thoughts?

[2018-12-04 21:39] buyaa-n opened #76 "Re add picking HummingBoard driver when no specific driver is provided"
HummingBoard driver is not fully implemented yet, so we commented out logic for picking it as default driver, this issue is for tracking the work of re adding that logic back

[2018-12-05 01:02] joshfree commented on #63
While we can organize by vendor; I would vote to start out initially by structuring the bindings into directories by capabilities (and eventually have the data categorized both by vendor and by capability in the root readme -- this sounds like a nice problem to have 😄).

What we start with initially will invariably be restructured a number of times as the quantity of device bindings grows over tim

[2018-12-05 02:52] shaggygi commented on #12
@joshfree I would be interested in this.  Mainly to build up knowledge on in developing bindings.  I actually have hardware on order.  However, I am working on a simpler binding I want to finish up first.  Trying to get up-to-speed on related tooling (fritzing, etc.) and core APIs first.

[2018-12-05 06:08] grahamehorner commented on #63
While all the above makes sence IMHO I believe that the System.Device.xxx shouldn't have anything other than basic implementations and other vendors should support a given type of communication protocol should implementation their driver/controller in a similar manor exposing a common interface that can be built upon. If a vendor/hardware device supports multiple communication protocols then they

[2018-12-05 06:36] grahamehorner opened #78 "Virtual devices & signalr"
Please consider creating a set of virtual devices that simulate the physically state/operations of the hardware, and can be used without the need of the developer to have access to actual hardware.

E.g.. the device driver for a virtual SPI interface could make use of Signalr to send (almost realtime) state updates and/or operations to a web, windows, mobile ux.
using a similar concept to device t

[2018-12-05 09:51] deinok opened #79 "I2C data-address"
Im using https://linux.die.net/man/8/i2cset in order to access to leds. But I would like to change to use `UnixI2cDevice`

My question is how do I set the `data-address` of write?

[2018-12-05 11:34] shaggygi commented on #64
There are many component datasheets that cover a family of devices.  Usually there is a consistent set of characters that represent a component name and some characters that change representing different capabilities.  Use [Microchip 24xx512 EEPROM](http://ww1.microchip.com/downloads/en/devicedoc/21754m.pdf) as example.  This datasheet covers 24AA512, 24LC512 and 24FC512 devices.  The middle lette

[2018-12-05 11:43] grahamehorner opened #80 "Dependency Injection for Implementations"
Please consider a lightweight IoC/DependencyInjection for driver implementations, ie DeviceDriverCollection.Add<TDriverInterface>(options =>{ ... }); similar to the IServiceCollection so that a developer may register driver implementation base on custom logic and allow injection of the implementation into the constructor of the driver consumer(s)

[2018-12-05 16:53] joperezr commented on #63
@shaggygi I see where it could be confusing for devices that have more than one feature. What about having a markdown dictionary as @joshfree suggests that has both categorizations (by vendor and by capabilities) where the same device can be in more than one capability category? Then, if we go with the model of sorting them by capabilities it should be ok as long as you pick a folder of one of the

[2018-12-05 17:00] joperezr commented on #64
I don't have a strong opinion with casing. For namespaces though, I believe that @richlander did envision us having all bindings under the same namespace "Iot.Device" like Mcp3008 is today.

[2018-12-05 17:08] joperezr commented on #78
I agree that having this would be great. TBH I'm not super familiar with SignalR so I don't know how costing would look like to have this, but it would definitely help inner-loop and validation since you would be able to have tests without relying on the hardware.

[2018-12-05 17:15] joperezr commented on #79
If by this you mean the I2c Address, then this is set in the `I2cConnectionSettings.DeviceAddress`. The way it works is that you would generate a I2cConnectionSettings object, and then pass that in to the constructor of the UnixI2cDevice, for example:
[code]

[2018-12-05 17:20] joperezr commented on #80
I'm not sure I understand what would be the advantages of having this. Would you mind providing an Api proposal that would have more details and samples into how this would be used? Here is an example of a good Api Proposal: https://github.com/dotnet/corefx/issues/271

[2018-12-05 17:21] grahamehorner commented on #78
@joperezr I'd be happy to do a proof of concept for a virtual GPIO based around signalr/websockets; to see if this is possible and/or is a good fit for the developer inner loop/testing without the need for hardware.

[2018-12-05 17:23] joperezr commented on #78
That would be great! 😄

[2018-12-05 17:54] shaggygi commented on #63
@joperezr Since we're still in the early stages of bindings, let's go ahead with what @joshfree is promoting and circle back on results.  I guess I can't vision this right now.  Maybe it will click with me after a few binding libraries are made and markdown created.

[2018-12-05 18:39] joshfree commented on #64
Thanks for starting this discussion @shaggygi.  I wonder with this concrete example if instead of having a unique class for each Microchip I2C Serial EEPROM device (M24AA01, M24AA02, M24AA04, M24AA16, M24AA32A, M24AA64, M24AA128, M24AA256, M25AA512, ...) if instead it would make sense to call it something like "MicrochipI2cSerialEeprom" - which encapsulates _all M24XX bindings_; and then also have

[2018-12-05 18:55] joshfree commented on #80
@grahamehorner for layering reasons, we're not currently not planning to take a dependency on the higher level Microsoft.Extensions.DependencyInjection assembly from this low level hardware abstraction.  However, with the current API you can specify a custom device driver by inheriting from the GpioDriver abstract class and passing it as a parameter to the GpioController ctor.

Does this satisfy t

[2018-12-05 19:44] shaggygi commented on #64
@joshfree

I don't think it would be a good idea to create a binding class for every EEPROM device either.  But instead, possibly a binding for a group/family (based on datasheet/similar).  In my example above , there would be a binding API with 1 class M24Xx512 (or similar naming) that included specific functionality to that family.  Therefore, you could instantiate an object from M24Xx512 class

[2018-12-05 20:22] deinok commented on #79
@joperezr In my case I use for now the following `i2cset -y 1 0x69 0x00 0xFF && i2cset -y 1 0x69 0x01 0x00 && i2cset -y 1 0x69 0x02 0x00` for set a led to red.
As you can see, 1 is busId, 0x69 is for deviceAddress, 0x00, 0x01, 0x02 is for registers or data-address and at the end we have the RGB value.

I'm not sure, but I think that writting a byte array with the register and value works well. Cou

[2018-12-05 21:35] deinok commented on #79
@joperezr Yes, thanks. In my case I will add an extension method for my specific device.

[2018-12-05 21:35] #79 closed

[2018-12-05 21:39] joperezr commented on #79
cool. I plan on adding some Spi and I2c device bindings as an example of the API consumption soon 😄

[2018-12-05 22:55] grahamehorner commented on #80
@joshfree while I understand not wishing to take a dependency on a higher level assembly; I do believe the that driver abstraction/implementations should be held in some kind of registry and/or a simple DI system; this would allow greater flexibility/testability for developers with minimal code change; swapping drivers by way of change the registration/configuration and not code.

eg. the registra

[2018-12-05 23:21] ishvedov opened #81 "Support for MCUs"
Do you have plans to support for MCU like ESP32. Like nanoFramework does?

[2018-12-06 00:02] joperezr commented on #81
Initially, our library is targetting .NET Standard which means it will run wherever you can run .NET Standard. Correct me if I'm wrong but looks like ESP32 is more similar to an Arduino, in which it is a single purpose device which won't support any of the frameworks that support .NET Standard which means that it is not in the plans at least for now.

[2018-12-06 00:37] ishvedov commented on #81
Thank you, nanoFramework does not support .Net Standard at the moment and the path is not fast.

[2018-12-06 05:18] grahamehorner commented on #78
@joperezr I've start looking into this and I'm building up a set of IObservable and IObserver classes that will represent the physical components within a circuit and the voltage/current etc.

FYI, I'm looking to have a basic ADC virtual circuit working by mid/end of next week; I'm dug out an olde copy of a book I had used many year ago Electronic Circuit & System Simulation Methods (SRE) by Lawre

[2018-12-06 11:08] shaggygi commented on #64
**NOTE**: This is a side questions, but still related to code conventions.

While working on a binding, I am using the Mcp3008 binding as an example.  I noticed a couple of things I wanted to make sure I'm coding correctly going forward.

There are a [few fields](https://github.com/dotnet/iot/blob/35c30dfcc1b0f03cd34713b94ce2ff5559b5f811/src/devices/Mcp3008/Mcp3008.cs#L17) that are uppercase (e.g.

[2018-12-06 16:40] joperezr commented on #64
@shaggygi we use the same coding style as the one enforced in corefx: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

That means that you are right, those fields should be _clk, _miso etc. I believe the only reason why they were added with that casing is that they were a port from an adafruit project but we didn't make sure that the variables were rena

[2018-12-06 16:48] deinok commented on #79
Cool. If you need it, I could give bindings for https://www.access-is.com/products/val100

[2018-12-06 16:51] shaggygi commented on #64
@joperezr so would it be okay to update those?  I plan to add a little more cleanup on that project.  I can do at the same time.

[2018-12-06 16:57] joperezr commented on #64
That would be awesome, thank you very much. If for whatever reason you don't get to it don't worry, I'll go back and fix those.

[2018-12-06 23:24] terrajobst commented on #64
You mean the code, not the guidelines, right?

[2018-12-06 23:31] joperezr commented on #64
Yup, he means the code :)

[2018-12-07 01:21] shaggygi commented on #64
@joperezr PR just created.  Please be gentle, but honest (and patient) with me. 😄  I just want to make this a good story.  Also, I did basic testing with SPI/GPIO and single/diff channel types, but nothing extensive.  I need to get my workstation setup better with test equipment... maybe then I can double-check all channels work as expected.  Thx

[2018-12-07 01:34] shaggygi commented on #64
**NOTE**: This is a yet another side questions, but still related to code conventions.

When cleaning up the Mcp3008 binding, I wanted to create more files.  For example, I wanted to separate out `CommunicationProtocol` and new `InputConfiguration` enums to their own file.  Understanding Mcp3008 binding is simple, I can see where it would be a good practice.  But where I'm more concerned is when t

[2018-12-07 12:18] shaggygi commented on #63
Related to sample project names, it seems like there won't always be just one [binding].Sample.csproj.  (hence the folder name samples).  Maybe this could be the default and bare basic example (would probably be the only one in most cases).  However, I can see multiple sample projects for bindings, especially for more complex devices.  Even if we stick with having all different examples (e.g. Read

[2018-12-07 14:44] shaggygi opened #84 "Create a standard IoT Device Binding template"
# Core Objective

To establish a rich set of quality .NET bindings making it straightforward to use .NET and IoT devices, there needs to be a rich offering of supporting tooling.  And while it will be very difficult to manage bindings (code, docs, etc.) across the range of producers, we can lower the "how to get started bar" that will hopefully make bindings more consistent as the ecosystem grows.

[2018-12-07 17:54] joperezr commented on #63
Personally, I think it's better to only have the one project, which in turn has several different source files (One source file for each sample type). And we could also have multiple samples in one same source file in case they are related. The only reason is so that we don't get that many .csprojs since in theory that will slow the build if we have to call msbuild and the compiler more times than

[2018-12-08 10:48] arkadiuszwojcik opened #87 "Write operations should use ReadOnlySpan<T>"
Right now write operation use `Span<byte>`. Is there any reason for that? Looks like we should use `ReadOnlySpan<byte>`

[2018-12-09 15:14] shaggygi opened #88 "Create a Microchip MCP23XXX binding"
Create a binding API for the Microchip MCP23XXX family.

//cc @joperezr @joshfree Please assign this to me.  I have a prototype, but trying to work out the kinks and such.  This has been a good exercise as it has bought up a few issues/questions.  I will post more details and action items as progress is made.  Thx

### Possible Iterations
- [x] (#91) Create initial Mcp23xxx project with tests and

[2018-12-09 15:16] shaggygi commented on #12
@joshfree I have not forgot about this, but wanted to focus on testing the waters with [MCP23XXX binding](https://github.com/dotnet/iot/issues/88) first.

[2018-12-09 21:04] shaggygi opened #89 "[Proposal] Add ConnectionType enum to System.Devices.* API"
Would it be worth adding a new `ConnectionType enum` (or similar) as a way to determine how devices are connected & communicate.  This is mainly a helper for bindings as it will most likely be redundant code in each project.

When a binding is instantiated, we will usually have multiple options (SPI, I2C, GPIO) depending on device capabilities.  For example the MCP23XXX has both I2C and SPI interf

[2018-12-10 21:56] joshfree opened #90 "Add System.Device.Adc.{AdcChannel, AdcChannelMode, AdcController} and port Mcp3008 device binding to new surface area"
We need to standardize ADC device binding APIs, using Windows.Devices.Adc as a starting point, and update the 10-bit ADC Mcp3008 device binding accordingly.

https://docs.microsoft.com/en-us/uwp/api/windows.devices.adc.adccontroller

https://github.com/dotnet/iot/tree/master/src/devices/Mcp3008

[2018-12-11 01:02] shaggygi commented on #88
See initial PR https://github.com/dotnet/iot/pull/91

[2018-12-11 19:27] joshfree opened #92 "Setup Packaging for Iot.Device (community device bindings)"
Tracking issue for nupkg packaging for Iot.Device device bindings

[2018-12-11 19:30] joshfree commented on #90
@joperezr would you be interested in picking this one up next?

[2018-12-11 19:34] joperezr commented on #90
I was planning on working on testing infrastructure next, but I can also do this one instead.

[2018-12-12 01:37] joshfree opened #93 "Productize the device bindings and samples from corefxlab"
@edgardozoppi created a bunch of samples this summer under https://github.com/dotnet/corefxlab/tree/master/samples/System.Devices.Gpio.Samples.

The device bindings should be moved to the Iot.Device namespace under https://github.com/dotnet/iot/tree/master/src/devices

The Application code samples using the device bindings should be moved under https://github.com/dotnet/iot/tree/master/samples.

[

[2018-12-15 16:56] shaggygi commented on #90
Referencing https://www.linux.com/learn/how-get-analog-input-beaglebone-black

[2018-12-15 18:18] shaggygi opened #100 "Create System.Device.Gpio Overview doc"
It would be beneficial to create a **System.Device.Gpio Overview** markdown to help newbies get started along with more technical details on infrastructure.  It could include the following topics:

**NOTE**: The intent of this overview is to focus on the following:
1. Intro examples of creating a protocol connection (e.g. I2C, SPI) and instantiating the respective device (e.g. I2cDevice, SpiDevice

[2018-12-15 21:55] shaggygi opened #102 "Add scripting commands to DeviceApiTester"
This is a placeholder for discussions related to scripting commands using the DeviceApiTester.  There is an initial PR https://github.com/dotnet/iot/pull/101 as a starting point.

1. What other commands/attributes could be added that would be helpful related to scripting?
2. Would support for Visual Basic and F# language be useful?  Is it possible?
3. Should this be added to [DeviceApiTester READM

[2018-12-16 02:02] shaggygi commented on #88
@joperezr @joshfree Would it be possible to go ahead and check-in https://github.com/dotnet/iot/pull/91?  This issue can continue to stay open, though.

This currently works for SPI and has some goodness for a starting layout on binding docs.

I've been thinking about binding fundamentals and understand this will change in future.  For example, similar to the Mcp2008 binding and implementing https

[2018-12-16 02:35] shaggygi opened #103 "Create a markdown how to create a Publish Profile"
It would be nice to have some better docs explaining how to quickly add a publish profile.

This Channel9 video ([Have Your Pi and Eat It Too: .NET Core 2.1 on Raspberry Pi](https://channel9.msdn.com/Events/dotnetConf/2018/S314)) explains some detail that helps.

Add this to [Documentation](https://github.com/dotnet/iot/tree/master/Documentation) markdown section.

Assign to me if desired.

[2018-12-17 18:01] joperezr commented on #88
@shaggygi I left some feedback on the PR and it looks like you haven't had the chance yet to address/respond to it. Would you mind taking a look?

[2018-12-17 18:36] josesimoes opened #107 "[Proposal] Add System.Device.Gpio.Toggle()"
Toggling a Gpio pin is a very, very common operation. To accomplish that, with what's available today, one has to either:
1. Keep a variable to hold the pin state and then update the pin _and_ the variable.
2. Perform a read pin, toggle state and perform a write pin.

Most of modern MCUs provide a low level way of doing this with one or maybe a couple of instructions. Even if it requires implement

[2018-12-17 20:08] grahamehorner commented on #107
a FlipFlop operation is also very common aka alternate between states (on/off) for x cycles.

[2018-12-17 21:11] shaggygi opened #108 "[Proposal] Add System.Device.Gpio.Clock()"
Referencing https://github.com/dotnet/iot/issues/107 as it spawned some thinking on other out-of-box GPIO support.

In addition to Toggle(), it might be worth investigating a Clock() function.  For example,

[code]

In many cases, you will most likely need to clock once and read.  However, there are also times you need to clock registers and such to rotate bits to a certain location to begin read

[2018-12-17 21:37] shaggygi commented on #107
@grahamehorner FlipFlop seems to more of a type of circuit (https://en.wikipedia.org/wiki/Flip-flop_(electronics)).  I could eventually see a bindings for a [7474-type component](http://www.ti.com/lit/ds/sdls119/sdls119.pdf), though.

[2018-12-20 17:15] joperezr commented on #107
The part I don't like about Toggle is that it means that we have to keep some sort of state around, which makes it dangerous for multi-threaded scenarios. If you wanted to implement this thread-safe, then you would be pretty much having to do a read and then a write inside the Toggle method, which in my mind won't add much value given that as you said you can already do this yourself by writing a

[2018-12-20 17:18] joperezr commented on #108
I suppose that the motivation around this is to be able to write a software-based SPI, I2C or PWM protocol?

[2018-12-20 17:20] joperezr commented on #103
Is the idea of this markdown to explain how to publish an app for a raspberry pi when building on a development box?

[2018-12-20 17:33] shaggygi commented on #103
Yes,  The thinking is to have a basic doc explaining the steps, XML and such.

[2018-12-20 17:41] shaggygi commented on #108
This could benefit within for the bit-banging and protocols, as well.  I initialing was thinking for areas like registers, latches, etc. where you sometimes need a to just clock a few times.  This would help instead of having to create a bunch of for loops in the future.

An example, that comes to mind... in my senior college project, I interfaced a microcontroller to pull button status out of an

[2018-12-20 17:44] joperezr commented on #108
What does `X` and 1 stand for in your example? In my mind, this method should take in a pinNumber, a double of frequency, and perhaps the number of cycles you want to send the signal.

[2018-12-20 17:52] shaggygi commented on #108
See original comment above for entire example.  1 represented the clkPin and X represents the number of times to clock.

I agree with you on the state issue (from https://github.com/dotnet/iot/issues/107) so the signature of method would have to change.  Maybe something like...

[code]

One problem with this is the clkPin Value would already have to be at idlePinValue before calling as it could (1

[2018-12-20 17:59] joperezr commented on #108
Won't you also need some sort of parameter to define frequency in case the clock signals have to have some sort of delay between each other?

[2018-12-20 18:05] shaggygi commented on #108
Yup, that was for question 1.

So the Clock method would be something like below.  **NOTE**: I just threw in the frequency/delay argument, but more thinking is needed (e.g. Optional, default value, etc.).

[code]

[2018-12-20 18:45] shaggygi commented on #107
Just throwing this out as an option for conversation.  Not saying it is the best (actually causes more overhead) and probably simpler to continue using Write methods for this.

[code]

[2018-12-20 18:54] josesimoes commented on #107
@joperezr

that won't be necessary, because the state is kept at the CPU level in the Gpio register.

The descriptions of "pseudo-code" I added to the issue are the usual way of dealing with this at the application. I don't have an extension for this nor anything similar.

My suggestion is for the toggle operation to be performed at the PAL level, right were the Gpio CPU registers are written. Thi

[2018-12-20 19:12] joperezr commented on #107
Right, what I meant is that if you would want to not keep state then you have to perform the two operations (read first, then write). Which CPUs have the functionality for toggling the value? AFAIK, the only one that "has" the functionality is the Windows IoT driver which if I'm not mistaken does a read and write internally anyways. All of our other existing drivers (UnixDriver, RaspberryPi driver

[2018-12-21 10:56] anphel31 opened #109 "Starting PWM output with WinRT APIs requires extra call to ChangeDutyCycle()"
Enabling PWM output in Windows IoT core on Hummingboard requires an extra call to ChangeDutyCycle() after the PWM pin's Start() function is called.
See #97

[2018-12-21 14:52] bigdnf opened #111 "WriteRead using I2C and MAX7311"
I’m trying to communicate with MAX7311 using UnixI2cDevice on Raspians. Generally I2C with other devices works but in this case I need to write some data and then immediately read response from MAX7311 device.
When I try to do something like this:

[code]
I get exception “Error when attempting to perform the I2c data transfer”
When I use some custom implementation of I2C from this repo

https://gi

[2018-12-21 16:03] shaggygi opened #112 "[Question] What is the need for OS driver files for other OS"
I noticed the following I2C/SPI driver files with PlatformNotSupportedException.

- UnixI2cDevice.Windows.cs
- Windows10I2cDevice.Linux.cs
- UnixSpiDevice.Windows.cs
- Windows10SpiDevice.Linux.cs

I get various ambiguous warnings/errors in Visual Studio for project.  What is the need for these and where are they used?  Just curious :thinking:

If it is only a safety net to not allow a driver on th

[2018-12-22 00:23] shaggygi opened #113 "[Proposal] Create a new IotDev CLI based on System.CommandLine"
# Core Objective
If possible, I recommend we create a new console project called **IotDev** (short for IoT Device Development).  The intention is to utilize the new [System.CommandLine](https://github.com/dotnet/command-line-api) and deprecate **DeviceApiTester** at some point.  **IotDev** can be stored at the same [folder location](https://github.com/dotnet/iot/tree/master/tools) and would enable

[2018-12-22 13:39] shaggygi commented on #102
The new [dotnet/command-line-api](https://github.com/dotnet/command-line-api) mentioned a section on [scripting capabilities](https://github.com/dotnet/command-line-api/wiki#contribute).  Not sure if/how this could be used if migrated.

[2018-12-23 17:01] shaggygi opened #115 "Should .editorconfig file be added to repo"
Since this repo is following the [coding standards](https://github.com/dotnet/iot/issues/64#issuecomment-444939481) similar to [dotnet/corefx](https://github.com/dotnet/corefx), would it be possible to add the same **[.editorconfig](https://github.com/dotnet/corefx/blob/master/.editorconfig)** file to this repo?

[2018-12-24 18:54] shaggygi opened #118 "[Proposal] I2cController and II2cController"
Similar to the ```GpioController```, there needs to be a mechanism to determine the best ```I2cDevice``` to use.

#### Updated 6/18/2019

`I2cDevice` allows for an easy way to create an I2C connection between a master controller and one device binding.  However, there are scenarios where a new type of **controller** can manage related devices more efficiently.

# Rationale and Usage

**System.Devi

[2018-12-24 18:55] shaggygi opened #119 "[Proposal] SpiController and ISpiController"
Similar to the ```GpioController```, there needs to be a mechanism to determine the best ```SpiDevice``` to use.

#### Updated 6/24/2019

# Proposed Changes

## 1. Add New SpiController

The creation of devices with a new static helper method that attempts to pick the best SPI device for OS app is executing on.  This static method will be added to a new `sealed partial class` respective to OS.

[c

[2018-12-24 19:53] shaggygi commented on #119
To be consistent with GPIO and PWM naming structure, should the following files/classes be updated with Driver instead of Device?

[code]

Therefore...
[code]

SpiDevice seems like it sticks well, but like GPIO PinNumberingScheme, SpiConnectionSettings is similar to setting up the way the SPI "driver" will work.

IMHO, just seems like Driver would be better at this point to keep consistent with th

[2018-12-24 19:55] shaggygi commented on #118
To be consistent with GPIO and PWM naming structure, should the following files/classes be updated with Driver instead of Device?

[code]

Therefore...
[code]

I2cDevice seems like it sticks well, but like GPIO PinNumberingScheme, I2cConnectionSettings is similar to setting up the way the I2C "driver" will work.

IMHO, just seems like Driver would be better at this point to keep consistent with th

[2018-12-27 14:58] shaggygi commented on #107
Another example...

[code]

[2018-12-27 21:23] shaggygi opened #121 "[Proposal] Add ReadBool and WriteBool to GpioController"
This proposal is an addition to the `GpioController` class that include helper methods for working with the different pin values and their respective boolean value.

## Rationale and Usage

There are many times you need to determine the bit value and must perform conversions of setting/clearing the bit.  Pins sometimes represent bits within a value.  The proposal would help from having to write re

[2018-12-27 23:10] shaggygi opened #122 "[Proposal] Provide a Software implementation of the SPI protocol."
# Core Objective
As a device binding producer, I would like the ability to instantiate the binding with a GPIO SPI implementation instead of redundant code to bit-bang logic within each binding.  This would be similar to how a ```UnixSpiDevice``` or ```Windows10SpiDevice``` is currently used to create a binding.

**NOTE**: There is a "very early" prototype located [here](https://github.com/shaggyg

[2018-12-29 15:15] shaggygi opened #123 "Should GPIO Pin enums and events be renamed with Gpio prefix"
It seems like the following enums and events would be named with Gpio prefix.  Even though they are in the namespace of System.Device.Gpio, it would make consistent with others (e.g. GpioController, GpioDriver, etc.)

| Current | Renamed |
| ------------- |:-------------:|
| PinChangeEventHandler | GpioPinChangeEventHandler |
| PinEventTypes | GpioPinEventTypes |
| PinMode | GpioPinMode |
| PinNum

[2018-12-29 20:11] shaggygi opened #124 "[Proposal] Provide a new GpioPort class"
# Core Objective

There are scenarios when a port (with multiple pins) needs to be read from and written to.  It would be nice to have a new `GpioPort` class where you can pass in pin numbers that represent the respective pin/bit for values.

**NOTE**: The code examples are loosely defined only to point out scenarios.

## Thoughts/Examples

* `GpioPort` should have a `GpioController` passed to con

[2018-12-29 22:39] shaggygi opened #125 "[Proposal] Provide controller provider interfaces"
This proposal is to create new controller interfaces for the various types of I/O within System.Device.API.  This is similar (but not exactly) to [Windows.Devices.Gpio.Provider](https://docs.microsoft.com/en-us/uwp/api/windows.devices.gpio.provider).

## Rationale and Usage

In most cases, the choice will be to control things with I/O available on main controller boards using the `GpioController`.

[2018-12-29 22:41] shaggygi commented on #90
This might help...  [[Proposal] Provide interfaces for different controllers](https://github.com/dotnet/iot/issues/125)

[2018-12-29 22:50] shaggygi opened #126 "[Proposal] Move classes and rename to be consistent throughout API"
This proposal is a collection of different modifications and grouped here as there are many breaking changes being proposed.  The intent is to review, decide and update (if needed) namespaces, class names and file locations in a consistent structure between the different types of interfaces within System.Device.Gpio API.

This seems to fit with @terrajobst comments during [this design review](http

[2018-12-30 04:18] shaggygi opened #127 "Should it be recommended that device binding samples utilize a CLI"
It might be helpful to have guidance recommending/using the new [System.CommandLine](https://github.com/dotnet/command-line-api) (or similar) API while developing device binding samples.  For example... enable, disable, write message to LCD, etc.

This would make it easier to use commands to perform certain features of a sample or breadboard hardware configuration.  Currently, you need to comment/

[2018-12-30 20:09] shaggygi commented on #111
I didn't look into this much, but you might need to set the buffer size to 1.  Not completely sure.  Also, make sure the BusId is correct.  I believe it should be 1.

[code]

[2018-12-30 22:55] shaggygi opened #128 "Should driver abstracts be moved to respective Drivers folder/namespace"
It seems like a better fit for the abstract Drivers be moved to the Drivers folder along with updating their namespace.

### GPIO
[code]

### I2C
or I2cDriver.cs based on https://github.com/dotnet/iot/issues/118
[code]

### PWM
[code]

### SPI
or SpiDriver.cs based on https://github.com/dotnet/iot/issues/119
[code]

[2018-12-31 02:29] shaggygi opened #129 "I2C API should support Restart/Repeat condition"
It appears you currently can only read and write using I2C API where it provides a Start/Stop at beginning and end of command.  Many I2C components will work by writing the address with a Write command and then follow with a ReadByte() or Read() for multiples.  However, there are components that require a Reset condition between writing and reading.

@bigdnf mentioned this in https://github.com/do

[2019-01-01 00:31] shaggygi commented on #64
**NOTE**: This is a yet another side questions, but still related to code conventions.

Bindings are usually going to have groups of things like registers or commands.  What is the guidance for such things related to namespaces?  Singular or plural?

[code]

[2019-01-01 14:01] shaggygi commented on #100
@joperezr @joshfree another one you can assign to me.  I have some early thoughts started for this.  The plan is to have multiple PRs over time since this will cover lots of material and changes are needed as progress is made on API.

If possible, the idea is to stub out beginning markdowns and such with the intent to add content as time allows.  I'll try to add some action items above while revie

[2019-01-03 12:42] shaggygi opened #134 "Remove dev board GPIO drivers within System.Device.Gpio API"
The core API includes code specific to dev boards (System.Device.Gpio.Drivers.RaspberryPi3Driver/HummingBoard.cs) and should not.  They should be removed and used as a separate package if/when they are needed.

The reasoning is it will cause dependency issues in the long-term when boards become outdated and new ones become popular.  By making them a separate package, it would also allow users to u

[2019-01-03 23:57] joperezr commented on #89
Personally I don't think this would be super useful as public API since it is only really used by device bindings. Instead I think it might be useful to add it to the IoT.Device namespace and only as a common file that bindings can import if they need this functionality.

[2019-01-04 00:17] shaggygi commented on #89
Yeah and it's mainly needed when there is a component that includes both interfaces (although there are many devices in the wild that do).  I had to use it while working on the Ssd1306.  In addition, the code didn't seem as bad when not having to check between I2C, SPI and GPIO for both.  Assuming we will eventually have a [GpioSpiDriver](https://github.com/dotnet/iot/issues/122) and I2cGpioDriver

[2019-01-04 00:17] #89 closed

[2019-01-04 01:46] shaggygi opened #135 "[Proposal] Support OpenDrain and OpenCollector options for GPIO PinMode"
GPIO `PinMode` currently only supports Input, Output, InputPullDown and InputPullUp.  There are other scenarios where outputs are open-drain and open-collector types and the API should accommodate.

## Rationale and Usage

I/O expanders are a good example where they have different types of I/O within a particular family and are differentiated by part numbers for the family.  In many cases, a user'

[2019-01-04 02:19] shaggygi commented on #128
I'm closing this as I plan to update proposal https://github.com/dotnet/iot/issues/126 with this information.

[2019-01-04 02:19] #128 closed

[2019-01-04 21:10] joperezr commented on #125
I'm not sure I like this idea for one main reason: life cycle. What happens when you do something like this:
[code]

We specifically decided to allow having multiple GpioController objects on the same thread (by not making it a singleton) so that you could workaround this by having one controller on the device and one other controller on your app.

Also I'm not sure how useful this could be, since

[2019-01-05 00:37] shaggygi commented on #125
You make a good point.  The only other thing I can think of right now is possibly allowing bindings to inherit from GpioControllers if needed, but looks like you can't since it is sealed.

I agree most peeps will interact with the bindings using the basics of reading/writing registers to perform the common features (write memory, read temp, etc.) they offer.  I will probably do it that way myself

[2019-01-05 01:56] shaggygi commented on #125
Another thought...  I had started working on an Mcp23xxxGpioDriver, which implemented GpioDriver and is created by passing in an Mcp23xxx object (that is already setup with I2C/SPI).

`Mcp23xxxGpioDriver : GpioDriver`

Could you do something like this...

[code]

At this point, it wouldn't need to implement an IGpioControllerProvider interface.

[2019-01-05 14:02] shaggygi commented on #102
Not sure when VB option will be available.  See https://github.com/dotnet/roslyn/issues/13523

[2019-01-05 21:33] shaggygi opened #137 "Should GpioController NumberingScheme property be renamed to PinNumberingScheme"
This is a small breaking change since it is public and will most likely be understood what numbering scheme the property is related to hence the enum type.

[code]

If not renamed, then the other GpioController files should be updated to be consistent.

[code]

[2019-01-06 13:48] shaggygi opened #140 "Should PinEventTypes be renamed to PinEventType"
Seems like the enum [PinEventTypes](https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/Gpio/PinEventTypes.cs) wouldn't be plural.

If so, should others be renamed to be plural?  For example, should [PinMode](https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/Gpio/PinMode.cs) be renamed to PinModes?

[2019-01-07 18:30] joperezr commented on #112
If you see the structure of our package, we basically have three dlls on it:
ref/netstandard2.0/
  System.Device.Gpio.dll     (<-- This assembly is the reference assembly people will compile against when using our package)
runtimes/linux/lib/netstandard2.0/
  System.Devices.Gpio.dll   (<-- This assembly will be used when running the app on linux)
runtimes/win/lib/netstandard2.0/
  System.Devices.G

[2019-01-07 18:35] shaggygi commented on #112
Yes, that makes sense.  Thank you.  I originally created this when tinkering around with #110.

[2019-01-07 18:35] #112 closed

[2019-01-07 18:40] shaggygi commented on #113
No plans do so for now.  I will continue to review progress/features of System.CommandLine and add thoughts here for possible future use.  Closing for now.

[2019-01-07 18:40] #113 closed

[2019-01-07 18:44] shaggygi commented on #102
**script-run** works well for now for C#.  Not sure when VB scripting APIs will be added back.  Closing for now, but will check periodically to see if VB can be added later.

[2019-01-07 18:44] #102 closed

[2019-01-08 11:39] shaggygi commented on #123
This was grouped with proposal #126.  Closing.

[2019-01-08 11:39] #123 closed

[2019-01-09 19:13] joperezr commented on #109
Is the idea of this issue to track the work of removing the extra call once the WinRT Apis are fixed? Is there an actual plan to fix the WinRT Apis so this extra call is not longer required?

[2019-01-09 19:19] joperezr commented on #111
Because I2C protocol only uses 1 data pin, there is not a method like the TransferFullDuplex that we have in SPI. Internally what we are doing is to just do ioctl on the I2c device and send the information, so I would expect that as long as you set the right size of the read and write buffers that it should work correctly. Did you try what @shaggygi suggested?

[2019-01-09 23:16] joperezr commented on #125
The problem with allowing them to extend GpioController is that what happens if the device supports multiple protocols (which I believe is the general case)? For example, what if the binding allows Gpio and Spi or I2c communication? I think that because of this, it is not ideal to have a device to extend a controller.

For the other cases that you mention above of really just wanting to interact w

[2019-01-10 17:52] joperezr commented on #115
Yes we totally should 😄 Feel free to throw in a PR for this

[2019-01-10 17:54] joperezr commented on #118
Agreed that we need this. The next steps are to have this issue be a formal Api proposal so that the board can review it, and approve it so that we can submit a PR.

[2019-01-10 17:54] joperezr commented on #119
We can probably bundle this up with #118 since they will be super similar, so I'm fine with closing this one in favor of having only one issue for both Spi and I2c controllers.

[2019-01-10 17:55] joperezr commented on #118
We should also include an SPIController on this proposal as well, as they are related and will be very similar.

[2019-01-10 18:02] joperezr commented on #121
I'm not sure how valuable these methods would be, since in reality you could still have the above code written in one line like:

[code]

Granted it is not as readable as an overload, but I'm just not convinced that we should add extra methods for this. Also, if we were to add them, I would much rather just have an overload of Write that takes in a bool instead of a PinValue than having different

[2019-01-10 18:09] joperezr commented on #122
I believe what you ant here is the ability of having software SPI instead of hardware SPI as we have today. If that's the case, I would instead prefer having the device binding take in the GPIO pin numbers instead of taking in a device, and inside its implementation it would do the software SPI. This is the way that a lot of Adafruit device bindings work today as well. Here is an example of a bind

[2019-01-10 18:17] shaggygi commented on #121
Yeah, I originally wanted the Write/Read, but since you couldn't have a Read for returning both PinValue or a bool is why I added the Bool at end.  I agree, just use the logic above will be fine.  Closing.

[2019-01-10 18:43] shaggygi commented on #122
I guess I was thinking it would be no different than passing in a UnixSpiDevice or a newly offered GpioSpiDevice for the abstract.  You still have to pass in the pin numbers and settings info for a GpioController or GpioSpiDevice.

As attempted [here](https://github.com/shaggygi/iot/commit/f11e3ab9285c88e82fe7e88457885eeb326338fc#diff-b4800a5e3b862e770a0de8c634302932), you pass in the related info

[2019-01-11 21:11] #115 closed

[2019-01-12 01:14] shaggygi commented on #129
I was tinkering with this for a little bit and was able to get the Restart bit to occur between write/read buffers.  I'm just not so sure on the best solution as devices can required different sequences of this.  For example, You might have to write a few bytes for addressing, followed by a Restart bit, write another for a command and then remaining data can be clocked in to read buffer.  One ques

[2019-01-12 01:34] #103 closed

[2019-01-13 22:05] shaggygi commented on #111
I tested this (only on Unix) and can repro this when sending Write or Read commands with an empty array or Span as shown in @bigdnf example.

@joperezr I don't understand why the ioctl wouldn't take 0 bytes, but I guess it is expecting something when doing a write/read function.  To fix this, we could put a check in `ReadWriteInterfaceTransfer` and `FileInterfaceTransfer` to just return if `writeB

[2019-01-15 01:42] buyaa-n opened #146 "Apply comments from PR #133 related/can be found in SysFs driver implementation"
1. Refactor Sysfs event handling logic, make all tests pass.
2. Some comments for LibGpiod driver implementation PR https://github.com/dotnet/iot/pull/133 related to SysFs driver too. Apply those comments to SysFs driver and test accordingly such as:

https://github.com/dotnet/iot/pull/133#discussion_r244890760
https://github.com/dotnet/iot/pull/133#discussion_r244891801
https://github.com/dotnet/

[2019-01-15 01:49] buyaa-n commented on #140
I agree with you PinEventTypes wouldn't be plural

[2019-01-15 17:51] joperezr commented on #140
@terrajobst what do you think? Do we usually have enums that represent flags as plural in the framework?

[2019-01-15 17:58] joperezr commented on #140
I checked and most of the framework with similar types do use singular, however, they usually aren't flags and this one is, which is where I'm torn of whether or not this should be plural.

[2019-01-15 17:59] joperezr commented on #140
BTW, PinMode is fine in singular because it is not flags enum, so it will only ever hold one value.

[2019-01-16 17:32] shaggygi commented on #140
`PinEventTypes` does make sense based on comments.   How about `EventType` in WaitForEventResult.cs?  Should the property be `EventTypes` instead there?

[2019-01-16 17:46] shaggygi commented on #140
In the [Flags doc](https://docs.microsoft.com/en-us/dotnet/api/system.flagsattribute?view=netframework-4.7.2) example, it is also not plural.  @BillWagner  what are your thoughts?

[2019-01-17 10:31] bigdnf commented on #111
Thanks for info - I'm currently on business trip so I can't test anything. I will do it after return and close issue if I can fix it after your suggestions.

[2019-01-19 13:45] shaggygi commented on #126
@joshfree @joperezr would it be possible to review this before preview 2?  I think I could complete pretty quickly if there are any decided changes.

[2019-01-19 23:44] shaggygi commented on #63
Here is some more categories based on @joshfree thinking.  Not complete.
Used [TI](http://www.ti.com/) and [Microchip](https://www.microchip.com/ParamChartSearch/chart.aspx?branchID=1005) as a reference.

[code]

[2019-01-23 12:39] shaggygi commented on #72
@joshfree @joperezr If time allows, I'll try to review and add summaries for PWM code next.  Is there something else outstanding for this I should focus on to consider this complete?

[2019-01-23 17:28] joperezr commented on #72
Thanks so much for all the hard work you've been doing for this issue @shaggygi, I believe you are right and PWM is the only area we are missing now. For the device-bindings we are treating xml-comments as a nice-to-have right now but we aren't enforcing them, so this issue is only set to cover the System.Device.Gpio library.

[2019-01-23 17:47] shaggygi commented on #72
No prob.  It's been a fun exercise and helped learn more about the inner-workings of the API along the way.  Hope do help lots more in future, as well. :smile:

[2019-01-23 21:42] krwq opened #156 "Main README.md should contain info on how to start with IoT"
This is created based on offline feedback from @Ellerbach.

It would be really beneficial for this repo if main README file contained some more information on how to get a new person on board as fast as possible so that they can try what we have and give us early feedback or contribute.

More specifically:
- how to create a new project, set it up (we already have some bits and pieces of that all o

[2019-01-23 22:57] shaggygi commented on #156
Just a few thoughts.  I'll try to help where needed.  Just let me know. 😄

1. We now have [How to Deploy an IoT App](https://github.com/dotnet/iot/blob/master/Documentation/How-to-Deploy-an-IoT-App.md) doc that will help in this area.
2. We have the beginnings of a [device binding template](https://github.com/dotnet/iot/tree/master/tools/templates/DeviceBindingTemplate) that will setup a project f

[2019-01-24 16:37] Ellerbach commented on #156
Thanks, makes it much better. Still, there are elements a bit everywhere and it's not that straight forward to start. Starting with a technology and experience you have at the beginning is a critical pass to adoption.
It would be perfect to have a page for very beginners with couple of screen captures from installing VS Code, creating the project, adding the nuget, making sure it's the right .NET

[2019-01-25 22:41] buyaa-n opened #157 "Remove DllNotFoundException catching logic after Native Library Loader API deployed"
When loading unix driver we try to load libgpiod driver first, if it is not installed DllNotFoundException catched, in that case we load Sys Fs driver: https://github.com/dotnet/iot/pull/133/files#diff-b4f508a799552fbc32cd5d70b229dc86R19. Remove/update this logic with appropriate one after "Native Library Loader API" deployed https://github.com/dotnet/corefx/issues/32015

[2019-01-26 18:43] shaggygi commented on #134
This is essentially the same related to PWM, as well.  For example, in the `Windows10PwmDriver` constructor this is references to the HummingBoard.  It seems like this is an unnecessary hard-dependency that should be decoupled.

[2019-01-28 17:10] joperezr commented on #134
The idea here with GPIO, was to have at least the most common and used boards supported as first-party and that they would ship within the library itself. That was the case for the Raspberry pi, and also the Hummingboard (since that one is heavily used on Azure IoT scenarios). For the rest of the boards, we were thinking on having extension libraries (similar to what we have today with the device

[2019-01-29 14:33] ZhangGaoxing opened #163 "System.IO.IOException: Error performing I2c data transfer"
In Raspberry Pi 3B+ with Raspbian.

When I use **UnixI2cDevice.WriteRead()**, the program random throw **System.IO.IOException: Error performing I2c data transfer**. Sometimes 10 calls occur, and sometimes one call occurs. Why？

### My Read() Method
[code]

### My Main() Method
[code]

### My Terminal Log
#### True data
[code]

#### Then the error suddenly occurred.
[code]

[2019-01-29 16:22] richlander opened #164 "Update samples to use Iot Package"
This project should be updated ...

https://github.com/dotnet/iot/blob/master/samples/led-more-blinking-lights/led-more-blinking-lights.csproj#L14

The README should be updated, too: https://github.com/dotnet/iot/blob/master/src/devices/README.md#binding-distribution

[2019-01-29 17:31] joperezr commented on #163
Looks like you are still using an old version of the API by looking at the callstack. Have you tried instead using a newer version of the package? We recently shipped a new [version to NuGet](https://www.nuget.org/packages/System.Device.Gpio/0.1.0-prerelease.19078.2)

[2019-01-29 21:07] #164 closed

[2019-01-30 01:29] krwq opened #167 "Add bindings for PIR sensor"
related: https://github.com/dotnet/iot/pull/158

[2019-01-30 01:30] krwq opened #168 "Add bindings for Polar RE07S (Wireless Heart Rate Receiver)"

[2019-01-30 01:31] krwq opened #169 "Add bindings for Round Force-Sensitive Resistor (FSR)"

[2019-01-30 01:31] krwq opened #170 "Add bindings for E466616 (NeoPixel Stick - 8x 5050 RGB LED with integrated driver)"

[2019-01-30 01:33] krwq opened #171 "Add bindings for LCM1602C / hd44780 (LCD Char display)"
cc: @joperezr

Not sure if this will be generic hd44780 or if there is something specific to LCM1602C

[2019-01-30 01:34] krwq opened #172 "Add bindings for DS18B20 - Digital temperature sensor"

[2019-01-30 01:35] krwq opened #173 "Add bindings for Stepper motor (i.e. 17HS13-0404S)"
This will need to be investigated if we will have a generic StepperMotor device or both generic and more specific version with tiny bit more info

[2019-01-30 01:37] krwq opened #174 "Add bindings for segment display"
Some examples:
- 1.2" 7-segment LED HT16K33 Backpack
- 1.2" 7-segment display (https://www.adafruit.com/product/1266)
- Dual Alphanumeric Display - Red 0.54" (https://www.adafruit.com/product/1907)

not sure how much they differ, likely code will be very similar, might need some investigation how to write this generic enough

[2019-01-30 01:39] krwq opened #175 "Add bindings for RFID-RC522 (MF-RC522)"
This is currently WIP https://github.com/dotnet/iot/pull/293 - please pick up from here when implementing (PR is closed)

[2019-01-30 01:41] krwq opened #176 "Add bindings for LED Matrices"
This will likely need more digging since there are many different kinds. I.e.:

- 8x8 LED Matrix Square Pixel - Yellow (https://www.adafruit.com/product/1819)
- 8x8 LED Matrix Ultra Bright Yellow-Green (https://www.adafruit.com/product/1045)
- Miniature 8x8 Yellow LED Matrix (https://www.adafruit.com/product/860)
- Mini 8x8 LED Matrix w/I2C Backpack - Red (https://www.adafruit.com/product/870)
- 1

[2019-01-30 01:49] krwq opened #177 "Add library for CANBus"
cc: @BretStateham

i.e.:
- SocketCAN C# wrapper

[2019-01-30 13:47] ZhangGaoxing commented on #163
thanks

[2019-01-30 13:47] #163 closed

[2019-01-30 17:13] shaggygi opened #178 "[Question] How will non-binding libraries be managed"
While I haven't given it much thought, I wanted to go ahead and create this thread to start some early discussions how we might proceed.  This is based on a particular binding I'm working on, but the issue can be expanded to others as the ecosystem grows.

### Synopsis
I plan to create a PR in the near future for a SSD1306 OLED display controller.  This binding will initially only include the basi

[2019-01-30 17:14] shaggygi commented on #12
Referencing #178 as it was derived while working on this issue.

[2019-01-30 17:42] joperezr commented on #178
That's a good point. I believe that this additional API should probably live in one of two places: either on the Device bindings package itself (which would mean that we would just have this library live on the repo as if it were a device binding itself) or in a sort of System.Device.Gpio.Extensions library where non-bindings APIs that are used by a lot of bindings are located.

Another thing we c

[2019-01-30 17:46] joperezr opened #179 "Add bindings for HT16K33"
This is a 16*8 LED Controller display with keyscan and supports I2c.

[2019-01-30 17:50] joperezr commented on #179
Here is an interesting link with a similar implementation for Python: https://github.com/adafruit/Adafruit_Python_LED_Backpack/blob/master/Adafruit_LED_Backpack/SevenSegment.py

[2019-01-30 18:21] krwq commented on #176
@Ellerbach is starting to investigate (can't assign for whatever reason)

[2019-01-30 18:51] tawalke commented on #179
Will work on this one.

[2019-01-30 21:04] joperezr opened #181 "Add bindings for BH1750 (Light Sensor)"

[2019-01-30 21:04] joperezr commented on #181
I'll go ahead and take this one.

[2019-01-31 02:55] JinShil opened #183 "Cannot read from output pin?"
This exception doesn't seem right to me:

https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/Gpio/GpioController.cs#L171-L174

Is this a mistake, or is it my understanding that needs correction?

[2019-01-31 03:04] shaggygi commented on #183
I’m not sure the exact issue you’ve encountered.  Could you provide an example?  Basically, this code checks and if the pin is an output, it throws to state you’re reading a output pin.  You can only read input pins.

[2019-01-31 03:30] JinShil commented on #183
Yes, that's the issue.  Why can you only read input pins?  I've never used a microcontroller or any other embedded device where reading an output pin was not permitted.  What's the justification for it?

[2019-01-31 03:37] JinShil commented on #183
To illustrate a use case, one may want to read the output pin when the program first starts in order to update their UI with the output's last state.  Initializing the pin to a default value may violate the software's requirements.

[2019-01-31 18:40] joperezr commented on #183
I'm not sure that all drivers would be able to support this. For example, the RaspberryPi driver operates with registers in the memory directly, and there are different bits in memory that are used for the value depending if you are in Input vs Output mode, and I would really doubt that the Input bit will be updated when the pin is set to output and the value is changed.

[2019-01-31 18:44] JinShil commented on #183
I would expect the driver to return the value of the Output bit if it is in Output mode.

[2019-01-31 19:01] joperezr commented on #183
That is not how the Output bits work on the RPi driver unfortunately. There are two registers that are used to control an output pin's value in the RPi:

https://github.com/dotnet/iot/blob/c1a3493abc77e6988e8625e2c46b3ea35eac3a91/src/System.Device.Gpio/Interop/Unix/Libc/Interop.mmap.cs#L44-L50

The way this works internally, is that if you want to set the pin value to low then you flip a bit of th

[2019-01-31 19:10] JinShil commented on #183
Doesn't GPLEV give you the state of the output pin?

https://github.com/dotnet/iot/blob/c1a3493abc77e6988e8625e2c46b3ea35eac3a91/src/System.Device.Gpio/Interop/Unix/Libc/Interop.mmap.cs#L52-L54

[2019-01-31 19:22] joperezr commented on #183
Only when it is set to Input, it won'd do it the pin is set to Output

[2019-01-31 20:47] BrianA-DK opened #186 "Library for ADXL345"
Are there any plans for a library to read a adxl345-sensor via the SPI interface?

I'm trying to write one myself, but I cant quite get the SPI-communication going (I think...)
The following is based on what I could backtrack from samples from the library.
I should read register 0x00 from the adxl345 and return 0xe5, but it only returns 0x00

Sensor and wiring is OK - has been tested by with a C-c

[2019-01-31 22:37] Ellerbach opened #187 "High precision timer waiting 1 microsecond"
Hi,
For the implementation of the DHT sensor family, I had to wait for 1 microsecond. The only reliable way I found is a for loop doing nothing.
The values I found to be working on a Raspberry Pi 3 are 99 for release mode and 27 for debug.
So 1 waiting 1 microsecond in release mode would then be:
[code]

It would be great to have the possibility to find those values at execution time for any platf

[2019-02-01 00:50] shaggygi commented on #12
Referencing #188

[2019-02-01 00:55] shaggygi opened #189 "Need OLED Graphics API"
We recently had a new binding PR (#188) for the SSD1306 OLED display controller.  However, it is somewhat limited as it doesn't offer a good solution for text/images.  We need a graphics library that can produce the respective bytes and possibly work with various other displays.

Also referencing #178 as it is somewhat related.

The [Adafruit GFX graphics library](https://learn.adafruit.com/adafru

[2019-02-01 01:54] JinShil commented on #183
Weird!  So be it.

[2019-02-01 02:58] JinShil commented on #183
I just tested with [pigpio](http://abyz.me.uk/rpi/pigpio/pdif2.html) and it works fine.  Even if I set the state using C# and close the program, I can read the state of the output pin (that was set in the C# program) in C using the pigpio library.

Re-opening because I think it would be valuable to see how pigpio achieves this and implement something similar.

[2019-02-01 03:40] ZhangGaoxing commented on #167
#190

[2019-02-01 07:44] ZhangGaoxing commented on #186
Try changing the ClockFrequency? More than or equal to 2MHz

[2019-02-01 08:59] MarcoRossignoli opened #194 "Nuget links are broken"
Nuget source links are broken https://www.nuget.org/packages/System.Device.Gpio
![image](https://user-images.githubusercontent.com/7894084/52111770-e67a2500-2604-11e9-8b6b-b24cf3f481eb.png)
But package seems ok
![image](https://user-images.githubusercontent.com/7894084/52112816-fc3d1980-2607-11e9-959b-9f3591240316.png)

[2019-02-01 10:48] shaggygi commented on #126
@joshfree @joperezr  Just wanted to ping this one again now that Preview 2 is out.

[2019-02-01 16:36] IvanFarkas opened #195 "intel-iot-devkit/mraa and 96boards compatibility/device coverage"
**[Intel® IoT Developer Kit](https://github.com/intel-iot-devkit) [mraa ](https://github.com/intel-iot-devkit/mraa)and [upm ](https://github.com/intel-iot-devkit/upm)** is a similar library for C++.
Is there any plan to provide compatibility for devices supported by mraa/upm or somehow take advadtage of these libraries?
I'd like to use **.NET Core 3.0 for GPIO, SPI, I2C and PWM** on arm64 Debian o

[2019-02-01 17:48] RPagels opened #196 "Sense HAT"
Is there support in Dot Net Core C# for the Raspberry Pi Sense HAT?

There is a Python implementation of it here: https://github.com/RPi-Distro/python-sense-hat.  It would be awesome for it to be ported to C#.

Thank you,

Randy

[2019-02-01 17:52] ericstj opened #197 "Support one-wire protocol"
During the IOT hackathon I was playing with some [DS18B20](https://cdn-shop.adafruit.com/datasheets/DS18B20.pdf) temperature sensors.  These use the one-wire protocol which is supported on the RaspberyPi by remapping a GPIO pin to act as a one-wire bus.  For more information see
https://www.raspberrypi.org/documentation/configuration/device-tree.md
https://www.kernel.org/doc/Documentation/gpio/dri

[2019-02-01 17:52] richlander commented on #196
Not yet. We'd love one. Anyone else want support for this device? Please vote on the issue.

[2019-02-01 18:07] maloo commented on #170
Hi  @krwq, just found this repo. I was planning to try this out since I'm just using the Neo 8x panel for an embedded system interface. I have to do this within the next week anyway, so if you have any guidelines, APIs or general ideas it would be helpful. I'm planning to use the SPI way of driving them, because I found that to be the only stable (timing) way in linux without writing a kernel driv

[2019-02-01 18:11] maloo commented on #172
Hi, I can help,
I need to write a driver for a MAX31820, I guess these are very similar. Do you have any API. Do you want a 1-wire device and a device driver or just a device driver?

[2019-02-01 18:13] maloo commented on #189
Hi,
I can port the ADA Gfx library if you want. Or you want a .Net Core designed one? Do you want just bindings or a pure C# library?

[2019-02-01 18:16] maloo commented on #197
Hi,
please keep me up to date. I'm just about to use a MAX31820 which is very similar. I use this as an ambient temp meter on my latest PCB design.

[2019-02-01 19:31] joperezr commented on #170
Hey @maloo, so glad you are joining the community. You can find some docs on how to add a new binding here: https://github.com/dotnet/iot/tree/master/src/devices#contributing-a-binding

I do recommend using [our template](https://github.com/dotnet/iot/blob/master/tools/templates/DeviceBindingTemplate/README.md) when creating the device binding so that you can start directly into coding. I would al

[2019-02-01 20:01] joperezr commented on #172
Hello @maloo, I know that @ericstj was planning on working on this one as well. He is planning to add support for 1-Wire into our main library. I'm not sure if he is planning to also write a device binding for the actual sensor, so just an FYI so that you don't both end up doing the same work :smile:

[2019-02-01 20:04] joperezr commented on #197
note that #172 is already tracking the work to add the binding for DS18B20 in case you end up working in both we should close both issues

[2019-02-01 20:12] joperezr commented on #189
What we are looking for here would be trying to port the [GFX library](https://github.com/adafruit/Adafruit-GFX-Library) so that we can use it with other bindings like the one that @shaggygi pointed out.

[2019-02-01 20:44] maloo commented on #189
I could take a look at it. Maybe just use a Span<byte> as target for the GFX lib, then it could work with fbdev et al too. Since the color space on these displays is quite limited it might be enough to start with RGB565 support which most I2C/SPI displays support.
Do you have any guidelines for contributions/PRs? Coding style, unit test requirements, process etc

[2019-02-01 21:02] joperezr commented on #189
I replied to this question [on this other issue](https://github.com/dotnet/iot/issues/170#issuecomment-459840491). Regarding Coding style, we have an .editorConfig that will cause VS to have you follow some guidelines and we follow the same guidelines that [corefx enforces](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md)

[2019-02-01 21:26] krwq opened #199 "Investigate if possible to create generic class for ADC converters"
We currently got Mcp3008 and ADS1115 is coming (https://github.com/dotnet/iot/pull/191). We need to check if we can somehow abstract them away so stuff like i.e. FSR (https://github.com/dotnet/iot/pull/198) does not depend on the specific device and on the generic ADC instead.

[2019-02-01 21:27] #199 closed, assigned to nobody

[2019-02-01 21:48] krwq commented on #172
let me update this and other issues so that we don't end up investigating

[2019-02-01 21:55] krwq commented on #170
@maloo awesome, thanks for interest in this project :-) other option thank what @joperezr mention is to simply copy the existing project and modify appropriately - please let us know if you find instructions for setup not clear or any other issues you might hit - we are trying to incrementally improve it (so PRs clarifying instructions or issues with a first time experience problems are also welco

[2019-02-01 22:01] JeremyKuhne commented on #187
You're looking to wait at _least_ a microsecond, correct? I've got a better helper for this that I've got in my LCD driver that I'm finishing up.  It is hard to guarantee that you don't wait for longer and you don't want to peg the CPU spinning. The best option we have is to use SpinWait in the loop with the Stopwatch.

[2019-02-01 22:04] krwq commented on #187
@JeremyKuhne AFAIR it had to be precisely 1uS with a very small margin for error (in many cases more is forgivable but some devices will just not respond if you wait too short or too long)

[2019-02-01 22:09] JeremyKuhne commented on #187
In my case I keep an instance on my class. Don't want to keep allocating the Stopwatch even if the timing isn't critical after all. :)

[2019-02-01 22:10] ericstj commented on #197
It would seem that linux automatically installs kernel device drivers for the DS18B20 and similar devices: https://www.kernel.org/doc/Documentation/w1/slaves/w1_therm

From the docs https://www.kernel.org/doc/Documentation/w1/w1.generic
[code]

Still researching to understand what's the right way to surface all this in the GPIO library and device bindings.

[2019-02-01 22:13] maloo commented on #170
First thing I'm wondering about is the classic Copyright/License. Do you have any guidelines for attribution, copyrights etc when porting (as in changing from C++ to C#). I'm used to do stuff from scratch. Couldn't find any existing library ports in the repo at first glance.
Second question is if maybe a library like ADA Gfx should have its own dll/proj.
But first step I probably will just add som

[2019-02-01 22:31] maloo commented on #197
Looks like the kernel is handling the known bridges already.

[2019-02-01 23:01] joperezr commented on #170
For the licensing question, usually BSD and MIT are fine, all other ones depend on case by case and should be reviewed.
Yes, I think the library should have it's own library and dll/proj. We had an issue where we were @shaggygi and I were discussing about where a library like this should live, but for the time being I think a new project under src/devices is fine and then we can move it if we find

[2019-02-01 23:30] RoySalisbury commented on #125
I could have sworn that I posted this exact same topic back in December, but I cant find it.  So I will comment on this one.

I have done something similar going all the way back to .NET MF.  I had to do it in Win10 IoT with the UWP model, and even did it for the .nF (nano Framework) just a few months ago.

Providing interfaces for IGpioController and IGpioPin is the way to go. Same goes for I2C a

[2019-02-01 23:34] joperezr commented on #125
Yeah now that we have been adding more devices I see more clearly the need for having something like this. At least the fact of having an IGpioController makes a lot of sense because as you mention there are some other devices (such as the GPIO expansion headers) that provide pins just like controllers, so it will be handy to simply enable this such that existing devices have a constructor where t

[2019-02-01 23:41] RoySalisbury commented on #125
[Devices.zip](https://github.com/dotnet/iot/files/2823704/Devices.zip)

I have attached the version I did for the UWP model.  Look in the GPIO directory and you will see how to implement the necessary interfaces for creating a ControllerProvider.  UWP made it a bit harder than I should have been, but it made it easier to work with for drivers.

Roy

[2019-02-01 23:57] RoySalisbury commented on #125
Would not be a stretch for someone to create a bit-banged I2C device driver.  I have some I2C devices that have static addresses on them.  With only a single i2c bus its one way to get multiple devices with the same address working. But I don't want my device driver to know anything other then it's an I2C device.

My second reason for the interfaces, and its mainly the "framework designer" in me.

[2019-02-02 00:10] shaggygi commented on #125
See #122 as this is similar, but for bit-banged SPI driver.

[2019-02-02 03:22] ZhangGaoxing opened #200 "Question: Should our sensor binding constructor pass in SpiDevice/I2cDevice or PinNumber ?"
I think users should avoid touching classes like SpiDevice and I2cDevice, just tell them how to connect the sensor to the host. For example: #193

SpiDevice need to be set **ClockFrequency** and **SpiMode** , and all of these need to be consulted in the datasheet. For a person who specializes in hardware, he knows how to deal with it. But what should he do for a person who has no hardware knowledg

[2019-02-02 06:41] Ellerbach commented on #187
@JeremyKuhne, I have to wait exactly (+-5%) 1 micro second. And there are many examples where a very precise timing like this is needed when dealing with sensors.
At this precision, as @krwq mention, the Stopwatch is affecting big time the results so it can't be used. So that's the reason why the most precise way to wait for a microsecond is a for loop with a specific value. This value dépends of

[2019-02-02 15:08] shaggygi opened #201 "SpiConnectionSettings should have a property for chip select active state"
This proposal is to add a chip select active state property to the SpiConnectionSettings class.

## Rationale and Usage
While most SPI devices are selected with an active-low chip select pin, there are devices that are active-high.  To overcome this today (to my current knowledge) is adding additional hardware logic to inverse the select line between master/slave devices.

## Proposed Changes
The

[2019-02-02 18:26] shaggygi opened #202 "SpiConnectionSettings should have a property for data flow"
This proposal is to add a data flow property to the SpiConnectionSettings class.

## Rationale and Usage
While most SPI devices us Most Significant Bit (MSB), there are devices that can use Least Significant Bit (LSB). To overcome this today (to my current knowledge) is adding additional software logic to reverse the bits during reads/writes.

## Proposed Changes
The proposed change is to add a ne

[2019-02-02 23:46] shaggygi commented on #125
One thing that bothers me is the approach on how the GpioController is initialized and sets up the pins in all the bindings.  Take the Mcp23xxx constructor for example.

[code]
When instantiating the object, we provide pin numbers (if the user wants to use).  This will, internally, instantiate the GpioController with a GpioDriver (getting the best for platform).  At this point, we can't provide a

[2019-02-03 12:57] BrianA-DK commented on #189
@maloo
You might take a peek at https://github.com/Bodmer/TFT_eSPI and https://github.com/Bodmer/TFT_eFEX
It has some extra TFT functions that is quite handy. Like support for sprites, antialiased fonts, BMP & JPEG load etc.

/Brian

[2019-02-03 13:03] BrianA-DK commented on #186
Thank you - that got me going 😃

/Brian

[2019-02-03 13:31] maloo commented on #189
Current plan is to write a bitmap/image class like RenderTargetBitmap with some basic draw ops like Adafruit Gfx lib. Then maybe add some bitblt ops.
As for images I plan a command line tool to convert bmp/png/jpg etc to a .cs file in native format.
Anyone that want a full blown graphics lib should probably just use System.Drawing with the Skia backend.
Output will be to a byte array/span. Any dis

[2019-02-03 23:44] krwq opened #204 "PwmController/PwmDevice should be bound to specific pin"
Currently the  PwmController class requires passing channel and chip every time.

There are couple of disadvantages of such approach:
- APIs are inconvenient and require user to store pin value and pass it on every call
- PWM settings along with pin have to be dragged along to all depending classes which also need to access PWM settings
- it is not known if channel is open or not
- other PWM imple

[2019-02-04 00:04] krwq commented on #200
IMO passing SpiDevice and I2cDevice sounds more convenient. Couple of reasons:
- much easier to pass around settings for anything which wants to build on top
- user has to know busId and cs anyway
- it is possible to swap it with software implementation or mock class

[2019-02-04 00:43] harvinders opened #205 "Add support for EtherNet/IP"
EtherNet/IP is another communication protocol that would be great to see in here apart from Modbus and CANBus. Most of the robots use EtherNet/IP.

[2019-02-04 18:51] JeremyKuhne commented on #187
@Ellerbach I did a ton of measurements looking at the timer loop in  #206.  1μs is about what the SpinWait class goes for until it yields, but it isn't that precise. It depends on the runtime measuring timing and that is currently not a public or documented thing.

https://github.com/dotnet/coreclr/blob/a0f81f59a7beb7120d3147c1547ef8ec1f05e0ae/src/System.Private.CoreLib/src/Internal/Runtime/Augmen

[2019-02-04 19:03] krwq commented on #121
@shaggygi you can have a ReadBool or ReadAsBool and Write with different overload. Reopening

[2019-02-04 21:49] kouvel commented on #187
The main issue with using `SpinWait` is the yield/Sleep(0) that it does may last a very long time. Also it does an exponential backoff in spin-waiting iterations up to a limit, so that would decrease the precision. For the highest precision you're probably best off to get the `Stopwatch` frequency ahead of time, calculate the minimum number of ticks for the delay ahead of time based on the frequen

[2019-02-04 23:44] kouvel commented on #187
Also depends on how fast `GetTimestamp()` is, last I checked a while back but I sort of remember it was slower on Linux. Your method probably would have the best precision, I'm not too fond of that for an API though, as the measurement is questionable (anything can be running during that), and processor frequency may also be dynamic and there may not be one iteration count that yields a specific t

[2019-02-04 23:52] vancem commented on #187
Somethign @kouvel  mentions is worth emphasizing.    In a world of dynamic processor frequency, you can't naively rely on the running-time of a piece of code being constant from one run to another.  You go special lengths (setting various typically non-portable) to turn off the dynamic frequency logic.   Uggh.   This is why it is better to use 'true time' (that is a counter that is DESIGNED to mea

[2019-02-05 00:01] kouvel commented on #187
IIRC the relative perf difference on Linux in `GetTimeStamp` was mostly on the native side in `clock_gettime(CLOCK_MONOTONIC)`, and it's different depending on whether it's a VM or not

[2019-02-05 00:09] krwq commented on #187
@kouvel this is generally needed for hardware so I'd presume VM scenarios are not that interesting (at least as of now).

[2019-02-05 00:55] kouvel commented on #187
Yea probably not a big deal on a VM, there's not much that can be done about that anyway. There is also the possibility of bypassing the native implementation, if really necessary.

[2019-02-05 12:00] shaggygi commented on #72
We should be able to close this one now.

[2019-02-05 17:17] joperezr commented on #72
Agreed, thanks for all the hard work @shaggygi

[2019-02-05 17:17] #72 closed

[2019-02-06 02:13] richlander opened #207 "Add friendly names for device bindings"
This README isn't useful for mere mortals looking at the repo to get a sense of what is available who don't have deep understanding of the space.

https://github.com/dotnet/iot/blob/master/src/devices/README.md

For example, "BMP280" could be updated to "BMP280 -- Digital Pressure Sensor", which happens to exactly match the datasheet.

[2019-02-06 02:16] joperezr commented on #207
That mames sense. I was thinking of dividing the list into sections by functionality but this would be a good first step.

[2019-02-06 02:55] #200 closed

[2019-02-06 21:25] ericstj commented on #197
I believe the current design of the GPIO library is to be a lower-level component which doesn't "know" about specific device types.

I can imagine an API for OneWire controller might look like enumerating the bus'es, enumerating the devices on the bus in a generic way, and exposing any generic commands that are available for devices without a family driver.

A device binding would look like a type

[2019-02-06 23:36] 4creators commented on #187
`This is classical real time system scheduling problem`

The requirements you described is one of the prerequisites for having any type of soft or hard Real Time System. Since currently .NET Core is not supported by any hard real time system the best what can be achieved is to run .NET Core on soft Real Time System. This is available on Linux kernel with RT patches (development is active again) an

[2019-02-06 23:44] 4creators commented on #187
@Ellerbach @kouvel

None of this is relevant in context of inherently non real time system. As long as basic requirements for having RT system are not met there is no reason to expect that 1 us medium scheduling interval guarantee can be provided.

[2019-02-07 02:54] JeremyKuhne commented on #187
Clearly we cannot provide RT guarantees. We can, however, provide higher fidelity timers then we already have and fully document the limitations. While that won't make us real-time that will still benefit some of what we're looking at. In my scenario pulsing data for an enable pin has a minimum requirement, but no max. That minimum can be as low as 230ns. A number of the timings need accuracy of a

[2019-02-07 02:59] krwq commented on #187
@4creators we don't need guarantee, just high confidence :smile: As @Ellerbach mentioned somewhere before he gets some occasional errors but he is able to detect it.

Some slightly more reliable solution could be perhaps writing some kernel module which takes a callback or just sets a pin to specific value/pattern for specific time (i.e. user specifies period=500ns and passes the array: [0,1,1,1,0

[2019-02-07 04:11] kouvel commented on #187
@JeremyKuhne I think I'm seeing about 20 ns for `Stopwatch.GetTimestamp()` on my x64 Windows machine, which is about the same as what I'm seeing from the native side. 180 ns does seem to be a bit high, can you post the code you're using to measure it? Here's the code I used:

[code]

We already measure spinning but the measurement is questionable and can vary a lot. Limits are placed so that a bad

[2019-02-07 14:56] skufirin opened #210 "Add bindings for LCD RGB Backlight"
Grove LCD RGB Backlight needs a binding.
http://wiki.seeedstudio.com/Grove-LCD_RGB_Backlight/

[2019-02-07 15:00] SergeyRazmyslov commented on #210
I'm working on this now. I'm going to publish PR soon.

[2019-02-07 15:07] SergeyRazmyslov commented on #195
Binding for LCD display from this kit will be added in https://github.com/dotnet/iot/issues/210

[2019-02-07 23:34] richlander commented on #207
Fixed: https://github.com/dotnet/iot/commit/8ce4e3da2b8690dab1144dc87626ea4bf2f5e427

[2019-02-07 23:34] #207 closed

[2019-02-08 19:15] joperezr commented on #8
This will be needed for our testing story in the lab. I don't expect this infrastructure to be built-in the library itself, but instead some extra infrastructure we have for our testing strategy. If no-one picks it up, I'll take a look at this soon.

[2019-02-08 19:21] joperezr commented on #13
Is the main idea of this to have just a line or two in the documentation to show how this should be done?

[2019-02-08 21:07] #88 closed

[2019-02-08 22:26] joperezr commented on #125
I don't think we can consider this one done, in fact @JeremyKuhne just send out the PR to add IGpioController into the main library. In any case, I think we still want to keep this open as we also will eventually need a ISpiController, IPwmController and a II2cController for the same reasoning.

[2019-02-09 09:58] johnastaf commented on #173
I'm working on binding for 28byj-48 motor from Grove kit. I will send PR soon

[2019-02-09 14:06] ZhangGaoxing opened #213 "PinEventTypes needs type Changing"
I want an event to happen when pin value changing, but PinEventTypes does not have Changing.

In windows 10, codes like this
[code]

### My Suggestion
**PinEventTypes** just use in RegisterCallbackForPinValueChangedEvent(int pinNumber, PinEventTypes eventTypes, PinChangeEventHandler callback) and add **GpioPinEdge** to describe types of value change.

For example:
[code]

[2019-02-09 20:41] shaggygi commented on #125
What are some of the thoughts being pondered for II2cController and ISpiController?

[2019-02-09 22:10] shaggygi opened #214 "I2C APIs should take address on Read/Write"
I started a binding for the [At24Cxx Serial EEPROM](http://ww1.microchip.com/downloads/en/devicedoc/doc0180.pdf) and wanted to ping for thoughts before proceeding.

The problem I noticed while reading the datasheets is the I2C addresses vary based on the size of memory.  For example, the AT24C01/AT24C02 uses the hardware pins for addressing A0-A2 and the page addresses are in the first byte read/w

[2019-02-10 13:34] shaggygi commented on #214
Came across this [Python library](https://raspberry-projects.com/pi/programming-in-python/i2c-programming-in-python/using-the-i2c-interface-2) where they use the address in all methods.

[code]

This is a little redundant, but approach would fix this thread's issue.  It also allows you to only have to create one object to communicate with multiple devices on the bus.  Of course, this is a big diff

[2019-02-10 14:06] shaggygi opened #215 "Create New GpioPin and IGpioPin"
It would be nice to have the ability to provide actual GPIO pin objects to bindings instead of pin numbers.  Currently, we usually have to provide a GPIO controller along with pin numbers or just the pin numbers and the binding will create the controller and configure the pins.  This is a limitation as the pins are usually all on the same controller where I might want to mix it up between dev boar

[2019-02-10 14:07] shaggygi commented on #215
/cc @krwq

[2019-02-11 02:12] krwq commented on #215
@shaggygi I actually thought about it a bit and we don't need to change existing design. We will need to add new types of controllers which will map to other controllers.

Example would be something like VirtualController where you can say:
- map this IGpioController to this pin address space
- you will need to have a way of getting virtual address given sub-controller and address in sub-controlle

[2019-02-11 05:30] krwq commented on #214
@shaggygi I think for now my recommendation would be to expose the address field in the I2C through property and for now set it before the write. As we add more devices let's comment on this issue every time we have to do it (this should be cumbersome enough that someone will find this issue or create a similar one).

As for the auto-selecting I2C device, please create seperate issue since it will

[2019-02-11 07:03] krwq opened #218 "We should use project references instead of package references"
Recently we have broken the build but the check in which broke it was green on the CI. This could have been avoided if we have uses project-to-project (P2P) reference instead of package reference. Right now build will be broken only after the package with breaking changes is produced.

Technically we could use the the local nuget package source to be able to use package reference but arcade doesn'

[2019-02-11 11:25] shaggygi commented on #214
I'm not sure, but I think this could cause issues with the Windows I2cDevice.  See code link below where it is initialized using the DeviceAddress.  I guess it could execute the code again to verify and store _winI2cDevice again when the DeviceAddress is changed.

https://github.com/dotnet/iot/blob/91c047194b15fdd355976ad6d7f02908961a8d64/src/System.Device.Gpio/System/Device/I2c/Drivers/Windows10I

[2019-02-11 18:09] joperezr commented on #125
Apparently just as there are devices such as the MCP Gpio extenders, there are also I2c bus extenders. According to @JeremyKuhne they work basically like a switch that you communicate to through I2c, which is connected to 3 virtual I2c buses. With these type of devices, you can have multiple devices of the same type (which would have the same I2c Address) on the same I2c bus since you have this ex

[2019-02-11 19:02] joperezr commented on #218
Using the local NuGet package would be hard to accomplish. We could instead try using project references instead but it won't be as simple as just changing that, since the main library currently cross-compiles for different RIDs so you would have to specify a RuntimeIdentifier every time you have a P2P. We could solve this by adding some more complex infrastructure like the one corefx has in order

[2019-02-11 19:38] JeremyKuhne commented on #214
To make sure I'm clear- you're suggesting this?

[code]

My initial reaction is that it would be a bad idea as it isn't broadly applicable and, as you point out, likely to confuse people. If I were presented with this problem I'd start exploring from this idea:

[code]

Take all of this with a grain of "I just started looking at this". :)

[2019-02-11 22:43] joperezr commented on #54
I believe this one was done already by #69

[2019-02-11 22:43] #54 closed

[2019-02-11 22:47] joperezr commented on #70
For this one, one thing I was planning to do is to get common static methods like the ones you suggest, and have that code live on a Common folder under src/devices. Once we have it there, then different device bindings can just add the specific .cs file they need to the Compile item if they require that functionality/method in their binding. In the end, we will package every bidning (and the comm

[2019-02-11 22:54] joperezr commented on #64
For that question I believe we have been using plural. I was looking at this thread and it seems like all the concerns/questions around naming have been answered, so I'll close this issue for now. @shaggygi if you still see any issues or have any questions around naming feel free to reopen this.

[2019-02-11 22:54] #64 closed

[2019-02-11 22:58] joperezr commented on #84
Do we really need to ship this binding as a NuGet Package? Is there a NuGet convention for project templates? IMHO I would consider this issue done, given that the main consumers of the template will be people contributing to our repo, so installing it from the local path seems like a good enough solution to me. What do you think @shaggygi ?

[2019-02-11 23:04] joperezr commented on #87
This makes sense, there is no particular reason why to use Span, so I agree that we should be using ReadOnlySpan for writing as well. I'm marking this up-for-grabs. @arkadiuszwojcik let me know if this is something that you would be interested in fixing.

[2019-02-11 23:07] joperezr commented on #90
The thing about this is that technically ADC is not really a communication protocol, so I'm not so sure if the right place for this would be the main library with a namespace like System.Device.Adc. IMO, this is something that should probably live on the device bidnings package instead, perhaps some sort of interface that all ADCs need to implement.

[2019-02-11 23:08] joperezr commented on #92
This one is done.

[2019-02-11 23:08] #92 closed

[2019-02-11 23:10] shaggygi commented on #70
@joperezr this makes sense and to be clear these were created at different times with different things in mind (although they now seem to overlap).  APIs like BCD seem to fit more with the scenario of the graphics API in #178.

The [bit manipulation API](https://github.com/dotnet/corefxlab/issues/1085) could also be useful outside IoT APIs, but still fits here as well.  You can close this or #178

[2019-02-11 23:13] joperezr commented on #70
I'll close this one because I feel is the more general question of where to put common code, which we now have an answer for. I'll keep #178 open to track the graphics library progress.

[2019-02-11 23:13] #70 closed

[2019-02-11 23:17] shaggygi commented on #84
No, a package isn't really needed and users can install as is.  Markdown should explain enough to get them going.  I'll go ahead and close.

[2019-02-11 23:17] #84 closed

[2019-02-11 23:19] shaggygi commented on #64
@joperezr  Yes, I think I'm good on this for now.  Thx

[2019-02-11 23:34] joperezr commented on #84
BTW, this was used a lot during the hackathon and everyone that did pointed out how useful it was to get started with it, so just extending the kudos to you who actually did all the work.

[2019-02-11 23:38] joperezr commented on #100
I'm not sure of concrete workitems that can come out of this. I know that you logged this some time ago and a bunch of changes to documentation have happened since, do you think this is still an issue? Is there a specific thing we should add to our existing docs?

[2019-02-11 23:41] shaggygi commented on #84
Thx.  You pointed out a few goodies to make it better, as well :+1:

[2019-02-11 23:42] joperezr commented on #107
I still don't think that this method would provide enough value for the potential cost (in some drivers this would require either a read/write operation, or it might also require some state to be preserved). Also, this could be easily implemented on a consumer's app in case they really need this functionality. I would like to see more feedback regarding this in order to consider it has enough valu

[2019-02-11 23:46] joperezr commented on #108
I'm not sure this would have enough value in order to have it on our main library API. On the other hand, if more than one device binding needs this, I would be ok if a method like this lives under src/devices/Common and have those bindings that need it to optionally call into this method. If we do want that, this could live in a class like GpioControllerExtensions.cs which looked something like:

[2019-02-11 23:48] shaggygi commented on #100
I was originally thinking it would be good to have an overall doc that explained the basics down to more technical detail.  Sort of explaining with diagrams and such for peeps to understand structure of things like device/controller and how it fits with with the different OS/hardware boards.  I'm not sure the best format (markdown, slides, etc.), but the dust needs to settle (new talks of controll

[2019-02-11 23:51] shaggygi commented on #108
This is another one of those "nice to haves", but not needed.  I've only come up with one binding that would need and that small amount of code could reside in its own API.  I'll close for now.

[2019-02-11 23:51] #108 closed

[2019-02-11 23:52] joperezr commented on #100
I see, ok that makes sense. We don't need to close it, issues don't have to mean that it is a problem we need to fix right away, so it's fine to keep it open I just wanted to make sure that all of the documentation changes that we have been working on had not already covered this.

[2019-02-11 23:54] shaggygi commented on #107
I like this one better than Clock() proposal.  However, I can only recall using it in with the GpioSpiDevice proposal (#122).  I'd go ahead and close for now.

[2019-02-12 00:01] joperezr commented on #111
@bigdnf have you had the chance if @shaggygi suggestions work in your scenario?

I don't see that in the example @bigdnf is using an empty array or Span, so that might be a different issue.

I believe that this is an actual bug if we aren't checking the size, and if so, I would probably even throw an exception maybe if the read buffer or writebuffer is 0 as this shouldn't be allowed.

[2019-02-12 00:04] joperezr commented on #121
I believe that this experience should be better now that PinValue is a struct right? You should now be able to use either int or bool on the write method by just casting. @krwq do you agree that after this change we don't need these extra Apis any longer?

[2019-02-12 00:09] joperezr commented on #122
There has been some changes lately around what to do with communication protocols. We now plan to create protocol interfaces, `IGpioController` has been added already, but we want to add similar ones for IPwmController, ISpiController, and II2cController. I think it would be better to first finish defining those remaining ones, and that way we can switch our current hardware implementation of the

[2019-02-12 00:41] krwq commented on #90
@joperezr ADC is a device so System.Device sounds like a good place :smile:

[2019-02-12 00:47] joperezr commented on #90
For the namespace we’ve been using System.Device.<CommunicationProtocol> Where Communication protocol is a device protocol. We currently have Gpio, Pwm, I2c, and Spi. That means that this would be the first namespace where the third part of it is not a protocol. For device bindings. We have been using Iot.Device instead, so this would probably be something like Iot.Device.Adc

[2019-02-12 01:33] shaggygi commented on #90
@joperezr so are you suggesting not having System.Device.Adc in core API similar to System.Device.Gpio/I2c/Spi/Pwm?

If so, I disagree as there are dev boards that have true ADC pins (like BeagleBoard Black).  We should have similar classes/interfaces for controllers/drivers as we're doing with Gpio/Pwm.  Therefore, dev boards and bindings could implement them.  For example, the Mcp3008 could also

[2019-02-12 02:02] #213 closed

[2019-02-12 02:26] krwq commented on #90
I think we should not think that much about how to package this yet and rather what abstraction is useful right now. Once we are closer to shipping then we have more conversations of what to put where (and it makes sense to put pure abstraction in different place than implementation) but I think we still got some time until then and as long APIs are experimental it is easier to put them in one bag

[2019-02-12 02:31] krwq commented on #214
@JeremyKuhne this would also align with IGpioController since it also has addresses and Read/Write :smile: We could unify a lot of things this way

[2019-02-12 03:06] krwq commented on #121
I think I'm fine with this as us after @JeremyKuhne's changes. @shaggygi? (closing this assuming you agree)

[2019-02-12 03:06] #121 closed

[2019-02-12 03:12] krwq commented on #179
Hey @tawalke, is the branch ready for review yet? What's the remaining work there? :smile:

[2019-02-12 04:22] tawalke commented on #179
Hi Krzysztof:

The base class lib is completed, I need to publish the changes made to the 7Segment class for this lib so that the branch can be reviewed.  Will do later this week.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Krzysztof Wicher <notifications@github.com>
Sent: Monday, February 11, 2019 10:13:00 PM
To: dotnet/io

[2019-02-12 10:54] shaggygi commented on #214
No, I would like this approach since we have to use address when creating settings and device.  It was mainly for ideas and show it is similar to other GPIO libraries.

[2019-02-12 17:52] joperezr commented on #90
I see, I actually wasn't aware that there are some devices that have pins for this particular pourpose which then does mean that it would make sense to have this on the main library. In any case, as @krwq says, I think that because of what @shaggygi brings up it would be fine to put the implementation on the main library for now, and move it later if we don't think it should be there once shipping

[2019-02-12 19:02] JeremyKuhne commented on #214
I only did a brief look at https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/I2c/Drivers/UnixI2cDevice.Linux.cs.

There is value in having `I2cDevice` be analogous to `SpiDevice`. I've got concerns about `I2cDevice` actually conceptually being `I2cBus`, which is what it would be if you could change the address on the fly. We could change `I2cDevice` to `I2cBus` that ju

[2019-02-12 20:27] shaggygi commented on #214
IMHO, I still think it should be `I2cDriver`.  For a few and some mentioned before...

* I2cDevice is technically what the binding would be.  Like an Mcp23xxx, so it doesn't make sense to pass it an I2cDevice object.  An I2cController or I2cDriver (and SpiController/SpiDriver) naming seems better.
* I2cDriver can be compared to GpioDriver where an I2C Read/Write(int address...) is similar to GPIO

[2019-02-12 20:54] krwq commented on #174
related: https://github.com/dotnet/iot/issues/179

[2019-02-12 22:29] joperezr commented on #126
Hey @shaggygi thanks for bringing up all of these good questions. I do agree that there are some inconsistencies across our library today, which should get fixed before we ship a stable package. For example, I don't like the fact that Gpio and PWM have a controller which is what you interact with and don't have a specific device object (which in this case would be a GpioPin or PwmPin) but in I2c a

[2019-02-12 22:32] joperezr commented on #129
I think we can add the WriteRead method, but individual device bindings should still have to think about the specific protocol they require (meaining the Restart bit that you mention above) since that can't really be generalized. I would expect each binding to have all of that logic in their source code, and then call either Write(), Read() or WriteRead() methods as appropriate.

[2019-02-12 22:33] joperezr commented on #129
Next steps for this:  We would need a formal Api proposal for this in order to consider adding it to the library, so feel free to submit one.

[2019-02-12 22:35] joperezr commented on #134
@shaggygi given that this was just a question, would you be ok if we close it? Or do you think we should try to move the board specific drivers out of the library and use this issue to track that?

[2019-02-12 23:24] shaggygi commented on #134
Yeah, I think it would be better to rename this and keep if the longer term plan is to remove the board specific code out.

[2019-02-12 23:39] shaggygi commented on #126
Sounds good.  It might be worth to keep some action items (checkboxes) on this as the main place to confirm the overall API changes that need to happen to call it complete (even if there are other issues created for specific action items).

I agree the namespaces help separate out (although preferred to include).  I just want to make sure (if possible) to make different sections close that make se

[2019-02-12 23:55] shaggygi commented on #129
Just to note, all the bindings I've worked with appear to work by setting register pointer using a Write first and then follow up with the Reads.  So it hasn't hindered me so far.  Most of the device datasheets have diagrams on the steps to perform where a few had some more complex steps to do things like sequential writes/reads (and for more than one cycle of Writes/Reads within one command).

I

[2019-02-13 10:24] bigdnf commented on #111
@joperezr sorry for my delay with testing this - I will try to give feedback as soon as possible.

[2019-02-13 11:19] shaggygi opened #225 "Add CY8C95xx I/O Expander with EEPROM Binding"
Add new binding to list.  https://www.cypress.com/file/37971/download

@joperezr Go ahead and assign to me.

[2019-02-13 11:22] shaggygi opened #226 "Update Pca95x4 with IGpioController"
@joperezr Go ahead and assign to me.  This will be a good exercise for better understanding on the good work @JeremyKuhne has done.  Most likely, we will have a circle-back to update the I2cController stuff, so this will focus only on the IGpioController for now.

[2019-02-13 18:12] joperezr commented on #111
no worries at all, just wanted to check if that was something you still had in your plans 😄

[2019-02-13 18:55] JeremyKuhne commented on #226
Note that I've got a new library with Pcx857x support in it that I hope to get a PR open for today.

[2019-02-13 19:11] shaggygi commented on #226
Another side note... we might want to review #135 at some point since expanders support other pin modes in addition to what the current core API includes.  For example, a couple of the MCPs have open-drain outputs.  This might be a good exercise to do sooner than later as I noticed there are some places in the core GPIO that would have to be updated, as well.

[2019-02-13 19:43] joperezr commented on #137
Usually as long as you stay in C#, having a property name match a type name is fine. That said, some other languages won't allow this, and so in scenarios like sending a serialized version of data from c# over to a web client (written in a different programming language) might have issues parsing or understanding why does the type name match the property name. Because of this reason, I thought of

[2019-02-13 21:15] JeremyKuhne commented on #226
https://github.com/dotnet/iot/pull/229 is the initial Pcx857x PR.

[2019-02-13 22:28] JeremyKuhne opened #230 "Add `PinVector` classes for GPIO."
Pin numbers and values can often be stored in bit vectors. This is particularly useful for GPIO expanders where pin numbers are sequential where bit masks can ease storage of state and allow converting directly to data to send to the controllers.

We should add `PinVector32` and `PinVector64` bit structs that encapsulate this concept and allow converting lists of pin/value pairs to bit vectors. (`

[2019-02-13 22:52] JeremyKuhne commented on #230
@bartonjs, @krwq, @shaggygi, @joperezr

This is broadly useful when writing device drivers and is also usable in other scenarios. We could make this an internal common thing (with a lot of copies) but I'm pretty confident that it would be good to have public.

While the vectorization of `PinValuePair` isn't super complicated, it is error prone. I'm also expecting that we'll find value in adding ma

[2019-02-13 23:05] joperezr commented on #230
What would Pins uint value mean for each bit? (would a 0 mean that the pin is disabled and a 1 mean that the pin is enabled?)

[2019-02-13 23:08] joperezr commented on #230
This does work fine in some cases, like the mcp gpio expanders where all pin numers are 0-indexed and the pin numbers are continuous, but that is hardly ever the case for actual GPIO Boards. For this reason, I'm leaning into having these classes live in src/devices/Common and imported by each binding when they see fit. If the main library would use them, then that would be different, but I don't b

[2019-02-13 23:21] JeremyKuhne commented on #230
`Pins`: `1` pin has a value, `0` pin doesn't have a value.
`Values` `1` pin is high, `0` pin is low.

True, but that doesn't preclude them being used in other scenarios. The more important thing here is that this is broadly useful when writing drivers- if I want write my own private driver/adapter/etc. or derive from one of our classes I'm now stuck importing/copying source. To have the bar be tha

[2019-02-14 00:01] JeremyKuhne opened #231 "IOT device tests should use MOQ for testing"
Using a mocking framework will make tests more robust and easier to follow as frameworks allow easier expressing of intent over making manual mocks.

MOQ is the standard: https://github.com/moq/moq4

Starting Guidelines:

1. _Prefer_ to use MOQ to generate mocks
2. _Prefer_ strict mode mocking (calls to non mocked API throw)

@krwq, @joperezr, @shaggygi

[2019-02-14 03:52] krwq commented on #230
I agree on the abstraction but I think `Pins` should be `PinMask` since it's more obvious in intention

[2019-02-14 18:59] shaggygi opened #233 ".NET IoT needs a logo"
This is more of a fun geek-out than anything, but it seems like this repo/project should have some type of logo to represent.  You can see other project logos on the [.NET Foundation site](https://dotnetfoundation.org/) like Prism, etc.

/cc @joperezr @richlander any thoughts or resources that could design something?

[2019-02-14 20:22] JeremyKuhne commented on #231
Note: In my first attempt to use this I can't seem to get MOQ to work with `Span<>`. I'm not finding any info on how to set that up. The generated proxy throws an `InvalidProgramException` with `Cannot create boxed ByRef-like values.` when trying to mock `SpiDevice` and call `Write()` on it.

[2019-02-14 21:12] robertsundstrom commented on #175
@krwq I just started to port a module that I had previously contributed to another project, then I saw that you already had started making one. What is the status?

Anyway, here is my port: https://github.com/robertsundstrom/iot/commit/7cfba1f35dd5f5d5eb0b16347c4453eb2fab229d

It needs some polishing on the interface, as it is based on older code written in Java and Python.

[2019-02-14 23:59] JeremyKuhne opened #234 "Add support for 2/3 color e-ink displays"
Many of displays are driven by ICs from ILI Technology, such as those from Waveshare and Good Display.

I have a display from Waveshare that is driven by the IL0376F. I'm writing a hopefully generic base driver that can be used to implement the following chips:

IL0326, IL0371, IL0373, IL0376, IL0389 (and others?)

I haven't done an exhaustive search, if anyone else has links to other chips in thi

[2019-02-15 04:01] krwq commented on #175
@robertsundstrom I have only barebones (the super low level stuff), reading UIDs from MIFARE tags and detecting presence of card (no authentication) but was mostly porting https://github.com/miguelbalboa/rfid with some improvement and the code is currently very far from pretty (although I have made it mostly non-allocating) - I still do not fully understand some of the pieces from that code (I onl

[2019-02-15 06:59] krwq commented on #175
Seems https://github.com/dalmirdasilva/ArduinoRadioFrequencyIdentification/blob/master/ReaderMFRC522/datasheet/TagTypes.pdf has some more high level description on different types of tags. All tags have some kind of UID and some devices allow to change the data and then permanently lock the data. Depending on the tag type they have different protocols on what can be done on them with some common s

[2019-02-15 07:00] krwq commented on #175
@robertsundstrom also please make sure the license on the code you are porting is fine (in the case of library I shared it is public domain)

[2019-02-15 16:20] maloo commented on #197
I hope to get some spare time this weekend to start looking into the iot repo. Do you want me to do a PR using the Api you proposed? I need to do this anyway now to access my temp sensor. Or do you have a branch with some progress?

[2019-02-15 16:21] maloo commented on #197
Do you expect to force a new bus device enumeration when EnumerateDevices is called? Or just list what is available in /sys? If the latter, maybe GetDevices() is a better name.

[2019-02-15 16:23] maloo commented on #197
Do you think Open should block other processes from accessing the device? Or what is the intended purpose of it? Close needed too? IDisposable?

[2019-02-15 16:26] robertsundstrom commented on #175
@krwq I also lack sufficient knowledge about the hardware and protocol.

As I have said, the code was ported to C#, and then rewritten when I contributed it to Unosquare.RaspberryIO. They built a thin but better interface.

I suggest having a look at it.

[2019-02-15 16:27] maloo commented on #170
Are you guys available for comments/review during weekends? Or you respond during MS working hours? Trying to plan my work...
Is it OK to do a mixed PR with multiple bindings/samples and libraries for initial comments? Or do I need to split it before pushing? Easier to work on all dependent parts at once and split in git once done implementing...

[2019-02-15 16:33] robertsundstrom commented on #175
Unosquare.RapsberryIO

Source: https://github.com/unosquare/raspberryio/tree/master/src/Unosquare.RaspberryIO.Peripherals/Rfid

Playground: https://github.com/unosquare/raspberryio/blob/master/src/Unosquare.RaspberryIO.Playground/Program.Rfid.cs

[2019-02-15 16:37] robertsundstrom commented on #175
I would not create a higher level abstraction unless the purpose is to handle multiple types of readers and formats through one common interface.

[2019-02-15 22:17] JeremyKuhne commented on #87
They should also use "buffer" as the term. And single items should be "value". So:

[code]

See https://apisof.net/ to find existing patterns. https://apisof.net/catalog/System.IO.Stream.WriteByte(Byte) for an example.

[2019-02-15 22:22] shaggygi commented on #87
I had a related discussion with @joperezr about data/buffer during an earlier PR.  He might want to chime in on the thinking/naming.

[2019-02-15 22:28] JeremyKuhne commented on #87
Note that I am not the API review process myself, but what I'm pointing out is based on my experience with that process. Which is hopefully going to get us closer than we would be otherwise. 😆

[2019-02-16 03:32] shaggygi commented on #124
With the introduction of `IGpioController` and `PinValuePair`, I'm wondering if it would be worth changing proposal slightly to work with them.  Instead of controlling the pins directly, `GpioPort` would be more of a helper between total values & pin values and vice versa.

[code]

[code]

I have not fully grasped the `PinVector` proposal and seems similar, so this change might be overlapping a li

[2019-02-16 04:01] shaggygi opened #238 "Should IGpioController OpenPin and SetPinMode have overloads for multiple pins"
This could be for scenarios with bi-directional data, using possible [GpioPort](https://github.com/dotnet/iot/issues/124) or other implementation, where you need to change the `PinMode` when changing direction back/forth on data bus.

[code]

[code]

[2019-02-16 04:22] shaggygi commented on #124
Referencing #230 as it appears to be a similar concept.

[2019-02-16 04:49] shaggygi commented on #124
Another thought... we could actually just get rid of `GpioPort` and add all the logic within PinValuePair using static methods.

[code]

[2019-02-16 09:14] krwq commented on #238
@shaggygi GpioPort proposal sounds reasonable and should solve this as well, let me take a closer look at the other issue

[2019-02-16 09:18] krwq commented on #124
@shaggygi what about perhaps splitting this into two parts:
- create class which allows looking at GpioController contiguous block of pins as memory (so for i.e.  gpio extenders you don't need to do anything special with indices and they could potentially implement some common interface)
- create a GpioController implementation which allows remapping pins

this way you have 2 classes which allow m

[2019-02-16 09:33] krwq commented on #175
fair enough, @robertsundstrom I'm fine with you picking this up and I can help/join in both writing and testing. Please make sure to add some APIs to read UID and add couple of samples on the authentication. Feel free to use the code I shared in any way if you find anything useful there. The moment we add second similar device we can think about having common abstraction - until then I'd stick to

[2019-02-16 10:18] krwq commented on #87
@JeremyKuhne I've sent PR with the fix but did not include any naming changes

We should re-iterate on all of the APIs at one point separately

[2019-02-16 12:50] shaggygi commented on #238
Thanks @krwq.  I don’t think this should be limited to just the GpioPort, but on all controllers.  I updated title for IGpioController.  You might have only a few pins on a RPi you want to change quickly, as well.

[2019-02-16 13:25] shaggygi commented on #124
This is somewhat of the idea. The main feature I'm looking for is ability to easily convert a value to (only specific pins) values and vice versa.  Meaning, value 0x0E creates pin values of High, High, Low, High.  With the PinValuePair, the values would be attached to respective pin numbers so you could pass along to any controller implementation's Write method.

The remapping could be accomplishe

[2019-02-16 16:54] krwq commented on #170
@maloo you might have less comments and depends on the weekend.

We have usually tried adding sample at the sample and README at the same time.

I think at minimum tiny sample is required so that people can know how to use it (you can put the same sample in the README - just add few words what device you are adding and paste the sample)

[2019-02-17 03:59] maloo commented on #170
Ok, I had some time today, so put together a Neo Pixel binding and sample. Will push it and await feedback before doing more (w1, gfx lib, display bindings).

[2019-02-17 19:05] krwq commented on #189
I personally can live without drawing utils since you can do all of that in few lines of shader-like code but definitely font utils and common interface for all similar devices is a must for me.

I think we should find a common interface first before doing GFX stuff (although this does not necessarily conflict each other).

I think the interface should be based on the Color (or RGB888) class and t

[2019-02-18 00:48] maloo commented on #189
Yes, bitmap fonts is a must. Event for "larger" SBC displays like the 3-4" TFTs. Above that people should use System.Drawing/Skia/GLES/etc. For Fonts I think a single fixed font should be enough. And then a tool for users to generate their own fonts when needed. That is, pay for what you use.
After looking around in .NET System.Drawing (Forms) and System.Windows.Media (WPF) I realize they both use

[2019-02-18 03:22] krwq commented on #189
@maloo I suggest to update the first post with API proposal and we can iterate on that.

[2019-02-18 05:59] krwq opened #245 "Add bindings for LSM9DS1"
Accelerometer + Gyroscope + Magnetometer

This is part of SenseHat: https://github.com/dotnet/iot/issues/196

[2019-02-18 14:48] #210 closed

[2019-02-18 15:54] SergeyRazmyslov opened #249 "CharacterLcd.Sample pin numbers do not match with wiring."
Hi Guys!

I noticed that the samples for Character Lcd display are not working on Raspberry Pi because the pin numbers do not match with wiring from readme file. I've added fix for the 16x2 display connected via GPIO as part of #248

Unfortunately I do not have 20x4 display and Mcp23008 extender to check other samples but I think these samples are incorrect as well.

[2019-02-18 21:30] robertsundstrom commented on #175
Alright. I will see what I can accomplish. Will notify when I have something.

[2019-02-19 01:27] #170 closed

[2019-02-19 01:29] krwq commented on #249
@SergeyRazmyslov thanks for spotting and sending a fix! Let's fix per case (so let's close the issue when original issue is fixed and file new one when we can confirm it is broken)

[2019-02-19 04:15] krwq opened #252 "Add bindings for HTS221"
Temperature and humidity sensor
This is part of SenseHat: #196

[2019-02-19 04:16] krwq opened #253 "Add bindings for LPS25H"
Pressure sensor
This is part of SenseHat: #196

[2019-02-19 08:33] Ellerbach opened #255 "IGpioController to support analogic read and write"
It would be great to have the IGpioController to support analogic read and write. That would allow more scenarios. I would be able to implement the interface on GrovePi (see PR 246).
GrovePi offers functions like AnalogRead and AnalogWrite (same as on an Arduino) and allows to read and write analogic values.
Interface should also contains a MaxAdc value.

[2019-02-19 09:25] emmellsoft commented on #196
I have a working C# implementation (currently UWP) that I am porting to .NET Core.
https://github.com/emmellsoft/RPi.SenseHat
Almost completed.

[2019-02-19 10:53] shaggygi commented on #255
I believe the plan is propose and add IAdcController at some point.  See #90

[2019-02-19 12:57] Ellerbach commented on #255
Yes, that would then make it. I'll comment on the other issue.

[2019-02-19 13:00] Ellerbach commented on #90
That would be really good to have an IAdcController interface like the IGpioController one. I would be able to implement both on the GrovePi (see https://github.com/dotnet/iot/pull/246) to be used fully transparently as a both devices. that would simplify how to create some basic sensors like basic buttons, basic analogic sound sensors, etc.

[2019-02-19 13:26] DemoS76 opened #257 "Add Ws2808 LED driver binding - Refactoring existing Ws2812B bidning"
Add binding for Ws2808 LED driver
[https://datasheetspdf.com/pdf-file/806051/Worldsemi/WS2801/1](url)

[2019-02-19 17:03] joperezr commented on #238
@JeremyKuhne and I discussed this, and we conclude that at least for now we didn't have enough scenarios where you would want to change the pin modes many times and to do it with high performance. Because of this, we decided to for now only allow the Write with  multiple pins because that definitely was a very common scenario and we wanted to be as performant as we could in that case.

@shaggygi d

[2019-02-19 17:08] joperezr commented on #87
I didn't know that we had an existing pattern for Write where we also called it buffer. What @shaggygi and I discussed in the past, was that it made sense for reading for it to be a buffer since that is where the API will be writing into, but thought that for writing it wasn't really a buffer you fill, but instead just data that you write which is why we had it like that. If we have an existing pa

[2019-02-19 17:19] #87 closed

[2019-02-19 19:08] joshfree commented on #255
@krwq is this something you could help add this week before we ship the next update to nuget on Friday?

/cc @joperezr

[2019-02-19 19:09] joshfree commented on #233
@shaggygi any brainstormy ideas for a specific logo that would scale well in size?

[2019-02-19 20:41] joshfree commented on #231
@ahsonkhan

[2019-02-19 20:42] joshfree commented on #194
@dagood @terrajobst could you give us a quick hand?

[2019-02-19 20:47] joshfree commented on #196
Thanks @emmellsoft for looking into porting the SenseHat binding!

/cc @krwq

[2019-02-19 20:53] dagood commented on #194
Poking through your official build, it looks like when @joperezr updated the version of Arcade recently, this problem went away. (Extract the nupkg and look at the nuspec.) I know there was an Arcade issue detecting the URL properly in official builds at some point.

Old packages can't be updated (and I don't think there's a specific exception for URLs), but next release will show the right URL.

[2019-02-19 21:17] krwq commented on #196
@emmellsoft really cool! I've also added some basic implementation in the PR over the weeken: https://github.com/dotnet/iot/pull/242 - I've seen you have a lot of stuff we currently don't have - any chance we could merge this together? (calibration, drawing utilities, more control over the sensors etc)

[2019-02-19 21:32] krwq commented on #255
@joshfree I can help with the abstraction but not sure if will have time for any implementation.

@shaggygi it seems we need two abstractions:
1. ADC device
2. Controller with ADC pins which could perhaps include ADCs

[2019-02-19 22:13] shaggygi commented on #255
I haven't thought it through, but seems like it would be similar to Gpio classes including Linux and Windows10 classes along with the related pin classes.  I don't think we need the dev board drivers (RaspberryPi3, etc.), but not completely sure.

| namespace System.Device.Gpio  | namespace System.Device.Adc  |
|------------------------------------|----------------------------------|
| GpioControl

[2019-02-19 22:26] shaggygi commented on #238
While I have not had the need on using with bindings yet, I see this being helpful when working with bi-directional data buses to parallel memory, logic latches, etc.  Now that more GPIO controller-types are being added, seems like a "nice-to-have", but not a must.  I guess the individual app could include the code to set the mode in or out when needed.  Maybe keep issue open and add to Future mil

[2019-02-19 23:09] shaggygi commented on #233
Not really, but pinging @jongalloway as he might have some willing/designer resources from the .NET Foundation.

[2019-02-19 23:12] shaggygi commented on #214
@joperezr this one might need a milestone assignment as decision could change the API surface.  Thoughts?

[2019-02-19 23:29] joshfree commented on #169
This sounds like something that needs an ADC.  @krwq do you have more details?

[2019-02-19 23:31] joshfree commented on #8
@MichaelSimons do you have any thoughts on this from the docker side of things?

[2019-02-19 23:32] joshfree commented on #167
Fixed by https://github.com/dotnet/iot/pull/190.   Thanks @ZhangGaoxing

[2019-02-19 23:32] #167 closed

[2019-02-19 23:52] buyaa-n commented on #169
Yes it is there for bindign with Mcp3008 https://github.com/dotnet/iot/pull/198

[2019-02-20 00:02] krwq opened #258 "Iot.Device -> Iot.Thing?"
Should we rename Device to Thing? Since IOT is internet of things and not devices.

cc: @richlander

[2019-02-20 00:07] joshfree commented on #258
IoT.Thing sounds a bit redundant (Internet of Things Things)

[2019-02-20 00:10] krwq commented on #214
After having worked with a few I2C devices over the weekend I thing tying to specific address is better and doing I2CBus as @JeremyKuhne has suggested for that specific use makes sense.

I had worked with 1 device which used 2 different addresses so far and in this particular case it was used to communicate with 2 different sensors on the same device so I also treat this device as 2 - for one or t

[2019-02-20 00:11] joperezr commented on #258
Device kind of sounds better to me as well, but that is probably just because I’m used to thinking of them as devices. I don’t have strong feelings against either option.

[2019-02-20 00:28] krwq commented on #258
I was thinking of 2 namespaces under Iot:
- Thing - devices/sensors
- Net - protocols and way of describing how things to talk to each other

[2019-02-20 00:40] krwq commented on #12
I'm not sure I understand this issue. Currently Raspbian prints the IP on the console when booting and that can be read using serial ports using UART pins which are enabled by default.

Other thing is that you can modify the raspbian image before sending it to your SD card and add a script which broadcast the IP and ID to some server (that's what I currently do at home and can share that if anyone

[2019-02-20 00:44] krwq commented on #13
I can show how to do that, as I have already done that at home for my robot I was playing with.

What I did is started detached tmux by adding script to /etc/init.d and link in rc.d.

I tried to do that without tmux but without much success (I tried `nohup <myapp> &` but seems the app died quickly). Isn't crontab for scheduling rather than auto-start? Not sure how to add auto-start with that @wfur

[2019-02-20 00:45] krwq commented on #16
@joperezr what's the status on this?

[2019-02-20 00:52] krwq commented on #63
I haven't read the whole thread but please note that some devices have more than 1 types of sensors included (i.e. temperature and pressure).

Other example is SenseHat which bundles up sensors and devices together.

What I'd vote to do instead is perhaps add some text file in each directory which would contain 1 line per tag and each tag would be i.e. `thermometer`, `temperature`, `DS18B20`, `1-w

[2019-02-20 00:54] shaggygi commented on #12
@krwq i think i agree with you and this was more of a "wish list" item to show working while using the core API and a device.  I now have the [Ssd1306 binding](https://github.com/dotnet/iot/tree/master/src/devices/Ssd1306) with an example of displaying the RPi IP address.

If you add the steps how to execute an app on startup (#13), then I would be content on closing this one.  I wonder if a basic

[2019-02-20 01:02] shaggygi commented on #63
Yeah, this is a tricky one, but definitely one that we need to think through to be a good maintainable story.  I'm still scratching my head on how to possibly structure 😖 😕

[2019-02-20 01:11] krwq commented on #12
I can do brief explanation for linux, haven't played with Win IoT Core yet too much

[2019-02-20 01:12] krwq commented on #63
tags ftw! 😄

[2019-02-20 02:23] shaggygi commented on #214
This comment somewhat clicked just now.  As mentioned before, I don't particular care for the name I2cDevice or I2cBus and for passing to a binding that is basically the "device".  However, this might work for I2cController (and is where we're headed with other pin types - GpioController, AdcController, PwmController, etc.).

Therefore, we could pass in the I2cController to the binding as such:

[

[2019-02-20 05:11] joperezr commented on #16
The one outlined above is still acurate as we haven't ported the Hummingboard driver implementation yet. It is on the backlog but I was waiting to see how viable is it to use libgpiod, since if that is a good answer then perhaps we won't need to port that any longer.

[2019-02-20 06:55] matthewethomas opened #260 "Expose public GpioController methods on IGpioController"
Please consider adding the following methods to IGpioController. These are all already public methods on `GpioController`'s implementation and will add functionality that is present on the implementation, but missing on the interface.

Pin status/inquiry methods:
---
[code]

Wait methods:
---
[code]

Callback methods:
---
[code]

[2019-02-20 07:16] krwq commented on #214
@shaggygi I feel like 1 and multiple are different level of abstractions, so my thinking was more like (I think this is what @JeremyKuhne had in mind):

[code]

note even variable naming suggest it should be bus and device - Controller doesn't mean anything in context of software - almost every class controls something

[2019-02-20 07:58] krwq commented on #238
@shaggygi, I'd close the issue for now and reconsider (reopen) the moment someone else creates similar issue or comments here

[2019-02-20 08:19] emmellsoft commented on #196
Yes of course! Let me just wrap things up a bit!

[2019-02-20 11:36] shaggygi commented on #214
Your I2cBus example is a little clearer/cleaner than the I2cController example.  As for the At24Cxx binding and the page addressing issue, we could have the following behind the scenes:

[code]

There still needs to be a way we get the implementation to use, though.  Example:

[code]

In this case, we shouldn't have any Controller (Gpio, Adc, Pwm) classes then.  Naming is hard :beer:.  I2cControll

[2019-02-20 11:38] #238 closed

[2019-02-20 13:23] ZhangGaoxing commented on #129
Hope to be implemented in the master branch as soon as possible.
I have encountered problems in adding KT0803L binding recently. This is not the only one. When I used the old version **System.Devices.Gpio** package, it contained ReadWrite(), and MLX90614 worked well. However, Write()Read() mode does not work correctly when using the current **System.Device.Gpio** package.
@shaggygi @joperezr @krwq

[2019-02-20 15:24] techniq opened #262 "Arduino/Firmata support"
This is more of a question/discussion than an issue, but I was curious if any prior discussions have taken place on supporting Arduinos using [Firmata](https://github.com/firmata/arduino) (similar to how Node does with for example [johnny-five](http://johnny-five.io/platform-support/#arduino-uno)) or [directly](https://github.com/firmata/firmata.js) where you use the Arduino more as a peripheral (

[2019-02-20 17:35] joperezr commented on #260
This makes sense, although it might be a little complex to implement the eventing methods for some Gpio providers like the MCP devices, @JeremyKuhne any ideas how difficult would that be? I suppose that in some cases where eventing is not supported we might have to do polling on the values to detect changes?

That said, I guess worst case scenario we could have those devices where implementing thi

[2019-02-20 17:41] joperezr commented on #214
Personally, I think that having that wrapper (I2cBus) object on top of the different I2c Devices won't provide you much. I could see a binding that has more than 1 i2c address to simply just have two i2cdevice objects in their implementation. So for example, if you are writing a binding for the SenseHat which has 1 I2c address for humidity and 1 other I2c address for the LED matrix, I simply see t

[2019-02-20 17:48] joperezr commented on #129
Adding `WriteRead` sounds reasonable to me. @ZhangGaoxing do you want to put up a PR for it?

[2019-02-20 17:55] joshfree commented on #258
I'm not super worried about the name right now given we only have two dozen device bindings under our belt.  I think we'll rename and refactor the namespaces and source code directory structure several times while this project is in the preview phase.

[2019-02-20 17:57] joshfree commented on #262
@krwq has been looking into writing a sample of how to flash an Arduino from a C# app running on an Raspberry Pi, but we're not very far along in the thinking in this space.  Happy to have the discussion and get thoughts and ideas here on the topic.

[2019-02-20 18:00] joperezr commented on #262
If your question is whether or not our main library (System.Device.Gpio) would work on an Arduino, mostly the answer for that is no, and the reason is because Arduino can't run any .NET Standard-compatible framework that we are aware of (.NET Core, Mono, etc). That said, as @joshfree points out, we have been looking into driving an Arduino connected to a Raspberry Pi (which can run our library) fo

[2019-02-20 18:02] joshfree commented on #156
@buyaa-n could you help here?

[2019-02-20 18:04] joperezr opened #263 "Generate notimpl netstandard 2.0 assembly for System.Device.Gpio"
Today we have a reference assembly for netstandard2.0, but we don't have a runtime assembly for each specific platform/RID where netstandard2.0 is supported (currently, we only have a windows and a linux implementation). We should add a not implemented netstandard 2.0 assembly to the package so that if it is restored when targeting a different platform (like OSX or Xamarin) we can provide a runtim

[2019-02-20 18:04] joperezr commented on #263
This will need to be done before RTM

[2019-02-20 18:07] joshfree commented on #186
Fixed by https://github.com/dotnet/iot/pull/193

[2019-02-20 18:07] #186 closed

[2019-02-20 18:34] techniq commented on #262
@joshfree @joperezr thanks for the replies.  For clarity, the request isn't about running .NET code directly on the Arduino, but interfacing with the Arduino using the [Firmata](https://github.com/firmata/protocol) protocol.  This is the same approach Node, Python, Go, and Ruby have gone (with regards to Arduinos) where you run code (dotnet process) on another machine (i.e. not the Arduino, for ex

[2019-02-20 18:34] shaggygi commented on #260
You would probably need to poll the interrupt related port bits or could wire up the INTA/B pins.

[2019-02-20 18:37] shaggygi commented on #214
@joperezr congrats!

[2019-02-20 19:49] techniq commented on #262
Just came across this, although this might be native Firmata bindings, although looked relevant at first glance and under the MS umbrella)
- https://github.com/ms-iot/remote-wiring

This was also referenced under @shanselman's [Setting up Windows 10 for IoT on your Raspberry Pi 2](https://www.hanselman.com/blog/SettingUpWindows10ForIoTOnYourRaspberryPi2.aspx) article.

[2019-02-20 20:53] krwq commented on #258
Closing this issue then as won't fix and we can reiterate later

[2019-02-20 20:53] #258 closed

[2019-02-20 21:05] krwq commented on #262
@techniq - is my understanding correct that what you propose would be perhaps something like IGpioController implementation which could remotely access arduino ports and perhaps allow more than GPIO? That sounds pretty cool - is this something you'd be interested in picking up?

I couldn't find any license info on https://github.com/firmata/protocol not sure if we can use any of that stuff - we sh

[2019-02-20 22:10] techniq commented on #262
@krwq As much as I'd like to help, I'm pretty buried in work (and hobby projects) at the moment.  I'm currently just evaluating dotnet/iot as a replacement for my current (and future) Node IoT projects and saw this as one potential limitation.

Your description is correct, the ability to use dotnet/iot (GpioController, etc) to drive an Arduino "remotely", over a USB to TTL cable (as is typically)

[2019-02-20 22:19] shaggygi commented on #214
and congrats @krwq as well 👍

[2019-02-20 22:40] shaggygi commented on #177
I'm working on a Mcp25625 (SPI) binding.  Hardware should arrive tomorrow.  While it won't be based around core CAN APIs, it will open the door for...

1. to use CAN on Windows (since WinRT doesn't support that I know of).
2. others to use CAN devices with new API.
3. future path where we can experiment with this devices to implement possible ICanController similar to what @JeremyKuhne did with IG

[2019-02-20 22:45] krwq commented on #196
Thank you! @emmellsoft let's do it bit by bit - so let's start with my merging my basic stuff, then perhaps calibration and more config options from your library and perhaps changing some conventions

For the drawing utilities we will have a separate conversation on some common interface. @gloveboxes and couple of people here have couple ideas about it and there were couple of proposition for libr

[2019-02-20 23:14] krwq commented on #262
@techniq this sounds pretty cool and something we might be interested in. We currently have quite bit of work for other things so for now will mark it as up for grabs. I can definitely help if someone else is interested but might not have to time to do it myself at this point. I'll take a deeper look in a spare moment - if this is easy enough I can just do it at one point.

[2019-02-20 23:23] ZhangGaoxing commented on #129
@joperezr Let you do it. I'm not familiar with Linux drivers.😀

[2019-02-21 06:18] Ellerbach opened #265 "Font 8x8 for Led matrices screens"
Is there somewhere fonts size 8x8 (monochrome) to be used with simple Led 8x8 matrices screen?
Most of the screens, including the existing CharacterLcd are 8x8 or 5x8 or 5x7 size displays for individual characters. Most are monochrome and it would be good to have an official font that can be used with those screens.
I see multiple options:
* Having a common helper that will load a system found, pr

[2019-02-21 06:46] krwq commented on #265
What you probably search for is `texture atlas generator` that can generate bitmap with all characters which can be further used.

[2019-02-21 07:44] krwq commented on #234
I've just ordered ILI9341 - not sure if this is the same family - not an e-Ink but the interface might be similar/same - this particular is called TFT LCD display module.

One thing I'm not sure about the stuff from ILI that every page on the datasheet says - actually not sure if I can even copy it - see footer on most of the pages of i.e.:
https://cdn-shop.adafruit.com/datasheets/ILI9341.pdf

thi

[2019-02-21 08:35] ZhangGaoxing commented on #129
add two work incorrectly sequence diagrams
![1](https://user-images.githubusercontent.com/15957347/53154852-a6e89c80-35f6-11e9-9d28-ac80fa25161f.jpg)
![2](https://user-images.githubusercontent.com/15957347/53154856-a819c980-35f6-11e9-9884-0ef614d11352.jpg)

[2019-02-21 12:03] Ellerbach commented on #265
I was more thinking of something that would already exist. So far I'm using 8x8 fonts which are in public domain. It would be good to provide those simple fonts. I'll think about it and see how to generate few quickly based on OS fonts.

[2019-02-21 20:52] #13 closed

[2019-02-21 20:53] krwq commented on #12
@shaggygi instructions added - do we want to keep the issue?

[2019-02-21 21:52] shaggygi commented on #12
I think the pieces delivered are what @richlander asked for.  I'd say go ahead and close.  Thx

[2019-02-21 22:38] krwq commented on #12
@richlander please reopen if you think this is not addressed

[2019-02-21 22:38] #12 closed

[2019-02-22 04:28] techniq commented on #265
I've used [piskelapp](https://www.piskelapp.com/) in the past to generate pixel artwork as it has a pretty rich editing experience and supports exporting as a byte array, although it [currently](https://github.com/piskelapp/piskel/issues/606) requires a bookmarklet to get monochrome.  Still not exactly what you're looking for, but saw the links @krwq mentioned and thought it was relevant.

You cou

[2019-02-22 07:39] Ellerbach commented on #265
I tried to scale down large font size pictures but the result is far to be as good as manual design. I was just wondering if it would be good to have specific 8x8 monochrome font that we can provide. I already started to put together a font like this. Still, it's quite a lot of work.
And thanks for the links!

[2019-02-22 19:37] krwq commented on #93
https://github.com/dotnet/corefxlab/tree/master/samples/System.Devices.Gpio.Samples doesn't have anything left there. Is there any more work here or should we close?

[2019-02-22 19:46] krwq commented on #125
This thread is very long and I'm not sure what the work is (currently bulk changing the milestone) - @JeremyKuhne is this something we plan to do for 3.0?

[2019-02-22 19:52] krwq commented on #107
toggle can be usually done with:
`foo ^= 0b0001000;` if we are able to do something like that directly then this should be atomic if not then I got mixed feelings if we should have it

[2019-02-22 19:52] buyaa-n commented on #93
Seems all done except

Not sure if it is separate task to add diagrams for all samples which is missing a diagram

[2019-02-22 19:56] krwq commented on #100
Marking as 3.0 for now since we should improve some docs until then but we may reiterate on that later as I'm not sure if we will be able to fully address all requests from this issue

[2019-02-22 19:58] krwq commented on #93
I think we should have separate issue for that - seems like there is nothing left in the corefxlab. Let's reopen if someone reports we missed something.

Btw. I don't think all devices need the diagram (I2C/SPI and the hat devices are pretty much the same for all so for those I don't think it is needed)

[2019-02-22 19:58] #93 closed

[2019-02-22 20:00] krwq commented on #109
@anphel31 should the issue be closed now since the PR is merged?

[2019-02-22 20:02] krwq commented on #111
I think the correct fix should be to throw a descriptive exception when someone passes 0-length buffer to Read or am I missing something?

[2019-02-22 20:19] krwq commented on #122
I think this should be something like `I2cDevice.Create(settings)` and `SpiDevice.Create(settings)` (I just got a quick look at the issue so disregard if I'm offtopic)

[2019-02-22 20:23] krwq commented on #124
I think we need to update the proposal here to account for PinValuePair

[2019-02-22 20:25] krwq commented on #129
Marking as 3.0 since this is potentially blocking adding new devices

[2019-02-22 20:27] krwq commented on #134
@shaggygi could you also update the first post so it's easy to read the request after reading 1-2 sentences?

[2019-02-22 20:42] JeremyKuhne commented on #265
It would be interesting to see if you can generate anything useful from System.Drawing for this scenario. You'd have to test it out on Windows for now as there currently is a bug in libgdiplus around hinting/antialiasing. https://github.com/mono/libgdiplus/issues/535

I suspect the answer is no as 8x8 is so specific.

[2019-02-22 22:23] shaggygi commented on #134
Sure.  My wording can get a little long sometimes.

[2019-02-22 22:36] shaggygi commented on #124
Discussed https://github.com/dotnet/iot/issues/124#issuecomment-464279785

[2019-02-23 00:46] joshfree commented on #265
@safern any thoughts?

[2019-02-23 00:56] joshfree commented on #109
Fixed by #97

[2019-02-23 00:56] #109 closed

[2019-02-23 00:58] joshfree commented on #134
Thanks @shaggygi 😄

Closing the issue as part of general issue cleanup in the repro

[2019-02-23 00:58] #134 closed

[2019-02-23 00:59] joperezr commented on #109
I think the idea of this issue was to track the removal of that extra call once WinRT APIs got fixed so we wouldn’t need it any longer.

[2019-02-23 00:59] joshfree commented on #140
@krwq could you PTAL?

[2019-02-23 01:03] joshfree commented on #168
@buyaa-n could you help pick this one up?

[2019-02-23 01:04] joshfree commented on #171
Fixed by #180

[2019-02-23 01:04] #171 closed

[2019-02-23 01:04] safern commented on #168
@buyaa-n I have some progress on how to gather data from this guy, just didn't have the time to finish the binding, it should be fairly simple though.

[2019-02-23 01:05] joshfree commented on #172
removing the up-for-grabs label as @ericstj grabbed this along with general 1-WIRE support.

@ericstj if your plans change please flip this back to up-for-grabs.  Thanks

[2019-02-23 01:06] joshfree commented on #173
Thanks @johnastaf for picking this one up 😃

[2019-02-23 01:06] joshfree commented on #174
@JeremyKuhne @tarekgh

[2019-02-23 01:08] joshfree commented on #178
@tarekgh @JeremyKuhne

[2019-02-23 01:10] joshfree commented on #183
@buyaa-n PTAL

[2019-02-23 01:13] joshfree commented on #187
@tarekgh is also thinking some more about this space in terms of GPIO

[2019-02-23 01:14] joshfree commented on #189
@tarekgh @JeremyKuhne

[2019-02-23 01:19] joshfree commented on #195
@IvanFarkas Yes, we have a UnixDriver that uses sysfs and libgpiod under the covers.  Can you try the latest daily build and give us feedback?

https://github.com/dotnet/iot#how-to-install

/cc @krwq @buyaa-n @JeremyKuhne @tarekgh

[2019-02-23 01:23] joshfree commented on #201
@krwq could you please investigate for 3.0?

[2019-02-23 04:10] krwq commented on #202
@shaggygi just for reference, do you perhaps know of any specific devices needing this?

[2019-02-23 04:12] krwq commented on #201
@shaggygi got any specific devices in mind? (just curious)

[2019-02-23 04:15] krwq commented on #189
@joshfree we are currently investigating the common interface with @tarekgh and @JeremyKuhne

[2019-02-23 05:14] Ellerbach commented on #265
I was already playing wiht the graphic lib to see how to scale down couple of fonts. Result was quite bad but with the option *SingleBitPerPixelGridFit*, the result is much much better! I guess I just need to try to make it on all of the constant size fonts to see if one brings better results. But it means there is a way to automate a bit, at least to export monochrome 8 byte arrays containing all

[2019-02-23 05:28] krwq commented on #140
<details>
<summary>corefx enums with `[Flags]`</summary>

[code]

</details>

Plural: 117, singular: 37

I personally prefer proposed option but for consistency wins so closing...

[2019-02-23 05:28] #140 closed

[2019-02-23 05:33] krwq commented on #265
I don't think it has to be monochromatic - most 8x8 support shades so that should give perhaps better results

[2019-02-23 10:58] Ellerbach commented on #265
Monochromatic is the mnimum needed. Not all Led 8x8 screens supports PWM. So it has too look great just with 8x8 monochrome.

Yes, I've been trying 9/10 pixels as well, it actually dépends of the letters. It looks quite hard to generalize and make it fully automated. Take as an example the *G* letter up, it uses already all the 8 width while the *c* or *e* uses only 4. No mentionning that the *g*

[2019-02-23 11:34] emmellsoft commented on #196
I just pushed my ported code. Although I had totally missed the `System.Devices.Gpio` project, so I based the I2C communication on the `Unosquare` implementation. However, I have limited the usage of I2C, so it should be easy to replace.

I will look into the iot project here -- I would love to contribute! :-)

[2019-02-23 12:59] ZhangGaoxing opened #275 "Binding Index needs to be categorized"
Now that **Binding Index** are getting longer and longer, I think it is necessary to classify them in detail. I think of two classification methods.
1. Classification according to the function of sensors

2. Classification according to the communication mode of sensors

Similarly, Binding namespace needs to be categorized too. like

[2019-02-23 13:12] techniq commented on #265
This might be what you're looking for:
https://int10h.org/oldschool-pc-fonts/

[2019-02-23 13:35] shaggygi commented on #275
@ZhangGaoxing somewhat of a duplicate to #63. But I agree, we need to come up with a good solution on this 😄

[2019-02-23 14:10] joperezr commented on #275
I totally agree with sorting the binding index, but not so much with the namespace idea. The reason is that there are several bindings that support more than one communication protocol, and also have more than one functionality ( for example, sensehat is a temperature and motion sensor, and it is also an led matrix display. Because a binding can only have one namespace, I would keep the namespace

[2019-02-23 14:32] shaggygi commented on #201
@krwq I came across this when trying to use with bit-banging GPIO pins.  You can use SPI with a 74595 logic chip.  While I have a partial binding started for this chip, it could be used with something like [I2C/SPI Character LCD Backpack](https://www.adafruit.com/product/292) using SPI (with active-high CS).

While reviewing this topic, I found that many processors allow CS enable to be configured

[2019-02-23 15:13] shaggygi commented on #202
@krwq Reviewing this appears most cases are MSB first, but similar to #201... many processors, APIs and tools appear to be configurable.  So this is one of those areas we might want to support sooner than later.

I came across the following that mentioned it supports LSB first, but didn't dig too much of the details:

- [PS2 Controller](http://roboticsforevery1.blogspot.com/2014/08/interfacing-pla

[2019-02-23 19:35] shaggygi commented on #111
@krwq The original issue was because there were no bytes allocated to perform read.  Your suggestion with having a better exception description would help in this case.  Other than that, I would label issue as stale and close.

[2019-02-23 19:59] CosminLazar opened #276 "Potential memory leak due to CancellationTokenSource"
While browsing through the source code of GpioController.cs I could see it makes use of CancellationTokenSource without actually disposing it. From what I can see in the source code of CancellationTokenSource it does not have a finalizer (https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Threading/CancellationTokenSource.cs), therefore its Dispose method will never be call

[2019-02-23 23:55] sharwell commented on #276
CancellationTokenSource will only leak if it was created with CreateLinkedTokenSource. With that said, it's still a good idea to call Dispose appropriately.

[2019-02-24 00:12] CosminLazar commented on #276
True, a bad experience with the linked token source must be why I got the alarm in my head when I saw the CancellationTokenSource not being disposed. Furthermore, today I learned that apparently not disposing the CancellationTokenSource can also lead to performance issues https://twitter.com/davidfowl/status/1050278811558850560?lang=en

[2019-02-24 06:54] krwq commented on #276
@CosminLazar do you feel like sending PR with the fix? We should be disposing it regardless if it will leak or not

[2019-02-24 06:57] krwq commented on #275
Closing as dup of #63. I agree this is an issue. Also my PR https://github.com/dotnet/iot/pull/256 tries to introduce more consistency...

[2019-02-24 06:57] #275 closed

[2019-02-24 13:39] shaggygi commented on #233
I also tried pinging @BethMassi, but no word back as of yet.

[2019-02-24 17:54] CosminLazar commented on #276
Sure, here it is https://github.com/dotnet/iot/pull/281

[2019-02-24 19:47] krwq opened #282 "Update compiler"
I've encountered this bug yesterday: https://github.com/dotnet/corefx/issues/35550
when trying to remove some allocations from one of the projects - this is really confusing and much more likely to happen in our repo than in any other (due to writing over SPI/I2C).

We should update our dependencies to make sure that changeset fixing https://github.com/dotnet/roslyn/issues/29092 is included.

cc:

[2019-02-25 19:04] joshfree commented on #282
Is there a newer drop of buildtools with the updated compiler we can just pick up?

[2019-02-25 19:07] safern commented on #282
I don't think iot uses buildtools at all.

I guess we will have to do something like we did in corefx to pick up newer compilers:
https://github.com/dotnet/corefx/pull/35134

@krwq please let me know if you need me to send a PR to pick up a new compiler.

[2019-02-26 05:28] #196 closed

[2019-02-26 05:28] #245 closed

[2019-02-26 05:28] #252 closed

[2019-02-26 05:28] #253 closed

[2019-02-26 18:28] krwq opened #287 "Add bindings for multimedia abstraction layer (i.e. MMAL, includes Camera/Audio)"
We currently need way of using camera and audio.

One way to provide that is to re-use MMAL effort which allows to access both. It is also used by projects like https://github.com/waveform80/picamera (docs at: https://picamera.readthedocs.io/en/release-1.13/).

We will need to figure out if we want to go even lower with the abstraction or if this is a right spot.

Documentation: http://www.jvcref.

[2019-02-26 19:04] robertsundstrom commented on #175
After some experimentation: I have updated the commit to the branch in my fork: https://github.com/robertsundstrom/iot/commit/293e87e45323f36c10109c332fbfe3740ebcaa91

Tags are being read correctly now.

I originally ported the code from Python and I did some mistakes that they (Unosquare) discovered. That is now fixed here as well.

The interface is the original and it should reflect the terminol

[2019-02-26 19:07] krwq opened #288 "Ensure SPI/I2C always reads requested number of bytes"
Issue created to track comment https://github.com/dotnet/iot/pull/278#discussion_r259637131

We should double check if we should not return `int` from the Read which will tell you how many bytes were read.

Usually when reading from Stream the API is allowed to read anything from 0 to requested number of bytes. With I2C/SPI we rely on the fact that we know what the expected number of bytes is.

We

[2019-02-26 19:07] #111 closed

[2019-02-26 19:27] krwq commented on #175
I've added comments on that commit - I think as long as we don't deviate much from original naming it should be fine to deviate. (i.e. AntiColl => AntiCollision)

I'd recommend creating PR with this. Also please make sure to add samples for the common scenario which end up writing tag (currently I've seen a sample but for someone who doesn't have any knowledge on the subject it might be hard to un

[2019-02-26 19:45] robertsundstrom commented on #175
Agree.

I'm on it! Will go through your comments when I've done my own refactoring.

I will submit a PR when I'm ready.

[2019-02-26 22:56] krwq commented on #196
Hey @emmellsoft my stuff is merged - feel free to add PRs/issues with anything you find useful and we are missing. I'm really curious to see how far we can stretch sense hat 😄

[2019-02-27 00:02] maloo commented on #197
@ericstj
I had some spare time tonight so I implemented a proof of concept of your API proposal. You can do what you want with it. But for now it fulfills most of your spec and works for scanning buses, enumerating buses/devices and querying thermometer devices on my Raspberry Pi 3 B+. I have only tried with a couple of MAX31820 sensors (family 28).
Comments are welcome. Not sure how you handle WI

[2019-02-27 00:08] maloo commented on #189
@joshfree @tarekgh @JeremyKuhne @krwq
Any progress on this? I've not had much spare time, but hope to propose some of the functions I think is appropriate for this API/Util before next week.

[2019-02-27 00:13] krwq commented on #189
@maloo we have talked about it a bit and currently we do not have yet clear agreement.

We are thinking of something taking System.Drawing.Bitmap (i.e. DrawBitmap) but at the same time we don't want to take System.Drawing as a dependency.

We will probably allow this to wait a little bit until we got clearer understanding what's needed.

Here is the alternative proposal:

Color -> eventually will

[2019-02-27 16:52] buyaa-n commented on #183
Seems sometimes its really needed to read a value from output pin, and according to [Wikipedia](https://en.wikipedia.org/wiki/General-purpose_input/output)

[code]
And i have read output pin using SysFs, Libgpiod and Raspberry driver, all worked correctly (i. e. after writing high i read hig, after writing low read low). So i think we should enable reading output pin for controller level and if an

[2019-02-27 17:57] krwq commented on #218
another build break because of this

[2019-02-27 19:00] krwq commented on #183
I think in many cases reading an output pin may be by accident and therefore a bug.

I personally haven't had any case where I'd need that but if I see specific scenario where this is useful I'm open to change this behavior

If we decide to change this behavior we should investigate if reading not open pins should also be considered a bug because developer might want to check if the pin is input o

[2019-02-27 23:16] joshfree commented on #90
@joperezr my thinking is we could use https://docs.microsoft.com/en-us/uwp/api/windows.devices.adc.adccontroller as inspiration for an IAdcController

[2019-02-27 23:23] JeremyKuhne commented on #218
This is proving to be a time sync, I think we should change it. We may end up being forced to build from source in the future anyway.

[2019-02-28 01:12] shaggygi commented on #260
We probably should add `PinCount` property, as well.

[code]

[2019-02-28 01:14] JeremyKuhne opened #295 "Clarify GPIO interface / members"
After discussing with @bartonjs, this is likely a better starting point for this API.

[code]

There are couple of things here.

1. We don't want to use identifiers that are longer than they need to be to convey full context/meaning (don't want to be unnecessarily wordy).
2. Splitting out the multi-pin Read() for clarity - this method should throw if `pins` / `values` are not the same length.

Thi

[2019-02-28 01:24] JeremyKuhne commented on #260
Related to #295.

These seem like no brainers, I just didn't add them right out of the gate as I didn't need them to solve my immediate problem.

[code]

Events I'm not so sure about. I'm not sure all devices have the ability to do this in a rational way. If we do add them we'd want some way of tracking whether or not it is possible, is hardware/polling driven, etc.

[2019-02-28 01:29] shaggygi commented on #295
@JeremyKuhne is this something that will be added soon?  I just started updating #226, but can hold off until then.

[2019-02-28 01:56] JeremyKuhne commented on #295
You don't need to hold off.

[2019-03-01 12:34] shaggygi commented on #255
@krwq @joshfree I vote to go ahead and close this issue as we already have #90, #125, #260 and #295 that are related.

[2019-03-01 16:35] CrustyJew opened #298 "Support for Imperial vs Metric systems etc."
as @krwq mentioned [here](https://github.com/dotnet/iot/pull/256#discussion_r258229670), it would be nice to iron out some locations for and how we'd want to support multiple measurement systems.

I'm looking at the HCSR04 device binding right now, and something like a public enum that can be reused to specify which kind of measurement you want back would be cool. That way you can pass it in on in

[2019-03-01 16:46] krwq commented on #295
@JeremyKuhne why `void Read(ReadOnlySpan<int> pins, Span<PinValuePair> values)`; and not:
`void Read(ReadOnlySpan<int> pins, Span<PinValue> values);`? Same when writing why not split numbers and values? This can allow you to create multiple patterns of values (i.e. for stepper motor you can save the whole sequence without double storing pin numbers)

[2019-03-01 16:58] shaggygi commented on #295
I haven't thought about this much, but why not return like...

`ReadOnlySpan<PinValue> Read(ReadOnlySpan<int> pins)`

[2019-03-01 17:05] bartonjs commented on #295
@shaggygi That provides an unclear ownership/lifetime/validity semantic.  Read-into-this-Span is "I own this memory, please write to it".  Read-and-here-is-a-Span says "the answer was written somewhere, here's a way to access the value, please copy this out before you call Read again".  So

[code]

Clearly has replaced the first answer with the second.

[code]

It's not obvious that `firstRead` an

[2019-03-01 21:48] krwq commented on #298
2 issues here:
- internal units of the device do not match exposed API and we want to avoid double conversion
- API for conversion

I think we should create a separate one for each of those problems or drop one of them in here.

Let's start with first:
@CrustyJew for many of the sensors `double` gives enough precision that you won't lose much by double converting or neither that is a large overhea

[2019-03-01 22:25] krwq commented on #177
@shaggygi any luck with this or would you recommend a different device. Do you perhaps know if linux perhaps have a kernel driver for it? Perhaps we can use SocketCAN for that?

[2019-03-01 23:00] shaggygi commented on #177
@krwq This appears to be a popular device for CAN.  I have a bunch of the register classes added to project, but not much meat yet.  My effort was going to add code like many of our bindings that interface with SPI and I2C.  I have the device and related tooling, but wanted to finish my other assigned issues before getting to deep first.

From my little research, I don't believe WinRT has CAN APIs

[2019-03-01 23:40] krwq commented on #177
@shaggygi if you haven't already started on any of these issues I think this one might be more important, if you have then go ahead and finish. How much time do you think they'll take assuming you haven't started?

Btw for Linux implementation I'd go with generic interface (SocketCAN) so that we cover more devices and this seems to be what industry is using and similarly for Windows once they have

[2019-03-02 00:41] shaggygi commented on #177
@krwq I made little progress with both, but nothing too far along (basic projects/registers setup, hardware soldered, etc.).  I planned to take a little longer on these as they included topics I wanted to study while implementing.  So I can push back for now.

As for the Mcp25625, I want to continue implementing with the focus on SPI interface for now.  I also wanted to study up on the CAN tooling

[2019-03-02 00:52] krwq commented on #177
Thank you @shaggygi! 😄 Fine with keeping the names as long as they are internal, if not then in some situations we can do exceptions.

[2019-03-02 03:03] ZhangGaoxing commented on #181
I noticed that you closed #182. Can I help with this issue? I can submit a PR to complete BH1750 and add some new features. I can easily migrate the code I wrote before. @joperezr  😄 https://github.com/ZhangGaoxing/windows-iot-demo/blob/master/src/BH1750FVI/03_Source/BH1750FVIDemo/BH1750FVI.cs

[2019-03-02 04:16] shaggygi opened #300 "Utilizing C# 8.0 Features"
Understanding it is a little ways off, I wanted to start a thread to gather thoughts around how this repo uses features provided in C# 8.0 (e.g. nullable reference types, etc.).  Also, I noticed we are using different values for LangVersion in projects.  This might be a good time to provide details on what to use, as well.

[2019-03-02 11:43] ZhangGaoxing opened #301 "Using Static Extension Method to Provide Data Conversion"
To fix this https://github.com/dotnet/iot/pull/291#issuecomment-467884576 , I think we should provide different extension methods according to different classes. Take temperature sensor as an example:
1. First, temperature sensors should inherit a unified interface `ITemperature`. @krwq mentioned it #256
[code]

2. Second, provide a temperature static extension class. Namespace should be `Iot.Devi

[2019-03-02 12:12] shaggygi commented on #301
Understanding this is just a brief overview concept, we could add other conversions Fahrenheit > Celsius, Kelvin > Fahrenheit, etc.

I like how it is an extension, but question is it really needed where we could use the static methods in a common helper like...

[code]

[2019-03-02 19:23] krwq commented on #301
I'd go with just `ToKelvin`, `ToFahrenheit` and assume Celsius

[2019-03-02 21:15] krwq commented on #300
I think using latest or later (latest means latest stable). I think we should make repos default to latest but single projects should be able to use also experimental features if it makes sense

[2019-03-03 04:56] #276 closed

[2019-03-03 06:07] krwq commented on #183
Starting to look at the I2C protocol I believe without fixing this implementing software implementation might be hard as it seems to be using that fact for communication - i.e. clock stretching where master sets clock to 1 but slave can pull it low until it is ready to write so master despite controlling the clock should check if value is set to what it is supposed to be. Given that I believe we s

[2019-03-03 06:12] krwq commented on #288
In cases of SPI master controls the clock and when is slave supposed to be writing so the Read should return void since the protocol doesn't give a chance to slave to say that it's finished.

Will look deeper into I2C later.

[2019-03-04 03:47] buyaa-n commented on #183
I am pretty sure we need to enable reading output pin. @joshfree suggested to add ReadWrite mode instead of making output mode readable, maybe we should name that mode InputOutput so that it follow .Net IO file reading design (Read, Write, ReadWrite mode). I like that idea, if user need to read from output pin they could choose InputOutput (or OutputInput) mode instead of only Output mode. What yo

[2019-03-04 03:49] #137 closed

[2019-03-04 11:09] shaggygi commented on #183
I think it would be nice to have the ability to read the value of an output.  I've had a few cases using I/O Expanders where I have to read the value from device (using I2C or SPI) or store the last value written in order to not affect other respective pin bits when writing.

I haven't thought in detail, but this might get a little complex.  What happens if/when we add other types of outputs (#135

[2019-03-04 11:30] shaggygi commented on #189
PR #308 uses the following from https://github.com/SixLabors...

using SixLabors.Fonts;
using SixLabors.ImageSharp;
using SixLabors.ImageSharp.PixelFormats;
using SixLabors.ImageSharp.Processing;

[2019-03-04 18:31] buyaa-n commented on #183
The point of this change is to make Output pin readable, no need make any change to Input pins. (InputPullDown, InputPullUp)

But from the issue #135 i see there could be 4 more output modes (OutputOpenDrain, OtputOpenDrainPullUp, OutputOpenCollector, OutputOpenCollectorPullDown). Not sure if they also need to be readable, if they are then yes its become more complicated, might be better just make

[2019-03-04 18:44] CrustyJew commented on #298
True, most internal memory on these devices probably is in metric. I was thinking more in terms of the sonar sensor where all it is is an amount of time that a pulse took to reach a destination and return. So you have to convert the time into distance based on your own math.

I could see the desire/need to be able to actually pass in a temperature measurement to make the sonar more accurate based

[2019-03-04 23:35] krwq commented on #298
@CrustyJew from modelling perspective that would be ideal but from usability and perf point of view it may not be ideal...

[2019-03-05 06:14] #255 closed

[2019-03-05 06:38] krwq commented on #90
We are currently questioning if we should have these interface. For things which take ADC as an input we think the users should use `Func<double>` - ADC doesn't return data in any specific unit (relative voltage?) so the data is not really bound to ADC and could be anything.

We would need to see some specific examples to see what problems it would solve to have them. I haven't personally had much

[2019-03-05 07:21] krwq commented on #189
me, @JeremyKuhne and @tarekgh have discussed today:
What about something like this for now - once we identify issues with System.Drawing.Bitmap we will either address them or propose something better in the future (in the corefx itself - this process may take a while because corefx APIs are stable - once they are public we cannot remove them anymore so we have to bounce the ideas by more people).

[2019-03-05 19:11] krwq opened #315 "Reconsider namespaces"
I've heard couple of request to change some of the namespaces over several days.
We should reconsider doing some changes in this area.

Here are some examples I heard:
- move I2c/Spi and other protocols outside of Gpio and put them under `*.Protocols`
- change `Iot.*` to something under `System.*`
- consider changing `*.Devices.*` to something else (i.e. SoftPwm does not fit there but there is not

[2019-03-05 21:32] krwq commented on #298
@CrustyJew we ended up doing that 😄

[2019-03-05 22:22] joshfree commented on #315
@krwq could you link/quote the relevant feedback?

[2019-03-05 22:26] krwq commented on #301
I think I'll close this issue since we went with the structures. note that this does not exclude possibility of using ITemperature interface in the future.

Please let me know if there is anything more we would like here and re-open if so.

[2019-03-05 22:26] #301 closed

[2019-03-05 22:27] krwq commented on #298
So this issue is partially addressed (only temperature for now)

[2019-03-05 22:30] krwq commented on #315
@joshfree this was various hallway/IM conversations - I referenced the recent PR feedback which mentions this above.

[2019-03-05 23:06] krwq commented on #177
@shaggygi my MCP2515 just came so I'll be looking at the SocketCAN. Will be nice to have both full control over SPI which works everywhere and implementation which covers family of devices on Linux

[2019-03-06 01:03] CrustyJew commented on #298
Ha nice! Yeah something like that should work pretty well I think. I'll see if I can poke any holes in it here in a bit.

[2019-03-06 18:28] joperezr commented on #201
Given that this doesn't really apply to every device, I think that I would prefer if the active state would be passed in (with a paramter on the constructor) on the binding itself. Most of the devices I've worked with only allow having one state for the CS, so I don't think this should go on the SpiConnection class IMHO.

[2019-03-06 20:26] krwq commented on #201
@joperezr I think quite opposite - I'd leave the constructors to the absolute requirement you have to set and move everything unusual to settings which in this case would be something really similar to what @shaggygi has proposed (I'd perhaps change bool to the enum but the same idea).

[2019-03-06 20:39] krwq commented on #298
@CrustyJew thanks! We will wait a bit before adding more units (next one will likely be length units since they also have multiple units). Once we decide that this is what we want long term we will figure out if we want to have all units or just the ones which have multiple units. (i.e. for humidity seems like everyone uses %rH so does not feel like it is strictly needed - might be good to have fo

[2019-03-06 22:42] shaggygi commented on #201
@krwq I like your idea better with an enum.  Not sure if you were thinking of a new enum or possibly use PinValue where it would accept a few ways.  If so, we might want to use `ChipSelectActiveState` as the property name and still use Low/false/0 the default.

[code]

[2019-03-06 22:57] shaggygi commented on #201
But then again, if we added an enum for #202, we might want to group related enums under the SPI namespace like `ChipSelectState` and `DataFlow` or similar?

[code]

[2019-03-06 23:34] krwq commented on #201
Yes this looks more or less correct - once I (or someone else) start working on this we can take a closer look at the exact shape and what makes most sense (probably makes sense to compare to other implementations like python/C and see what they call these so that we call them similarly).

[2019-03-07 00:34] krwq commented on #183
I think the PinMode can be flags - perhaps something along these lines:

- 1 bit: input/output since those are exclusive
- 1 bit: allow both directions (for output mode this means reading, for input mode setting pull up/down)
- ... some other options

that should allow you to compose whatever mode you want (we would need to figure out better names for enum flags and decide if we want all combinati

[2019-03-07 21:02] tarekgh commented on #265
There is a variety of BDF fonts out there we can use. It is public domain fonts which is shareable. I already wrote some simple font loader in my work (is not out yet) but I can share what I have so far.

[2019-03-07 21:04] tarekgh commented on #265
Also, I think we should use BDF as the standard fonts we support instead of defining fonts here and there. of course we can still create out BDF fonts.

[2019-03-07 21:09] tarekgh commented on #265
https://github.com/Tecate/bitmap-fonts

[2019-03-07 21:12] tarekgh commented on #265
@Ellerbach please let me know if what I shared is enough in your scenario or you need something more.

[2019-03-08 09:28] Ellerbach commented on #265
Yes! Thanks a lot. It looks like it is fully usable for scenarios for 8x8 font size. Looks like there are enough fonts. And yes, looks like the BDF format can really make sense. So we would just have to add some helpers to manipulate the fonts. Thanks again for sharing!

[2019-03-08 16:42] tarekgh commented on #265
https://gist.github.com/tarekgh/55dfaf0f44689738c3a6ca67941ccdc2 has some initial font loader. it is currently restricted to only fixed char widths fonts which has all characters have exact same size but it is easy to modify to make it support the font in general. I was just trying to get some scenario working for me but later I can polish this more to make it generic. Also, I added some sample ho

[2019-03-08 16:47] #265 closed

[2019-03-08 21:11] DanielSSilva opened #319 "[Question] System.Device.Gpio.dll not loaded on classlib"
For some reason ( I might be missing something), if I have a class library that has the System.Device.Gpio package as requirement, when I publish it for the linux-arm runtime the dll is not generated on the publish folder. If I add the OutputType to exe and change targetFramework to netcoreapp2.0, the dll is generated on the publish folder. Is this the expected behaviour?

[2019-03-08 22:18] #282 closed

[2019-03-08 22:56] krwq commented on #282
Thanks again @safern!

[2019-03-09 03:12] techniq opened #320 "Support PN532"
Would be nice to add support for the PN532 (RFID) module.  I wrote a pure (non libnfc) Node.js [implementation](https://github.com/techniq/node-pn532) a few years ago that could be a good reference, although I mainly worked with Serial and only partialy support I2C (and no SPI) (which it supports all 3).  Seems like starting with I2C would be the recommend bus if we only handle 1 initially.  [Adaf

[2019-03-09 19:00] krwq commented on #319
Is this specific to only this package? If not then I'd recommend moving this issue to https://github.com/dotnet/cli

[2019-03-09 19:03] krwq commented on #320
If there is possibility of sharing implementation with MFRC522 that should be ideal - if not then at least we should have the same public APIs.

[2019-03-09 19:04] krwq commented on #175
Ref: https://github.com/dotnet/iot/issues/320

[2019-03-11 07:41] tmds opened #324 "Native shim and EINTR handling"
The code relies on specific structs and constants. For example:
[code]
This works on arm64 and arm32, but this is not ok for x64. On x64, epoll_event is packed so its size is 12 bytes instead of 16.

None of the system calls are handing EINTR. EINTR happens when a system call is interrupted for handing a signal. For example, `epoll_wait` should check for this and retry on EINTR.

corefx handles th

[2019-03-11 17:03] joshfree commented on #324
@buyaa-n PTAL

[2019-03-11 17:10] joperezr commented on #319
A classlib targetting netstandard2.0 can’t really be published for a runtime since it won’t actually be runnable. If you take a look at the depa.json file that gets generated when you try this it will call out that you depend on system.device.gpio correctly.

The way this works is that once you build a runnable app (an exe targetting netcoreapp) that depens in your classlib, both the classlib and

[2019-03-12 10:33] DanielSSilva commented on #319
Thank you for the clarification @joperezr . It does make sense. The reason why I was asking this is because I wanted to create a classlib that initializes a bunch of sensors (raspberry sensehat) and wanted to use that with powershell, by loading the assembly, but it thew an exception saying that gpio dll was not found. Changing it to an exe generated the dll, as you've explained.
Thank you again f

[2019-03-12 10:33] #319 closed

[2019-03-13 19:31] JeremyKuhne opened #330 "GPIO pin getting/setting performance chokepoints"
Creating a summary issue to hold the data I turn up as I investigate the places where performance can be improved when setting & getting GPIO pins.

There is ample opportunity to improve, partially through optimizations of existing code and partially by optimizing special paths (such as getting/setting multiple values at once).

I'm fixing most of these as I investigate, will break out issues that

[2019-03-13 19:45] JeremyKuhne commented on #330
One relatively easy place to improve is with pin caching in suboptimal collections. `GpioController`, for example, uses `HashSet<int>` to track open pins. This would be much better served by using `BitArray` (which is able to handle an arbitrary number of bits). Here is a test exploring the performance difference:

[code]

And the results:

|   Method | StoredValues |     Mean |     Error |    Std

[2019-03-14 01:04] krwq commented on #202
I've opened a PR for both please take a look - naming to be discussed in the PR - I'm not particular fan of name DataFlow but on the other hand I could not come up with anything better. Python calls it `FirstBit` which does not seem good either.

[2019-03-14 01:17] shaggygi commented on #202
@krwq how about BitOrder?  Here's [a reference](https://python-periphery.readthedocs.io/en/latest/spi.html) that calls it that.

[2019-03-14 01:23] krwq commented on #202
@shaggygi I think I like the DataFlow better than that actually - bit order feels like it is related to numbers not bits in each byte. We will probably be very likely reiterating on the name during code review some time later

[2019-03-14 16:45] #201 closed

[2019-03-14 16:45] #202 closed

[2019-03-14 21:54] buyaa-n commented on #157
"Native Library Loader API" is shipped with 3.0 preview dotnet/corefx#32015
So i have tried to use 3.0 preview for iot project and fix this issue. But it turns out we cannot use 3.0 preview from iot project. The project TargetFramework is set to netstandard2.0 and Santi suggested to not change it until it is released as stable version. I will lookup if I could do some work around but most likely w

[2019-03-16 18:18] shaggygi opened #334 "Rename SysFSDriver.Linux.cs"
This is a small breaking change where the file, class, and variable names needs to be updated to match format throughout.  This is with the assumption the preferred is "SysFs".  Changes would still need to be updated if "Sysfs" is preferred.

Examples where needed:

1. File name is SysFSDriver.Linux.cs where it should be SysFsDriver.Linux.cs.
2. Class name is SysfsDriver where it should be SysFsDr

[2019-03-17 04:23] PRIMETSS opened #336 "NuGet missing package Error updating beyond 191156.1"
Trying to upgrade Iot.DeviceBindings to anything version above 0.1.0-prerelease.19156.1 get this error in NuGet Manager

Installing System.Device.Gpio 0.1.0-prerelease.19158.2.
Installing Iot.Device.Bindings 0.1.0-prerelease.19158.2.
NU1101: Unable to find package Microsoft.Net.Compilers.Toolset. No packages exist with this id in source(s): aspnetcore-release, CliFallbackFolder, DotNetCore ASPNET

[2019-03-17 04:57] #334 closed

[2019-03-18 01:16] shaggygi commented on #78
@krwq @joperezr  I've started playing with this repo ([Project TIOT](https://github.com/shaggygi/Tiot)).  It's basically a dumping ground for me trying to learn about related topics.  However, it might help with this issue.  It is still "very" early, but looks promising.  I was already able to perform many of the GPIO-related features and was successful communicating with I2C (but is far as I got

[2019-03-18 03:05] krwq commented on #78
@shaggygi perhaps you could use Firmata to do stuff remotely: https://github.com/dotnet/iot/issues/262 - I bet same stuff will work for Pi and Arduino.

For many scenarios TCP connection will do but in some cases you might have to send a program which executes remotely (I don't know if firmata has capabilities like that but might be worth taking a look since it seems it has similar goals in mind)

[2019-03-18 10:03] shaggygi commented on #78
@krwq Thanks for the link.  I had not come across that one yet.  It seems this is the same concept I'm trying to do with TIOT, except Firmata appears to use serial/USB (which is still a good idea) instead of gRPC & Ethernet.  I'll try to read over the content/topic.  Thx

[2019-03-18 16:50] krwq commented on #78
@shaggygi if we decide to implement it, might be worth to just depend on Stream and then you can either pass a serial stream or tcp/other stream depending on what you need (perhaps we can have an overload which uses serial by default as well but stream should be main API)

[2019-03-18 22:48] buyaa-n commented on #42
It is implemented with https://github.com/dotnet/iot/pull/219

[2019-03-18 22:48] #42 closed

[2019-03-19 00:58] buyaa-n commented on #183
At first i liked idea of using flags, its good to use flags if we use all combinations but in this case not all flag could produce valid combination (like no combination Output+Pull Up). We just need to make output pins readable, not opposite (input pins shouldn't be writable).

We might just make all output modes readable (for now we have only output mode OutputOpenDrain, OtputOpenDrainPullUp, Ou

[2019-03-19 12:45] Ellerbach commented on #90
All ADC are measuring in byte, int, long or equivalent (some can be negative as well). They all have a reference ADC which can be as well one of those.
For specific calculations, you may need the both values and not just the result. Good to have the result as a float as well but that won't be enough in some of the cases.

[2019-03-20 11:29] Kraftmuschel opened #340 "Use System.Device.Gpio in Powershell Core 6"
Hi,

would like to use System.Device.Gpio in Powershell Core but it's not working.

I installed latest Windows IoT on a Raspberry Pi 3b, the DotNet prerelease and Powershell Core 6. To be able to install the System.Device.Gpio assembly I created a new project in DotNet. Then I used the documented command to install the DLL finally. In C# the commands are available.

In Powershell I used

PS C:\> A

[2019-03-20 20:39] alexdresko commented on #336
Just wanted to confirm that I hit the same problem.

[2019-03-21 03:30] krwq commented on #336
@safern, is this perhaps related to the recent compiler update? seems like this package should be build only dependency

[2019-03-21 03:45] safern commented on #336
Yep. I’ll fix it tomorrow.

[2019-03-21 04:38] krwq commented on #19
I think we should at least show some example how to do it properly but I wouldn't necessarily unit test everything.

[2019-03-21 18:50] #300 closed

[2019-03-21 18:52] #336 closed

[2019-03-22 04:53] krwq commented on #340
Windows IoT has not been thoroughly tested yet (Raspbian has been the mostly focues) - I'd expect assembly loading to work regardless of the current state of this repo.

Currently Powershell is marked as experimental on both Windows and Raspbian (see README page):
https://github.com/powershell/powershell

I believe that would be the best place to ask the question. I'd recommend to open issue over

[2019-03-22 04:59] krwq commented on #8
We currently have IGpioController where user can define mapping for the pins and whatever other additional logic - perhaps we could add an example with that or create a separate library which shows how to do that?

[2019-03-22 05:08] krwq commented on #298
So we currently got only 2 sensors
- HCSR04
- VL53L0X (https://github.com/dotnet/iot/pull/312)

so far the units don't match (micrometers vs cm) but 2 sensors is probably too little to get into any conclusions. Seems we will need to consider having also multipliers for some of the units at one point (Mili, One, Kilo, Mega etc)

[2019-03-22 05:11] krwq commented on #173
We currently have Uln2003 (https://github.com/dotnet/iot/tree/master/src/devices/Uln2003) so I'd consider this issue done. There are probably more stepper motor drivers but we can reiterate on that implementation from there whenever we find that we need to add support for more

[2019-03-22 05:11] #173 closed

[2019-03-22 13:51] CrustyJew commented on #298
At some point in the near future I'm looking to use a HX711 and I'll have to get some code in there for that. That'll be a real good candidate for this as it basically needs to take a raw input signal and calibrate, and convert it to a weight measurement based on that calibration (could be any measure of weight).

[2019-03-22 18:58] buyaa-n opened #343 "Sysfs driver pin numbering offset is different for arm64"
Sysfs driver was not working in 64 bit Debian for raspberry pi. Recently find out offset numbering of gpio pins start from 458, so for example if you want to access pin 18 you need to use 458 + 18 = 476. Need to find a way to determine and set offset pin numbering withing driver so that users could use consistent numbering.  https://wiki.debian.org/RaspberryPi3

[2019-03-23 03:25] krwq commented on #288
just looked at the I2C - the only time you will receive less bytes if slave stretches the clock forever but in terms of I2C this is technically allowed (same for SPI) and is not considered error (although would be rather unexpected). Since master controls the clock and slave is supposed write as long as SDA is up that means that slave must write as many bytes as user expected and if it doesn't the

[2019-03-23 03:25] #288 closed

[2019-03-24 19:23] IVData opened #345 ".NET Core 3.0 Raspberry Pi 3 Install - FileNotFoundException"
Apologies if this is not the right place but I feel that I'm missing something simple.

What I'm trying to do is test out razor components and .NET core 3.0 with System.Device.Gpio, developing on Windows in visual studio and running the app on a raspberry pi. I have been following [this guide](https://docs.microsoft.com/en-us/aspnet/core/razor-components/get-started?view=aspnetcore-3.0&tabs=visual

[2019-03-25 18:28] krwq commented on #345
Hey @IVData,

I do not have any expertise on the Razor components but perhaps I will be able to help or redirect to the correct place.

Could you share you csproj (or at least all PackageReference and possible conditional related to them)?

Also please let us know how do you restore and build.

Also please share `dotnet --info` output.

Here is what you can also try (on your Windows box):
`dotnet

[2019-03-25 21:01] IVData commented on #345
Hi,

I'll test the publishing when I get home but in the mean time I have the csproj and ran `dotnet --info`.

`dotnet --info`:
[code]

csproj:
[code]

I was trying to avoid publishing if I can, since I'm developing on another machine I'd like to run `dotnet watch run` on the raspberry pi while I dev to speed up the process of trying things. But I'll give it a go as it may lead us somewhere.

I wo

[2019-03-27 01:11] krwq opened #347 "Disposing pins is not always expected"
I think we should have a way of telling controller that we don't want any cleanup to happen for the specific pin (in my case `reset` pin)

Here is the scenario I've encountered recently:
I've worked on oLED bindings - one of the oLED pins is `reset`.
Scenario is following:
- start .NET app to draw something and close it

Here is what happens instead:
- .NET app starts, draws whatever user requeste

[2019-03-27 12:56] ghost opened #348 "Add SPI interface to Bmx280 binding"
Hi

I have a BME280 temperature, humidity and pressure sensor for a school project which is supported in the devices for dotnet IoT.

The readme states under connection types I2C and SPI, I know SPI is unticked but It looks like someone thought about adding SPI support but then didn't.

Does this mean it's currently being implemented? I had a look at the code and I thought it was just a case of ed

[2019-03-27 13:05] shaggygi commented on #348
@EthanTeece this most likely means the binding only has support for I2C for now.  You might want to rename this issue to something like "Add SPI interface to Bmx280 binding" so it will be on the radar for someone to pick it up.

[2019-03-27 13:30] EthanTeece commented on #348
@shaggygi thanks, I understand this is probably low priority so I won't get my hope up haha. I'd be happy to help test it though!

[2019-03-28 18:49] IVData commented on #345
Finally had time to try publishing - and it works as expected.
Some linux-arm versions of `System.Device.Gpio` are definitely present in the project dir:

[code]

So I'm still not sure why `dotnet run` is unable to find it.

[2019-03-28 21:17] krwq commented on #345
@IVData I think I have an idea what the issue might be.

Your `dotnet --info` on RPi shows `RID: linux-x64` - this seems incorrect.
it should have printed `linux-arm` - how did you install .NET Core on RPi?
is this the ARM32 package/zip from: https://dotnet.microsoft.com/download ?

Note: `System.Device.Gpio.Native` is OOB nuget package (OOB meaning that it doesn't ship with .NET Core and is a sep

[2019-03-29 00:58] richlander commented on #345
I can repro this with the [led-blink sample](https://github.com/dotnet/iot/tree/master/samples/led-blink) by simply updating to the latest version of the package. I repro'd on both .NET Core 2.1 and 3.0.

[code]

[2019-03-29 01:03] krwq commented on #345
@richlander does it make a difference if you do `dotnet run -r linux-arm` - it seems to me like dotnet cli issue to be honest (doesn't restore runtime assets)

[2019-03-29 01:06] richlander commented on #345
Yes.

[code]

/cc @nguerrera -- what should happen here so that `dotnet run` works on its own? This is the package: https://www.nuget.org/packages/System.Device.Gpio/0.1.0-prerelease.19171.3

[2019-03-29 01:29] IVData commented on #345
I followed the instructions here since I was looking for the 3.0 preview: https://dotnet.microsoft.com/download/dotnet-core/3.0

I have confirmed now that I downloaded the version listed under preview 3,  listed as "ARM32" and followed their instructions to install it. Very weird that it comes up as linux-x64.
[code]

@richlander how did you go about installing 3.0? I see yours comes up as `linux-

[2019-03-29 03:17] richlander commented on #345
If you want to be one of the "cool kids" (like me), install the SDK from the first column in the builds table @ https://github.com/dotnet/core-sdk. Stuff may break, but the builds are typically <24 hours old.

Here is the original issue on the linux-x64 RID being incorrectly reported: https://github.com/dotnet/cli/issues/10676

[2019-03-30 00:10] nguerrera commented on #345
Does this work?

`dotnet publish`
`dotnet bin\Debug\netcoreapp3.0\app.dll`

I suspect it will. Locally, I got all of the runtime targets on publish, but not build. cc @peterhuene

(This should probably be moved to dotnet/sdk, but I don't have enough access to use Github's transfer and my workaround app is down.)

[2019-03-30 00:13] peterhuene commented on #345
This should be fixed in nightly. I'm at a happy hour with Microsoft employees in Portland, but I can dig up the issue when I get back.

[2019-03-30 00:14] peterhuene commented on #345
Oh Rich already linked to it.

[2019-03-30 01:25] IVData commented on #345
Rich mentioned in his first post that the RID was fixed in nightly, but that `dotnet run` still doesn't work as expected. Unfortunately I can't build my project on linux with the nightly (`IApplicationBuilder.UseRouting()` has changed. But that's an ASP thing).

[2019-03-30 01:43] peterhuene commented on #345
Sorry, I was viewing and responding to the issue on my phone and didn't fully read the entire thread to see there were multiple issues being discussed.

@nguerrera which runtime targets are missing?

[2019-03-30 17:14] krwq commented on #345
@peterhuene System.Device.Gpio (OOB package) has some native assets on linux-arm which seem to be missing

[2019-03-31 06:56] PRIMETSS opened #350 "Device submission guidance"
After starting work on a possible improvement to a device, I thought to check that what I was doing followed the Template for submission on Device.
It deviated a bit, and had me go spot check more devices for an understanding of how things like setting Registers are being handled.

Typically Devices (Chips) are commonly a bunch of control registers, which are bit toggled through serial reads and w

[2019-03-31 11:59] shaggygi commented on #350
@PRIMETSS I'm not sure I completely understand your question, but have a look at Mcp23xxx binding.  It includes [a register enum](https://github.com/dotnet/iot/blob/master/src/devices/Mcp23xxx/Register.cs).  We don't have a strict standard for structuring commands, registers, etc. and is usually up to the implementer.

Most cases I see the device being instantiated with the communication protocol

[2019-04-01 16:12] krwq commented on #350
Actually @shaggygi has created something most resembling guidelines by adding a template:
https://github.com/dotnet/iot/blob/master/tools/templates/DeviceBindingTemplate/README.md

most typically devices have single enum for Registers and some kind of Write/Read which take register and Span/ReadOnlySpan.

I generally don't recommend using too many classes in the design but we also don't forbid the

[2019-04-01 16:54] richlander opened #351 "Provide ARM64 assets in System.Device.Gpio"
The NuGet package only has 32-bit assets for ARM. It should also contain assets for ARM64.

I'm assuming separate assets are needed for musl, to support Alpine ARM64. We should validate that at the same time.

[2019-04-01 18:47] peterhuene commented on #345
I don't have a Pi (or other ARM device) ready to repro on, but here's what I get with a simple console app repro:

[code]

Given how this package is authored, this appears correct.

@nguerrera do you know if the host respects a TFM of `netstandard2.0` when resolving the `System.Device.Gpio.dll` asset at runtime?

[2019-04-01 19:40] nguerrera commented on #345
It seems to be working for me too now after updating to latest. I believe I was missing the .so on Friday, but I grabbed a later nightly after that. I don't know what version I had before.

I don't think it knows anything about TFM compatibility, but rather picks the best one by RID from the list in .deps.json:

[code]

In other words, the netstandard2.0 choice and path is baked in at build time.

[2019-04-01 22:12] PRIMETSS commented on #350
Thank-you!

I'll submit the PR later today and see how we go.
Just conscious of wasting reviewers time. But sounds like it might be ok!

(ok to close)

[2019-04-01 22:12] #350 closed

[2019-04-01 22:57] krwq commented on #350
@PRIMETSS feel free to contribute any guidelines or anything else you might find useful for the first time experience (it's too late for us to have that perspective anymore) - please let us know if you find any issues. Thanks for interest in contributing!

[2019-04-02 08:02] monty124 commented on #345
hi there guys
I'm also having this issue, Rpi3 dotnet core 2.2.103, trying to run the bmp280 sample as a start

any ideas on how i can get this working? development is on a win pc using VS Community 2017

`pi@raspberrypi:~/release $ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.103
 Commit:    8edbc2570a

Runtime Environment:
 OS Name:     raspbian
 OS Version:  9
 OS P

[2019-04-02 20:59] krwq commented on #345
@monty124 the easiest way to unblock yourself is to run `dotnet publish -r linux-arm` and copy the publish directory from `bin/` to your raspberry PI (make sure to publish project with executable and if building on Windows after copying you need to add `+x` to your output exe)

[2019-04-02 21:02] peterhuene commented on #345
@nguerrera were you able to run it though?  Both the build and publish output are correct according to the package layout.  If it can't find System.Device.Gpio.dll, then I don't think this `runtimes` layout is supported by the host.

[2019-04-02 21:15] kmate95 opened #353 "Add Mcp3428 ADC bindings"
4 channel ADC chip with I2C interface. Datasheet here: http://ww1.microchip.com/downloads/en/DeviceDoc/22226a.pdf
I'm currently working on it. Gonna make PR when I have time to finish it.

[2019-04-02 21:42] richlander commented on #345
Maybe @vitek-karas can offer thoughts.

[2019-04-02 21:45] joshfree commented on #351
@joperezr PTAL

[2019-04-02 21:47] nguerrera commented on #345
No, I didn't have access to an arm device. I realize now that what I said about missing runtime targets was a red herring. I had copied '*.dll' into my query, which caused the *.so to be excluded and left me seeing 2 runtime targets instead of 3, but there were probably all 3 there in all cases.

I agree that somebody on the host side should look next.

[2019-04-02 21:48] joshfree commented on #340
@joperezr PTAL

[2019-04-02 21:51] joshfree commented on #345
@nguerrera we have RPi 3s you can borrow from our team room.  @krwq can assist.

[2019-04-02 21:54] joshfree commented on #348
tagging this as an `up-for-grabs` issue so it's more easily discoverable

[2019-04-02 21:55] joshfree commented on #353
Thank you for the (future) contribution @kmate95 😄

[2019-04-02 22:07] nguerrera commented on #345
@joshfree Thanks. At this point, though, we believe the build output is correct and I think somebody on the host / runtime side should look next.

[2019-04-02 22:08] monty124 commented on #345
Hi @krwq
That did work (for fyi here is the full command to publish to a custom directory)
`dotnet publish -r linux-arm -c Release -o release` from within your project directory (for those that are a little newer to this, like me)

So the question remains, what is the proper way? I was **unable** to generate an exe only a dll, and the targeted rid produced a release package of 187 items and ~65Mb!