[2021-02-02 06:42] Ellerbach commented on #1423
@robinmanuelthiel that's normal :-) It's because you can't push anything directly to this repository. Here are the steps for you to be able to submit a PR:

- step 1: clone the repository in your own GitHub. Click the Fork button on the top right of the page and select your own repository
![image](https://user-images.githubusercontent.com/8145578/106561353-ce597b00-6528-11eb-8e1e-5de4501f43cb.png)

[2021-02-02 06:51] Ellerbach commented on #1431
@vsfeedback and @terrajobst , there are cheap and perfectly working USB dongle based out of FT4222 chips offering I2C, SPI and GPIO. See in our [repository here](https://github.com/dotnet/iot/tree/main/src/devices/Ft4222), you can buy some in multiple places like [BitWiazrd](http://bitwizard.nl/shop/FT4222h-Breakout-Board?search=ft4222), in this case it cost 13€.

We've been working with FTDI whic

[2021-02-02 10:24] pgrawehr commented on #1431
We'll also (hopefully soon) be providing an Arduino/Firmata binding, which allows to use an Arduino Nano or Uno (around $20) as an USB dongle, providing Gpio, Spi, I2c and PWM.

[2021-02-03 11:23] #1432 closed

[2021-02-03 11:46] krwq commented on #1430
@GKooijmans let's wait until https://github.com/dotnet/iot/pull/1277 is merged before we do any work here.

What about removing https://github.com/dotnet/iot/blob/main/src/devices/SocketCan/CanRaw.cs#L92-L98 and returning `frame.IsValid`. We would still need to somehow make sure the [assert below](https://github.com/dotnet/iot/blob/main/src/devices/SocketCan/CanRaw.cs#L101) is not hit.

Are the er

[2021-02-04 10:21] GKooijmans commented on #1430
Yes, @krwq it makes sense to wait for #1277 indeed.
Returning frame.isValid makes sense too because it's nothing to act on anymore in this method.
The assert you mention will not be hit  because an error frame would still have the framelength properly match the length of the data array. In that sense an error frame is just like any other frame, although their data length is always 8 I believe.
The

[2021-02-04 11:23] #1423 closed

[2021-02-05 09:32] krwq commented on #1430
@GKooijmans if there are 9 types we should not pick 2 arbitrarily and support either all of them or have a binary answer.

The buffer length is always 8 bytes but the actual data length is determined by the field inside of the CAN frame (technically you could add some extra info past the data if data is less than 8 - currently we ignore that info).

We also should determine if TryReadFrame should

[2021-02-05 16:49] GKooijmans commented on #1430
@krwq  I agree, we should support all of them.
To know whether TryReadFrame should return True or False in case of an error frame depends on what we define as a valid frame.
An error message frame is a valid frame in the strict sense of the word as it adheres to all the limitations and specs of the CAN protocoll. Its data length is equal to the dlc value. Its ID is a valid 29 bit identifier, etc.

[2021-02-09 08:01] Apollo3zehn opened #1437 "CharacterLcd sample does not compile"
See: https://github.com/dotnet/iot/blob/main/src/devices/CharacterLcd/README.md

The second code samples contains the following line:
`using (var lcd = LcdRgb(new System.Drawing.Size...`

Instead it should be `using (var lcd = new LcdRgb(new System.Drawing.Size` ("**new**" is missing).

[2021-02-09 08:29] Ellerbach commented on #1437
Correct. Will be fixed in #1392.
If you copy/paste from the sample, it will work.

[2021-02-12 08:52] PJTewkesbury opened #1441 "Large4Digit7SegmentDisplay does not drive decimal points when connected to AdaFruit 0.56" 7 Seg Display"
**Bug Description**

I have connected a ([AdaFruit 0.56" 4 digit, 7 segment ](https://learn.adafruit.com/adafruit-led-backpack/0-dot-56-seven-segment-backpack) ) display using I2C bus to a Raspberry PI. The digits display correctly, but I cannot control the decimal points on any of the digits. The centre ':' can be controlled.

**Steps to reproduce**

[code]

**Expected behavior**
I expect the fol

[2021-02-16 07:03] Ellerbach commented on #1441
Thanks @PJTewkesbury  for submitting this issue. I looked at the code and you're right, it seems that the mask is always apply.
So this should be fixed. You are right, the SegmentMask can be removed. So it will allow the scenario you describe.
If you are willing to submit a PR, that would be great. Just let us know so someone else won't have to make the change.

[2021-02-18 16:41] Ellerbach commented on #1431
[Triage] As we have cheap solutions, we feel that this is being worked on. Please feel free to reopen if there is something specific.

[2021-02-18 16:41] #1431 closed

[2021-02-18 16:44] Ellerbach commented on #1418
[Triage] As mentioned, this is a duplicate from #674, so I'm closing this issue. Please feel free to reopen if anything special.

[2021-02-18 16:44] #1418 closed

[2021-02-18 16:49] Ellerbach commented on #1415
[Triage] The .NET nanoFramework community is working on a port to have .NET nanoFramework supported. This will take a little time.
The other element is that as soon as there will be a support for Arduino IDE, you'll be able to upload a Firmata firmware that will allow you to be used with .NET IoT from your Windows machine for example. This support is coming soon on our side, see #1039.

[2021-02-18 16:57] Ellerbach commented on #1403
[Triage] We need to list all the bindings that uses System.Drawing and identify groups which need to be adjusted together. We also need to make sure that the person who'll do some of the work has the proper hardware to test it.

[2021-02-18 17:11] Ellerbach commented on #1400
[Triage] Support seems beyond scope for .NET IoT. Most of the time, those chips are connected to a very small micro controller as the key scenarios for LoRa is long range, low cost communications. ZigBee can be slightly different as it can be connected all the time. That said, same, they're mainly used with low end, low consumption micro processors.
If anyone wants to add the support in .NET IoT,

[2021-02-18 17:11] #1400 closed

[2021-02-18 17:15] Ellerbach commented on #1399
[Triage] The question is answered. The process to update it is on its way. Feel free to reopen it if you have specific elements or you don't see anything updated in the next few weeks.

[2021-02-18 17:15] #1399 closed

[2021-02-18 17:17] Ellerbach commented on #1391
[Triage] There are still few edge cases where there are conflits. We'll let this one open to make sure we don't forget to fix all those edge cases.

[2021-02-18 17:25] Ellerbach commented on #1381
[Triage] We will investigate the following:
* SA1201 - ? depends on number of changes
* SA1203 - ok
* SA1204 - ? depends on number of changes
* SA1214 - ok
* SA1215 - ? depends on number of changes

[2021-02-18 17:29] Ellerbach commented on #1373
[Triage] @shaggygi, can you confirm that the answer is sufficient so we can close this issue?

[2021-02-18 17:31] Ellerbach commented on #1322
[Triage] Thanks @krwq for volunteering in turning this as documentation :-)

[2021-02-18 17:37] Ellerbach commented on #1308
[Triage] Still on the radar, all elements available in the PN532 implementation. Still some work to do to move that into the driver and have this working across all SPI drivers. Btw, this can be used on one and the other, so if Lsb or Msb is not working, this trick can be applied.

[2021-02-18 17:38] Ellerbach commented on #592
[Triage] Duplicate now with #1308 and PN532 implement this.

[2021-02-18 17:38] #592 closed

[2021-02-18 17:44] #1373 closed

[2021-02-19 09:32] krwq commented on #1322
This thread will be replaced by https://github.com/dotnet/iot/pull/1443

[2021-02-19 11:33] krwq commented on #1381
* [x] SA1201 - Not convinced about it, seems more noisy than worth it, I didn't find the order super obvious
* [x] SA1203 - ok - already enabled
* [x] SA1204 - I found the code easier to read in most cases
* [x] SA1214 - ok - already enabled
* [x] SA1215 - ? depends on number of changes - no errors so assuming this was intuitively done correctly

[2021-02-19 17:17] Ellerbach commented on #1441
Will be fixed thru #1392.

[2021-02-19 17:42] Ellerbach commented on #1403
Here is the list of references to System.Drawing in the repo:
- samples\led-matrix-weather
- src\devices\Apa102 -> seems to only use Color
- src\devices\Bh1745 -> seems to only use Color
- src\devices\Common\Iot\Device\Graphics -> seems to only use Color
- src\devices\GoPiGo3 -> seems to only use Color
- src\devices\Media\VideoDevice -> uses Color and PixelFormat, Size and maybe few others. This w

[2021-02-19 19:04] bbhxwl opened #1445 "The islastread successful of dht22 is always false. Even if the correct temperature is read, this is always false?"
The islastread successful of dht22 is always false. Even if the correct temperature is read, this is always false?

[2021-02-20 06:30] Ellerbach commented on #1445
You should follow the pattern by reading first and checking if the read is correct:

[code]

[2021-02-20 16:00] bbhxwl commented on #1445
try
            {

                using (Iot.Device.DHTxx.Dht22 dht = new Iot.Device.DHTxx.Dht22(26, PinNumberingScheme.Logical))
                {
                    while (true)
                    {
                        if (dht.IsLastReadSuccessful)
                        {
                            Console.WriteLine($"Temperature: {dht.Temperature.DegreesCelsius} ℃, Humidity: { dht.Hum

[2021-02-21 19:24] pgrawehr commented on #1445
Your code does not even attempt to read from the sensor. Use the pattern given above:

[code]

So first the properties `Temperature` and `Humidity` are read, and then we check whether the reading was valid. But if you don't read, the validity will never change. Note also that you might need retries. Not every read is valid, so you cannot wait indefinitely but should try again after around 2.5 seco

[2021-02-22 10:33] krwq commented on #1445
@pgrawehr @Ellerbach I think the APIs might not be exactly intuitive. It's not really obvious when reading happens without reading the implementation code.

[2021-02-22 16:01] pgrawehr commented on #1445
@krwq I agree, I think this was discussed a few times, but so far nobody wanted to do the breaking change of converting the properties to TryGet methods.

[2021-02-22 16:28] bbhxwl commented on #1445
pi@raspberrypi:~/dht $ dotnet dht22.dll
Temperature: -273.15 ℃, Humidity: 0.0 %RH %
Temperature: -273.15 ℃, Humidity: 0.0 %RH %
Temperature: 25.3 ℃, Humidity: 29.1 %RH %
Temperature: -273.15 ℃, Humidity: 0.0 %RH %
Temperature: -273.15 ℃, Humidity: 0.0 %RH %
Temperature: 25.3 ℃, Humidity: 28.3 %RH %
Temperature: 25.3 ℃, Humidity: 28.2 %RH %
Temperature: -273.15 ℃, Humidity: 0.0 %RH %
Temperature: 2

[2021-02-22 16:28] bbhxwl commented on #1445
···
 static void Main(string[] args)
        {
            while (true)
            {
                using (Iot.Device.DHTxx.Dht22 dht = new Iot.Device.DHTxx.Dht22(26, PinNumberingScheme.Logical))
                {
                    var temp = dht.Temperature; // Try reading the temperature
                    var hum = dht.Humidity; // Try reading the humidity

[2021-02-22 16:28] bbhxwl commented on #1445
`
 static void Main(string[] args)
        {
            while (true)
            {
                using (Iot.Device.DHTxx.Dht22 dht = new Iot.Device.DHTxx.Dht22(26, PinNumberingScheme.Logical))
                {
                    var temp = dht.Temperature; // Try reading the temperature
                    var hum = dht.Humidity; // Try reading the humidity

[2021-02-24 08:13] Ellerbach commented on #1445
We can always create a new way, put [Obsolete] on the old way?
And of course, fully agree with the fact it's not super obvious.

[2021-02-25 10:03] #262 closed

[2021-02-25 11:15] #1308 closed

[2021-02-25 12:38] PJTewkesbury commented on #1441
I have created a pull request #1459 which fixes the issue.

[2021-02-25 17:00] Ellerbach commented on #1445
[Triage] It's been agreed to make a new proposal for API for DHT more intuitive and based out of the Try pattern. Properties can be removed as well.

[2021-02-25 17:20] Ellerbach commented on #1249
[Triage] We will make the DelayHelper public. Work to be done on the naming and namespace to be `Iot.Device`.
While making changes on the helpers, would be perfect to name the `Iot.Device.Common` to just `Iot.Device` for the weather
helper.
cc @MarkCiliaVincenti

[2021-02-25 17:20] MaxPrimeAERY commented on #1403
VideoDevice doesn't work for me properly. I get an error in this part of code
 video = device.CaptureContinuous();
 Bitmap myBitmap = new Bitmap(video);

System.ArgumentException: Parameter is not valid.
   at System.Drawing.Image.InitializeFromStream(Stream stream)
   at System.Drawing.Bitmap..ctor(Stream stream)

[2021-02-25 17:24] Ellerbach commented on #1239
[Triage] As soon as we will find a use case and we will have a device to support this, we will clearly work on reusing as much as possible the work done by nanoFramework.

[2021-02-25 17:25] Ellerbach commented on #1234
[Triage] @ZhangGaoxing are the existing work around acceptable?

[2021-02-25 17:28] Ellerbach commented on #1233
[Triage] There are quite a lot of forums existing, like the one referenced before. You can as well use StackOverflow for example.
For specific questions about .NET IoT, you can use our [Discord channel](https://discord.gg/kqWhBbj) for example.

[2021-02-25 17:28] #1233 closed

[2021-02-25 17:30] #1227 closed

[2021-02-25 17:31] Ellerbach commented on #1220
[Triage] This is up to grab for anyone having this device!

[2021-02-25 17:32] #1219 closed

[2021-02-25 17:34] Ellerbach commented on #1216
[Triage] @z-eh did you manage to make it working? Does it need any patch inside the binding?

[2021-02-25 17:39] Ellerbach commented on #1210
[Triage] It seems that the way the event are handled would require to be redone to support subscription to multiple events at the same time rather than multiple subscriptions for single events. This is mainly located in the [event handler driver](https://github.com/dotnet/iot/blob/96fd9f1d4f334a43e0fd8a144cee1780eb0a0af5/src/System.Device.Gpio/System/Device/Gpio/LibgpiodDriverEventHandler.cs#L59).

[2021-02-25 17:42] Ellerbach commented on #1403
@MaxPrimeAERY can you please create a separate issue for this problem? This is not related to this specific issue.

[2021-02-25 18:04] MaxPrimeAERY opened #1461 "VideoDevice error"
**Describe the bug**

VideoDevice doesn't work for me properly.  I get an error in this part of code
video = device.CaptureContinuous(); // I get System.IO.MemoryStream
Bitmap myBitmap = new Bitmap(video);

System.ArgumentException: Parameter is not valid.
at System.Drawing.Image.InitializeFromStream(Stream stream)
at System.Drawing.Bitmap..ctor(Stream stream)

[2021-02-25 18:17] z-eh commented on #1216
I can not manage to make it working...
It was a complete mess and I want to make sure to not brake anything else.
When 1.3 Release came out in December, then I tried it and it just failed again.
So I'm waiting new Raspberry Pi boards to arrive and new Mcp23s17 chips too. (+ a PiFace Digital I/O 2)
I want to make sure that it is not a hardware related issue on my side.
As I saw the code had "some"

[2021-02-26 00:08] nh43de commented on #1415
The only issue is that nanoFramework doesn't support .NET standard libs (yet?) as far as I'm aware. Makes sharing code between platforms a little more tricky, and all the IoT libs here unusable. NanoFramework has it's own specialized packages.

[2021-02-26 09:47] pgrawehr commented on #1415
@nh43de Yes, that's absolutelly a limitation. We'll certainly be trying to support the Raspberry Pico trough our new Firmata binding. Unfortunatelly, there's currently no support to build for the Pico using the Arduino IDE (yet), which will cause an unknown extra effort in building that library. I also don't have the hardware so far. But please don't expect that you'll be able to run a full framew

[2021-02-26 10:14] Ellerbach commented on #1415
@nh43de it has the possibility to use .NET standard as project reference, then everything needs to be compiled for nanoFramework. mscorlib is a small subset of the full framework. With minimum numbers of methods.
You can check an example project using .NET Standard project reference between a reach .NET code base and a nano based one in the nanoFramework Unit Test Framework: https://github.com/nan

[2021-02-26 18:35] #1381 closed

[2021-03-01 16:04] danielmeza commented on #948
@hansmbakker DotNet-BlueZ is a good library for build BLE Clients apps. I have already implemented an server app using  [dbus](https://github.com/tmds/Tmds.DBus) to implement BlueZ also. But before to use bluez as a solution on Linux systems, we need to include dbus support on .net core, currently we had [Tmds.DBus](https://github.com/tmds/Tmds.DBus) implementation on .net core but it not below to

[2021-03-04 17:18] richlander opened #1467 "Enabling optimal GPIO driver in containers"
I was playing with running our samples in a container. I've done that before, but wanted to validate which driver was being used. I was reading this [article](https://blog.alexellis.io/gpio-on-swarm/) to guide me.

I'm looking for three things:

- Documentation on the container device models we support (how to get access to the underlying device: GPIO, SPI, ...).
- Guidance on how to select the mo

[2021-03-04 19:50] richlander opened #1468 "Enable selecting driver via environment variable"
I was playing with containers and wanted to try using libgpiod. I was unable to do that in containers, w/o changing my program. I'd like to be able to select the driver via environment variable.

Context: #1467

I would like to be able to enable the following two cases:

- `docker run --rm --device /dev/gpiomem led-blink`
- `docker run --rm -it --device /dev/gpiochip0 -e DOTNET_GPIO_DRIVER=LibGpio

[2021-03-04 19:55] richlander opened #1469 "Better experience when using LibGpiodDriver"
I was using `LibGpiodDriver` as part of #1467. I ran into two problems.

I installed `gpiod` instead of `libgpiod-dev`. I saw this error:

[code]

I was then told to install `libgpiod-dev`. That worked.

We should do two things:

- Enable using `gpiod`.
- Provide a better error message if the underlying binary is missing (or the system is misconfigured). I'd suggest pointing to a README in this re

[2021-03-04 23:14] joperezr commented on #1468
While I do think that some people might find this useful, I don't think that the right place to do this would be in System.Device.Gpio.dll. Instead, I would suggest doing this on the application side like:

[code]

Basically two things here:
- I don't think that it is the right thing for a down-level library to read environment variables in general unless absolutely necessary.
- By letting the app

[2021-03-04 23:24] joperezr commented on #1469
This part is already covered by issue: https://github.com/dotnet/iot/issues/1070 so let's keep this issue really about providing a better error message if the binary is missing and providing a pointer to a doc that explains how to fix it.

[2021-03-04 23:33] richlander commented on #1469
I changed the title. Do you want me to start a doc, and then we can change the code to point there, and update the doc as we go?

[2021-03-04 23:47] richlander commented on #1468
CoreCLR (which is kinda a library), for example, honors tons of ENV. We also support appcontext switches in the libraries. I think honoring ENVs is fine.

I don't think getting people to include this code in their apps is reasonable. S.D.G is the one that is exposing the black box. Its odd to me to not make it configurable. If we go with the app model, it just means we have a non-standard way to h

[2021-03-04 23:52] 007roy opened #1470 "No way to use pin for pwm after calling SetPinMode."
**Describe the bug**
On Raspberry Pi 4
If GpioController.SetPinMode or OpenPin are used to set PinMode.Output at anytime system must be rebooted before PwmChannel can be used.

**Steps to reproduce**
Add 'dtoverlay=pwm,pin=18,func=2' line to /boot/config.txt and reboot

exec this code:
...
var pwm=PwmChannel.Create(0,0,500,1);
pwm.start();
...

exec this code:
...
controller.OpenPin(18,PinMode.Out

[2021-03-05 00:00] joperezr commented on #1467
There shouldn't really be a need for this, as the whole idea is that if you don't specifically need/want one driver, you should be using the `new GpioController()` constructor which will pick the most optimal one based on your environment for you. This might be tricky in terms of docker containers, but I think that if anything we should probably adapt/change our default picking logic to support do

[2021-03-05 01:16] richlander commented on #1467
Totally agree ... `GpioController` is the way to go.

I think we should just report the name somehow. We expose lots of information about the OS, machine env, and .NET itself in various APIs: https://github.com/dotnet/core/blob/main/samples/dotnet-runtimeinfo/Program.cs. We've had similar arguments about not exposing that information because apps shouldn't be making runtime decisions about that in

[2021-03-05 03:52] vulild opened #1471 "Error while waiting for pin interrupts"
Unhandled exception. System.IO.IOException: Error while waiting for pin interrupts.
Mar 05 01:26:30 raspberrypi1 dotnet[6912]:    at System.Device.Gpio.Drivers.SysFsDriver.WasEventDetected(Int32 pollFileDescriptor, Int32 valueFileDescriptor, Int32& pinNumber, CancellationToken cancellationToken)
Mar 05 01:26:30 raspberrypi1 dotnet[6912]:    at System.Device.Gpio.Drivers.SysFsDriver.DetectEvents()

[2021-03-05 06:08] pgrawehr commented on #1470
Hi @007roy

This is a known problem, see #874, #878 and others. If you've got wiringpi installed (the latest version), you can use a command like `gpio -g mode 12 ALT0` to reset pin 12 to PWM.

PR #1128 is going to fix this. Since it's a big change, review is taking its time. But we definitelly want this in the next release.

[2021-03-05 08:30] scegg commented on #378
It happens every time.
Repo:
1 Start a console and wait for a signal (ManualResetEventSlim is using here).
2 Set the signal from GPIO event.

[code]

Unhandled exception. System.IO.IOException: Error while waiting for pin interrupts.
   at System.Device.Gpio.Drivers.SysFsDriver.WasEventDetected(Int32 pollFileDescriptor, Int32 valueFileDescriptor, Int32& pinNumber, CancellationToken cancellationTok

[2021-03-05 09:32] krwq commented on #1470
@007roy thank you for filing the issue - this gives us feel that this is not a potential problem happening with tests abusing the APIs and it's an actual pain point. Just to clarify: next release => next major release timeline. This is something we do want to ship but it has non-trivial design - getting this wrong would have really bad long-term user experience impact which we'd prefer to avoid an

[2021-03-05 09:54] krwq commented on #1468
I think I'm ok with the environment variable here. There was plenty of times we got issue and switching driver was the easiest solution we could provide, it's much easier to ask people to try running the app with some magic environment variable rather than changing their code, redeploying and testing. I assume over time there will be lots of apps which already shipped and will work on some OS-es b

[2021-03-05 17:02] pgrawehr commented on #378
@scegg Is this on a Raspberry Pi? If so, try installing `libgpiod-dev` and see whether this fixes the problem.

[2021-03-05 18:48] pgrawehr commented on #1471
Probably a duplicate of #378. Does it always happen for you, or only intermittenly?

[2021-03-05 18:56] joperezr commented on #1468
Before we decide or not, let's take one step back and think what actual problem this would be addressing and whether that is common and if the solution is the right fix or not. Questions that jump to mind are:
- Why would somebody want to change the driver that gets picked by default?
- How common would a user want to do this?
- How common would it be for the user to have more than one app running

[2021-03-05 18:59] joperezr commented on #1468
I don't think that the right solution for this problem is to have a magical switch to change the default driver selection. I think that the right fix for this, would be to have much better diagnostic tools/errors/messages into our library that helps us better identify what the underlying problem is. If we just do it with the variable, it means we will have a workaround for the user, but we will no

[2021-03-05 19:46] joperezr commented on #1469
Sounds good to me. I suppose you were already intending to do this, but when you say point we should really be creating an aka.ms link that points there and have the code go to the aka.ms link 😄

[2021-03-05 19:53] manuelgass opened #1472 "Issues with I2C speed of command-execution"
Hello first of all i would like to give you a short overview of the system i am using.

[code]

To build the project i'm using the command
`dotnet publish -c release -o publish -r linux-arm`.

Everything works perfectly and the project builds without any problems.
There are also no problems with the execution.
However, I had to determine with some measurements that between the write phases long ti

[2021-03-05 21:03] joperezr commented on #1472
Thanks a lot for logging the issue @manuelgass and for the detailed explanation above of the environment and the repro steps. Few notes to add here:
- Stopwatch is not being stopped after the for-loop so just to keep in mind that you are getting defenitly some overhead on the Console.WriteLine + the allocation of the bytes to send + the jit itself may not be warm enough the first few rounds of the

[2021-03-06 10:52] manuelgass commented on #1472
Good morning and thank you for the quick reply,

I ran the tests with the setup you suggested on both the BeagleBone Black and a Raspberry Pi3b.
The results are exactly the same and listed below.
However, since I had no previous experience with the I2C slave I used, I wrote a short Python script this morning to make the results comparable.
Now to my findings: Both with Python and with the library

[2021-03-06 14:15] joperezr commented on #1472
I'm not angry at all 😄, quite the opposite actually. I'm very happy to have users like you being part of the community that a) log detailed issues for investigation when you detect something wrong, and b) help us diagnose what might be wrong with the library. People like you are exactly the ones that make our libraries better so I really appreciate you taking the time to follow through. We hope to

[2021-03-06 14:19] #1472 closed

[2021-03-06 15:01] #1470 closed

[2021-03-07 13:01] pgrawehr commented on #1468
What about taking the (automatic) driver choice out of S.D.G and give the user some freedom to it? With the board PR, there's currently a second place where the device detection is required, since now we want to automatically choose the right board and not only the right GPIO driver. So far, we have also more or less ignored, that the same problem as with the GPIO drivers also exist for other driv

[2021-03-07 17:48] joperezr commented on #1468
We can't take it out as we definitely want to keep at least one GpioController constructor that abstracts the driver concept out from the user. The GpioDriver is theoretically an implementation detail, so I'd expect most cases to not really care about the driver that gets picked. Regarding the comment of letting users choose or write their own auto-detection logic, that is already the case, as the

[2021-03-07 20:50] pgrawehr commented on #1468
... except that with what we have in place right now, it is very ugly to write your own detection logic, because the Driver interface is not public. Of course you could write everything yourself, but then you're duplicating logic that is already in SDG. So if you want to test whether a particular driver works, you have to instantiate it and test whether opening a pin does not throw.

[2021-03-08 04:30] scegg commented on #378
Hi, not seeing such a problem after libgpiod-dev installed. But this is thrown instead sometimes.

[code]

dotnet core 3.1.12 is used.

[2021-03-08 05:51] pgrawehr commented on #378
@scegg I do not know where this error is coming from. The indicated file `cairo-pattern.c` is not part of libgpiod nor of the runtime itself. Are you including another library from somewhere?

[2021-03-08 05:56] scegg commented on #378
Maybe. Besides GPIO 1.3, System.Drawing.Common 5.0.0 is also referenced for drawing image on graphics.

[2021-03-08 07:47] pgrawehr commented on #378
The file is part of [this library](https://cgit.freedesktop.org/cairo/tree/README), which I don't think is used by any system component. Are you using a linux GUI framework of some kind? Note however that (while I haven't seen any problems with it yet) System.Drawing.Common is deprecated. Switch to ImageSharp, if possible (see also our ticket #1403).

[2021-03-08 07:49] scegg commented on #378
Thanks for your info.

I'm not using GUI. System.Drawing.Common is used for rendering bitmap by using Graphics.

[2021-03-08 17:52] joperezr commented on #1468
Mmm not sure what you mean with the Driver interface not being public, I wasn't thinking of trying to test and calling a pin to see if it worked as that is not the way we do it for most of our drivers, we instead do an ahead of time check to see if the platform supports it. I was thinking some user app to look a bit like:

[code]

[2021-03-11 07:19] WillooWisp opened #1479 "Opening an output pin with libpgiod driver changes the pin value"
**Describe the bug**

I want to read the value from an output pin, but by just opening an output pin it gets set to high. So reading it always returns high of course.

But using gpioget to read the pin value returns it as low, if that was what it was.

**Steps to reproduce**

Create GPIO controller
Open pin (for one that is low)
It is set to high, without an explicit write

[code]

**Expected beha

[2021-03-11 08:03] pgrawehr commented on #1479
When you want to read the pin value, why do you open it in output mode? When the pin is set to output, the value must be set to either low or high. For the libgpiod driver the default value is apparently high.

Currently, the default value for an output pin is driver dependent, but we're working on fixing that. In either case, reading the value from an output pin is never returning the previous va

[2021-03-11 20:33] Alex-111 commented on #1210
Are you sure the implementation is wrong ? Maybe the problem is just that an exception is happening in the long running loop?

[2021-03-11 21:01] joperezr commented on #1468
With that  you are assuming that **every application** would want to do this, which is exactly my point. I think that it will be super rare for people to want to do this which is kind of why I push back here. I would rather hear from the community how popular this feature request is, and specially hear why they want it (since it is likely that if a lot of folks are trying to change the default log

[2021-03-12 08:15] WillooWisp commented on #1479
I just read these issues, https://github.com/dotnet/iot/issues/183 and the fix https://github.com/dotnet/iot/pull/986 for allowing reading of output values and assumed that would work.

Are you saying that it should never be possible to read back the state from an output pin, if previously written? Why is that?

[2021-03-12 08:55] pgrawehr commented on #1479
That fix just technically allows to read output pins (previously, there was an exception when doing so). But reading the output pin alwaysy returns the value that was previously written, because that's its value. If an output is set to High, you can read its value, but it will always return High, because that's what it's set to.

On the hardware level, a pin set to high is techically connected to

[2021-03-12 09:26] krwq commented on #1479
@WillooWisp if I understand correctly you expect that following will happen, correct?

[code]

I can see this point if you look at it from low-level perspective since opening pin there doesn't mean anything and pin is either input or output.

[2021-03-12 09:51] WillooWisp commented on #1479
Two different things...

1)
Yes, I would not have assumed opening the pin for writing would change the state (before I can actually write what I want), since that can be rather nasty, depending on what it controls.

2)
But I thought it would also be possible to verify the state after writing, like this (assuming that opening the pin does not change the state)...

[code]

[2021-03-12 12:10] pgrawehr commented on #1479
If you want to read the state after writing, that's possible. But you should not close and reopen the pin then. Actually, closing an output pin should reset the value to Low (at least that's what we have specified).

[2021-03-12 13:30] WillooWisp commented on #1479
So if I understand you correctly.

1)
In order to keep an output pin high, you must have the pin open all the time, e.g. if the application ends, pin gets closed, the pin will get set to low?

Isn't this rather limiting the use cases, why resetting the pin to low when closing an output pin? To me it feels more correct to keep it high until device is power cycled.

2)
Application reboots, there is

[2021-03-12 14:50] krwq commented on #1479
@WillooWisp it's being reset on open, not on close if I remember correctly. I also don't agree with this design to be honest.

[2021-03-12 15:04] WillooWisp commented on #1479
Yes that is what I see as well, but in my case the reset with the LibGpiodDriver actually sets it to High rather than Low.

1. Since this clearly cannot be what you want, or can expect everyone to want, I believe it should be changed in order to put the choice in the hands of the application developer and not the API developer. How can we address this issue?

2. What does this merge fix do then? h

[2021-03-12 16:56] krwq commented on #1479
Possibly I remembered wrong. We would need to discuss this during our next triage meeting as this would be breaking if someone relied on the behavior of this being set to Low after Open and updating it now could case issues.

[2021-03-15 20:24] thecaptncode opened #1483 "Kernel SPI buffer size limitation with SpiDevice.Write()"
I am a contributor on a Waveshare E-Paper device driver for the Raspberry Pi 2 or later that uses the SPI bus.  The solution uses System.Device.Gpio v1.3.0 and targets .NET Standard 2.0.  In trying to boost performance, one of the things I am doing is moving to writing to the SPI device using ```SpiDevice.Write(ReadOnlySpan<Byte>)``` since a single screen on the Waveshare 7.5inch E-Paper (B) drive

[2021-03-16 08:44] krwq commented on #1483
I assume this setting is global per all SPI devices, right? In that case it probably wouldn't be ideal to have that as an instance property on SpiDevice. Also we do not really know how to support that on Windows.

If we had SpiBus it would probably make sense to put that in there and throw PlatformNotSupportedException on Windows.

IMO best course of action for now would be to add this in Iot.Devi

[2021-03-18 09:08] ZhangGaoxing opened #1490 "Abnormal waveform of Raspberry Pi Linux GPIO driver"
Recently, I tested the speed of Raspberry Pi Linux GPIO driver, and observed the square wave output on the oscilloscope. I found that the output waveform is very strange. It only outputs high level in a very short time, and compared with WiringPi (C), the speed is very very slow (although I know it will be slow, I didn't expect the gap will be so big). I have two questions:
1. The existing Raspber

[2021-03-18 14:07] krwq commented on #1490
@ZhangGaoxing can you try the same measurements but with `while (!Console.KeyAvailable)` replaced with `while (true)`?

Do we have any information what wiring PI uses underneath?

Perhaps one solution would be to create WiringPiGpioDriver...

[2021-03-18 15:42] richlander opened #1492 "Update NuGet feed"
We need the following packages added to our feed ([whichever one is the right one](https://github.com/dotnet/iot/blob/main/NuGet.config)).

- StyleCopy.Analyzers 1.2.0-beta.333
- Moq 4.16.1
- Microsoft.Net.Compilers.Toolset 3.9.0
- Microsoft.CodeAnalysis.CSharp.Scripting 3.9.0

Can the Microsoft.* packages be added to some auto-push list? It seems off to have to request those.

[2021-03-18 16:18] joperezr opened #1493 "Update Device listing for release 1.4"
cc: @krwq

[2021-03-18 17:44] joperezr commented on #1492
Micrsoft.* packages were already in the internal feed. The PR that was auto updating those packages were failing due to different reasons. We have now pushed StyleCop and Moq packages to the internal feed so I'll go ahead and close this issue.

[2021-03-18 17:44] #1492 closed

[2021-03-19 08:43] krwq commented on #1483
@thecaptncode we've briefly talked about this during our triage meeting and we're ok with this being added in Iot.Device.Bindings. Shape is ok as I suggested above. We don't know how to support this on Linux yet. Are you interested in creating a PR?

[2021-03-19 09:33] thecaptncode commented on #1483
@krwq just to make sure we are on the same page, are you talking about me forking this repo,, add the stub above as a separate class in https://github.com/dotnet/iot/tree/main/src and creating a pull request?

If so, I can do that.  Is there a desired subfolder and filename?

[2021-03-19 10:05] krwq commented on #1483
Correct. I'd suggest somewhere here: https://github.com/dotnet/iot/tree/main/src/devices/Common/System/Device - perhaps create an `Spi` subfolder.

[2021-03-19 10:10] thecaptncode commented on #1483
Will do.  Awesome!  Thanks a lot :)

[2021-03-19 16:05] MarkCiliaVincenti commented on #1299
Any news on this please?

[2021-03-20 12:29] pgrawehr commented on #1299
@MarkCiliaVincenti : I was able to grab a book on meteorology from the library, but I was not able to really read it yet. It's still on my to-do list.

[2021-03-25 15:49] #1322 closed

[2021-03-25 16:10] Ellerbach commented on #1441
[Triage] Fixed with the #1392

[2021-03-25 16:10] #1441 closed

[2021-03-25 16:17] Ellerbach commented on #378
[Triage] So seems this is not really reproductible. If anyone has an idea on how to do it, please feel free to add.

[2021-03-25 16:18] Ellerbach commented on #1471
[Triage] I will go ahead and close this one as duplicate of #378. Please @vulild feel free to add anything new to the other issue. Thanks.

[2021-03-25 16:18] #1471 closed

[2021-03-25 16:21] Ellerbach commented on #1461
[Triage] @MaxPrimeAERY can you please check if #1474 is fixing your issue. The new release 1.4 is containing this PR already. So please give it a try and let us know if you still have this issue.

[2021-03-25 16:23] Ellerbach commented on #1437
[Triage] Closing as #1392 has fixed it.

[2021-03-25 16:23] #1437 closed

[2021-03-25 16:24] Ellerbach commented on #1391
[Triage]This seems to be fixed for now.

[2021-03-25 16:24] #1391 closed

[2021-03-25 16:31] Ellerbach commented on #1328
[Triage] Up for grabs!

[2021-03-25 16:33] Ellerbach commented on #1291
[Triage] @martinsymon we will close this issue as it seems fixed with one of the latest release. Please feel free to reopen if you still have the issue with the latest 1.4 version.

[2021-03-25 16:33] #1291 closed

[2021-03-25 18:41] WillooWisp commented on #1479
When can such a fix be released for the use of the libgpio driver?

[2021-03-28 11:25] pgrawehr commented on #1479
I try to work on this next week, so I expect it to be in the next release. Time frame is 4 to 6 weeks for a new release, maybe faster if you build yourself.

[2021-03-28 19:20] figuerres opened #1502 "Tried to go to discord, fail so comment here"
i need to work with a sensor related to on in here - what a pain!   this mass of code and build scripts is huge and i just want to pull out one device source and update it.... but the web of dependent stuff is way deep..... would help a lot if the devices code was in a separate repo and they just referenced the iot package so that we could avoid a lot of digging around.

and i did try to use that

[2021-03-28 20:13] joperezr commented on #1502
Thanks for the feedback and logging the issue. I’m sorry the discord link didn’t work, @Ellerbach do you mind checking what is wrong with the discord link?

As to for building the repo, we have the list of dependencies and steps here https://github.com/dotnet/iot/blob/main/Documentation/CONTRIBUTING.md#building-iot-repo but in general all you need is to run `build.sh` on non-windows or `build.cmd`

[2021-03-28 20:18] wojciechczyz opened #1503 "Method name should be GetFirmwareVersion() instead of GetFirmwareVerion() in Iot.Device.GrovePiDevice.GrovePi class"
**Describe the bug**

Method name should be GetFirmwareVersion() instead of GetFirmwareVerion()

GrovePi.GetFirmwareVerion()
public Version GetFirmwareVerion()

**Steps to reproduce**

[code]

**Expected behavior**

Method name should be GetFirmwareVersion()

**Actual behavior**

Currently method name is GetFirmwareVerion()

**Versions used**

1.4

[2021-03-28 20:55] figuerres commented on #1502
I have a pi hat with a sensor the BMP388  related to the rest of the BMxx8xx family.
so I am just pulling out the code for  the BMxx8XX sensor to build the BMP388 version.
the device folder for that device has a visual studio .sln file so i tried to use that and it fails with all manner of depends on other things....  i now have made a local sln that has resolved all that so i can create the actua

[2021-03-29 05:10] vulild commented on #1471
安装了libgpiod-dev之后，不会报错了，但是程序会挂掉。建议把这个错误做成回调，或者屏蔽掉，我测试过屏蔽掉错误不会影响程序运行，也不影响引脚的监测。

[2021-03-29 06:46] Ellerbach commented on #1502
It seems to perfectly work, just did the test. @figuerres I see you managed to join the Discord server!

We can recommend to use the nuget package. At least, it's easier than the source code. If you want to use the source code, then only extract the code of the device you need, change and adjust the project references if needed.

[2021-03-29 09:42] krwq commented on #1502
@figuerres we've considered creating a separate repos for devices but then if we need to update several devices at the same time it would be a bit of a pain to create 20+ PRs... Most of the devices can be built separately using csprojs in their directory - you will need to do the full build at least once before that though

[2021-03-29 14:32] figuerres commented on #1502
when i got the nuget package i did not even see the device objects.  i was searching for info on the sensor and accidentally found that the github site has the files.  so possibly just publish a nuget of iot.devices  that  could be one package?  then i could get that and use the ones i need as base objects to derive from ?? that would let you keep one rep here but just better expose all that code

[2021-03-30 05:52] pgrawehr commented on #1502
That exists already. If you just want to use a binding, you don't need to build anything yourself. Just reference the `Iot.Device.Bindings` nuget and you're good to go. The nuget does not include the examples, though.

To build a project or a sample yourself (using the corresponding SLN, as you have tried before), you need to first run the "build.cmd" file in the root of the repository. That prepa

[2021-03-30 08:55] ASalomePM commented on #1411
Please, can you give me that dll?. I have the same problem with the same "Intel Serial IO GPIO Host Controller" and I am lost.

[2021-03-31 09:27] Ellerbach commented on #1411
@PsBernie I guess this message is for you

[2021-04-02 01:00] #1461 closed

[2021-04-07 09:18] PsBernie commented on #1411
@ASalomePM If you are referring to the "samples from the vendor" I mentioned above, please contact IEI via the "Service Form" on their web site - I do not think that I can share them here.

[2021-04-07 15:53] pgrawehr commented on #1411
@PsBernie Would be nice if you could clarify with the vendor whether that library can be freely distributed. That would allow us to write a wrapper implementation for it, so that it can be used with this library.

[2021-04-07 18:40] pgrawehr commented on #1479
Observations so far:

- The RaspberryPi3LinuxDriver sets the mode to INPUT on open (no other driver does that)
- Similarly, it sets the mode to INPUT and LOW on close
- The SysFs driver does neither, the corresponding test (OpenPinDefaultsModeToInput) actually fails on the SysFsDriver if running isolated.
- The LibGpiodDriver does neither, too. Also, it does not read the initial state of the line

[2021-04-08 16:20] joperezr commented on #1479
[Triage]: Agreed with @pgrawehr. Next steps here are to remove any specific logic we currently have on drivers to try to emulate consistency across them, and instead leave the state unchanged when the Open method is called, unless OpenPin overload with initialValue is called.

[2021-04-11 15:09] rmc47 commented on #1479
Along similar lines to @pgrawehr's comment, the toggle to input on OpenPin in the driver causes a slightly odd effect: if the pin was previously set to output and low, then calling `GpioController.OpenPin(pinNumber, PinMode.Output)` currently causes a toggle of the pin's state to input, then back to output.

On the Pi, that causes a momentary pull-up on the pin while it's in the input state.

(Sin

[2021-04-12 10:50] #1503 closed

[2021-04-13 16:39] philrawlings opened #1519 "Support Ack Polling for I2C"
When writing to an EEPROM (Microchip 24LC256), the device goes into a "busy" state for a few milliseconds when a page of data has been written. It is possible to "poll" the device to determine when it has finished by essentially performing a zero byte write, essentially meaning that the device address is sent on the bus, then if the device is ready it will acknowledge (ACK) and if it is not ready

[2021-04-13 22:21] joperezr commented on #1519
Thanks for adding your proposal @philrawlings! How common is this patern of writing a zero-byte to receive acknowledgement on I2C devices? To me it sounds like it is probably not a common enough scenario, and given the structure of I2CDevice, we would rather want to only expose API that is very general to all I2cDevices (like Write and Read operations). My suggestion for this case, would be to add

[2021-04-14 09:43] pgrawehr commented on #1519
@joperezr I think this is related to the way we're currently performing an I2C bus scan: Attempt to read a byte from a device. If there's no reply the driver throws an exception (which is then translated as "no device on this address"). So having a non-throwing implementation of "IsDeviceAvailable" would make sense IMHO.

[2021-04-14 09:59] philrawlings commented on #1519
@joperezr unless I'm missing something I don't think this can be added to the binding, since it relies on the methods exposed by `I2cDevice`, meaning the only way I could implement an AckPoll function in the binding would be like this:

[code]

While this works, the exception throwing is expensive and takes a lot longer that the "busy" time. Therefore there needs to be a non-throwing zero byte wri

[2021-04-14 10:04] krwq commented on #1519
Assuming we want it, would it make sense to add this to I2cBus instead of I2cDevice?

[2021-04-14 11:50] philrawlings commented on #1519
@krwq - it can be added to I2cBus as this is useful for the bus scan scenario, however for device bindings it would need to be available at the I2cDevice level also (otherwise the constructor for the `Mcp24xx256` would need to pass in the bus as well as the device as you cant get to the underlying I2cBus from the I2cDevice)

[2021-04-14 11:52] philrawlings commented on #1519
Another useful feature of adding this such that device bindings can use it: a quick check to see if the device is connected, rather than relying on catching exceptions

[2021-04-14 14:39] Ellerbach commented on #1519
I agree, this is a valid scenario. And if added, agree as well it should be on the I2cBus, not on the I2cDevice.

[2021-04-15 15:54] joperezr commented on #1519
[Triage]: This feature is approved. We would like the API to look like the following:

[code]

@philrawlings would you be interested in contributing a PR for this addition?

[2021-04-15 15:59] joperezr commented on #1222
Sorry for taking long time to respond here. This will be fixed as part of https://github.com/dotnet/iot/pull/1473 by calling a realease to the lock on the line handle before changing the pinmode.

[2021-04-15 16:01] #1261 closed

[2021-04-16 13:53] flitjens opened #1522 "LibgpiodDriverEventHandler should support rising and falling edge detection"
**Is your feature request related to a problem? Please describe.**
Using ALRT pin from the Ads1115, which signals that a conversion is ready to be obtained, requires the use of falling edge detection which is not supported at this moment. The LibgpiodDriverEventHandler only supports both edge detection. This is not sufficient for using the ALRT pin of the Ads1115.

**Describe the ideal solution**

[2021-04-16 15:37] philrawlings commented on #1519
@joperezr  - sure I can have a go! I'll take a look at this next week

[2021-04-17 13:42] pgrawehr commented on #1522
Can you describe your use case a bit more in detail? How do you register for the event? I'm quite sure I had this tested and there exist unit tests for this scenario. Additionally, the PinValueChangedEventArgs contains a field that tells you whether the event happened on a falling or a rising event, so that it should be possible to filter on that, even if both edges fire the event.

[2021-04-17 15:08] philrawlings commented on #1519
I managed to make the necessary changes and tested on a Raspberry Pi 4. I don't have a Windows IOT system so cant test my changes there but I _think_ it should work.

https://github.com/philrawlings/iot/tree/is-device-ready

I haven't submitted a pull request yet as there are a few quirks that warrant discussion.

I implemented the change as a zero byte write, meaning the data sent on the bus look

[2021-04-17 16:13] pgrawehr commented on #1519
Thanks for this comprehensive analysis! So you're saying that `i2cdetect` is operating differently on different addresses? That's a bit weird. The [Source Code](https://kernel.googlesource.com/pub/scm/utils/i2c-tools/i2c-tools/+/v3.1.2/tools/i2cdetect.c) would suggest it has different detection types, but only uses one of them at a time.

So far, we did a Read() and then catch the exception to per

[2021-04-17 22:01] wojciechczyz opened #1524 "GrovePi Relay not reliable, sometimes stays on event when switched off"
**Describe the bug**

Have not run extensive test, yet seen that on various ocations Relays are not always turned off.
I have two relays and pulsing led connected to the grovepi. led is pulsing on and off every 2 secs, relays are turned on and then off after short delay. I see they are not always turned off.

I use Raspeberry Pi 3 + GrovePi board and 2 relays, 1 led.
Using exactly same code and us

[2021-04-19 13:24] philrawlings commented on #1519
@pgrawehr looks like on line 92 in the code you linked it does choose the mode depending on the address, so that does match the behaviour I observed.

I take the point about a bus scan potentially leaving devices in an unknown state. However - to clarify - the problem I am trying to resolve is polling the device to determine when it is ready to receive the next command, so it is critical that it d

[2021-04-19 19:17] pgrawehr commented on #1519
That sounds good IMHO. Please do add some unit tests so the behavior is tested. The tests in the `System.Device.Gpio.Tests` assembly are executed on actual hardware (both on Windows and Linux) so as soon as you open the PR, you'll see whether everything works, including the Windows implementation.

[2021-04-20 06:02] krwq commented on #1519
If you can figure out a reasonable test you can add it to CI, it will run on RPi3 on Windows IoT and Raspbian

[2021-04-21 00:35] Mallon94 commented on #1415
Now that the Pico does have Arduino IDE support, can we expect some firmata capabilities?

[2021-04-21 09:28] pgrawehr commented on #1415
@Mallon94 As far as I know, there are only projects in Beta state right now (or are you looking at a specific toolkit)? I have not tested any of those yet, for lack of time.

In theory, it should be easy: Check out https://github.com/pgrawehr/ConfigurableFirmata (branch develop!), and update the file "Boards.h" to include the hardware configuration for the pico.

[2021-04-21 09:41] Mallon94 commented on #1415
@pgrawehr Thanks for the advice. I had a quick look at using configurablefirmata and updating the Boards.h file, however it still would not recognise the board everytime I tried to compile. It appeared like the name was wrong in the Boards.h file but i was using the correct build identifer from the boards.txt pico file.

I found there is something in works http://abyz.me.uk/picod/index.html that l

[2021-04-21 12:56] pgrawehr commented on #1415
@Mallon94 Can you tell me which pico-for-arduino library you tried? I might give it a go if you want (I do not have the hardware, but maybe at least I could get it to compile)

[2021-04-21 13:10] Mallon94 commented on #1415
@pgrawehr that would be great! Im using this https://github.com/earlephilhower/arduino-pico and using the standard board, not a variant.

[2021-04-21 13:16] philrawlings commented on #1519
Pull request submitted.

A few comments:

I have implemented a simple unit test, using the Bme280 device.  However, this only tests the `TryWrite` method in the case where it is expecting to return true.
I didn't want to create other tests as I need a device address which is **guaranteed** to not be in use (so I can check the false case). Can someone comment on a valid address to use and where to

[2021-04-21 13:36] philrawlings commented on #1519
Hmm... looks like there were build errors:
`src\System.Device.Gpio\System\Device\I2c\Devices\Windows10I2cBus.cs(57,21): error CS8602: (NETCORE_ENGINEERING_TELEMETRY=Build) Dereference of a possibly null reference.`

However, this builds for me fine locally. I suspect this is due to the following methods added to Windows10I2cBus.cs, these are currently unused but as described above were added for A

[2021-04-21 17:08] pgrawehr commented on #1415
@Mallon94 I have created a branch "Pico" that builds. Since the Firmata protocol doesn't currently support pin selections, I have hardcoded that the I2C bus is on GPIO pins 4 and 5 (if enabled) and SPI is on GPIO pins 6-9. As said, I do not have the hardware, so it would be nice if you could do some testing.

[2021-04-22 08:21] Mallon94 commented on #1415
Thanks for your time @pgrawehr I appreciate it. I tried that branch,  but it was having compile errors. Did you hardcode the SPI using SetTX and SetRX?
`Arduino/libraries/ConfigurableFirmata/src/SpiFirmata.h:296:7: error: 'class arduino::MbedSPI' has no member named 'setTX'
   SPI.setTX(7);
       ^~~~~`
Seems to happen with MBed12C aswell

[2021-04-22 09:35] pgrawehr commented on #1415
It seems you have a different board setting or something like that. If I purposedly missspell that call, the error message is `C:\Users\....\Arduino\libraries\ConfigurableFirmata\src/SpiFirmata.h:296:7: error: 'class SPIClassRP2040' has no member named 'set2TX'; did you mean 'setTX'?`

Not sure why the type is `MbedSPI` for you, but `SPIClassRP2040` for me. I am using Version 1.1.0 of the Pico lib

[2021-04-22 10:30] Mallon94 commented on #1415
I fixed it, was defaulting to a different board i had previously installed which was a Mbed OS RP2040 board. Got rid of it and it used 1.1.0 of the Pico lib. DHT was causing a timeout and preventing build so i disabled it and it built! Will get testing this now.

[2021-04-23 08:44] flitjens commented on #1522
Hi @pgrawehr,

My configuration is as follows:

Raspberry PI4 8G

Ads1115 connected directly to the PI:
Ads1115 - SDA -> PI GPIO 8
Ads1115 - SCL -> PI GPIO 9
Ads1115 - VCC -> PI Pin 1
Ads1115 - GND ->PI Pin 9
Ads1115 - ALRT -> GPIO 14

`public Sampler()
{
    I2cConnectionSettings settings = new I2cConnectionSettings(1, (int)I2cAddress.GND);
    I2cDevice device = I2cDevice.Create(settings);

[2021-04-24 07:26] pgrawehr commented on #1522
Your code is very similar to the code of example 3 [here](https://github.com/dotnet/iot/blob/main/src/devices/Ads1115/samples/Program.cs), which I had tested myself and which worked fine **with some extra electronics in place**. Please have a look at the documentation https://github.com/dotnet/iot/blob/main/src/devices/Ads1115/README.md. My observation back then was that the pulses generated by th

[2021-04-30 12:52] krwq commented on #1490
Hey @ZhangGaoxing have you pehaps had a chance to try again with `white (true)`? I'm really curious how this will compare

[2021-05-02 14:25] Callum6677 commented on #1490
I do not know precisely which pi and linux flavour were in use for the tests above, but I do have access to plenty of oscilloscopes.
With a raspberry pi 4 running headless (SSH'ed in) and a 64 bit beta raspberry pi OS I get the following using the code provided - including Console.KeyAvailable, this is for comparisons sake.

SysFs: 3.25khz
Raspberrypi3Driver 314khz
LibGpioD driver-crash, repeatedl

[2021-05-02 15:51] Korporal opened #1528 "Question - Types of target platforms"
Could the team consider adding some clarifications to the about page? I'm speaking of the kinds of target platforms that are supported. It seem that the IOT libraries and the .Net Core runtime require an operating system to be present like Windows or Linux, is that the case?

Can the IOT libraries be used on more resource constrained devices like for example [this microcontroller board](https://ww

[2021-05-02 19:38] krwq commented on #1528
Hello @Korporal, we currently are doing some work toward making it work on nanoFramework which works on i.e. ESP32. @Ellerbach will have more details

[2021-05-02 20:20] pgrawehr commented on #1490
@Callum6677 Thanks for doing these measurements. The last number shows we're not doing _everything_ wrong. The remaining discrepancy to WiringPi is probably the additional verifications we do.

[2021-05-02 20:29] pgrawehr commented on #1528
@Korporal Executing C# code requires the .NET runtime, which, in its basic form, is about 150MB in size, which is far beyond what typical microcontrollers offer. A decent amount of RAM is also required. All boards that have these specifications can run an operating system, so they're running one. The nanoFramework project has the goal to provide a significantly reduced runtime that can be installe

[2021-05-04 08:39] Ellerbach commented on #1528
@Korporal you can check .NET nanoFramework (see https://github.com/nanoFramework/Home) to run .NET on micro controller.
We're currently aligning .NET IoT and .NET nanoFramework API to make it easier to reuse code from one to the other platform.
In few weeks, we'll as well migrate some of the .NET IoT binding to .NET nanoFramework. Again, nothing will be magic, some of the bindings won't just work

[2021-05-04 13:48] Korporal commented on #1528
@Ellerbach - Hi, yes I've explord nanoFramework and was going to contribute at one point too. The biggest problem is that this is stuck in the past, there's no support for generics for example and many of the recent innovations in the C# language are not necessarily supported either.

Also the entire architecture of the proposed nanoFramework libraries is unclear, seems undefined, there was some i

[2021-05-04 14:03] pgrawehr commented on #1528
@Korporal May I ask what kind of projects you intend to build? I do have an alpha version of a new runtime implementation for microcontrollers that can run the full .NET 5 framework (with all C# 9 features) and possibly most of the bindings here, but I don't think it's production-ready yet (lots of open ends). And support for the ESP32 is not complete, too. But if you're interested in some enginee

[2021-05-04 14:42] Korporal commented on #1528
@pgrawehr - Really? that is very interesting indeed. My motive was mainly to be able to work with C# in the development of code where I can write code on these devices using the same languages and tools that are used on the desktop.

An example of this might be a "robotics" application where I could develop a rich functional control system that runs on my desktop and have that interact with extern

[2021-05-04 19:55] pgrawehr commented on #1528
@Korporal I'll get back to you tomorrow. I need to clean up a few things (including a bit of documentation on how to get started).

[2021-05-05 15:08] Ellerbach commented on #1528
I tend to disagree with this :-) It's modern!

This is coming very soon. Stuck with some debug problems related to VS which are about to be solved

Which ones? :-) The tool chain used to build is the same as for "normal" framework. Limitations are with non supported classes like generic (again, it's coming soon) and things like linq. But nothing that you can't do with something else.

We're moving

[2021-05-05 15:09] Ellerbach commented on #1528
For this board, you already have all this supported and exposed in C#

[2021-05-05 15:17] Korporal commented on #1528
Hi @Ellerbach - This seems to be saying that there's a build of the .Net Core CLR that has been tested and runs on the Nucleo board, but is that correct? are we understanding each other here?

[2021-05-05 15:23] Ellerbach commented on #1528
You have a .NET nanoFramework build for the Nucleo 64, see https://github.com/nanoframework/Home with support for ADC, DAC, PWM, I2C and more!
It's not .NET Core. .NET Core won't work on it, the MCU is too small. It's .NET nanoFramework.
To make it simple:
- CPU = .NET Core
- MCU = .NET nanoFramework

Difference between MCU and CPU is speed of the clock, RAM.
I hope this is more clear and helps!

[2021-05-05 15:38] Korporal commented on #1528
@Ellerbach - I may not have explained myself clearly. I want to be able to write C# code that includes support for generics and all new C# language features AND be able to run this on boards like the Nucleo. Im aware of .Net Nanoframework, I've used it and used it on this and other boards.

.Net Nanoframework is dated and cannot support generics and there's no plan or goal to make it do that so fa

[2021-05-05 15:52] Callum6677 commented on #1528
If you are to reread the above, you'll see that nano framework *does* support most new C# language features and that support for generics is coming soon.

I dont believe there is any plan for a version of full netcore clr (which depends on an applications OS) for mcus. Even nanoframework relies on an OS, just it uses a lightweight RTOS instead.

[2021-05-05 16:46] joperezr commented on #1528
@Korporal I apologize if we are not understanding your ask clearly, and just wanted to let you know that we appreciate you bringing up this discussion as it is beneficial to the .NET platform.

Not that I'm aware of. For boards like that, most of our focus today is based on helping NanoFramework to close that gap for the features that are not there yet, like generics and such. There are many MS en

[2021-05-05 16:51] Korporal commented on #1528
This is much appreciated and clarifies all this, thanks to each of you for explaining all this.

The last time I looked at NF (about two years ago) it did not seem to have any MS involvement and seemed more like an effort to just expand the API surface using UWP as the definition.

From what you say there is more MS involvement and participation than I thought so perhaps I should take another look

[2021-05-05 17:03] Korporal commented on #1528
Hi @Ellerbach - My confusion stemmed from simply _not knowing_ that MS were more involved in the NF project, I worked briefly with this about two years ago and even submitted a pull request (or had someone else do the change) for some low level oddity that I found.

I'll certainly take a closer look now that you've brought me up to speed.

[2021-05-05 17:23] Korporal commented on #1528
I seem to also recall chatting so some people on Gitter, there was a room I recall and I think it was Gitter but this doesn't seem to exist, so I must be confused again...

[2021-05-05 17:30] Korporal commented on #1528
Its coming back to me now, here's stuff I was looking at back then:

https://discord.com/channels/478725473862549535/542359989113847838/543896121374670859

[2021-05-05 17:38] Korporal commented on #1528
OK I actually spent quite a lot of time back then looking at stuff, if this is of relevance my posts can be found using this search in Discord `from: KorporalKernel#4164`

I recall being puzzled about async being supported, is it now supported?

Thanks

[2021-05-06 08:01] Ellerbach commented on #1528
You are right, async not (yet) supported.

[2021-05-06 15:21] krwq commented on #1421
I'd suggest to close this issue and unpin it soon. It's been couple of months since this has been announced

[2021-05-06 15:35] #1210 closed

[2021-05-06 15:48] joperezr commented on #1528
Given that the original question that drove this discussion is now answered I'll go ahead and close this issue for bookkeeping purposes. @Korporal feel free to reopen if you feel it is necessary.

[2021-05-06 15:50] joperezr commented on #1524
cc: @Ellerbach

[2021-05-06 15:50] #1421 closed

[2021-05-06 15:54] Ellerbach commented on #1528
And @Korporal some reading about .NET nanoFramework and the recently added test framework: https://devblogs.microsoft.com/dotnet/show-dotnet-build-your-own-unit-test-platform-the-true-story-of-net-nanoframework/

[2021-05-06 16:01] Korporal commented on #1528
Thanks @Ellerbach, this looks _very_ interesting, seems you guys are doing some very serious work on this!

[2021-05-06 16:14] #1528 closed

[2021-05-06 16:26] Korporal commented on #1490
@ZhangGaoxing

I have some questions as I've not even looked at NF for some two years and forgot much of what I did learn about it! I have significant electronics skills as I studied the subject in college but never worked professionally, most of my professional work has been software, anyway I'm very much at home with all this just a bit rusty, so my questions:

- What hardware were these test ex

[2021-05-06 17:57] pgrawehr commented on #1490
@Korporal I can try to answer

* The tests where done on a Raspberry Pi 3 or 4 (I suppose 3, but that should be specified somewhere...)
* The "driver" is the low-level module that communicates with the GPIO hardware. The library contains various drivers for various hardware. On the Raspberry Pi 3 different drivers can be used, some of them are known to be rather slow (SysFs) but on the other had t

[2021-05-06 18:47] Korporal commented on #1490
@pgrawehr

Thanks, I was just curious about the scope, the last trace looks sinusoidal with a 17MHz signal so I wondered if the scope's bandwidth was a factor there. I'd expect to see steep rise/fall time on such GPIO pins (assuming they're not in some analog mode of course).

[2021-05-06 18:51] Korporal commented on #1490
But I think basically the loop (C# loop) is a likely contributor to the duty cycle he's seeing in these images. Also we can't assume that the operation setting a pin High takes the same time as the operation that sets the pin Low. I've seen this kind if thing before were the lower level code isn't necessarily symmetrical for various reasons (ideally it should be of course).

[2021-05-06 18:53] Korporal commented on #1490
This might be more sensible as a test block of code:
[code]

[2021-05-08 13:19] Ellerbach commented on #1524
Hi @wojciechczyz and thanks for the detail issue. I'll need to investigate with my GrovePi board which I don't have with me currently.
GrovePi is using I2C to communicate with the Raspberry PI and it sometimes fails. There is a retry mechanism in the communication protocol. So if you're using multi threading, you may create this discrepancy.
Note that GrovePi is not thread safe. If you want to mak

[2021-05-08 14:59] pgrawehr commented on #1528
@Korporal : I wasn't able to get things in a good shape yet, but an approach you can try already is using the Arduino binding. This uses an Arduino (or another supported microcontroller) as a hardware interface to a PC. The program will run on the PC (and can therefore use the full .NET Core stack), while the hardware is connected to the microcontroller. I now tested it also with WiFi, so it's pos

[2021-05-14 07:25] flitjens commented on #1522
Well you are probably right that the PI is not able to recognize pulses with a length of approximately 8us, as specified in the ADS1115 datasheet. The PI has also some internal hardware to avoid reacting on glitches. However the ADS1115 datasheet also mentions that the conversion is ready on the falling edge of the ALERT/RDY pin, see [https://www.ti.com/lit/ds/symlink/ads1113.pdf?ts=1620894037088&

[2021-05-14 14:57] pgrawehr commented on #1522
I'm not sure this will improve the situation, but maybe you are right. If you open a pull request, it will be easier to understand what you intend to change. If it does not break existing code, it's likely that we'll accept the change.

[2021-05-16 20:28] pgrawehr commented on #1299
So finally trying to resolve this.

My book has another formula for the dew point:

[code]

The result of the formula is within 0.2 of the previous one for the test cases. When calculating with 100% RH, it's results are slightly better than the previous formula for temperatures above 0°C, but below the error is also around 0.2°C. It does seem that there is not _the_ correct formula, and every scie

[2021-05-17 07:01] nick-mitigo commented on #917
I faced this issue with RPI4 and the old PiFaceV1. This board is using the Mcp23s17 chip.
The biggest challenge was to get the IOT lib running and allow debugging - finally it worked through VSCode.
My current fix is just sending one more byte during the read operation:

[code]

I don't really understand the current addressing of the chip, why is the 0x20-0x27 address range used? The chip has only

[2021-05-17 13:37] Alex-111 opened #1539 "Linux-arm LIBGPIOD: PinValueChangedEvent consumes too much CPU"
**Describe the bug**

When registering a callback for pin events, then the CPU goes up to about 12% CPU usage just for a single pin:

**Steps to reproduce**

[code]

**Expected behavior**

CPU should stay near 0%

**Actual behavior**

With my sample code above CPU is about 12% on a linux-arm embedded board. It gets worser if there are eventhandler on more than one pin...

**Versions used**

.NET 5

[2021-05-18 07:11] MarkCiliaVincenti commented on #1299
Hi,

Yes we already discussed re saturation pressure over ice back in November in this thread. I think the original formula we had that had to be replaced due to being unable to found sources for it, was probably the most accurate.

[2021-05-18 23:15] Reto411 opened #1540 "VL53L0x: Creation of VL53L0X instance resets the i2c address"
Hi

I have connected multiple VL53L0x sensors on the I2C Bus of a raspberry pi.
I initialize them whth this code snippet:
[code]
At the line: "var sensor = new Vl53L0X(tmpDevice)" the "System.IO.IOException: Error 121 performing I2C data transfer." is thrown.

On checking the i2c bus with i2cdetect, the address of the is sensor set back to 0x29 (The default address)
The whished result would be
[co

[2021-05-19 18:34] pgrawehr commented on #1299
The question I have is what "most accurate" here means. All these formulas seem to be created from experience, there's no unique definition of them, nor is there a "right" or "wrong". That particular formula was probably most correct near 100%, but we do not know how it behaved in other situations.

Meteorology is not an exact science, since there are always more factors involved than anyone can m

[2021-05-20 22:24] #721 closed

[2021-05-20 22:24] #1222 closed

[2021-05-22 12:22] Ellerbach opened #1544 "OutputSegmentTest fails"
**Describe the bug**

In Device.IoT.Multiplexing, once of the test is failing:

![image](https://user-images.githubusercontent.com/8145578/119226365-f9340300-bb08-11eb-893f-1d96a0713175.png)

**Steps to reproduce**

Run the test

**Expected behavior**

Test to pass

**Actual behavior**

Test fails

**Versions used**

Latest version from the repo. Latest dotnet version.

[2021-05-25 13:47] WillooWisp commented on #1479
Any status update to share on the progress regarding this and any potential release date?

[2021-05-25 16:06] pgrawehr commented on #1479
@WillooWisp This was blocked due to some related fix. Now PR #1520 is almost ready to merge. With luck, I'll be able to finish it later this week. We expect to have a new release very soon after.

[2021-05-27 15:55] joperezr commented on #1540
cc: @Ellerbach can you take a look?

Perhaps we should take a look at why Dispose/Reset changes the address.

[2021-05-27 19:51] Ellerbach commented on #1540
@Reto411 Thanks for your submission and the details.
I understand the scenario and the issue. What we can then do is expose the Reset function and not place it in the constructor. So we keep the constructor like it is. You then can decide, depending on the scenario to call soft Reset or not.
If that will work for you, I can submit a PR to adjust this.

[2021-05-27 20:38] Reto411 commented on #1540
@Ellerbach Thank you for investigating it. I think your suggestion will work for me. I hope it won't break to much code of other peoples, which are depending on the soft reset in the constructor.

https://github.com/dotnet/iot/blob/e0dbd643875189804da3f090fd26227f9b01a13c/src/devices/Vl53L0X/README.md
Maybe you could add there the soft reset, because with only one sensor most of the times it makes

[2021-05-27 20:48] bkriegerwinsystems opened #1559 "RegisterCallbackForPinValueChangedEvent Exception"
**Describe the bug**

The RegisterCallbackForPinValueChangedEvent method throws an exception that says  'The data area passed to a system call is too small'

This is run on an Apollo Lake platform running Windows 10 IoT LTSC 1809. The platform's GPIO interrupts were validated using Windows.Devices.Gpio in a UWP app.

**Steps to reproduce**
The following console app throws the exception at Register

[2021-05-28 06:02] Ellerbach commented on #1540
@Reto411 you have a PR to review. That should work. Soft Reset reset everything to the initial state, unfortunately including the I2C address. So correct, it should not be in the constructor. As all the rest is initialized properly in the constructor, the reset is not needed.
The reset function should still be exposed to make sure there is a way to reset the sensor even if that changes back to the

[2021-05-28 09:32] flitjens commented on #1522
I created a pull request. I double checked everything, so I'm looking forward for any comments.

[2021-05-29 16:52] SteveMacha1 commented on #657
I have tried the above sample using Visual Studio 2019  .net C# on a Win10 IOT  machine it seems that registered callbacks are operating properly.  I am using V1.4 of System.Device.Gpio from GitHub.   However when I move the sample into a simple forms application (where the while loop wait delay is not appropriate), then I no longer receive callbacks.   Any thoughts?

[2021-05-31 12:10] davidjmallar commented on #819
Is it soonish yet? :)

[2021-06-01 09:17] krwq commented on #819
Sorry, I don't think I'll find time for this anytime soon... I've moved out since then, the TFT screen is in one of the boxes somewhere which I haven't unpacked yet and I don't really have time to do this unless I find some interesting project which needs the screen... Feel free to pick up my branch and go from there if you feel like it... I'll update this thread if something changes. If you start

[2021-06-01 09:38] raffaeler commented on #1479
The gpio utility on the RPi allows to write the state of the port regardless the pin mode.
After writing the pin to either 0 or 1, I can then set the pin mode to output and start using the pin with the safety of not toggling the state inappropriately.

When there is a relay connected to that pin and the raspberry starts, I have to preset the initial state so that the relay does not toggle when the

[2021-06-01 10:22] raffaeler commented on #1479
The following overload looks promising: `public void OpenPin(int pinNumber, PinMode mode, PinValue initialValue)`
but it is still not available in pre-release `1.5.0-prerelease.21212.1` (which is not tagged in the repo).
Any upcoming packet?

TIA

[2021-06-01 11:46] pgrawehr commented on #1479
@raffaeler PR #1520 should hopefully be merged this week (we are investigating on a possible regression that is not understood yet). We expect a full release shortly after.

[2021-06-08 15:36] raffaeler commented on #1479
@pgrawehr Could you please tell me the rough amount of time needed to see at least a preview package?
Without this PR I definitely need to rewrite the code using a different library and of course I would like to avoid it.

Thanks and sorry for pressing, but at least I can decide what to do.

[2021-06-09 13:15] ismail-ozturk opened #1570 "MFRC522 NTAG213, NTAG215 Support?"
Hello ,
mfrc522 cannot read ntag213 and ntag215 with ListenToCardIso14443TypeA. is this normal?

[2021-06-09 13:34] Ellerbach commented on #1570
When you "cannot read", what does it mean exactly?

Those small tags are not implemented in a high level, so they don't have a high level support like some of the Mifare or CreditCard for example (note: CreditCard won't work with MFRC522 as they are Type B).

You will have to manually send the commands to read/write 4 bytes by 4 bytes. See the detailed documentation:
https://www.nxp.com/docs/en/da

[2021-06-09 13:39] Ellerbach commented on #1570
PS: I think I recently bough few of those ultralight cards. I will try to check if I have the reader with me.

[2021-06-09 14:37] ismail-ozturk commented on #1570
Mifare Classic 1K cards are detected by mfrc522 reader. but It cannot detect tags of type NTAG213 or NTAG215.
the library only detects mifare cards?
`Data106kbpsTypeA card;`
`bool result = mfrc522.ListenToCardIso14443TypeA(out card, TimeSpan.FromSeconds(2));`

The result variable always returns false for NTAG213 and NTAG215

[2021-06-09 15:00] Ellerbach commented on #1570
I think I understand why. So if you are willing to help as I don't have the MFRC522 reader with me, it would be good if you could clone this repo and use directly the code and check what's happening in the ListenToCardIso14443TypeA method.
The method is waiting for a UUID which I think you'll get right away looking at the spec of those cards but you may not get the rest.
If you could look at this,

[2021-06-10 04:49] pgrawehr commented on #1479
@raffaeler I do hope this gets merged this week, but the responsible person is very busy right now. I'll have to push again.

[2021-06-14 09:44] krwq commented on #753
still an issue in 1.4. I also need to wait around 100ms after setting power mode, otherwise I'm getting random errors ocasionally

[2021-06-17 16:35] Ellerbach commented on #1559
[Triage] This is related to #1411 even if it seems not to be the exact same issue as in your case, you still manage to get a driver.
Did you try if blinking a led, reading, writing is working properly? Or the driver is really not working at all.
We don't have this specific hardware to check and is necessary to debug and understand.
The provided low level driver may not support some of the higher l

[2021-06-17 16:37] Ellerbach commented on #1540
[Triage] closed by adjusting the API and merging the PR

[2021-06-17 16:37] #1540 closed

[2021-06-17 16:40] Ellerbach commented on #1522
[Triage], link to #1561

[2021-06-17 16:43] Ellerbach commented on #1502
[Triage] @figuerres, if there is anything else on this issue please let us know. Otherwise, we will close it in a few days.

[2021-06-20 14:43] Ellerbach commented on #1570
So I finally get access to the MFRC522 and some cards. The Ultralight V1 and NTAG213 are perfectly detected. No issue at all.
The rest of the sample is of course not working as it's not doe for ultralight.
If I have a bit of time, I'll add read and write support for the ultralight cards. Please make sure you have a good source for the 3.3V, the read and write operation are consuming quite a bit of

[2021-06-20 14:43] #1570 closed

[2021-06-23 18:39] mrccarvalho opened #1575 "Asus Tinker"
**Cannot Write to  Asus Tinker GPIOs / Can we Use this Library With Asus Tinker ?**

 tried to use the Blink Led sample to start working with asus tinker GPIOs.
The Led is always ON and do not Blink.
The console app it is fine and gives no error.

Thanks,
Best Regards,
Roger

[2021-06-24 02:42] ZhangGaoxing commented on #1575
You can try this and refer to the datasheet for pin mapping
https://github.com/dotnet/iot/tree/main/src/devices/Gpio/Drivers/Rockchip

[2021-06-24 09:52] mrccarvalho commented on #1575
Thanks ZhangGaoxing,
I will investigate about this and make a test with it.

[2021-06-25 01:00] #1502 closed

[2021-06-27 21:40] mrccarvalho opened #1577 "hx711"
**I need to develop a project for Weigh Scales**

I would like to use dotnet core.
I need to use an hx711 device with an asus tinker or raspberry Pi board.

 I see that in master there is no hx711 in device list.

I have read [#770](https://github.com/dotnet/iot/pull/770).

Is there any chances to have this device working properly ?
Is there any plan to add hx711  ?

Thanks

[2021-06-28 06:32] Ellerbach commented on #1577
Hi, the bindings are mainly community driven. so if a community member do a PR with a proper implementation, you'll get it!
In the issue you mentioned you have a link on some code. That may work for you.
PR welcome!

[2021-06-28 10:42] mrccarvalho commented on #1577
Hi!
Thanks @Ellerbach.

My idea was to try out that code, but in the conversation about the issue, I also got the idea that there was some problem in the code.

I don't really understand why the PR of the issue (#770) was closed.

Anyway, I'll try it and then give feedback.

PR welcome!

Thanks.

[2021-06-28 12:24] Ellerbach commented on #1577
My understanding is that it's a timing issue. See comment https://github.com/dotnet/iot/pull/770#issuecomment-539039826

I would personally recommend to do this manipulation with SPI rather than GPIO. SPI have a clock, the MOSI pin is synchronized with it, you can then get to the expected timing. Just prepare the buffer you want to output in memory and sent it. That should just work fine.

[2021-06-28 12:26] Ellerbach commented on #1577
It should be very very straight forward to implement. A lot of bindings like this one have the 2 interfaces. Check the LCD ones, it's a similar case.

[2021-06-28 13:23] Ellerbach commented on #917
Hi! Quite late to answer, was checking some issues, and to answer, yes, any PR is appreciated! Thanks!

[2021-06-28 13:26] Ellerbach commented on #1524
Hi @wojciechczyz can you confirm that you are not running in parallel threads?
I found 2 of those relays, the main board and I can try to find some time in next few weeks to check this. But if you're using multiple threads, then for sure, you'll face concurrency issues as GrovePi is not thread safe.

[2021-06-28 13:28] bkriegerwinsystems commented on #1559
The driver works with the uwp gpio api (https://docs.microsoft.com/en-us/uwp/api/windows.devices.gpio?view=winrt-20348). I am able to write to it, read it, and use interrupts with it. If I am able to detect edges using those function calls, should I be able to with this library?

[2021-06-28 16:50] Ellerbach commented on #1559
Correct, then it *should* just work. That will require some investigation and a similar board to debug. The best I can suggest you is to clone the repo, use a project reference based to the System.Device.Gpio and try to debug to see where and why it breaks.

[2021-06-30 10:28] mattjlewis commented on #1415
FYI I updated the Arduino Firmata Boards.h file to include this:
[code]
and so far, so good - I can retrieve the board capabilities and blink an LED. I've not done this before so not sure if the above is entirely correct - I've ignored I2C and SPI for now.

[2021-07-01 16:10] Ellerbach commented on #1483
[Triage] This seems closed now. Closing this issue. Do not hesitate to reopen if not fully addressed.

[2021-07-01 16:10] #1483 closed

[2021-07-01 16:12] Ellerbach commented on #1203
[Triage] As this seems to be Raspberry Pi related and based on the discussion, we will close this issue. Do not hesitate to reopen if needed.

[2021-07-01 16:12] #1203 closed

[2021-07-01 16:15] Ellerbach commented on #1182
[Triage] We will close this issue based on the discussion. This won't be implemented, size is not the main issue for the CPU world.

[2021-07-01 16:15] #1182 closed

[2021-07-01 16:19] Ellerbach commented on #1173
[Triage] Blocked as waiting for the Visual Studio team to answer the suggestion.

[2021-07-01 16:22] Ellerbach commented on #1156
[Triage] CI fixed.

[2021-07-01 16:22] #1156 closed

[2021-07-01 16:26] Ellerbach commented on #1113
[Triage] Duplicate with #1483 and closed by #1496

[2021-07-01 16:26] #1113 closed

[2021-07-01 16:29] Ellerbach commented on #1108
[Triage] It is a very convenient method that would perfectly fit in an extension if you need it. So far, it feels like adding something that will not be used a lot.

[2021-07-01 16:29] #1108 closed

[2021-07-01 16:30] Ellerbach commented on #1097
[Triage] Still valid request and can improve performances.

[2021-07-01 16:32] Ellerbach commented on #1093
[Triage] Regarding the request and the PR #1163, this seems to be addressed.

[2021-07-01 16:32] #1093 closed

[2021-07-01 16:35] Ellerbach commented on #1079
[Triage] There is an unfinish pull request #1079. This is up to grab to continue, seems like only few efforts needed.

[2021-07-01 16:37] Ellerbach commented on #1087
[Triage] Up to grab to make the docs even better!

[2021-07-01 16:40] Ellerbach commented on #1086
[Triage] This has been added already. See https://github.com/dotnet/iot/tree/main/src/devices/Tlc1543

[2021-07-01 16:40] #1086 closed

[2021-07-01 16:41] Ellerbach commented on #1081
[Triage] Seems that the work is done. If anything is missing, this will be addressed 1 by 1.

[2021-07-01 16:41] #1081 closed

[2021-07-01 16:43] Ellerbach commented on #1078
[Triage] On PR #1080, there is most likely a rebase to do and very little efforts to move this one forward. Up to grab!

[2021-07-01 16:46] Ellerbach commented on #1064
[Triage] related to #1328. Up to grab!

[2021-07-01 16:47] Ellerbach commented on #1064
[Triage] Closing this one as duplicate of #1328

[2021-07-01 16:47] #1064 closed

[2021-07-01 16:47] Ellerbach commented on #1042
[Triage] Closing this one as duplicate of #1328

[2021-07-01 16:47] #1042 closed

[2021-07-01 16:48] Ellerbach commented on #1040
[Triage] This has been solved now for some time.

[2021-07-01 16:48] #1040 closed

[2021-07-01 16:53] Ellerbach commented on #1059
[Triage] Please look at the Arduino board class on how the API should look like: https://github.com/dotnet/iot/tree/main/src/devices/Arduino

[2021-07-01 16:54] Ellerbach commented on #885
[Triage] Up to grab! A nice one to start!

[2021-07-01 16:56] Ellerbach commented on #882
[Triage] I need to check if this fix has been merged or not, if not, then do it at some point.

[2021-07-01 16:57] Ellerbach commented on #878
[Triage] We've been moving forward on all this. Happy to close it!

[2021-07-01 16:57] #878 closed

[2021-07-01 16:57] Ellerbach commented on #857
[Triage] This is now implemented.

[2021-07-01 16:57] #857 closed

[2021-07-01 17:00] Ellerbach commented on #849
[Triage] @shaggygi  as you are the original author of the MCP25xx, would be great if you can have a look at it.

[2021-07-01 17:02] Ellerbach commented on #1467
[Triage] @richlander is there any open issue on this? Is this still valid? With Environment variable passed in the container (container good practice), you can read your environment variable and then do the mapping you want.

[2021-07-01 17:09] Ellerbach commented on #1299
[Triage] My understanding in this thread is that there are multiple formulas used in the literature. It seems there is no perfect one, some better for some usage, some others for other usage.
I feel that @pgrawehr's one is working well for most cases. And my preference would be to stick with what is currently implemented.
If like @MarkCiliaVincenti anyone wants to implement his own formula, in an

[2021-07-01 17:20] Ellerbach commented on #1004
[Triage] Closing as there is nothing we can improve on the managed code side.

[2021-07-01 17:20] #1004 closed

[2021-07-01 17:21] Ellerbach commented on #974
[Triage] Closing this one as addressed on the various PR

[2021-07-01 17:21] #974 closed

[2021-07-01 17:33] Ellerbach commented on #939
[Triage] Depending on the hardware, this scenario will work or not work. And you most of the time can't just open the same pin 2 times with output and input at the same time.
If you really need this scenario, then use 2 different pins, let say 10 and 20, attache them together, the first controller will get the output pin 10 and the second the input pin 20. Both 10 and 20 are connected together wit

[2021-07-01 17:33] #939 closed

[2021-07-01 17:41] Ellerbach commented on #8
[Triage] Regarding this issue, you can always use environment variables for that.

The pattern with container is to use environment variables, you'll just read them in your code. So this can be achieved in a very simple way.

[2021-07-01 17:41] #8 closed

[2021-07-01 17:42] Ellerbach commented on #11
[Triage] With the logger class we can now output anywhere it's supported the logging. Closing this issue.

[2021-07-01 17:42] #11 closed

[2021-07-01 17:44] Ellerbach commented on #78
[Triage] We now have multiple way of doing this:
-Arduino with Firmata support
- FT4222 thru USB
- For tests, we have multiple example of mocking up SPI, I2C devices.

Question is: is this issue still valid?

[2021-07-01 17:44] #78 closed

[2021-07-01 17:46] Ellerbach commented on #90
[Triage] All the ADC MCPxxxx bindings has been moved under the System.Device.Adc namespace: https://github.com/dotnet/iot/tree/main/src/devices/Mcp3xxx
So closing this issue.

[2021-07-01 17:46] #90 closed

[2021-07-01 17:50] Ellerbach commented on #197
[Triage] Feeling that this has been addressed with the existing OneWire bus. Feel free to reopen in case it's not!

[2021-07-01 17:50] #197 closed

[2021-07-01 18:13] pgrawehr opened #1581 "OpenPinDefaultsModeToLastMode test gives different results on different hardware"
The test `OpenPinDefaultsModeToLastMode` behaves differently on our build servers than when testing on local Raspberry Pi3 and 4. The changes in PR #1520 only changed the expectation on this test, which made it fail on the build servers but pass locally.

The current theory is that a recent update of the sysfs library causes this difference (the servers have not been patched in quite a while).

Th

[2021-07-02 17:51] Ellerbach commented on #226
Rather than IGpioController which won't really happen, this should then implement the board abstraction and propoer a real GpioController.

[2021-07-02 17:53] Ellerbach commented on #231
We have quite some examples in the tests where I2C, SPI devices are mocked. That may be enough as, correct, Span<> can't be mocked.

[2021-07-02 17:55] Ellerbach commented on #324
Is this issue still valid?

[2021-07-03 22:48] AArnott commented on #867
I see it on my Raspberry Pi 4 as well. After using `~/dotnet-install.sh -c Current` to install 5.0, I get the error:

[code]

`dotnet` itself is evidently on the PATH:

[code]

But the error above happens until I also do `export DOTNET_ROOT=/home/pi/.dotnet/`, after which it works.

So... why does `DOTNET_ROOT` have to be set when `dotnet` should arguably be able to find its own runtime based on w

[2021-07-04 13:29] smdn opened #1583 "Add PinValue.IsLow/IsHigh"
(previous discussion: #1576)

`PinValue` struct have `Equals()`, `==`/`!=` and explicit type conversion to `bool`.
This is a proposal to add new property `IsLow`/`IsHigh` to the current comparison and conversion functionalities.

[code]

Status: Not blocking

# Use cases and comparison
C#
[code]

Visual Basic
[code]

# Motivation and effect
- Can increase the way to give semantics and clarify what

[2021-07-06 16:33] sayedihashimi commented on #1173
As I mentioned in my [previous comment](https://github.com/dotnet/iot/issues/1173#issuecomment-689801063), Visual Studio doesn't support showing templates from a folder path. The template must be in a nuget package. In addition to this, I briefly looked at the template, and it isn't setup to properly support Visual Studio. You'll need to add an icon at least for VS support, but you may want to twe

[2021-07-06 16:34] wojciechczyz commented on #1524
Is it possible to add code in API (maybe activated as additional parameter, or configured before accessing grovepi) that would provide necessary blocks / waiting so that using it across different threads would be safe?

[2021-07-06 16:44] Ellerbach commented on #1524
That would be possible but will work mainly with lock and other elements like this which will slow down quite a lot the execution. So it's better then on the high level code, so your code, to use this mechanism. In that case, it will be targeted to your usage and not slowing down all the execution.

[2021-07-07 08:28] krwq commented on #1173
marking as untriaged so that it shows again on our triage radar

[2021-07-08 03:41] nh43de opened #1584 "Reproducible Error 121 performing I2C data transfer when using multiple devices on the same bus"
I am recieving an error 121 with writing to an I2c bus, but only when two devices, an i2c sensor and i2c pwm controller are connected. When only the sensor is connected to the i2c bus, dotnet code can read from it once without failing, and then fails on subsequent writes. When two devices are connected to the same i2c bus, it fails immediately when attempting to read from the sensor. The pwm contr

[2021-07-08 07:37] krwq commented on #1584
1. Can you share the code you're using for testing
2. Have you tried using both devices at the same time from the command prompt or other language without issues? Some devices are implemented badly and may interfere with how the bus works

[2021-07-08 12:56] CodedBeard opened #1585 "VideoDevice.CaptureContinuous low FPS"
**Describe the bug**

I was attempting to use the continuous capture on a raspberry pi 4b to stream from the attached camera. When running the app I was only getting 2 FPS from the camera, where as, if I use the inbuilt raspivid tool I get 30 FPS from the same camera. After confirming that I wasn't doing anything wrong, I went digging in the `VideoDevice` source code and found the cause of the slo

[2021-07-08 15:46] Ellerbach commented on #1585
[Triage] Thanks @CodedBeard for the issue submission and for the analyze and to propose a PR.
Please pass the PR, we can then look at the implementation. To be honest the continuous video implementation was done quite quickly without performance in mind at al. So any improvement on this side is more than welcome.

[2021-07-08 15:58] Ellerbach commented on #1584
[Triage] On top of the previous questions:

* Do you have any level shifter in your chain? They typically create those issues
* This 121 error is really about the device not giving an acknowledge which can be cause by a wrong bus pull up. So you may want to check if you don't have any additional pull up.  And please check that it is in the correct values. While only addressing 1 device, the behavi

[2021-07-08 16:09] Ellerbach commented on #330
[Triage] related to #1490

[2021-07-08 16:10] Ellerbach commented on #378
[Triage] There has been a lot of changes and as we can't reproduce this one, closing it. If anything new, please feel free to comment and reopen.

[2021-07-08 16:10] #378 closed

[2021-07-08 16:19] Ellerbach commented on #392
[Triage] After quite some time and quite some efforts to harmonize how to best do it, we came with the following design which should be implemented almost everywhere now (still few bindings need some rework):

* We do have properties for instantaneous measurements or configuration. We try not use them if the value is always changing.
* We do have a `TryGetSomething` when like in the case of the DH

[2021-07-08 16:19] #392 closed

[2021-07-08 16:22] Ellerbach commented on #419
[Triage] We now have the right pattern in place. Still there may be issues there and there which should be fixed by opening a specific issue.

This discussion is related as well to #1272.

So closing this issue, if anything new, that can be then discussed in the #1272.

[2021-07-08 16:22] #419 closed

[2021-07-08 16:27] Ellerbach commented on #458
[Triage] The way events are raised is different than what is described.

Also, improvements has been done thru PR #1567.

so closing this PR. If there is anything new, please feel free to reopen.

[2021-07-08 16:27] #458 closed

[2021-07-08 16:28] raffaeler commented on #383
Thank you @Ellerbach
I will take a look to the newly added support and see.

[2021-07-08 16:34] Ellerbach commented on #463
[Triage] For the small displays and recent added ones like the Nokia screen, we all used the [ICharacterLcd] (https://github.com/dotnet/iot/blob/main/src/devices/CharacterLcd/ICharacterLcd.cs) which brings a lot of value when it comes to displaying cursors, printing text and managing fonts.
That's something that should be added for other existing screens.

Now, we should as well align on some basi

[2021-07-08 16:37] Ellerbach commented on #519
[Triage] Closing this issue as it is now addressed with the introduction of the [I2C Bus](https://github.com/dotnet/iot/blob/main/src/System.Device.Gpio/System/Device/I2c/UnixI2cBus.cs). The device is open only once when the bus is created. A new device will just be added to the existing bus.

[2021-07-08 16:37] #519 closed

[2021-07-08 16:41] Ellerbach commented on #580
[Triage] Closing as addressed by the PR #595

[2021-07-08 16:41] #580 closed

[2021-07-08 16:42] Ellerbach commented on #581
[Triage] @krwq I remember you've been working on PWM at some point, has this been addressed?

[2021-07-08 16:43] Ellerbach commented on #582
[Triage] Related to #1525 and will be closed once the PR will be merged.

[2021-07-08 16:45] Ellerbach commented on #583
[Triage] Should still be part of the roadmap as should be adressable by the Linux driver and can be with a simple condition in the Windows one. In the mean time, the hack worked as we do have the PN532 already.

[2021-07-08 16:46] Ellerbach commented on #584
[Triage] With the introduction of the bus, the board abstraction, this is not really valid anymore. Closing this issue.

[2021-07-08 16:46] #584 closed

[2021-07-08 16:48] Ellerbach commented on #590
[Triage] Closing this issue as it seems to be addressed in the comments and how to detect it on Windows. Feel free to reopen in case of anything new.

[2021-07-08 16:48] #590 closed

[2021-07-08 16:50] Ellerbach commented on #602
[Triage] Now we've been using this naming for a long time, we will just keep it. That would introduce some braking changes. Closing this issue, if anything new is coming and everyone would prefer a braking change, please reopen.

[2021-07-08 16:50] #602 closed

[2021-07-08 16:51] Ellerbach commented on #626
[Triage] This should be now done everywhere. If there is anyone missing, please open an individual issue.

[2021-07-08 16:51] #626 closed

[2021-07-09 07:44] #1479 closed

[2021-07-09 10:32] mrccarvalho commented on #1575
After doing some tests, i find that it is possible to read and write to asus tinker's gpio pins.

I use the 163 pin number that corresponds to the physical pin number 18  on the tinker board.
Can confirm that the next code wotks fine.

`using System;
using System.Device.Gpio;
using System.Threading;

Console.WriteLine("Blinking LED. Press Ctrl+C to end.");
int pin = 163;   // 163 corresponds to th

[2021-07-09 10:38] krwq commented on #581
IIRC this haven't been addressed. Honestly unless we have hardware which explicitly supports this option I'm against this. For @shaggygi's comment above there are already Start/Stop which make hardware do nothing on inactivity (if I understood that correctly)

[2021-07-09 12:02] shaggygi commented on #581
This is a main reason why polarity is needed (don't think of pulses at this point).  When inactive, it could be in a state that activates the circuitry that it is driving.  Use driving a motor and tied to Vcc for example (and mentioned previously).  If the inactive state was logic low, the motor would be turned on constantly.  Same for a motor tied tied to GND and the inactive state was logic high

[2021-07-09 12:15] CodedBeard commented on #1585
@Ellerbach I've already found an issue with my thrown together implementation, so will make sure to resolve that first, so it at least works properly in my use case, and then will send a PR over.

[2021-07-09 13:53] Ellerbach commented on #1575
Great news! So closing this issue.

[2021-07-09 13:53] #1575 closed

[2021-07-13 05:55] nzain commented on #1479
Good to see this fixed and merged! 👍

@raffaeler if you can't wait for a package, you can pull the code,`dotnet pack` your own nuget package, and put it in a local nuget feed. This project is fairly complex but it builds fine when you follow the contributing document. You would usually define a very small version increment such that the next official release immediately replaces your custom build

[2021-07-13 08:10] krwq commented on #1479
Can't promise anything but I'm thinking somewhere this month. We will likely discuss this during our next triage meeting.

[2021-07-13 08:18] raffaeler commented on #1479
Thank yuu @nzain I am already familiar with manually repackaging the dotnet repositories :)
Anyway I would expect would publish sooner the prerelease package on this other nuget feed `https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json`
Am I correct @krwq ?

[2021-07-13 08:46] krwq commented on #1479
@raffaeler theoretically:
https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json (note dotnet6 not dotnet5)

has the latest but seems to me the last package is from June 4 which seems something is wrong with the publishing even though I'm seeing successful builds in the pipeline. I will ask our engineering team if they know what's wrong

[2021-07-13 09:37] raffaeler commented on #1479
Oops, sure :)
Thank you @kwrq ! Look forward to it

[2021-07-15 14:36] nh43de commented on #1584
@Ellerbach @kwkraus

I was able to resolve the issue by switching the PCA9685 to address 0x41 by soldering a jumper, and then using an Si7021 sensor on address 0x40.

If you want to try to reproduce, original hardware listed above:

Two I2c devices on bus 1 on Raspberry Pi 3 model B+:
- x40 device is a PWM controller PCA9685
- x70 Device is a temp/hum sensor, Shtc3

Using these devices you should

[2021-07-15 16:19] Ellerbach commented on #629
[Triage] This is still valid. SysFs driver is used only in few boards not supporting anything else. What should be added is a warning if libgpio is not installed maybe?

[2021-07-15 16:24] Ellerbach commented on #637
[Triage] Since this issue has been opened, a large work has been done to make all drivers outside of the implementation. We do have board definition as well, I2C Bus and the Gpio, I2C, SPI, etc has been unsealed as well.
We've been doing some API alignment with .NET nanoFramework based on the definition for example and it was very easy to align the API. The implementation is specific of course. So

[2021-07-15 16:24] #637 closed

[2021-07-15 16:27] Ellerbach commented on #650
[Triage] Some work has been done, still not directly posted on this repo ([showdotnet](https://devblogs.microsoft.com/dotnet/) for example). More to come!
So closing this issue.

[2021-07-15 16:27] #650 closed

[2021-07-15 16:30] Ellerbach commented on #657
[Triage] @ZhangGaoxing, event handling has been drastically improved since this issue has been open.

@SteveMacha1 if you still have an issue, can you please open a separate issue with more details to reproduce it?

Closing it as no activity for a long time. If still a problem, feel free to reopen it!

[2021-07-15 16:30] #657 closed

[2021-07-15 16:36] Ellerbach commented on #658
[Triage] We do have a specific issue tracking the effort on Azure Plug&Play #418
So closing this one as the other one covers this. Feel free to participate in the other one.

[2021-07-15 16:36] #658 closed

[2021-07-16 10:14] krwq commented on #1479
@raffaeler we now have a new nightly package you can try out. The nightly should work now (minus flaky tests which can be retried)

[2021-07-16 12:18] krwq commented on #1539
@Alex-111 closing this since the PR is merged, please re-open if you feel there is anything left

[2021-07-16 12:18] #1539 closed

[2021-07-17 08:27] Ellerbach commented on #1584
Thanks a lot @nh43de for the details. Challenge now will be to get the devices and go in the root of the issue. So not sure we will be able to debug this one shortly.
Good news is that you found a solution. And thanks again for the details. I4ll place this bug as blocked as we need more hardware on our side to reproduce it.

[2021-07-20 13:24] JimBobSquarePants commented on #1403
We're gonna need help implementing Font Hinting to be able to render test properly on low resolution devices. Any assistance there would be most welcome.

https://github.com/SixLabors/Fonts/issues/30

[2021-07-20 14:01] krwq commented on #1403
@JimBobSquarePants notice we currently use BDF fonts for very low resolution (couple pixels by couple pixels) but I agree it would be good to have that support

[2021-07-24 08:42] mattjlewis commented on #1415
FYI I confirm that I2C works, raised this issue in ConfigurableFirmata: https://github.com/firmata/ConfigurableFirmata/issues/115. I'll retest against the latest codebase (I had used the 2.10.1 release from 2018 and had to modify a couple of files) and submit a pull request instead.

[2021-07-26 09:04] Ellerbach opened #1615 "SSD13xx: need to move code from the sample to the bindings"
**Describe the ideal solution**

Today SSD13xx has too much code in the sample like initialization of the bindings. All this code should move to the binding itself.

[2021-07-26 21:27] terrajobst commented on #1616
Sorry, didn't see the comment. See [this document](https://themesof.net/about). themesof.net only looks in certain repos for themes/epcis/user stories, but that's the starting set. Any issue that is linked from a theme/epic/user story can be found. In practice this means only the repos with themes need to be known to themesof.net. Anything else is discovered from there.

[2021-07-28 19:25] awrobel196 opened #1618 "BME280 Error performing I2C data fransfer"
Hello

I want to use Bme280 sensor with Raspberry 4. For try get data from sensor i use [example Bme280 code](https://github.com/dotnet/iot/blob/main/src/devices/Bmxx80/samples/Bme280.sample.cs) and little edit it [for use in my project](https://pastebin.com/y6wS6n4P)

**Expected behavior**
no error

**Actual behavior**
I run program on Raspberry Pi 4 and got:
[code]

**Versions used**

**Machine

[2021-07-28 19:41] awrobel196 commented on #1618
I try use solution for get data from BMP280 using[ python script](https://www.raspberrypi-spy.co.uk/2016/07/using-bme280-i2c-temperature-pressure-sensor-in-python/) and i got correct output:

[code]

[2021-07-28 20:04] Ellerbach commented on #1618
Have you try both the Default and Secondary I2C address? Depending on the system, they are inverted.

[2021-07-29 06:44] pgrawehr commented on #1618
Does the error happen every time or only occasionally?

[2021-07-29 11:16] krwq commented on #1618
@awrobel196 can you try after creating bme280 call this:

[code]

and see if that makes any difference? I think I recall seeing some issues unless I added a timeout but didn't have time to dig

[2021-08-06 12:50] krwq opened #1623 "Consider re-using location interfaces from full framework"
In full framework System.Device.dll contains some classes used for geo location. We might consider bringing those into .NET IoT

https://docs.microsoft.com/en-us/dotnet/api/system.device.location?view=netframework-4.8

https://github.com/dotnet/runtime/issues/23250
https://github.com/dotnet/runtime/issues/30433
https://github.com/dotnet/runtime/issues/31202
https://github.com/dotnet/runtime/issues

[2021-08-06 15:52] Redth commented on #1623
In Xamarin.Essentials (and now .NET MAUI) we also have a type for geo location: https://github.com/dotnet/maui/blob/main/src/Essentials/src/Types/Location.shared.cs#L22

This looks very similar to the full framework's location type, but we have a couple of additional data points:

- Timestamp (DateTimeOffset)
- AltitudeReferenceSystem (Unspecified, Terrain, Ellipsoid, Geoid, Surface)

Timestamp is

[2021-08-07 05:28] pgrawehr commented on #1623
@Redth There are conversion tables you can download that make the conversion from elipsoid to WGS geoid. For the current location, the GPS receiver typically delivers the delta. At least, it's part of the NMEA specification, not sure about Android/IOS APIs (I have only ever worked with GPS receivers for professional equipment, not in embedded contexts).

@krwq I absolutely agree we should have the

[2021-08-07 11:46] Jimmys20 commented on #1493
Can this be closed since we have passed the 1.4 release?

[2021-08-07 13:34] Jimmys20 opened #1626 "VirtualOutputSegment Write offset"
Hello, in `Iot.Device.Multiplexing` the class`VirtualOutputSegment` has a method `void Write(byte value)` which states in the xml doc that the **_Least significant bit will be written to index 0._**

For example:
[code]

What I find odd is that when using a segment with bigger length that the written value the result is this:
[code]

To my understanding the least significant bit should always end

[2021-08-07 18:14] pgrawehr commented on #1626
@richlander Probably your domain

[2021-08-09 11:22] #1493 closed

[2021-08-09 11:23] krwq commented on #1493
yes, this is done for 1.5 already

[2021-08-10 16:50] krwq opened #1629 "Consider making I2cDevice/SpiDevice.WriteByte/ReadByte virtual"
Currently most of our Write/ReadByte implementations look like:

https://github.com/dotnet/iot/blob/e0dbd643875189804da3f090fd26227f9b01a13c/src/System.Device.Gpio/System/Device/I2c/Devices/UnixI2cDevice.cs#L33-L40
https://github.com/dotnet/iot/blob/e0dbd643875189804da3f090fd26227f9b01a13c/src/System.Device.Gpio/System/Device/I2c/Devices/UnixI2cDevice.cs#L21-L26

We should consider making that a d

[2021-08-10 18:58] pgrawehr commented on #1623
The TimeStamp doesn't actually belong to a generic location primitive. It is correct within the result of a GNSS receiver, of course, but not as part of the generic primitive. Since a position can also indicate a waypoint or the position of an entity (i.e a house). You typically don't use timestamps with those.

[2021-08-11 04:42] bbhxwl opened #1632 "Is there an example of a remote control controlling its own program? Or net core Bluetooth."
Is there an example of a remote control controlling its own program? Or net core Bluetooth.

I want the remote control to interact with my program.

[2021-08-11 04:45] bbhxwl commented on #1231
Are there any more convenient examples now? I want to dock the remote control.

[2021-08-11 16:43] Ellerbach commented on #1632
Hi @bbhxwl
you can have a WebServer for example with a set of API.
Check https://github.com/nanoframework/Samples/tree/main/samples/Webserver

[2021-08-12 08:37] raffaeler commented on #1632
@bbhxwl Could you please explain the scenario?
If you want to control devices on the Raspberry PI (or similar board), you can just write an ASP.NET application accepting REST calls and controlling the connected devices over WiFi or ethernet.
With regards to Bluetooth, I am not aware of any library (Xamarin apart) that can let you use it on .NET Core on Linux.

[2021-08-12 08:38] bbhxwl commented on #1632
I made a software to play video, and then I want Xiaomi to press up and down the Bluetooth remote control to control the up and down of my software video.

[2021-08-12 08:51] raffaeler commented on #1632
Hi @bbhxwl,
I agree that supporting Bluetooth would be a great feature to add. It probably would deserve a seprarate library as the Bluetooth specifications are very large and may involve a lot of work.

As I said I am currently not aware of any library enabling support for BT on Linux with .NET Core. Anyway, you may rely on a simple serial communication over Bluetooth by using a small and cheap J

[2021-08-12 12:26] raffaeler commented on #1632
@bbhxwl I found some time to investigate, and it looks like the most recent Linux kernels (>= 2.6) already provide built-in Bluetooth support.
The official library is http://www.bluez.org/
The API documentation (C Language) is here: https://git.kernel.org/pub/scm/bluetooth/bluez.git/tree/doc

Said that, I found a library that may be interesting for you:
- Repo: https://github.com/phylomeno/dotnet-

[2021-08-13 09:39] pgrawehr commented on #1231
@bbhxwl Unfortunately no. I did not have time for this.

[2021-08-13 10:08] krwq commented on #1231
@bbhxwl infrared usually requires precise reading to be reliable (unless you don't care about sometimes having to press the button twice) - since Raspberry Pi is running on linux and the process can get interrupted at any moment we can't guarantee reliable reading. The way I've done that in the past was to have Arduino reading IR and then sending the messages over serial port to other device - ser

[2021-08-13 15:42] Ellerbach commented on #1632
Quote replying myself as I think I get wrongly the question! Sorry for that. I understood you wanted to control a small MCU, not your Raspberry Pi! Still for the Raspberry Pi, the API is a good answer, you can use ASP.NET on it!
Otherwise, the previous answers are all correct as well.

[2021-08-17 09:06] tmds commented on #324
Yes.

[2021-08-17 10:53] krwq commented on #324
can you provide some repro where we could test this? (ok if it repros only from time to time)

[2021-08-17 12:47] nmunozgarcia opened #1637 "After unregister all callbacks, the new registered callbacks events are not fired in Raspberry Pi 4"
**Describe the bug**

In GpioController, when you register some callbacks with RegisterCallbackForPinValueChangedEvent() function, the events are fired as expected.
Then, If you unregister all the callbacks registered before with UnregisterCallbackForPinValueChangedEvent() function, your events are not fired now. (This is the expected behaviour).
Now, if you registered new callbacks in GpioControl

[2021-08-17 12:58] raffaeler commented on #1637
@nmunozgarcia Could you please give a bit of context about the operating system you are using?
Is it Raspbian? Which version?

[2021-08-17 12:59] nmunozgarcia commented on #1637
This Bug is caused because of private readonly _eventThreadCancellationTokenSource variable in System.Device.Gpio.Drivers.SysFsDriver class.
[code]
When all callbacks are removed, the CancellationTokenSource _eventThreadCancellationTokenSource is cancelled with the Cancel() function in RemovePinFromPoll() function.
After cancelled, the CancellationTokenSource is never recreated (because is readonl

[2021-08-17 13:02] raffaeler commented on #1637
It sounds reasonable for me.
Are you willing to make a PR, eventually adding a specific test?

[2021-08-17 13:03] nmunozgarcia commented on #1637
Hi @raffaeler.
It's a Raspbian OS (now I think it's called Raspberry Pi OS) in the latest version:
[code]

[2021-08-17 13:07] nmunozgarcia commented on #1637
I've never made a pull request, but I'm going to try it now. (Let's see what happens...)
I don't know how to make a Test with events fired externally out of my code.

[2021-08-17 13:12] raffaeler commented on #1637
Great!
If you look at the other tests, you will see there are mock classes to simulate those kind of events.
The very basic steps to make a PR are:
- fork the repo
- make the changes + test
- make sure to accept the required license as a collaborator
- submit a PR by referencing this thread. At this point all the tests will be run automatically. There may be fails not depending on you. Someone fro

[2021-08-17 15:35] pgrawehr commented on #1637
@nmunozgarcia While this is really a bug, we encourage the use of libgpiod instead of sysfs for event registration. It is much faster and more reliable. All you have to do is run

[code]

I'm pretty sure this will make the error go away.

[2021-08-19 04:37] dotMorten commented on #819
@krwq I took your branch and updated it a bit to better match how the other displays work. Would you mind if I continued your work and made a PR for it? (I'll fork from yours so you still get some of the credit)

[2021-08-19 08:41] krwq commented on #819
go ahead, having a binding matters more than credit 😄

[2021-08-19 09:23] ChesterHuang999 opened #1640 "RPI4 PWM can't be used with Windows11"
**Describe the bug**
When I execute the Sample code, I get an error message like the following.

Unhandled exception. System.ArgumentException: No PWM device exists for PWM chip at index 0. (Parameter 'chip')
   at System.Device.Pwm.Channels.Windows10PwmChannel..ctor(Int32 chip, Int32 channel, Int32 frequency, Double dutyCycle)
   at System.Device.Pwm.PwmChannel.CreateWindows10PwmChannel(Int32 chi

[2021-08-19 10:36] krwq commented on #1640
@ChesterHuang999 Windows 11 is not supported at the moment. I'm not sure how could you have change /boot/config.txt which is linux file on Windows 11... I believe the only scenarios which will work on Window at the moment are:
- Windows IoT Core - @joperezr do you perhaps remember if you have to do anything special for PWM?
- using GPIO/SPI/I2C with devices such as FT4222
- using GPIO/SPI/I2C Firm

[2021-08-19 11:39] raffaeler commented on #1640
Sorry, I did not try Win11 on the PI.

FWIW in my projects I always use a small external PWM card as I found to be more reliable (because of the timings) than the internal RPi PWM.

[2021-08-19 13:12] nmunozgarcia commented on #1637
Hi @raffaeler!
Thank you so much!
Sorry, I don't have so much time this days but I tried to make the contributing enviroment in Windows 10 (following this guide https://github.com/dotnet/iot/blob/main/Documentation/CONTRIBUTING.md) without success, because I don't have the Linux enviroment to check the Linux tests (all SysFsDriverTests fail with the error message: "System.PlatformNotSupportedExcep

[2021-08-19 13:52] dotMorten commented on #819
Awesome! PR linked above.

[2021-08-19 13:58] raffaeler commented on #1637
@nmunozgarcia You are welcome :)
Be aware that, if you have just a Raspberry PI available, you can use Visual Studio Code with the extensions called "Visual Studio Code Remote - SSH" and "Remote Development" to write code on your preferred OS and run on the RPi.

If you feel "lucky" :) you can also create the PR and rely on the tests that are automatically run on GitHub. I am suggesting also this

[2021-08-19 15:29] pgrawehr commented on #1640
@ChesterHuang999 Please describe exactly on what kind of hardware and operating system you were trying to run the code. There's no PWM hardware on typical Windows desktop PCs, and there's no Windows 11 for Raspberry Pi.

[2021-08-19 15:37] joperezr commented on #1640
[Triage]: If you could share steps on how to install windows 11 on Pi4 then we can try to get a repro environment and investigate.

[2021-08-19 15:50] joperezr commented on #1637
[Triage]: @nmunozgarcia thanks for finding the issue, would you be interested in contributing a PR to fix the SysFsDriver? What we need to do is to make sure that the CTS life-span equates the one for the eventDetection thread, so have it be created every time that the thread is created, and disposed every time that the thread is disposed.

[2021-08-20 02:06] ChesterHuang999 commented on #1640
Thank you all for your replies.

The hardware platform is RPI4 B which ram is 4GB.
Hardware details: https://www.raspberrypi.org/products/raspberry-pi-4-model-b/

First, in addition to PWM, I experimented using "System.Device.GPIO" to control GPIO. The GPIO part can work normally.

For how to install Windows 11 on RPI4, please refer to:
https://www.tomshardware.com/how-to/install-windows-11-raspbe

[2021-08-20 08:20] raffaeler commented on #1640
@ChesterHuang999 I rapidly read the article and, at a certain point, it says "The Raspberry Pi’s onboard Wi-Fi, Bluetooth and GPIO do not work so you’ll need to use Ethernet or a USB Wi-Fi dongle to get online".
If there are those limitations, they will also affect PWM as well. I can't exclude there may be a way to enable them (as raspiconfig does under Linux) but I have no clue how to do it under

[2021-08-20 15:41] dotMorten opened #1644 "Display abstraction interface"
I've noticed all the various displays have different methods exposed to work with them. I'd like to suggest an interface (or abstract base class) is provided for all of them, so we can write common code, and quickly swap out the display used in our code, without having to change anything but the display creation.
I've found that I'd often change displays to something better, and having rewrite qui

[2021-08-20 21:21] mcdis opened #1645 "Add support c MPU-6050 Gyroscope"
Please add support for MPU-6050 gyroscope series

[2021-08-21 17:01] pgrawehr commented on #1640
I think there's nothing we can do here, until the low-level drivers are in place.

[2021-08-22 12:25] raffaeler commented on #1632
@bbhxwl given there is currently no support for BT, this issue is a placeholder for a possible enhancement if the existing libraries are not sufficient.
Did you have the time to take a look at them?
And beyond that, is there any other outstanding issue in your request?

[2021-08-22 13:47] pgrawehr commented on #1644
I fully agree with the requirement. Additionally, there should be an implementation for `ICharacterLcd` for graphic displays, so they easily support printing text. This can probably be done in a generic way, by providing a class that implements `ICharacterLcd` and outputs a bitmap. Oh, but note that we should not be using `System.Drawing.Bitmap` any more, but the ImageSharp equivalent instead (see

[2021-08-22 14:02] raffaeler commented on #1644
I am also favorable to the proposal but I have a couple of observations.

The name of the interface is ambiguous. Displays based on the Hitachi interface can't do most of the thing specified in the interface. I would rather split text and graphics display methods. They could eventually be implemented both on most graphical devices.

Also, given the amount of devices that can display something, it

[2021-08-22 23:35] gecclesinc commented on #1445
Has anyone gotten this to work?

My DHT22 works fine with my Arduino using the Adafruit_Sensor and DHT libraries. It also works on my Raspberry Pi 4 using the Adafruit_CircuitPython_DHT library (https://github.com/adafruit/Adafruit_CircuitPython_DHT).

Would be awesome to get this working with the C# library.

Tried this code and so many others because I really wanted this to work in C#.

I eventu

[2021-08-23 06:19] pgrawehr commented on #1445
@gecclesinc : What exactly do you get as result? I have never tested a DHT22, but it works fine with DHT11 on Rpi4, and the two are very similar.

[2021-08-25 16:12] mcdis opened #1646 "Add to PN532 abbility to ignore firmware version ack by i2c interface"
Some cheap copies, which are based on PN 521, do not respond to the request for the firmware version, but they ask to send it before working.
In arduino, in the source, they just ignore the answer.

Googling for 5 minutes, and you will find a decent amount of queries that people can't read the get firmware version answer.

It worked for me when, instead of exception, I set to ignore the answer.
Th

[2021-08-28 06:53] #1585 closed

[2021-08-28 06:54] #761 closed

[2021-09-02 12:14] nmunozgarcia commented on #1637
Hi @raffaeler!
I tried to execute the GpioControllerTestBase.cs tests, but in Windows X86 I got the "System.PlatformNotSupportedException : SysFsDriver is only supported on Linux/Unix" message, obviously as I said in my previous message.

In Raspberry, I tried to connect remotely from Windows to Raspberry (with Visual Studio Code Remote - SSH as you suggested to me) and also installing Visual Stud

[2021-09-02 12:27] raffaeler commented on #1637
Hi @nmunozgarcia ,
installing vscode and the extensions should be straightforward. You don't need to download any package from Github, just follow the instructions:
- vscode on RPi: https://code.visualstudio.com/docs/setup/raspberry-pi
- remote SSH: https://www.raspberrypi.org/blog/coding-on-raspberry-pi-remotely-with-visual-studio-code/

this is probably happening because you manually installed t

[2021-09-02 12:44] nmunozgarcia commented on #1637
this is probably happening because you manually installed the extension instead of letting vscode install the right one from the vscode marketplace.

No. I got the incompatible message with the extension from the vscode marketplace. That's why I searched for a solution and found in the propper project a branch to work with ARM and ARM64 (and recompile it, with that branch, and tried it without suc

[2021-09-02 12:58] raffaeler commented on #1637
My fault, @nmunozgarcia I am reading that the extension can't run on ARM. Someone did it by recompiling the code.

Anyway you should be able to run the tests without the extension. See this doc:
https://github.com/dotnet/iot/blob/main/src/System.Device.Gpio.Tests/README.md

[2021-09-03 05:02] pgrawehr commented on #1299
Closing as per above

[2021-09-03 05:02] #1299 closed

[2021-09-03 12:13] nmunozgarcia commented on #1637
Don't worry, @raffaeler.
My apologies, I didn't see that Readme before.

Thank you so much! I finally can run the tests.

Now I'm trying to create the test and check it out.

Should I put it in SysFsDriverTests.cs file for only the SysFsDriver driver or in GpioControllerTestBase.cs file for all the drivers?

[2021-09-03 20:16] raffaeler commented on #1637
Well done, great work.
I am personally ok with that. Just have a bit of patience so that others may find some time to review the PR.

[2021-09-06 18:28] ikivanc commented on #1618
@awrobel196 I got same error using BMP280 while I was using stable build for `System.device.Gpio` and `Iot.Device.Bindings`
Read

Then used `--prereleases` and now my code is working as expected

[code]

![image](https://user-images.githubusercontent.com/118657/132252345-bf58598d-fa05-42f1-aa6e-212705f53a54.png)

Can you try this one?

[2021-09-07 09:09] marcinjahn opened #1656 "Make RaspberryBoardInfo public"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to get an information about the device that my code is running on. I see that the `RaspberryBoardInfo` class is internal (https://github.com/dotnet/iot/blob/54469318f33124e3455bf974e6a75167dfb831e6/src/System.Device.Gpio/System/Device/Gpio/RaspberryBoardInfo.cs).

**Describe the ideal solution**

Either `Raspbe

[2021-09-07 09:14] raffaeler commented on #1656
May I ask you the reasons why you need to distinguish the RPi model?
Please consider that the IoT libraries works on other devices as well, therefore I would find weird to have a class that is specific to the RPi.
I would rather prefer abstracting the info you need so that it may be used on other devices as well.

[2021-09-07 09:20] Loreno10 commented on #1656
@raffaeler Yes, you are right, it should be possible to get that information on any device that this library supports. I mentioned RPi, because that's what I'm using, and I found the `RaspberryBoardInfo` class in the repo.

I need to get the model of the device because I'm creating a device twin in the cloud when the device starts. One of the properties that I'd like to know about the device is it

[2021-09-07 09:30] raffaeler commented on #1656
I understand the need, but I am not sure the `/proc/cpuinfo` output is homogeneous on all the devices and all the Linux distributions.
Also, the `RaspberryBoardInfo` contains Linux specific code, while the IoT libraries can run on Windows as well.

In your specific file, since you are trying an exact match between the two, it can be simpler to just parse the few info you need from `/proc/cpuinfo`

[2021-09-07 10:08] Loreno10 commented on #1656
Yes, I will do that for now. I just thought it would be nice if the libraries had an API to get the info with one line of code like `var device info = await System.Device.Model.GetDeviceInfo()` (just an example). I guess I'm not the only guy who wants to be able to get info on the hardware, it makes sense to have it implemented once for all.

[2021-09-07 10:27] raffaeler commented on #1656
I have no other device similar to RPi but here we go with a comparison.
These are the final lines of `/proc/cpuinfo` on the RPi:
[code]
I then tried on Centos (VM), Ubuntu (VM) and Ubuntu (physical) but they do not return any of those fields.
It looks like they only report the lowercase fields.

My guess is that those fields only apply to the Raspberri PI OS (aka Raspbian) distribution.
I did not

[2021-09-07 19:53] pgrawehr commented on #1656
The reason why we currently don't want to make that class public is because it's not clear how a stable API for it should look like. New models come out all the time, and when running different OSes on them, they might even identify differently.

We would need a class structure that allows retrieving arbitrary system information for all kinds of OS/Hardware combinations. But then, there's probably

[2021-09-09 16:21] joperezr commented on #1656
@marcinjahn The big problem about making this type public, is that it lives in System.Device.Gpio library, which is a library that has [full support and backwards compat guarantees](https://github.com/dotnet/iot/tree/main/Documentation#repo-layout) which makes us uncomfortable to ship an API that a) only works on a RaspberryPi and b) the RaspberryPi must be running Raspbian for it to work. It is a

[2021-09-09 16:29] marcinjahn commented on #1656
@joperezr It's a shame that this information is not standardized in Linux. I guess providing such a class that is usable only under the condition that you are using RPi in combination with Raspberry OS could be a bit limiting, or even confusing.
Although, on the other hand, it's generally better to have some option than not to have it at all. Tough call :|

Myself, I went with a simple `/proc/cpui

[2021-09-09 16:34] joperezr commented on #1646
Closed by #1651

[2021-09-09 16:34] #1646 closed

[2021-09-09 19:03] joperezr commented on #1656
I see, yeah if you want to manually read cpuinfo yourself then that's fine and I guess we don't need to take any of the two approaches I suggested above and keep the type internal only. That probably also means that we can close this issue for now. If you still think that exposing this type as-is via Iot.Device.Bindings package would be valuable, let us know and we can re-open this and consider th

[2021-09-09 19:03] #1656 closed

[2021-09-10 20:22] #1637 closed

[2021-09-12 04:27] richlander commented on #1644
It would be good to look at some of the display options at https://www.daktronics.com/ and see if this interface (or any we propose) would satisfy the style of displays that those folks provide.

[2021-09-13 13:00] marcinjahn opened #1659 "INA219 - strange readings"
**Describe the bug**

I have a small circuit involving INA219. At this point, during experimentation it looks the same as an example at https://github.com/dotnet/iot/blob/ca63c979bd8fd9c47acff379f09ff01ab8458abe/src/devices/Ina219/README.md.

I'm using the following code:

[code]

I'm reading the current measurements in a loop every second, like this:

[code]

It's very similar to what you've show

[2021-09-13 13:26] krwq commented on #1659
cc: @Frankenslag

[2021-09-13 15:20] stevehayles opened #1660 "Consider adding timestamp to PinValueChangedEventArgs"
**It would be useful in some scenarios to expose the time of a pin change event**

The libgpiod driver specifically expose timestamps for any pin event and it would be useful to pass that timespan through to any subscribed event handler.  In situations where the driver does not expose the time from an underlying native event then the timespan could be added from managed code or left null

[2021-09-14 09:06] krwq commented on #1644
@dotMorten we've already had a long discussion about similar interface in the past. See conversation at https://github.com/dotnet/iot/issues/189 - I'm fine with continuing the conversation after taking all points in there and this thread into consideration. Please do not block your PR on this. If you want we can schedule a call to share all our past points why we didn't ship anything like that yet

[2021-09-14 19:34] joperezr commented on #1660
Thanks for the suggestion @stevehayles. Can you share the scenarios you had in mind where this could be useful? I'm not disagreeing of this being a good idea, just want to make sure that whatever API we end up proposing will work on the scenarios you had in mind.

[2021-09-14 20:06] stevehayles commented on #1660
Thanks for looking at this @joperezr,  the specific scenario I am thinking of is in using interrupts on a GPIO pin to sample the output from a hall-effect water flow sensor.  At very high frequencies a pulse counter over a fixed time period is fine but I need to count down to almost zero flow rate and in that situation timing the pulses is a much better technique.

Adding timestamps within my appl

[2021-09-16 15:55] Ellerbach commented on #1660
[Triage] The scenario is very valid and it seems to be something to add. Now, it is going to change the API definition and that should be done carefully even if it's just a change in the structure.
So we should continue the discussion here to find the right name for the property and the value to be returned (Ticks or DateTime).

[2021-09-16 16:03] Ellerbach commented on #1645
[Triage] That's a nice sensor to grab and implement. It seems like this sensor is quite old at the same time. The MPU6500 version may be compatible with this one for the registers and would make it fairly easy to implement.

[2021-09-16 16:05] Ellerbach commented on #1632
[Triage] @bbhxwl Did you have time to look at all this? Is this still a valid issue?

[2021-09-16 16:17] Ellerbach commented on #1618
[Triage] @awrobel196 do you still have the issue? Also are you using BME280 or BMP280? They are not the same sensors. So you have to select the right one.
On your original issue, you mentioned BME and on the test you've been doing with python, you mention BMP. And that makes a big difference because those are not the same sensors.

[2021-09-16 18:23] TheZlodziej commented on #1626
It looks like the "offset" variable in Iot.Device.Multiplexing.Utility.VirtualOutputSegment.WriteByteAsValues(byte value, int offset) is unnecessary.

[code]

[2021-09-17 00:52] bbhxwl commented on #1632
Net should not have a good solution in this regard. There are no other problems now. thank you.

[2021-09-17 00:52] #1632 closed

[2021-09-17 06:04] dme-development opened #1663 "Mcp23017 initialization resets pin values"
**Describe the bug**

Every time a new instance of Mcp23017() is being created the pins are being reset to low. This is an issue when the written software reboots, eg when updating the software version.

**Steps to reproduce**

[code]

**Expected behavior**

Pins need to keep their value after re-initializing the Mcp23017() adapter.

**Actual behavior**

Pins are being reset every time a new insta

[2021-09-18 11:06] josesimoes commented on #1660
Interestingly, we had similar requests a couple of times in nanoFramework. For devs needing to access the exact time stamp that the event occurred it seems a pretty reasonable request.

I suggest a property named TimeStamp. As for the type I would vote for ticks.
Reasoning 🤓
1. Anyone needing is probably looking for the best possible resolution, ticks is perfect for that.
2. DateTime merely "hides

[2021-09-18 11:38] stevehayles commented on #1660
Interesting observsations @josesimoes and I would agree with both the naming and use of ticks in this scenario.  Any application code can easily construct 'higher level' DateTime objects from ticks and in very hot paths the overhead of DateTime or DateTimeOffset is hard to justify.  I would be particularly concerned about DateTimeOffset which has a reasonable performance penalty over DateTime in m

[2021-09-19 08:48] raffaeler commented on #1660
I agree with the ticks, but I would rather focus on the resolution/precision. In this discussion we are giving for granted the 100ns interval provided by datetime/timespan.
But I would not limit to that, therefore a unit of measure should be exposed as well to avoid incorrect conversions.
There is also another important parameter that is the error percentage which may vary depending on the origina

[2021-09-19 09:18] Ellerbach commented on #1660
Ticks seems indeed a great choice to avoid overhead. On your comment:

You always need to know your hardware when making things like this. Even if ticks can be different from platform to platform, you can always know how many ticks represent 1 nano second, so you can always make some good precise calculation if you want.

And I do fully agree on this:

You can't get such a precision that you'll be

[2021-09-19 09:45] raffaeler commented on #1660
Hi @Ellerbach

While the OS has an overhead, you may still rely on the reading with a higher precision of your capacity to react to the event.
If the event was generated by a hw timer or by the OS in ring0, you can get better and reliable prevision. This timing can be written in the event and used, later on, in ring 3 by your application.
This can be very useful to compute the distance among event

[2021-09-19 09:53] josesimoes commented on #1660
Please correct me if I'm wrong, but on all .NET platforms - IoT Core included - a tick is **a** tick just like defined/explained in the docs:

"A single tick represents one hundred nanoseconds or one ten-millionth of a second. There are 10,000 ticks in a millisecond (see TicksPerMillisecond) and 10 million ticks in a second."

Therefore, any tick value that will be exposed through such property wi

[2021-09-19 09:59] raffaeler commented on #1660
I am just suggesting to do the same of StopWatch did: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.stopwatch.frequency?view=net-5.0
It can be either low or high resolution, but still internally it can be converted in seconds.

I am therefore asking not to fix the tick, but to provide tick and conversion unit into seconds so that a higher resolution can be obtained, when available

[2021-09-19 18:59] Mr-Technician commented on #1445
I'm having a similar issue. The sensor works fine on python, but the read always fails from the .net library.

[2021-09-22 18:17] raffaeler opened #1671 "Discussion around the introduction of a Pin class"
Discussion started [here](https://github.com/dotnet/iot/pull/1665#discussion_r714130485) on this code.
[code]

@krwq initially suggested that:

I commented about the requirements that this would trigger to be able to share the pin with other controllers/pin:
- sharing the private _openPins dictionary (making it static?)
- revising the events logic

@joperezr said that:

One additional comment from

[2021-09-22 18:44] pgrawehr commented on #1671
On the technical perspective: It is possible to create multiple GpioController instances, and as long as these don't use the same pins, there won't be any problems.* But if you use the same pin from different instances, the behavior is more or less undefined. It is highly recommended to use the `Board` class as root of your device instances, as it handles these cases nicely and throws exceptions i

[2021-09-23 12:51] dme-development commented on #1663
@pgrawehr That is exactly our use case: when updating a docker image version, we want the relays to keep their values.

We have created our own PCB's, pull-up/pull-down is currently not an option, but we created a workaround by removing the reset functionality from the library. Of course, we would like to see it being resolved in the library.

I think there have been similar issues for other devic

[2021-09-23 13:14] pgrawehr commented on #1663
Yes, this is an use case that has been forgotten in the initial design of several APIs (see also my links above). You are welcome to submit a PR, but try not to break existing APIs (that means that you probably have to add an extra bool argument to the ctor).

[2021-09-25 10:53] Ellerbach commented on #1671
In .NET nanoFramework, we do have a GpioPin. See https://github.com/nanoframework/System.Device.Gpio/blob/develop/System.Device.Gpio/GpioPin.cs

GpioController is the only one which can open or close pins, ownership is to it.

GpioPin is present for 2 reasons:

* Performances. It's much faster to write or read, change the state, toggle without having to browse a collection all times.
* Compatibili

[2021-09-26 19:53] wsad4ryba opened #1675 "DCMotorWithStartStop"
**Describe the bug**
I wanted to use the DCMotorWithStartStop class by installing Iot.Device.Bindings as a nuget package.
It turned out that the class is not visible even though its code was added in #1398. From what I found out, one line is missing in the previous PR. When I cloned the repo and added ```<Compile Include = "DCMotorWithStartStop.cs" />``` to DCMotor.csproj it looks like the problem

[2021-09-28 08:33] #1675 closed

[2021-10-08 13:35] OJapes opened #1682 "WS2812B on SPI1 behaves different than on SPI0"
**Describe the bug**

When trying to run the sample [from the repo](https://github.com/dotnet/iot/tree/main/src/devices/Ws28xx#raspberry-pi-setup-bootconfigtxt) with using SPI1 (GPIO 20) instead of SPI0 (GPIO 10), the strip lights up as almost completely white. A hint of color can be seen (red becomes a very light pink) can be noticed, as well as changes when using the TheatreChase. But when using

[2021-10-08 15:12] raffaeler commented on #1682
I currently have no devices to make a test, sorry. Let's see who has the chance to test it.

[2021-10-08 17:21] joperezr commented on #1626
This is a great question. I believe your assumption above is right, and we do want those two unit tests you wrote to be passing. Sorry that I closed the PR #1662 which now I understand was trying to fix this other issue. Would you mind either re-opening that one, or a new one, and add the fix for this plus both of the unit tests above?

[2021-10-13 14:21] CodedBeard opened #1688 "VideoDevice issues with color accuracy."
**Describe the bug**

While testing various different cameras (microsoft usb lifecam, raspberry pi camera v2, raspberry pi HD cam, raspberry pi nightvision cam) on a selection of different Raspberry Pi (all 4b but with varying ram and armv7/arm64 os) I've noticed that the color accuracy does not match that of the inbuilt raspistill/raspivid tools for capturing from the same cameras. In all instanc

[2021-10-13 14:58] CodedBeard opened #1689 "VideoDevice returned image frames can contain mostly empty data"
**Describe the bug**

While investigating the image color accuracy issue described in #1688, I noticed that my network was starting to have performance issues the more video devices i had running. At the time i was testing a Raspberry Pi 4 8GB running arm64 raspberry os with a low resolution night vision camera. I realised that most of the traffic from the camera arriving at my browser, was the im

[2021-10-15 14:22] fkromer opened #1691 "Add all ADC drivers to IoT.Device.ADC namespace"
**Is your feature request related to a problem? Please describe.**

From the API it's not obvious immediatelly which ADC chips are supported. If one looks only into [IoT.Device.Adc namespace](https://docs.microsoft.com/en-us/dotnet/api/iot.device.adc?view=iot-dotnet-1.5) it seems like only a few chips are supported. However if one takes a closer look into the overall [IoT.Device namespace](https:/

[2021-10-15 14:32] fkromer opened #1692 "Introduce namespace for thermocouple to digital converters"
**Is your feature request related to a problem? Please describe.**

From the API it's not obvious immediatelly which thermocouple to digital converter chips are supported cause they are not grouped into an appropriate namespace. Thermocouple to digital converters I've found so far:

- [IoT.Device.Max31856](https://docs.microsoft.com/en-us/dotnet/api/iot.device.max31856?view=iot-dotnet-1.5)

**Desc

[2021-10-15 15:02] fkromer opened #1693 "Introduce namespace for led driver chips"
**Is your feature request related to a problem? Please describe.**

From the API it's not obvious immediatelly which LED driver chips are supported cause they are not grouped into an appropriate namespace. I've found so far:

- [IoT.Device.Ws28xx](https://docs.microsoft.com/en-us/dotnet/api/iot.device.ws28xx?view=iot-dotnet-1.5) (Ws2808, Ws2812b)

**Describe the ideal solution**

It would be helpf

[2021-10-15 15:10] fkromer commented on #1691
@Ellerbach Relates to https://github.com/dotnet/iot/issues/1692 and https://github.com/dotnet/iot/issues/1693 .

[2021-10-15 15:24] fkromer commented on #1691
As documentation which is not autogenerated tends to be outdated most devs prefer to explore the API in their IDE of choice. Namespaces are a great way for "IDE-base autocompletion kind of" API guidance. As soon as I know the API of the drivers better I'm happy to contribute.

[2021-10-18 07:53] wdolek opened #1694 "SensorHub: Improper handling of STATUS_REG"
**Describe the bug**

There's external temperature sensor and light sensor on [Sensor Hub](https://wiki.52pi.com/index.php/DockerPi_Sensor_Hub_Development_Board_SKU:_EP-0106) which status can be read from single registry (`STATUS_REG (0x04)`).

For some reason when board is placed in complete darkness, light sensor reports failure (value `status = 0x08`) - causing check for no error to fail when r

[2021-10-18 09:22] krwq commented on #1691
Thanks @fkromer. I'll close this issue because we've already had some discussion on this subject in the past and we concluded it's better to keep the doc in sync than trying to represent tags as a namespace.

[2021-10-18 09:22] #1691 closed, assigned to nobody

[2021-10-18 09:58] fkromer commented on #1692
@krwq As this relates to #1691 you probably want to close this issue as well. 😉

[2021-10-18 11:23] #1693 closed, assigned to nobody

[2021-10-18 11:23] #1692 closed, assigned to nobody

[2021-10-18 12:59] fkromer opened #1696 "Support for Adafruit DotStar LED stripes"
**Is your feature request related to a problem? Please describe.**

Besides the Adafruit NeoPixel led stripes the Adafruit DotStar LED stripes are widely used in the maker community. It seems like there are no drivers for the Adafruit DotStar LED stripes yet.

**Describe the ideal solution**

[Adafruit DotStars LED stripes](https://learn.adafruit.com/adafruit-dotstar-leds) are interfaced via a hig

[2021-10-18 13:00] fkromer commented on #733
@HumJ0218 Could you add a license to your project? Relates to https://github.com/dotnet/iot/issues/1696.

[2021-10-18 14:56] #1696 closed, assigned to nobody

[2021-10-20 21:15] #1626 closed

[2021-10-21 15:54] joperezr commented on #1688
[Triage] Thanks a lot for reporting this and for the testing.  We definitely would want to match raspistill/raspivid so we should investigate what is going on in here. Can you please share a repro project that captured that image above? Also if you can share exactly which camera was used that would be great as well, so that we can investigate and figure out what is going on.

[2021-10-21 15:58] joperezr commented on #1694
Thanks for finding the issue and for submitting a PR to fix it. We will review it shortly.

[2021-10-21 19:26] #1544 closed

[2021-10-21 20:54] CodedBeard commented on #1688
Hi @joperezr, I can be reproduced this with the [MJPEG Sample](https://github.com/dotnet/iot/tree/main/src/devices/Media/VideoDevice/samples/MjpegStream/) in the repo. The current sample is functionally identical to my project, as thats what I based the updates on with #1587. In confirming I could replicate the issue with the sample in the repo, I've noticed it doesn't currently run, which I'll su

[2021-10-21 21:29] CodedBeard opened #1698 "InvalidOperationException in MJpeg sample project"
**Describe the bug**

While I was ensuring I could reproduce the issues described in #1688 and #1689 with the included [MJpeg sample](https://github.com/dotnet/iot/tree/main/src/devices/Media/VideoDevice/samples/MjpegStream), I ran into the following exception:

[code]

**Steps to reproduce**

try to run the sample project

**Expected behavior**

the sample project runs

**Actual behavior**

it th

[2021-10-24 20:14] sEbola76 opened #1704 "Mcp3428: Read(channel) not always switch channel"
**Describe the bug**
Read(channel) not always switch channel
In Mcp342x.cs in line 204 is
[code]
and should be
[code]
**Steps to reproduce**

[code]

**Expected behavior**

**Actual behavior**
val2 contains value from channel 4

**Versions used**
dotnet --info
.NET SDK (reflecting any global.json):
 Version:   5.0.402
 Commit:    e9d3381880

Runtime Environment:
 OS Name:     Windows
 OS Version:

[2021-10-25 10:08] fkromer opened #1705 "Support for Raspberry Pi 4 on Raspberry Pi OS?"
**Is your feature request related to a problem? Please describe.**

I've a hard time figuring out what's working w.r.t. the driver layer when Raspberry Pi OS (actually 32-bit Debian) is used with the Raspberry Pi 4.

**Describe the ideal solution**

Would it pe possible to introduce a [project](https://github.com/dotnet/iot/projects) and reference issues, PRs, etc. related to this setup into there

[2021-10-25 12:20] fkromer opened #1706 "Introduce abstract base classes for API unification"
**Is your feature request related to a problem? Please describe.**

ATM there is no guidance about which API a driver needs to provide at minimum. This makes it more difficult for the community to contribute drivers in a way that drives an unified library API.

**Describe the ideal solution**

In general one could use interfaces or abstract base classes to provide guidance about interface design.

[2021-10-25 13:18] #1705 closed, assigned to nobody

[2021-10-26 07:18] #1706 closed, assigned to nobody

[2021-11-09 11:58] raffaeler opened #1715 "Button binding invokes the Pressed event at app startup time"
**Describe the bug**
Hardware: Raspberry PI3B+ with a physical button attached.

The [Button](https://github.com/dotnet/iot/tree/main/src/devices/Button) binding can be configured in three different configurations: simple input, input pull-up and input pull-down. By default the constructor configures it with a pull-up (internal) resistor.
The issue happens only when using the pull-up configuration

[2021-11-09 12:40] raffaeler commented on #1715
I instrumented the Button code to see the sequence of the events in relationship with the Button code:
[code]

The initial events are inside the Button constructor, while the `Falling` and `Raising` log happen inside the PinStateChanged.

[2021-11-09 13:07] raffaeler commented on #1715
I suspect that the delay time between setting the pull-up and the effective change depends on the electrical "R-C" of the pin where R is the resistance value of the pull-up and "C" the capacitance applied of the GPIO pin.

If I add the following line after `OpenPin` but before `RegisterCallback...`, it obviously works correctly:
[code]
But the `waitResult.TimedOut` is always true which is not a gr

[2021-11-09 15:46] jtdent commented on #1411
So after many headaches. I got this working for the Dell Embedded 5000 pc

I found a usefull open library class called Ring0. Which allows hardware access to the I/O Ports.

I followed the Linux guide and the commands they sent to the Super-IO and from that got the GPIO pins to work.

Is an example of the library. It can be called in c++ and c#.

I coded mine to work in c#

and used MyOls.WriteIoP

[2021-11-10 09:51] raffaeler opened #1719 "The Button implementation does not provide debouncing"
## Feature request
The current https://github.com/dotnet/iot/tree/main/src/devices/Button implementation does not provide any debouncing mechanism.

There is another issue (https://github.com/dotnet/iot/issues/674) requesting debouncing at a lower level. Apparently the Linux driver does not provide any debouncing mechanism.

It would probably better to implement debouncing at least at button level

[2021-11-10 15:05] pgrawehr commented on #1411
@jtdent Great, that sounds like a doable way. If you want, you can create an implementation of GpioDriver that wraps this library.

[2021-11-10 15:12] pgrawehr commented on #1719
I agree, on the button binding this makes sense. I wouldn't put it on the general drivers, because it would add domain-specific knowledge where it doesn't belong and/or suggest hardware support for something that will, in many cases, be simulated in software.

[2021-11-10 15:20] raffaeler commented on #1719
I first tried to see if it was available in the native driver but I could not find anything like that. Maybe @joperezr can either confirm or not about my research.
In any case, I already submitted a PR for the button changes so that it is immediately available.

[2021-11-10 15:24] jtdent commented on #1411
any previous examples of this. and I will have a look.

[2021-11-11 16:54] #1694 closed

[2021-11-11 17:09] #1698 closed

[2021-11-11 20:28] raffaeler commented on #1715
After a long discussion in the Triage, we agreed that the native subscription to the pin changed event should be moved out from the constructor.
Also, we agreed on the best place where to move it, which is the Button 'add' event handlers, while leaving the removal in the Dispose method (no changes).
This solution leaves the native subcription under user's control. It also offers the opportunity to

[2021-11-11 21:00] CodedBeard opened #1724 "VideoDevice does not work on raspberry os arm64 rtm"
**Describe the bug**

The RTM release of [raspberry pi arm64 os](https://downloads.raspberrypi.org/raspios_arm64/images/raspios_arm64-2021-11-08/), based on bullseye, was released earlier this week. When attempting to run the sample MJPEG project on a raspberry pi 4 using this OS, the code runs without error, however, invalid images are produced.

I suspect this is due to the fact that the [os now

[2021-11-12 07:34] #1719 closed

[2021-11-12 20:55] jesseryoung commented on #1328
Just ran into this today as well. Funnily enough, if you increase the number of pixels to 8 (without actually having 8 pixels on the line) it works just fine.

[2021-11-16 15:49] jesseryoung opened #1727 "Update Iot.Device.Media to use Span<T> where possible."
While I was investigating color issues with YUYV data for #1726 I noticed that implementations in [VideoDevice.Converter.cs](https://github.com/dotnet/iot/blob/main/src/devices/Media/VideoDevice/VideoDevice.Converter.cs) could benefit from utilizing `Span<T>` to speed up processing.

My initial tests just after updating `VideoDevice.YuyvToRgb`  and `VideoDevice.RgbToBitmap` showed 200% improved pr

[2021-11-16 21:05] CodedBeard commented on #1688
@jesseryoung thanks for the heads up, but as far as I recall, the capture methods don't use the converters internally, and the mjpeg sample is capturing as jpeg and just returning the bytes.

I thought I'd double check this, and if I update the sample to use YUYV capture format, and then run the resulting bytes through the converter, it produces the same pixel errors you describe in #1726. While n

[2021-11-16 21:34] CodedBeard commented on #1727
I did consider adding `Span<byte>` when making the modifications for #1587, but decided against it after realising that netcore 2.1 was still included in the TFM's. I don't recall exactly what the issue was, but it was something to do with extensions that didn't exist in 2.1, so resulted in `#ifdef` in a few places. I'd certainly support adding `Span<byte>` if 2.1 is being dropped now its out of s

[2021-11-16 22:00] CodedBeard commented on #1724
I've been doing some more testing with the new driver, and discovered the interface it presents for the same camera is quite different to the original broadcom one.

The following results are produced by `v4l2-ctl --all` using the same hardware (pi4b 1GB using pi v2 camera), but swapping between a sd card using the [last arm release](https://downloads.raspberrypi.org/raspios_lite_armhf/images/rasp

[2021-11-17 15:10] anwarminarso opened #1729 "Raspberry Pi Zero 2 W Support"
Hi guys,

I've used this library with .NET 5 on Raspberry Pi 3 for controlling GPIO, I2C and it works!
Is it possible for this library to run on Raspberry Pi Zero 2 W?
Raspberry Pi Zero 2 W has the same chip (BCM2710A1) as the Raspberry Pi 3.

Thank you...

[2021-11-17 15:51] raffaeler commented on #1729
Hello. We discussed this in the Triage sometime ago and some of us (not me) got it and successfully tested the device.
If you have any issue, please file a new issue specifying the most detailed info about the issue you meet.

*Note: If this answer is what you need, please close this issue.*

[2021-11-17 16:34] anwarminarso commented on #1729
hi, thank you for your response..

The main issue in this library is not supported for ``Raspberry Pi Zero 2 W``
I have changed the [code](https://github.com/anwarminarso/iot/commit/a2473e87e08416db17f36ac11eae8727b6c12d71) by adding Model dan board revision number on ``RaspberryBoardInfo`` class.

Currently, I have tested the ``GPIO`` and so far it is working fine. I have not tested ``I2C`` and `

[2021-11-17 16:37] joperezr commented on #1729
Do you want to send out a PR with that change :smiley:? I did test the library and worked out well in Raspberry Pi W 2 but I did install the libgpiod library and was testing that one in particular.

[2021-11-17 16:39] raffaeler commented on #1729
@joperezr commented faster than me :-D (glad you did it)
BTW @Ellerbach tested the SPI successfully

[2021-11-17 18:03] Ellerbach commented on #1729
Yes, SPI, I2C and GPIO works fine :-)

[2021-11-17 19:49] jesseryoung commented on #1727
Ah, wasn't aware of the System.Drawing deprecation, looks like this was discussed in #1403 as well. I wonder if it makes sense to consolidate the issues with `VideoDevice` into a single issue and address them from there?

I'd certainly be willing to test and possibly help develop any changes here.

[2021-11-18 11:54] jholzer opened #1730 "GpioDriver methods should not be internal protected"
Hello!

In SysFsDriver the GpioContoller is hard coded to "pinctrl".
But on some boards containing the Xylinx-Zynq-controller the GPIO "label" file (e.g. "/sys/class/gpio/gpiochip906/label") contains the content "zynq_gpio".
Because of that the reading of the "ReadOffset"-Method fails.

Unfortunately writing an own driver based on e.g. "SysFsDriver", "UnixDriver" or "GpioDriver" is not possible, s

[2021-11-18 12:48] raffaeler commented on #1730
Out of my curiosity, can you tell what brand/model are those boards?

Thank you

[2021-11-18 13:09] jholzer commented on #1730
Sure!

It´s a board from german manufacturer "Trenz electronic" using a Xilinx SOC named "SoC Module with Xilinx Zynq XC7Z015-2CLG485I, 1 GByte DDR3L, 4 x 5 cm"

Here´s the link to their product page:

[https://shop.trenz-electronic.de/en/TE0715-04-52I33-A-SoC-Module-with-Xilinx-Zynq-XC7Z015-2CLG485I-1-GByte-DDR3L-4-x-5-cm](https://shop.trenz-electronic.de/en/TE0715-04-52I33-A-SoC-Module-with-Xili

[2021-11-18 17:12] CodedBeard commented on #1727
I've mainly been trying to figure out #1724, as I was hoping it might resolve the other two issues in the process, but would be happy to get involved in a larger redesign incorporating all of these issues. I have at least one of each new Pi including the zero 2 w, and array of different cameras to test any changes with, but I'm certainly no expert in driver interop or imagery in general.

[2021-11-18 22:25] joperezr commented on #1729
Closing as the question seems to be answered now. @anwarminarso please feel free to reopen if that is not the case or if you have any follow up questions.

[2021-11-18 22:25] #1729 closed

[2021-11-19 07:39] pgrawehr commented on #1730
I think you're being misstaken here. `protected internal` means `protected` **or** `internal`. It is possible to derive from the class and override the members (as protected) from outside. We already have a few such extended drivers in `src\devices\Gpio\Drivers`. What you cannot do from outside is directly call one of the `protected internal` members from another class, but you won't normally need

[2021-11-19 18:19] joperezr commented on #1730
correct, the only reason why we made them `protected internal` as opposed to just `internal` was so that they could be extended outside of System.Device.Gpio. The way it works, is that when you try to derive from that an override methods, your members will only become protected, and when you pass your driver as a parameter to GpioController it will still be able to call the overwritten methods sin

[2021-11-22 07:47] jholzer commented on #1730
Well, as mentioned the original issue was, that the content of the "label" was different on our board, than expected from the SysFsDriver.
Since it´s a constant there the original idea was, to make an own implementation of SysFsDriver  (let´s name it "ZynqSysFsDriver" for now), based on UnixDriver. But that´s not possible due to the "internals" used by the SysFsDriver (e.g. "UnixDriverDevicePin" i

[2021-11-23 18:15] jesseryoung commented on #1724
Tested on my pi 3 and pi 4 (running the 64bit Raspbian) I'm seeing the unicam driver for both. I can't find any documentation of it - but it looks like the unicam driver dropped support for the MPJEG pixel format. The only other place that I can find that mentions this is a few complaints about other mjpeg applications breaking after upgrading to Bullseye: https://forums.raspberrypi.com/viewtopic.

[2021-11-23 18:37] CodedBeard commented on #1724
That discussion appears to be around the old apps `raspivid/raspistill` not working, [which is expected](https://www.raspberrypi.com/documentation/accessories/camera.html#libcamera-and-the-legacy-raspicam-camera-stack) as they have been replaced with new apps `libcamera-still/libcamera-vid` designed for the new driver.

The new apps do have an [encoder for mjpeg](https://github.com/raspberrypi/lib

[2021-11-24 16:52] Nickellukas2001 commented on #1411
Hey,
so i have the same Problem and i read the comments above and found out that it seems like i cant run the system.device.gpio
on a raspberry pi with raspbian and mono. Am i right with this?
If i´m right can anyone tell me how to use the gpios with raspbian and mono? I really would like to run an win forms app on the pi.
Would be really great to get help here.
Greetings Lukas

[2021-11-25 07:29] Ellerbach commented on #1411
Hi, can you be more precise? Which hardware are you running on?
If it's a Raspberry PI 2+ running Raspbian, you don't need mono or anything else. .NET 5.0/.NET 6.0 works perfectly, you'll get the drivers recognize, all good.
This thread is about non standard hardware running on Windows with some GPIO capacities.

[2021-11-25 07:35] Nickellukas2001 commented on #1411
Hi, so im using the raspberry pi 4b. Are you talking about running the raspberry PI with Windows 10? Because i read that Win10 on the pi is not really performing very good and needs some time to do tasks...

[2021-11-25 07:39] Ellerbach commented on #1411
Raspbian on the RPI4 is the way to go to get proper support for all those GPIO libraries. And note there is no official support for Windows 10 on the RPI4.

[2021-11-25 07:46] Nickellukas2001 commented on #1411
Yeah I thought so too, but how do I get access to the gpios or how do I use them in c# ? That's my problem rn

[2021-11-25 08:27] Ellerbach commented on #1411
This repository is al about that :-) Check the blinky example: https://github.com/dotnet/iot/tree/main/samples/led-blink

[2021-11-25 08:33] Nickellukas2001 commented on #1411
Thanks, I already followed the blinky example. I'm using mono on my PI because I want to run a windows forms application. Can I run the win forms app without mono and still have the User Interface of my app?

[2021-11-25 10:35] Ellerbach commented on #1411
non, you cannot run a Windows form using .NET 5.0 or .NET 6.0 on Linux. So correct, you have to go for mono in this case.

[2021-11-25 10:45] Nickellukas2001 commented on #1411
Okay,but the repository is incompatible with Mono am I right? If it is, do you have an idea how to get access to the gpios with c# in mono on the raspberry PI?
Thanks

[2021-11-25 10:47] Ellerbach commented on #1411
it's compatible. There is a .NET standard implementation. Both for the System.Device.Gpio and the Iot.Device bindings. Use the latest preview releases.

[2021-11-25 11:00] Nickellukas2001 commented on #1411
Hmmm okay, I tried the blinky tutorial and run it on my PI but nothing happened and my program just closed... So you say I just have to use the latest preview release of system.device.gpio and run it with mono on my PI and it should work? Because I couldn't manage to get voltage out of an gpio... I am really sorry for my questions but I'm a beginner...

[2021-11-25 11:04] Ellerbach commented on #1411
It works great. Check out this old example I did: https://github.com/Ellerbach/Nabaztag.Net/tree/master/Nabaztag.Server

See the project, it's a .NET 4.8, the System.Device.Gpio library is there, and Gpio are used, some bindings as well. At that moment, they were not .NET Standard 2.0 compatible but it's now the case.

You can build your project on your pc, deploy by copying the build to the pi an

[2021-11-25 11:31] Nickellukas2001 commented on #1411
Alright, thank you very much. I'll try this out later.

[2021-11-25 16:21] joperezr commented on #1411
Also, make sure when running you execute the program as sudo. GPIO is very restrictive for non root users given it is so close to hardware, so most of the gpio interaction usually requires sudo

[2021-11-25 17:55] Nickellukas2001 commented on #1411
Okay i zried it now but i didnt achieve anything... When I run my application with mono it immediately closes it again. If I change the code to initializing the controller and letting the led blink, it crashes when I push the button. Has anybody an idea of what could be the problem? I'm really lost here rn...

[2021-11-25 18:03] Nickellukas2001 commented on #1411
I just tried starting my program with "mono program.exe" and it threw the exception "System.IO.FileNotFoundException: Could not load file or assembly 'System.Device.Gpio'...
Do you know how to get rid of that @Ellerbach ?

[2021-11-25 20:19] pgrawehr commented on #1411
Is the file there? Did you correctly copy all relevant files to the directory containing program.exe?

[2021-11-25 20:24] Nickellukas2001 commented on #1411
@pgrawehr sorry I don't understand what exactly you mean... I just took the .exe out of my obj folder and put it on the pi... In Visual Studio the folder should contain the files.

[2021-11-26 06:55] Ellerbach commented on #1411
Make sure you copy everything. Don't miss any file. If the dependencies are not present with the exe, it won't work. I really had absolutely no issue with mono. Used it on a Raspberry Pi Zero (armv6). Standard .NET 4.8 project, added the System.Device.Gpio, build normally, took all the files and copy them into the PI. I'm using WinSCP for the transfert.

[2021-11-26 08:07] Nickellukas2001 commented on #1411
Alright, I'll have a look on my files again. Just to be sure: what exactly is meant with building it and taking all the files to the pi? Is there a certain folder I have to move to the pi or where do I know which files I need to transfer?

[2021-11-26 08:55] pgrawehr commented on #1411
You have to copy all the files that are in the "bin" folder (or "bin\debug"). You normally don't ever need to look at the "obj" folder. This one contains intermediate files only and are used by the compiler. You can also use the "publish" option to create a folder that contains all the required dependencies.

[2021-11-26 09:57] Nickellukas2001 commented on #1411
Hey, so i copied the whole bin\debug folder to my pi and tried running my application. I just got this Error:
![PI Error](https://user-images.githubusercontent.com/68873925/143562388-46de548b-18a0-41f3-ac45-6678a20f7712.PNG)

[2021-11-26 14:36] pgrawehr commented on #1411
For mono to work correctly, you have to install libgpiod. Run the following command: `sudo apt install -y libgpiod-dev`.

[2021-11-26 15:16] Nickellukas2001 commented on #1411
Hey, big thank you to all of you, now I can control my gpios with buttons in a win forms app! Thank you very much for the help!

[2021-11-26 16:01] Ellerbach commented on #1411
Great! Happy you made it :-) I guess we can keep this thread somewhere hot for anyone who wants to run it on mono!
Let us know about the final result!

[2021-11-27 15:47] HyVong007 opened #1737 "Oled display, I2C, SH1106, 128x64, 1.3 inch, V2.0, blue for Orange Pi Lite"
I want to use oled display with orange pi lite by using Dotnet IOT, as the title said. Details here:
1- Oled display: https://shopee.vn/M%C3%A0n-H%C3%ACnh-Oled-1.3-Inch-Giao-Ti%E1%BA%BFp-I2C-(blue)-i.60387211.1341644922. It uses I2C interface and driver SH1106.

2- Orange Pi Lite: http://www.orangepi.org/orangepilite/

3- Armbian 21.08.6 Focal with Linux 5.10.60-sunxi: https://www.armbian.com/oran

[2021-11-27 17:07] Nickellukas2001 commented on #1411
Hey, so everything worked good so far and i managed to conttrol the gpios in a test program. But now i tried to include this into my project and changed my code and now i get the error:
"1> C: \ Program Files \ Microsoft Visual Studio \ 2022 \ Community \ MSBuild \ Current \ Bin \ amd64 \ Microsoft.Common.CurrentVersion.targets (4322,5): error MSB4096: The element "C: \ Users \ lukas \ source \ re

[2021-11-27 17:49] raffaeler commented on #1411
Any WindowsRuntime dll (or any other dll depending on it) can't work on linux with or without mono.
You should limit your dependencies to just what mono is able to consume and carefully avoiding any Windows related dependency.
Windows Forms are an exception because mono ported the library, but the Windows Runtime is a sandboxing environment with specific Windows APIs that does not exist outside Wi

[2021-11-27 17:53] Nickellukas2001 commented on #1411
But im trying to build on windows 10 in visual studio and not in Linux, so there is no mono. And I didnt find a working solution for this error...

[2021-11-27 17:54] raffaeler commented on #1737
Sorry, I don't understand what is your request.
Could you please tell us exactly what do you need or does not work in your case?

[2021-11-27 18:00] raffaeler commented on #1411
I am quite confused. You opened this thread about mono and GPIO. If you are asking an unrelated question, please open another thread, but not here given this repository is just about the dotnet/iot libraries.

If your question is about building a .NET project, try posting in this repo: https://github.com/dotnet/msbuild but be more specific, and give more details on the refrences you are adding.

[2021-11-27 18:03] Nickellukas2001 commented on #1411
Okay I'm sorry for that... Didn't think very much about it.

[2021-11-27 18:56] raffaeler commented on #1411
No problem, you will certainly find more useful info there.
BTW, if your original question is fully answered, please close the comment.
Thank you

[2021-11-27 19:09] HyVong007 commented on #1737
I cannot use Oled SH1106 ! Cannot use at all ! IoT.Devices namespace doesnot have SH1106 or anything about "Oled 128x64". There are only Lcd1602 and Lcd2004, Ssd13xx

[2021-11-27 19:22] raffaeler commented on #1737
If I understand well, you are able to use the dotnet/iot libraries but you didn't find any class that support the Oled SH1106.

This is quite normal. There are thousands of different devices available on the market and of course there is no library in any language that can support everything.

One of the goals of this repository is to providing a solid building block to the community so that anybo

[2021-11-28 04:20] HyVong007 commented on #1737
This is a FEATURE REQUEST, label api-suggestion.

Because i don't see device "Oled SH1106" so i create new feature request. Now I doesnot have enough knowledges and skills, so i am waiting for community.

You can close this issues now or just remain it here and let everyone see. That's the way OPEN SOURCE PROJECT goes. Thank you so much !

[2021-11-28 09:34] raffaeler commented on #1737
Sure, in fact I wrote:

The problem with "waiting for someone else" is that he/she must also buy the device. This could take a while.

I am not here to close the issues but just a community member willing to help, that's it
You are welcome.

[2021-11-28 10:57] HyVong007 commented on #1737
According to you, i shouldnot notifiy everyone when i found some devices not supported/not available yet by Dotnet IOT ?  I think some one if buy this device will see this issue and comment here. Or I should keep quiet and hope forever for someone will add this device to Donet IOT ?

I think the better way is: Microsoft (Donet IoT) should create a topic about DEVICE REQUEST for IOT. > I will sugge

[2021-11-28 11:14] raffaeler commented on #1737
As I wrote before there are thousands devices and more to come every year.
I believe it is unlikely that anyone buy and implement the code to contribute. It is more likely that someone who cares about that device implements the binding and publicly contributes to the project so that others can benefit from it.

Even in the Arduino community there are many unsupported devices (with no library at al

[2021-11-28 13:44] HyVong007 commented on #1737
I think the Oled display with resolution 128x64 and driver SH1106 or driver SSD13xx  are VERY POPULAR because i visit many online shopping and i always see them, both SH1106 and SSD13xx.

I don't command anyone but only send a request to the community. Sorry if i make someone misunderstood because of my bad english.

[2021-11-28 13:48] raffaeler commented on #1737
No problem at all @HyVong007.
If this display is becoming more and more popular, it will probably raise the possibility that someone will contribute with an implementation.
Let's see if someone with the device in his/her hands is willing to do it.

[2021-11-28 14:08] HyVong007 commented on #1737
Ok not to waste your time or anyone's time here, I very love C# and i want to use C# .Net core to develope IOT, but currently Dotnet IOT has no support for "Oled SH1106 display".

Now in case no one can know, I think i must do the job by my self. I will research goooo...ooogle to create bindings for Oled SH1106 from low-level code with enough luckiness.

Sorry so much for wasting anyone's time her

[2021-11-28 14:14] raffaeler commented on #1737
If you want to try writing a binding, you can start from an existent one. For example:
https://github.com/dotnet/iot/tree/main/src/devices/Ssd13xx
But maybe a different device is a better starting point. You should investigate with the SH1106 datasheet and compare the features.

Good luck :)

[2021-11-28 14:22] HyVong007 commented on #1737
Thank you again, enthusiast member !
Nothing easy and free with no price or risk !

[2021-11-30 17:47] raffaeler commented on #1411
OMG, I didn't realize that, sorry :(

[2021-12-03 17:23] raffaeler opened #1741 "Contribution document proposal"
This is not a real draft of the document, but just a few phrases that may be helpful to write down the document discussed during the last triage about the contribution guidelines in this repository.
/cc @joperezr

This repository [dotnet/iot](https://github.com/dotnet/iot) includes two category of projects that are quite different:
- `System.Device.Gpio` is the main library which includes the "bui

[2021-12-05 12:12] #1445 closed

[2021-12-10 19:04] raffaeler opened #1746 "Pull-down not working for GPIOs for Pins over 26 on RPi4"
**Describe the bug**
Setting the pull-down on the RPi4 on GPIOs higher than 26 does not work on the RPi4.
I noticed the issue while working with the Button device which randomly triggers a low condition even if it is configured with a pull-down (the other end of the button is tied to `+Vcc`).

**Steps to reproduce**
- Configure the pin as input with pull-down
- Physically connect a long wire on th

[2021-12-11 16:26] pgrawehr commented on #1746
Yes, those changes have been ported over long ago, and I'm sure that pull-ups and pull-downs work on the Pi4. There's even an integration test at `RaspberryPiDriverTests.InputPullResistorsWork` that tests this (our lab has only Pi3's though). However, I have never tested it with large pin numbers. But why should there be a difference?

[2021-12-11 18:00] raffaeler commented on #1746
@pgrawehr I am seeing this issue on a project and seeing sudden changes of the pin button (Button device) right after booting the application.
The Button setup is straightforward: one pin to the RPi and the other one straight to Vcc.

I then made a search to see if there were known problems on the RPi with the pull-down and found those links. That's all I know for the moment. After xmas I will hav

[2021-12-20 16:39] pgrawehr opened #1751 "Syntax error in package targets file"
The file `System.Device.Gpio.targets` in the nupkg's `buildtransitive` folder has a syntax error (missing apostrophe). This fails all builds depending on the package.

[code]

[2021-12-20 20:24] joperezr commented on #1751
Great catch! want to submit a PR? if not I'm happy to take care of it.

[2021-12-21 07:05] pgrawehr commented on #1751
I have the fix already prepared. I'll push it later today.

[2021-12-22 08:49] #1751 closed

[2021-12-22 11:06] philrawlings commented on #1519
I haven't had much of a chance to look at this in detail, but I have had a few more thoughts.
In summary, the code in the [pull request](https://github.com/dotnet/iot/pull/1525) was trying to send an address with no data and this didnt work because if the write and read buffer lengths are zero, then nothing is sent on the bus and the function returns -1.

Having a quick read of the Linux I2C docum

[2021-12-22 20:50] pgrawehr commented on #1519
Regarding your last point: We're kind of having a hard time continuing to support Windows IOT. It officially only works on the Pi3 and has never been updated to the Pi4. Event the upcoming Windows 11 for ARM is (as it currently looks) not supported on the Raspberry Pi (any version). The information you find about it is very poor. Advertisements and "developer resources" everywhere, but no operatin

[2021-12-23 17:03] Caffiendish commented on #998
Can confirm, Pi Zero 2 works with .NET, I'm using the System.Device.GPIO library, as a .NET 5.0 project IIRC.
The GPIO library took some finagling though, I think I ended up using a nightly for the Pi Zero 2.

[2021-12-23 17:27] alvipeo commented on #998
I just got my Pi Zero 2 and I will try to make something with .NET 6.0 this weekend.. maybe a bit later ;) But it's very interesting to test it.

[2021-12-24 16:22] Ellerbach commented on #998
I can confirm Pi Zero 2 W works like a charm with .NET 5.0/6.0 and our .NET IoT lib :-)

[2021-12-24 17:32] alvipeo commented on #998
Ha! Merry Christmas then! :)

[2022-01-02 10:54] Geims83 commented on #1445
Hi all,
If I clone the repo and run a test, the code doesn't work.
It always return -273° C, 0% humidity and Success false.

I am running che code on a Pi2. Could this be a problem?
Thanks.

[2022-01-03 07:22] pgrawehr commented on #1445
No, if the Pi2 was the problem, nothing would work and you weren't even able to start the application usually.

That rather points to a problem with your wiring. Please double check the connections of your sensor.

[2022-01-03 08:37] Geims83 commented on #1445
Thanks @pgrawehr,
I had this doubt too, but as using Python with the Adafruit library the reading is ok I think the wiring is good.

[2022-01-03 16:37] pgrawehr commented on #1445
Then I don't know what's wrong. Can you confirm that you are using a Raspberry Pi Zero 2 and not a Rasberry Pi 2B? Because the two are completely different and the later is not supported. Did you try long enough? It sometimes takes 5 to 10 attempts for a successful read.

[2022-01-03 23:11] alvipeo commented on #1618
I'm having the same problem with BME280 on Raspberry Pi 3B+. The app crashes with the following:
[code]

It used to work with prev versions of packages. I tried nightly but the `Iot.Device.Bindings` can't be added to the project because:

error: Package 'Iot.Device.Bindings' is incompatible with 'all' frameworks in project 'RaspPiApp.csproj'.

I really need this to work with the latest version (or

[2022-01-03 23:20] alvipeo commented on #1618
Tried `netcoreapp3.1` version - same thing. Something is definitely wrong with it.

[2022-01-04 08:24] Geims83 commented on #1445
Bingo! I'm using a Pi 2B. So it isn't supported right? :(
In think I missed that... In the docs it is stated that the libraries are not supported on ARMv6, so on devices prior to the Pi 2, and the projects are building correctly on net 6.0.... :(

[2022-01-04 12:22] pgrawehr commented on #1445
I guess nobody ever tested this on a Pi 2B. As far as I know, the Pi2B _is_ ARMv6? Or can you test whether other samples work or some simple LED test?

[2022-01-04 12:25] pgrawehr commented on #1618
If it crashes in the constructor of Bme280, the typical cause is a bad connection or a wrong address. What is the output of `i2cdetect -y 1`?

[2022-01-04 14:37] Geims83 commented on #1445
The Pi 2 B 1.1 is ARMv7.
I'll test some leds and I'll let you know.

[2022-01-04 17:15] FloriEnder opened #1756 "Reading Values from DHT22 with RaspPI Zero 2 W -> 0"
Hi,
i tried to read Values from my DHT22 Sensor. But i only get the value "0" for Temperature and Humidity.
On my PI 4B works everything. I have four DHT22 Sensors and everyone Works when i read the values with Python3 on the same GPIO Pin. Other GPIO Pins dosn't work neither.

//C# Code
[code]
//C# Code End

//Pyhton Code
[code]
//Pyhton Code End

Output on my Pi 4B:
pi@raspberrypi:~/Downloads/CS

[2022-01-04 22:53] alvipeo commented on #1618
Re-connected BME280. `i2cdetect -y 1` shows:

     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
20: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
30: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
40: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
50: -- -- -- -- -- -- -- -- -- -- -- -- --

[2022-01-05 06:46] Ellerbach commented on #1756
Please use the pattern here to read: <https://github.com/dotnet/iot/tree/main/src/devices/Dhtxx#1-wire-protocol>
Just replace from the sample Dth11 by Dht22. And it will work properly.
Important: you **must** wait enough time (recommendation is close to a second) to read the sensor. Reading more often won't give you better values also won't make proper reads.

[2022-01-05 06:49] Ellerbach commented on #1445
The Pi2B is a bit slower than the others but it still should work. @Geims83 what core are you using? Are you following the pattern here: https://github.com/dotnet/iot/tree/main/src/devices/Dhtxx#1-wire-protocol

[2022-01-05 10:25] pgrawehr commented on #1618
I can't see what could be null there, but I will need to give it a test. If possible, you could try the prerelease feed from https://pkgs.dev.azure.com/dotnet/IoT/_packaging/nightly_iot_builds/nuget/v3/index.json

[2022-01-05 13:57] alvipeo commented on #1618
Not possible:

error: Package 'Iot.Device.Bindings' is incompatible with 'all' frameworks in project

[2022-01-05 15:18] FloriEnder commented on #1756
I tried the solution but it can't read the sensor.

pi@raspberrypi:~/CSharp $ ./TempHumidinCSharp
Error reading DHT sensor
05/01/2022 15:14:37
Error reading DHT sensor
05/01/2022 15:14:42
Error reading DHT sensor
05/01/2022 15:14:47
Error reading DHT sensor
05/01/2022 15:14:52
Error reading DHT sensor
05/01/2022 15:14:56
Error reading DHT sensor
05/01/2022 15:15:01
Error reading DHT sensor
05/01/2

[2022-01-05 16:02] pgrawehr commented on #1618
That's a weird error message, because obviously System.Drawing.Common is not in that source and it should use the default for that package. Which target framework are you using?

[2022-01-05 17:13] alvipeo commented on #1618
ok, how should I set the target in VS2022? I do make an executable with the following script:
[code]
but this has nothing to do with the target. How can I do this?

[2022-01-05 19:33] alvipeo commented on #1618
my csproj:
[code]

[2022-01-05 20:36] pgrawehr commented on #1618
That csproj looks good. In VS2022 you can edit the nuget sources by clicking the cogweel in the top right hand corner of the nuget package manager window. Make sure it lists nuget.org as well as the above source in the package source list.

[2022-01-05 21:07] alvipeo commented on #1618
I do have all the nuget sources. As you can see it finds the package but for some reason it errors out with this:

And I don't know how to fix this.

[2022-01-06 15:34] alvipeo commented on #1618
Just in case, I added this nightly feed to Nuget sources - didn't help a bit.

[2022-01-06 17:24] pgrawehr commented on #1618
I'm afraid then you have to wait for our dependency expert @joperezr, but he's still enjoying vacations.

[2022-01-06 17:42] joperezr commented on #1618
@alvipeo sorry for missing this. Seems like in your case you have some misconfigured package sources causing it to not use nuget.org as a source as well. To solve this, create a nuget.config (either by manually creating the file, or by running `dotnet new nugetconfig`) on the same folder that you have your .csproj file, and set the contents as:

[code]

After saving that file, then running `dotnet

[2022-01-07 15:06] alvipeo commented on #1618
@joperezr added file but it didn't help. still getting:

  Writing ...\AppData\Local\Temp\tmpEF48.tmp
info : Adding PackageReference for package 'Iot.Device.Bindings' into project '<app_path>\RaspPiApp.csproj'.
info :   CACHE https://pkgs.dev.azure.com/dotnet/9a6dded6-c408-4b7c-8faa-7c38e0b4051f/_packaging/7ab79c7f-daa9-4e9c-88c8-61478097d0ff/nuget/v3/registrations2-semver2/iot.device.bindings/ind

[2022-01-07 16:40] pelikhan opened #1758 "Random error while waiting for pin interrupts"
**Describe the bug**

**Steps to reproduce**

* Open Jacdac.sln in https://github.com/microsoft/jacdac-dotnet
* Deploy Jacdac.NET.Playground to a raspberry pi equipped with https://microsoft.github.io/jacdac-docs/devices/microsoft/research/jmspibridgev37v37
* launch `dotnet System.NET.Playground.dll spi devtools`

**Expected behavior**

Don't crash or provide a way to handle issue.

**Actual behav

[2022-01-07 23:20] alvipeo commented on #1618
I tried on another machine - same problem.

[2022-01-09 07:10] pgrawehr commented on #1758
Try installing `libgpiod-dev`. That should work around the problem.

[2022-01-17 06:28] A-J-Bauer commented on #1737
A while back I wrote a simple class for this [here](https://github.com/A-J-Bauer/OledI2c128x64SH1106).
(I2C, System.Drawing.Common and .Net Core)
Once I get my hands on a spare SSH1106 I will might rewrite this for .NET 6.0 and SkiaSharp.

[2022-01-18 16:25] A-J-Bauer commented on #1403
I understand the reason for moving away from System.Drawing.
[System.Drawing.Common only supported on Windows](https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only)

Is there a particular reason for picking ImageSharp over e.g. SkiaSharp?

[2022-01-18 16:44] krwq commented on #1403
@A-J-Bauer I guess at this point we've already started using it here in some bindings, I can't remember exactly now but I think it might have been also the only alternative in the [article](https://docs.microsoft.com/en-us/dotnet/api/system.drawing?view=dotnet-plat-ext-5.0#remarks) at the time this issue got created (now I can see it mentions other alternatives, either overlook or it wasn't there

[2022-01-18 19:14] raffaeler commented on #1403
I am not very familiar with SkiaSharp, but the two APIs are quite different and porting code could take a while.

Another reason to stay with System.Drawing is the amount of examples/code available in the wild.

I agree with @krwq that any library would be faster than I2C/SPI devices. But since this is an abstraction, it could make sense to use a library that can **also** be adopted when drawing o

[2022-01-18 21:33] artzie92 opened #1765 "MfRc522 - method ListenToCardIso14443TypeA always returns false"
Hi I have problem on my RaspberryPI with MfRC522 in Iot.Device.Bindings library. The method ListenToCardIso14443TypeA always returns false. I have a similar application in Node.js and it works perfectly fine.

Application code

[code]

dotnet version: 5 and 6 (both doesn't work)
packages:
"Iot.Device.Bindings" Version="1.5.0"
"System.Device.Gpio" Version="1.5.0"

***Current results:***
![image](ht

[2022-01-19 07:43] raffaeler commented on #1765
Hi @artzie92 the way the device is initialized may cause some problems.
I also had problems and solved using this code.
Please try this code (ignore the logger)

[code]

[2022-01-19 07:56] artzie92 commented on #1765
Hi @raffaeler. The only change which I see is spiSettings = new(0,0) instead of   SpiConnectionSettings connection = new(0, 1). After changing from 1 to 0 it has started working.
Thank you for your answer!

[2022-01-19 07:58] raffaeler commented on #1765
Sure, it was easier for me to paste working code :-)

You are welcome. If you believe this is ok, please close the issue.

[2022-01-19 07:59] #1765 closed

[2022-01-19 10:01] A-J-Bauer commented on #1403
@krwq The bottleneck analogy suggests that drawing functions are done in parallel and the program flow is constantly waiting for the bus to deliver bytes to the display's chip. In practice the drawing functions add significantly to the time needed to show a frame on the display since it is usually done sequentially (game loop). Even if using back buffers, doing things like 'Graphics DrawImage' fro

[2022-01-19 10:41] A-J-Bauer commented on #1403
@raffaeler no offense, not saying you can't, just thinking people that are using (usually bigger) displays (> 1080x720 pixels) probably want to have widgets, textboxes, input a.s.o. and doing all this from scratch is just not justified, but for custom visualization or a game there is [spezial builds of SKIA](https://skia.org/docs/user/special/) for OpenGL,  not entirely sure but for iot devices th

[2022-01-19 11:33] raffaeler commented on #1403
@A-J-Bauer It is very much use-case dependent. You do not always need a controls library.
For example, if you are using the display to just show some data being acquired (graphs are the typical example), you may want to avoid the browser and html at all (which requires the whole desktop environment and running the browser in kiosk mode, sacrificing a lot of memory). Instead it would be far easier

[2022-01-19 11:57] A-J-Bauer commented on #1403
@raffaeler
_"It is very much use-case dependent"_
Totally agree,
_"For example I am using 3.5" and 7" displays that are both attached to the RPi via HDMI"_
Do you know which library you are using for this or what type of display (brand) you are using?
SKIA might have the potential for future utilization of the GPU if the host supports this,

I have the feeling that SkiaSharp would be the better ch

[2022-01-19 12:53] A-J-Bauer commented on #1403
@raffaeler
ok you convinced me, so I found some promising links to dig thru regarding directly drawing over HDMI (which I now know on Linux is into a frame buffer device), the last two look especially interesting.

https://medium.com/@avik.das/writing-gui-applications-on-the-raspberry-pi-without-a-desktop-environment-8f8f840d9867
https://github.com/mono/SkiaSharp/issues/492
https://stackoverflow.c

[2022-01-19 13:15] krwq commented on #1403
I don't want to get into a very lengthy thread on this issue, can you guys create a new thread and try to compile some table where we can easily compare benefits of any proposed library? I'd suggest at minimum include:
- license
- support level / responsiveness on github (i.e. in case of blocking issue or security issue how long will we wait for the update; how long if we contribute fix ourselves)

[2022-01-19 13:16] krwq commented on #1403
or you can hijack #displays channel on discord

[2022-01-19 14:40] Ellerbach commented on #1403
@A-J-Bauer we can use this Discord channel to discuss and then do a summary here (link here: https://discord.gg/GyEfttux)

[2022-01-19 19:09] raffaeler commented on #1403
@A-J-Bauer  ok, just to wrap-up the discussion for future readers:
- I don't remember the library name, sorry. I don't have the repo available at this time
- If Skiasharp fits the requirement, my thumb is up

I will open a different thread for the requirements so that it gets indexed. For any other discussion, let's do it on discord (my handle is raf).

[2022-01-19 19:24] raffaeler opened #1767 "Library requirements to replace System.Drawing"
This discussion was opened [here](https://github.com/dotnet/iot/issues/1403#issuecomment-1016397355). I now opened this thread to collect the pros/cons for any proposal coming from the community members.

As stated by @krwq, the main things to consider for the libraries being proposed here are the following:
- license
- support level / responsiveness on github (i.e. in case of blocking issue or se

[2022-01-26 16:31] raffaeler commented on #1767
I found this (quite old but still good) comparison among the most popular 2D graphics libraries:
https://devblogs.microsoft.com/dotnet/net-core-image-processing/

[2022-01-27 05:58] pgrawehr commented on #1758
@pelikhan We've been having a few problems using SysFs in the past. I don't remember exactly what we did there about that. I think catching the exception and retrying was normally working. However, since SysFs is deprecated and slow, we switched to using libgpiod as default low-level library when it's available.

So just run `sudo apt install -y libgpiod-dev` and the library should pick it up auto

[2022-01-27 06:00] pelikhan commented on #1758
Ha this is very helpful!
________________________________
From: Patrick Grawehr ***@***.***>
Sent: Wednesday, January 26, 2022 9:58:26 PM
To: dotnet/iot ***@***.***>
Cc: Peli de Halleux ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/iot] Random error while waiting for pin interrupts (Issue #1758)

@pelikhan<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fpel

[2022-01-27 17:59] pelikhan commented on #1758
This comment was very helpful. I think that it should be added a new section in https://docs.microsoft.com/en-us/dotnet/iot/deployment as it may be useful for anyone running .net iot core on the Pi. This is where I would logically would have found it.
This ticket can be closed from my pov, thanks for the help.

[2022-01-27 18:08] pelikhan opened #1783 "Raspberry Pi instructions about registering dotnet tool"
In https://docs.microsoft.com/en-us/dotnet/iot/deployment#deploying-a-framework-dependent-app, the instructions provide some command line register the dotnet tool

![image](https://user-images.githubusercontent.com/4175913/151418051-c2a2571e-7275-42f7-8fbf-bd3239491930.png)

These instructions work in the bash terminal (over SSH). However, the "dotnet" tool is forgotten once we start a new termina

[2022-01-27 20:58] pgrawehr commented on #1783
Yes, of course. I generally even install dotnet globaly to `/usr/share/dotnet` instead of $HOME, but since one generally uses only one user on the Pi, that doesn't matter much.

You can register a global link to the `dotnet` command using
[code]

[2022-01-27 21:01] pgrawehr commented on #1758
Yes, these documents are slightly out of date. We should update them.

[2022-01-27 21:19] pelikhan commented on #1783
no dice

![image](https://user-images.githubusercontent.com/4175913/151445324-717629a2-0db9-4ee7-a849-2f78af8722c2.png)

[2022-01-27 21:23] pelikhan commented on #1758
I have another thread on install woes https://github.com/dotnet/iot/issues/1783

[2022-01-28 08:35] pgrawehr commented on #1783
Then you should check where this points to. What does `ls -l /usr/bin/dotnet` say? And if you do have that file, you normally don't need to do anything, as it is already there. Unless it points to a non-existing or incomplete installation.

[2022-01-28 09:35] krwq commented on #1783
@pelikhan, `echo $PATH` on new terminal and search for path which resembles `/usr/bin`, then make sure you got symbolic link of dotnet in there

[2022-01-28 18:46] joperezr commented on #1783
Another option rather than linking that I like to use in Debian-based systems (which raspbian is) is to simply write a `dotnet.sh` script file with the contents
[code]

And saving that bash script inside `/etc/profile.d/` folder. All of the bash scripts in there will always get executed when any user logs in and opens a shell, so effectively dotnet will be part of your path everytime you connect o

[2022-01-29 09:04] Ellerbach commented on #1783
@pelikhan is there any reason why you really need to have the framework installed on the RPI?
I never ever do it. Instead, I build on my PC and deploy the needed resources on the RPI.
`dotnet publish -r linux-arm`
and then copy the publish folder (using scp or anything else)
`chmod +x ./nameofyourapp`
Nothing else needed.

[2022-01-29 09:35] raffaeler commented on #1783
When I install the runtime or the sdk, I follow these steps that always worked for me:
1. download the appropriate `.tar.gz` and extract the content
[code]
2. Create a symbolic link
[code]

3. Setup the env vars
Interactive users needs the following exports to be added to the .bashrc. The same vars are needed in the `.service` file when you want to run an ASP.NET or console application as a servic

[2022-01-29 09:46] raffaeler commented on #1783
@Ellerbach the reasons to install the runtime are:
- avoid re-deploying the entire framework files in every folder of the app
- update the minor releases of .NET when any security updated is published in one shot. This ensure the compatibility with every app published on the RPi and fixes the vulnerabilities for all the apps running there.

[2022-01-29 11:55] pgrawehr commented on #1783
I agree to @raffaeler here, it's much easier to have the runtime installed once only.

However, there's no need to install every runtime version in a separate folder. The following works just fine as well:
[code]
All versions are unpacked to the same folder, but sinde the tar contains only subfolders (except for the `dotnet` executable itself) this works fine. The tool will automatically chooses t

[2022-01-29 12:07] raffaeler commented on #1783
@pgrawehr I never do that because I deploy services with `systemd`. For security reasons you really want to:
- create a new user
- configure the minimum set of permissions (like accessing the GPIO, etc.)
- run the service as the new user

Also, Linux can run a service with password-less and profile-less system users (as also Windows can do).
In this scenario you need to deploy .NET system-wide, he