[2019-08-12 20:14] buyaa-n commented on #668
oh i see @joperezr

@mkramar did you tried with setting pinMode explicitly, by default it should be Input but not sure if we ever tested in Ubuntu, just in case try: `gpio.OpenPin(17, PinMode.Input);`

Question: what device you are using?

[2019-08-12 20:34] krwq commented on #668
Are you sure libgpiod is avaialble by default on `Ubuntu 18.04.2`?

@mkramar could you share per @buyaa-n's question what board it is?

Also please share following:

- `dotnet --info`
- version of `System.Device.Gpio` you are using (it should be visible in csproj file)
- `cat /proc/cpuinfo`
- check if `gpioinfo`/`gpiodetect` command returns any results (might require sudo)

[2019-08-12 21:40] mkramar commented on #668
Thanks everyone for the comments!

The board is https://up-board.org/upcoreplus/specifications/

I'm away from my machine so I cannot answer other questions right now.
Yes, `libgpiod` is installed.
Yes, I can run `gpiodetect`, `gpioget` etc. without `sudo` and it works fine.

Idea of setting pin mode sounds good to me. Will try later.

[2019-08-13 13:16] ZhangGaoxing opened #671 "Should we add a mapping to Marshal.GetLastWin32Error()"
Our current exception handling is very obscure and difficult to understand, just like #668 . Why don't we map `errors.h` accordingly?

[2019-08-13 13:18] ZhangGaoxing commented on #671
These errors are clearly explained in the Linux source code
[code]

[2019-08-13 16:26] krwq commented on #671
@ZhangGaoxing might be worth checking corefx code first to see if they already have this defined somewhere

[2019-08-13 17:06] joperezr commented on #671
This makes sense and I agree it would be useful.

[2019-08-14 21:50] krwq commented on #601
I don't believe we will address this issue in 3.0 timeline and therefore we will leave this as is.

[2019-08-14 21:50] #601 closed

[2019-08-15 16:17] LeivoSepp opened #674 "Add DebounceTimeout equivalent to filter out false events"
What I have:
4 inputs with the buttons and 2 inputs with a relay to switch them on and off.

Two big issues with the event handler are following:
1. Current driver doesnt have an option to set Debounce Timeout for a pin. This functionality was exist in Windows IoT core world where I just set the option pin.DebounceTimeout = TimeSpan.FromMilliseconds(50);
How to solve the situation where I am getti

[2019-08-15 17:32] krwq commented on #674
@LeivoSepp the easiest solution for this would be hardware: simply add tiny capacitor between ground and your pin - that should remove all high frequency signals (or oscillation during short period of time when you press the button). The larger the capacitor the longer you will have to press the button for.

From software solution I don't have exactly what you're asking for but I have something I

[2019-08-16 22:29] joperezr commented on #674
@LeivoSepp I agree having debounce timeout would be helpful. Current implementation would force developer to do their own debounce logic, so this issue is not a shipblocker for 3.0 release, but it would be nice to add for the future. @LeivoSepp are you interested in submitting a formal api proposal for this?

[2019-08-18 11:17] LeivoSepp commented on #674
Thanks for the DelayHelper and code sample.
I did a test on my table and it works. After switching to my real environment it getting again false-events.
After lot of testing I figured out that I have some power cables (ventilation motor) very close to Raspberry cables. When the ventilation motor will be turned on then power cable interference my Raspberry and the pin's will get fire an event. Turn

[2019-08-19 17:56] krwq commented on #674
@LeivoSepp thanks for testing! I've also noticed some random events on my box but only up to first 2 seconds after opening the port, after that there are no issues - I've read various threads on the Internet and people have reported this issue on Linux. If I have some spare time I'll try to see if there is some solution for that (or perhaps you can send PR if you got some time to read about it)

G

[2019-08-20 02:32] krwq opened #677 "Add GPS (NEO-M8 / NMEA 0183 protocol)"
I'm currently working on GPS module bindings and just wanted to make sure no one duplicates the work.
I already got basic functionality working but there is a lot of clean up left and support for some functionality is missing.

Multiple GPS/navigation devices use NMEA0183 protocol to communicate with the sensor.
NEO-M8 supports multiple sentence types:
- [X] RMC - Required minimum navigation infor

[2019-08-21 01:57] ZhangGaoxing commented on #677
Maybe we can abstract a base class in this PR. I have a NEO-6M module. After this PR merge, I can help binding it.

[2019-08-21 05:27] krwq commented on #677
@ZhangGaoxing I suspect the current class might work as is - it doesn't do almost anything except setting line endings on serial port - we might rename it (and folder) if it will work as is. Rest is basically implementation of NMEA0183.

After that is merged I was planning to add more sentences to NMEA0183 (at least all the device is sending by default) - I'm happy if you're willing to test with y

[2019-08-22 06:40] pankaj-nikam opened #681 "Can you please implement the driver for MCP3204?"
Hi team,

Thank you for contributing towards the IoT devices. I would like to have a driver for MCP3204. It would be great if it is implemented. At least a base class from which these devices can inherit and use it. For example a base class of MCP32XX can help us implement the classes for MCP3204, MCP3208 etc. somewhat like what GPIO Zero library.

In case you want the datasheet for MCP3204, it ca

[2019-08-23 16:18] Frankenslag commented on #681
@joperezr
Happy to look at this if you want to assign me.

@pankaj-nikam
Not sure which GPIO Zero library you mean. I believe that we would want to keep bindings for these ADC's looking like bindings for ADC's that we already  have.

[2019-08-23 16:23] krwq commented on #681
@Frankenslag yes please try to make it as similar to Mcp3008 as possible (possible even some of the code can be reused)

[2019-08-24 14:29] pankaj-nikam commented on #681
Hi @Frankenslag,

Sorry for not being clear, what I meant to say is the way GPIOZero is implemented, the base class is for MCP3XXX where the derived classes have the correct implementation - this can help code be clean. Thats all what I wanted to convey. In case you are wondering the docs of the same, please check: https://gpiozero.readthedocs.io/en/stable/api_spi.html#base-classes

Thanks.

[2019-08-24 16:01] Frankenslag opened #686 "Investigate use of .NET Core 3 MemoryMappedFiles"
Can I suggest that the use of the .net core memorymappedfiles instead of using interrop in the raspberry pi driver and any other that may benefit is investigated.
[Here](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorymappedfiles.memorymappedfile?view=netcore-3.0)

[2019-08-24 16:25] maxim-tkachenko opened #687 "PlatformNotSupportedException is raised when access PinValue"
I'm getting PlatformNotSupportedException when access PinValue:
`var value = PinValue.High;`

`System.PlatformNotSupportedException: Operation is not supported on this platform.
   at System.Device.Gpio.PinValue.get_High()`
Why does it happen? `PinValue` doesn't have anything platform specific. I'm running the code on Mac.

[2019-08-24 16:50] Frankenslag commented on #681
I think that it would be possible to have the ADC's derived as you describe but I think that first I will need to get the Mcp3204 and 3208 working and then discuss if we take the effort to include the others. We would have to be careful as people may be already using the 3008.

[2019-08-25 19:50] EuroEager2008 opened #688 "Device emulator for test"
I am writing some code using System.Device.Gpio and it would be nice to be able to test with some "mock emulator", preferably acting similar to the real device.
Possible?
Existing?

[2019-08-25 21:47] krwq commented on #688
We currently don't have any simulators but many devices should be easy to change to mock the devices.

Is there any specific device you'd like to mock? If GpioController you can implement this abstract class: https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/Gpio/GpioDriver.cs and then pass it to GpioController constructor

[2019-08-26 03:24] pankaj-nikam commented on #681
Hi @Frankenslag , I agree with you. We should not break the existing code. What we can do is create a super base class which handles the common things, then a 32xx and a 30xx which inherit from it; so that the 10 bit and 12 bit things can be handled differently. As the new devices get added, it will still be working. What do you think?
Thanks.

[2019-08-26 17:40] Frankenslag commented on #686
You can assign it to me If you want. It was originally suggested by @krwq I think. I am guessing it is for after 3.0 as it would be a bit risky because all our current testing has been done with interrop.

[2019-08-26 18:37] maxim-tkachenko commented on #687
hi @joperezr, thanks for the answer, didn't know about the tool for mac. Yes, I have a dev environment on mac but run on the raspberry. I've mocked GpioController for debug builds, but since another base library types (like PinValue) doesn't implement any specific interfaces, there is no way to do it. The only way currently I see is to create some adapter class which will work with all library spe

[2019-08-27 12:48] maxim-tkachenko commented on #687
unfortunately, operator overloads throw the same PlatformNotSupportedException

[2019-08-27 13:09] Frankenslag commented on #686
@joperezr @krwq

It looks like MemoryMappedFile is not going to work with /dev/mem and /dev/gpiomem until 5.0 which is a shame.

 This appears to be an issue with using FileStream internally and the checks that FileStream makes with device files causes the exception `Stream does not support seeking`

[Please see here](https://github.com/dotnet/corefx/issues/30686)

[2019-08-27 22:56] hugener opened #690 "Is there a reason Iot.Device.Bindings is not based on .netstandard2.1 instead of netcoreapp2.1?"
It seems like a pity not to have this as a .netstandard library.
It builds if I add the following packages:
<PackageReference Include="System.Collections.Immutable" Version="1.5.0" />
<PackageReference Include="System.Numerics.Vectors" Version="4.5.0" />

System.Collections.Immutable could even be avoided, if using ReadOnlyDictionary instead of ImmutableDictionary would be okay. Both implement IRe

[2019-08-28 06:08] Frankenslag commented on #686
Yes. It’s # 30686 in corefx

[2019-08-28 12:35] maxim-tkachenko commented on #687
yeah, that's what I meant when was writing about adapter class. And it's only way currently I see to achieve my needs.

[2019-08-30 20:06] joperezr commented on #419
Moving to future since guidelines have been clarified via #673 (thanks @krwq!)

[2019-08-30 22:44] krwq commented on #100
We have just added PR and issue templates to improve state a bit. Please let us know if you think there should be more/less links/info (or even better send PR with changeset).

[2019-08-30 22:47] krwq commented on #690
@hugener if you have specific code changes you'd like to see to move us to netstandard2.1 (even partial progress) it would be really helpful.

I personally don't mind either way but if it helps someone to move us to netstandard and there is an easy path then why not

[2019-09-03 15:51] JPThorne opened #698 "led-blink sample does not run"
**Description**

The dockerfile for the led-blink sample does not appear to be in working order.

**Steps to reproduce**

Using the commands listed on the README for the led-blink sample:
[code]
The docker build command instead errors with:

`COPY failed: no source files were specified`

Having commented out the step `COPY *.config .` The following error occurs:

[code]

**Expected behavior**
I ex

[2019-09-03 17:43] joperezr commented on #698
Hello @JPThorne thanks a lot for filing this. We did recently break this because we moved all projects (includding the samples) to use P2P references but we didn't take into consideration that samples should probably still reference nuget in order to work well in the docker scenarios. We can fix this by reverting back to use package reference for the samples.

[2019-09-03 18:01] krwq commented on #698
@joperezr can we add some props in msbuild in the root to make the samples use P2P when build inside the repo and nuget package when copied over elsewhere?

[2019-09-03 18:03] joperezr commented on #698
We probably can but the main point of the samples was for them to be able to copy paste them outside the repo and have them work just as regular projects would, so in this case I think it's fine to bring pack package reference just for these guys.

[2019-09-03 18:50] krwq commented on #698
@joperezr so we should at least not build them by default on the CI - otherwise we will have delay broken build whenever we adjust APIs in System.Device.Gpio

[2019-09-03 19:34] joperezr commented on #698
This was a problem in the past because API shape was changing a lot, but I don't expect this to be a problem in the future given that we are stabilizing now.

[2019-09-03 19:58] krwq commented on #698
@joperezr that's true for current APIs but I expect we will add some new stuff in the next version

[2019-09-04 22:17] krwq commented on #553
@tmat I've seen you closed https://github.com/dotnet/arcade/issues/3236 - was the issue with remotes fixed or do you still need a specific remote name for build to work?

[2019-09-04 22:18] krwq commented on #553
Closing assuming yet - please re-open if this is still required

[2019-09-04 22:18] #553 closed

[2019-09-05 06:12] JPThorne commented on #698
Thanks for the feedback, I'll try to get it working locally so long then.

[2019-09-05 13:18] Frankenslag opened #701 "Compilation issue with SixLabors library."
When building within visual studio I receive the following.

[code]
It looks like SixLabors have added a dependency to Microsoft.Net.Compilers.Toolset last night.

Should I create a PR to raise the compiler version to 3.1.0 or is there something more subtle that I should do ?

[2019-09-05 21:27] krwq commented on #701
cc: @joperezr

[2019-09-05 21:33] joperezr commented on #701
This has been fixed in latest master, I fixed this yesterday. Try syncing the code and building again.

[2019-09-05 21:34] joperezr commented on #701
Closing as this has been fixed. @Frankenslag feel free to reopen if you still hit this after updating to latest in master.

[2019-09-05 21:34] #701 closed

[2019-09-07 07:00] MarkCiliaVincenti commented on #416
A number of months have passed so I thought I'd give it a go seeing that this issue was closed. The result is the same.

Old code that works (19171.3):
`using (DHTSensor inside = new DHTSensor(InsideGpioPin, DhtType.Dht22))
                {
                    if (!inside.TryGetTemperatureAndHumidity(out Temperature insideTemp, out insideHumidity) || inside.Temperature.Celsius > 60d || inside.Hum

[2019-09-07 07:14] Codewizard opened #702 "GPIO output not working on relay in raspbian"
**Describe the bug**

raspbian PI3 trying to create interfaces, powering a relay, all commands execute fine but it seems that the relay will not power, I tested it in python and the relay itself works fine.

**Steps to reproduce**

[code]
 public class GpioAccess
    {

        private PinNumberingScheme boardLayout { get; set; } = PinNumberingScheme.Logical;
        public GpioAccess() {}

[2019-09-07 09:01] krwq commented on #702
@Codewizard try creating 1 GpioController instance per class and see if that makes any difference. GpioController closes pin when it's disposed (which is implied by using `using` statement)

[2019-09-07 09:42] benbuckland commented on #416
@MarkCiliaVincenti You need to call .Temperature or .Humidity first and then check IsLastReadSuccessful. I am successful about 1 in 5 times of reading the sensor, have upgraded to the RPI4 thinking that the increased processing power would help the super time sensitive reading of the sensor but alas no luck.

[2019-09-07 12:14] MarkCiliaVincenti commented on #416
Thanks, I'll try that later. Strange regarding the reliability. I estimate
I was getting successful readings about 11 out of 12 times from the old
build.

On Sat, 7 Sep 2019, 11:43 Ben Buckland, <notifications@github.com> wrote:

[2019-09-07 17:14] Codewizard commented on #702
I tried that by making the class a singleton and dropping the controller in a a static instance variable, same behavior, it does not turn the relay on, it kicks the light for that GPIO off, and never turns it back on.

[2019-09-08 06:21] MarkCiliaVincenti commented on #416
I confirm. Readings are available but the reliability is considerably poorer than with the NuGet package version 19171.3. Reverting back to that version.

[2019-09-08 08:45] benbuckland commented on #416
Will take a look and compare commits, see if I can identify the problem.

[2019-09-08 12:48] hugener commented on #690
Hi @joperezr and @krwq,

Thank you for taking the time to look into this.
I'm working on an RPI project that uses an old C# api for RPI: https://github.com/hugener/Pi
(I actually forked it to fix some bugs as well).

As it's no longer maintained and has no RPI x64 support (I use Arch Linux arm), I wanted to explore the possibility of replacing it with System.Device.Gpio and Iot.Device.Bindings. So

[2019-09-08 20:28] benbuckland commented on #416
I have taken a look and cant see any change that would affect the reliability of reading. I'm going to roll back to 19171.3 and see if reliability increases for me also.

[2019-09-08 23:32] krwq commented on #416
Since this is 1-wire I wouldn't expect reliability but I bet we can bet slightly better results than 10%. I know linux has a way of enabling 1 wire through kernel driver which might work better here

[2019-09-09 03:47] krwq commented on #690
@hugener I'd prefer if we've targeted netstandard2.1 so that we don't need to duplicate the code and make people move forward to later versions of .NET. In case if it's absolutely necessary we can always re-target to lower version safely.

[2019-09-09 08:03] MarkCiliaVincenti commented on #416
It's not slightly better. It's massively better in the old build. Also in a
Python library I used before it was very rare that a reading was missed.

On Mon, 9 Sep 2019, 01:32 Krzysztof Wicher, <notifications@github.com>
wrote:

[2019-09-09 23:00] krwq commented on #690
@hugener talked with @joperezr about this and he brought a point that mono currently supports only netstandard2.0 so I'm fine with re-targetting to 2.0 because that will unblock Raspberry Pi Zero scenarios.

Note that any PRs will need to wait after 3.0 since we are currently trying to stabilize

[2019-09-10 12:25] matsujirushi opened #706 "Which is the architecture of .NETCore?"
In [requirements](https://github.com/dotnet/iot/blob/master/samples/README.md#requirements).

1. .NET Core 2.1. .NET Core 3.0 is required for ARM64 devices.
2. .NET Core is supported on Raspberry Pi 2B as well as 3 and 4 models (ARMv7/v8).

Which is the architecture of .NETCore for Raspbian on Raspberry Pi? ARM32 or ARM64?

[2019-09-10 16:17] Frankenslag commented on #706
For standard Raspbian it's Arm32

[2019-09-10 20:12] krwq commented on #706
.NET Core depends on OS you're using. If you install Ubuntu then ARM64 is also an option but Raspbian (binary) is I believe only ARM32. Source dist might have larger support though and I think there might be a way to make it work on ARM64 but I haven't personally tried.

[2019-09-10 20:14] krwq commented on #702
@Codewizard can you share your new code? I've tried realys without any issues on Raspbian. One thing to check is if the code doesn't require sudo.

[2019-09-10 21:26] hugener commented on #690
That sounds great. Let me know if/when I can assist more with this.

[2019-09-10 22:16] joperezr commented on #706
As @Frankenslag suggests, for most cases you have the regular Raspbian distrubuted on the raspberry pi site, which would be ARM 32. Closing this as the question has been answered. That said, feel free to reopen if you have any follow up questions.

[2019-09-10 22:16] #706 closed

[2019-09-10 22:34] krwq commented on #690
@hugener let's try to get your PR merged, whenever we have an opportunity it would be great to test this code with mono to ensure this is the only thing blocking it from working

[2019-09-10 23:12] hugener commented on #690
I updated my branch so it should be able to merge now.

[2019-09-11 11:01] Ordjony commented on #637
I decided to reopen my issue and continue the discussion. I researched a little bit ARM MBED OS and watched to Rust lang HAL.
I think in .net we need our own HAL library which will contain only interfaces for GPIO without any methods to get this GPIO or settings.
[code]
Current API like I2cConnectionSettings is applied only for Raspberry PI or similar it's not easy to use with MCU. Because we have

[2019-09-11 16:58] joperezr commented on #690
I have now forked for release/3.0 so all PRs merged to master will be now for vNext just as FYI

[2019-09-11 17:06] joperezr commented on #637
When you say that it only uses two pins, do you mean it uses a Software implementation of I2C? If so, we can do something similar to what we did for the [software implementation of SPI](https://github.com/dotnet/iot/blob/master/src/devices/SoftwareSpi/README.md) where we basically have software SPI extend from SPIDevice so you can initialize it using the provided pins. We generally try to avoid us

[2019-09-11 18:40] krwq commented on #637
I2cDevice already looks very similar to what you showed above. Unfortunately until we can use C# 8 (hopefully next/5.0 release) we don't really have a good versioning story for interfaces.

What is the scenario where you need interface vs just abstract class?

[2019-09-11 21:37] ivanfarkas2 commented on #195
Thx. Please close

[2019-09-12 07:45] Ordjony commented on #637
An abstract class is ok. My idea is to make HAL library which will contain only abstractions for I2C, SPI, PWM, GPIO. In my opinion, .NET needs this HAL library for standardization all IoT\MCU interfaces (like do .net core team with logging.abstraction, DependencyInjection.Abstractions libraries).
I found at the moment two projects which are running .net on MCU:
1. Meadow.NET - own RTOS which can

[2019-09-12 11:53] ZhangGaoxing opened #715 "Add unix sound device"
I used ALSA to implement `SoundDevice`(some basic methods, such as playback and recording), and I will clean up the code and submit a PR recently. Record it here in case someone does the same job.

[2019-09-13 21:12] joperezr commented on #378
We weren't able to fix this in time for 3.0 snap but we will work on this for vNext in order to make our SysFS driver eventing more reliable. We will add this issue to the roadmap for vNext.

[2019-09-13 21:24] krwq commented on #681
@pankaj-nikam @Frankenslag I'm closing this since PR is merged, feel free to reopen if you think there is anything left out or any follow up work

[2019-09-13 21:24] #681 closed

[2019-09-13 21:26] krwq commented on #353
Closing this since PR is merged. Please let me know if there is anything left.

[2019-09-13 21:26] #353 closed

[2019-09-15 08:38] aaronchch opened #721 "Output initialization problem"
I have a Raspberry Pi 3B and I'm using an output to control a relay board. The relay board requires and active-low signal
Using the code below to initialize the output causes it to go low for long enough for the relay to briefly close before the output goes high.

[code]

What is needed is a way of setting the output state of the pin before configuring it as an output. Calling GpioController.Write

[2019-09-16 09:32] hugener commented on #690
Are prereleases based on master released to nuget?

[2019-09-16 10:45] Frankenslag commented on #721
@aaronchch

How about

[code]

Or perhaps....

[code]

Note that I haven't tried any of this and I don't know if it is safe to do or even if it will work...

[2019-09-16 17:16] krwq commented on #690
@hugener we only occasionally publish to nuget from master - i.e. for previews (right now it likely won't happen for some time), for nightly builds use these instructions which use nightly package feeds: https://github.com/dotnet/iot#net-cli

[2019-09-16 17:26] krwq commented on #721
@aaronchch interesting scenario - I think we should add this API assuming this is supported by the OS. For now for Raspberry PI on Linux you can also access registers directly using:
https://github.com/dotnet/iot/blob/master/src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.Linux.cs#L313

note they are protected so you will need to inherit from that class, expose those 2 APIs an

[2019-09-16 18:07] joperezr commented on #721
I think that even if we get the initial value on the OpenPin method, we might have problems honoring this in some drivers (like the unix driver) but we can try do our best to set it just as the pin gets opened. I have triaged this in for our vNext as I think it would make sense to add support for this.

[2019-09-16 18:09] joperezr commented on #690
as @krwq points out most of our prereleases in nuget.org currently are for 3.0 specifically and don't have immediate plans of pushing to NuGet new builds out of the master branch. That said, we still continue pushing all of these to the feeds that he pointed out, and these are signed packages so it should be straight forward to just reference those if you needed to. If you have any issues please l

[2019-09-16 18:11] krwq commented on #721
@joperezr I think we should just document API as "best effort but no guarantee" (similarly as CancellationToken for Async APIs) - we can also add full list of drivers which would support this

[2019-09-16 22:33] hugener commented on #690
Thanks for pointing that you!

[2019-09-17 02:29] aaronchch commented on #721
Sounds perfect and thanks for the workaround.

[2019-09-17 22:00] #100 closed

[2019-09-18 16:41] krwq opened #725 "GSM, GPRS, LTE - AT commands"
One of the common IoT scenarios is to:
- send/receive text message
- answer/make a phone call

We should add support for AT commands - if there is anything device specific we should create also couple of device bindings if not then just create one generic device for that.

PS. Title is just to make it easier to find the issue

[2019-09-18 23:20] shaggygi commented on #725
Found this...

https://www.telit.com/wp-content/uploads/2018/01/Telit-LE910-V2-Modules-AT-Commands-Reference-Guide-r3.pdf
-

[2019-09-19 02:05] krwq opened #727 "Instructions for adding package from README.md don't work on latest 3.0 bits"
SDK: `3.0.100-rc1-014190`

[code]

Output:

[code]

When trying the "nearest version":

[code]

it works correctly for both packages.

This should work by default or instructions should be updated

cc: @joperezr

[2019-09-19 16:40] joperezr commented on #727
I believe this is because you are not passing in the --Prerelease flag so it is only looking for stable versions. Can you try that to see if it fixes it? If so, we can just add that to the instructions (although they will have to change anyway very soon once we ship since we won't need the flag nor the extra --source parameters.)

[2019-09-19 17:13] joperezr opened #731 "[Tools] Fix tool that generates the device lists to output forward slashes instead of backslash"
The tool we use for generating the device listings produces the wrong output when running it on a Windows machine, since it uses forward slashes instead of backslashes. Related #728 #729

FYI: @garciaolais @krwq

[2019-09-19 17:43] krwq commented on #727
@joperezr I couldn't see it in the help (`dotnet add package --help`) - perhaps we should file an issue on dotnet?

[2019-09-19 20:29] joperezr commented on #727
we could do that yes, but did it actually fix the issue?

[2019-09-19 20:55] krwq commented on #727
@joperezr haven't had chance to try yet - will let you know when I have a chance.

Also this will presumably fix itself on Monday anyway, right? (will try to test before)

[2019-09-20 03:55] HumJ0218 opened #733 "About addressable RGB LEDs"
Now here we have WS28xx. But it seems WS28xx doesn't fit perfect.
I have completed a driver for [SK9822](https://github.com/HumJ0218/HumphreyJ.NetCore.Devices/tree/master/HumphreyJ.NetCore.Devices/SPI/SK9822). The SK9822 has a clock line so it can be controlled very stablely.
And APA102, it's controlled exactly the same way as SK9822.

These all are addressable RGB LEDs. Should they all be extende

[2019-09-20 04:05] krwq commented on #733
@HumJ0218 we currently do base classes only if implementation is relatively similar. If they differ you might want to change separate device for now (ideally with similar APIs).
For now refrain from creating any abstractions

[2019-09-22 10:38] sheepchen opened #736 "adding to c# library (dll) fails because of dependecies"
If i want to add the nuget-package to a c# library (dll), it fails because of the dependecy of "-NetStandard,version=v2.0". C#-librarys are Net-Framework (4.72)

"Error. The package "System.Runtime.WindowsRuntime 4.3.0"can't be installed. You try to install the pakage in a project that is based on ".NETFramework,Version=v4.7.2". The paket has no Assemblylinks that a compatible. "

**Steps to repro

[2019-09-24 16:01] #731 closed

[2019-09-24 16:13] joperezr commented on #736
Hello @sheepchen can you please share a sample repro of the project where you are seeing the failure? I tried this locally on a simple net472 class library and a netstandard2.0 library and the package is added successfully. How are you adding the package dependency?

Also, if your library is .NET Framework 4.7.2, where are you planning your library to run? I'm only curious since most of our use ca

[2019-09-25 11:18] sheepchen commented on #736
Hey,
thanks for replying.

I tested around a little bit and have create a testprogram and found my problem.

When I say I want a C# library, VS2019 asumes it should be NetFramework. I have to specify that it should be netCore at creating. changing afterwarts is not possible.

So I have to create a new project and copy the code.

The netframework stuff from above was because I have a really big sel

[2019-09-25 11:18] #736 closed

[2019-09-26 03:31] petercoin opened #745 "Does this library support Intel Atom series chipset like Apollo Lake on Windows?"
I would like to know does this library support Apollo Lake, Braswell or other Atom series chipset?
From OEM/ODM viewpoint, development board might not be suitable for their business model.

[2019-09-26 06:47] krwq commented on #745
@petercoin I haven't tried on this specific setup but I think most of the code should work on any linux x64,x86,arm,arm64 (arm v7 or higher)

[2019-09-26 10:57] petercoin commented on #745
@krwq The key point is that for industrial  embedded motherboard based on x86 architecture, it is difficult to access GPIO, I2C, SPI if you don't have specific I/O driver like winio. Therefore, it will be very useful if this library supports the access to above I/Os. I will try it, thank you very much.

[2019-09-26 21:21] krwq commented on #745
@petercoin I'd try installing libgpiod which should work on any recent kernel and works relatively well. We already have a driver for it.

For Windows I think you'd likely need to write a GpioDriver

[2019-09-27 03:10] petercoin commented on #745
@krwq Intel does provide GPIO and I2C drivers but I am not sure if .Net Core IoT library can access GPIO and I2C through these drivers. However, I will find an Apollo Lake system to confirm it.
Thank you for your reply and I will close this issue after confirming this library works fine.

[2019-09-29 09:23] #539 closed

[2019-09-29 21:04] tshaug opened #748 "DHT11 not working"
**Describe the bug**

Hi everybody,

I installed the latest version of system.Device.GIO (v.1.0.0) and Iot.Device.Bindings (1.0.0)
Reading the DHT11 fails using the mentioned assemblies and .NET core 2.2 and 3.0

I used two different breakout boards (have DHT11 each). I have been using them with WIndows IOT so they could be "ok" (regarding the wiring).

I always receive no temp and humidity and Is

[2019-09-29 23:39] alvipeo opened #749 "Is Raspberry PI supported?"
Does .Net Core 3.0 support Raspberry Pi? If so, which versions?

Can't find this anywhere!

[2019-09-30 02:58] cerkit opened #750 "Support 7-Segment modules on Max7219 Implementation"
The current implementation for the Max7219 device is aimed directly at the LED Matrix. However, the Max7219 is also used to drive 7-Segment displays. A few of the constants force the Digit count to be 8. There are use-cases where an 8 digit 7-Segment display module may only use a few of the digits (not all 8).

Here is a link to ebay showing [some of the devices (ebay)](https://www.ebay.com/sch/i.

[2019-09-30 06:19] krwq commented on #749
Raspberry Pi 2, 3 and 4 do work. Raspberry Pi Zero does not because it's ARMv6 and .NET Core works only on ARMv7 or higher.

[2019-09-30 06:27] krwq commented on #748
Yes, 1-wire currently does not work too well. I believe we will need to fix this first though: https://github.com/dotnet/iot/issues/197 and then update DHT code

[2019-09-30 07:30] tshaug commented on #748
Good morning Krzysztof,

thank you for your feedback.
The referenced item [197](https://github.com/dotnet/iot/issues/197) is quite old.
is there already somne rough idea when an updated 1.wire implementartion will be released (even i beta) I am happy to test ;-)

Cheers
Thomas

[2019-09-30 10:17] alexk8 opened #751 "[Question] Is OrangePi supported?"
There is a device family based on different arm64 chips (allwinner H3,H5, etc).
They can run on Armbian linux. Also I managed to run net core successfully few months ago.
Are their GPIO supported in anyway?

[2019-09-30 12:42] shaggygi commented on #749
https://github.com/dotnet/iot/tree/master/samples#requirements

[2019-09-30 15:34] alvipeo commented on #749
That's good news! Thank you!

Another question - can I work with Pi's camera module with .Net Core 3.0?

[2019-09-30 15:52] krwq commented on #749
@alvipeo .NET Core 3.0 + nightly build of dotnet/iot can do still images (Videos will need additional work):
I've literally just merged support for that in https://github.com/dotnet/iot/pull/664 - packages should be available any time

[2019-09-30 16:19] alvipeo commented on #749
ooooh!!! you're my hero! :)
any ETA?

[2019-09-30 17:32] MarkCiliaVincenti opened #752 "Generic calculations taken from temperature, relative humidity and pressure"
There are some formulas that can be done from sensor data, such as taking the temperature, relative humidity and pressure and outputting the absolute humidity.

Or getting the dew point from temperature and relative humidity.

Also a constant for the default sea level pressure, which I believe is incorrect in Bme280.sample.cs (I believe it should read 1013.25 instead of 1033.00).

Where would be t

[2019-09-30 17:36] krwq commented on #749
Thank @ZhangGaoxing since it was him who added the support :smile:

@joperezr will https://github.com/dotnet/iot#net-cli use nightly or stable?

Note that this repo is slightly independent from .NET Core - we do produce NuGet packages at the same time as .NET Core but you can upgrade IoT independently to .NET Core

[2019-09-30 17:58] krwq commented on #748
@tshaug it's currently on [our roadmap for the next release](https://github.com/dotnet/iot/blob/master/Documentation/roadmap.md) but we prioritize based on demand so definitely this issue will bump the priority a bit.

1-wire in general is quite not reliable (it's timing based and we're not working under real-time OS so any thread/context switch at a bad time can destroy the reading process).

Hav

[2019-09-30 18:05] alvipeo commented on #749
ok, please just tell me how do I know when camera support is released?

[2019-09-30 18:09] krwq commented on #752
@MarkCiliaVincenti you will need to inspect:
https://github.com/dotnet/iot/tree/master/src/devices/Bmxx80

if the calculation/data is BME280 specific (or you don't have knowledge/devices to test) then put it directly under Bme280.cs otherwise upgrade on the base class.

For sea level pressure - I'd recommend creating a separate PR for that since this might trigger some extra conversations. I agree

[2019-09-30 18:14] joperezr commented on #749
@alvipeo do you require the package to be stable in order for you to consume it? If not you can just use our preview builds by just adding our nuget feed to your restore sources: https://dotnetfeed.blob.core.windows.net/dotnet-iot/index.json. I have just queued a new build with the changes you require, and will let you know which version to depend on which will have this support.

[2019-09-30 18:15] krwq commented on #749
If you require stable then per https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates

closest  release is 5.0 which ships Nov 2020.

[2019-09-30 18:15] MarkCiliaVincenti commented on #752
I'm not talking about BME280-specific calculations but very generic weather formulas :)

Agreed with mean sea level pressure varying, but since 1013.25 is widely considered the global average, shouldn't this meaningful number be put somewhere in the code?

[2019-09-30 18:20] krwq commented on #752
@MarkCiliaVincenti in case of SeaLevel I think we should consider adding another unit to:
https://github.com/dotnet/iot/tree/master/src/devices/Units

and add it as a constant (or static readonly field).

Since I was already thinking of proposing Pressure unit (because seems like there are at least 4 different units of pressure) I think we should just go ahead and do it.

Full scope of this featur

[2019-09-30 18:37] joperezr commented on #749
Build is done. You should be able to consume package version `1.1.0-prerelease.19480.2` from the feed I specified above. This version will have the support you require.

[2019-09-30 19:08] krwq opened #753 "BME280 does not measure pressure/altitude correctly when SetPowerMode is not called"
Test:

[code]

Output:

[code]

definitely Pressure and Altitude don't seem reasonable. I'm currently at around 15-100m above the sea level.

cc: @RobinTTY @georgemathieson

[2019-09-30 19:19] alvipeo commented on #749
@joperezr I don't know. I require that it just works ;)

ok, thanks a lot! I'll try it!

[2019-09-30 19:46] krwq commented on #753
Seems this is working around the problem with pressure:

[code]

The pressure/altitude after this shows us:

[code]

I'm definitely not under water right now so presumably sea level pressure or some other calculation is wrong as well

[2019-09-30 20:05] RobinTTY commented on #753
Yeah you will always need to perform a measurement by calling SetPowerMode (this is by design), I just tested this with a reference python library and basically got the same value for pressure:

![Capture](https://user-images.githubusercontent.com/27669180/65912370-5e842f00-e3ce-11e9-916d-eec6f4dccd48.PNG)

My phones sensor is currently giving me a value of 981.0 so not far off. I'll take a look a

[2019-09-30 20:06] krwq commented on #752
Interestingly when I calculate altitude with 1013.25hPa it tells me my altitude is negative where 1033 shows 150m which sounds reasonable

[2019-09-30 20:10] krwq commented on #753
@RobinTTY python's bug doesn't mean we have to repeat the same bug in here.

If pressure cannot be read for whatever reason it should throw an exception or return false.
Constructing BME280 should also provide sane defaults which means it should be usable.

We cannot return bogus results unless hardware has gone bad.

[2019-09-30 20:22] RobinTTY commented on #753
Yeah currently we are providing the default configuration at construction (Things like sampling modes, etc.). The problem is that currently TryReadX has no check whether a measurement was already made since it only reads the register with the values of the last measurement (after device startup default register value). So we could just perform a single measurement on startup to avoid that.

[2019-09-30 20:31] RobinTTY commented on #753
Or probably a check whether a read has been performed is better and just return NaN if non was performed. Since if there is a long timespan between construction and first call of TryRead, the values are out of date.

[2019-09-30 23:42] krwq commented on #753
Cool, thank you @RobinTTY! Yes we should either return false+NaN or give correct answer.

Also, I've actually tried sleeping for 2s before reading the value and it read the wrong value as well, do you also need to call something to initiate reading process?

[2019-09-30 23:55] RobinTTY commented on #753
@krwq: So I tried this piece of code:

[code]

And I get correct values on the first read. What value was wrong for you?

[2019-10-01 00:31] krwq commented on #753
@RobinTTY I'm expecting everything to work without `sensor.SetPowerMode(Bmx280PowerMode.Forced);`

[2019-10-01 05:24] tshaug commented on #748
Good morning Krzysztof

thank you for your explanation and the alternatives.
I assume that I will go for an I2C based sensor (I would like to contribute, but I have not programmed in C for  almost 20 years, so I would assume that it will take me to long to get to speed...)".
I need a sensor for humidity so the list of thermometers provide some alternatives - thanks

Cheers
Thomas

[2019-10-01 05:52] ZhangGaoxing commented on #751
I'm currently trying to add full support(pull-up, pull-down) for Allwinner GPIO through control registers.
The code is almost complete, and after I have cleaned up the code and done more testing, I can submit a PR. @krwq

[2019-10-01 06:09] petercoin commented on #745
@krwq I have tried it on Apollo Lake with Windows 10 1803 and it works fine. The most important thing is rhproxy. I think the mechanism is the same with the namespace: Windows.Device.Gpio, is it right?
BTW, I think it is better to add a note about rhproxy for user who wants to access I/Os by this library with Windows.

[2019-10-01 06:09] #745 closed

[2019-10-01 08:28] RobinTTY commented on #753
@krwq That would require a change in the current behavior of the driver. The way the sensor works is that you specify settings like sampling rate and filter (you can for instance skip the pressure meassurement and only measure temperature/humidity/gas). Then you trigger the actual measurement by setting the PowerMode.

The Bmx280 has besides the forced power mode a normal power mode, where measure

[2019-10-01 09:29] Tragetaschen opened #755 "Assembly reference issue with .NET Core 3"
**Describe the bug**

I have reduced my main project structure to this: https://github.com/Tragetaschen/async-action-reproduction.

lib1 has an unused reference to `System.Device.Gpio` `1.0.0`, an extension method to make CancellationTokens awaitable and an example class using that extension method.

lib2 has the same example class referencing the extension method from lib1.

When building lib2, t

[2019-10-01 17:37] krwq commented on #753
@RobinTTY changing the behavior is fine if it is well justified and in this case I think it is.

I think by default users will expect constructing a class and reading temperature will just work without any extra knowledge and I think this should be the default option (if I understand correctly: PowerMode.Normal). For any advanced settings we should have a way of doing it but it should not be requi

[2019-10-01 17:38] joperezr commented on #755
Hello @Tragetaschen thanks for logging your issue. It looks like you are hitting the same issue that people were hitting here: https://github.com/dotnet/corefx/issues/41403 which is still getting root caused but the apparent issue seems to be when System.Runtime.WindowsRuntime gets brought into the closure of your build, which will now require Windows.winmd. We are still investigating why is it th

[2019-10-01 18:06] RobinTTY commented on #753
@krwq Sounds good to me, I'll submit a PR along with the other changes in the next few days.

[2019-10-01 18:20] krwq commented on #753
Thank you @RobinTTY! To avoid extra work/refactoring in the PR it might be worth to write something resembling API proposal (no implementation) - just what you think everything should look like

[2019-10-01 18:22] krwq commented on #748
@tshaug for humidity sensors see:
https://github.com/dotnet/iot/tree/master/src/devices#hygrometers

From my personal preference I'd take something from https://github.com/dotnet/iot/blob/master/src/devices/Bmxx80/README.md family (i.e. BME280) but if you just need humidity it might be better to get something cheaper

[2019-10-01 18:30] krwq commented on #751
@ZhangGaoxing awesome! @joperezr any opinion on putting those under System.Device.Gpio? I've mixed feeling because it feels like that's better place but at the same time System.Device.Gpio has CI coverage and this likely wouldn't have coverage any time soon.

[2019-10-01 18:31] krwq commented on #745
@petercoin I'm not sure I understand. If you're using Windows.Device.Gpio then you're not using System.Device.Gpio (System.Device.Gpio is using Windows.Device.Gpio underneath on Windows). If you're talking about APIs being similar then yes they were inspired by both Windows and Linux APIs

[2019-10-01 18:33] krwq commented on #752
@MarkCiliaVincenti please also see https://github.com/dotnet/iot/issues/753 if there is no overlap. Also might be worth to check with @RobinTTY so that you don't get really bad merge conflict

[2019-10-01 18:37] RobinTTY commented on #753
Sure, I'll post the proposal here.

[2019-10-01 18:50] RobinTTY commented on #752
Just adding my thoughts: I think @krwq 's idea of creating a new project with WeatherHelpers is good since the `GetAltitude()` method in the Bmx280 binding is not a sensor specific feature and instead just a calculation made from the pressure value, so it should probably haven't been in the device binding in the first place.

[2019-10-01 19:11] Tragetaschen commented on #755
That's ok. I'll follow the corefx issue. No need for extra tracking

[2019-10-01 20:21] tshaug commented on #748
Hi Krzysztof

thank you once again for yur advice.
I have already order 3 BME sensor I have alsoray exerience using BMP180 and BMP 280, but I did't know that the BME280 is also providing humidity. I found that based on your previous advice.
I hope to receive them tomorrow then I can start to "integrate" ;-)

Thanks again
Thomas

[2019-10-01 21:20] krwq opened #757 "Linux PWM implementation throws during construction/setting frequency in some cases"
Repro:

[code]

from now constructing pwm channel with frequency 10k Hz is not possible without manually editing duty cycle (sysfs).

This is happening because duty cycle still has the old value in the driver (measured in nanosecond) and updating frequency causes that duty cycle gets out of range

[2019-10-01 21:42] krwq commented on #748
@tshaug cool to hear. Please also make sure to look at https://github.com/dotnet/iot/issues/753 and https://github.com/dotnet/iot/issues/752

If you are only reading humidity/temperature then it won't affect you - for pressure the first issue mentions that you also need to change the power mode before using it - otherwise you'll get incorrect pressure reading.

The issues will likely result in som

[2019-10-01 23:30] shaggygi commented on #757
I noticed this when we were updating to the new PwmChannel.  I believe it is because there is not enough time delayed when [opening the port (via file)](https://github.com/dotnet/iot/blob/90f0786d82afbf12357868733ce5ddb2b2b8c8e8/src/System.Device.Gpio/System/Device/Pwm/Channels/UnixPwmChannel.Linux.cs#L170) before interacting with the DC/freq.  I mentioned it then, but we couldn't figure out a goo

[2019-10-02 00:15] krwq commented on #757
@shaggygi, I've added a fix in https://github.com/dotnet/iot/pull/758 - I got 100% repro before and now doesn't repro with the fix.

In some scenarios this is not particularly obvious:
- you create PWM with one frequency and dispose
- you create PWM with different frequency and it throws when constructing

The issue is with duty cycle being out of range (also IO exception suggests that: `Invalid a

[2019-10-02 02:48] petercoin commented on #745
@krwq Sorry for the confusion. I tried both Windows.Devices.Gpio on UWP and System.Devices.Gpio on .Net Core and both of them work fine but rhproxy enabled is needed. I just want to confirm if the mechanism is similar between Windows.Devices.Gpio and System.Devices.Gpio on Windows.

[2019-10-02 04:28] EdiWang commented on #749
Check my blog post 'Setup .NET Core 3.0 Runtime and SDK on Raspberry Pi 4' for a complete
guide, you can eventually get a ASP.NET Core 3.0 web server running on your Pi. https://edi.wang/post/2019/9/29/setup-net-core-30-runtime-and-sdk-on-raspberry-pi-4

[2019-10-02 07:43] Ellerbach commented on #753
The sensor default mode once created is ```PowerMode.Sleep```. So, correct, you just need to set up a mode before reading a value. It's the case for most sensor having a sleep mode.
Btw, the readme and the example shows the right order.

[2019-10-02 08:43] krwq commented on #753
Don't disagree - just thinking that the abstraction can be simplified as proposed above (Read would auto set the mode to forced unless you're in continuous mode)

[2019-10-02 09:16] alvipeo commented on #749
Thank you!  I will!

[2019-10-02 12:01] RobinTTY commented on #753
Ok so what I think the API surface should look like is very similar of what your proposed @krwq:

[code]

[2019-10-02 17:00] joperezr commented on #749
Given the question above has been answered, I will go ahead and close this issue for now. @alvipeo feel free to re-open the issue if you have any follow up questions.

[2019-10-02 17:59] #749 closed

[2019-10-02 18:33] krwq commented on #753
Thanks @RobinTTY, couple of comments:
- Bme280ReadResult - would the struct work for other BMxx80? If so we should re-use it
- Bmx280OperationMode: presumably Manual/Continuous/(don't change) would be a default?
- `public SetOperationMode(Bmx280OperationMode mode)` - can we make this a property instead? (assuming we don't have to wait for the operation mode to be changed) Is the most likely way of

[2019-10-02 20:12] RobinTTY commented on #753
@krwq

- Bme280ReadResult would only work for the Bme280, I would have a separate struct for Bmp280 (no humidity measurement) and Bme680 (additional gas measurement). An alternative would be to create one struct that has all the properties and set the ones not able to be measured by the sensor to null.

On second thought I would actually drop `SetOperationMode` and just do:

[code]

The reasons to

[2019-10-02 20:23] krwq commented on #753
@RobinTTY the reason I added nullable double results is to make it clear that value is not available and had exactly what you mentioned in mind - if we are making it per sensor then I'd prefer values to be non-nullable. I'm fine with either choice.

I think the manual/continuous makes sense:
- in continous mode Read returns immediately whatever sensor returns (except perhaps first measurement)
- i

[2019-10-02 20:28] ygoe opened #760 "BMxx80 samples are not up-to-date"
**Describe the bug**

The sample code for the BMxx80 chips is broken. It does not compile and I cannot recover it. It needs to be updated to match the current API.

[2019-10-02 20:57] RobinTTY commented on #753
- Yeah non nullable sounds good to me and a struct per sensor
- Explicit sleep just means that the sensor is neither in manual or continous mode. Setting it to manual mode would be done by calling ReadAsync() after which the sensor performs a single measurement and goes back to sleep. Going back to continous mode would be done by calling Read().
- Sleep is nice for ultra low power consumption as y

[2019-10-02 21:00] krwq commented on #760
@ygoe are you referring to code in the README.md or code in the .cs file? Code in .cs file should be up to date. README.md we can fix as part of https://github.com/dotnet/iot/issues/753

[2019-10-02 21:34] krwq commented on #753
@RobinTTY Read and ReadAsync should not have such differences in behavior

I think we should go with the ReadAsync behavior you mentioned above so for both Read/ReadAsync following should happen:
- Sleep: Reading changes device to Manual mode, initiates measurements, waits until it is done and puts device back to Sleep mode
- Manual: Reading initiates measurement and waits until it is done
- Conti

[2019-10-02 21:43] RobinTTY commented on #753
Oooh I understand now what you meant. In the case you explained there is no difference between Sleep and Manual because the way the sensor works is that in manual mode (forced mode per data sheet) the sensor automatically goes back to sleep after the measurement, you can't keep it in manual mode, since manual mode is only one single measurement.

The reasoning I had for having a Sleep() method is

[2019-10-02 22:39] krwq commented on #753
@RobinTTY let's do only manual/continuous in such case and have a property/method to change between the modes (if it's quick to change then let's make it property, if requires couple of ms then method)

[2019-10-03 04:43] carlossanlop opened #761 "Sample image has the led pins inverted"
When I was following these instructions: https://github.com/dotnet/iot/blob/master/samples/led-blink/README.md

I noticed the image is showing the long leg of the led connected to ground, and the short leg connected to pin 17: https://github.com/dotnet/iot/blob/master/samples/led-blink/rpi-led_bb.png

But it should be the other way around.

cc @krwq @joperez

[2019-10-03 07:07] krwq commented on #761
good catch @carlossanlop!

[2019-10-03 09:14] RobinTTY commented on #753
@krwq The reason why I would do a `Sleep()` method instead of a property to change to the different modes is:
- You would expect `Read()` to change to continous mode if not already in and give you a result
- You would expect `ReadAsync()` to change the mode to manual and give you a result
- The only thing left is switching to sleep mode

Switching additionally through a property doesn't make much

[2019-10-03 11:00] mjjames opened #762 "Support for GPIO Bank 1 when using Raspberry Pi Compute Module 3"
Although the Raspberry PI 3 Driver works very well it is currently limited to the number of GPIO pins on the Raspberry PI 3. The Raspberry Pi Compute Module 3 has an additional bank of GPIO's so you can use 1-45.

I propose that we make the [ValidatePinNumber method protected virtual](https://github.com/dotnet/iot/blob/2399a1dfd3020934d9939b3a27ace953bc39235a/src/System.Device.Gpio/System/Device/G

[2019-10-03 11:48] mjjames commented on #762
I've created a form and started working on this. The `GpioController` also needs updating as the `GetBestDriverForRaspberryPiRevision` method needs to consider the revision number to determine to use the CM3 driver or the current Pi 3 driver

[2019-10-03 17:02] krwq commented on #753
@RobinTTY Read vs ReadAsync behavior should be the same - this is not personal preference but that's what all our corefx APIs do.

The difference between current version and the new one would be that with new APIs most of the time you'd set the power mode once (presumably in the constructor) vs right now you should be setting forced mode before each read

[2019-10-03 17:19] ygoe commented on #760
I couldn't find it anymore so I googled it and I'm not sure I landed on the same page. If I did, it must have been this one:

https://github.com/dotnet/iot/blob/master/src/devices/Bmxx80/samples/Bmp280.sample.cs

I've deleted my playground project again as I lost interest in it.

[2019-10-03 17:22] RobinTTY commented on #753
Oh I get your point. I would go with a property then for operational mode since you can always change the mode, disposing and constructing an object just to change it would be unnecessary work.

I'll make these changes and submit a PR soon.

[2019-10-03 17:31] krwq commented on #760
@ygoe depending on the sensor you used you need to use the right sample (i.e. BMP280 sample won't work with BME280 and vice-versa)

[2019-10-03 18:10] JPThorne opened #764 "Add instructions on how to samples inside a docker container"
**Updated** : This issue is meant to track the addition of the right documentation on how to run a sample app when in the docker container since the lack of that documentation was the reason why the original issue was logged.

-------------------------------------------

**Description**

I get the following error when attempting to use `System.Device.Gpio` and `GpioController` on a Raspberry Pi 3

[2019-10-03 19:01] ygoe commented on #760
I have a BMP280 sensor. It's connected to a Pi and works there in Node-RED. Then I wanted to try it out in .NET.

[2019-10-03 19:44] krwq commented on #760
@ygoe would be useful to see what kind of error you're seeing and how your project looks like. I believe @joperezr tried BMP280 around a week ago without any issues

[2019-10-03 21:12] Frankenslag commented on #762
@mjjames
I had a quick scan of the fork and note that you are detecting the cm3 by using values read from procinfo. You may have problems with this outside of raspbian please see #661

[2019-10-03 21:14] #423 closed

[2019-10-03 21:17] Frankenslag commented on #661
@joperezr

Is now the right time to to work on this again ?

[2019-10-03 21:57] mjjames commented on #661
I agree, as I have to modify this for my issue #762 I’m happy to do this as part of it just in a separate PR, does it make sense to do so?

[2019-10-03 22:00] mjjames commented on #762
I agree, happy to discuss if working on #661 is required before completing this. It makes sense to fix an underlying issue than build on top of it

[2019-10-03 22:25] Frankenslag commented on #762
@mjjames

I have asked @joperezr if  #661 should be resurrected now. It was postponed as we didn’t want to clash with the already mostly tested 3.0 release and there is a workaround by explicitly specifying the driver.

What #661 is trying to do is identify a pi whereas your proposed pr is looking for the type of pi and I guess they are separate and the connection is that they are in the same code

[2019-10-04 07:08] ZhangGaoxing commented on #764
You need to use the `--device` parameter to mount GPIO devices

[2019-10-04 07:18] krwq commented on #661
yes, it's ok, we've only locked 3.0 branch

[2019-10-04 07:24] JPThorne commented on #764
Hey @ZhangGaoxing thanks for the feedback, that sounds promising. Where would I use that parameter though? In the Dockerfile? Is there some documentation somewhere on how to use that? Thanks!

[2019-10-04 07:28] ZhangGaoxing commented on #764
try this
[code]

[2019-10-04 08:22] mjjames commented on #762
After coming back to this with fresh eyes, the `ConvertPinNumberToLogicalNumberingScheme` doesn't make alot of sense for the ComputeModule3. Would it be acceptable to throw a NotSupportedException here?

[2019-10-04 17:57] Frankenslag commented on #762
@mjjames

PR #766 created.

[2019-10-04 18:07] MaxMommersteeg opened #767 "Measuring power with GPIO"
Does dotnet/iot currently support a device binding for measuring power? I'm looking for something that is comparable to INA219. If not I am willing to do some research on how to implement it myself.

[2019-10-04 18:58] joperezr commented on #762
Is the problem here really just that when you try to use the existing RaspberryPi3 driver it is failing because of validation when trying to do an operation on those extra GPIOs? If so, I would rather provide a way to opt-out of that validation or to  pass in the number of pins that should be available instead of creating a whole new driver for this.

[2019-10-04 23:04] krwq commented on #767
No, we don't support it at the moment but this device seems to have only 6 registers and uses I2C so I expect adding support should be relatively simple. Please let me know if you need any help.

[2019-10-05 07:53] JPThorne commented on #764
Great that worked! Thanks very much. I guess this can be closed then. Should this be documented somewhere? I couldn't see anything in the samples area: https://github.com/dotnet/iot/blob/master/samples/led-blink/README.md indicating I needed to run it with that `--device` flag.

[2019-10-05 08:59] Frankenslag commented on #767
@krwq
I would be happy to take on the INA219. Would you like to assign me ?

[2019-10-05 12:48] ZhangGaoxing commented on #764
@joperezr @krwq 👆

[2019-10-06 00:32] gLes commented on #179
Hi!

As I see this development seems to be stuck in limbo.

I have a working implementation for this controller and with a little cleanup I can put it into a PR in a day or two if you're interested.

[2019-10-06 00:51] krwq commented on #179
@gLes thanks! Please do, also please check @tawalke's implementation and see if there is anything there you can add to your implementation:
https://github.com/dotnet/iot/tree/015f68cdd5b01a3eeb8ee2043382e0723241f246/src/devices/HT16K33

[2019-10-06 01:04] johndcollins opened #769 "I2cDevice Write fails"
I'm trying to use the following device on a Raspberry Pi 3:
https://wiki.52pi.com/index.php/DockerPi_4_Channel_Relay_SKU:_EP-0099

I'm able to turn on and off the relay with this command on the RPi itself no problem:
i2cset -y 1 0x10 0x01 0xFF
i2cset -y 1 0x10 0x01 0x00

I'm able to connect to the device, but when I try to write to it I get the following error:
"Error 121 performing I2C data trans

[2019-10-06 02:55] gLes commented on #179
Can you give me some preliminary insight on my commit? I tried to follow suite, but it would be nice if someone could confirm I'm on the right path here 🙂

Usage, samples, tests, etc. are coming soon...

[2019-10-06 03:46] krwq commented on #767
Thanks for picking this up @Frankenslag!

[2019-10-06 03:47] krwq commented on #769
Looking at the issue description it sounds like you should use:
`new I2cConnectionSettings(1, 0x10);` instead of `new I2cConnectionSettings(1, 10);`

[2019-10-06 03:58] krwq commented on #179
@gLes I haven't reviewed the whole thing, just quickly skimmed and added couple of comments. I think from API perspective you should look at similar device: https://github.com/dotnet/iot/tree/master/src/devices/Tm1637 and see how it was made as an example and do it as similar as possible (if you find that you copy paste a code consider joining some pieces of the code if possible)

[2019-10-06 05:23] johndcollins commented on #769
Thanks!
Yea, missed that. The parameter is an integer, should of cause have been a 16...

[2019-10-06 05:23] #769 closed

[2019-10-06 19:11] ibebbs opened #771 "GpioDriver for pigpiod socket interface"
Hi,

I was wondering whether there was any availability of/interest in a GpioDriver implementation which used the [pigpiod](http://abyz.me.uk/rpi/pigpio/pdif2.html) socket interface for controlling the Gpio on a remote Pi?

Seems to me this would be excellent for rapid prototyping using dotnet-iot from a PC.

A [C# wrapper for the pigpiod C interface](https://github.com/Rapidnack/PigpiodIfTest) al

[2019-10-06 19:31] krwq commented on #771
We currently support only libgpiod, I haven't heard of this one before. What's the benefit of this implementation over libgpiod?

[2019-10-07 07:48] ibebbs commented on #771
Correct me if I'm wrong here but it looks to me like "libgpiod" provides interop for controlling an *on-board* GPIO interface. "pigpio" provides interop to a *remote* GPIO interface by acting as a proxy, relaying commands and state changes to/from a "pigpio" daemon running on a remote device (ostentibly a Raspberry Pi).

The pigpio daemon is supported extremely well on the Pi, even making an appea

[2019-10-07 09:09] MarkCiliaVincenti opened #773 "NuGet description for v1.0.0"
The description for Iot.Device.Bindings v1.0.0 says:

Since this package is now stable, the word 'preview' should be removed.

[2019-10-07 09:58] stevehayles commented on #677
In the wild I see NMEA0183 being used as a data protocol at much faster rates than the standard of 4800 and also being used over UDP and TCP connections.  My own parser originall used a serial port 'readline' approach but I hit major performance problems running on a lower powered device (RPi3) on a 'busy' stream of data.

I have moved to a System.IO.Pipelines based approach working with the under

[2019-10-07 10:43] ibebbs commented on #771
Ok, got a very rough first implementation up and running. Here's the code:

[code]

And here's a video of the code running on my PC but controlling the GPIO on a Raspberry Pi Zero running `pigpiod`:

[![System.Device.Gpio to Pigpio`](https://img.youtube.com/vi/F9m0fqZjOGQ/0.jpg)](https://www.youtube.com/watch?v=F9m0fqZjOGQ "System.Device.Gpio to Pigpio")

If there's interest in this being formalis

[2019-10-07 12:32] MarkCiliaVincenti commented on #760
I updated the Bmp280.sample.cs in a pull request 2 days ago (#768) and the code compiled on OSX, Linux and Windows.

[2019-10-07 13:06] MarkCiliaVincenti commented on #752
Once #768 gets merged into master, I will work on the WeatherHelper.

[2019-10-07 13:50] MarkCiliaVincenti commented on #444
I had tried this again a while back and it still didn't work for me.

[2019-10-07 13:51] MarkCiliaVincenti commented on #444
I had tried this again a while back and it still didn't work for me, @krwq.

[2019-10-07 16:54] joperezr commented on #764
Yes it should be documented, thanks a lot @ZhangGaoxing for answering the question. We will add these note to our docs for running on a docker container.

[2019-10-07 17:30] krwq commented on #677
@stevehayles I've already got very basic support PR open, feel free to go ahead and modify it or replace since I haven't recently got time to play with it and doesn't seem I will have more anytime soon.

Honestly I don't expect Stream vs Pipe to give that much of a difference in perf but not using `Split` or copying strings should give quite a boost

[2019-10-07 17:30] joperezr commented on #771
This looks very interesting! I do think this will be very useful. Before you submit a PR though, could we use this issue as an API proposal first in order to finalize into how will the API shape would look like? Once we have that decided, then we will be ready to take in a PR in order to add this to the library.

[2019-10-07 19:11] stevehayles commented on #677
@krwq I'll take a look, thanks for the response.  I'm trying to write some meaningful benchmarks but my early implementation using a Pipe seems very promising and I had (perhaps wrongly) assumed that the various buffer manipulations in SerialPort class were slowing things down and at the very least adding pressure on the GC.

Out of interest how would you feel about a more general parser that used

[2019-10-07 19:25] krwq commented on #677
@stevehayles I have mixed feelings. On one hand the code will likely look cleaner but on the other hand I suspect it will add much more overhead to parsing...

Perhaps we could do something in between where we i.e. describe messages with JSON/XML/whatever and generate code from that in some kind of T4 template. Also unsure because i.e. RMC sentence contains very inconvenient units which I have ini

[2019-10-07 19:49] stevehayles commented on #677
@krwq Agreed, I had mixed views as well, which is why I asked.  My feeling is that the parser could be simple enough to make it worth while but I hear your reservations.  I think it suits my specific use case so I am going to scaffold something up and have a look. If it looks acceptable to you I can work harder on a more suitable PR

On your last point, things like magnetic variation are perfectly

[2019-10-07 20:16] krwq commented on #677
Thanks! Let me know if you have any questions!

[2019-10-08 05:48] krwq commented on #771
@joperezr I think this will just implement GpioDriver

[2019-10-08 07:49] MarkCiliaVincenti commented on #773
Fixed via #774.

[2019-10-08 07:49] #773 closed

[2019-10-08 07:50] MarkCiliaVincenti commented on #752
Pressure part has been handled by #768 which was merged to master. I'll create a new pull request for the WeatherHelper.

[2019-10-08 10:26] stevehayles commented on #677
@krwq Looking harder at this I think my current implementation is too heavily tied to the Pipe approach  and the new SequencerReader class which means I am locked to .netstandard2.1 or netcoreapp3.0 which isn't going to work without a rewrite.

Out of interest will this library stay targetted at .netstandard2.0 / netcoreapp2.0 for the foreseeable future ?

[2019-10-08 11:35] pawelpetruch opened #776 "IsPinOpen() doesn't work for output pins"
When using System.Device.Gpio(1.0.0) on Raspbian Buster (RPi 2) in the following way:

[code]
and when I check the pin's status:
`controller.IsPinOpen(pin)`
it returns false when the pin is actually working fine.

Input pins are showed correctly when IsPinOpen() is used.

- dotnet 3.0.100
- Version of System.Device.Gpio package 1.0.0

[2019-10-08 15:25] Tragetaschen opened #777 "Do not use SYS_TRIGGER reset on BNO055"
**Describe the bug**

According to Bosch, some BNO055 have soft-reset issues and only work with Power On Reset.
[Writing 0x20 to SYS_TRIGGER](https://github.com/dotnet/iot/blob/2440c17a6a1ba274b250ac5863bccae7f2ecc084/src/devices/Bno055/Bno055Sensor.cs#L129) might render it unusable.

https://community.bosch-sensortec.com/t5/MEMS-sensors-forum/BNO055-power-on-reset-issues/m-p/8457/highlight/true#M

[2019-10-08 15:49] pawelpetruch commented on #524
I have a similar issue to @dobova86 on RPi 2, Raspbian Buster, netcore 3.0, Device.Gpio 1.0.0.
[code]

I have libgpiod built and in both cases:

`GpioController(PinNumberingScheme.Logical, new SysFsDriver());`
and
`GpioController();`
the same error.

[2019-10-08 16:08] joperezr commented on #771
Oh I see, I missed that in the example above, yeah that seems reasonable

[2019-10-08 16:15] dobova86 commented on #524
For me, now it is working ok in 1.0.0, and not need to sudo my program. I use :
`gpio = new GpioController(PinNumbering.Logical);`
and no problem now using gpio.OpenPin(), gpio.Write(). I don't use lipgpiod becouse it needs sudo.

[2019-10-08 16:21] ibebbs commented on #771
Hi, yes my implementation so far does indeed implement GpioDriver. It's
actually a very nice fit with almost one-to-one calls between the libraries.

The pigpio library/daemon also has SPI & I2C capabilities. Would be great
to be able to use a similar pattern with the other interface types.

Want me to prep a minimal working example (as shown above) as a PR so you
can see the approach I am taking?

[2019-10-08 16:22] krwq commented on #677
@stevehayles I'd personally bump it to 3.0 since I always use latest bits but we have some people with strong opinion we should make it as low as possible and there are some clear benefits of targeting lower so I'm a bit torn.

Let's do following: can you show some sample code using your approach so that we have a sense of how APIs look like and if we find the approach better than the one not requ

[2019-10-08 16:41] pawelpetruch commented on #524
@dobova86
'GpioController(PinNumberingScheme.Logical);' doesn't seem to be helping. With or without libgpiod the same issue.

[2019-10-08 17:06] Frankenslag commented on #524
@pawelpetruch

does it work with sudo ?

If you just use GpioController() without specifying the device. is the exception stack exactly the same ? if not can we see it.

I think that this needs an issue of it's own as the current issue is about a fairly specific problem with where Pi4's have their IO mapped to.

[2019-10-08 17:18] krwq commented on #776
Thanks for reporting @pawelpetruch! Quickly looking at the code I'm not sure how would that be possible. Can you show some small sample code? Are you sure you're not accidentally creating new instance of GpioController and disposing the old one?

[2019-10-08 17:24] krwq commented on #777
Good find @Tragetaschen! Seems like this is only happening when external crystal is not connected.

Are you by any chance interested in making a PR? I suspect we can just always change all registers to defaults instead of resetting.

[2019-10-08 18:02] krwq commented on #752
@MarkCiliaVincenti cool, if possible please review all similar sensors if they don't have some other helpful utils we can re-use.

I'd go with creating library like "Utilities" and put WeatherHelper there but WeatherHelpers as a project is fine too for now but I suspect it will be too small to stay as a seperate project on its own

[2019-10-08 18:12] krwq commented on #771
Long term I have mixed feelings if this should be a separate nuget package or if it should be included in Iot.Device.Bindings but I think we can put it here for now.

Also we will need to make sure we have a good instructions in the README how to use it since it requires external components.

Yes, please add a sample, for now you can add only GpioDriver and in subsequent PRs you can add SPI/I2C.

[2019-10-08 23:26] shaggygi commented on #771
yes, this is very nifty @ibebbs  👍.  I did something similar with new gRPC.

[2019-10-09 07:58] ibebbs commented on #771
You know what, I hadn't even thought about putting this in a separate Nuget package (would probably simplify development and deployment TBH). Are there any strong feelings about this? I'm happy to do it either way.

Yes, I'll provide a good ReadMe on the process, although it's documented very thoroughly elsewhere.

[2019-10-09 08:05] pawelpetruch commented on #776
Thanks for the response @krwq!

A sample code:
[code]

[2019-10-09 09:12] cherici-simone opened #779 "Error 13 initializing the Gpio driver in IoT Edge"
I'm trying to "simply" blink a led in a Raspberry Pi 3 with .net core 3

**Steps to reproduce**
- follow this https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module to setup the environment
- update runtime and reference in c# module to target .net core 3
- update docker file (see below)
- build/publish/etc.etc.

I also try with different combination (or completely wit

[2019-10-09 09:30] shaggygi commented on #771
Since the overall structure for bindings is not thought through completely, I'd recommend going ahead and storing with the other bindings or it might actually be worth storing under [tools](https://github.com/dotnet/iot/tree/master/tools) similar to the DeviceApiTester.

[2019-10-09 10:42] pawelpetruch commented on #524
@Frankenslag I can't run 'sudo dotnet ...' if that's what you mean ( sudo: dotnet: command not found).

Without specifying the device:
[code]

To get it running I need to firstly create gpio pins using:

`sudo sh -c "echo 16 > /sys/class/gpio/export`

[2019-10-09 11:00] ZhangGaoxing commented on #779
Code 2: Please refer to #764
Code 13: This means "Permission denied". Please run the program with sudo.

[2019-10-09 13:48] Frankenslag commented on #524
@pawelpetruch

OK. I have had a look at this on a Pi3B and checked out the following to code snippets

Snippet A:
[code]
Snippet B:
[code]
In both cases an exception is thrown in `SetPinMode`. However if I try for a second time then both these snippets work without issue. (note that you have to reboot between tests so that you start from a known state).

I then tried using a VSDBG to debug and I g

[2019-10-09 19:41] MarkCiliaVincenti opened #784 "VS2019 .sln"
How possible would it be to have a VS2019 .sln including Iot.Device.Bindings and all the samples so folks using VS2019 on Windows don't need to go through hurdles to contribute to this project? It'd be nice if we could just fork, branch, clone and open in VS, do changes, right click and 'Commit'.

[2019-10-09 20:20] cherici-simone commented on #779
Hello and thanks for tour respinse buy I've already ready and try likes suggested in #764 without success, also with sudo.
Abiti iot Edge runtime I think It already run with high privilege

[2019-10-09 21:12] Frankenslag commented on #784
@MarkCiliaVincenti
What problems are you facing. I open the folder. Right click on the root project and build the forked folder. It’s not as easy as using a full solution but seems ok.

[2019-10-10 00:56] RobotTomC commented on #779
Yes, I have exactly the same error code 👍
Unhandled Exception: System.IO.IOException: Error 13 initializing the Gpio driver.
The only thing I have to add is the the same code worked with dotNet 2.1 but when run as a IoTEdge Module then I get this error.

[2019-10-10 06:06] MarkCiliaVincenti commented on #784
Well let's see. They say a picture is worth a thousand words.

First I fork dotnet/iot and create my own branch WeatherHelper.
![step1](https://user-images.githubusercontent.com/25120736/66542910-24383180-eb34-11e9-88e0-11585df3ba0a.PNG)
And click clone & download and "open in Visual Studio"

![step2](https://user-images.githubusercontent.com/25120736/66542939-3914c500-eb34-11e9-84a2-9c53c61cd0f8.

[2019-10-10 11:44] Frankenslag commented on #784
@MarkCiliaVincenti
OK. I do it slightly differently. I don't really know if it is correct as I found conflicting discussions on the web.

* Fork the dotnet/iot into your github area i.e. Frankenslag/iot
* From VS2019 then Clone or Checkout code from Frankenslag/iot to a local folder
* Go into settings for the local repositary and add a remote called upstream with the url https://github.com/dotnet/

[2019-10-10 12:19] MarkCiliaVincenti commented on #784
I'll give it a go. I feel reassured now that I know that it isn't just me who's struggling with the 'best practice' :)

Clearly, all this doesn't seem intuitive at all, and maybe we should have a tutorial up to show how it should be done, alas we end up discouraging potential contributors.

[2019-10-10 16:24] ibebbs commented on #771
This seems odd to me. The pigpiod interface is implemented as a GpioDriver so - IMO - should go in either:

1. The System.Device.Gpio project (where I have currently implemented it)
2. A separate Nuget package.

Doesn't feel like it should be part of the bindings structure as it's not really a binding.

Thoughts?

[2019-10-10 16:30] joperezr commented on #760
I have verified that the code works fine for me again when connecting a BMP280 sensor. @ygoe did you by any chance try again? Can you see your device if you run `i2cdetect 1` from the pi's terminal?

[2019-10-10 16:50] krwq commented on #760
@ygoe one thing I've frequently seen people forget/not know is that they didn't enable I2C (use raspi-config for that).

Please let us know if you were able to fix the issue.

[2019-10-10 17:22] joperezr commented on #750
cc: @schonbachler who originally wrote this binding.

Hey @cerkit that seems reasonable. In general, we don't require full implementations of bindings in order to merge them into the repo, since some support for some scenarios (as long as they are valid/reasonable scenarios) is better than none. Would you be interested in adding this extra functionality to the existing binding?

[2019-10-10 17:24] joperezr commented on #751
Agreed, I think it would be good to introduce this for now as part of the Iot.Device.Bindings package, and once we are ready to add full support (and CI coverage) for it then we can move it to the main library.

[2019-10-10 17:26] joperezr commented on #748
@krwq do you want to close this one as a dupe of the other existing issues of DHT?

[2019-10-10 17:28] joperezr commented on #757
Would we want to service 1.0 with this?

[2019-10-10 17:38] joperezr commented on #784
A couple of things to keep in mind as I read this:

- Our repo uses the same build infrastructure than the rest of the dotnet/ repositories (like corefx, coreclr, sdk, etc.), which enables us to build using the same compiler as other repos, get automatic dependencies from other repos, use the same versioning infrastructure than other repos, use the same signing infrastructure, and use the same tes

[2019-10-10 18:13] krwq commented on #757
I don't have strong opinion either way. On one hand this is relatively rare but on the other it's super annoying when it affects you

[2019-10-10 18:14] krwq commented on #748
Yes, I think there is no new work this issue introduces from other issues although this one describes user facing problem a bit clearer

[2019-10-10 18:14] #748 closed

[2019-10-10 18:32] krwq commented on #784
@joperezr I think we should have just one sln because it doesn't hurt since our projects are relatively small. Also CLI provides utils for generating SLN so this can actually be scaled :smile:

I think the main problem here is that we require running `build.cmd`/`build.sh` before using project which is kinda weird comparing to pretty much any other repo everywhere

[2019-10-10 20:05] joperezr commented on #771
I think the best plan would be to have it initially in the Iot.Device.Bindings package, and once we have support for adding tests for this we can move it down to System.Device.Gpio with the rest of the drivers. I would rather not add something to System.Device.Gpio that we don't have a good way of testing for now, since we are still trying to catch up adding coverage for the things that are in the

[2019-10-10 21:27] krwq commented on #771
@ibebbs I think one detail you're missing is that System.Device.Gpio is stuff we officially support where Iot.Device.Bindings has much less support promises (some things might be tested only by contributor). The implication of that is that we don't want to put anything in System.Device.Gpio that we haven't tested ourselves or we're not sure if we want to have there long-term. Putting things to Iot

[2019-10-10 21:31] krwq commented on #776
@pawelpetruch thanks, I'll have this scenario tested either as part of https://github.com/dotnet/iot/pull/758 or sometime afterwards.

[2019-10-10 21:44] joperezr commented on #784
I understand but there is no good way of going around this if we want to use the shared infrastructure between other dotnet repos, which we have to.

That is not true for every project, we have some bindings that are quite large, and with time, we will end up having hundreds of proyects in the one solution, and I stand by my claim that I really doubt that will be useful for most people. Very few c

[2019-10-10 22:11] krwq commented on #524
@Frankenslag can you open a new issue with a simple repro we can take a look whenever we got time? I currently don't have cycles to look at this at the moment and it will get lost on the closed issue.

[2019-10-11 08:15] MarkCiliaVincenti commented on #753
The altitude calculation can be improved. I'm working on a WeatherHelper (#783) and I'll be adding an altitude calculation there. However I'm trying to gather information on how to improve this calculation due to the fact that there is a missing input in the current formula: temperature. The current calculation is assuming 15C, but you can see that temperature affects the altitude calculation. Tak

[2019-10-11 08:49] ibebbs commented on #771
@joperezr / @krwq , thanks for the clarification. I understand why you might not want the pigpio driver in the System.Device.Gpio assembly now despite it seemly to be the natural place for it.

Seems to me the best course of action for now (at least until some of the uncertainty is resolved) would be to provide the driver in a separate nuget package. That way there is no responsibility on testing

[2019-10-11 09:29] MarkCiliaVincenti commented on #753
@RobinTTY please take the changes in #783 into consideration when making these changes, because they will conflict otherwise.

[2019-10-11 18:03] joperezr commented on #771
Our Iot.Device.Bindings nuget package is already designed for this exact purpose. It doesn't carry the same level of support as our main NuGet Package since for most bindings we haven't really tested against the real hardware, but we already have the packaging and publishing part figured out, plus there are a lot of devs already taking daily builds of that package who might benefit from getting th

[2019-10-11 18:25] krwq commented on #762
@mjjames

Yes, fine to throw if it doesn't make sense. Also please try to make the code as simple as possible (basically what @joperezr wrote)

Not sure what's the question is about the tests but adding implementation for compute module as a workaround and then improving detection logic as a next step sounds good to me.

[2019-10-11 19:27] cherici-simone commented on #779
An update: running this "chmod 777 /Dev/gpiomem" partially solve the problem...that is I do not have 13 or 2 error anymore. Of course this is not a solution...just a suggestion

[2019-10-11 20:09] krwq commented on #784
@joperezr can we at least add some target which will run build.cmd if it hasn't been run?

[2019-10-11 20:14] joperezr commented on #784
Not really. To run a target you need two things, msbuild (or dotnet CLI) and to be able to load the project. dotnet is restored as part of running build.cmd and in order to be able to load most of our projects you need to have restored the SDKs first.

[2019-10-12 06:31] MarkCiliaVincenti commented on #784
I tried all this but it still didn't work. I tried updating a sample but I don't get syntax errors. Then I tried to run some unit tests and I couldn't either.

[2019-10-12 09:23] robertsundstrom commented on #175
What is the status?

[2019-10-12 11:06] MarkCiliaVincenti opened #791 "I²C in summaries"
This is not really a bug, but I've noticed that there's I2C written everywhere in summaries rather than I²C. I started going through them until I noticed there were almost 10,000 lines of code containing "I2C" with match case.

[2019-10-12 11:24] MarkCiliaVincenti commented on #752
This is completed by pull requests #768 and #783

[2019-10-12 14:50] shaggygi commented on #791
I thought about that when updating the docs, but thought it would be more consistent with others (like SPI) and if that format would cause errors while displaying in different doc formats, IDEs, etc..

I like either approach, but I2C is used lots throughout web, datasheets, etc.

[2019-10-12 17:07] krwq commented on #175
@robertsundstrom [PN532 is merged](https://github.com/dotnet/iot/tree/master/src/devices/Pn532), for MFRC522 not sure cc: @Ellerbach

[2019-10-12 17:21] robertsundstrom commented on #175
@krwq It is not inte package @Ellerbach

[2019-10-12 23:46] RobotTomC commented on #779
Thanks cherici!
Changing the the permission to "gpiomem" fixed my problem.

[2019-10-13 15:15] maloo commented on #189
@krwq What is the status on graphics APIs? I have seen some demos by @richlander in the On .Net Show. What APIs are they using? Do you have a list of requirements/primitives? Do we still have time to drop System.Drawing dependency before 1.0? Just using Color from System.Drawing?

[2019-10-13 15:55] maloo opened #795 "Fast and easy deploy on build to IoT device"
- What is the current best practices for code-build-deploy-run/debug cycle in IoT on an external device? I could not find any relevant information in the repo docs.
- What is the recommended way to build for linux-arm in Visual Studio (e.g. Raspberry Pi)? RuntimeIdentifier manually added to app project? If so, why is it not added by default to projects, or is another use case more common than Rasp

[2019-10-13 16:16] maloo opened #796 "Basic menu system UI for IoT devices"
If one where to create a graphical/textbased menu system UI in C# using .NET IoT device bindings for input (gpio, buttons, rotary encoders) and displays (1/2/4 line textmode or small graphical displays). Much like you can find on a 3D printer. Would that be something to include in this repo? I don't have the time to create my own nuget repo and maintain it. But I still think it is something that c

[2019-10-13 17:05] shaggygi commented on #795
See https://github.com/dotnet/iot/blob/master/Documentation/How-to-Deploy-an-IoT-App.md

[2019-10-13 17:18] maloo commented on #795
To me deployment is what you do when you are ready to release. Not something you do after each build during development cycle. What I really want is the "new project->speify ip,user,pwd->hit f5" experience. VS C++ has much better support for this type of use case (last time I checked - 2018), and C# should be the "easy" toolchain ;)

[2019-10-13 20:20] krwq commented on #796
I think it depends. I.e. short-term for LED matrices which are frequently small sizes I think it makes sense to create some kind of small UI library because even if we somehow make Xamarin work with that it will not likely look good (i.e. fonts will very likely look bad and graphics has to be adjusted specifically for that).

For larger displays I think it might be worth investigating how to make

[2019-10-13 20:24] krwq commented on #189
@maloo likely it's one of these two, not sure which demo did you see:
https://github.com/dotnet/iot/tree/master/samples/led-matrix-weather
https://github.com/dotnet/iot/tree/master/src/devices/RGBLedMatrix/samples

For small stuff graphics like this I have it in my backlog to add some utilities to make it easier to re-use these components but not sure when I'll have time to pick it up.

[2019-10-13 23:02] maloo commented on #796
Ok, I'll let you get hold of some Xamarin guys. As for API I was thinking something like this:

Much like how .NET XDocument, Xamarin, gui.cs are setup

## Logical structure setup

    var ui = new Window(new Menu(
        new Command("Do stuff", DoStuff),
        new Menu("Sub menu >>",
            new ReturnCommand("<< Go back up"),
            new Slider("My value", 0, 100) is var s ? s : s,

[2019-10-13 23:05] maloo commented on #189
I could start with the primitives you got defined above when I start playing with #796. Once we got what we need to do a basic UI, we could go back to this issue.

[2019-10-14 01:15] krwq commented on #189
@maloo let's start with writing down what we need. I.e.:

- abstract "drawable" element
- layouts (i.e. horizontal/vertical) which define list of "drawable"s and lay it out according to its own rules
- geometric figures: circle, square, ...
  - properties: filled?; line thickness; line smoothness
- text
  - properties: background color (includes alpha channel)
- abstract way of grouping children s

[2019-10-14 08:28] MarkCiliaVincenti commented on #760
So why don't we make that clear by providing some inline comments warning the reader to enable I2C, within the sample CS files?

[2019-10-14 11:43] MarkCiliaVincenti commented on #791
To be honest, I'm not a fan of reducing the developer experience just because some devs want to use editors that are so archaic they don't even have Unicode support. If you're developing for a modern programming language like .NET Core, logic dictates that you don't use a code editor from the 1980s. Similarly I was asked to change the degree symbol (°) to `\uXXXX` notation and I complied despite h

[2019-10-14 15:51] stevehayles commented on #677
@krwq Having pulled out an example from my in-house version I am no longer sure it's a good fit for this library.  You can be a far better judge of that though.

Very early stage commit without documentation, tests or comments is here

https://github.com/stevehayles/iot/tree/nmea-protocol/src/devices/Nmea0183

It's using a stream rather than specifically tied to a SerialPort with the stream being

[2019-10-14 21:03] krwq commented on #677
@stevehayles if you notice my implementation I've actually split the protocol from the device (NeoM8 is basically opening serial port and uses Nmea0183 library underneath).

From the things you described above it sounds to me like there is a lot of things I can use from your code and reverse.

Nmea0183 implementation I provided takes string as an input and decodes it to a sentence object. Sentence

[2019-10-14 21:19] krwq commented on #791
@MarkCiliaVincenti I personally prefer `°` for celsius and for I2C I prefer using just `2` since it's much easier to type and doesn't impede reading. The reason I asked to change is because that's what our coding guidelines are even if I personally disagree with them :(

To be complete fair though I've already seen cases where during some larger changes (moving code from one source control system

[2019-10-14 22:29] joperezr commented on #791
According to some sources, I2c is also correct: "Alternatively I²C is spelled I2C (pronounced I-two-C) or IIC (pronounced I-I-C)." and I2C is also widely found in other libraries that add support for it.

[2019-10-15 00:15] krwq commented on #760
@MarkCiliaVincenti I'd rather have a single place we document how to work with I2C and link this doc whenever we remember, otherwise we're gonna end up repeating the same message on all devices. Despite after a while working with this repo this seems kind of obvious and it's starts being as obvious as "plug in your device first" which I don't believe we should document anywhere...

It's one of the

[2019-10-15 00:20] krwq opened #798 "Failing unit tests might not print the output"
FYI in case someone hits this.

With https://github.com/dotnet/iot/pull/789 build.cmd/build.sh will run unit tests but unfortunately due to bug in VSTest the output most of the time will not get printed (depends which worker picks up the job).

This is causing that if any of the unit test fails the output might not get printed and it's hard to diagnose what went wrong. Most of the time just passin

[2019-10-15 08:23] MarkCiliaVincenti commented on #760
@krwq this is exactly what I meant, that's why I recommended putting in a URL with the instructions.

Not really a fair comparison. One is obvious that you need to plug in the device, the other is not intuitive, especially to software developers like me who are trying to work on projects while lacking any electrical engineering background.

Well, there's that too which I can sympathize with 💯

[2019-10-15 08:28] MarkCiliaVincenti commented on #791
Definitely, I'm reading I2C quite often, but the correct term is I²C. The former is generally used more because it's easier to write, and less because of Unicode support. Just my $0.02 :-)

[2019-10-15 08:31] MarkCiliaVincenti commented on #798
Maybe a stupid question from my end, but can't the build.cmd/build.sh run the `dotnet test` at the end?

[2019-10-15 15:58] joperezr commented on #791
I understand your point and it is valid. That said, we have already shipped 1.0 using I2c on API names, and I would really love it if all of our docs match the API name so I would still be hesitant to make any changes in code or comments regarding this.

[2019-10-15 16:12] joperezr commented on #798
Very valid question. Ideally we want the build of the whole product to be part of the same `dotnet build` evaluation. This way, allprojects are only loaded once and get evaluated once, and targets that only need to run once per full build will do so only once, since if you call `dotnet test` in the end what will happen is that a bunch of stuff that was already built, will get rebuilt. That isn't s

[2019-10-15 18:43] krwq commented on #796
cc: @KirillOsenkov

[2019-10-15 18:44] KirillOsenkov commented on #796
@migueldeicaza .NET IOT folks are looking around for a small UI framework for small screens (think LED 64x64, maybe limited colors, various screen sizes and color capabilities). The devices run .NET Core and C# but I imagine hardware can be severely limited.

They probably need basic text display, simple rectangular buttons, maybe basic panels (splitting screen in half, simple menus, pages), maybe

[2019-10-15 19:40] krwq commented on #760
@MarkCiliaVincenti I also found it not obvious that I2C needs to be enabled at first after a few months working with the repo it became natural knowledge. I agree there should be some kind of guideliness

[2019-10-15 19:44] krwq opened #802 "Documentation should include instructions on how to use/enable I2C/SPI/PWM/1-wire/..."
Currently we are lacking gathered place where we describe how to plug in and setup Raspberry PI with I2C/SPI/PWM and other protocols. We should write instructions and start linking samples to those docs to make people easier to start.

Work left here:
- [x] I2C instructions for Raspbian
- [x] SPI instructions for Raspbian
- [x] PWM instructions for Raspbian
- [ ] 1-wire instructions for Raspbian
-

[2019-10-15 19:46] krwq commented on #760
I'm closing this issue since there is no response here and we have couple of confirmation about samples. @ygoe let us know details on what kind of issue you have hit if you have a chance to try again and re-open if you feel like there is anything missing.

I've created a separate issue for doc updates: https://github.com/dotnet/iot/issues/802

[2019-10-15 20:15] KirillOsenkov commented on #796
So far the consensus is https://github.com/migueldeicaza/gui.cs

[2019-10-15 21:41] joperezr commented on #776
@krwq so is there really a problem here or what is it that we want to track for vNext? From the code that I see above, I can't seem to find a reason why this would be happening.

[2019-10-15 21:44] krwq commented on #776
At minimum we should add a test verifying this scenario works. If it's broken as suggested per issue we should fix it for vNext.

[2019-10-15 21:45] joperezr commented on #779
Closing this one for now since seems like the issue was not running as sudo which we require by design. Feel free to re-open if that is not the case.

[2019-10-15 21:45] #779 closed

[2019-10-16 11:14] Frankenslag commented on #802
@krwq
Perhaps be more specific and say that it's a Pi running Raspbian. I have noticed that 64bit Debian, for example, doesn't have the same device tree configuration and so the SPI configuration instructions used for Raspian aren't appropriate.

[2019-10-16 17:21] krwq commented on #802
@Frankenslag good point, ideally we should have couple of other common OSes but I guess that's optional here

[2019-10-16 19:30] pgrawehr opened #805 "Running build.sh on the Raspberry Pi fails with "wrong ELF class: ELFCLASS64""
**Describe the bug**
Running "./build.sh" from the working copy root on the Pi4 (Raspbian 32 Bit) fails with a bunch of errors of the form
[code]
The linux distribution installed on the Pi is 32 bit ARM, so this seems to use a wrong library.
Note: Running `cd src/System.Device.Gpio && dotnet build System.Device.Gpio.sln` works as expected.

**Steps to reproduce**
See above. Type
[code]
in the proj

[2019-10-16 19:30] pgrawehr commented on #805
Here's the full build log:

[buildPi4.log](https://github.com/dotnet/iot/files/3736052/buildPi4.log)

[2019-10-16 19:38] pgrawehr commented on #805
Note: The unprintable characters are also unprintable here.

[2019-10-16 19:54] krwq commented on #805
@pgrawehr can you print full output of `<your IOT path>/.dotnet/dotnet --info`? I'm specifically curious about Runtime Environment section.

[2019-10-16 21:13] ygoe commented on #760
Back from holidays and worked my way through my inbox. Thanks for the comments first. As I already explained in my first comment, the code did not compile, and also that the sensor works perfectly in Node-RED on the same Raspberry Pi. So any comments about enabling I2C are irrelevant for two reasons.

I just tried it again. Here's what I did:

* Open VS 2019, v16.3.2
* Create a new .NET Core conso

[2019-10-17 16:54] pgrawehr commented on #805
Here's the full printout:
[code]

The runtime section doesn't mention ARM32 or ARM64, so maybe that's part of the problem?

[2019-10-17 17:54] pgrawehr commented on #776
Uploaded a testcase of this Bug, but was unable to reproduce it.

[2019-10-17 20:10] krwq commented on #776
@pgrawehr do you still have any project where you can reproduce? Is it possible you're referencing some older version of System.Device.Gpio?

[2019-10-17 20:33] shaggygi commented on #677
Not sure if related, but referencing this just in case...

https://github.com/microsoft/referencesource/pull/120/

[2019-10-17 20:36] dotMorten commented on #677
Take a loo at https://github.com/dotMorten/NmeaParser

[2019-10-17 21:30] krwq commented on #760
@ygoe can you try removing package references (edit csproj) and add them again but use `1.1.0-prerelease.19517.1` of the package? (i.e. `dotnet add package Iot.Device.Bindings --version 1.1.0-prerelease.19517.1`)

[2019-10-17 21:38] krwq opened #807 "Add dogfooding instructions"
Add instructions how to use latest package from master (including screenshots for VS instructions).

Note for command line instructions we're kinda blocked by https://github.com/NuGet/Home/issues/4699

[2019-10-17 22:18] krwq commented on #677
Ok, now we got 3 implementations 😄 @dotMorten do you have any specifc plans? I'm wondering if you're planning to support your package long term or would prefer to join the effort with us?
P.S. Sample app is really cool!

[2019-10-17 22:27] dotMorten commented on #677
I have been supporting and maintaining this for years. It should cover your use cases I believe. Just grab the nuget

[2019-10-17 22:32] krwq commented on #677
I'll need to double check if we can depend on packages with different LICENSE and if there are any issues with stuff like security fixes before we can add a dependency

[2019-10-17 23:09] krwq commented on #677
Ok asking people around seems it is possibility but it's not the easiest:
- we'll need to create new package for anything depending on this (so that people who don't need it don't need to pull it)
- there is some internal process we need to go through before we can do it
- currently we only have 1 device which would potentially depend on it (NEO-M8) - it would probably make sense to have more of t

[2019-10-17 23:13] shaggygi commented on #677
I'd say recommend/reference @dotMorten work as he def knows his stuff when it comes to this topic.  Bindings can just implement the byte conversions (if needed) between messages and specific binding registers, etc.

[2019-10-17 23:25] joperezr commented on #677
This won't be super easy either and will be hard to maintain and hard to merge back when ready. My 2 cents on this is that if we can get away without having to add external dependencies that would be ideal, since I believe that the internal process to add a new external reference might take a bit of time. Same goes for the requirement to build a new package and separate the bindings. If we decide

[2019-10-18 00:27] krwq commented on #677
What if we added perhaps some kind of abstraction we could share between projects? I'd prefer that we didn't re-implement this.

Also I don't think merging back the branch would be hard. We would work in a separate directory which doesn't touch any existing files until we are ready

[2019-10-18 06:23] pgrawehr commented on #776
This was tested with the latest master build. So far, I was unable to reproduce the bug with anything I tried.

[2019-10-19 09:02] pgrawehr opened #809 "API Suggestion for Low-Level GPIO Drivers"
Since the issue addressed in #788 seems to require wider discussion, let's talk about how it should look like to the user in the end (and how that concept should be implemented).

# Overview of the Problems
The primary problem is that the Raspberry Pi4 requires a few things (in particular: Setting the pull up/pull down mode of input pins) to be done differently than on the Pi3. (Not sure about eve

[2019-10-19 11:03] Frankenslag commented on #809
@pgrawehr

Regarding the hierarchy. I am not sure that we need a proposal for that. I feel it is down to the magnitude of differences between models and hardware. Personally I feel that if the difference between the pi3 and pi4 comes down to the pullup registers then it should be part of a single driver. So I would go for whatever hierarchy was appropriate.

I guess that the SYSFS and Unix, Window

[2019-10-19 15:57] Frankenslag opened #811 "Issue with using gpio with SYSFS with non-root privileges."
**Describe the bug**

This bug is where OpenPin is called with a pin number and a PinMode with the SYSFS driver using a non-root account but one that is in the gpio group.

The first time that the program is executed there will be a permissions exception but subsequent attempts to execute will work.

This issue was described in #459 and it seems that it is because udev takes a finite amount of tim

[2019-10-19 16:28] pgrawehr commented on #809
If we don't go with two drivers for Pi3 and Pi4, then at least the one single driver should change its name. As pointed out in the PR, the additional registers required on the Pi4 don't exist on the Pi3, so using the same driver may lead to mapping addresses that don't exist, which is not optimal.

I'm not sure about the prioritization. It'll probably be hardcoded in a "most specific" to "most gen

[2019-10-19 17:09] pgrawehr commented on #811
I can confirm the bug happens on the Raspberry Pi4 with the RaspberryPiDriver as well. For me, running the System.Device.Gpio unit tests as non-root usually fails the very first time, after that, all the RaspberryDriver tests pass as non-root without problems.

See also the discussion here https://github.com/dotnet/iot/pull/785#discussion_r333759273.

[2019-10-20 11:59] pgrawehr opened #813 "Hardware PWM without setup/sudo"
I cannot find any documentation on how to use hardware PWM on the Raspberry Pi, and I cannot get it to run.

Enabling PWM requires setting the Pin Mode for (BCM) Pins 12 or 13 to ALT0 mode, for which the library does not offer a possibility, it seems. (Note: Unlike most other alternate functions, PWM mode does not require a special driver and therefore also not a reboot to activate).

I'm also not

[2019-10-20 12:45] ZhangGaoxing commented on #809
1. I think we should abstract the generic control method for a series of SoCs, instead of just naming it `XxxPiDriver`, like I did in #780 . Because it's not just a board that uses this SoC. When adding new drivers, we only need to make small changes, such as pin mapping, address offset, etc.
2. For the second question, I have a direct idea. We don't need regular expressions to get CPU information

[2019-10-20 13:24] pgrawehr commented on #809
The conceptual question in this issue is not how to detect a specific CPU/board type or revision, but how to organize the detection and how the user should select the correct driver. If the classes are user-visible, they need to have names he can recognize. And the drivers will have board specific features.

[2019-10-21 05:21] krwq commented on #813
I'm closing this as a dup of https://github.com/dotnet/iot/issues/802

Since the other issue doesn't have the answer.

To enable PWM use:

I recommend to read /boot/overlays/README since it describes pretty much how to enable anything on the PI.

[2019-10-21 05:24] krwq commented on #802
Should we just point people to `/boot/overlays/README` for now? It describes how to enable everything on the PI using `/boot/config.txt`

[2019-10-21 06:50] pgrawehr commented on #813
@krwq: Ok, I'll try this approach, but I'm not happy with it. Some investigation showed that it's possible to drive the PWM mode from memory mapped registers. This, as said, has the advantage that it does not require an overlay module to be loaded and pin assignments can change without reboot. So we should have a driver for that.
In either case, we need a way of setting the GPIO pins to alternate

[2019-10-21 16:19] Tragetaschen commented on #777
@krwq Yes

[2019-10-21 16:43] joperezr commented on #813
@pgrawehr We could do that but the problem is that this would only work for one board. You are correct in the fact that using registers and setting alternate functions on pins you are able to control PWM as well, but we thought that if we could come up with a non-board-specific implementation of PWM would be ideal. Is there a specific reason other than requiring another overlay module loaded for w

[2019-10-21 17:23] krwq commented on #813
@joperezr we could potentially expose it directly from RaspberryPiDriver (i.e. CreatePwmChannel)

[2019-10-21 17:29] joperezr commented on #813
If we find a good use-case for it, for which the generic driver is not sufficient then yes this is one option. Before adding extra code we would have to maintain and wouldn't be portable for the rest of the boards, I would like to make sure that there is a good reason why we it.

[2019-10-21 17:53] pgrawehr commented on #813
One reason one may not want the PWM overlay enabled is that this disturbs the audio output (at least according to the docs, I haven't tried yet). I need to do more testing to see the implications of this setup.

@krwq : That's exactly what I would've suggested as well, however I think this would not even be neccessary, if we just offered a "RaspberryPiPwmDevice".

Nevertheless, I think we need to

[2019-10-21 17:58] joperezr commented on #813
I believe this you will hit no matter what. Last time I checked this, the problem was that the resources used by hardware PWM are shared with the audio, so you can't use them at the same time. In fact, IIRC when I originally was writing the RaspberryPi driver I saw a comment on the PWM registers saying that they would conflict with Audio.

[2019-10-21 19:19] stevehayles commented on #677
@krwq I think my approach to this was from a particular requirement to really focus on the performance as I work in an area where NMEA0183 is quite frankly abused as a protocol to carry GPS and IMU data at much faster speeds than it was really designed to do.

As such I think I should remain separate with my solution but I agree with your comment about not re-implementing this.  To be honest when

[2019-10-21 19:56] pgrawehr commented on #813
@joperezr : As said, I haven't tried what they actually mean by "conflict". Unfortunatelly, I still can't get PWM to work with this library. If I enable the overlay, I get the (virtual) directories /sys/class/pwm and /sys/class/pwm/pwmchip0 created (and the pin mode defaults to Alt0), but there's no pwm{channel} subdirectory there (as suggested by UnixPwmChannel.Linux.cs, Line 40). I don't get an

[2019-10-21 20:55] joperezr commented on #813
The register method would require root permissions as well. Right now RaspberryPiDriver doesn't require root because we read /dev/gpiomem/ memmory mapped file, which only gives you access to the gpio registers. If you want to access to the rest of the registers (which contain the PWM registers as well) then you will need to read /dev/mem/ file which requires root. I want to clear out that is not t

[2019-10-21 22:18] krwq commented on #813
@pgrawehr I'm also curious about the non-sudo solution. If you think it's possible to do with gpiomem or some other way I think we should support such driver.

[2019-10-21 22:40] krwq opened #816 "Enable style checks during the build"
We should enable at least some style checks during the build.

This will avoid people to have to come back and fort with the PR iterations as they can be spotted by the build.

cc: @joperezr

[2019-10-21 23:04] krwq commented on #776
@pawelpetruch can you help us write a test case for this issue? PR with test case is in here https://github.com/dotnet/iot/pull/806

[2019-10-21 23:08] krwq commented on #677
@stevehayles I'd recommend following:
- try out the suggested library and see if it works good enough for you
- if not (i.e. too slow) then see if there is something you can fix there to improve the state
- if this is a design problem let's discuss further on next steps

also might be worth investigating if in your case SerialPort is not the limiting factor. I.e. by default the baud rate is 9600 w

[2019-10-22 06:32] pgrawehr commented on #813
@joperezr : Can you post the code you already did? I'll try whether I find a way around the sudo requirement.
[I thought that the test with the gpio tool would prove that it's not required, but I just saw that this has the setuid bit set, so it always executes as root.]

[2019-10-22 07:24] alberk8 opened #817 "Display SSD1306"
**Is your feature request related to a problem? Please describe.**

Describe what problem are you trying to solve or what's the expected outcome.
I have tied the sample code on a SSD1306 128x64 screen (0.96") and it works.  But I does not seems to be able to display a bitmap of size 128x64, only the top 32 pixels (height) are shown.  Is there any settings that I need to set to get the full picture

[2019-10-22 07:32] stevehayles commented on #677
@krwq I have a fully working NMEA / AIS decoder in production use, my original issue came from trying to run it on an RPi and hitting performance problems.  From there it was clear (in my use case) that a re-write of the parser was needed at the same time I noticed you were adding NMEA to this library and potentially it seemed like a good fit.

The code I pushed was a small refactored subset of wh

[2019-10-22 08:56] krwq commented on #817
cc: @DemoS76

[2019-10-22 15:05] oblin opened #818 "DHT22 often get Nan and temperature is wrong"
**Code:**

            using (Dht22 dht = new Dht22(4))
            {
                for(int i = 1; i < 100; i++)
                {
                    Console.WriteLine($"Temperature: {dht.Temperature.Celsius.ToString("0.0")} °C, 'Humidity: {dht.Humidity.ToString("0.0")} %");

                    Thread.Sleep(5000);
                }
            }

**Result:**
Temperature: NaN °C, 'Humidity: NaN

[2019-10-22 18:33] joperezr commented on #813
@pgrawehr This was some time ago and in a different repo, but here is the commit: https://github.com/joperezr/corefxlab/commit/970f4a57047e53ab22ec972e303307c0afca745d

The part I definitely remember is that gpiomem doesn't have access to the PWM registers, and also that the /dev/mem requires sudo access so I don't think doing this through registers without sudo will be possible.

[2019-10-22 19:14] pawelpetruch commented on #776
@krwq I will have a look over the weekend if that's fine.

[2019-10-22 19:24] saltniklas commented on #818
Im getting the same behaviour. Just installed a fresh Raspberry Pi 3 Model A+ with Raspbian Buster(Debian 10).

Installed .net core SDK and trying out the sample code just like above.

Getting readings after the first two tries. Looks like some delay before measurements gets recieved.

[2019-10-22 19:29] Frankenslag commented on #813
@joperezr

Yes. When I look at gpiomem then the length of the mapping is BLOCK_SIZE which isn’t big enough to include the PWM registers.

[2019-10-22 20:36] krwq commented on #813
@Frankenslag might be worth considering contributing to the linux kernel then even if we can't have it now then we might have it in a year or two

[2019-10-22 20:55] pgrawehr commented on #813
Just did a quick test (it's time for bed here): a bit of `sudo chmod 666 /sys/class/pwm/pwmchip0` (and a few more of the virtual files there) made it work with the existing driver as non-root. And made it work at all for me for the first time. Continuing investigations tommorow.

(Yes, I know this is a BIG Hack...)

[2019-10-22 20:57] krwq commented on #818
This is similar to https://github.com/dotnet/iot/issues/748

@maloo do you perhaps know if https://github.com/dotnet/iot/pull/793 will give us a way to make DHTxx 1-wire sensors more reliable?

[2019-10-22 21:04] krwq commented on #813
I guess using udev to auto-set permission is fine workaround for now

[2019-10-22 21:35] joperezr commented on #813
😄 yeah, that would work but unfortunately we can't really do that.

[2019-10-22 23:30] maloo commented on #818
@krwq #793 is using the Linux kernel driver. It can use different types of interfaces, like i2c bridges. I have only used the gpio bit bang driver. I have close to 100% success rate in that config using the MAX31820. I have not tried longer wires. But doing bit banging in user space like the DHT binding is a very bad idea. After a quick Google, it looks like DHT is using a proprietary 1-wire proto

[2019-10-22 23:40] maloo commented on #818
There seems to be an Industrial IO driver for DHT11/12. So might be possible to do a similar binding as Dallas 1-wire, but for IIO devices.

https://github.com/torvalds/linux/blob/master/drivers/iio/humidity/dht11.c

[2019-10-23 00:02] krwq commented on #818
@maloo linux kernel is GPL so we can't even look at the source code :disappointed:

[2019-10-23 02:23] alberk8 opened #819 "SPI TFT Screen for ILITEK"
**Is your feature request related to a problem? Please describe.**

Is there any plan development for the ILITEK SPI display chipset ILI9341 and ILI9486 ?  Thank you.

[2019-10-23 04:56] krwq commented on #819
I have ILI9341 code somewhere in my private branches and can add basic support relatively quickly, it just needs some clean up. I'm kinda busy this week and early next week so please remind me if you don't see any PR in the next two weeks

[2019-10-23 04:58] krwq commented on #819
Just made it public: https://github.com/krwq/iot/tree/ILI9341 is my WIP branch from half a year ago in case you need it now

[2019-10-23 05:01] alberk8 commented on #819
Thank you so much.

[2019-10-23 10:34] maloo commented on #818
Can you elaborate? Any binding in user space would use a kernel driver at some point. Iio is similar to 1-wire in the sense that you can use sysfs/procfs to interact with it. That is, read/write files is enough.

[2019-10-23 10:38] maloo commented on #818
Maybe you can access this if you can't read the driver source code.
https://wiki.st.com/stm32mpu/wiki/How_to_use_the_IIO_user_space_interface

[2019-10-23 10:42] pgrawehr commented on #809
@joperezr : I'm fine if you don't have time to discuss this right now, but can you please add this to vNext? I think we should definitelly have a fix for this problem for the next release.

[2019-10-23 14:20] Frankenslag commented on #809
@pgrawehr
I think we still have a bug to address though and that should probably not wait for vNext. If you want I could come up with something by modifying the existing raspberry pi driver. Please let me know.

[2019-10-23 14:31] pgrawehr commented on #809
I could do that myself as well, I just need a hint on the way forward. If it is ok to patch the existing driver (so we don't change the API) I'm fine with that for now. Is there a documentation / ticket describing what is expected to be in which patch/minor/major/feature release? I'm struggling a bit to understand the expected release cycle and the task priorities.

[2019-10-23 14:45] Frankenslag commented on #809
@pgrawehr
I think you patch so the api doesn't change. The changes to how the Pi4 works haven't been broadcast widely but they could impact quite a few people I believe and so a bug fix patch would be really good. Hopefully we can get it rolled into the code base in time for 3.1

I haven't seen anything describing what would be a minor/major/feature etc. There is a roadmap [Here](https://github.co

[2019-10-23 15:01] pgrawehr commented on #809
Ok, I'll come up with a patch fix, then.
Also, we should be clear about version numbers, I guess. The currently released version caries 1.0.0.

[2019-10-23 17:42] krwq commented on #677
I'm thinking, perhaps there is a way to create interface in such a way that we don't need to take dependency but everything is usable.

The idea is following:
- in our repo we define interface which simply reads a sentence, i.e.:

[code]

- anywhere, can be separate repo, can be contributed to @dotMorten's repo, package or just a copy & paste code in the docs we define how to combine both repos wi

[2019-10-23 18:03] Frankenslag commented on #817
@alberk8 cc @DemoS76

I have had a quick look and I would say that the sample is hard wired to deal with 128 x 32 images.

I think that a good place to start would be to change the line in DisplayImage method that sets the number of pages to be copied

From :
            `Int16 pages = 4;`
To:
           ` Int16 pages = 8;`

There may be more to do than this but I cannot find me SSD1306 to verify.

[2019-10-23 19:27] wwombatt opened #821 "DCMotor example improvement"
Hello,

I am trying to use the DCMotor example (https://github.com/dotnet/iot/tree/master/src/devices/DCMotor/samples) to drive to motors using the H Bridge component as used in the example but i cannot figure out how to connect the H bridge to a raspberry pi to make it work with the pinnumbers used. I used the information from issue 478 (https://github.com/dotnet/iot/issues/478) to try and make s

[2019-10-23 19:39] krwq commented on #821
@wwombatt I think I might have accidentally updated pin numbers when I was doing the last changes and diagram left from the previous version. It should match whatever is on the picture or picture should be updated.

The pins passed in are BCM numbering

[2019-10-23 23:31] krwq commented on #776
@pawelpetruch weekend sounds good, thank you!

[2019-10-24 16:44] pgrawehr commented on #813
I don't know how exactly udev would need to be configured, but I guess that's something that could be requested from the raspbian guys. Many other raspberry tools also seem to use that approach.

[2019-10-24 17:14] joperezr commented on #811
I believe this is a dupe of #813 so I'm closing as a dupe. @Frankenslag feel free to re-open if that is not the case.

[2019-10-24 17:44] joperezr commented on #795
We should be a bit more clear on what is it that we want to add instructions for here. What you are building for most of the time when you use this library is essentially a .NET Core Console App, so it allows a lot of different deployment mechanisms(self-contained tar ball, shared framework application, single-file executable, docker container with the application, etc.). Additionally, you could a

[2019-10-24 18:14] wwombatt commented on #821
@krwq I am trying to figure out how this example diagram would work with two three pin motor set up. This is what i have so far. Based on the pinout info and the diagram i figure i would neet the following pinnumbers: BCM23 BCM24 BCM25 BCM5 and BCM6. But how would you know which pin to use where when trying to create a motor object via ' DCMotor.Create'. Could you maybe tell me what the code shoul

[2019-10-24 19:30] maloo commented on #795
Agreed, it is the development cycle that should be improved. And deployment is the same as for any other app.
My main point is that just a simple add on like ssh copy task during build and a better debug setup will provide a far better experience than we have now. Maybe parts of the c++ tooling could be reused.

[2019-10-26 09:01] pgrawehr commented on #811
@joperezr
Not sure this is a duplicate. #813 is about the hardware PWM driver, which (at the moment) seems to never be accessible as non-root. This is about GPIO access in general and a problem where udev _was_ configured but does not react fast enough so that sometimes a non-root user gets permission problems and later it works. #813 will need to be solved by adding an udev rule (I believe), this

[2019-10-27 15:33] Penergy opened #826 "Does .NET Core support Raspberry Pi 4?"
I have seen the instructions for .Net Core on RPi 2 and RPi 3 from this link.
https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

I want to know whether .Net Core has the plan to support RPi 4. Because we are going to use RPi 4 later.

[2019-10-27 15:33] #826 closed

[2019-10-28 10:37] shaggygi commented on #826
@vlyakh Referencing https://github.com/dotnet/wpf/issues/871

[2019-10-28 14:31] forki opened #828 "MFRC522 RFID support"
I'd like to see MFRC522 RFID support

Currently we call it via INodeServices and https://github.com/firsttris/mfrc522-rpi. But INodeServices is deprecated from asp.net core and so we'd need a replacement.

More info: https://www.nxp.com/docs/en/data-sheet/MFRC522.pdf

[2019-10-28 15:57] joperezr commented on #811
you are right, I'll go ahead and reopen.

[2019-10-28 17:32] shaggygi commented on #828
@forki  is this a duplicate of #175?

[2019-10-28 18:48] forki commented on #828
Yes thanks. Will subscribe to that one.

[2019-10-28 18:48] #828 closed

[2019-10-28 18:49] forki commented on #175
Is there something I could test for MFRC522?

[2019-10-29 06:54] forki commented on #175
@robertsundstrom did you create a PR? where is it?

[2019-10-30 05:47] alberk8 commented on #817
I have tried all the suggestions and even got another unit of SSD1306 from another vendor to test.  It still does not show the 128 x 64.  Using python sample code on the same SS1306 does show image in the 128 x 64 resolution.
So the problem is in the C# code.  I am not sure what else I need to adjust to get that working in the right resolution.

[2019-10-30 07:41] Frankenslag commented on #817
Ok I have got one on order... will have a look over the coming days and get back to you

[2019-10-30 09:57] alberk8 commented on #817
Thank you.  I have also on order SSD1327 and a bit worried as I see the comments on the sample code indicating the 96 x 96 but the specs sheets for SS1327 mention it is a 128 x 128.   Hope it is a typo.

[2019-10-30 11:44] Frankenslag commented on #817
The way I read is that the SSD1306 can be used to interface to a number of OLED displays of various resolutions. The one in the sample happens to be 128 x 32 but it should work with displays up to 128 x 64 bits. Have you got a link to the working Python.

I believe it's a similar story for the SSD1327 in that the max resolution will depend on which display is coupled with it.  Which one have you o

[2019-10-30 22:08] tshaug opened #832 "Error 121 performing I2C data transfer"
Hi everybody,

I am using a Mlx90614 sensor and sporadically receive an exception running on RaspPi.
This issue seems to be similar to #163

My code looks like this:
[code]

I am creating the I2C device object every 5 seconds, because I have to create antoher I2c device object with different settings (for BME280) and I don't know if it is ok to have multiple at the same time.

**Expected behavior*

[2019-10-30 22:41] trevorjobling commented on #807
This would be so useful right now. If get to the bottom of this I'll contribute dogfooding instructions based on my experience!

I've cloned the `iot` repo. It builds successfully using `.\build.cmd`.

I'm referencing the Gpio project in my dotnetcore 3.0 project using
[code]
When I `dotnet build` by project I can't get past this error:

`C:\Program Files\dotnet\sdk\3.0.100\Roslyn\Microsoft.CSharp

[2019-10-30 23:35] joperezr commented on #807
Is there a specific reason why you would want to consume the library via a project reference? If you are not making private changes on System.Device.Gpio I would recommend either just having your dotnetcore 3.0 project reference the nightly build of System.Device.Gpio package, or to run `build.cmd -package` when you are building the repo in order to generate the packages. For the first option (ref

[2019-10-31 00:33] alberk8 commented on #817
For the Python code, I use this link https://circuitdigest.com/microcontroller-projects/ssd1306-oled-display-with-raspberry-pi

I have ordered the SSD1327 from Aliexpress site.  https://bit.ly/2BXYDv7

[2019-10-31 06:30] MaklaCof commented on #172
Is there something new. I would like to replace really my old device for measuring hot water in boiler with a new one, based on RaspberryPI. The best suited sensor for this is DS18B20.

[2019-10-31 08:14] maloo commented on #172
Waiting for @krwq to hit the merge button of #793

[2019-10-31 11:53] trevorjobling commented on #807
That worked a great - thanks! Much better than what I was trying.

BTW this didn't work for me
`<PackageReference Include="System.Device.Gpio" Version="1.1.*" />`

Changing to this avoids errors regarding _unable to find package with version (>= 1.1.0)_
`<PackageReference Include="Iot.Device.Bindings" Version="1.1.0-p*" />`

[2019-10-31 14:02] pgrawehr commented on #832
Even though I think it shouldn't make a difference, it is clearly not necessary to recreate the device each time. You should be able to talk to different devices simultaneously (at least as long as you are performing everything on the same thread - not sure about thread safety of these classes)

[2019-10-31 18:34] joperezr commented on #807
Oh you are right! I got the version wrong, sorry about that, I will fix my comment so that people in the future will have the right instructions form this issue before we move it to actual documentation

[2019-11-01 14:42] ethos-tim opened #835 "Support for Meadow F7"
I would love to be able to use this package with the Meadow F7

https://www.wildernesslabs.co/meadow

https://store.wildernesslabs.co/collections/frontpage/products/meadow-f7

http://beta-developer.wildernesslabs.co/docs/api/Meadow/

https://github.com/WildernessLabs/Meadow.Foundation

It seems fragmented that everyone would have a different library and duplicate all the device support in .NET vs.

[2019-11-01 18:54] krwq commented on #817
@alberk8 unfortunately the first link you shared doesn't allow non-commercial use so we cannot use it as a base for our implementation

[2019-11-01 19:37] tshaug commented on #832
Hi Patrick,

thanks for your comment. So I will change my code accordingly.
BTW: I tested today with a RaspPi 3B, the initial test has been with RaspPi 4 : both create such exceptions (I have not expected differently,  but who knows...).
(I also replaced the sensors)

Cheers
Thomas

[2019-11-02 11:39] shaggygi opened #836 "Close 3.0 Milestone"
[3.0 Milestone](https://github.com/dotnet/iot/milestone/1) can now be closed.

[2019-11-02 17:37] pgrawehr commented on #836
As a side note: The currently released System.Device.Iot nuget package (and also the file inside it) has Version 1.0.0. This should be brought in sync for the next release.

[2019-11-02 17:44] pgrawehr commented on #832
I don't have this exact sensor module, but I've done quite extensive tests on I2C (i.e with high-troughput data to LCD displays) and never seen any exceptions (unless I disconnect the bus). I need to do some more I2C tests soon, so maybe I can reproduce it.

[2019-11-03 15:43] Frankenslag commented on #817
OK. I have got an Ssd1306 connected with a 128 x 64 OLED connected. What I see is that the first 32 lines are 'stretched' over the 64 lines. Examining it closer it looks like only every alternate line is used. This sort of makes sense I think. So I believe that what needs to be done is change the initialization to suit the OLED and also change the drawing functions in the sample.

[2019-11-03 16:32] Frankenslag commented on #817
I have now modified the sample to work with the 128 x 64 OLED as follows

The initilalization routine was modified. This takes no account of any different electrical characteristics of the OLED. It does work for me.

* `device.SendCommand(new SetMultiplexRatio(0x3F));` Wrap around at the 64th line
* `device.SendCommand(new Ssd1306Cmnds.SetComPinsHardwareConfiguration(true, false));` Configure for

[2019-11-04 12:07] joperezr commented on #836
You are right it may be closed. That said I will create a new milestone called 1.0.x which will be used for issues that will need to be serviced to that 1.0 package

[2019-11-04 12:40] Ellerbach commented on #175
I4ve been working on the MFRC522 but it does not even work correctly with an Arduino. Authentication for the Miface cards is not working correctly. Even with various Arduino library, I did not managed to make it working well enough. I had the same issues with .NET Core IoT. so I basically drop the work to focus more on the PN532 which is indeded a great chip.
If anyone managed to find a way to mak

[2019-11-04 21:37] #777 closed

[2019-11-05 15:15] nahueltaibo opened #838 "Add support for MotorHat"
I think the *MotorHat* for the Raspberry Pi is a pretty useful hat as it has the basic things you need to build robots. Adding support for this would allow simpler net core based robots.

Main page of this Hat, with all its details: [here](https://www.adafruit.com/product/2348)
It can also be bought in Aliexpress: [here](https://www.aliexpress.com/item/32857529077.html)

This Hat is based on the P

[2019-11-05 22:16] krwq commented on #838
@nahueltaibo I think in general it might make sense. If hat is just Pca9685 connected to I2C or similar I'd just mention it and add a sample on the README.md pages.

If there is more than just Pca9685 then it might make sense to create a binding.

Quick look tells me it also adds infrared receiver and perhaps more.

Each device which is on the board if possible should be added separately and then

[2019-11-06 06:12] nahueltaibo commented on #838
@krwq  Thanks for your feedback.

I don't think the MotorHat has a IR receiver. (at least not the one in the links I sent)
I checked the Sense Had code, and It does seem that the Motor Hat would follow the same idea.

I started the Motor Hat implementation here: [https://github.com/nahueltaibo/iot/tree/feature/motorhat/src/devices/MotorHat](https://github.com/nahueltaibo/iot/tree/feature/motorhat/

[2019-11-06 19:20] krwq commented on #838
@nahueltaibo looking at the code I think it makes sense to keep the DCMotor3Pwm separate considering usage of PWM in there is rather weird. If we have more similar devices we can move it there.

[2019-11-06 23:50] krwq commented on #826
@vlyakh this is the first request we have about printers. I'd recommend exploring if there is already any .NET library anywhere which already supports it, perhaps: https://github.com/germanger/zpl-printer or https://github.com/rkone/sharpzebra will do exactly what you need.

If that doesn't work for you please create a feature request on https://github.com/dotnet/iot - note that we are greatly rel

[2019-11-06 23:57] krwq commented on #807
note that it is recommended to use specific version of the package: in case we make any breaking changes it won't break your app

[2019-11-07 00:06] krwq commented on #813
@pgrawehr you just need to modify one file so that permissions get autoset whenever device shows up. I can help with that. I have mixed feelings this should be done in Raspbian

[2019-11-07 08:44] pgrawehr commented on #813
Ok, thanks for the hint. I'll try this and report back.

[2019-11-07 23:15] krwq commented on #838
@nahueltaibo thanks! (btw next time you can put `Fixes #838` as a first line of PR description so that the issue gets auto-closed

[2019-11-07 23:15] #838 closed

[2019-11-07 23:38] nahueltaibo commented on #838
Thanks!
I'll try y that next time

On Thu, Nov 7, 2019, 6:15 PM Krzysztof Wicher <notifications@github.com>
wrote:

[2019-11-08 21:10] nahueltaibo opened #841 "Inconsistent number of events received from RegisterCallbackForPinValueChangedEvent"
**Describe the bug**

I'd like to know better if this is a bug, a limitation of the implementation or if it's me doing something wrong.

I subscribed to event changes on two pins (20 and 21), and counted how many events I get from each pin.
The pins are connected to the quadrature encoder of a motor. I am rotating the motor in only one direction, so I would expect events to keep the same number, b

[2019-11-08 22:06] krwq commented on #841
@nahueltaibo current implementation is not exactly meant for frequently changing events and rather for waiting for a "call" signal or "RTS", using it for frequent count was not exactly scenario I thought people are using it for.

I think there might be a way to fix this though which I have initially considered but the drawback of that is that in certain scenarios this will be a disadvantage, i.e.

[2019-11-08 22:09] krwq commented on #841
(deleting my previous comment since I confused this with Serial Port implementation) which has similarly named member.

cc: @joperezr, @buyaa-n - AFAIR Libgpiod implementation of events is much more reliable than sysfs. You might want to pass Libgpiod driver to GpioController constructor to force it.

[2019-11-08 22:19] nahueltaibo commented on #841
@krwq I'll try your suggestion.

I am also thinking that events might not be exactly what is needed to implement a encoder. The best thing would probably be interrupts, and the firing an event with the TickCount or something like that, but each tick on each pin should be received ASAP.

Do you think there is any way of achieving this?

[2019-11-08 22:36] krwq commented on #841
@nahueltaibo I'm not sure what you use for counting (optocoupler, rotary encoder, something else) but perhaps Something from #705 might be useful for you for counting

[2019-11-08 22:38] krwq commented on #172
This is merged already, thanks @maloo!

[2019-11-08 22:38] #172 closed

[2019-11-08 22:54] buyaa-n commented on #841
@nahueltaibo could be some noise read on the pin, if you are not using pull up/down resistors for the pins I would suggest to use them

[2019-11-09 15:55] dnutiu opened #842 "BME680 Reading not working properly"
**Describe the bug**

I tried to experiment with the BME680 device binding but unfortunately the data which is read is not accurate.

**Steps to reproduce**

Code:
[code]

**Expected behavior**

I'd expect accurate data when trying to read from the sensor.

**Actual behavior**

The readings I get are wrong. The temp should be around 25 C

![demo](https://i.imgur.com/EYso5AN.jpg)

**Versions used**

[2019-11-09 17:50] dnutiu commented on #842
I forgot to set the sampling.

[code]

It works now.

[2019-11-09 17:50] #842 closed

[2019-11-10 14:46] nahueltaibo commented on #841
I based my code on that. In fact I started with the Quadrature encoder class in that pull request but it is not working because of the same issue. Values seem random. I am assuming that because when the even of a changed pin arrives, it is reading the values of both pi a. But the event might be to old at that time and pins might have changed already.

[2019-11-10 14:47] nahueltaibo commented on #841
Is there any pin that already have that? Maybe I could try using different pins to read the Quadrature encoder values

[2019-11-10 14:52] dnutiu opened #843 "Support for gRPC on arm"
**Is your feature request related to a problem? Please describe.**

Could you please add gRPC support for arm processors?

**Describe the ideal solution**

Someone has already worked on this :
https://dev.to/erikest/grpc-on-dotnet-core-preview3-on-raspberrypi-3-4nf4
https://github.com/erikest/libgrpc_csharp_ext

[2019-11-10 16:02] shaggygi commented on #843
@dnutiu this probably needs to be filed on https://github.com/grpc/grpc-dotnet

[2019-11-10 17:53] dnutiu commented on #843
My bad, thanks!

[2019-11-10 17:54] #843 closed

[2019-11-10 21:13] acarlonvs opened #844 "DC Motor Sample Speed"
_I am using a custom motor, so not sure if this is just the behaviour of my motor and there is something in the pwm libraries that expects this behaviour or if this is some kind of a convention. Raising here incase it is a bug._

_As a workaround, I am using SoftwarePwmChannel directly and that seems to have solved it for me._

**Describe the bug**

DC Motor sample appears to have incorrect revers

[2019-11-11 07:07] pgrawehr commented on #841
@nahueltaibo : All input pins have a 50-60k selectable pullup or pulldown resistor. It can be enabled by setting the pin mode to `PinMode.InputPullUp` or `PinMode.InputPullDown` (instead of just `PinMode.Input`). Note however that this currently doesn't work on the Pi4, until #823 is merged.

[2019-11-11 17:19] buyaa-n commented on #841
@nahueltaibo as @pgrawehr said all GPIO pins has internal pull up/down resisters but might not supported, though you can use external resistors for that. Seems your event active signal is low, so you need to wire pull up resistor from the event pin to power

[2019-11-11 19:58] joperezr commented on #832
Hello @tshaug thanks for logging this issue! Your code looks correct to me, and to answer your other question:

You don't need to create an I2c every time, as you are allowed to have more than one at the same time. Are you sure this device is connected correctly and in the correct address? In order to quickly test if this is the problem, run the following command from your terminal window: `i2cdet

[2019-11-11 20:05] joperezr commented on #835
cc: @richlander

Hey @ethos-tim thanks for logging this issue. We do agree that it is a great idea to work together in order to better align to that ecosystem. @richlander can probably provide more details about this.

[2019-11-12 00:53] clevelandcs opened #846 "Iot.Device.Media does not exist"
**Describe the bug**

I am unable to access Iot.Device.Media and follow the [VideoDevice](https://github.com/dotnet/iot/tree/master/src/devices/Media/VideoDevice) example. I'm working on a senior project using image processing to trigger GPIO signals on a Raspberry Pi 3/4 using still images captured from USB webcams GPIO library is working great but @ZhangGaoxing 's PR merged on Sept 30th which lo

[2019-11-12 10:06] Frankenslag commented on #767
Closing this as now merged.

[2019-11-12 18:02] #767 closed

[2019-11-12 20:42] Frankenslag commented on #841
@nahueltaibo
How fast are you turning the encoder or more specially how many pulses per second are you seeing approx.

[2019-11-13 00:33] krwq commented on #846
@clevelandcs I think we might have locked the branch before it was merged. Note I cannot see it anywhere in here:
https://github.com/dotnet/iot/tree/release/3.0/src/devices

In order to use it I'd recommend using these Nuget feeds:
https://github.com/dotnet/iot#net-cli

[2019-11-13 00:42] krwq commented on #844
@acarlonvs I think the logic is correct (AFAIR I have tested this). Note that once you reverse polarity then you expect 0.2 time to be spent "high" which is equivalent to 0.8.

Can you show me how is your DC Motor connected?

This specific setup expects that both pins directly control the value of the voltage (i.e. 1, 0 will turn it in one direction and 0, 1 in other)

[2019-11-13 07:19] tshaug commented on #832
Hi **@joperezr** thanks you for your feedback.

I have executed i2detect 1:
pi@ThomasRaspPi:~ $ i2cdetect 1
WARNING! This program can confuse your I2C bus, cause data loss and worse!
I will probe file /dev/i2c-1.
I will probe address range 0x03-0x77.
Continue? [Y/n] Y
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- --

[2019-11-13 14:29] nahueltaibo commented on #841
@Frankenslag, @krwq  I am using [this motor from aliexpress](https://www.aliexpress.com/item/32826765244.html?spm=a2g0s.9042311.0.0.27424c4dFdbxjQ) for testing.

It rotates at 100 rpm, and the encoder has 11 ticks per rotation. It has a reduction of 1:75.
I am not sure if the encoder is attached before of after the reduction.

For the tests I was rotating it manually though, so it was a lot slower

[2019-11-13 15:29] Frankenslag commented on #841
@nahueltaibo

At first glance the loop that polls and waits for an event will be able to be triggered a maximum of 1000 time a second because of the delay in Thread.Sleep(1). However if I look at [this](https://social.msdn.microsoft.com/Forums/vstudio/en-US/facc2b57-9a27-4049-bb32-ef093fbf4c29/threadsleep1-sleeps-for-156-ms?forum=clr) then I see that you might only get 64 triggers a second because

[2019-11-13 16:51] joperezr commented on #832
And so I suppose that in your code, the variable i2cAddress is set to either `0x5a` or `0x76`?

Do you have other i2c devices that you can try on the same bus just to make sure that this is not a problem with your bus? (the fact that you have tested in multiple RPis makes me think this is not the problem)

@ZhangGaoxing would you know what might be going on? this sounds like something with the bin

[2019-11-13 17:10] jmork commented on #760
The problem is that the library seems to have been rewritten to use async, but the samples have not been updated accordingly

[2019-11-13 17:47] joperezr commented on #760
Reopening to track the fix of the samples to  use async instead.

[2019-11-13 19:17] scout208 opened #849 "Can't run Mcp25xxx sample on win-x64"
Trying to build and run the device sample for Mcp25xxx located in src\devices\Mcp25xxx\samples on a 64-bit Windows 10 computer gives the following output:

[code]

This is the device I'm using to run and build the sample project:

[code]

The MCP2515 device is connected to this computer over SPI.

[2019-11-13 20:37] pgrawehr commented on #849
This doesn't look right if running on Windows:
[code]
It looks like you built the wrong configuration.
(Out of curiosity: What hardware do you use to add an SPI bus to a Windows PC?)

[2019-11-13 20:56] scout208 commented on #849
Yeah, I didn't think that looked right either. I know I specified the runtime to be win-x64 so I don't understand why it would be using the unix version of SpiDevice.

I'm using the Up board from Aaeon with Windows 10 installed (https://up-board.org/).

[2019-11-13 21:29] krwq commented on #849
cc: @joperezr any clues? When I `dotnet publish -r win-x64` or `win10-x64` I'm getting right assets on my box but I don't have any x64 box which has SPI

@scout208 can you try self-contained app and see if it still repros? (`dotnet publish -r ...` and run the exe)

[2019-11-13 21:44] scout208 commented on #849
I decided to switch over and try it on a raspberry pi 3 model b with windows iot core to see if it would work there by publishing as win-arm and got the same result when I tried to run it there:

[code]

That was running as a self-contained app there. Do you have a Raspberry Pi you can test on?

[2019-11-13 21:47] krwq commented on #849
Per my offline conversation @joperezr - when running the sample on Windows try copy pasting the sample outside of the repo and make it depend on the nuget packages instead of project to project references (we have some weirdness in the repo where only Linux works)

[2019-11-13 21:49] krwq commented on #849
The weirdness: https://github.com/dotnet/iot/blob/master/src/devices/Mcp25xxx/samples/Mcp25xxx.Samples.csproj#L12

another thing is I'm not sure what's the status of Mcp25xxx binding (cc: @shaggygi). I'd recommend using Linux with [SocketCan](https://github.com/dotnet/iot/tree/master/src/devices/SocketCan) since this was more tested

[2019-11-13 21:50] joperezr commented on #849
Specifically the problem is here:

https://github.com/dotnet/iot/blob/bd993d8d2e0919a6e9e41ce6e3b968fede35aa42/src/devices/Mcp25xxx/samples/Mcp25xxx.Samples.csproj#L11-L13

If you see we are passing in manually the Runtime Identifier. If you locally make the following changes, everything should work:

[code]

That will make the right assets to get copied over to the output folder.

[2019-11-14 04:31] JodyPetroni opened #850 "DhtSensor DhtType.Dht11 always returns NaN on .net core running a GrovePi+ on a Rasbperry Pi 2B+ with Rasbpian OS"
I am trying to get the temperature and humidity sensor working on .net core running a GrovePi+ on a Rasbperry Pi with Rasbpian OS. This code always produces NaN output.

[code]

output is

[code]

[2019-11-14 13:37] ZhangGaoxing commented on #832
MLX90614 default I2C address is `0x5A`. And it seems that i2cdetect has detected the corresponding address. Is your I2cDevice parameter set correctly?

[2019-11-14 13:42] ZhangGaoxing commented on #832
Oh, I see. MLX90614  is an SMBus device. Try this to set up your Raspberry Pi <https://www.raspberrypi.org/forums/viewtopic.php?f=44&t=15840&sid=8c2fff5ce4395676800b4587f2a71b4e&start=25>
I mentioned this in #452

[2019-11-16 14:59] pgrawehr commented on #813
Here's the required udev file, ready for copy-pasting:
https://github.com/raspberrypi/linux/issues/1983.
They even implemented a kernel fix to make this work, but
why the file (or the file change) itself is not part of the
kernel, I don't know.
Now testing.

[2019-11-18 21:16] krwq commented on #813
@pgrawehr btw. the files from this repo are GPL v2 which is not compatible with MIT which this repo is in

[2019-11-19 15:35] kurianov-pavel commented on #850
@JodyPetroni Try to use something like that
`
var dht11 = new Dht11(YOUR_PIN, PinNumberingScheme.Logical);

                if (!dht11.IsLastReadSuccessful)
                    return result;

                result.Data = new DthData
                {
                    Humidity = dht11.Humidity,
                    Temperature = dht11.Temperature.Celsius
                };
                resul

[2019-11-19 23:29] DanielSSilva commented on #214
While trying to migrate [PowerShell/IoT](https://github.com/PowerShell/PowerShell-IoT) to use System.Devices.Gpio library instead of the current Unosquare.Raspberry.IO, I've stumbled across the following: the Unosquare API allows you to specify which register do you want to read/write from/to ([this](https://github.com/unosquare/raspberryio/blob/master/src/Unosquare.RaspberryIO.Abstractions/II2CDe

[2019-11-19 23:52] JodyPetroni commented on #850
alas same result

[2019-11-20 00:24] joperezr commented on #214
Hey @DanielSSilva, you are correct in the fact that I2c devices have registers which are the ones you usually have to read/write to. The thing is that in the I2c protocol, there is no defined way of how to read or write to a register, all you can do is to write something into the i2c bus, or read something in the i2c bus. Most of all I2c devices out there, use this way for reading and writing regi

[2019-11-20 08:53] kurianov-pavel commented on #850
Do you use it?

` using (GpioController controller = new GpioController(PinNumberingScheme.Logical))
            {YOUR_GPIO_CODE}`

[2019-11-20 09:19] DanielSSilva commented on #214
Thank you very much @joperezr ! It now makes much more sense. I will try to implement it and come back if I have any questions 😄

[2019-11-20 09:24] JodyPetroni commented on #850
I don’t follow. What do I do with controller?

[2019-11-20 12:45] tshaug commented on #832
Hi @ZhangGaoxing
sorry for the late reply.
thank you for your explanation. I will check the provided links. And test with my RaspPis

Cheers
Thomas

[2019-11-20 12:53] pgrawehr commented on #214
@DanielSSilva : Maybe have a look at https://github.com/pgrawehr/raspberryio/tree/NewLowLevelImplementation/src/Unosquare.RaspberryIO.LowLevel. I have made a start writing a wrapper for Unosquare to this library. There you should see how to map the different I2C functions to each other.

[2019-11-20 13:32] tshaug commented on #832
HI @ZhangGaoxing ,

I looked into the post and also at my RaspPi:
![image](https://user-images.githubusercontent.com/8625016/69242534-557b3700-0ba1-11ea-87c1-b58b5d56f462.png)

To me it seems that my Raspi has a bmc2835, which does not understand the mentioned combine file.

Is my understanding of #452 correct that with bmc2835 I don't need to configure anything specific? and the sensor binding sh

[2019-11-20 14:23] kurianov-pavel commented on #850
Something like this
[code]

[2019-11-20 16:41] joperezr commented on #214
We have a lot of examples of ReadRegister for devices in this repo, for example:

https://github.com/dotnet/iot/blob/2440c17a6a1ba274b250ac5863bccae7f2ecc084/src/devices/Ak8963/Ak8963I2c.cs#L15-L25

[2019-11-20 16:50] joperezr commented on #850
you don't need a GpioController. The code that @JodyPetroni has looks correct to me and matches the sample we have for the GrovePi. The only thing that doesn't match the sample is the GrovePi Digital Pin, are you sure you have everything wired up correctly? Here is what the sample code has:

https://github.com/dotnet/iot/blob/f92c6fcf4dcedaa5911c5ab8b0d3ff6ad0856881/src/devices/GrovePi/samples/Pro

[2019-11-21 12:33] pgrawehr opened #857 "Support setting the GPIO Pin mode to ALT(n) on the Raspi"
The mode of each GPIO Pin can be set to IN, OUT or up to 5 alternate modes (ALT0-ALT5). For instance, BCM Pin 12 can be set to IN, OUT, PWM0 (ALT0), SMI (ALT1), DPI (ALT2), AVEOUT (ALT3), AVEIN (ALT4) or JTAG TMS (ALT5). See the BCM Chip reference documentation or https://pinout.xyz/ for the alternate functions of each pin. Note that this page was not yet updated for the PI4, which has even more a

[2019-11-21 20:56] krwq commented on #857
@pgrawehr I actually think of GPIO as pure input/output with or without pull up/down.

The alternative functions should not be exposed directly IMO. Rather than that I think GpioController should have something like:

`PwmChannel CreatePwmChannel(int pin)`/`IEnumerable<int> GetPwmPinsWithHardwareSupport` and similar for other functions which will set the mode to the correct alternative form under

[2019-11-21 21:02] mringl opened #860 "hcsr04 not working"
I've a problem running the HCSR04 device on a Pi3 with dotnet core 3.1 preview 2.
I'll never get out of the first while(_controller.Read(_echo) == PinValue.Low)
If I read from _echo after _controller.Write(_trigger, PinValue.High); everything works fine.

I've also confirmed my setup via a python script which works correctly.

[2019-11-21 21:05] JodyPetroni commented on #850
@joperezr @Ellerbach I tried all Digital Pins with same result. I have also tried the python code and it works as expected.

[2019-11-22 00:17] krwq commented on #860
Thanks for the report. Can you try running the same code as sudo and see if still repros? Also do you have libgpiod installed?

I think except for fixing the issue we should also add a protection against endless looping here.

@joperezr this is another place where it would be useful to know which GpioDriver does the GpioController use since this is really hard to diagnose otherwise

[2019-11-22 00:28] krwq commented on #850
@JodyPetroni can you try running python GrovePi example as a sanity check? Also try running the same app just after you tried Python (I recall seeing issue in the past that something had to be installed from there to get this to work in .NET) - if that will fix it we should take a deeper look on what exactly is being installed and if we can permanently fix that

[2019-11-22 00:56] JodyPetroni commented on #850
I ran the python code and it worked
then ran .net code and it didnt
`dotnet build --runtime linux-arm
dotnet run --runtime linux-arm`

[2019-11-22 07:01] pgrawehr commented on #857
@krwq That's a feasible option, however it would still need an update of the PinMode enum I think, because `GetPinMode` needs to return something meaningful if the pin is in one of the Alt modes (even if it's just `PinMode.Other` or something).

[2019-11-22 18:20] DanielSSilva opened #863 "Platform not supported exception if using PowerShell Import-Module"
I have a C# DLL that has the `System.Device.Gpio Version="1.0.0"` and I want to use it with PowerShell, through Import-Module. Upon importing the DLL, if I try to create an I2cConnectSettings object, I get an exception saying that `Operation is not supported on this platform`.
On the same project, I've created the Main method that does exactly the same. If I run `dotnet donetIot_test.dll` the code

[2019-11-22 18:21] DanielSSilva commented on #863
Not sure if this helps to understand
![Screen Shot 2019-11-20 at 19 17 32 (2)](https://user-images.githubusercontent.com/6862119/69450328-cf9fed00-0d54-11ea-9d0e-912ae4700625.png)

[2019-11-22 19:04] krwq commented on #857
@pgrawehr `Other` or similar sounds reasonable to me. But let's wait until we have more opinions/upvotes here before we implement it.

[2019-11-22 19:06] joperezr commented on #863
We would need more info in order to investigate this (like callstack, or the way you published the app), have you tried breaking this up in a debugger? The reason why I believe this is happening is because we have 3 different implementations for the library, one is for windows, one is for linux, and the other one is platform-agnostic which just throws platform not supported exception. I believe th

[2019-11-22 19:08] joperezr commented on #863
sorry just noticed that you are actually running on a raspberry pi, not in Windows, so what you want for a publish command is this: `dotnet publish -r linux-arm` This will make sure that we only publish the linux implementation so hopefully that should just work

[2019-11-22 19:22] DanielSSilva commented on #863
Yes! That was exactly the problem!
Since I saw the `runtimes` inside the publish folder, I didn't even try to compile with the Linux as runtime.
![image](https://user-images.githubusercontent.com/6862119/69454166-725c6980-0d5d-11ea-8f50-6d7054cb1914.png)

[2019-11-22 20:53] joperezr commented on #863
Closing as the issue seems to be resolved.

[2019-11-22 20:53] #863 closed

[2019-11-22 20:55] krwq commented on #850
@JodyPetroni can you try running as sudo? If still doesn't work then this should be taken closer look at

[2019-11-23 18:36] mringl commented on #860
Hi, sudo doesn't help, I've also now libgpiod installed but no luck.
I've also tried to use the _controller.WaitForEvent method instead of the loop, no luck.
By the way it is a Rasp 2 B not 3

[2019-11-24 20:40] pgrawehr commented on #832
I have seen this error now also once, while reading from the I2C bus (from an ADS1115, to be precise) at a high frequency. Looks a bit like this error can happen if reading very quickly from the bus. I don't have a way of forcibly reproducing it yet, but I might try later.

[2019-11-24 21:30] JodyPetroni commented on #850
![image](https://user-images.githubusercontent.com/18605051/69501925-c03fc000-0f5d-11ea-9f3f-5619795d2427.png)

[2019-11-25 16:04] tshaug commented on #832
Hi Patrick,

thanks for the info.
at the moment I am reading every 5 seconds.  At which frequency are you reading from the bus?

cheers
Thomas

[2019-11-25 16:09] pgrawehr commented on #832
When it happened, I was reading a short value with at least 1kHz. But it happened only once, and I was trying even higher read rates.

[2019-11-25 16:10] tshaug commented on #832
interesting...

[2019-11-25 19:16] gingters opened #867 "libhostfxr.so could not be found on Raspberry Pi"
**Describe the bug**

On a Raspberry Pi I added the System.Device.Iot and Iot.Device.Bindings libs to an empty .net core 3 console application to display text on an I2C LCD display.

Running the program resulted in an err "A fatal error occurred. The required library libhostfxr.so could not be found."

**Steps to reproduce**

On a Raspberry Pi 3 Model B+ with latest Raspbian install .NET Core SDK

[2019-11-25 20:56] krwq commented on #867
@gingters how did you run the app? `dotnet run` or `dotnet publish -r linux-arm` + running produced exe?

[2019-11-25 21:08] gingters commented on #867
I'm using `dotnet run`, as I'm on the Pi itself.

I think I figured it out partially though. When I SSH into the Pi using putty and run it, I get different errors about not implemented methods, but the so can be loaded.

When I use VS Code to remote-ssh into the Pi, and use `dotnet run` from the VS Code terminal, it doesn't work.

For whatever reasons, `printenv` shows that the `DOTNET_ROOT` envir

[2019-11-25 23:03] #715 closed

[2019-11-26 06:57] forki commented on #175
What's the status of MFRC522?

[2019-11-26 08:12] gingters commented on #867
Didn't figure it out. No matter how often I closed vs code and reconnected the remote server, the environment variable was not set. After a reboot of the Pi it worked, as the variable was then set.
Sorry to bother you.

[2019-11-26 08:12] #867 closed

[2019-11-26 15:48] Ellerbach commented on #175
I did spend quite some time and decided to stop as I didn't even manage to make it working correctly on an Arduino with the official libraries and the basic examples. Authentication failed on all my cards even specifying correct keys. I bought 2 different hardware and I have the same issue on both hardware, so very unlikely that both are defective. This hardware is very limited anyway.
That said,

[2019-11-26 15:50] Ellerbach commented on #850
I will try as soon as I can to check.

[2019-11-26 16:14] krwq commented on #832
@pgrawehr, @tshaug any chance you can try out running i.e. in a loop outside/inside of the using statement and see if there is something you can make to repro this?

Perhaps there are some docs which can explain when can this fail or we could add some diagnostics to help us figure out if this is something we do incorrectly or i.e. driver issue.

[2019-11-26 16:20] Ellerbach commented on #850
So just checked the code and it's working all good for me:
![image](https://user-images.githubusercontent.com/8145578/69650812-721ae180-106f-11ea-87d7-e5e7a482022d.png)

I've been using the example code that Jose pointed out: https://github.com/dotnet/iot/issues/850#issuecomment-556095669
I removed all the sensors I'm not using. See below the code.

Here is the hardware setup:
![image](https://use

[2019-11-26 16:25] pgrawehr commented on #832
Will do, but I'll probably only find time on Saturday. It's of course possible that this error 121 just happens occasionally when a transmission error occurs, since the exact same error happens if you just disconnect one of the I2C wires.

[2019-11-26 16:29] Ellerbach commented on #850
@JodyPetroni I will update the firmware to the 1.4.0 version as well and test with this version. For compatibility reason, I've been using the 1.2.2 to make sure all is working even with older versions.
That said the DHT code seems not to have changed over time. I'll let you know the result as well

[2019-11-26 17:24] Ellerbach commented on #850
@JodyPetroni after upgrading to 1.4.0, it seems than DHT sensor is not working and has the same behavior as you describe. I will investigate to correct the issue. If you have an urgent need, please downgrade to version 1.2.2 which is for sure working. I've tested as well with 1.2.7 and it's working.
Thanks for your tests and your patience.

[2019-11-26 18:25] Ellerbach commented on #850
@JodyPetroni, so I found the issue and it's related to the way the DHT sensor is managed now on this new firmware.

You can use this code the time I make a proper PR to fix this in the main repos and the time a new binding is available:
[code]

Here is the result:
![image](https://user-images.githubusercontent.com/8145578/69661237-53721600-1082-11ea-9443-01332d4c563b.png)

[2019-11-26 21:00] JodyPetroni commented on #850
Thanks will update with your code - should the write command be to pin7 and not pin4?

[2019-11-26 21:16] JodyPetroni commented on #850
Hi I can confirm above code change works after changing pin4 to pin7 (where the sensor is attached to pin 7 in my case)

[2019-11-26 22:39] krwq commented on #867
@gingters I think if you somehow get a consistent repro it might be beneficial for community to report the issue on the vscode repo. Without repro though I'm not expecting this will get fixed though

[2019-11-26 22:50] krwq commented on #832
@pgrawehr that's possible - no hurry since this doesn't seem to be consistently broken and rather occasionally fails. If you find that this is just transmission error we need to figure out what happens with corrupted frame and if this is something we should be retrying on our side (only if it's safe to retry) or let the error bubble up and let the user should decide

[2019-11-26 23:09] krwq commented on #860
interesting, it could be related to Raspberry Pi 2, we might be using different driver (sysfs).

The eventing is kinda broken on sysfs driver (we currently are not sure if it's possible to fix it). We might be able to fixup the RaspberryPi3 driver though to work with RPi2. I'm surprised installing libgpiod hasn't fixed it, this is something we should look into.

One more thing to try: can you crea

[2019-11-26 23:12] krwq commented on #846
@clevelandcs I'm closing the issue since we are unlikely to port this device to 1.0 at this point and you can use the prerelease nuget feeds to unblock yourself. Feel free to open/comment if you have any more questions here.

[2019-11-26 23:12] #846 closed

[2019-11-26 23:34] krwq commented on #809
I agree that current class hierarchy is a bit problematic and not sure at this point how this will scale out in the future. As for `CheckDriverIsCompatible` - I'm not sure this is a good idea - I can imagine a driver where giving the answer is not possible and throwing exception or returning in such method would be inapropriate/incorrect.

Long term I'd like to see board not differ much to any oth

[2019-11-26 23:39] krwq commented on #849
@scout208 I think the Mcp25xxx is not fully finished yet at least looking at the sample: https://github.com/dotnet/iot/blob/master/src/devices/Mcp25xxx/samples/Mcp25xxx.Sample.cs
I also recall this device was rather complicated so we decided to merge working part (reading registers etc and incrementally fix it in the future)

As I mentioned above use SocketCan instead for now (Linux required) whic

[2019-11-26 23:44] krwq commented on #776
@pawelpetruch not trying to rush or anything - have you perhaps had a chance to look at this yet? This is currently not actionable on our side

[2019-11-26 23:54] krwq commented on #63
@shaggygi now that we have device listing how do you feel about this issue? Do you think we should still change this structure? I still hasn't come up with anything better than we have already so I'm a little bit leaning toward closing this since we don't have any clear plan forward.

[2019-11-27 00:00] shaggygi commented on #63
@krwq I think the list should work for now.  Your script seems to do a good job on listing/displaying data.  I'll close for now, but could see the topic arising again as many bindings become available.  Thx

[2019-11-27 00:00] #63 closed

[2019-11-27 00:01] krwq opened #869 "Units (humidity, distance)"
Since we have experimentally added Temperature I haven't seen anyone complaining about this and I also personally find it very convenient. Since then we have added also Pressure and it also seems convenient.

I think we should make a step forward and add couple more units to avoid (or reduce consequences) breaking changes in the future:
- distance
- humidity (RH, with perhaps some utils for absolu

[2019-11-27 07:11] krwq commented on #63
agreed, if this becomes a problem again then let's reopen or recreate this issue

[2019-11-27 07:35] pgrawehr commented on #809
@krwq : I think that approach is probably a good idea, as it would also allow solutions for problems such as #857, where creating a device (i.e. a PWM channel) requires configuration of some other device (gpio pins in this case). It could also support error checking, such that one cannot open the I2C bus and the respective GPIO pins at the same time.

Also, this allows creating a board object and

[2019-11-27 07:42] pgrawehr commented on #869
Since we have also PR #679 which reads NMEA sequences, what about speed, position and angles / direction?
Another unit that is commonly used with environmental sensors attached to a Pi is PPM (parts per million) for concentration of gases or air quality.

[2019-11-27 08:15] krwq commented on #869
I'm not sure about derivatives or multidimensional values yet but angles I think is a good idea

[2019-11-27 16:47] Ellerbach commented on #850
@JodyPetroni thanks for the confirmation. I expect to work on a PR fix next week. You'll be able to use better code than the one posted here. But in the mean time, depending on what you need to do, that should work fine.

[2019-11-27 17:17] Ellerbach commented on #869
Yes, distance would be a great one for sure. To make easy the international to non international units also take correctly in consideration the multiple elements for the international one (cm, m, km, etc).

Yes as well, for both relative, absolute ans specific (see https://en.wikipedia.org/wiki/Humidity).

I guess issue is more about using the same units than the Vector3 (and 4) which are perfect

[2019-11-27 18:57] krwq commented on #869
@Ellerbach the only thing for units as Speed/Velocity/Acceleration is that speed can be anywhere from 1 to 3 dimensional depending on context which I'm not sure how would that be abstracted so being conservative I think we should give it more thought (unless everyone is happy with Position, Position2, Position3, Velocity, Velocity2, Velocity3, Acceleration, Acceleration2, Acceleration3)

[2019-11-27 18:59] shaggygi commented on #869
Referencing....

https://www.ccontrols.com/pdf/BACnet_Units.pdf

https://project-haystack.org/doc/Units

[2019-11-28 07:48] pgrawehr commented on #869
Looking at shaggygi's list: General question is whether we need special types for units that are common, but generally use the same unit everywhere (i.e. Voltage, Current, Power).

@Ellerbach Yes, I was talking about terrestrial position, expressed as latitude, longitude and altitude. This should be a separate object, as it prevents lots of errors with i.e. exchange of latitude and longitude (seen

[2019-11-28 08:44] Ellerbach commented on #869
I understand the point, so maybe yes, not in priority 1 and I'm happy with Position, Position 2, Position 3, etc. Again, agree we should wait then for this one.
Also, we may have to implement Kalman filters and other filters for those elements. They are must used in any robotic project. They are used to integrate and treat the accelerometer, compass and magnetometer.

OK, got the point. So then it

[2019-11-28 09:14] pgrawehr commented on #869
These operations (i.e. greater circle distance between two points) are complex mathematical operations. There are algorithms (and also implementations) for that, but we'll have to check whether there's one with a compatible license. But that's an implementation detail, not exactly relevant for what we _want_.

[2019-12-01 20:37] krwq opened #874 "Running SysFsDriverTests or RaspberryPiDriverTests causes PWM to be unusable"
After running SysFsDriverTests or RaspberryPiDriverTests PWM no longer works.

I have 100% repro: If I run PWM tests in a loop or run LibGpiodDriverTests everything works without any issues.
If I run SysFS or RPI3 GPIO tests once after that PWM becomes completely unusable and stops reacting to any changes (regardless if using PWM manually through `/sys/class/pwm/` or our APIs) - PI has to be reboo

[2019-12-01 20:48] pgrawehr commented on #874
The reason for your problem is #857. You need to reset the pin to PWM mode after some other test has set it to in or out.

[2019-12-01 23:56] krwq commented on #874
@pgrawehr possible but I don't believe any of these drivers should be even touching PWM pin...

[2019-12-02 00:33] krwq commented on #874
actually seems they do touch it...

[2019-12-02 00:37] krwq commented on #874
Hmm.. I'm kinda leaning toward not allowing to open any pins which have mode set to something which we do not understand to avoid similar problems in the future... @pgrawehr - that should at least prevent the problems like this since they are really weird to debug

[2019-12-02 07:38] pgrawehr commented on #874
@krwq I wouldn't completely disallow it, but make sure they are not opened in different modes at the same time. Otherwise, you would still not be able to open a pin in PWM mode if another application has set it to Output.
In either case, I think that comes down to the "Board" approach you mentioned in https://github.com/dotnet/iot/issues/809#issuecomment-558862627, since only then we have a common

[2019-12-02 18:56] krwq commented on #874
Yes, other thing I'm considering is perhaps let user decide what to do on dispose, i.e.:

`gpioController.OpenPin(18, PinMode.Output, XYZ.RestorePreviousMode);` // XYZ.DoNotClose, XYZ.DontCare

[2019-12-02 19:09] shaggygi commented on #616
Referencing... https://devblogs.microsoft.com/dotnet/embracing-nullable-reference-types/

[2019-12-02 19:10] safern commented on #616
We also have these guidelines for .NET Core libraries: https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/api-guidelines/nullability.md

Plus here is our tracking issue to annotate all of the shared framework: https://github.com/dotnet/corefx/issues/40623

[2019-12-02 19:42] krwq commented on #616
I think we should wait with this work until framework is done annotating but I'm fine with merging if anyone is willing to contribute earlier since the major stuff affecting us is mostly done already

[2019-12-03 08:04] pgrawehr commented on #874
I didn't encounter this scenario, but I think you're right. Not sure whether the XYZ parameter should be given on `Open()` or `Close()` though.

[2019-12-03 23:28] #811 closed

[2019-12-04 18:03] #757 closed

[2019-12-04 18:16] krwq commented on #857
As per discussion in the other thread this issue should have some follow up work since in some cases as in #874 lack of this is causing PWM to become unusable: setup one of the pins as PWM through /boot/config.txt and then using SysFs or RaspberryPiDriver change pin to input/output. Driver is not aware of the mode change and that effectively causes PWM to not work.

We should have some options of

[2019-12-04 19:48] pgrawehr commented on #857
I think the "Board" approach would solve most of the issues we have.

Let's create a class hierarchy with a base class like:
[code]
Then the specific Create Method can "allocate" the pin for the given service and also make sure that it is set to the proper mode. For full verification, the desired pin needs to be provided, because sometimes, the same device can be linked to several different pins (

[2019-12-04 20:01] krwq commented on #857
@pgrawehr I'm not sure abstracting this will always work. Note that some boards will have thermometers (most will likely have some sort of CPU thermometer), some might have different kinds of sensors, some might have ADC/DAC, some won't. I kinda think of board as being rather unique but each of them providing certain set of capabilities or devices/subdevices. Each board can be designed completely

[2019-12-04 20:24] krwq opened #878 "Hardware abstraction - design conversation"
Moving side conversation from #857
https://github.com/dotnet/iot/issues/857#issuecomment-557268367
https://github.com/dotnet/iot/issues/857#issuecomment-561810527
Related: #874

This issue is created to talk about abstraction of hardware in some reasonable way. See above issue (at minimum comments above) to get some background on the problems and possible solution.

This is a very early and initia

[2019-12-04 20:53] krwq commented on #874
@pgrawehr IMO Open because:
- Dispose auto-calls Close which would make it easier to use without having to close pins manually
- Implementation has less work in cases where it doesn't have to do anything (doesn't have to read back the mode etc)

[2019-12-04 21:20] pgrawehr commented on #878
Additional points:
- Some devices fight for the same pins (i.e. PWM and GPIO, SPI and GPIO), but the library has currently no way of detecting that (and the hardware often also doesn't know it, some commands will just send data to the void)
- the same logical device may be routed to different pins
A good solution should also come up with a generic approach of detecting the hardware (or offer conne

[2019-12-05 07:11] pgrawehr commented on #874
That sounds reasonable. Wouldn't prevent to have it on Close(), too (to explicitly do something else).

[2019-12-05 08:06] pgrawehr commented on #878
Some devices may support features we haven't even considered yet, such as `AnalogRead()` on an Arduino board.

- Should be able to add new protocols/device types without to much API changes.

Of course an API that is designed like i.e. WMI, where all method names/parameters are passed as string arrays, would be the most flexible, but also the most error-prone and difficult to use.

[2019-12-05 09:51] Ellerbach commented on #878
And you can add on top specific hat like [GovePi ](https://github.com/dotnet/iot/tree/master/src/devices/GrovePi)or [GoPiGo3](https://github.com/dotnet/iot/tree/master/src/devices/GoPiGo3) which add their own I2C or provide their own GPIO where you connect sensors on them. Great example is GovePi. Every sensor you connect for the basic digital ones are working the same way as a generic GPIO contro

[2019-12-05 10:32] pgrawehr commented on #878
Looks like we need some kind of abstract connection entity. I.e. we want to use the same code for accessing a DHT sensor, whether it's directly connected to the Pi, uses a GroovePi, an attached SPI GPIO expander or a remote Arduino. Tunnelling connections trough other devices should be transparent.

[2019-12-05 16:27] Ellerbach commented on #878
Yes, where it is possible. In the example of the DHT sensor attached to GrovePi, all is done into the GRovePi, you just get back the temp and humidity. And the way to call it is very different from the other cases.
Now, if we plug a DHT and don't want to use the feature that is avaible thru the GRovePi, yes, we want the various actions to happen in a transparent way.
My guess now I've been impleme

[2019-12-05 18:05] pgrawehr commented on #878
The DHT is an example of a device that has very different ways of connecting to it, although the relevant data is very small (just two words from each read operation). One can:

- Attach it to a GroovePi
- Use 1-wire bus to talk to it (I think there's a sysfs driver for that, but I haven't seen that in use)
- Emulate 1-wire bus using software (that's what the current DHTxx classes do)
- Use I2C (o

[2019-12-05 18:11] krwq commented on #874
@pgrawehr not sure how would that work/give if we don't add other modes that you suggested in the other issues (perhaps we should consider that as an option). We won't be able to restore to previous unless we explicitly store it before

[2019-12-05 19:57] pgrawehr commented on #874
@krwq True, but if we offer to restore the previous mode, we need to be able to store it anyway. (unless we just throw if the previous mode was unknown and RestoreToPrevious was selected, but that's pretty useless then) Without adding the list of modes, we would only be able to force it into a specific one, but not necessarily restore to something unknown.

This doesn't necessarily mean that the e

[2019-12-06 15:24] shaggygi commented on #878
Referencing... #125, #215

[2019-12-06 20:16] pgrawehr opened #881 "Debug builds don't declare DEBUG define"
**Describe the bug**
If I add the following to a .cs file in the System.Device.Gpio project and build a debug configuration (Linux-Debug or Windows-Debug) the wrong line is ignored:
[code]

**Steps to reproduce**
Add the above to a cs file and compile in debug mode (either in VS 2019 or on the command line using `dotnet build -c "Linux-Debug" System.Device.Gpio.sln`

**Expected behavior**
The buil

[2019-12-06 20:54] pgrawehr commented on #881
One way of solving it is by adding something like
[code]

To Directory.Build.props, but I think that should be part of the default build scripts.

[2019-12-08 12:48] pgrawehr commented on #869
I think we should also have types (or at least an enum) for one-dimensional values, such as Temperature (exists already), Voltage, Power, etc. This will allow a common formatting method, that converts measurements to strings with units, including a readable scaling (i.e. to mA or kV). We could even provide some operations on these units (i.e. voltage times current equals power).

[2019-12-09 04:43] asasine commented on #215
I started using this library expecting a much more `IGpioPin` approach. I was surprised with how C-like it was and ended up writing my own simple abstraction for LEDs and buttons that takes in a `GpioController` in the constructor and opens/closes the pin as appropriate. It has simple methods to read values (for a button/input) and write values (for an LED/output). It's not perfect but I found it

[2019-12-09 10:21] ClementG-63 opened #882 "Color Sensor's code not working"
Each mode of the ColorSensorMode is not working except the mode "Color".
RGB, Reflexion, Ambient are giving None and value equals 0.

[code]

**Expected behavior**

That's testing each mode, if 0 given : swap mode.
Result :
None
0%
Mode changedReflection
None
0%
Mode changedGreen
None
0%
Mode changedBlue
None
0%
Mode changedRed
None
0%
Mode changedColor
Brown
7% (not percentage)

Last Version Used

[2019-12-09 16:44] Ellerbach commented on #878
GroovePi can implement a GpioController class. That's totally possible. But for this case, as the DHT processing is done into the controller itself, using the potential GpioController for it will be much less efficient than using the embedded function.
You can see GrovePi as a remote Arduino, it's about the same for the basic functions. Then you have advanced one like DHT and few others. It's clea

[2019-12-09 16:48] Tragetaschen commented on #324
I would argue that the EINTR part is not nice to have, but quite required:
[code]

I sometimes see this when ending (CTRL+C) my application, which faithfully calls dispose on everything. The SIGINT results in the system call returning EINTR.

https://github.com/dotnet/iot/blob/1.0/src/System.Device.Gpio/System/Device/Gpio/LibgpiodDriverEventHandler.Linux.cs#L59

[2019-12-09 18:16] krwq commented on #878
@Ellerbach in my head GpioController is related to only binary operations and AnalogRead/AnalogWrite is equivalent to PwmChannel and what I think we are lacking is abstraction for "board" (any hardware which composes other pieces of hardware) which would collect all such utilities. Other way we could go about it is to make GpioController a board abstraction and create a separate one for binary GPI

[2019-12-09 18:20] krwq commented on #882
cc: @Ellerbach

[2019-12-09 19:28] joperezr commented on #881
I'm not able to repro this, I just did a diagnostic build of System.Device.Gpio and I can see that DEBUG constant is correctly being passed in:

[code]

As you can see, the build is succesfully setting the following defines: `/define:TRACE;DEBUG;NETSTANDARD;NETSTANDARD2_0`

[2019-12-09 23:48] joperezr commented on #850
@Ellerbach now that your PR is merged I assume that we can go ahead and close this issue?

[2019-12-10 07:12] Ellerbach commented on #850
Sure, it is closed as it's now corrected and merged. Thanks

[2019-12-10 07:18] Ellerbach commented on #882
@ClementG-63, I'll try to see what's happening. As there are few different color sensors, may I ask you to send me a picture of your module?
Also, when changing color mode, you need to allocate some time to the sensor to read the new value.
I don't have access to the hardware right now, at best I can test early next week.

[2019-12-10 07:27] Ellerbach commented on #878
Yes, that's correct, fully agree.

Not realy, an analogic read/write is a tension apply to a pin between 0 and a voltage reference. a PWM is a modulation of frequency where you write 0 or the voltage reference which then emulate a real analogic write.
Analogic read is really about reading a voltage between 0 and a voltage reference.
I would create something similar at GpioController like AnalogCon

[2019-12-10 08:45] pgrawehr commented on #881
@joperezr

- Add the above code snippet to RaspberryPi3Driver.Linux.cs (basically a syntax error in debug mode)
- `cd iot`, then `build`
- This fails, as expected (I didn't check this before)
- `cd src\System.Device.Gpio`, then `dotnet build -c "Linux-Debug" System.Device.Gpio.sln`
- This passes, despite no changes to the code
- Open System.Device.Gpio.sln in Visual Studio, then perform a build in

[2019-12-10 11:25] shaggygi commented on #878
Referencing... #90

RPi doesn't have ADC pins (I believe), but other boards like Beagle Bone Black does.  You could also use AdcController for bindings like [Mcp3xxx](https://github.com/dotnet/iot/tree/master/src/devices/Mcp3xxx).

[2019-12-10 11:32] Ellerbach commented on #878
No, there is no ADC.

Yes, some do. And again with a shield or like with the Mcp3xxx, you get it.

So wroth having one which does standardize all those approaches. That would make life easier to build the associated sensors.

Forgot about this discussion :-) At some point, we may finally have one :-D

[2019-12-10 14:16] gurelsoycaner opened #883 "About A4988 Stepper Motor Driver"
Hi,
Just wondering when A4988 Stepper Motor Driver be available for use with .net core 3.0. as it is almost impossible using "Uln2003 motor component" to drive  A4988 Stepper Motor.

Note: Not with WindowsIOT but Ubuntu Raspberry pi

Thanks in advance.

[2019-12-10 15:03] pgrawehr commented on #816
@krwq: I would like to pick this up and enable it at least for core. (I'll see how far I get). I'll try to come up with a reasonable rule set which requires only minimal changes (and no api changes of course) for now.

Some default rules we obviously break (such as SA1309 - Field names should not begin with underscores - where we go for SX1309 instead, which is just the opposite), but for some I'm

[2019-12-10 18:33] joperezr commented on #881
Oh I see, yeah that makes sense. This is happening only because when you either build through the command line or through VS, you are building the Linux-Debug configuration, which for that one we are not defining the specific constant. The Linux-Debug and Windows-Debug configurations are basically just a convenience configuration that were only created so that development with VS would be easier,

[2019-12-11 01:16] kenssamson opened #884 "TimeEnvelope.IsLastMultiple in example is incorrect."
**Describe the bug**

**IsLastMultiple** should return true when on last increment of the passed value.  However, it returns false.  The current conditions checks if **_time - value == 0**, this will actually return true on the First Multiple. The condition should be **_count - value == _time**.

For example, if _count is set to 1000 and value is 200 then IsLastMultiple should return true when _ti

[2019-12-11 01:42] krwq commented on #816
@pgrawehr yes, you can go ahead with that. Please split rules into 3 parts (add a comment or something so we can pick them up whenever someone feels like doing the work):
- rules we can enable right now with minimal effort
- rules we eventually want
- rules we don't want

[2019-12-11 11:34] pgrawehr commented on #881
With all the low-level dependencies we have, creating just one assembly will be tricky, I think.
No, this isn't really causing any problems for now. I just came across this when I was using the `Debug.Fail` method in #823 and I got a Resharper warning about this call doing nothing.

[2019-12-11 14:18] gurelsoycaner opened #885 "Stepper motor [A4988]"
Hi,

Can I possibly use Pca9685 - I2C PWM Driver to work with STEPPER Motor like A4988?

[2019-12-11 14:27] nahueltaibo commented on #885
I think I can answer that. And it would be yes, using the [MotorHat device binding](https://github.com/dotnet/iot/tree/master/src/devices/MotorHat)... But we need to add the missing support for that.
The [MotorHat](https://www.adafruit.com/product/2348) can control 4 DC motors or **2 stepper motors** and it is based on the PCA9685.

I could add support for that if that is what you need.

[2019-12-11 17:26] joperezr commented on #881
It will take a bit of refactoring work, but we have a plan more or less so we should be able to do it for vNext.

Oh in this case don't trust in Resharper too much since as I said before, MSBuild SDK doesn't allow cross-rid targeting inbox so we had to write some custom targets for this which might confuse VS a bit. In the end when you build with build.cmd, you should see the right defines getting

[2019-12-11 19:07] krwq commented on #885
I haven't had a chance to use A4988 but if it's controlled by PWM then you should be able to use Pca9685 (not sure about MotorHat)

[2019-12-11 21:54] tshaug commented on #832
Hi everybody,
sorry for the late replay (I have been busy demonstration my sensor prototype and code at a .Net conference ;-))
I have found one issue with my software how i am accessing the Mlx90614 temperature values:
        protected override Mlx90614SensorData GetSensorDataInternal()
        {
            Iot.Units.Temperature irtemperature = sensor.ReadObjectTemperature();
            Iot.Uni

[2019-12-12 00:55] krwq commented on #832
@tshaug

Do you mean it failed with error 121 on the transmission level? I'm wondering if this is sensor specific (i.e. still processing previous requests and not giving ACK on the line) or something else

[2019-12-12 01:08] #850 closed

[2019-12-12 01:09] krwq commented on #850
FYI: if you put `Fixes #850` on the first line of the PR description it will auto-close the issue when the PR is merged which makes tracking much easier

[2019-12-12 07:10] pgrawehr commented on #832
When I tried again last week, I ran I2C transfer operations for several hours at a very high rate (basically a ReadValue in an infinite, untimed loop). I was not able to reproduce the problem. So it may really be a sensor-specific issue with a missing ACK or something and so is an intermittent issue.

The question is whether we should internally handle this problem with a few retries or let the us

[2019-12-12 07:35] krwq commented on #832
@pgrawehr we should start with digging in the spec if there is something we can do to handle this gracefully but if there is nothing in there I suggest we dig more into why the tiny delay is making the reading more reliable - perhaps there is some delay which can get us to close to 100% correctness - if still can't get there then retries are ok I guess...

[2019-12-12 07:45] tshaug commented on #832
@pgrawehr: in my option a retry should work (at least I am able to "re-use" the bus/sensor 5 seconds later).
I will test with the following code:

`protected override Mlx90614SensorData GetSensorDataInternal()
        {

            Iot.Units.Temperature irtemperature = sensor.ReadObjectTemperature();

            // I sometimes receive = (zero) values, let add some delay before reading ambient te

[2019-12-12 08:59] pgrawehr commented on #881
Well, yes. But I normally build using VS when I want to debug some code. But as said, it's not a big deal right now, since using of Debug.Fail and similar methods isn't the best concept, anyway.

[2019-12-12 09:00] gurelsoycaner commented on #885
please, I really really need this support.

[2019-12-12 09:43] gurelsoycaner commented on #885
Please I need this support and will be very grateful if you can "add the missing support"

[2019-12-12 19:12] nahueltaibo commented on #885
Hey @krwq  how's the normal way of proceeding with this? should you assign this issue to me? or should I just work on my Fork and then make a pull request when I'm ready for it to be reviewed?

[2019-12-12 20:28] krwq commented on #885
@nahueltaibo as long as it's unassigned and it doesn't have a comment along the lines of "I'll work on this" it can be assumed that no one is working on it. I haven't seen anything explicit you want to pick this up so haven't assigned it but if the issue is related something you have worked on recently you and you have time to fix the issue just make sure everyone knows it's being worked on and yo

[2019-12-12 21:51] nahueltaibo commented on #885
@krwq I see, OK, so: "I'll work on this" :)
Or at least I will be adding Stepper Motor capabilities to the MotorHat device binding I pushed some time ago, that is based on the Pca9685

[2019-12-13 04:11] TobBrandt opened #889 "Scaling of raw values from ADS1115 is incorrect"
**Description**

The Method `Ads1115.RawToVoltage` scales input values incorrectly, when one of the differential input multiplexers (e.g. `AIN0_AIN1`) is selected.
The raw values should always be scaled by 32768, but are scaled by 65535 in these cases instead.

The specification for the device can be found [here](https://www.ti.com/lit/ds/symlink/ads1115.pdf).
The relevant section is 9.5.4:

![201

[2019-12-15 17:34] Ellerbach commented on #882
@ClementG-63 , so I tested the code with my own sensor and I get colors.
The EV3 Color Sensor is this one:
![image](https://user-images.githubusercontent.com/8145578/70866104-ae05e000-1f65-11ea-9ceb-77b277f619b2.png)
This is what I get on a brown surface (wood) when using the "green" mode (the first one with red light) :
EV3 Color Sensor, Raw: 0, ReadASString: 0
Color: None, Red: 32, Green: 2, Blu

[2019-12-16 07:25] ClementG-63 commented on #882
Yes it's this one

[2019-12-16 07:36] Ellerbach commented on #882
In the color mode, it's normal that you get the color. The number is the color number (not a percentage) you get from the Lego EV3 brick itself. If you go to the port and select the mode with color, you'll get this.

[2019-12-16 08:47] tshaug commented on #832
Yesterday I did some extensive testing.
As mentioned I implemented a simple retry mechanism in my Sensor client.
I ran the sensor app and it's client for more than 8 hours:
![image](https://user-images.githubusercontent.com/8625016/70891588-cae2f780-1fe7-11ea-972c-a111c54d1ac5.png)
(object temperature and ambient temperature - The peaks are when I held my hand right before the Mlx90614 sensor)

So

[2019-12-16 16:58] krwq commented on #832
@tshaug, the BME280 error is in fact interesting. I have couple lying around and one of them connected all the time and haven't seen any issue so far.

Do you have both sensors connected to the same PI at the same time? Is it possibly related with them reading/writing at the same time? Wondering if this isn't some I2C threading issue which we should fix on our side

[2019-12-17 19:14] pgrawehr commented on #816
A solution with all the projects can be created automatically using:
[code]
Some further modifications may be required to configure the correct build target afterwards.

[2019-12-19 12:36] ClementG-63 commented on #882
I can’t get the color reflected percentage how you do it?
I plan to do line follower but looking at the project sources I don’t understand how you do to recover this percentage

[2019-12-19 17:58] #889 closed

[2019-12-19 18:20] Ellerbach commented on #882
It's by using the Reflection mode. But seems that there is an issue in the Read() function. I need to submit a fix. I don't have the sensor to test. But if you want to test, clone the project and change the Read function for the following:

[code]

If you don't want to clone the project and make any change, then you can still get the raw value thru the ```ReadTest()``` test function. The values re

[2019-12-19 19:18] pgrawehr commented on #816
With PRs #892, #894, #895, #897, #898, #900, #901, #902, #903 and #904, a basic set of style cop rules was defined and the files fixed (with some exceptions due to potentially breaking API changes).

The rules enabled in https://github.com/dotnet/runtime/blob/master/eng/CodeAnalysis.ruleset are also enabled here (plus some more), but with a few exceptions (note that the ruleset there only mentions

[2019-12-20 08:02] krwq commented on #816
@pgrawehr I think you've already fixed all tabs, right?

[2019-12-20 08:04] pgrawehr commented on #816
Yes, that should be fine. And it's also validated now (I think I even tested that the rule works).

[2019-12-20 08:05] krwq commented on #816
Let me know if we should close this or if you're planning some more work here. For SuppressMessage we can create a separate issue on another occasion

[2019-12-20 08:08] pgrawehr commented on #816
I will do a quick check whether any of the rules mentioned above can be enabled without lots of side effects, but after that, I think we can close it and focus on content again for a while. I guess we should for instance come to a conclusion on the "board" discussion.

[2019-12-20 08:09] pgrawehr commented on #816
But it's good this is done now before the holidays, so if people find time to contribute now, they won't be pushed back by lots of merge conflicts.

[2019-12-20 08:11] krwq commented on #816
@pgrawehr I feel like Board is going to be a longer design conversation :smile: Agreed on holidays although on the other hand it's vacation season for us and I'm soon gonna be on parental leave (I'll likely still be a bit active)

[2019-12-20 08:19] pgrawehr commented on #816
I see. This could cause a bit of a PR backlog then, if you are off and @joperezr is the only one left reviewing. But we'll see. This is vacation season here as well (most offices are closed between xmas and new year), that's why I feel people might have time to contribute.

[2019-12-20 08:22] krwq commented on #816
@pgrawehr I'll likely still review some PRs when I got some spare time but can't promise anything..

[2019-12-23 17:03] DavidKarlas commented on #687
I ran into same problem today, with `GpioDriver` constructor...
If you don't care about what happens on macOs, why did you make tool that injects exceptions?

My use case is... I want to write custom GpioDriver that talks with Arduino(with custom .ino) over serial and expose Arduino pins, so I can do whole logic in C# on Mac/Linux/Windows...

[2019-12-23 17:09] DavidKarlas commented on #687
For anyone who also runs into this issue, do `cp ~/.nuget/packages/system.device.gpio/1.0.0/runtimes/linux/lib/netstandard2.0/* ~/.nuget/packages/system.device.gpio/1.0.0/lib/netstandard2.0/` as workaround and rebuild your project.

[2019-12-24 07:55] Parsakarami opened #916 "Is any way to send command through UART port?"
I want to send my command through the UART port to a module with asp.net core application which is run in Raspbian OS on Raspberry Pi 3.

When I use System.IO.Ports.SerialPort to open the serial port, I got UnathorizedAccessException. Is any way exist for send and receive command with UART port?

[2019-12-24 09:21] krwq commented on #916
1. Make sure to enable UART in raspi-config
2. change permissions of your serial port file so that you can run it as regular user (use udev to auto-change permissions) - as a quick test you can try running your app as sudo

[2019-12-24 11:59] pgrawehr commented on #687
@joperezr Maybe we could include a simulation implementation instead of the NotSupported implementation? In a first version, this would probably just act as a Null device, but could be extended up to something that reads diagrams and simulates them.

[2019-12-27 17:20] olavt opened #917 "System.ArgumentException: Parameters 'writeBuffer' and 'readBuffer' must have the same length"
I wrote a small test program and when running it on a Raspberry PI 3 with a PiFace Digital 2, I get the following exception:

Unhandled exception. System.ArgumentException: Parameters 'writeBuffer' and 'readBuffer' must have the same length.
   at System.Device.Spi.UnixSpiDevice.TransferFullDuplex(ReadOnlySpan`1 writeBuffer, Span`1 readBuffer)
   at Iot.Device.Mcp23xxx.Mcp23xxx.SpiAdapter.Read(Byt

[2019-12-28 12:02] rhuneai commented on #832
I'd like to preface my comment with the fact that I am very new to i2c, raspbian and the MLX90614.

I have seen this issue as well, exactly as described above. When querying very fast to the sensor, the 121 exception is thrown occasionally. I would like to add, however, that I can repro this in Python using the `smbus` library. I don't know how similar this is to System.Device.I2c.

This python sc

[2019-12-29 15:09] Kash0321 commented on #860
Same issue here. Is a Raspberry Pi 3B+ in my case... Tested with Python sensor works properly, but not with .NET Core / .NET IoT

I'd tried your last advice (new GpioController(PinNumberingScheme.Logical, new LibGpiodDriver())) with no luck...

[2019-12-29 15:48] Kash0321 commented on #860
I've found the problem right now, and it isn't a drivers issue... Problem is on Hcsr04 class: https://github.com/dotnet/iot/blob/master/src/devices/Hcsr04/Hcsr04.cs

In line 63, TimeSpan.FromMilliseconds(0.01) returns 0, then, no pulse is sended nor received by the sensor...

            // Trigger input for 10uS to start ranging
            _controller.Write(_trigger, PinValue.High);

[2019-12-29 23:35] SuperJMN opened #918 "Raspberry Pi GPIO pin numbering"
Is there a rule to know with number corresponds to which pin in the GPIO port?

Thanks!

[2019-12-30 08:54] dpsenner commented on #918
I had to test the possibilities just a few hours ago and came to the following findings:

Looking at the [pin board](https://www.raspberrypi.org/documentation/usage/gpio/images/GPIO-Pinout-Diagram-2.png), the following applies:

* PinNumberingScheme.Board pin 11 is equivalent to PinNumberingScheme.Logical pin 17 (GPIO17)
* PinNumberingScheme.Board pin 13 is equivalent to PinNumberingScheme.Logical